[2016-04-27 06:35] nfeske opened #1949 "Remove `Genode::Process` from API"
The `Genode::Process` class was never used in a stand-alone way. We always use it indirectly via the `Genode::Child` class. Also, since we changed our terminology from speaking of processes to speaking of components, the term "process" became misleading. Therefore, I'd like to make it private to the child class and thereby remove it from the public view.

Furthermore, I'd like to change the constr

[2016-04-27 08:56] chelmuth commented on #1949
:+1:

[2016-04-27 09:17] m-stein commented on #1949
:+1:

[2016-04-27 09:18] chelmuth commented on #1931
I think think we're not there yet: Last night's log for noux_tool_chain_auto includes a vast amount of
[code]
messages, which have noticeable impact on the performance. How should we proceed? Could we convince GCC to not call `sysctlbyname()`?

[2016-04-27 09:22] ehmry commented on #1775
I have the corrected the read and write positioning in e59bff468a2f9195d59c9e92567e2de5cf6b0565, and implemented rump_fs support.

[2016-04-27 09:58] ehmry commented on #1931
It may be possible to remove sysctlbyname completely and autotools may cause it to be macro'ed away, I'll see what I can.

[2016-04-27 13:04] ehmry commented on #1931
Good news, ``sysctlbyname`` is not part of POSIX, so we can throw it out. This breaks ``sysconf``, which is a wrapper over ``sysctlbyname``, which is a wrapper over ``sysctl``. By simply implementing ``sysconf`` in a few lines we avoid a lot of enourmous nested switch statements in the FreeBSD libc.

I'm only returning ``sysconf`` values for page size and available memory, as those are the only re

[2016-04-27 13:23] chelmuth commented on #1931
Thanks, merged the fixup to staging.

[2016-04-27 16:42] alex-ab opened #1950 "nova: support to drop/revoke capabilities just locally"
without revoking them from all subsequent components where this capability got delegated to.

Genode capabilities get reference counted per process in base-nova and are dropped/revoked automatically if the last reference vanishes. There are cases where this dropping of all subsequent delegations are not wanted, e.g. servers which just forwards capabilities to clients and don't need them. For the s

[2016-04-28 08:17] alex-ab opened #1951 "nova: kernel 'hangs' after a bit more than 4096 processes got started and destroyed on 64bit"
Adding "nopcid" to the hypervisor command line helps to avoid the problem, actually the pcid 'allocator' in the kernel must be fixed.

[2016-04-28 08:40] chelmuth commented on #1931
@ehmry I'm afraid we're still not finished
[code]
Currently the build breaks with
[code]

[2016-04-28 12:31] ehmry commented on #1931
@chelmuth I have a fixup at 52ed3d99dedc76c1a1a894b24dd0f9cb887d5a3f, ``sysctlbyname`` is back as a dummy. If we wanted a full implementation we would have to lookup the type information for the return value, and I think it can be avoided for now. In the case of ``hw.instruction_sse``, there was not a way to look this up previously, so I see no regression there.

I also made the values requested b

[2016-04-28 12:59] chelmuth commented on #1931
I merged your work with my fixup.

[2016-04-29 10:08] nfeske opened #1952 "Clean up base-library structure"
I'd like to clean up the base library in the following respects:

* The common parts of the platform-specific base.mk and base-common.mk files should go to base/lib/mk/base.inc and base/lib/mk/base-common.inc so that we get rid of repetitions.
* Right now, the base library has a number of sub directories for historical reasons - originally the library was actually a set of libraries. We should fla

[2016-05-02 13:23] chelmuth commented on #1931
@ehmry we have a strange error in our nightly `make run/noux_tool_chain_auto`
[code]
I suspect our sysctl patches but that's only a vague feeling. Did you see this error before or experience it with staging?

[2016-05-02 15:58] ehmry commented on #1931
I haven't seen this before, tomorrow I will try and move one of my machines to staging and see what happens.

[2016-05-03 17:25] ehmry commented on #1931
I did find a problem that might be related, requests with integer return types are being rejected.
https://github.com/genodelabs/genode/blob/2e7e3de583d1333e84bbae8b25e244e6489f7d28/repos/libports/src/lib/libc/sysctl.cc#L72

That is fixed in af1257a, and e4e800c checks for bad buffers in libc_noux. I caught this problem because ``cat`` was trying to align buffers with zero length pages.

[2016-05-03 18:06] nfeske commented on #1942
The commit above implements this idea. The output interface resides in base/output.h and is called `Output`. The functions for generating output for different types are called `print`. The output backend for targeting the LOG session is provided by base/log.h. The current patch features the `log`, `warning`, and `error` functions. PDBG and `raw` are not available yet.

[2016-05-04 08:59] chelmuth commented on #1775
@ehmry I merged your latest patch. Please have a look at my attempt 20a2adb to document the semantics of SEEK_TAIL in read and write. Do you approve?

[2016-05-04 09:07] nfeske opened #1954 "Thread API cleanup"
In the longer term, we want to discourage the direct use of the thread API and promote the use of the `Entrypoint` API instead. However, we will certainly keep the thread API for use cases where fine control over threads is needed. That said, the current API has a number of historic artifacts that we should clean up:
- The current `Thread<STACK_SIZE>` class template is a relic from the times where

[2016-05-04 09:07] nfeske commented on #1954
Related to #1832

[2016-05-04 09:10] ehmry commented on #1775
Yes, looks good.

[2016-05-04 09:13] m-stein commented on #1954
Sounds really cool to me.

[2016-05-04 11:16] ehmry commented on #1901
06b047a is a simpler way of excluding empty matches. ``prefix_match = prefix.length()-1;`` is necessary to remove the null byte from the matched character count.

[2016-05-04 13:43] cproc commented on #1947
The updated commit replaces the 'libc_lock_pipe' plugin with the 'libc_pipe' plugin.

[2016-05-04 14:24] ponast commented on #1954
I have discovered this problem too with untyped parameters as it is a
security problem and also makes certification much harder (i.e. more
expensive) as one doesn't really know what different parameters represent.
For this reason I use a library in my code that I developed a while ago to
achieve typed parameters. I just uploaded it so you can check it out if you
wish. It is uncommented for the mom

[2016-05-04 14:32] cproc opened #1956 "NOVA: add option to return EC state information on recall"
Currently, a user (GDB) who is interested in the current state of a thread on NOVA must wait until the thread enters its recall handler. This can take a long time if the thread is currently blocking on a semaphore or if it is an entrypoint thread which can only enter the recall handler after receiving an IPC message from a different thread.

The commit

https://github.com/cproc/NOVA/commit/e7a0ade

[2016-05-04 15:08] nfeske commented on #1954
The commit series above fixes the issue. I left the commit separate for now until staging is happy. We should eventually merge them into a single commit when merged to master.

@ponast Thank you for the pointer. I will take a look.

[2016-05-05 09:10] nfeske commented on #1954
@ponast I like your units library. The test illustrates it very well. For now, the current approach of wrapping basic types in simple structs (like I have done for the `weight` value in the commits above) seems to be good enough. In most of our use cases we actually don't want to manipulate those arguments via arithmetic operations, except for the actual consumer of the argument, which explicitly

[2016-05-06 19:02] ehmry commented on #1777
I consolidated all the changes I've made to ``fs_log`` to 73465cbbfa453320a341ce5eaae89a0680345b21. 7fc4e1441f921a7312ca3cf28da018da60a7eee3 is a utility that I've used in other components and seems to work well for mapping session hierarchy to the file system.

[2016-05-09 09:04] ehmry opened #1957 "Multi-context signal dispatcher"
I would like to use something similar to ``Genode::Signal_handler`` but with the Signal context passed as an argument to the handler method. My reason is I want a single thread and object to dispatch many signals, without creating many signal receivers.

[2016-05-09 09:11] ehmry commented on #1957
Nevermind, it looks like I can use multiple ``Genode::Signal_dispatcher`` with a single receiver.

[2016-05-09 09:42] chelmuth commented on #1957
Sounds like the multiple-dispatcher method works for you. Can we close the issue?

[2016-05-09 09:42] ehmry commented on #1957
Yes, works for me

[2016-05-09 09:42] #1957 closed

[2016-05-09 10:51] nfeske commented on #1777
The `path_from_label` function is a good idea. But why don't you let the function return the result? I would find it more intuitive to do something like:
[code]
Granted, it may be merely a matter of taste. But this way enables us to make `path` a constant, which is not possible with the out-parameter approach.

[2016-05-09 11:04] nfeske opened #1958 "Move Attached_*dataspace utilities from os/include to base/include"
Since the said utilities build upon base interfaces and are principally useful for the base components (base library, dynamic linker, core), we should promote them to base/include/base. While doing this, we should add proper constructors that take an `Env &` as first argument. This way, we can move away from our current dependence on the side effects of `Genode::env()'.

[2016-05-09 11:12] #1775 closed

[2016-05-09 11:12] #1786 closed

[2016-05-09 11:12] #1842 closed

[2016-05-09 11:12] #1900 closed

[2016-05-09 11:12] #1902 closed

[2016-05-09 11:12] #1910 closed

[2016-05-09 11:12] #1931 closed

[2016-05-09 11:12] #1940 closed

[2016-05-09 11:12] #1944 closed

[2016-05-09 11:12] #1945 closed

[2016-05-09 11:12] #1949 closed

[2016-05-09 11:22] nfeske opened #1959 "Deprecate Genode::config()"
The `Genode::config()` is a convenient interface to access the XML-based configuration of a component. However, it has the following drawbacks:
- It relies on the side effects of `Genode::env()` which we want to remove from the Genode API.
- It duplicates functionality of `Attached_rom_dataspace`.

In principle, the functionality of the config interface is not much different from the one provided

[2016-05-09 11:50] cnuke commented on #1959
I am all for removing `Genode::config()`. However, I am not sure if adding the notion of `Genode::Xml_node` to `Genode::Attached_rom_dataspace` is a good idea. After all, as mentioned in #1958, `Attach_rom_dataspace` should be moved to *base* and `Xml_node` is part of *os*.

[2016-05-09 12:39] nfeske commented on #1959
@cnuke the XML utilities were just moved to base. See https://github.com/genodelabs/genode/commit/2bc8a0f76a5d5ad7266c1b37e596bcbb130f9241

[2016-05-09 12:40] nfeske commented on #1959
Oh. I just noticed that I missed the important pat of the patch cited above.

[2016-05-09 13:49] cnuke commented on #1959
Ah alright, then sorry for the noise - I missed that.

[2016-05-09 14:00] ehmry commented on #1777
Ok, new ``path_from_label`` at 89fcc9fdad811235bfcbf9968976d0903d55b140 with the signature
[code]

Fs_log updated at 8b2e399bb97e4c2223df8ac3585dec10573549b2

[2016-05-09 14:10] nfeske commented on #1777
I actually liked the fact that your function was a template, letting the caller decide for a max path length by defining a type at the caller side. How about letting the caller pass a `PATH` type as template argument? (very similar to your original version, but using a typename instead of a size_t as template argument)

[code]

[2016-05-09 14:40] nfeske opened #1960 "Pass `Env &` as first argument to connection objects"
The connection objects used to rely on the globally available `Genode::env()` function, which we will eventually remove. Instead of relying on side effects, the new API will make the interaction with the component's resources more explicit. While constructing a connection, the component interacts with its environment in the following ways:

* It issues a session request to its parent (using the pa

[2016-05-09 14:43] alex-ab commented on #1960
no

[2016-05-09 14:55] ehmry commented on #1777
I have a template version, but my compiler can't deduce the typename without ``path_from_label<New_type>(label_str)``

[2016-05-09 15:15] alex-ab commented on #1956
@cproc: I added your commit to https://github.com/alex-ab/NOVA/commit/738530f01fabdd9ace154e205c9117188ba27c03 and modified it slightly - please have a look

[2016-05-09 15:18] alex-ab commented on #1956
@cproc: sorry - use https://github.com/alex-ab/NOVA/commit/fa2eb6da4d22df1948c156baf5e4aca21ad714ac

[2016-05-09 15:23] nfeske commented on #1777
Yes. The compiler cannot deduce the type automatically because it only looks at the signature, not the return value. But I think that passing the type manually is just fine. Don't you think so?

[2016-05-09 15:36] ehmry commented on #1777
@nfeske Yea, I think thats fine, ``path_from_label`` isn't called very often, and always near the declaration of the return value.

[2016-05-09 15:40] cproc commented on #1956
@alex-ab: unfortunately, ```(void)current->utcb->load_exc (&regs);``` does not avoid the warning about the unused result ;-)

[2016-05-09 15:45] alex-ab commented on #1956
@cproc: I see ;-) - next try https://github.com/alex-ab/NOVA/commit/d0973dfd8d646a20d7c8c9d1b1edd79f21625a83

[2016-05-09 15:54] cproc commented on #1956
@alex-ab: that works

[2016-05-09 17:08] nfeske commented on #1835
May we close this issue?

[2016-05-09 17:11] nfeske commented on #1657
@skalk It might be worthwhile to try it again with my recent rework of the PD/RM/CPU sessions. Does the problem persist with the current master branch?

[2016-05-10 05:39] ssumpf commented on #788
@nfeske: We should close this.

[2016-05-10 08:09] ssumpf commented on #788
This is not an issue when using the lx_kit approach.

[2016-05-10 08:09] #788 closed

[2016-05-10 15:31] cproc commented on #1947
The fixup commit fixes a race condition in the pipe implementation.

@chelmuth: please add to staging

[2016-05-11 04:32] NobodyIII opened #1961 "feature: service router"
I made a service router that makes session requests in behalf of other processes, making it easier to dynamically create routes when needed. Here's the commit: NobodyIII/genode@330a2041e99a11dade9a2ecdab06fe6d2bb82616
It currently uses the old env(), but updating the code to use the new API should be trivial.

[2016-05-11 04:34] NobodyIII commented on #1835
Sounds good. I suspect the problem hasn't been fixed, but the issue label
is misleading. If the problem persists, I'll create a new issue for it.
On May 9, 2016 11:08 AM, "Norman Feske" <notifications@github.com> wrote:

[2016-05-11 06:21] #1835 closed

[2016-05-11 11:08] vladimir-lu commented on #1544
Unfortunately I won't be able to make this :disappointed:

[2016-05-11 11:20] alex-ab opened #1962 "extended ACPI support to read/evaluate system state"
Modern PCs provide via ACPI an enormous amount of ways to monitor and to configure the system. We have already a basic ACPI driver, which is mainly used to look up low level data that are essential for the platform driver to operate properly. Beyond that it would be nice to have further features enabled/supported like reset and shutdown support, battery status information, lid information and so o

[2016-05-11 11:29] m-stein commented on #1544
@vladimir-lu Pity! Hopefully for enjoyable reasons.

[2016-05-11 11:48] alex-ab commented on #1962
I pushed my current state. Mainly the acpica library is ported and a pure Genode app, also called acpica, utilize the acpica library and generates Genode reports when system state changes, currently lid, embedded controller, ac adapter, battery charging/discharging. The current state is not ready yet, but maybe you can give it a try and or review on your machines. The X201 is known to behave not w

[2016-05-11 11:57] alex-ab commented on #1962
What i forgot, you also may reset or shutdown the machine, look for ``reset`` and ``poweroff`` in the run script to enable the functionality.

[2016-05-11 16:46] nfeske opened #1963 "Remove inconsistent use of 'is_' prefix in method names"
Right now, we already follow a convention about the naming of accessor functions (not using any `get_` or `set_` prefixes). However, we sometimes use an `is_` prefix for getter functions of boolean values, but not always. Some examples are `Capability::valid()`, `Weak_ptr::is_valid()`, `Attached_rom_dataspace::is_valid()`, and `Volatile_object::is_constructed()`.

We should better follow a convent

[2016-05-12 10:53] ehmry commented on #1744
Fixed at d873752c362adfa306c5916270a8b51b5f55704d.

[2016-05-12 11:56] ehmry commented on #1934
I have callbacks implemented in ac9a76b2de9bf3402c599966dcdc34e887ff15fd with a test attached, requires #1744 to be closed. Not a big hurry on merging, I know what staging looks like right now.

The callbacks are only available on open handles because keeping the callback metadata in handles makes allocation and callback lifetime much simplier.

I started out by passing an entrypoint to each VFS f

[2016-05-12 15:01] ehmry commented on #1787
rebase

[2016-05-13 07:57] cnuke opened #1964 "vfs_block: remove diagnostic warnings"
The VFS block plugin handles requests that use byte offsets rather than block offsets but generates a warning when processing such a request. This leads to continuous messages in the log if the component using the plugin operates on a different block size, e.g. `512b`, than the backend block session, e.g. `4096b`.

[2016-05-13 08:09] chelmuth commented on #1787
You're right, we should consider to integrate the cleanup in the next release.

[2016-05-15 16:43] ehmry opened #1965 "Serve ROMs from the VFS server"
When the VFS supports notifcations of changes to files #1934, it seems natural that the VFS server should provide an optional ROM service. The VFS library already contains the logic to produce ROM dataspaces, so at minimum only a simple component wrapper is needed.

I'm using a new version of the VFS server that does this right now, the only regression I can see is directory watching does not work

[2016-05-16 15:01] ehmry opened #1966 "VirtualBox: unique labels for Nic sessions"
It would be nice if each VirtualBox network adaptor could be routed to different Nic servers, guests could attach to multiple host interfaces, or guest interfaces could be attached to VPN servers at the host (my use case).

Patched at 48fa3c6f4af146f07cb8dcd4faa01d784c7aa3bf

[2016-05-17 11:02] alex-ab commented on #1956
@cproc: updated it - https://github.com/alex-ab/NOVA/commit/7b1209d02d69adaf93adc312f291997f3a98ba81

[2016-05-17 11:51] nfeske commented on #1965
I am excited about the direction your VFS server's development. It makes perfect sense. I somehow foresee that other session interfaces will be added sooner or later. E.g., terminal, block, and input come into mind. If we follow this route a bit further, we could realize things like part_blk or input_merger as VFS plugins.

[2016-05-17 12:38] ehmry commented on #1965
Well, you did give me the idea in #1715 :-) To take it to the extreme, perhaps components could be implemented as shared library plugins with an interface like ``Root_component *root_component(Genode::Env &env, Vfs::File_system &fs, Genode::Allocator &md_alloc)``.

[2016-05-17 14:26] cproc commented on #1956
@alex-ab: thanks

[2016-05-17 14:30] nfeske opened #1967 "Adaptation of genode-world repository to new API"
With the new Genode API reaching the master branch soon, it is a good time to adjust the components of genode-world accordingly, in particular with respect to the following:
- Removal of superfluous routes to the no longer existing core services "SIGNAL", and "CAP",
- Use of the new `Component` API (https://github.com/genodelabs/genode/issues/1832) ,
- Passing `Env &` to connection objects (https:

[2016-05-17 14:31] cproc opened #1968 "base: changes for GDB monitor"
* add a new function ```binary_ready_hook()``` in ldso. GDB can set a breakpoint at this function to know when ldso has loaded the binary into memory.
* get the thread state from the NOVA kernel immediately on 'pause()' (related to issue #1956)

[2016-05-17 14:44] cproc opened #1969 "GDB monitor: stability improvements"

[2016-05-17 15:03] cproc commented on #1969
Depends on #1968.

[2016-05-17 15:08] cproc opened #1970 "GDB monitor: x86_64 support"
General support for the x86_64 architecture.

Depends on #1969.

[2016-05-17 15:12] cproc opened #1971 "GDB monitor: nova_x86_64 platform support"
Depends on #1970.

[2016-05-17 16:05] ehmry commented on #1967
@nfeske, sure, there should be some nice and simple examples in here.

[2016-05-17 16:11] m-stein opened #1972 "hw: use kernel timer for timer driver"

[2016-05-18 08:20] chelmuth commented on #1971
Merged all GDB patches. I'm looking forward to try out 64-bit NOVA debugging ;-)

[2016-05-18 08:36] chelmuth commented on #1971
I tried `make -C build/nova_x86_64 run/gdb_monitor` but got
[code]
What did I do wrong?

[2016-05-18 09:10] alex-ab commented on #1962
@chelmuth: from my side the feature is ready for staging, please use issue_1962_staging

[2016-05-18 09:13] alex-ab commented on #1962
oh, a new staging with nova changes ;-), i will have to rebase

[2016-05-18 09:17] m-stein commented on #1544
I've just received a note from the Gutshaus Heeselicht that everyone should bring his/her __own slippers__! As mentioned earlier, please also bring your __own towel__ and the other __stuff listed [here](https://github.com/genodelabs/genode/issues/1544#issuecomment-177642147)__. Happy packing ;)

[2016-05-18 09:26] alex-ab commented on #1962
@chelmuth: update issue_1962_staging to current staging

[2016-05-18 10:51] cnuke opened #1973 "dde_bsd: update audio driver to OpenBSD 5.9"

[2016-05-18 12:08] cnuke opened #1974 "dde_linux: update drivers to Linux 4.4.3"

[2016-05-18 12:40] cproc opened #1975 "tool_chain: fix library availability checks"
Use 'pkg-config' to find out if the development package of a required library is installed.

[2016-05-18 12:52] cproc opened #1976 "tool_chain/cxx: use '__cxa_demangle()' for exception names"

[2016-05-18 14:21] m-stein commented on #1544
I've summarized the plan so far for the Hack'n'Hike. Any questions or suggestions? (Please view it on github to get a pretty table)

 | Fr | Sa | Su | Mo
---|---|---|---|---
Breakfast |                  | Genode Labs Catering in our [accomodation](http://www.gutshaus-heeselicht.de/)         | Genode Labs Catering in our [accomodation](http://www.gutshaus-heeselicht.de/) | Genode Labs Catering in o

[2016-05-18 14:29] m-stein commented on #1544
@trimpim Could you please bring your RPI2? I would be interested in porting.

[2016-05-18 15:32] ehmry commented on #1544
@ponast Is that a ride from Berlin all the way to Saxony?

[2016-05-18 16:15] ponast commented on #1544
@emery The ride is from Berlin Tegel  to wherever you want to go. Most
likely Inn Erbgericht in Heeslicht. Want to join?

On Wed, May 18, 2016 at 5:32 PM, Emery Hemingway <notifications@github.com>
wrote:

--
Hälsningar,

Pontus

[2016-05-18 20:55] ehmry commented on #1544
@ponast Yes please, I'll email you next week for the details.

[2016-05-19 06:48] trimpim commented on #1544
Yes, I will bring it, together with all documentation I'll be able to collect about it.

[2016-05-19 09:14] m-stein commented on #1544
@trimpim Very cool :)

[2016-05-19 10:25] gwitmond commented on #1544
Hi Pontus,

Does the limo have a third sofa? I'd like to hitch a ride too.

Cheers, Guido.

On 05/18/16 18:15, ponast wrote:

[2016-05-19 15:23] chelmuth commented on #1974
`- TODO bla bla bla` ?

[2016-05-19 15:31] cnuke commented on #1974
There will be a proper commit message as fixup commit later on.

[2016-05-19 15:40] cproc commented on #1968
The fixup commit fixes the 'rm_fault' test.

@chelmuth: please add to staging

[2016-05-19 15:41] chelmuth commented on #1962
I cherry-picked what I thought is relevant for staging - please check.

[2016-05-19 15:45] chelmuth commented on #1973
With 7863636ec1d77edde778b20f1f72778a95afa7ca I get
[code]

[2016-05-19 15:52] cnuke commented on #1973
Yes, because `env(env)` and `Genode::Allocator_avl(&alloc)` are in the wrong order — in the end it makes no difference to the generated code. I will provide a fixup commit tomorrow.

[2016-05-19 15:53] alex-ab commented on #1962
Checked - all fine !

[2016-05-19 16:00] cnuke commented on #1973
@chelmuth please add b8a107c to staging.

[2016-05-19 16:39] ehmry commented on #1942
I would like it to be possible to write to multiple logs with different labels for the sake of splitting and merging log streams using session labels. For example, in the case of log merging, it allows a parent to inject messages into a child stream.

[2016-05-19 18:26] alex-ab opened #1977 "nova: print pd information if an unresolvable page fault occurs"
If and thread causes an fault, the name is shown, however the pd was missing. For some entrypoint threads we used partly different name, like "something_ep", but this debugging feature also starts to vanish with the commit "base: remove Component::name from API" 2dd50ba63e118b01da05a9b39ad109405a7c1983. In order to distinguish uniquely threads with same names we need the label of the pd.

[2016-05-20 08:18] cnuke commented on #1974
@chelmuth please merge 55a5e09 and 510ccf7 to staging.

[2016-05-20 08:51] skalk commented on #1974
@chelmuth please merge e4f1afe467811f2410d45b96964f274ba2f73101 and ac9e71f4102c1765dbd18d3f99fee1b4afdbe2d3 as well.

[2016-05-20 09:07] chelmuth commented on #1973
Thanks. In the end, one redundant warning message less helps to spot the relevant diagnostics of the compiler.

[2016-05-20 09:11] chelmuth commented on #1974
Done.

[2016-05-20 09:29] chelmuth commented on #1974
The amount of warnings when building lxip is shattering - can we do something about it?

[2016-05-20 11:34] cnuke commented on #1974
@chelmuth please merge b0a46e6 to staging.

[2016-05-20 12:30] ehmry commented on #1967
@nfeske Can this wait until after the hack'n'hike? I'm been staying on master branch for now.

[2016-05-20 12:30] gwitmond commented on #1544
I've cleaned up the house and found some old flight tickets in the attic. I got myself a limo that fits the hand luggage so feel free to hop on at Berlin Schönefeld around 9:00 at 27th.

[2016-05-21 11:01] cproc commented on #1976
The fixup commit updates the hash of the GCC port.

@chelmuth, @nfeske: please add to staging

[2016-05-21 11:34] ehmry commented on #1752
This fault at 0x40 seems to be related to latency in the block session, I don't have problems running the scenario on linux, but I do in QEMU, and I didn't have problems on an SSD, but I do on platters.

@ssumpf any ideas?

[2016-05-22 18:59] ponast commented on #1544
@gwitmond: Sorry for the late response, on vacation over the weekend on the
countryside.

Pontus

On Thu, May 19, 2016 at 12:25 PM, gwitmond <notifications@github.com> wrote:

--
Hälsningar,

Pontus

[2016-05-23 15:13] cproc opened #1978 "Noux: same capability multiple times in object pool"
The 'Noux::Rom_session_component' creates a 'Rom_dataspace_info' object for its ROM dataspace capability and inserts this object into the Noux-global dataspace registry, which is of type 'Object_pool'. If the same file (for example "config") is requested multiple times (by one or multiple Noux clients), it can happen that multiple 'Rom_dataspace_info' objects with the same capability get inserted

[2016-05-23 16:50] cproc opened #1979 "Noux: support PD session upgrade"

[2016-05-24 09:04] nfeske commented on #1082
As a side project during the past few weeks, I experimented with different ideas of how to extract "source packages" from the source tree and how to interface them. I pushed the result to a new repository: https://github.com/nfeske/genode-pkg

The thought process while doing the experimentation helped me a lot to get a tangible feeling for the "packaging" problem in the context of Genode. @ehmry

[2016-05-24 18:23] m-stein commented on #1544
I've just received a note from the Gutshaus Heeselicht that everyone should bring his/her __own slippers__! As mentioned earlier, please also bring your __own towel__ and the other __stuff listed [here](https://github.com/genodelabs/genode/issues/1544#issuecomment-177642147)__. Happy packing ;)

[2016-05-24 20:12] ponast commented on #1544
@ehmry: I have actually lost your email from today regarding the meeting
coordinates so I want you to resend it.

On Wed, May 18, 2016 at 5:32 PM, Emery Hemingway <notifications@github.com>
wrote:

--
Hälsningar,

Pontus

[2016-05-25 05:00] trimpim commented on #1544
@chelmuth my flight will arrive at Dresden Airport around 09:00. Is it okay if I come to the Genode office?

[2016-05-25 08:54] ssumpf commented on #1974
@chelmuth: Please merge 766f141 into staging.

[2016-05-25 09:18] skalk opened #1980 "platform_drv: leaks quota when using dma-allocation dynamically"
When doing dma alloc/free dynamically during the session lifetime, the platform driver unconditionally takes the size to be allocated for its own quota, and transfers it to the session's ram-quota. Unfortunately the transfer never gets reversed before the session gets closed.
This is a problem for scenarios like the intel framebuffer driver, which allocates/frees big framebuffer dma dataspaces whe

[2016-05-25 09:26] skalk commented on #1980
@chelmuth: can you put the interims fix 490702c137c581166f97fbbc28b27c5839b6f0a6 to staging? It is already confirmed by alex-ab.

[2016-05-25 10:04] chelmuth commented on #1544
@trimpim That's perfectly okay, but be aware that we'll be busy packing all the needed stuff and appreciate any helping hand ;-) There's no fixed time yet but I expect we'll not leave before 13:00.

[2016-05-25 10:11] chelmuth commented on #1980
In this case... merged just now.

[2016-05-25 13:32] ssumpf commented on #1974
@chelmuth: Please merge 18138ec and 4bf85de into staging.

[2016-05-25 15:40] cnuke commented on #1974
@chelmuth please merge 74735e9 to staging.

[2016-05-25 16:33] ehmry commented on #1891
I added Env and Allocator arguments to the file-system constructors, which clears out references to ``Genode::env()`` in the VFS builtins. There is an execeptional case of using ``Genode::env()->heap()`` in Global_file_system_factory because it is still global and it needs an allocator.

[code]

[2016-05-25 17:39] nfeske commented on #1891
That's very cool! Thanks for moving the VFS towards the new API. Now that you are at it (working on the constructors), how do you feel about also passing a reference to the root directory to each file system? This would enable VFS plugins to use other files as back ends.

[2016-05-25 18:41] chelmuth commented on #1974
I merged three commits just now.

[2016-05-25 18:43] chelmuth commented on #1891
Exciting work @ehmry!

[2016-05-25 18:54] nfeske commented on #1931
@ehmry Would you like to give a brief summary about this line of work for the release notes?

[2016-05-25 18:54] nfeske commented on #1931
I would categorize it under the section "C runtime".

[2016-05-25 19:49] ehmry commented on #1891
@nfeske yes, I think that is inevitable, the other thing to consider is plugins that wish to extend the root factory themselves, that is simple with the global factory, but otherwise it may mean passing the root factory along as well.

[2016-05-25 19:56] ehmry commented on #1931
Yes, I can make a PR tomorrow.

[2016-05-25 20:17] ehmry commented on #1775
@chelmuth 1484d05e7890716525e5ec41580be629dd92bfb0 should be applied to master.

[2016-05-26 09:53] cnuke opened #1981 "qemu-usb: do not send CTRL messages without length"

[2016-05-26 09:54] cnuke commented on #1981
@chelmuth please merge to staging.

[2016-05-26 10:47] cnuke commented on #1981
@chelmuth please merge 9a2d24c to staging too.

[2016-05-26 13:00] alex-ab commented on #1544
Currently it looks like that nobody of the Genode will take the public transport options as advertised by @m-stein. @parfito and and Emery: if you want to join us and get a ride by car please come to the Genode office (till approx. 13:30).

[2016-05-26 13:33] ehmry commented on #1906
This can close when 7806641 hits master.

[2016-05-26 15:03] ehmry commented on #1544
I'm getting a ride from @ponast, so no problem.

[2016-05-26 16:09] parfito commented on #1544
hello, I want to apologize on behalf of my colleague Emery Assogba who is unable to come at the last minute. So, unfortunately I'll come alone.
Really sorry!

[2016-05-27 09:06] chelmuth opened #1982 "gdb_monitor.run disabled on nova_x86_64"
Just now the autopilot informed me about

[code]

Shouldn't this be fixed?

[2016-05-27 09:39] #1939 closed

[2016-05-27 09:39] #1947 closed

[2016-05-27 09:39] #1950 closed

[2016-05-27 09:39] #1951 closed

[2016-05-27 09:39] #1952 closed

[2016-05-27 09:39] #1958 closed

[2016-05-27 09:39] #1960 closed

[2016-05-27 09:39] #1963 closed

[2016-05-27 09:39] #1964 closed

[2016-05-27 09:39] #1962 closed

[2016-05-27 09:39] #1968 closed

[2016-05-27 09:39] #1969 closed

[2016-05-27 09:39] #1970 closed

[2016-05-27 09:39] #1971 closed

[2016-05-27 09:39] #1972 closed

[2016-05-27 09:39] #1973 closed

[2016-05-27 09:39] #1974 closed

[2016-05-27 09:39] #1975 closed

[2016-05-27 09:39] #1976 closed

[2016-05-27 09:39] #1977 closed

[2016-05-27 09:39] #1979 closed

[2016-05-27 09:48] #1981 closed

[2016-05-27 10:12] #1906 closed

[2016-05-28 21:26] alex-ab opened #1983 "page fault in core on all platforms if initial quota at session creation too small"
make -C run/trace

[code]

[code]

[2016-05-31 10:03] ehmry opened #1984 "libc relative path regression"
I suspect this is caused by calling ``getcwd`` in ``fstatat``. We implement ``__getcwd``, not ``getcwd``, so ``fstatat`` is jumping through some unknown external code.

https://github.com/genodelabs/genode/commit/9f9510ddb196584bb96c95d97cd2afa45e2ad043?diff=unified#diff-7b3365936b9427313eeb14dcb8c7c33dR365

[2016-05-31 10:14] chelmuth commented on #1424
@nfeske please review my take on the XML-comment issue in 22eda64.

[2016-05-31 10:36] chelmuth commented on #1983
Merged your commits. Is the issue fixed then?

[2016-05-31 10:43] alex-ab commented on #1983
yes

[2016-05-31 10:57] m-stein opened #1985 "Planning of Hack'n'Hike 2017"
As Hack'n'Hike in 2016 (#1544) was big fun again, we directly start planning for 2017. We hope you'll join us again to share and push forward programming projects around Genode and enjoy some relaxed outdoor activities. As usual, we try to find a cozy accommodation not so far from Dresden (Germany) where we can hack at night and from where we start our outdoor trips during the day.

This issue sha

[2016-05-31 11:04] chelmuth commented on #1985
A friend of mine recommended Jonsdorf near Zittau as a nice location and a quick search revealed [this venue](http://www.jonsberg-huetten.de/), which might be worth to consider.

[2016-05-31 11:10] m-stein commented on #1544
Hey guys, all got home in one piece?
I'd like to thank you for coming and hope you've enjoyed this years Hack'n'Hike as much as me?
I just started planning for the Hack'n'Hike 2017 (#1985), so have a look ;-)

[2016-05-31 12:25] cnuke opened #1986 "usb: stabilization and robustiness"

[2016-05-31 12:32] m-stein commented on #1985
:+1: for the Jonsberg Hütte. In general, the region around Zittau is a real nice place for doing a Hack'n'Hike.

I'd like to add two options:
Lausitz: [Turmvilla](http://www.turmvilla.de/www/) (Location of Hack'n'Hike 2015)
Oybin: [Hotel Nensch](http://www.hotel-nensch.de/index.htm), [Naturparkhotel](http://www.naturparkhotel-oybin.de/hotel.html)

[2016-05-31 12:55] ehmry commented on #1984
I take that back, some junk somewhere is changing the directory to ``/`` during ``ls``.

[2016-05-31 13:39] nfeske commented on #1985
Jonsberg looks very good.

Generally, I'd prefer a non-Hotel venue. The one we had this year (Heeselicht) was just perfect for our kind of event because
* Nice ambience of the location (great mix of nature and cozy accommodation),
* No second group of people distracting us,
* Room and facilities to operate a grill,
* Well-equipped kitchen with a dish washing machine (very important, in my opinion)

[2016-05-31 14:13] ehmry commented on #1984
The problem is ``chdir`` being called during the initialization of both the VFS plugin and Noux. be0eb9e7d8abc80322707c88f1f9dbacf57ee40d is a quick but clean fix, and I think a697b7b602cefd64f7ae3ef524b659edee5228ba is still nice to have.

[2016-05-31 14:54] parfito commented on #1544
I am back in Brussels safely...
It was very nice, eagerly waiting for the next.

[2016-05-31 14:58] chelmuth commented on #1985
Found another hiker's gem: [Lausitzer Hütte](https://www.traum-ferienwohnungen.de/34698/).

[2016-05-31 15:43] m-stein commented on #1985
The Lausitzer Hütte looks really nice. Be aware that we would have to carry all baggage the last 300 meters as the hut isn't accessible by car and it also looks like there's no internet connection.

[2016-05-31 16:24] nfeske opened #1987 "Transition to the new base API"
With the release of version 16.05, we refined Genode's API in many ways: http://genode.org/documentation/release-notes/16.05 Now it is time to adapt the existing components to the new API. This is a huge undertaking. According to the number of _target.mk_ files, our source tree hosts nearly 400 components, not counting those hosted in the genode-world repository. My goal is to finish the transitio

[2016-05-31 16:38] ssumpf opened #1988 "os: support packets without payload"
Under some circumstance (USB control messages), we do not need payload when submitting packets, since all can be achieved through the packet's meta data. Therefore, we decided to not call the allocator for zero sized packets during `alloc_packet` and `release_packet` and perform the `packet_valid` check on the `packet_content` function instead of `get_packet`. We also want to remove the `valid` fu

[2016-05-31 20:51] #1956 closed

[2016-06-01 08:30] cnuke commented on #1988
:+1: fixes the USB device removal issue w/o using #1981.

[2016-06-01 09:42] skalk opened #1989 "rump_fs: directory read returns wrong inodes"
When a client reads the directory content, the rump filesystem-server does not write the inode number into the answer packets. Therefore, the inode numbers stay zero, which is interpreted as directory end. As a result, directory listings seem to be empty.

[2016-06-01 09:53] cnuke opened #1990 "wifi_drv: use relative timeout in poll function"

[2016-06-01 12:12] cnuke opened #1991 "base: add print method for unsigned long long"

[2016-06-01 13:41] nfeske commented on #1991
Looks good to me.

[2016-06-01 15:19] nfeske opened #1993 "Unification of base headers across all platforms"
In order to build kernel-agnostic binaries we have to make sure that no header files included by such executables are tainted with kernel-specific types. During the base-API rennovation #1832, I already unified the most headers of the base API across the supported base platforms. However, a few tricky artifacts remain, most importantly the `Native_capability` definition residing in the platform-sp

[2016-06-01 16:05] cnuke commented on #42
That issue should be closed since `Cpu_session::set_pager` is gone, right?

[2016-06-01 16:06] nfeske commented on #42
Yes, indeed!

[2016-06-01 16:11] #42 closed

[2016-06-03 10:59] chelmuth commented on #1424
Commit e3e2c99 is my next attempt to cleanly solve the issue. It adds two functions to `Token` for that purpose and safes `Xml_node::Comment` from the matching function. Opinions?

[2016-06-03 12:23] nfeske commented on #1424
Beautiful! The new version nicely preserves the level of abstraction of the `Token`.

[2016-06-03 12:36] alex-ab opened #1995 "nova: cap_map counting error if IPC destination is invalid"
[code]

[2016-06-03 13:31] skalk opened #1996 "Output::Hex PAD/NO_PAD inverted"
The new Output:Hex class introduced by solving issue #1942 inverted the meaning of PAD and NO_PAD

[2016-06-03 21:13] cnuke opened #1997 "intel_fb: does not work with 1366x768 reslution"

[2016-06-03 21:30] cnuke commented on #1997
Using the intel_fb_drv on nova_x86_64 on me Thinkpad X220 results in a page-fault in the driver, e.g.:
[code]

I narrowed the issue down to `drivers/gpu/drm/i915/intel_display.c:14354` — the pitch value (in our implementation set to `width * 2`) for this resolution is not aligned to 64 byte and therefore triggers the alignment check.

After aligning the pitch value and adjusting the size of the ob

[2016-06-04 11:49] #1983 closed

[2016-06-04 11:49] #1986 closed

[2016-06-04 11:49] #1989 closed

[2016-06-04 11:49] #1990 closed

[2016-06-04 11:49] #1991 closed

[2016-06-05 15:20] gwitmond commented on #1985
Sign me up!

When is it?

[2016-06-06 07:42] ehmry opened #1998 "rump_fs returns '.' and '..' directory entries"
Libc will filter out '.' and '..' from directory entries, but the VFS does not. This is a problem because rump_fs also supports reading the directory ``/.``, so you can get an infinite loop of ``/./././././ ...``.

[2016-06-06 08:56] ssumpf opened #1999 "usb: Fix mouse and keyboard for RPI"
On RPI mouse and keyboard do not work any longer. We found the trouble to be caused by our timer update function, which causes an IPC to the timer server for each IRQ (there are a lot of them). Because of this, we missed some split transaction which are USB 1.x packets. Until some better solution comes around, we will take advantage of a hardware timer on the RPI.

[2016-06-06 10:12] chelmuth commented on #1999
Thanks for your effort. I'll merge as soon as @cnuke confirms the lx_kit changes.

[2016-06-06 11:32] cproc opened #2000 "NOVA: initialize segment registers of local ECs"
Currently, the segment registers of local ECs are not initialized by the EC constructor. This is usually not a problem, because usually local threads enter the userland via SYSEXIT/SYSRET, which loads the segment registers from MSRs. But when recalling an EC, the return method is changed to IRET, which loads the segment registers from the stack. This can trigger an exception if the local EC is rec

[2016-06-06 12:05] cnuke commented on #1999
@chelmuth looks good to me :+1:

[2016-06-06 12:27] cproc commented on #2000
@alex-ab: please add https://github.com/cproc/NOVA/commit/df29c186e5ef0c1ca089350dc93801c624789ad7

[2016-06-06 12:35] alex-ab commented on #2000
@cproc: https://github.com/alex-ab/NOVA/commits/r9_issue2000_debug

[2016-06-06 14:50] ssumpf opened #2001 "os: add backtrace support"
There have been some 'util/backtrace.h' files lying around for some time. Since, at least here, there seems to be a certain demand for them, I will integrate them into mainline.

[2016-06-07 06:58] ehmry opened #2002 "uniform XML boolean attribute access"
Since df0bbe0b0eac1b7c1f6fcd3c7b26d44ae9b4176d it is possible to read the boolean attributes from XML without string comparisons, yet there remains a mix of the new ``attribute_value("...", true/false)`` and the old ``attribute("...").has_value("yes")``. Now that the boolean accessor has survived a release cycle without any changes, I say the remaining instances of ``.has_value("yes")`` be replace

[2016-06-07 08:58] skalk opened #2003 "libc: GENODE_OSREV variable setting leads to git error"
The GENODE_OSREV variable set within repos/libports/src/lib/libc/version.inc uses a git command without specifying the git repository path. This leads to a wrong variable content, but even more annoying provokes an error message when libraries are checked or the libc is built:
[code]

[2016-06-07 09:13] ehmry commented on #2003
@nfeske and I had talked about moving this information to a ROM at core, but I don't remember anything concrete.

[2016-06-07 12:45] skalk opened #2004 "intel_fb: no hotplug IRQs for Lenovo x201"
There is a problem with the newer Intel graphics driver when using a Lenovo Thinkpad x201. It does not receive any interrupts after initialization finished. The strange thing is that during initialization interrupts are received, and even on Fiasco.OC we can receive interrupts after initialization. All traces of memory-mapped I/O accesses to the card are exactly the same between Fiasco.OC and othe

[2016-06-08 12:37] alex-ab opened #2005 "noux: add noux-pkg/diffutils"

[2016-06-08 15:49] reet- commented on #1873
This behavior can also be reproduced with the unpatched `vbox_auto_win7_share.run` scenario. While it passes the test in autopilot, browsing to _Computer_ leads to BSOD with code 7f.

Adding a file to the empty _ram_fs_to_ shared folder did not help in my case.

[2016-06-09 10:59] nfeske commented on #2003
I am actually not quite sure whether or not we should expose such information to libc-using programs. But the magic in version.inc should definitely be removed. I also stumbled over it while doing my packaging experiments.

Incorporating the information into the binary at compile-time is surely not a good way to go. It merely tells the program the Genode version that was used for compiling the lib

[2016-06-09 11:20] alex-ab opened #2006 "vbox: add ahci model"

[2016-06-09 13:36] m-stein commented on #1985
@gwitmond Nice that you're with us again :-) There's no exact date yet but it will be in May/June. I'll post it as soon as we have the reservation for the accommodation.

[2016-06-09 13:54] m-stein commented on #1985
Two other options for the accommodation:
* [Feriendorf "Fuchsberg"](http://www.ferien-fuchsberg.de/familienurlaub-im-ferienhaus), Schirgiswalde, bei Bautzen
* [Ferienhof "An der Weide"](http://www.ferienhof-an-der-weide.de/ferienwohnungen.html), Kurort Gohrisch

[2016-06-09 14:00] ehmry commented on #2002
Fixed at 67a931b.

[2016-06-09 14:03] nfeske commented on #1985
Another option, similar to this year's:
* http://www.villa-lueckendorf.com/

[2016-06-09 14:28] ehmry commented on #2003
I did it for looks and to add just enough information for ``uname -a`` to work, but I would agree its not worth the hassle. I've replaced the builtin values with zero length strings at fbc8987, but this information was and still is overridable at the VFS.

[2016-06-10 13:12] chelmuth commented on #2001
Works like a charm and merged into staging.

[2016-06-13 09:58] ehmry commented on #1502
I was thinking about this over the weekend, and after looking at the Input session I had an idea. If keycodes are expressed as **int** on input events and there are less than 2^16 keycodes, than a UTF-16 codepoint could be stored in the high keycode bits. This would send both the raw keycodes to SDL applications and expose a character stream to components like terminals.

I think that to map keys

[2016-06-13 10:38] m-stein commented on #1985
We could now finish reservation for 16 people in the Villa Lückendorf for 12.-15. of May 2017. Any objections? Otherwise I would proceed tomorrow.

[2016-06-13 11:37] chelmuth commented on #1935
The alternate stack must use the stack area as, e.g., `Thread::myself()` depends on this property.

[2016-06-14 11:09] alex-ab commented on #1980
please review 1719d8101f6c880425410e676d75b3e858170502 to fix this issue

[2016-06-14 11:21] alex-ab commented on #2006
The ahci model works. The commit 'vbox: try to cache ..." is optional and may be skipped.

[2016-06-14 12:46] ehmry opened #2007 "Unintuitive VFS stat modes"
Backwards compatibility with Unix C is practical, but it takes experience to realize that these are octal numbers:

[code]

I would like to keep these modes but add modern C++ type accessors.

[2016-06-14 13:06] chelmuth commented on #2006
Did you notice any performance gain when switching from IDE to AHCI?

[2016-06-14 13:10] alex-ab commented on #2006
Without ''vbox: try to cache ...' - no. With it i got - unstable - peaks above 100MB/s writing data.

[2016-06-15 09:13] nfeske commented on #2007
Good point. Your suggestion makes me wonder, whether we should keep the bit definitions at all. According to your implementation of the accessors, the bits are mutually exclusive (I was not sure about that when introducing the enum). So wouldn't a plain enum suffice. This would spare us the bit-fiddling hassle.

[2016-06-15 17:34] alex-ab commented on #1873
The both commits avoid the BSOD in Windows. Vbox uses statvfs/statfs to get information about the shared folder (size, in_use, block etc) -  which however is not implemented for Genode reasonable. Without such support, the values shown in the Guest are for now bogus (512M).

[2016-06-16 07:55] skalk commented on #1997
The output gets distorted, because now the screenline is wider than the framebuffer driver client expects it to be. Our framebuffer clients do not distinguish between screenline and showed width. A simple fixup would be to turn the "buffered" option of the driver to a mandatory feature, and to correctly blit from the buffer given to the client (shown width == screenline) to the framebuffer used by

[2016-06-16 08:42] alex-ab opened #2009 "x86: synchronize startup of acpica and platform driver"
The new acpica application handles all dynamic ACPI events during lifetime. If using it with a scenario with hardware drivers, it must be taken care that the application does not run concurrently to the drivers during setup/initialization of acpica. This issue should be used to discuss opinions about general solutions and also serves as stopgap solutions for now.

[2016-06-16 09:09] alex-ab commented on #2009
b9336169aba59bd2fa3a7e8505ccab7ba06400ee addresses the issue and helps in scenarios like turmvilla, to delay the driver startup until the ACPI startup is done.

[2016-06-16 09:24] chelmuth opened #2010 "Review implementation of fstatfs()"
The current implementation of `fstatfs()` is a stub and not connected to the VFS in _vfs_plugin.cc_. I'm inclined to replace the stub by an implementation that sets `errno = ENOSYS`, but this may break some ports. Alternatively, we may extend the VFS and further the file-system session interface by means of fstatfs.

The current state is dangerous because it pretends to support the feature but mer

[2016-06-16 09:32] chelmuth commented on #1997
I pretty much like your idea!

[2016-06-16 09:45] ehmry opened #2011 "componentize rump_fs"
Also increases the amount of open file descriptors, and adds support for the root session argument.

Fixed at 2f66da10acf47935dd86abd80e78650ea6240bdc

[2016-06-16 10:02] nfeske commented on #2009
Why do you let acpica write a file, and not just produce a report?

[2016-06-16 10:13] chelmuth commented on #2009
@alex-ab  after our offline discussion and @nfeske's remark, it would be great if you rework the preliminary fix to use a separate *acpi_ready* report, which can be observed by the *platform_drv* as distinct ROM.

[2016-06-16 10:14] m-stein commented on #114
I'm currently working on a virtual NAT component. My first goal is to do simple port forwarding. Therefore, I created a scenario with a NIC bridge that has two clients, an HTTP client and my NAT component. The NAT has one client, an HTTP server. so HTTP client and NAT are in the "public" net and the HTTP server is in a "private" subnet, reachable only through the NAT IP + port 80. I'm building the

[2016-06-16 12:15] chelmuth commented on #114
I like your approach as it needs no "outer" networking configuration and runs just on Genode. But, please be aware that nic_bridge is an aged component and needs significant reworking at various places - mind the current issue reported on the mailing list. So, don't let the current implementation guide you into false directions ;-)

[2016-06-16 12:32] m-stein commented on #114
@chelmuth Thank you for the hint.

[2016-06-16 12:43] chelmuth commented on #1544
So it seems I have the pleasure to close this issue. I had a great time in Heeselicht and am looking forward to #1985.

[2016-06-16 12:43] #1544 closed

[2016-06-16 13:36] nfeske opened #2012 "Supplement base/log.h with raw output function"
The new `base/log.h` interface features functions for printing log messages, warnings, and errors. For low-level debugging, it would be convenient to also have a `raw` function that targets the platform-specific kernel debugger, if available. This would spare us the hassle with dealing with archaic kernel interfaces directly when working on low-level framework code.

[2016-06-16 13:54] m-stein commented on #2012
:+1:

[2016-06-16 14:10] ssumpf opened #2013 "USB: fix `find_next_bit`"
`find_next_bit` returns the wrong offset for sizes above 64 bit, this leads to some HID devices are not being initialized properly.

[2016-06-16 18:40] alex-ab commented on #1962
@chelmuth: please have a look - f576b9a6179d2a1add605a6f3eccf803c137ad4f adds a server that takes ACPI events and transform it to Genode input events

[2016-06-17 08:02] skalk commented on #2012
Maybe we can use this also within core's bootstrap code, thereby making a core-specific log implementation superfluent?

[2016-06-17 08:12] cnuke commented on #2002
@chelmuth, @nfeske please merge b03513a to staging.

[2016-06-17 08:25] nfeske commented on #2012
The core-specific log backend is still needed (because core does not open a LOG session like normal components so) but by using the new raw_write_string function, the log backend could be implemented in a kernel-agnostic way. The only problem is NOVA where the function is empty at the moment. Here the current log backend (base-nova/src/include/base/internal/core_console.h) uses a serial driver bec

[2016-06-17 08:27] nfeske commented on #2002
done.

[2016-06-17 09:16] skalk commented on #2012
I see, thanks for the explanation.

[2016-06-17 09:40] alex-ab commented on #1962
@chelmuth: had to update the commit, is now 8d066b8d1d8ecd9bb90b02a1db8142e21836c544

[2016-06-17 10:37] alex-ab commented on #2009
@chelmuth, @nfeske: i changed the commit accordingly 97f73c9238599f5ebb82e3786b37b9fa9fca3360.

The acpica now reports the state via a specific 'acpi_ready' rom. The downside is that platform driver now has to handle this case specifically by open up a extra second ROM with the very same structure as the already in use system 'ROM'. Beforehand this was all part of just one system ROM.

[2016-06-17 10:58] nfeske commented on #2009
Thank you. The downside that you described will disappear once we introduce a dedicated "system_agent" component that infers the system state from the reports gathered by various components (e.g., acpica, platform_drv, device drivers, block cache, a user-defined wish system state...). This agent will then be (the only one) in charge of defining the global system state.

For now, the current soluti

[2016-06-17 12:00] cnuke commented on #2002
@nfeske please also merge 9d19ab9 to staging.

Thanks @reet- for reporting.

[2016-06-17 12:40] alex-ab opened #2014 "add noux-pkg/less"

[2016-06-17 12:45] alex-ab commented on #2014
Running noux_bash.run and entering
```diff -u home/diff_me_a.txt home/diff_me_b.txt | less ```
leads to a message
```Missing filename ("less --help" for help)```
;-( - Still,  ```less --help```  "works", but that is not what i wanted ... Any ideas ?

[2016-06-20 12:06] m-stein commented on #114
The NAT component now reads routing rules from its config and forwards TCP packets from the public to the private net accordingly. The HTTP server in the private net answers with an ARP request for the HTTP client. This is the next issue to solve.

[2016-06-20 13:28] rishabhcemica opened #2015 "Command not found:create_builddir"

[2016-06-20 14:08] nfeske commented on #2015
Can you please post the complete output that you see after executing the command?

Please check that you have all the packages installed that are mentioned at the beginning of Section 2 of the documentation (http://genode.org/documentation/genode-foundations-16-05.pdf).

[2016-06-20 15:33] rishabhcemica commented on #2015
now problem is solved thank you for replying

On Mon, Jun 20, 2016 at 7:38 PM, Norman Feske <notifications@github.com>
wrote:

[2016-06-20 15:37] rishabhcemica opened #2017 "make run/demo from build directory is not working"
/bin/bash: /home/rishabh/genode-16.05/tool/run/run: /usr/bin/expect: bad interpreter: No such file or directory
Makefile:261: recipe for target 'run/demo' failed
make: *** [run/demo] Error 126

[2016-06-20 15:51] nfeske commented on #2017
The error message is literally telling you what is missing: "/usr/bin/expect: bad interpreter: No such file or directory". Please install the "expect" package.

Please note that the required installed packages are documented in Section 2 of the documentation. I kindly request you to follow the documentation and to carefully read the error messages before you consider to open an issue at GitHub. Th

[2016-06-20 15:52] nfeske commented on #2015
What was the problem?

[2016-06-20 15:54] rishabhcemica commented on #2015
some packages were missing.

On Mon, Jun 20, 2016 at 9:22 PM, Norman Feske <notifications@github.com>
wrote:

[2016-06-20 15:56] rishabhcemica commented on #2015
sorry for disturbing you , i am new to genode.

On Mon, Jun 20, 2016 at 9:24 PM, RISHABH PANDEY <rishicemica@gmail.com>
wrote:

[2016-06-20 16:00] nfeske commented on #2015
No problem. Would you mind closing the issue?

[2016-06-20 16:01] rishabhcemica commented on #2015
ok

On Mon, Jun 20, 2016 at 9:30 PM, Norman Feske <notifications@github.com>
wrote:

[2016-06-20 16:01] #2015 closed

[2016-06-20 16:01] #2017 closed

[2016-06-21 08:23] ehmry commented on #2007
Looking at the libc code makes me think that either the mode bits stay the same, or they are made into an enum and uid and uid are dropped, but that depends on the future of Noux and the VFS.

[code]

[2016-06-21 10:01] skalk opened #2018 "Heeselicht scenario"
At this year's Hack'n'Hike, I've tried to make my daily Genode operating system setup reproducible for others. This issue documents how to obtain a USB live system featuring Genode. The setup is able to make your so far used, unmodified operating system available to you within a VirtualBox VM, while you're playing with Genode natively.

[2016-06-21 10:43] chelmuth commented on #2014
less seems to check `isatty(fd0)` in *edit.c:697*, which should return false in case of input from a pipe. Either noux or the libc seem to lack correct handling input from pipes vs. tty.

[2016-06-21 11:01] m-stein commented on #1985
### Accommodation

We finished reservation of the next Hack'n'Hike accommodation. Some info:

#### Time
* Check-in as of 3 pm on May 12th
* Check-out till 12 am on May 15th

#### Location
Villa Lückendorf, Kammstraße 34, 02797 Oybin
* [Homepage](http://www.villa-lueckendorf.com/cms/en/3/Home)
* [Open Street Maps](http://www.openstreetmap.de/karte.html#?zoom=15&lat=50.83288&lon=14.75248&layers=B000

[2016-06-21 11:56] skalk commented on #2018
The Heeselicht scenario is based on the Turmvilla scenario provided by nfeske. In contrast to the original scenario, you are not forced to install a specific Linux setup on a designated machine. You can use your home-computer with an already running operating system instead. The Heeselicht setup gets installed on an USB stick, and is booted from there.
Nevertheless be careful: this is still experi

[2016-06-21 12:15] ssumpf opened #2019 "usb: update to recent Genode APIs"

[2016-06-21 12:46] skalk commented on #2018
In addition, when you successfully booted Genode from USB stick and your previous installed OS from harddisk in a VM, I would recommend you to install the [VirtualBox guest additions](http://download.virtualbox.org/virtualbox/4.3.16/VBoxGuestAdditions_4.3.16.iso) inside your guest OS. Thereby you enable features like mouse-pointer integration, VM window resizing, and most interesting shared folder

[2016-06-21 17:10] ehmry opened #2020 "no convenient dhcp lease notification for lwIP"
When using lwIP for native applications, I've found no convenient means of waiting for the a DHCP transaction to complete before attempting to use the network, other than simply sleeping for a few seconds.

Perhaps a wrapper with a signaling interface could be constructed over lwIP. ``Component::construct`` can installer a signal handler and return almost immediately, and the bulk of the component

[2016-06-22 08:35] skalk commented on #1987
@chelmuth: can you please cherry-pick commits:  	673c69e 8437f4a 1fb6e1f 0b76891 and  	224da91 to staging?

[2016-06-22 09:08] ehmry opened #2021 "curl spec directory has moved"

[2016-06-22 10:24] #1424 closed

[2016-06-22 10:24] #1966 closed

[2016-06-22 10:24] #1995 closed

[2016-06-22 10:24] #1996 closed

[2016-06-22 10:24] #1998 closed

[2016-06-22 10:24] #1873 closed

[2016-06-22 10:24] #1901 closed

[2016-06-22 10:24] #1980 closed

[2016-06-22 10:24] #1984 closed

[2016-06-22 10:24] #1999 closed

[2016-06-22 10:24] #2002 closed

[2016-06-22 10:24] #2004 closed

[2016-06-22 10:24] #2005 closed

[2016-06-22 10:24] #2012 closed

[2016-06-22 10:24] #2013 closed

[2016-06-22 10:39] chelmuth commented on #1987
Merged the series.

[2016-06-22 10:53] chelmuth commented on #2019
@cnuke could you please have a look at the merged e9ceba6c7b8e6be6df04d82628caaf688ead7486. I had to look twice to understand that the class variable has to be instantiated in the usb driver.

[2016-06-22 11:14] chelmuth commented on #2001
Merged with 1cfa14b2f208b6c7b11a541d291a58f07122e9f2

[2016-06-22 11:14] #2001 closed

[2016-06-22 11:31] chelmuth commented on #2006
Merged to staging. I left out acc1947 for now because I was not sure if it should enter mainline.

[2016-06-22 11:43] chelmuth commented on #2000
The NOVA head a392e5824fa2de1ac33a50967dec50659600e6b7 referenced in nova.port is "Debugging - show all error messages". I'd like to merge the work into staging but need to know the correct commit head for the port.

[2016-06-22 11:49] chelmuth commented on #1988
Merged with 49946163461a0e2b1a15f660f998a9f225e57ce5

[2016-06-22 11:49] #1988 closed

[2016-06-22 12:40] chelmuth commented on #1881
@mennovalkema would you mind to close this issue?

[2016-06-22 12:42] chelmuth commented on #1911
No news since two months, so, I close this issue.

[2016-06-22 12:42] #1911 closed

[2016-06-22 12:45] #1881 closed

[2016-06-22 13:03] chelmuth commented on #1777
Merged the commits above to staging.

[2016-06-22 13:43] chelmuth commented on #1665
Does this still happen with 16.05 or could we close this issue?

[2016-06-22 13:43] chelmuth commented on #1664
Does 16.05 still suffer from this issue?

[2016-06-22 13:56] nfeske commented on #1665
The issue refers to the old USB driver. I'll close it.

[2016-06-22 13:56] #1665 closed

[2016-06-22 16:12] m-stein commented on #114
My small HTTP test works with the NAT component doing port forwarding on public requests and source NAT on replies from the subnet. I've also cleaned up the code a little bit and removed the redundant declaration of ``Mac_adress`` in ``include/net`` and ``include/nic_session`` respectively.
Next issues:
* Once created info objects for established TCP links are never destructed in the NAT
* The NAT

[2016-06-22 19:09] ehmry commented on #1965
I'd say I have this pretty well tested now, but I'd like #1891 to clear before I push.

[2016-06-23 07:56] skalk commented on #114
@m-stein: did you tested the nic_bridge once again after removing the Mac_address? Originally the Mac_address in `nic_session` represented the byte array only, whereby the extended version in `net/netaddress.h` defines copy constructors, assignment and equality operators, and as a template does not only work for MAC addresses, but IPv* addresses too.

[2016-06-23 08:00] chelmuth commented on #2019
@ssumpf we need a fix for the following link error
[code]

[2016-06-23 08:03] chelmuth commented on #1777
@ehmry could you please have a look at the current staging branch and the following build error?
[code]

[2016-06-23 08:05] chelmuth commented on #1777
Maybe I made a mistake while cherry-picking but we also get
[code]

[2016-06-23 09:34] m-stein commented on #114
As I'm using the ``nic_bridge`` component in my NAT test, yes, but ``test-nicbridge_static`` also still works. By now, I found no technical reason for not using the Net MAC address in the NIC session. But maybe I've missed a thing?

[2016-06-23 09:45] ehmry commented on #1777
@chelmuth The problem is there was an operator for copy assignment (&) but no operator for move/temporary assignment (&&). Fixed at 6630f7123c16ffe6ff96d61fb838bd9a60192053.

[2016-06-23 11:14] chelmuth commented on #1777
With 6630f71 *path_from_label* still produces the error above.

[2016-06-23 11:16] chelmuth commented on #1777
Additionally `make run/libc_vfs_fs` produces
[code]
Any hints?

[2016-06-23 12:20] ehmry commented on #1777
The problem now is the compiler isn't converting the operator arguments to const, this feature is looking more and more dubious.

Fixed at ebdc00b81cd5384c086a0f78c56179e6cf38573f

[2016-06-23 12:53] ssumpf commented on #2019
@chelmuth: Please review commits:  3949bd2, 8013285, 40952e7 and possibly move them to staging.

[2016-06-23 14:06] chelmuth commented on #1777
The copy constructor for `T` should take a `T const &` parameter. We should investigate what goes wrong here...

[2016-06-23 14:17] chelmuth commented on #1777
From a close look at the `Path<>` constructors, I'm sure some of them are missing a call to the correct base-class constructor `Path_base(char *buf, size_t buf_len,...)` because `Path_base::_path` and `Path_base::_path_max_len` are constant members.

[2016-06-23 14:33] chelmuth commented on #1777
I removed the commits in this issue until we have compilable state. @ehmry as soon as you are ready with a new series I'll merge your work.

[2016-06-23 20:01] parfito commented on #2018
@skalk  Thank you for the clarity of this nice post.
I tried the script on my two laptops, a Dell and HP Elitebook, but they all hung up during startup, but at different stages. So I decided to order the Lenovo X201 that will soon be delivered because I am very eager to start using Genode as OS virtualization support.

[2016-06-23 20:27] alex-ab commented on #2000
https://github.com/alex-ab/NOVA/commit/db9bd2dada63382b761d169651ff7e2f75df3eaa is based on current r9

[2016-06-24 08:30] skalk commented on #2018
@parfito Thank you for your kind words. Too bad that it does not run on your laptops. Would you mind to provide some logging output from the failing boots?

[2016-06-24 08:44] cnuke commented on #1987
@chelmuth please merge 7f49504, a533da7, 3d816ec and bbb0673 to staging.

[2016-06-24 12:47] parfito commented on #2018
Here is the output from the dell, from the start until i made `start linux`
[dell_output.txt](https://github.com/genodelabs/genode/files/331742/dell_output.txt)

[2016-06-24 12:57] chelmuth commented on #2018
Your log file states that the ahci_drv did not find an AHCI controller. Is this expected?

[2016-06-24 12:57] ssumpf commented on #2018
@parfito: As far as I can see it, the AHCI driver does not come up
`[init -> ahci_drv] No AHCI controller found`
I assume the Linux is booted from hard  disc, which in turn will not work. Is it possible to set the hard disc controller to 'AHCI' in your BIOS?

[2016-06-24 13:04] MartijnVerschoor opened #2022 "fs_rom does not clear dataspace on update"
In the _update_dataspace() function, a new dataspace is allocated when the updated file has outgrown the existing dataspace. If the file's size doesn't change or becomes smaller, the existing dataspace is reused, but it is not cleared. In the latter case, residual information from the previous file is visible.

As a crude workaround we enforce allocating a new dataspace on each update (see patch).

[2016-06-24 14:20] parfito commented on #2018
Ok, you are right. I just set the controller to AHCI and it is now detected. However other errors appeared such as

And finally, when I issued the `start linux `command, it prints

and the window disappears.
Here is the complete output
[dell_output6.txt](https://github.com/genodelabs/genode/files/331858/dell_output6.txt)

[2016-06-24 14:45] ssumpf commented on #2018
@parfito: Okay, your hard disc is on port 1 not 0,
`[init -> ahci_drv] 		#1: ATA`
I guess you have to change the VirtualBox configuration in the run script and maybe the .vdmk file, I will have to look this up though.

[2016-06-24 14:50] ssumpf commented on #2018
@parfito: Maybe it is already sufficient to set the policy of the 'ahci_drv' in heeselicht.run from
`<policy label="cli_monitor -> linux -> vbox -> sda" device="0"/>`
to
`<policy label="cli_monitor -> linux -> vbox -> sda" device="1"/>`

[2016-06-24 14:54] ssumpf commented on #2018
@parfito: Also if your Linux is not on 'sda' in your build environment, you would have to change this stuff in the run script accordingly:
`puts "sudo blockdev --getsz /dev/sda"
set vmdk_blocks [ exec sudo blockdev --getsz /dev/sda]
set vmdk_fd [open [run_dir]/sda.vmdk w]
puts $vmdk_fd {# Disk DescriptorFile
version=1
CID=c976fef0
parentCID=ffffffff
createType="fullDevice"
Extent description}
puts

[2016-06-24 17:46] parfito commented on #2018
@ssumpf, Great, It works.  I thought my machine was not yet supported.
May be It would be possible to make it work on my HP too.... I will see it later. However, I include its output if someone want to take a look.
[output_hp.txt](https://github.com/genodelabs/genode/files/332208/output_hp.txt)
Thank you very much for your help.

[2016-06-24 20:00] ssumpf commented on #2018
:+1: Glad I could help!

[2016-06-26 02:45] NobodyIII opened #2023 "File_system client interface lacks functions to receive signals when server acknowledges packets or is ready for more packets"
In my fs_filter component (much like the vfs server), I am trying to allow multiple clients fast, non-blocking access to multiple filesystems. To do this without several threads, my component needs to know when each filesystem server unblocks so it can send more packets. Unfortunately, the File_system::Client interface (which File_system::Connection inherits) doesn't provide a way to receive signa

[2016-06-26 06:22] ehmry commented on #2014
Yes, ``isatty`` doesn't always behave as expected, I think noticed this when tar spawns gzip and attaches a pipe.

[2016-06-26 17:46] ehmry opened #2024 "deprecate tar_fs"
**tar_fs** functionality is a subset of the **vfs** server.

[2016-06-27 07:01] ehmry commented on #1891
rebase

[2016-06-27 09:40] ehmry commented on #1891
I'm adding a few extra commits on the issue, I would like to get these in before componentizing the VFS server.

[2016-06-27 09:45] ehmry opened #2025 "noux: execve environment buffers are too small"
When running the toolchain the arguments and environments passed from gcc to its helper tools can overrun the buffers at the Noux session.

[2016-06-27 11:51] skalk opened #2026 "enable TOR proxying for NIC clients"

[2016-06-27 12:56] ssumpf opened #2027 "base-hw: RISC-V fix aligment error in core"
This came in with release 16.05.

[2016-06-27 15:17] cproc opened #2028 "vbox: add a configuration option for the virtual XHCI controller"
Currently, the virtual XHCI controller is always enabled if the virtual OHCI controller is enabled in the '.vbox' file. Since the XHCI controller requires access to a 'usb_devices' ROM file and is not always needed together with the OHCI controller, a separate configuration option to enable the virtual XHCI controller would be useful.

[2016-06-27 16:59] cproc opened #2029 "vbox: add configuration option to force IOAPIC use"
The virtual PCI model delivers IRQs to the PIC by default and to the IOAPIC only if the guest operating system selected the IOAPIC with the '_PIC' ACPI method and if it called the '_PRT' ACPI method afterwards. A Genode guest never calls these functions, so IRQs can end up at the wrong interrupt controller (for example when using the USB driver on NOVA). A VirtualBox configuration option to enforc

[2016-06-27 17:29] cproc commented on #2029
Depends on #2028.

[2016-06-27 18:11] ssumpf commented on #2029
@cproc: :+1:  very good work, especially the finding it out part!

[2016-06-28 07:14] alex-ab commented on #1664
Unfortunately, yes.

[2016-06-28 08:56] skalk commented on #1372
What about this issue? It seems everybody was fine with the intention, but it did not evolve further. If I remember correctly, the problem was that certain interactive, non-automatic tests should not be moved to attic, strictly speaking the demo.run script. But even if we leave out this file(s), why didn't we moved the other run-scripts anyway?
From my perspective, I would even vote for removing n

[2016-06-28 09:11] #1743 closed

[2016-06-28 09:11] #1744 closed

[2016-06-28 09:11] #1821 closed

[2016-06-28 09:11] #1935 closed

[2016-06-28 09:11] #1997 closed

[2016-06-28 09:11] #2003 closed

[2016-06-28 09:11] #2006 closed

[2016-06-28 09:11] #2011 closed

[2016-06-28 09:11] #2019 closed

[2016-06-28 09:11] #2021 closed

[2016-06-28 09:11] #2000 closed

[2016-06-28 09:27] chelmuth commented on #2024
The patch seems to remove only the run script. Also, please update documentation files (e.g., *doc/components.txt*) when removing components.

[2016-06-28 10:16] nfeske commented on #1372
In the context of @cproc's work on automating the USB HID test, we came up with the idea to allow a run script to be usable in both an interactive and automated way by evaluating an argument `---auto` passed to the run tool. The autopilot would always specify this argument (hence executing the run script in an automated way) whereas a freshly created build directory would run the interactive versi

[2016-06-28 11:11] skalk commented on #1372
Thanks for the insights.
I suppose, the `--auto` option will return in in a common way when run-scripts do not support automated testing. So that we get rid of `autopilot.list`, and instead execute `repos/*/run/*.run` with the `--auto` option in future?

[2016-06-28 11:57] ehmry commented on #2024
@chelmuth Properly removed at 38ba5a0.

[2016-06-28 13:26] nfeske commented on #1372
I haven't thought that far. But I fail to see the appeal of removing the `autopilot.list`. What is the problem with it?

[2016-06-28 15:04] ehmry commented on #1745
I'm closing and will reopen at the world repository when the VFS constructors stabilize.

[2016-06-28 15:04] #1745 closed

[2016-06-29 07:42] skalk commented on #1372
My intention was not to care for this file when enabling automated tests, but nevermind it is not important.

[2016-06-30 10:48] skalk commented on #2026
I've started to look into TOR (and the gaping abyss looked back ;-)). My first steps are documented in the commit chain on my topic branch: https://github.com/skalk/genode/tree/issue%232026
If somebody likes to take over, I'm in holidays for the upcoming 3 weeks, so feel free to do so.
First indications for possible upcoming problems are:
* error message about our openssl library being built witho

[2016-06-30 11:00] skalk commented on #2018
@parfito regarding your HP laptop, there is a function missing (AcpiOsStall) in our apcica library port, which is not needed when executing on top of our hardware, but on the HP it is used. I've written a small patch that should resolve that issue, can you give it a try? It's here: https://github.com/skalk/genode/commit/9bad027414f1eae6badf36733c1b56397fcfbcea

[2016-06-30 15:09] parfito commented on #2018
Hello @skalk I have just tried it. Now it calls for another function - Timer. Here is the output log.
[output_hp1.txt](https://github.com/genodelabs/genode/files/341734/output_hp1.txt)

[2016-07-01 07:39] chelmuth commented on #2007
First, we should go for changing the bit field to an enum. I'll incorporate the changes into my [vfs branch](https://github.com/chelmuth/genode/tree/vfs) as soon as they become available.

[2016-07-01 08:20] chelmuth commented on #1787
I'd like to merge this cleanup.  @ehmry  could you please squash and rebase these changes on current master?

[2016-07-01 08:43] ehmry commented on #1777
The move assignment troubles have gone away, rebasing against master...

[2016-07-01 08:45] skalk commented on #2018
Ah ok, seems like the acpica component did not used a timer session on my PC at all. So there is a missing route to the timer service for this component. You have to add this explicitly inside the route rules of the acpica configuration. Have a look for it in commit cc00888e53719dd8a20ad8e5374b295c5f4b62e6.

[2016-07-02 15:35] parfito commented on #2018
Timer route configured, but there is still a problem.  However we are progressing. Here is the output
[output_hp2.txt](https://github.com/genodelabs/genode/files/344597/output_hp2.txt)

[2016-07-02 17:52] ValiValpas opened #2030 "base-linux: nic_drv causes segmentation fault in libc"
I'm encountering segmentation faults when I use the nic_drv on base-linux. I've already noticed this some time ago but I couldn't find a corresponding issue here on github.

When I run e.g. `netperf_lwip` with the 16.05 release, I get the following output:
`[init -> nic_drv] Segmentation fault (signum=11), see Linux kernel log for details`

dmesg shows some more details:
` nic_drv[7628]: segfault

[2016-07-04 11:05] alex-ab commented on #2018
Please cherry-pick the commits b4ffefd561f1d4c6c449fde3f8020c7f6729ab6b and 283d6bc00542cd506a17c36453b89af9ba1b0480 and post your ouput

[2016-07-04 21:28] parfito commented on #2018
[Uploading output_hp3.txt…]()

[2016-07-04 22:09] parfito commented on #2018
[output_hp3.txt](https://github.com/genodelabs/genode/files/346869/output_hp3.txt)

[2016-07-05 09:43] cnuke opened #2031 "ram_blk: transition to the new base API"

[2016-07-05 11:21] alex-ab commented on #2018
According to you output the usb_drv does not manage to announce the "Block" session, therefore rump_fs will not start waiting for this announcement. @ssumpf: does the output of usb_drv tells you something suspicious ? @parfito: You may also try to add the bios_handoff option to your usb driver
``` <config uhci="yes" ehci="yes" xhci="yes" bios_handoff="no"> ```
but this is just guessing now in the

[2016-07-05 12:12] cnuke opened #2032 "ahci: overlapping request may lock up the device"
[code]

[2016-07-05 13:10] ssumpf commented on #2018
@parfito, @alex-ab: Actually not, there are two EHCI controllers present, two three port root hubs, and one 8 port hub. But there are no other devices (like the USB stick) that register at one of those hubs. Could you try a different USB stick?

[2016-07-05 13:34] cnuke opened #2033 "ahci: make policy checking more fail-safe"

[2016-07-05 13:57] ehmry commented on #1787
Rebased against master. fba1454e3fdb95b1c6aa577ee657bc2d03ce00c7 is dangerous because it changes the result of ''Session_label(args)'', but I think it is worth it to decouple Session_label from Session_args.

I'm adjusting my Nix work to run against master, and I'll need this to clear to get it to work, otherwise I have to worry about rewriting both label and filename on ROM session requests.

[2016-07-05 15:52] parfito commented on #2018
I tried another USB stick, then the bios_handoff option without any subsequent change or improvement compared to previous run. Here are the outputs,
[output_hp4.txt](https://github.com/genodelabs/genode/files/348107/output_hp4.txt) for 8GB usb stick;
[output_hp5.txt](https://github.com/genodelabs/genode/files/348111/output_hp5.txt) for turning off the bios_handoff

[2016-07-05 17:16] ehmry commented on #1787
@nfeske I've split the compound label constructor to a prefixed_label function as you suggested.

[2016-07-05 20:24] cproc commented on #2030
One recently introduced bug is that currently a stack area gets attached in hybrid Genode/Linux applications (like the nic_drv). If I remember correctly, it was at this code location: https://github.com/genodelabs/genode/blob/93845e1de5085395da6c3b75630aab129b71e722/repos/base-linux/src/lib/base/platform_env.cc#L152. This can have the effect that a memory region which is already in use (for exampl

[2016-07-06 11:06] #1789 closed

[2016-07-06 11:06] #2024 closed

[2016-07-06 11:06] #2025 closed

[2016-07-06 11:06] #2027 closed

[2016-07-06 11:06] #2028 closed

[2016-07-06 11:06] #2029 closed

[2016-07-06 12:38] nfeske commented on #1787
I added the first commit ("Move Session_label from os to base") to staging. @ehmry please review my fixups.

[2016-07-06 12:54] nfeske commented on #1787
I also added the second part of the change to staging, with the only reservation being the part I annotated inline. @ehmry I would very much appreciate a fixup regarding this part. I nevertheless put it to staging to see what the buildbot/autopilot is saying.

[2016-07-06 13:40] ehmry opened #2034 "serve next layer configuration from Nic session"
Nic servers that provide interfaces to overlay networks seem to have usually IP addressing information present, for example, OpenVPN, cjdns, and ZeroTier all assign their own IP addresses. TOR (#2026) also has something like this with the **TransPort** and **VirtualAddrNetwork**.

Perhaps the Nic session could be amended with a method like `Rom_dataspace_capability config()`. In the default case,

[2016-07-06 13:45] cnuke opened #2035 "ahci: check DHRS bit during initialization"

[2016-07-06 13:50] ehmry commented on #2034
Additionally, if the configuration was published to a report or served as ROM, it could be then attached to a VirtualBox shared folder thru the VFS, and then a script native to the VM OS could setup addressing on the interface.

This line of thought started with embedding a DHCP server at a Nic session, but this seems safer to implement.

[2016-07-06 14:08] nfeske commented on #2034
Interesting idea. We could even take it a bit further by embedding an actual ROM session into the NIC session (similar how nitpicker aggregates a framebuffer and input session). This way, the ROM could even carry dynamic information about the network such as the link state. Also the MAC address could be supplied to the client in this way.

[2016-07-06 15:21] ehmry commented on #1787
I've cleanup the ROM label rewriting at fca6e11d8af20fe1154cdd0adeaf28b20b31eab9

[2016-07-06 16:14] nfeske commented on #2030
@ValiValpas could you please give commit 12be17d475091e05543494ce1ea28e8eb2e7da29 a try?

[2016-07-06 17:04] ehmry commented on #1787
fca6e11 needs fixup 8b8d7a1 :(

[2016-07-06 17:35] nfeske commented on #1787
Thank you for reworking that part. I added both fixups to staging.

[2016-07-07 08:18] ehmry opened #2036 "check report donation and buffer_size at report_rom"
Clients may acquire sessions with zero-length report buffers.

[2016-07-07 08:23] ehmry commented on #2036
This patch applied against the #1787 changes.

[2016-07-07 12:02] ValiValpas commented on #2030
@nfeske I'd love to, however, I struggle fetching the specific commit (it's not an a branch).

[2016-07-07 12:04] cproc opened #2037 "base: 'Thread::mystack() function to find out current stack boundaries"
When starting the Arora web browser on the current Genode master branch, a page fault occurs. This happens, because the main application thread is using a secondary stack, but when the WebKit engine calls 'Thread::myself()->stack_base()' and 'Thread::myself()->stack_top()' to find out the boundaries of the current stack, the boundaries of the primary stack are returned instead.

A static 'Thread::

[2016-07-07 12:09] nfeske commented on #2030
The corresponding branch is here: https://github.com/nfeske/genode/commits/lx_hybrid_stack_area

[2016-07-07 12:21] ValiValpas commented on #2030
Thanks. The commit does indeed fix this issue.

[2016-07-07 12:24] nfeske commented on #2030
Cool, thanks for testing! :-)

[2016-07-07 12:39] cnuke opened #2038 "iso9660: fix reading of large directory entries"

[2016-07-07 14:51] cproc opened #2039 "lwip: avoid failed assertion on nonblocking connect()"
When loading a web page over the network in Arora, an assertion in lwip fails with the error message "tcp_connect: can only connect from state CLOSED". More details are described in the lwip bug report at https://savannah.nongnu.org/bugs/?48416. The suggested solution is to disable assertions in lwip, but I guess we might rather want to leave them enabled and prevent the calling of 'tcp_connect()'

[2016-07-07 15:04] nfeske commented on #1787
I added a couple of minor fixups to the staging branch. As I was still not fully satisfied with the `Child_policy_redirect_rom_file`, I tried to simplify it by adding a `Session_label::prefix` method (commit 78dae090311598d5dbb9f4de62085aac254759b6). @ehmry Do you approve?

[2016-07-07 15:25] nfeske commented on #2022
Thank you for reporting! I think that I will take this issue as an opportunity to create a test for fs_rom.

[2016-07-07 15:53] ehmry commented on #1787
Yes, I can think of other situations where ''::prefix'' can be useful.

[2016-07-08 13:24] nfeske commented on #1787
The never-ending story goes on. ;-) I added a few more fixups to staging. Apart from the usual fixes of the automated tests, I changed the new API functions to avoid the use of pointers. This way, we can successively replace the occurrences of `char const *` by `Session_label const &`, e.g., in the connection constructors. It also allows us to use `==` for comparing strings instead of calling the

[2016-07-11 16:39] m-stein commented on #114
I've merged the back-end code of the uplink and the other interfaces (Session Components) in the NAT as far as possible. Most notably, the configuration interface, the routing decisions, and the packet modification are now generic over all interfaces.

From its config, the NAT component now takes and applies an IP routing table in the following form:
[code]
If the gateway attribute is not given (0

[2016-07-12 09:35] ehmry commented on #2023
This is a requirement for an asynchronous File_system VFS plugin, the client needs a non-blocking way of knowing when acks have been queued.

[2016-07-12 10:41] nfeske commented on #2023
The commit https://github.com/NobodyIII/genode/commit/db21ae2575e3c68d4955865d3d40b999d21f2fdf fixes the issue. I am waiting for the GCA signed by @NobodyIII before I can go forward with merging it into genodelabs/staging.

[2016-07-12 10:51] ehmry commented on #2023
Excellent

[2016-07-12 12:17] ehmry opened #2040 "asynchronous VFS I/O"
@chelmuth's work to expose a common network stack through a shared file system requires the VFS server to perform network I/O on behalf of a client without blocking other clients. I have an initial implementation of the callback API that has been discussed, but so far it has only been run against the current test scenarios. It has not been benchmarked, as comparisons cannot be made until we have s

[2016-07-12 12:57] #1787 closed

[2016-07-12 12:57] #2031 closed

[2016-07-12 12:57] #2033 closed

[2016-07-12 12:57] #2035 closed

[2016-07-12 12:57] #2037 closed

[2016-07-12 12:57] #2038 closed

[2016-07-12 12:57] #2039 closed

[2016-07-12 12:57] #2030 closed

[2016-07-12 14:09] nfeske commented on #2036
Nice! However, as the patch broke the clipboard I had to add a corresponding fixup. I added both commits to staging.

[2016-07-12 14:39] nfeske commented on #2040
Impressive work!

[2016-07-12 15:04] nfeske commented on #1787
@ehmry Now that this change entered master, it might be a good time to adapt the components of genode-world to it.

[2016-07-12 21:28] alex-ab commented on #1858
Handled by 0efd89f12b237cb80f83529c63df0de73008299f

[2016-07-12 21:28] #1858 closed

[2016-07-13 09:28] nfeske commented on #2023
I added the patch https://github.com/genodelabs/genode/commit/31cccf41af3f142e0fc8268dd47daaa7cb34b4ad to staging. @NobodyIII I refined the commit message (adjusted the subject to fit 50 characters, added a reference to the issue, and replaced your nick by your real name). Are you fine with those changes?

[2016-07-13 12:19] cproc opened #2041 "run: look for platform boot string at the beginning of a line"
When running the same kernel in a VM as on the host system and the kernel boot message from the VM appears on the log output, the run tool assumes that the host machine has rebooted unexpectedly. The problem can be solved by looking for the boot string only at the beginning of a line, since the VM output is prefixed with a label.

[2016-07-13 14:02] NobodyIII commented on #2023
Sure. Sounds good.
On Jul 13, 2016 3:28 AM, "Norman Feske" <notifications@github.com> wrote:

[2016-07-13 16:46] m-stein commented on #114
The NAT keeps track of proxified links through objects that occupy resources at the guarded RAM allocator of the corresponding NIC session component as well as the NAT port allocator.

These proxy-link objects now get destructed as soon as they are not needed anymore. For proxified TCP, the NAT keeps track of FIN packets and corresponding ACK packets. As soon has both sides of a the link have sent

[2016-07-13 16:47] ehmry opened #2042 "update fs_rom"
Fs_rom could be updated to the new component API, and the logging could be more helpful.

[2016-07-15 09:39] #2023 closed

[2016-07-15 12:36] ehmry opened #2043 "rump_fs expects null-terminated symlink targets"
File_system clients issue symlink write packets of strlen(), but rump_fs expects write packet lengths to include a null byte.

[2016-07-16 08:54] ehmry commented on #2036
I made a small escaping error in a log message, fixed at 6e898861586b8bfaeb2da888a74cc618cf87e2fc

[2016-07-16 08:57] ehmry commented on #1987
Nit_fb updated.

[2016-07-18 13:44] ehmry commented on #2040
I have an async version of the terminal plugin, put I don't think its useful until libc task switching is implemented.

[2016-07-18 14:58] chelmuth commented on #2018
The final life sign from usb_drv in all log files is `dev_info: new high-speed USB device number 2 using ehci-pci`. Any ideas?

[2016-07-18 15:24] chelmuth commented on #2036
The fixup did not make it into the master-branch update. @ehmry do you agree that 1c2ae00488ec916e9679d61d947753dcbf39d35b qualifies to close this issue?

[2016-07-18 15:35] ehmry commented on #2036
Yes, I think so.

[2016-07-18 15:35] #2036 closed

[2016-07-19 11:42] alex-ab opened #2044 "sel4: update to 3.* kernel version and extend support"

[2016-07-20 13:41] ehmry opened #2045 "Additional pixel format support"
Supporting 32bit RGB would be nice, and it would also be nice if the Framebuffer session could support arbitrary formats, which would eventually be converted to the driver format.

My immediate use case is to serve a 32 bit format session, upscale the buffer, then convert down to 16 bits.

[2016-07-20 14:15] chelmuth commented on #1742
I tried to reproduce the issue on current staging but KVM pointing device and keyboard worked with `make run/usb_hid`
[code]

[2016-07-20 17:12] ehmry commented on #1844
Fixed at 37b3d04b429ed976824e811bce4ecb8172cbcd77

[2016-07-21 13:28] chelmuth opened #2046 "wifi: scheduled scanning broken on Intel MVM based cards"
On MVM only the initial scanning of APs works. If wpa_supplicant changes from triggered scans to the scheduled-scanning hardware feature no further scan results are reported. Relevant log snippets follow.

[code]

[2016-07-21 14:04] chelmuth commented on #2046
19c16d9 works around this issue by disabling the report of the WIPHY_FLAG_SUPPORTS_SCHED_SCAN in the MVM MAC implementation. Now, MVM is used (like DVM) with triggered scans by wpa_supplicant.

[2016-07-21 15:30] ehmry commented on #1787
I have a small nitpick for the prefix function, d499b291b9d87f11fd9e12252425ea61999f549b

[2016-07-21 17:00] ehmry commented on #1987
Nic::Root updated at 428cac8bf3550f9643fc49d9e1c4099235c788e3

[2016-07-21 17:06] ehmry commented on #1787
Swapped the booleans around.

[2016-07-21 18:50] ehmry commented on #1987
Actually, ignore the Nic stuff for now, I will try and implement #2034 in two commits, the API transition and then the session changes.

[2016-07-26 10:39] ehmry commented on #2034
I have a long time interest in overlay networks, so I went ahead and implemented a good deal of this.

Right now I am able to run a [ZeroTier](https://github.com/zerotier/ZeroTierOne) Nic server, connect that to VirtualBox, and export the interface configuration to a guest OS using the VFS. In this scenario, the guest operating system receives a virtual MAC address and IP address, but the addressi

[2016-07-26 11:29] parfito commented on #2018
@chelmuth, what is wrong with this log?
I can even see a quite similar line (last from usb_drv) in other log files where the scenario runs correctly.

[2016-07-26 11:42] chelmuth commented on #2018
The intention behind my comment was to revive the discussion. I personally have no further ideas.

[2016-07-27 09:33] ehmry opened #2047 "Avoid absolute paths to host utilities in build system"
I don't have a /usr directory on my machine, which causes problems, but is actually not very hard to work around. I usually cherry-pick a patch onto each of my branches so this patch would make my life a bit easier :-)

[2016-07-27 11:12] chelmuth commented on #2047
I wonder if (as a better alternative to your patch) the shebang lines should be fixed by using `#!env <tool>`. Admittedly, I've no experience with the portability of this approach.

[2016-07-27 11:49] cnuke commented on #2047
Using `env` works in case there is no follow argument to the invoked program since you can only have one argument an in the shebang line.

[2016-07-27 12:19] ehmry commented on #2047
Which would not work in the case of 'make -f'.

[2016-07-27 12:20] chelmuth commented on #2047
That's a pity.

[2016-07-27 15:02] ehmry commented on #1965
I have patch for master at 82bd07a21185bd840890032d8b361379ffb938f8.

[2016-07-29 11:45] skalk commented on #2026
With the latest commits, TOR runs under Genode in principle. Nevertheless, it is not well integrated right now. Its a self-standing apllication, which doesn't offer a NIC session interface or similar. Anyway, you can test it right under Genode/Linux by issueing the tor_lx.run script. This script prepares a TAP device that is NATed to your actual network. The Genode TOR scenario listens in the priv

[2016-08-01 11:03] skalk commented on #114
IMO it would be preferable to define routing rules per session and not globally. For example `<route>...</route>` rules might be subentries of `<policy></policy>` tags.
Currently, I work on a TOR scenario, where I have a TOR component and a VM sharing an IP subnet, whereby the VM shall only connect to the TOR component, but the TOR component can also send to the outer world ("uplink" of the NAT co

[2016-08-01 12:59] ehmry commented on #2020
I'm thinking this can be solved with timeouts and retries.

[2016-08-01 12:59] #2020 closed

[2016-08-01 14:37] cproc opened #2048 "NOVA: keep revoked object in mapping database only if a sub node exists"
Currently, a capability received by a Genode component remains in the NOVA mapping database if the capability is deleted in the component. This is necessary to prevent the unwanted revocation of the capability from other components if the corresponding mapping database entries are further down the mapping tree. But it is not necessary to keep the deleted capability in the mapping database if no su

[2016-08-01 14:47] cproc commented on #2048
@alex-ab: please review and integrate https://github.com/cproc/NOVA/commit/ce248a3669f9125637cc61a576b1ba7e7e1c9fce

[2016-08-01 14:52] cproc opened #2049 "vbox: read 'force_ioapic' config option only once"
The 'force_ioapic()' function can be called quite often, so it would improve performance to read the config ROM only once and save the result.

[2016-08-02 09:43] alex-ab commented on #2048
done, please have a look

[2016-08-02 14:21] ehmry opened #2050 "update lwIP"
I've updated lwIP to version 2.0.0 which includes the TCP window scaling patch and other improvements. I've also enabled IPv6, but I have not added support for static IPv6 addressing in the libc plugin, nor have I tested automatic addressing yet.

[2016-08-02 14:42] ehmry commented on #2050
To clarify, I rewrote repos/libports/include/lwip/lwipopts.h to remove any defines that were the same as the default.

[2016-08-02 16:23] m-stein commented on #114
I've moved the routing rules into the policy tags, made the gateway attribute optional and replaced ip_addr/netmask by dst="x.x.x.x/x". Instead of proxy and proxy_ports attribute there is now only the proxy attribute. If set, the source ports of the interface are proxified (except for packets whose source port is a "port forwarding" port). The value of the proxy attribute is the maximum number of

[2016-08-03 08:28] skalk commented on #114
@m-stein great, thank you for adapting the configuration!

[2016-08-03 08:35] skalk opened #2051 "part_blk: transition to the new base API"
Reference #1987

[2016-08-04 14:48] ollseg opened #2052 "Integer wrap in Packet_stream_(sink|source)::packet_valid"
In os/include/os/packet_stream.h the packet_valid methods add two untrusted inputs together without overflow checks. The "size" value could potentially be very large, wrapping the result of offset + size to an unexpectedly small value.

[2016-08-04 15:06] chelmuth commented on #2052
Do you have a suggestion to solve the issue? From the top of my head I'd check `packet.size() <= _bulk_buffer_size` in the first line of the function.

[2016-08-04 15:15] ollseg commented on #2052
That would still potentially place the end of packet outside the bulk buffer. Perhaps changing the  offending comparison to (packet.size() < (_bulk_buffer_offset + _bulk_buffer_size) - packet.offset()) to check that the available buffer space is larger than the packet size?

[2016-08-05 15:59] m-stein commented on #114
A NAT config now may look as follows
[code]
The label attribute in the route tag is optional. If it is not given and the route tag has no port subtags, the route has no effect. If a route has port subtags and a label attribute, the label of the route tag is the default destination for all ports that don't match a port subtag. If the route tag has no label attribute but port subtags, only the given

[2016-08-09 10:57] m-stein commented on #2034
@ehmry I really like your ROM-config approach. I plan to draw on it in the NAT issue (#114) and the DHCP component I like to write a  from scratch as soon as the NAT is finished.

[2016-08-09 12:24] cproc opened #2054 "dde_linux: '__wait_event()' fix"
When passing a USB mouse through to a VirtualBox VM, the VM does not get notified when the mouse is removed from the host.

[2016-08-09 13:04] cproc commented on #2054
Fixup commit cb60ce772944e02c9acceff3d18e02d3c9ed086f fixes the lxip build.

@chelmuth: please add to staging

[2016-08-09 16:24] ehmry commented on #2034
Ok good, I'll plan on patching lxip for pulling in static information too.

[2016-08-10 09:21] #2041 closed

[2016-08-10 09:21] #2042 closed

[2016-08-10 09:21] #2043 closed

[2016-08-10 09:21] #1716 closed

[2016-08-10 09:21] #1718 closed

[2016-08-10 09:21] #1844 closed

[2016-08-10 09:21] #2048 closed

[2016-08-10 09:21] #1717 closed

[2016-08-10 14:31] chelmuth commented on #2050
Gave your patch I try but failed...
[code]
Branch is chelmuth/issue2050_lwip_update.

[2016-08-10 18:20] ehmry commented on #2050
@chelmuth fixed at 12969821a46fbf197bb2cc69e81c0f5c237ff0c8 with a clean up of lwipopts.h.

[2016-08-11 08:47] ehmry opened #2056 "move partition enforcement from part_blk to Block::Session_component"
I wanted to get a bit more performance of my VM's block device so this seemed like the lowest hanging fruit. In short, Block session requests now carry _offset_ and _span_ arguments that constrain the session to a region of blocks. So long as part_blk can intercept and modify these session arguments during session construction, clients are still restricted to partitions chosen by part_blk, and the

[2016-08-11 13:31] cnuke opened #2057 "wifi_drv: add 7265D-19.ucode to fw list"

[2016-08-11 13:46] chelmuth commented on #2050
@ehmry thanks for the fixup but I fear we're still not there. I gave the port some runs on base-linux with the following results
* **lwip 1.4.1**
  * **TCP_STREAM** 195-202 MBit/s
  * **TCP_MAERTS** 59-63 MBit/s
* **lwip 2.0.0**
  * **TCP_STREAM** 49-65 MBit/s
  * **TCP_MAERTS** timeout

Could you please have another look where this discrepancy may originate from?

Also, I spotted that the port us

[2016-08-11 14:45] chelmuth commented on #2056
Thanks for going forward with this idea - I much appreciate your effort. On the other hand, I think that your proposal and the current state span a spectrum of solutions and I'm not sure that we should trade one extremum for the other. I'll try to explain my thoughts in the following.

Currently, part_blk is a plain *resource multiplexer* that provides multiple clients controlled access to regions

[2016-08-11 15:36] ehmry commented on #2056
At first I realized my methodology for measuring my performance was wrong, and then today I switched the hardware I was using and got an extreme improvement . So really my perceived bottleneck was a hardware quirk, and now I don't have any issue with the block stack. It does go to show that without any baselines to compare against optimization is just stumbling in the dark.

I can understand split

[2016-08-11 15:36] #2056 closed

[2016-08-11 16:06] ehmry commented on #2050
netperf_lwip on base-linux gives me
[code]

Which scenario are you running?

RC2 must have come out in the last week, I will give it a try.

[2016-08-12 09:16] chelmuth commented on #2050
I also do `make run/netperf_lwip`. But, your log looks strange as the Linux nic_drv does not need (and therefore does not request) the Platform service. May it be that you have a stale nic_drv binary from an old build?

[2016-08-12 09:38] skalk opened #2058 "block layer: transition to new API"
Ref #1987

[2016-08-12 10:25] ehmry commented on #2058
You might be interesting in 74bacffa93fa88ad54b16b60ac50f026e9a1670a, I patched out the global env from the packet stream.

[2016-08-12 10:48] skalk commented on #2058
@ehmry: thanks for the hint.

[2016-08-12 15:52] chelmuth commented on #2050
With Gigabit Ethernet I measured on e34787b34f638880f0cebd5e9a875f61ef6222fa
* **2.0.0**
  * **TCP_STREAM** 238-257 MBit/s
  * **TCP_MAERTS** 22-47 MBit/s

[2016-08-13 18:35] #2044 closed

[2016-08-13 18:36] #1719 closed

[2016-08-13 18:36] #1720 closed

[2016-08-15 09:54] chelmuth commented on #2047
Rediscovered this just now. I'm not convinced to merge the patch. IMO `/usr/bin` is a UNIX'ism but always there, and, many tools depend on it.

[2016-08-15 14:05] m-stein commented on #114
I was able to remove some bugs that occured sporadically, removed some deprecated stuff like the policy attribute ``ip_addr``, and rebased to staging. Next, I'll extend the tests to UDP transfers and try to enable a netperf-nat test.

[2016-08-15 14:45] ehmry commented on #2047
Yea, I can live with that assumption, I'm switching to Arch.

[2016-08-15 14:45] #2047 closed

[2016-08-16 15:47] alex-ab opened #2059 "add virtualbox 5 support"

[2016-08-17 09:28] ehmry commented on #1987
@nfeske I have patches for the vfs server and vfs stress test, 0463fcba472153ec2cbae14a8f549036f7ae6f2c, 0311a4f0d70b183a2fa2f6f4758ae8ffa0089798.

[2016-08-17 09:35] nfeske commented on #1987
Wow - that was quick. :-) Thanks a lot! I merged both commits to staging.

[2016-08-17 15:12] cproc opened #2060 "fs_log: collect acknowledgement packets and increase stack size"

[2016-08-17 15:21] cproc opened #2061 "base: increase label length limit of core log session"
The current limit of 64 characters can be reached quite easily in complex scenarios.

[2016-08-17 16:10] nfeske commented on #1987
I merged my big patch "base: avoid use of deprecated base/printf.h" to staging now. The following areas need additional love by the respective authors:

* The implementation of the `Logging` infrastructure of seoul still relies on Genode::printf.
* VirtualBox is not completely adjusted because I could not tell which of the many debug messages are obsolete by now. @alex-ab Could you please take car

[2016-08-17 16:46] cproc commented on #2060
@ehmry: I added a test case (using 'fs_log.run') with debug messages in 870b811511cde881df98819ccd15e9b1859a6c2e

It is supposed to print 30 lines of the string "text", but only 17 appear on the console.

[code]

[2016-08-17 17:58] alex-ab commented on #1987
@nfeske: 7c6d1c42e0dbbb9d99403561dc01968c44e9f06f contains the vbox adjustments

[2016-08-17 19:24] chelmuth commented on #2061
:+1: I also suffered from the label-length limit just today.

[2016-08-17 19:39] cproc commented on #1987
@nfeske: adjusted Qt5 patches in 3de21d8ef1a74342d0a235e974b68249a9dc712a

[2016-08-17 20:17] cnuke commented on #1987
@nfeske please merge 1ade4c5 and 637c7d3.

[2016-08-18 08:01] ehmry commented on #2060
The fs_log on master and staging is a version that I'd like to disown, it has some other problems.

The blocked acked problem is solved if you apply a patch to os/path.h e01744999d7e38b4250c0eaceed7abc9302e67c1 and to fs_log 1b976a9692280556b5615e4c1d5b376be30d4dbc from @chelmuth's vfs branch. If the second patch will not apply cleanly, just checkout the version of fs_log from that commit.

Then I

[2016-08-18 14:27] chelmuth opened #2062 "Session_label incompatible with Xml_node::attribute_value()"
The following patch tries to read a Session_label from an XML attribute but produces the attached compile error.

[code]

[code]

It seems the compiler does not pick `Xml_node::value(String<N> *out)` but `Xml_node::value(T *out)` although Session_label is a `String<160>`.

[2016-08-18 15:10] m-stein commented on #114
The NAT can now be used as UDP proxy. Therefore, it stores a UDP-proxy-state for two times the round trip time. This way, client and server can hold a "UDP connection" open by frequently sending keep-alive messages.

[2016-08-18 15:15] m-stein commented on #114
The next step is to provide two attributes "via" and "to" in the ip routes and port routes (currently there's only a "via"). The "via" attribute tells the NAT which IP address to use when asking for the destination MAC address for a matching packet (ARP), whereas the "to" attribute defines the destination IP address that is directly installed at matching packets.

[2016-08-19 08:53] nfeske commented on #2062
Even though the `Session_label` inherits `String<>` it apparently does not match for the C++ overload resolution. The solution would be to add a special overload of `ascii_to` to session_label.h, which matches the actual type.

[2016-08-19 09:03] alex-ab commented on #2059
@nfeske: please use the last 3 commits of [issue_2059_staging](https://github.com/alex-ab/genode/tree/issue_2059_staging)

[2016-08-19 09:51] ehmry commented on #2062
I've found this works but it is hardly readable

``Session_label label = 		xml.attribute_value("label", String<label.capacity()>("nolabel")).string();``

[2016-08-19 10:38] nfeske commented on #2062
Could you give the `ascii_to` overload idea a try? I am thinking along these lines:

[code]

[2016-08-19 10:51] chelmuth commented on #2062
There's no `ascii_to` overload/template for `String<>` (on master).

[2016-08-19 10:52] nfeske commented on #1987
I repeatedly stumbled over the problem that printing `char *` arguments is ambiguous. It is unclear whether to print the argument as pointer or null-terminated string. I am going to introduce a new type `Cstring` that allows the caller to express that the argument should be handled as null-terminated string. As a nice side effect, with this type in place, I am able to remove the optional `len` arg

[2016-08-19 11:00] nfeske commented on #2062
Ah, I see. This rings a bell: There cannot be a generic `ascii_to` overload for strings because this function would not know where the string ends. E.g. when requesting an attribute from an XML node, the string would and at the closing `"`. But in other situations, another token may separate the string from the rest. Hence, the extraction must happen somewhere where the information about the synta

[2016-08-19 14:20] nfeske commented on #2059
Merged to staging just now. :-)

[2016-08-19 14:42] alex-ab opened #2063 "core: wrong memory mappings calculation possible if region > 2G"

[2016-08-19 15:55] nfeske opened #2064 "Replace snprintf with the use of varargs `String` constructor"
Right now, we still rely on the use of `snprintf` whenever we assemble strings out of smaller pieces. As I like to shun format strings from Genode altogether, we need an alternative mechanism. Since we introduced the new base/output.h facilities in the previous release, there is an obvious solution: Let the `String` constructor accept an arbitrary list of arguments, which are turned into their res

[2016-08-19 17:10] nfeske opened #2065 "core: mishandling of failed dataspace ownership test"
The `Ram_session_component::free` method (https://github.com/genodelabs/genode/blob/master/repos/base/src/core/ram_session_component.cc#L38) destroys the dataspace-component object unconditionally even if the dataspace-ownership test failed.

[2016-08-20 12:07] cnuke commented on #1987
@nfeske please merge 86ed56a to staging — it should solve the issues with the `noux_net_netcat` test.

[2016-08-20 20:06] ValentinQUEQUET opened #2066 "Running demo fails with : [init -> fb_sdl] Segmentation fault (signum=11), see Linux kernel log for details"
genode build completed
spawn ./core
Genode 16.05
int main(): --- create local services ---
int main(): --- start init ---
int main(): transferred 17592186044415 MB to init
int main(): --- init created, waiting for exit condition ---
[init] Could not open ROM session for module "ld.lib.so"
[init -> fb_sdl] Segmentation fault (signum=11), see Linux kernel log for details
blocking canceled in entrypo

[2016-08-21 08:49] cnuke commented on #2066
This problem should already be fixed on the current master branch — please give it a try.

[2016-08-22 09:57] ValentinQUEQUET commented on #2066
Hello Team,

I very don't know why at all, but, when trying the master branch I just fetch over git, I got another error :

./tool/create_builddir build.linux
make: ***  Aucune règle pour fabriquer la cible « /home/valentin/OperatingSystems/Genode/genode-master/genode/tool/builddir/etc/build.conf.build.linux », nécessaire pour « /home/valentin/OperatingSystems/Genode/genode-master/genode/build/bui

[2016-08-22 10:04] chelmuth commented on #2066
You specified `build.linux` which is an invalid target platform. Just run the tool without arguments to get a list of valid target platforms. I expect you're looking for `linux_x86`.

[2016-08-22 10:04] ValentinQUEQUET commented on #2066
Hi (again),

Don't bother scratching your head, I did the following mistake :

I voluntarily deleted the "./build/" dir I believed was the effective build dir instead of "./build/linux_x86" .

My appologies for the noise.

Courage, the framework needs testers ...

Sights,
Valentin

[2016-08-22 10:23] ValentinQUEQUET commented on #2066
To Chelmuth :>\

You're completely right ; how can I have done such a stupid error ?

Besides this true proven fact, I checked my logs and I did this mistake only once while doing many tries which where rather proper (mistaken the right build dir).

So my first, initial, mistake still is at fault.

Very much thanks for your help ; good catch Sir.

To serve you Sir (and the whole Team),
Valentin

[2016-08-22 10:29] chelmuth commented on #2066
For clarification: Does the issue still persist with the master branch? Please provide a log in this case.

[2016-08-22 10:32] ValentinQUEQUET commented on #2066
To CNuke :>\

I feel uncomfortable ; who do you want to nuke ?
Maybe the C programming language :-)))

I can confess that you found the right solution to my problem, and as such, this bug can be closed right now cauz' the 'app' runs fine sine I switched to 'master' branch.

See you (or never),
Valentin

[2016-08-22 10:35] #2066 closed

[2016-08-22 10:38] ValentinQUEQUET commented on #2066
To Chelmuth :>\

I very much hope you caught my last comment which reassures the community about the above-mentioned bug.

See you (next bug-time),
Valentin

[2016-08-22 12:25] chelmuth opened #2067 "Cleanup handling of session labels in core"
It would be best to use `Session_label` int the following contexts.

[code]

There may be more places grep did not reveal. Related to #2061.

[2016-08-22 13:17] cproc commented on #1987
@nfeske: please add 91f63c4552e1d67d589e0e20947afa4083ecc460 to staging

[2016-08-22 14:35] cnuke commented on #2059
@chelmuth or @nfeske please merge 12903b7 and 4467f0a to staging.

[2016-08-22 15:37] nfeske commented on #2059
@cnuke Thank you! The include guard of needed a small additional adjustment though ;-)

[2016-08-22 16:09] cnuke commented on #2059
Shame on me — it was the first thing I thought about and still missed it at the end :-)

[2016-08-23 14:16] cnuke opened #2068 "vbox: fix compiling ACPI dsl with newer iasl versions"

[2016-08-23 14:27] cnuke opened #2069 "noux-pkg/noux-etc: serialize building targets"
It reproducible breaks for large -j values

[2016-08-23 15:36] chelmuth commented on #2069
I expected to see one of these... crossing fingers this is the last one as these errors are often not obvious.

[2016-08-24 09:34] cnuke opened #2070 "tool: remove old ports tool remains"

[2016-08-24 10:09] skalk opened #2071 "uart_drv: transition to new base API"
Ref #1987

[2016-08-24 10:17] skalk commented on #2071
@chelmuth : would you please have a look at above commit, whether it can slip in the release?

[2016-08-24 10:30] skalk opened #2072 "os: abandon Irq_activation and Irq_handler deprecated"
Since the resolution of issue #1456, which turned the IRQ session interface into an asynchronous interface, there is no need for additional threads that wait for interrupts. Therefore, the helper classes `Irq_activation` and `Irq_handler` aren't necessary anymore. A simple `Signal_handler` should be enough. I would vote for marking the corresponding file `os/irq_activation.h` as being deprecated.

[2016-08-24 10:33] nfeske commented on #2072
Very good suggestion!

[2016-08-24 13:09] skalk commented on #2072
@nfeske above commit series solves the issue

[2016-08-24 13:14] cproc opened #2073 "nova: avoid SC kernel warnings in core"
When resuming a paused non-worker thread, the kernel prints a warning message:
```sys_create_sc: Non-NULL CAP (0x554e)```

[2016-08-24 13:23] cproc opened #2074 "base: allow to set label in Log_connection"

[2016-08-24 15:12] nfeske commented on #2072
Since the header produces a compile error if included, we may better remove all other content. The `#error` makes the code unusable anyway.

Furthermore, I noticed that `grep -ri  "Irq_activation" repos` still yields a few results. They should be adapted before we merge the patch:

* os/src/drivers/nic/spec/lan9118/lan9118.h
* os/src/drivers/nic/gem/cadence_gem.h
* os/src/drivers/sd_card/spec/pl18

[2016-08-24 15:21] cproc opened #2075 "cpu_sampler component for statistical profiling"
This component implements a CPU service which samples the instruction pointer
of the configured threads on a regular basis for the purpose of statistical
profiling.

The collected samples are written to the LOG session with an individual label
for each thread. By using the 'fs_log' component, the sample data can be
written into separate files if desired.

Configuration options
--------------------

[2016-08-24 15:22] cproc commented on #2075
Depends on #2074.

[2016-08-24 15:36] cproc opened #2076 "autopilot: add '--autopilot' run option"
The '--autopilot' option makes it possible for a run script to detect if it is being executed by the autopilot (```if { [get_cmd_switch --autopilot] } { ... }```). In that case, the run script could do an automated test, whereas the test could be interactive when run without this option.

[2016-08-24 16:14] nfeske commented on #2075
Very nice component and example scenario. I also like the well-written readme. Apart from the minor coding-style remarks, I'd like to merge it to staging.

[2016-08-24 19:03] cproc commented on #2075
Commit e9d8a52fa89f2ae0600a4161a94a1bccb92dfbd2 should fix most of the coding-style issues. I had some trouble with the suggested '_for_each_thread' method, so this one is still missing.

[2016-08-24 19:15] skalk commented on #2072
@nfeske I think you missed the other commits that reference the issue. They adapt the corresponding components.

[2016-08-24 19:32] skalk commented on #2026
I'll move the issue to genode-world

[2016-08-24 19:32] #2026 closed

[2016-08-25 08:50] skalk commented on #2072
@nfeske: fixup 5a50d92377f78299b3f03351d170622880776d37 removes the content from the header as desired ;-)

[2016-08-25 09:36] skalk commented on #114
@m-stein: the commit 13df330 that changes the MAC address class at least breaks the dde-ipxe NIC driver. It does not compile anymore.

[2016-08-25 10:24] skalk commented on #114
@m-stein: fixup for above problem (only looked at dde_ipxe!!) is here: 6b00c9bcce2c6c6da691d53f7bad4bc6e4a872c0

[2016-08-25 13:29] cproc commented on #2075
Commit 51adf182dc9e636a0dd91a3da446bdb96a902d92 implements the 'for_each_thread' method.

[2016-08-25 13:59] cproc opened #2077 "pthread: alternative for dynamic_cast in 'pthread_self()'"
Statistical profiling of a VirtualBox 5 session (block copy performance measurement) indicated that the dynamic cast from 'Genode::Thread*' to 'pthread_t' in 'pthread_self()' is quite expensive. The measured performance improved significantly when the dynamic cast was replaced by keeping all pthread pointers in an array and doing a static cast if the pointer was found in the array. But the perform

[2016-08-25 17:16] cproc opened #2078 "cpu_sampler_noux.run script"
A run script to demonstrate the combination of the cpu_sampler, fs_log, ram_fs and noux components for saving the sampled data in files and accessing these in a Noux environment. When the script is run by the autopilot, it will check if one of the generated sample data files contains the correct instruction pointer. When the script is run interactively, the generated files can be accessed from a N

[2016-08-27 10:48] ehmry opened #2079 "terminal clipboard support"
I have been thinking more about an Acme editor clone for Nitpicker and I've decided the sensible way to go about it would be to share code with the current terminal server and initially draw everything using a character cell display. I want to recreate the mouse driven interface and using highlighted text from a char-cells as editor commands would be a good first step.

@nfeske I see the terminal

[2016-08-27 12:52] nfeske commented on #2079
Indeed, there are several plans for the terminal such as making it resizable (with proper line rewrapping), adding mouse support, making the cursor blink (#608), adding clipboard support, or providing a smoothly scrolling history buffer. But unfortunately, those plans remained lower down on my priority list so far.

That said, when pursing the plans, the notion of the cell array will most likely s

[2016-08-29 10:23] cproc commented on #2078
Fixup commit ae0ee5a89cd56c299bbb5679353cb637b7358102 prevents the start of the fb_drv when executed by the autopilot. This should fix the current buildbot errors with Qemu.

@chelmuth, @nfeske: please add to staging

[2016-08-30 15:18] #2049 closed

[2016-08-30 15:18] #2054 closed

[2016-08-30 15:18] #2057 closed

[2016-08-30 15:18] #2058 closed

[2016-08-30 15:18] #1777 closed

[2016-08-30 15:18] #2061 closed

[2016-08-30 15:18] #2063 closed

[2016-08-30 15:18] #2065 closed

[2016-08-30 15:18] #2068 closed

[2016-08-30 15:18] #2070 closed

[2016-08-30 15:18] #2071 closed

[2016-08-30 15:18] #2072 closed

[2016-08-30 15:18] #2073 closed

[2016-08-30 15:18] #2074 closed

[2016-08-30 15:18] #2075 closed

[2016-08-30 15:18] #2076 closed

[2016-08-30 15:18] #114 closed

[2016-08-30 15:18] #2077 closed

[2016-08-30 15:18] #2078 closed

[2016-08-30 15:31] nfeske commented on #1175
I wonder, wasn't this issue addressed by 901b39259c6c056efad2a0bc78038cfd2779b2d5? May we close it?

[2016-08-30 15:43] chelmuth commented on #1175
Indeed.

[2016-08-30 15:43] #1175 closed

[2016-08-30 15:45] chelmuth commented on #2051
Merged with ef7c515 and 7760aa1.

[2016-08-30 15:45] #2051 closed

[2016-08-30 15:46] chelmuth commented on #2069
Merged with 2eda37e.

[2016-08-30 15:46] #2069 closed

[2016-08-30 15:50] chelmuth commented on #2059
Merged with 57b90e8.

[2016-08-30 15:52] nfeske commented on #1192
May we close this issue since @cproc's GDB work entered master with version 16.05?

[2016-08-30 15:54] #1192 closed

[2016-08-30 16:16] ehmry commented on #2059
I'm having an issue with network slot labeling, there is a bit of patch missing from the previous version that I can foward...

[2016-08-30 16:47] #2060 closed

[2016-08-30 16:58] #2014 closed

[2016-08-30 17:42] chelmuth opened #2081 "virtualbox5: nic slot label patch"
good catch by @ehmry in 3e67df64442cee1314127e23aab89471f6426ff9

[2016-08-30 17:43] chelmuth commented on #2059
Put in #2081 for post-release merge.

[2016-08-31 11:29] skalk opened #2082 "Page-faults in thread context area invisible"
On the kernels: SeL4, Pistachio, Fiasco, OKl4 we do not see when a thread issues a page-fault due to a stack overrun. On Fiasco.OC there is no identity shown, but at least the page-fault address and instruction pointer. On HW and NOVA you can see the page-fault (including thread identity) in differently layouted messages.

It would be very nice to have corresponding messages on all kernels. It wou

[2016-08-31 11:31] skalk opened #2083 "ps2_drv: component stack runs out of memory"
At least on Pistachio, the stack runs out of memory when e.g., an exception is thrown due to no configuration. The stack size of `1024*sizeof(long)` is pretty small, and needs to be increased.

[2016-08-31 11:37] skalk commented on #2083
@chelmuth : last minute patch? ;-)

[2016-08-31 12:16] #2083 closed

[2016-08-31 17:12] maverick74 opened #2084 "LXQt Desktop"
Since Genode is getting a LOT better and that it already supports Qt5 (THANK YOU!!!)

I think it would be great to have LXQt running on it - it's light, based on Qt, well known and would allow Genode to get to more users/testers )

[2016-08-31 17:25] chelmuth commented on #2084
The first question that came to my mind while reading your posting was: Is LXQt really portable or is it tightly knit to Linux (or *BSD) like other desktop environments?

[2016-08-31 17:33] ssumpf commented on #2084
@maverick74: Great suggestion, but we are still eight people, that try to build up an operating system/community. As @chelmuth implies, we are glad about any suggestions or evaluation efforts. Any help is welcome, so maybe I could invite you to investigate if this project is feasible on Genode. That would be awesome!

[2016-09-01 07:16] skalk commented on #1657
I'm not able to reproduce it nowadays, so I'll close this issue.

[2016-09-01 07:16] #1657 closed

[2016-09-03 11:35] nfeske commented on #1948
Fixed in Genode 16.08

[2016-09-03 11:35] #1948 closed

[2016-09-03 11:36] #1689 closed

[2016-09-05 08:47] maverick74 commented on #2084
Hi
Ok, after asking for some help i was told by one of the lead developers - PCMan - that:

He sent a few more details on a second e-mail:

As far as i know Wayland support is planned however, from the informations i have, it will depend on the use of KDE's Kwin...

Hope this helps!

It would be very nice to have LXQt on Genode!!! (in fact i believe it would be good for everyone if Genode could re

[2016-09-05 08:48] skalk opened #2085 "base: copy-constructor of String fails for different capacity"
When using the copy constructor of String, whereby the template capacity parameter of the argument is different from the target class, the compiler rants about the private member access of the given argument.

[2016-09-05 09:16] alex-ab opened #2086 "core: page faults during rm_faulter::dissolve_from_faulting_region_map"
nova_x86_32 in qemu - run/platform

[code]

[2016-09-05 09:33] alex-ab commented on #2086
Please have a look, the "core: ..." issue solves the issue for me.

[2016-09-05 10:53] alex-ab commented on #2086
Hm, the fix avoids core to crash but scenarios like ```run/rm_nested``` don't work anymore.

[2016-09-05 16:01] cproc opened #2087 "Automated 'usb_hid' test"
Currently, the 'usb_hid' run script runs interactively, but it would be nice to also have an automated test running nightly on different hardware. The USB input events can be generated by a 'Pro Micro' microcontroller board.

[2016-09-06 08:19] alex-ab commented on #2086
56cec43c474242b3ba256f80a0e25517747ea806 avoids the core crash and let the nested region test pass - as stop gap solution

[2016-09-07 12:42] cproc commented on #2087
Fixup commit 2cc06f07aa400d96db46189fc43fce6e9b8358df disables the test on Linux.

@chelmuth: please add to staging

[2016-09-07 13:17] m-stein opened #2088 "hw: fix several timing problems"

[2016-09-07 13:19] m-stein commented on #2088
@nfeske: Should solve the problems with supertux.

[2016-09-08 06:49] chelmuth commented on #2082
I really like this patch and it will enter staging in a second, but I still have one additional concern: Could you please have a look at *repos/base/src/core/region_map_component.cc* lines 171, 189, and 225? It seems their exists a platform-specific `print_page_fault` utility, which looks rather different on various kernels. It would be great to have a fixup commit that unifies these log outputs t

[2016-09-08 09:12] alex-ab opened #2089 "vbox4: Windows 7 64bit VMs with single vCPU get stuck after a while"

[2016-09-08 09:20] alex-ab opened #2090 "vbox4: update to latest 4.* release"
- currently 4.3.40

[2016-09-08 10:04] skalk commented on #2082
@chelmuth thanks for the review and improvement proposal. Fixup 23afcfc42f3444b366c8813f28ed88779d91cef8 tries to unify also the `print_page_fault` utility.

[2016-09-08 11:42] skalk opened #2091 "hw: let core/kernel be part of the address space of all components"
This is primarily to limit execution overhead when having syscalls, exceptions, or signaling/messaging. Currently, every kernel entry/exit implies a context switch. It implies a probably heavier TLB overhead in contrast to globally valid kernel pages. Moreover, the current design complicates certain architecture-specific operations, like limited cache flushing for specific protection domains, whic

[2016-09-08 12:05] skalk opened #2092 "hw: bootstrap the kernel into virtual memory"
To put issue #2091 into practice, it would be nice to split the functionality of bootstrapping the hardware into virtual memory mode (enable the MMU) and the rest of the kernel/core. Due to the fact that enabling the MMU needs a lot of things to be done, dependent on the concrete hardware, as well as creating core's page tables can be complex and is platform-dependent too, a lot of code needs to b

[2016-09-08 21:37] cgrothrock opened #2093 "create_iso error in help"
running the command ./tool/create_iso  shows the script parameters available.  In this instruction, the message "A sample directory tree can be found in the tool/boot/genode."  The issue is in the tool/boot/ directory, there is no genode directory.

[2016-09-09 08:36] m-stein commented on #2092
:+1:

[2016-09-09 08:38] m-stein commented on #2088
@chelmuth I've updated the last commit and added a fixup according to your suggestions.

[2016-09-09 09:51] #2081 closed

[2016-09-09 09:51] #2082 closed

[2016-09-09 09:51] #2085 closed

[2016-09-09 10:12] chelmuth commented on #2086
@alex-ab which commits of your topic branch are ready for staging?

[2016-09-09 11:23] alex-ab commented on #2086
474e982a01009c6ffc82ab2c5450e49f5ff90bba and 39d09150e0ca9f708f4438312baf98d618d67ac6

[2016-09-09 16:26] alex-ab commented on #2086
f47feeb696759435702312ea2a18de8a35f5079f contains the suggested weak_object and weak_ptr version.

[2016-09-09 18:58] nfeske commented on #2086
Yes! :-)

[2016-09-11 19:33] nfeske opened #2094 "Make GNU build-system wrapper usable for non-Noux programs"
The ports/mk/noux.mk wrapper for the GNU build system is very handy to port software that is based on the GNU build system to the Noux runtime. However, there are many applications that come readily equipped with support for the GNU build system but don't require actual Unix features (i.e., fork). Right now, porting such applications requires us to express their build rules via the Genode build sy

[2016-09-12 09:12] chelmuth commented on #2086
Merged as 4629371.

[2016-09-12 18:18] ehmry commented on #1987
I made some updates to input stuff at 136e4193f9b49bc5f141f7791f7ad419d4235f87. The biggest change is attaching the session event buffer in Input::Client, which all clients are handling by themselves right now.

[2016-09-13 07:41] skalk opened #2095 "core: unify handling of boot modules"
Currently, we assemble all elf-binaries that should be available after booting within memory (core's ROM modules) into one elf-binary when running on top of the HW kernel or SeL4. Moreover, the process of assembling is duplicated across those both platforms. It would be nice to unify this approach.

From my point of view, it would be best to follow this approach across all supported kernel platfor

[2016-09-13 07:47] skalk commented on #2095
To achieve above described goal, it is necessary to build core as library on all platforms, and then link the final core image within the run-tool, when all boot modules are available. All special things done within the core target descriptions then have to move into the run-tool, e.g., special linker addresses on Fiasco.OC, or special linker-file on NOVA.

[2016-09-13 07:53] skalk opened #2096 "hw: remove kernel unit test framework"
Currently, the kernel unit tests, originally a framework to test certain kernel data-structures, stands in the way on certain levels:
* within the kernel initialization
* when building core
* when building the boot-image
On all these levels, we need special solutions for either starting the "normal" kernel, or a unit test. This additional complexity stands in the way, e.g., when implementing issue

[2016-09-13 08:11] nfeske commented on #2096
I agree.

[2016-09-13 08:25] nfeske commented on #1987
@ehmry Moving the dataspace handling to the `Input::Session_client` is a very sensible idea. You could even further improve it by a minor addition: How about adding a `for_each_event` method that takes a lambda function as argument? The method would call the lambda for each event currently present in the event buffer.  This way, we would eliminate the need to call the `events` accessor in the firs

[2016-09-13 08:34] nfeske commented on #1987
Maybe we reach the conclusion that we can don't need the `events` method then? This would be the ideal outcome in my opinion.

[2016-09-13 08:34] ehmry commented on #1987
I like it, i wasn't very comfortable with returning that pointer anyway

[2016-09-13 09:40] chelmuth commented on #1987
Just another example for the advantage of *taking (at least) one step back* to find the best approach.

[2016-09-14 09:56] #2088 closed

[2016-09-14 09:56] #2089 closed

[2016-09-14 09:56] #2090 closed

[2016-09-14 10:07] skalk opened #2098 "build: remove obsolete STARTUP_LIB variable"
In pre-github times, we used a STARTUP_LIB variable to differentiate between startup code for core, non-core, and kernel components. Some targets still have this meanwhile obsolete variable defined.

[2016-09-14 12:02] ehmry commented on #1987
I have a new version of the input update at 3429f57dcc43979ca9c4fe8393c7103f8bcca5fc, the commit got much bigger that I planed.

There was a problem with wm and decorator, wm was returning an invalid input sub-session capability to decorator, which was then trying to request a dataspace using that capability from the ``Nitpicker::Connection`` class. I added a dummy input session component to wm as

[2016-09-14 12:33] skalk opened #2099 "linker: remove obsolete _prog_img_data symbol"

[2016-09-14 15:25] nfeske commented on #1987
@ehmry Your latest commit is wonderful! :-)

[2016-09-14 21:28] alex-ab opened #2100 "nova: kernel assertion in mapping database during revoke"

[2016-09-14 21:29] alex-ab opened #2101 "nova: kernel failing to lookup just delegated capability"

[2016-09-15 07:59] dckc commented on #1806
the .iso and .ova files for 16.08 are great... I got the seL4 example scenario running in just a few minutes. The hardest part was figuring out that all I needed to do was
 - get the .iso flie
 - get the .ova file; open it to start virtualbox
 - use settings to point the ide controller to the .iso file
 - start the VM
and voila!

[2016-09-15 08:03] dckc opened #2102 "Genode/seL4 example scenario - where is the source?"
How is the sel4.iso built? Is there a config file for the qt+noux+nano3d setup?

I hope I'm not missing something obvious...

[2016-09-15 08:53] nfeske commented on #2102
Please refer to the following posting on the mailing list:

https://sourceforge.net/p/genode/mailman/message/35358699/

[2016-09-15 08:55] chelmuth opened #2103 "fs_log test fails on hw_x86_64"
The issue can be reproduced in Qemu. It also seems to affect hw_x86_64_muen. Log follows
[code]

[2016-09-15 08:57] chelmuth opened #2104 "hw: assertion in cpu_sampler test on hw_pbxa9"
[code]

[2016-09-15 09:05] m-stein commented on #2104
I'll have a look at it. Thanks for the hint!

[2016-09-15 09:44] nfeske opened #2105 "Consistently define `Genode::size_t` as `unsigned long`"
Currently, `Genode::size_t` is defined as `__SIZE_TYPE__` (in https://github.com/genodelabs/genode/blob/master/repos/base/include/base/stdint.h), which is provided by the compiler. The type should match the machine-register width because it is typically used for address calculations. On x86_32, this is the case for `unsigned int` so `__SIZE_TYPE__` is an `unsigned int` when building for this archi

[2016-09-15 09:50] chelmuth commented on #2105
I totally support this change but it comes with a good deal of work in places where `Genode::size_t` is used like ANSI `size_t`, i.e., in format string functions, which will produce a warning diagnostic. With our current ambitions all these places will be outside of the base framework, e. g., in ported components and libraries. So, let's go for it.

[2016-09-15 09:57] nfeske commented on #2105
I see the concern and hope that 3rd-party code that relies on format strings will use the libc for that (this is plausible as Genode won't have format-string functions in the future). So chances are good that such code will use the `size_t` provided by the libc, which remains to be consistent with the compiler's `__SIZE_TYPE__`.

[2016-09-15 10:44] ehmry commented on #1987
I have a fixup for bounds checking.

I think it may be worth considering removing the Framebuffer and Input clients from ``Nitpicker::Connection`` and allowing Nitpicker services to throw an error rather than return a sub-session, because if an invalid session is returned, the client doesn't seem to notice. Not a big deal, but a bit of an edge-case.

[2016-09-15 12:43] nfeske commented on #2105
I merged the commit above to staging. Hopefully I have found most places where the change causes build errors. We should keep an eye on the compile warnings now. ;-)

[2016-09-15 14:06] nfeske opened #2106 "Remove placement new operators"
We should use the `construct_at` function (util/construct_at.h) wherever possible.

The biggest offenders are the net headers at `os/include/net`.

[2016-09-15 15:22] ehmry commented on #1987
Replacement fixup at 4579b23aa14384bfec0815f2bfea2832ac3b2eda

[2016-09-15 15:46] chelmuth commented on #1987
@ehmry could you please rebase on origin/staging or at least 9d67f74bd2c9e66667e0e0aafa55eb2b99606d43, which also changed the input test?

[2016-09-15 16:19] ehmry commented on #1987
@chelmuth Yes, I have a new commit faa42e8e6f80f3d35fe682197cc2135ad51dc046 that contains the fixup.

[2016-09-15 20:40] m-stein commented on #2104
@chelmuth I've uploaded a fix.

[2016-09-16 00:28] dckc commented on #2102
ok... [sel4.run][] is what I was looking for. Thanks!

d6bbc5c62ca0203af44e35f0a808e1aa9761e9bc

[sel4.run]: https://github.com/alex-ab/genode/blob/sel4_screenshot/repos/libports/run/sel4.run

[2016-09-16 00:28] #2102 closed

[2016-09-16 09:28] chelmuth commented on #1987
Merged both commits as 560ad8b08bcce66c9f95d79866bfba44bd38f2e6.

[2016-09-16 09:47] chelmuth commented on #2104
I removed the fixed label until the offline discussion settles.

[2016-09-17 07:48] cnuke opened #2107 "net: fix mac_from_string"

[2016-09-17 11:51] ehmry commented on #2050
This would really confuse benchmarking, but an option for going forward could be to remove all libc socket compatibility for ``lib/lwip2`` and instead implement that in a ``lib/vfs/lwip``. That would remove some complexity from lwip and the awkward libc/lwip namespacing problems.

[2016-09-17 17:34] cnuke opened #2108 "dde_ipxe: increase RXD and TXD for Intel NICs"
Using the `nic_drv` while AMT is enabled can lead to the PHY getting stuck for all but the AMT traffic. For that to happen it does not matter if AMT is actually used (SOL); it is enough to have it enabled. This behaviour was observed on a Thinkpad X250 which uses a I218-LM device. On a Shuttle DS57U which does not support AMT but also features the same device the issue does not exist.

iPXEs Intel

[2016-09-18 06:28] ssumpf commented on #2108
@cnuke: :+1:

[2016-09-18 14:49] chelmuth commented on #2108
Thanks for your extensive investigation!

[2016-09-19 06:44] chelmuth commented on #2050
Sounds like a good direction. Could we assemble lwip in a static library for users of the raw API and move the namespacing to vfs_lwip which provides the socket interface? I'd like to avoid an additional lwip library just because of the namespace issues.

[2016-09-19 11:10] Kensan commented on #2103
Side-node: decreasing the **upgrade_pd_session_quota** in **Genode::ipc_reply_wait** (see 4935e36...) lets the test pass on **hw_x86_64** as well as on Muen.

[2016-09-19 14:36] chelmuth commented on #2106
Don't forget `repos/os/src/drivers/platform/spec/rpi/*.h`.

[2016-09-19 14:59] chelmuth commented on #2094
The build fails with
[code]
Is this related to d603adc?

[2016-09-20 06:41] nfeske commented on #2094
Yes, thanks for the notice. I added a fixup for the original commit.

[2016-09-20 07:07] trimpim commented on #2106
I will rebase my IOMUX patch to the newest framework next week, I could do this then.

[2016-09-22 08:50] skalk commented on #2103
@Kensan I think this is no fix in general. In this concrete example it might help, because init has coincidentally 8K ram quota left, but not 12K.

In general the problem here is that init needs dynamically more RAM (due to permanent capability reception), but it gave away everything to one of its children (bomb). Of course we can lower the quota donation, or lower the RAM given to the children, a

[2016-09-22 09:52] skalk opened #2109 "hw: remove x86 vs. x86_64 abstraction"
As we only support 64 bit version of x86, and I do not see that this will change in the near future, it is annoying to maintain the additional abstractions when differentiating between common x86 and x86_64 specific code within `base-hw` (with Muen there is another dimension in this matrix). I'm not sure whether the differences between common x86 and x86_64 are correctly maintained until now.

Bef

[2016-09-22 09:55] skalk commented on #2109
@Kensan @reet- do you agree with those changes?

[2016-09-22 13:49] reet- commented on #2109
@skalk While the change looks fine, vbox_auto* autopilot tests on hw_x86_64_muen fail (see log at https://gist.github.com/reet-/bd808c7fe8076c49743c5c7ab52ae7b1)

[2016-09-22 15:06] chelmuth commented on #2109
Please add the fixed label again if the remaining issues are sorted out.

[2016-09-22 15:11] chelmuth commented on #2103
When first discussing the issue with @Kensan some weeks ago I was thinking in the same direction. Would it help to just add `demand="2M"` to the bomb config node? @alex-ab?

[2016-09-23 08:54] skalk commented on #2103
Ok, I think we found a short-term fix by increasing the slack RAM quota of the init component.

In general there are still two structural issues to be solved. The one is that init has to do certain dynamic allocations on behalf of its children, e.g., session capabilities that init preserves. On the other hand we have the generic problem that clients needs to donate RAM for capabilities to a servic

[2016-09-23 09:00] skalk commented on #2109
@reet- It is hard for me to reproduce the vbox* scenarios on hw_x86_64_muen. Could you please check, whether the failure is related to above commit, or to 1a80392e1b3d6d532a09456717398d3cfcca4b71 or dfc5a14c50452e8e60797d6bc7ba021000d629e9
That would help me a lot.

[2016-09-23 09:20] reet- commented on #2109
@skalk Yes sure, we will look into it this afternoon.

[2016-09-23 11:30] alex-ab opened #2110 "vbox: add Windows 7 64bit SMP support"

[2016-09-23 13:24] Kensan commented on #2109
@skalk Commit 1a80392 still works while commit dfc5a14 contains the error.

[2016-09-23 13:51] skalk commented on #2095
I''l remove the fixed label, because it breaks vbox_auto* autopilot tests for hw_x86_64_muen

[2016-09-23 13:52] skalk commented on #2109
@kensan thanks for testing, I've removed the fixed label of the corresponding issue, and mark this work as being fixed again.

[2016-09-23 15:47] alex-ab opened #2111 "nova: exception portals setup for wrong cpus"
[code]

[2016-09-26 14:24] cproc opened #2112 "usb_drv: fix policy parsing"
According to the README file, the policy supports 'vendor_id' and 'product_id' attributes, but the policy parsing code looks for 'vendor' and 'product'.

[2016-09-28 13:48] skalk commented on #2095
@Kensan @reet- : would you be so kind to give my branch: https://github.com/skalk/genode/tree/issue%232095 another try with respect to hw_x86_64_muen? I have some assumption regarding the broken autopilot tests.

[2016-09-28 19:37] reet- commented on #2095
@skalk Vbox tests fail, see https://gist.github.com/reet-/c34085f37a5b60bfdf64a70bdc4fdf81

[2016-09-29 04:44] cproc opened #2113 "base: don't use the 'size' argument in 'Heap::free()'"
The Heap reports that 'free()' does not rely on a valid 'size' argument, but the current implementation does.

[2016-09-29 07:15] skalk commented on #2095
@reet- ok, thanks for testing. Nevertheless, that is pretty strange. I have no clue at all, how my changes should relate to this VBox error. In fact the only thing that changed is the binary layout of core. No single bit changed in anything else, e.g., base-library. Thar is why I'm out of ideas how Vbox/Muen breaks.

[2016-09-29 08:48] reet- commented on #2095
@skalk You changed almost nothing, only the binary layout of core ;)

`vbox_auto_win7` shows the exact same behavior on `nova_x86_64`.

[2016-09-29 09:06] skalk commented on #2095
@reet- ah ok, thanks for the pointer!

[2016-09-29 09:10] reet- commented on #2095
@skalk Np, please let me know if I should test anything.

[2016-09-29 12:03] skalk commented on #2095
@reet- I cannot reproduce the problem with nova_x86_64. The `vbox_auto_win7` test runs fine with my branch.

[2016-09-29 12:39] skalk commented on #2095
@reet- ok, sorry forget about my last comment. Now i have pushed a fixup for the try-out commit to the same branch. Would you be so kind to give it another try?

[2016-09-29 13:20] reet- commented on #2095
@skalk Ok we are back to the initial failure (`VERR_GENERAL_FAILURE TCG`, see https://gist.github.com/reet-/7b2cfb134b011d8a8180f60d9468a311).

[2016-09-30 07:19] skalk commented on #2095
@reet- : Hi, I've a suspicion what might be the difference to the working version. Can you please put the following line into `repos/base-hw/mk/spec/hw_x86_64.mk`:

```LD_TEXT_ADDR ?= 0x200000```

[2016-09-30 07:31] reet- commented on #2095
@skalk You just saved my day. Works!

Strange, I checked the layout of the text segment yesterday because this line looked suspicious, but I could not see any obvious difference. Furthermore all scenarios besides vbox worked fine.

Can you elaborate?

[2016-09-30 07:47] skalk commented on #2095
I would say the change in the virtual memory layout of virtualbox only revealed a memory-issue in the virtualbox/muen port. My original commit unified the link address for all platforms to 0x01000000.

[2016-09-30 07:51] reet- commented on #2095
@skalk Ok thanks for the pointer, investigating.

[2016-09-30 08:53] skalk commented on #2095
@chelmuth ok, the final version is online

[2016-09-30 15:26] rite opened #2114 "wrong log output of screen resolution"

[2016-10-03 10:32] DenisHuberTUM opened #2115 "base-core: rm_session::destroy hangs up"
When starting a simple component [1] which only creates and destroys a new Region map, the component hangs up while processing destroy.

[1] https://github.com/702nADOS/genode-CheckpointRestore-SharedMemory/blob/2bbedd561131123f433a66a385da38f53a23818e/src/test/rm_session_destroy/main.cc

I found out, that destroy issues Genode::destroy, which calls the dtor ~Region_map_component(), but never proc

[2016-10-03 15:46] reet- commented on #2095
We investigated the problem on Muen and it turns out that the QEMU TCG code makes assumptions about the relation of virtual memory which are not met any longer.

See the `tcg_out_modrm_sib_offset` function in `src/app/virtualbox/src/recompiler/tcg/i386/tcg-target.c`. The `disp` variable is calculated from a given `offset` and `code_ptr`. The actual values of these variables depend on allocation or

[2016-10-03 20:05] alex-ab commented on #2095
Good catch ! The next time this base + offset thing of vbox bite us ;-( . In repos/ports/src/virtualbox/mm.cc we already use managed dataspaces to make sure that allocation of a specific type are within a 1 << 31bit window. Maybe we should/can drop the rt.cc specific implementation and switch to the one/reuse the mm.cc version. Would this solve the issue from your perspective @reet ?

[2016-10-04 07:19] reet- commented on #2095
The description of the `Sub_rm_connection` class sounds like it would indeed solve the issue we observed. @alex-ab Could you provide a try-out commit to make sure?

[2016-10-04 09:14] alex-ab commented on #2095
@reet-: may you give commit 231cdb21640a8abf81d73add577d168c5a95287c a try ?

[2016-10-04 11:09] reet- commented on #2095
Works for us! Thanks @alex-ab.

[2016-10-04 12:11] alex-ab opened #2116 "vbox: recompiler fails with "internal REM fatal error""
[code]

Discovered after changes due to #2095

[2016-10-04 12:13] alex-ab commented on #2116
@reet-: please try the following commit again, it should basicly should do the same as the first version you tested in #2095. Thanks for bug hunting and testing again !

[2016-10-04 13:53] reet- commented on #2116
@alex-ab Works.

[2016-10-04 21:51] alex-ab commented on #2115
Following commit fixes the issue for me. @DenisHuberTUM: Thanks for reporting.

[2016-10-05 09:29] nfeske commented on #2094
Commit c500f6657c415c0ef8cd05f84576c29079a20519 should fix the issue along with the warnings during the clean rule about the disappearing current working directory.

[2016-10-05 10:00] nfeske commented on #2113
The fixup 453639e3025d9f3888b6026d4ef045679cff79c2 tries to avoid duplicated code and reduces the indentation levels. @cproc Could you please give is a test?

[2016-10-05 12:35] nfeske commented on #2093
The commit https://github.com/genodelabs/genode/commit/a2f729bc5a5ad2a1051e28d28b729c937c910606 removes the outdated message. Thanks for pointing out this issue.

[2016-10-05 15:03] alex-ab commented on #2110
@nfeske: may you please add the last 3 commits to staging of issue_2110_staging

[2016-10-06 09:37] cnuke opened #2117 "vbox: handle initial link state in network backend"

[2016-10-06 11:12] nfeske commented on #2115
@alex-ab please see https://github.com/genodelabs/genode/commit/d54a56f5d7a8389301892c2535bc0ab6713284e1 ;-)

[2016-10-06 11:13] alex-ab commented on #2115
I see ;-)

[2016-10-06 12:29] nfeske opened #2118 "Enforce allocation sizes to be larger than 0"
We have repeatedly stumbled over bugs that were indirectly caused supplying 0 as a size argument to an allocator such as `Allocator_avl`. Depending on the allocator implementation, this damages invariants that are expected to hold by the implementation, i.e. that each address belongs to not more than one block.

Instead of changing all allocator implementations to be more defensive, I suggest to i

[2016-10-06 13:16] nfeske commented on #2118
Commit https://github.com/nfeske/genode/commit/a13ad161ca394f768e7cc88fee7cf1d381e3791f implements the idea.

[2016-10-07 05:49] trimpim commented on #2117
For me this patches crash vbox when booting in to a 64 bit Ubuntu 14.04 or Windows 7. A 32 bit Windows boots fine.
The error is:
page fault, pd='[init -> vbox]' thread='vCPU dispatcher' cpu=1 ip=0x13ce620 address=0x8

[2016-10-07 08:13] skalk opened #2119 "base-*: remove usage of deprecated printf"
According to issue #1987 we shall remove all `printf` calls from base-hw specific code.

[2016-10-07 09:42] m-stein commented on #2119
I would prefer to replace the calls with an alternative and, AFAIK, there is currently no such alternative. (log(), warning(), error(), and raw() do not work in the kernel)

[2016-10-07 12:02] nfeske opened #2120 "Remove upcallls to root interface"
In the current version of Genode, the parent of a service calls the `Root::session`, `Root::close`, and `Root::upgrade` RPC functions of the server child to manage sessions. Because the parent (as the client of the root interface) can never be sure that the untrusted child actually responds to these requests, the init component issues session-management requests from different threads.

It would b

[2016-10-07 13:12] cnuke opened #2121 "Adjust the nic_drv's memory requirements"

[2016-10-07 13:14] cnuke commented on #2121
@nfeske please merge 76a5e9a and  bba30d3 to staging.

[2016-10-07 13:26] cnuke commented on #2121
While here, let's get rid of some unused code. Those tests remained unused for several years and adjusting the quantum brought them back to my attentation.

@nfeske please also merge 455c1aa to staging (it depends on “Increase nic_drv RAM quantum”).

[2016-10-07 13:52] nfeske commented on #2121
It's my pleasure.

[2016-10-07 17:36] alex-ab opened #2122 "base: multiple calling lock.unlock() may lead to pagefaults"

[2016-10-07 17:48] alex-ab commented on #2122
I only sporadically discovered it when running vbox with several vCPUs. From time to time one of the EMT (vCPU handler) threads died with pagefaults or general protection faults. The test case above artificially showcases the issue.

[2016-10-09 09:57] skalk commented on #2119
@m-stein of course they do, as far as we initialize the log environment (grep for init_log).

[2016-10-09 13:01] skalk commented on #2119
When removing printf from base-hw's core implementation completely, one gets linker errors because of some usage of printf within Allocator_avl_base::dump_addr_tree and a special case  in Log_session_component::write (file repos/base/src/core/include/log_session_component.h:70). Whereby the first occurrence is easily replaced, the second is used to cut a linebreak from a line that only contains an

[2016-10-10 07:00] nfeske commented on #2119
The best way would certainly be the use of the new `Buffered_output` utility (base/src/include/base/internal/output.h) in the log-session implementation. This way, the logic for batching and flushing subsequent write request will be implemented at only one place. I cannot fully remember the rationale behind the special escape-sequence handling. I guess that the heuristic tries to reduce the chance

[2016-10-10 13:16] skalk commented on #2119
To really get rid of printf we have to remove it from generic core code too, so I extend this issue to all base-* repositories

[2016-10-10 15:08] skalk commented on #2095
@nfeske @chelmuth I've rebased it once again to current staging

[2016-10-11 08:30] skalk opened #2123 "audio_mixer: use correct mute value for XML report parsing"

[2016-10-11 11:06] cnuke opened #2124 "wifi_drv: add disable 11n mode config option"

[2016-10-11 11:11] cnuke commented on #2124
@nfeske please give both commits a try.

[2016-10-11 14:09] ehmry opened #2125 "Log debugging"
I like having a log debugging function around that is easy to hunt down during code cleanup.

May it never be used in the master branch : -)

[2016-10-11 14:12] ehmry commented on #2125
BTW, the color here is cyan.

[2016-10-11 14:19] nfeske commented on #2125
I would prefer moving the `PDGB` macro from printf.h over to log.h, e.g. like this (I have not tested the snippet):

[code]

It is simpler and we would always get the messages prefixed with the name of the calling function. Would that work for you, too?

[2016-10-11 14:49] skalk commented on #2018
I've upgraded Genode/Heeselicht to release 16.08.

[2016-10-11 14:59] ehmry commented on #2125
I don't like implicitly using __PRETTY_FUNCTION__ because it can get very noisy in the case of lambdas.

[2016-10-11 15:07] alex-ab commented on #2110
@chelmuth: may you please consider 99d6933042867818ac1024ac09d33f59b80f7d4c  395730ea4401970f349b6a7ba25d366ba12c5e8c d975a18ad3be1b465241b82321aaa46c6f6207b5 for staging

[2016-10-11 15:10] ehmry commented on #2125
Also, I like using a proper namespaced function or a separate header because it makes it easy to turn debug lines into compile errors.

[2016-10-12 06:57] alex-ab opened #2126 "nova: error in oom handling"

[2016-10-12 09:51] skalk opened #2127 "dde_linux: use SSL secured, unified downloads"
Since several nights our buildbot complains about unreachable sources for dde_linux (namely intel_fb.file). When doing the test manually at daytime, the test succeeds. Nevertheless, when looking at the port file, I was wondering that we use some special kernel.org mirror instead of the common one for wifi and intel_fb, and that we do not use HTTPS locations for several sources.
Hopefully, the nigh

[2016-10-12 09:53] skalk commented on #2127
@chelmuth : please add to staging to silent the buildbot

[2016-10-12 13:13] nfeske commented on #2125
You are right that using a separate header is more sensible than adding such debug utilities to log.h.

The use of PRETTY_FUNCTION is our time-tested approach, which I'd like to keep.

I think that the use of debug macros varies quite a lot from developer to developer. I tend to sporadically insert a few PDBGs while debugging. Once I have validated my assumption, I usually remove them immediately.

[2016-10-12 15:00] cproc opened #2128 "qemu-usb: handle null pointer in 'free()'"

[2016-10-12 16:21] cproc opened #2129 "vbox: automated test for the USB device pass-through feature"
Test the USB device pass-through feature of VirtualBox by running the 'usb_hid' test in a VM.

[2016-10-12 16:35] cproc commented on #2129
Depends on #2128.

[2016-10-12 16:50] alex-ab opened #2130 "vbox: add automated test to boot a VM directly from block session instead from a virtual disk (vdi)"

[2016-10-12 19:45] cnuke opened #2131 "usb: do not attempt to copy empty strings"

[2016-10-13 00:37] ehmry commented on #2125
I'm happy with just a macro in a separate header. Keeping the name and the output format the same makes debug lines look distinct in the code and in the logs. And yellow is fine with me now that PLOG is going away.

Redefining PDBG is going to break in a few places where there are types that aren't recognized by Output, but if the debug header isn't in use for checked in code then it shouldn't be

[2016-10-13 08:39] cnuke commented on #2131
@alex-ab please merge this commit to the1“6.08-stable” branch

[2016-10-13 12:17] cnuke commented on #2131
My commit is superseded by faeceae607adc4 which must be used instead.

[2016-10-13 14:09] nfeske opened #2132 "doc: make distinction between Genode and its tool chain more clear"
I got the following report via email:

[code]

Good points!

[2016-10-17 08:52] cnuke opened #2133 "usb_drv: add missing device pointer checks"

[2016-10-17 08:59] cnuke opened #2134 "base: add Binary Output helper class"
I'm not sure if it is necessary to have this helper in base but since it saves me some time while debugging somebody might put it to good use, too.

[2016-10-17 12:35] cproc opened #2135 "usb_drv: raw session fixes"
- use the correct memory free functions on errors
- report packet submit errors
- rename 'Usb::Packet_descriptor::transfer.timeout' as 'Usb::Packet_descriptor::transfer.polling_interval'

The 'Usb::Packet_descriptor::transfer.timeout' value was passed to the ```usb_fill_int_urb()``` function as 'interval' argument, which has a different meaning. The renamed 'transfer.polling_interval' value will o

[2016-10-17 16:15] cproc opened #2136 "libc_pipe: ignore some flags in 'fcntl()'"
Ignore file access mode and file creation flags for the F_SETFL command.

[2016-10-18 07:45] nfeske commented on #2125
Thanks for the new commit!

[2016-10-18 07:52] skalk opened #2137 "noux-pkg/less: fails under arm"
the recently added noux package `less` fails to compile/link under ARM (e.g.: hw_pbxa9, foc_pbxa9), therefore the noux_bash.run script fails under ARM too:

[code]

[2016-10-18 09:09] skalk opened #2138 "vfs: strange hang when filesystem is full"
I stumbled across this problem when using the Heeselicht scenario. When copying into a filesystem, in this case ext2 with rump_fs, where there is not enough space left, the copy operation of the bash never stops, and produces a lot of garbage escape sequences on the terminal.

[2016-10-18 09:13] skalk commented on #2138
above commit contains a more workable run-script than Heeselicht to reproduce the issue.

[2016-10-18 09:59] m-stein opened #2139 "nic_router: more intuitive config interface"
During some offline discussions with different potential users of the NIC router, each having his/her own use case and requirements, the demand for a new, more intuitive configuration scheme for the NIC router emerged. This is an example for the new scheme:

[code]

Each interface has its own subnet. To enable subnets to span over multiple NIC sessions is not a task of the NIC router. The subnet o

[2016-10-18 10:08] m-stein commented on #2139
I have the NIC router now in a state where it speaks the configuration defined above. I was able to remove some unnecessary overhead especially in the code paths that search for appropriate link states or rules. I also prepared the router for the introduction of runtime configuration changes and replaced the use of pointers by references and exceptions as far as sensible. Currently I'm cleaning it

[2016-10-18 10:29] chelmuth commented on #2112
I see that you went for `vendor_id` etc. @cnuke should usb_block also be adapted accordingly?

[2016-10-18 10:45] cnuke commented on #2112
@chelmuth yes, for consistency (the usb_block_drv does not use this attributes directly but generates a report that contains `vendor` instead of `vendor_id`).

[2016-10-18 10:48] chelmuth commented on #2117
I removed the `fixed` label because of @trimpim's post.

[2016-10-18 13:34] chelmuth commented on #2138
@cnuke IIRC you have additional information regarding this topic.

[2016-10-18 13:48] alex-ab opened #2140 "intel_fb: unplugging hdmi connector may cause a pagefault in driver"
If the hdmi cable is connected already during boot-up and later on unplugged, the driver may cause a page fault.

[2016-10-18 13:55] chelmuth commented on #2112
May I ask why you like `vendor_id` more than `vendor`?

[2016-10-18 14:33] cnuke commented on #2138
Yes, @skalk already tried the quick-and-dirty fix-attempt (*written > 0 ? OK : ERROR*) but it did not help. So we have to investigate further.

[2016-10-18 16:02] ehmry commented on #2125
now Sans-semicolon

[2016-10-19 09:56] m-stein commented on #2139
I've made the "gateway" attribute optional as it is not useful at subnets where the NIC router is the default gateway (normally the case for all downlinks). If the "gateway" attribute is not given for an interface, subnet-foreign packets to this interface are dropped with an error message.

[2016-10-19 19:50] skalk commented on #2095
@chelmuth commit 9f4d2a851c8700efab59203f44e73b28b0e5d027 is based on current staging

[2016-10-20 08:49] chelmuth commented on #1562
In 7bdcb867802e29505c288a6b62b0a538b100fa1f I replaced the need for the ram_fs component by a VFS `<ram/>` node, which keeps the file local to the wifi_drv component. Does this solve the issue or is is meant as a hook for the renovation of the used wpa_supplicant interface (away from the conf file)?

[2016-10-20 11:35] cproc opened #2141 "pthread: implement pthread_mutex_trylock()"
The 'pthread_mutex_trylock()' function is needed by libusb.

[2016-10-20 11:46] cproc opened #2142 "libports: add libusb"
In the current state of the port, libusb supports a single USB device, which it requests from the USB driver with the 'usb_device' label.

The policy of the USB driver configures the actual device to be provided to the application using libusb:

[code]

[2016-10-20 12:18] alex-ab opened #2143 "vbox: add auto test to run VMs concurrently"

[2016-10-20 13:11] cproc opened #2144 "libports: add CCID library"
The [CCID library](https://pcsclite.alioth.debian.org/ccid.html) provides a driver for USB smartcard readers using the CCID protocol. It is used by the pcsc-lite library (separate issue).

When the CCID library is built, it creates a file 'Info.plist' in the 'bin' directory, which contains information about the supported card readers. This file is loaded by the library at runtime as '/ifd-ccid.bun

[2016-10-20 13:38] cproc opened #2145 "libports: add pcsc-lite library"
The [pcsc-lite library](https://pcsclite.alioth.debian.org/pcsclite.html) provides an API for using smartcards in applications. It uses the CCID library (issue #2144) to access a USB card reader.

The USB card reader to be used by the application must be configured with its vendor id and product id in a file '/config.pcsc-lite':

[code]

It must also be configured in the policy of the USB driver a

[2016-10-21 10:43] #2087 closed

[2016-10-21 10:43] #2094 closed

[2016-10-21 10:43] #2096 closed

[2016-10-21 10:43] #2098 closed

[2016-10-21 10:43] #2100 closed

[2016-10-21 10:43] #2101 closed

[2016-10-21 10:43] #2105 closed

[2016-10-21 10:43] #2093 closed

[2016-10-21 10:43] #2099 closed

[2016-10-21 10:43] #2103 closed

[2016-10-21 10:43] #2107 closed

[2016-10-21 10:43] #2108 closed

[2016-10-21 10:43] #2109 closed

[2016-10-21 10:43] #2110 closed

[2016-10-21 10:43] #2111 closed

[2016-10-21 10:43] #2112 closed

[2016-10-21 10:43] #2113 closed

[2016-10-21 10:43] #2114 closed

[2016-10-21 10:43] #2115 closed

[2016-10-21 10:43] #2121 closed

[2016-10-21 10:43] #2122 closed

[2016-10-21 10:43] #2124 closed

[2016-10-21 10:43] #2119 closed

[2016-10-21 10:43] #2123 closed

[2016-10-21 10:43] #2126 closed

[2016-10-21 10:43] #2127 closed

[2016-10-21 10:43] #2128 closed

[2016-10-21 10:43] #2129 closed

[2016-10-21 10:43] #2130 closed

[2016-10-21 10:43] #2133 closed

[2016-10-21 10:43] #2135 closed

[2016-10-21 10:43] #2136 closed

[2016-10-21 10:56] chelmuth commented on #2143
Your topic branch starts off from 16_08_vbox. Could you please rebase to staging before merge?

[2016-10-21 11:20] chelmuth commented on #2134
I hesitate to merge you patch because it copies a dozen lines of code and changes about a dozen characters in the copy only... Do you think the redundant parts can be refactored?

[2016-10-21 12:40] alex-ab commented on #2143
Of course - I rebased it to master.

[2016-10-21 12:45] nfeske commented on #2134
I would prefer not to merge it because the base framework does not depend on it.

[2016-10-21 14:41] cproc opened #2146 "Complications with USB legacy support and PCI bus scanning"
On a Lenovo x201, when USB legacy support is enabled in the BIOS setup and a connected USB mouse is moved while the platform driver or the seL4 kernel scans the PCI bus, the machine can hang.

The modification of the platform driver in commit cproc@acc1db9f71d82cdbc9c8eb86eb0b2a60d001b8a8 demonstrates the problem, for example when running the 'framebuffer.run' test.

The problem does not occur on

[2016-10-21 16:50] alex-ab opened #2147 "Server may get stuck if using the Log_connection late the first time"
I using a scenario with nitpicker and multiple VMs and getting the whole setup stuck after some minutes (~5) of normal use. The last message is

[code]

It seems after some while the report_rom service wants to open the first time a log connection, but has no sufficient memory quota anymore. Shortly after the message everything seem to get stuck. The mouse pointer does not move anymore.

According

[2016-10-24 08:24] chelmuth commented on #2147
That looks rather strange as the LOG connection is explicitly initialized in `init_main_thread`.

[2016-10-24 08:43] chelmuth commented on #2147
I was wrong with my assumption that the instantiation of `Log` also creates the LOG connection. If I enforce also the connection creation at the end of `init_log` by calling `stdout_write` I get the following
[code]
It seems report_rom cannot recover from this state.

[2016-10-24 15:03] m-stein commented on #2139
The new version of the NIC router is ready so far except for the README and the commit message of the final commit. I've uploaded it all so it may be reviewed already. Next I'll write the README and the missing commit message.

[2016-10-24 20:05] alex-ab opened #2148 "part_blk: does not free up packet stream memory on session close"
[code]

[2016-10-25 14:13] alex-ab opened #2149 "audio: closing in/out session causes errors about signal handler and cap ref counting"
Such as:

[code]

[2016-10-26 10:01] nfeske opened #2150 "Allow RPC arguments w/o default constructor"
@3dik posted the following suggestion to the mailing list (https://sourceforge.net/p/genode/mailman/message/35449120/):

[code]

[2016-10-26 10:42] nfeske opened #2151 "Give `Lazy_volatile_object` and `Volatile_object` non-awkward names"
When I originally created the utilities in `util/volatile_object.h` during my work on nitpicker, I did not foresee that those utilities would be _that_ generally useful. Back then, I settled on the names because they express that the enclosed object may not stay the same over time but I was never happy about the naming.

Now that those utilities are used everywhere, I'd prefer to use more concise

[2016-10-26 11:12] alex-ab commented on #2117
Some more information. It may happen that, with this patch, the link state change is processed before the network model and the used data structure is ready initialized. The phenomena is that TMTimerSetMicro is called from DevE1000.cpp with a pTimer of null - which is normally initialized in e1kR3Construct. Somehow it must be take sure, that the network model is ready before sending link state to

[2016-10-26 11:13] chelmuth commented on #2151
As discussed offline I support the renaming.

[2016-10-26 20:08] alex-ab opened #2152 "intel_fb: update mode list if different displays with different supported modes are attached to a connector"

[2016-10-27 07:21] alex-ab commented on #2148
With the commit part_blk may die with a page fault in the region of the released packet stream memory. It seems that internally some packets may be in flight pointing to the just released region.

[2016-10-27 10:50] m-stein commented on #2151
I like the idea of renaming them, especially because the new names are less bulky. However, to me, Constructible seems to be a little confusing as every C++ object is constructible, but admittedly, I have no better suggestion.

[2016-10-27 13:52] m-stein commented on #2139
I've updated the branch (nic_router_enhanced). I've added the README and fixed some stuff that I found while writing. Now, TCP links have a general timeout of 2 times the round trip time, a pagefault on session destruction was fixed, and in the nic_router.run script I renamed srv server and clnt client.

[2016-10-27 15:40] 3dik commented on #2150
This is true but the boost::optional types would be used only internally in the RPC code, which in turn would narrow down the above-mentioned increase of code complexity. In contrast to that, 'Capability' objects may be constructed outside of the RPC code and a method call on an invalid 'Capability' object can lead to runtime errors.

So if the RPC mechanism was the only reason for allowing such a

[2016-10-27 16:10] ValiValpas commented on #2150
I'm impressed ;-)

[2016-10-27 16:30] alex-ab opened #2153 "usb: Error: BUG: _current is zero!"
[code]
This bug has been seen during detachment of a raw usb device (having a usb raw driver) and re-attaching it. Apparently it is a bug in the configuration of the integrator, nevertheless the driver should not go out of service.

[2016-10-27 16:34] alex-ab opened #2154 "vfs: block_file_system client crashes because of unhandled Packet_alloc_failed"
Seen with vbox using ahci model. The exception is not handled here:

https://github.com/genodelabs/genode/blob/master/repos/os/include/vfs/block_file_system.h#L77

[2016-10-27 16:58] cnuke opened #2155 "usb: remove redundant macro definition"

[2016-10-27 17:46] alex-ab commented on #2154
Does this commit qualify as stopgap fix ?

[2016-10-27 18:45] alex-ab commented on #2148
@chelmuth: please consider fixup for staging

[2016-10-27 19:39] alex-ab commented on #2117
Please try following commit.

[2016-10-28 08:21] cnuke commented on #2117
:+1:

[2016-10-28 08:27] cnuke commented on #2153
I tried to reproduce the problem with a driver using the Usb session directly but without any success. In this case claiming a device multiple times does not lead to the observed page fault. I will try to reproduce the issue with vbox.

[2016-10-29 16:44] ehmry commented on #1987
Mixer updated at 3768e56814573ad65572ba0acb9d16874d49a8dd

[2016-10-31 11:37] ehmry opened #2156 "drivers/audio: log session requests"

[2016-10-31 11:43] ehmry commented on #1987
Please use 88b8d369d5e241225fd6d42183e9cc5e8e60ed2c from my issue1987 branch, the previous commit touches audio_drv when it doesn't have to.

[2016-10-31 15:35] ehmry opened #2157 "run tool support for Genode hosted Linux development"
I would like to pass a run scenario from Linux in Virtualbox down to a Genode host, my motivation is network testing with full routing.

It should be possible to copy binaries and configuration thru a shared folder, and start a execute a the scenario by triggering a configuration reload in a running init instance. I will find out.

[2016-11-01 11:56] nfeske commented on #2150
The invalid state of a capability is actually not a result of the RPC limitations. We deliberately use it, e.g., to uninstall a signal handler, we install an invalid signal-context capability. Usually however, the receiver of a capability originating from a server expects the obtained capability to be valid. It is not needed to explicitly check it before using it. A check would be futile anyway be

[2016-11-01 13:26] alex-ab commented on #2147
Above commit also avoids the problem (thx @nfeske for the hint) - so it is a chicken/egg issue - avoiding doing log output if the log connection can't be established.

[2016-11-01 13:40] cproc commented on #2145
fixup commit 2e29d4936fb275b2a27e0683977d388d2c54c128 removes the unused 'report_rom' from the run script.

@chelmuth: please add to staging

[2016-11-01 13:57] cproc commented on #1891
@ehmry: there seems to be a problem with the 'vfs: pass Env and allocator when creating file-systems' commit and inline files in the root directory of a libc VFS. When running the 'smartcard.run' script, the following error occurs now:

[code]

This is the configuration:

[code]

[2016-11-01 14:17] ehmry commented on #2157
On second thought, better to control an instance of cli_monitor through a terminal file.

[2016-11-01 18:13] ehmry opened #2158 "memcpy name collision on base-linux"
On Arch I get a collision with the Linux memcpy and Genode::memcpy.

[2016-11-02 00:09] m-stein commented on #2139
I had some spare time this evening and used it for moving the NIC router to the new Component API. This implied replacing the net/dump header by print methods at the different packet types. The two commits are now at my branch (nic_router_enhanced).

[2016-11-02 09:34] skalk opened #2159 "base: iterator for AVL tree"
While implmenting issue #2092, again I hit the problem to iterate over an AVL tree. I think we need this very basic functionality several times, so I would like to integrate it into the AVL tree itself. Thereby we can also replace the current debug print utilities within Allocator_avl.

[2016-11-02 09:58] ehmry commented on #1891
This isn't problem with the VFS, somehow ''Libc::call_component_construct'' isn't being called and the VFS plugin isn't loaded at all.

https://github.com/genodelabs/genode/blob/7a2e58ec374616e6bc6d0fbae3f5ae5b9161b453/repos/libports/src/lib/libc/task.cc#L204

[2016-11-02 10:04] ehmry commented on #1891
To be fair it is a problem with the commit you mentioned because the VFS plugin is no longer implicitly constructed with an ``__attribute__((constructor))`` function.

[2016-11-02 10:39] ehmry opened #2160 "VFS auditing"
I made a little amendment to the VFS that has come in handy in a few different situations.

When the top level ``<vfs>`` node or any ``<dir>`` nodes have ``audit="yes"`` attached to them a log of file accesses is printed to a dedicated log session.

This is handy for debugging programs, for instance, does it open /etc/resolv.conf? What at the search locations for data files? Is the VFS working at

[2016-11-02 10:55] m-stein commented on #2159
@skalk I've also needed such an iterator for the NIC routrer and implemented it in  https://github.com/m-stein/genode/commit/2dc1901ea79291b3432b466fe2fc59ec84230abd

[2016-11-02 11:09] m-stein commented on #2159
@skalk Your code implements an in-order traversal while mine implements a post-order traversal. For my use case it isn't relevant in which order the tree is traversed but I would suggest to name the iterator according to the traversal type in general.

[2016-11-02 11:13] nfeske commented on #2160
Sounds handy. But I wonder, couldn't this be implemented as a VFS plugin? If we pass the root directory to the FS instances, the audit FS could work as follows:

[code]

In a similar fashion, different audit-like VFS plugins may provide different statistics (e.g., performance measurements). Granted, it may by slightly less convenient to use in your particular scenario. But the approach would scale

[2016-11-02 12:16] ehmry commented on #2160
Yes, a plugin would be cleaner, when I get the socket stuff out of the way I will try get the root directory argument in place.

[2016-11-02 12:41] skalk commented on #2159
Ok, I've added a comment, changed the template type's name, and reworked Rom_fs to use the new 'for_each'. @nfeske: would you mind to review it once again?

[2016-11-02 13:56] skalk commented on #2159
No problem! I will change it.

[2016-11-02 14:08] skalk commented on #2159
@nfeske ok, finally done.

[2016-11-02 15:11] cproc commented on #1891
Ok, so the problem is that the pcsc-lite library opens the file in an ```__attribute__((constructor))``` function and this happens now before the VFS plugin is loaded. I changed it in pcsc-lite, but the problem could show up again if a shared library uses files in constructor functions.

[2016-11-02 15:49] chelmuth commented on #2117
Does c33d4fb fix the issue?

[2016-11-02 15:55] cproc commented on #2145
Fixup commit ec88e0f31673b92c4d7ca2143515e93d5ff48fcc initializes the library when the user calls 'SCardEstablishContext()' for the first time and the VFS has been initialized.

@chelmuth: please add to staging (plus the report_rom fixup)

[2016-11-02 18:00] alex-ab commented on #2117
Yes, as far as i know.

[2016-11-03 10:05] trimpim commented on #2117
Yes, the issue is fixed with this patch.

[2016-11-03 12:33] m-stein commented on #2139
@chelmuth Thanks for your hints. I've updated the branch (nic_router_enhanced) accordingly.

[2016-11-03 12:49] alex-ab opened #2161 "nova: SC kernel assertions"
Destruction of SCs in multicore setups may lead to:

[code]

[code]

[code]

[2016-11-03 13:42] alex-ab opened #2162 "nova: make kernel memory configurable by Genode build system"
This avoids users to configure it in the contrib code and to maintain contrib patches.

[2016-11-03 14:44] chelmuth commented on #2154
@ehmry I have the feeling this will be silently fixed with the new async VFS?

[2016-11-03 18:17] 3dik commented on #2150
And this is completely okay. But RPC interfaces such as 'Rm_session' can provide methods which send a 'Capability' as return value to the client. A programmer could construct an invalid Capability object and forget to setup it with a call of the correct RPC method, which is 'create' in the Rm_session example. If the Capability class was not default-constructible, this mistake would immediately lea

[2016-11-04 09:15] ehmry commented on #2154
It should, but so far I have neglected to write a proper async plugin.

[2016-11-04 09:19] alex-ab commented on #2154
I have now the confirmation that the two commits fixes the issue of a customer. If the commits go not online, which I can understand, please make sure that the Packet_alloc_failed case during alloc_packet is handled properly.

[2016-11-04 11:59] chelmuth commented on #2156
Thanks, I merged both commits into staging.

[2016-11-04 14:47] alex-ab opened #2163 "nova: enumerate cpu ids in a predictable order"
Depending on the machine the enumeration of cpu ids differ, e.g. for X201

X201:
[code]

X250:
[code]

Self-made test machine 1:
[code]

Self-made test machine 2:
[code]

For X201 and X250 the cpus of  0 and 1 are on the same physical core being hyper-threads.
On the test machines the cpus 0 and 1 are on different physical cores.

One and the same Genode configuration/setup regarding affinity dist

[2016-11-04 14:59] alex-ab commented on #2163
With the commit the CPU ids as used in Genode a reordered the same as done up to now with the test machines, e.g.

[code]

tells, that the genode cpu id 1 is actually the kernel cpu id 2. With the commit the ordering is more predictable now.

[2016-11-04 15:30] ehmry commented on #2154
If there is a problem I say push the fixes until the new block client is ready.

[2016-11-05 18:10] keikonakata opened #2164 "base: eliminate flexible array members in Slab::Entry and Slab::Block"
`Slab::Block` contains a flexible array member
[code]
which Clang does not compile, and similarly with `Slab::Entry`.
Modifying to
[code]
Clang would accept.

[2016-11-06 15:33] nfeske opened #2165 "Remove Connection::KEEP_OPEN feature"
This feature allows a connection object to be temporarily created while keeping the session open even after the connection object is gone. With the forthcoming redesign of the parent interface to become non-blocking (#2120), we have to drop this feature because the client-side session state will entail more than just the session capability, in particular it comprises a session ID, which is natural

[2016-11-06 17:43] nfeske commented on #2165
The commit above removes the use of Connection::KEEP_OPEN from all places except for Qt5. @cproc Could you please take care of adjusting libports/src/lib/qt5/patches/qt5_qtbase_genode.patch accordingly? @alex-ab Could you please confirm that my changes of the ACPI driver are ok?

[2016-11-07 08:33] trimpim opened #2166 "init: print out reason for session creation error"
We have a relative complex scenario with many components and much more routes between them.
It is no trivial task to find out why the creation of a session failed without specific error message.
A short message should be printed so that the different cases can be distinguished.

[2016-11-07 10:21] rite opened #2168 "intel_fb_drv: heap could not free memory block"
Looks like a memory leak to me?

[2016-11-07 10:53] alex-ab commented on #2163
@chelmuth: fixup according to your suggestions

[2016-11-07 11:05] alex-ab commented on #2165
@nfeske: beside my two comments it looks good - if it still works

[2016-11-07 11:51] chelmuth commented on #2168
This could also be double-free. Could you provide more context for the issue? After which runtime this message logged or does it appear sporadically?

[2016-11-07 12:40] rite commented on #2168
The message is logged once, during startup of a fairly large scenario. Here's the filtered output:

[code]

[2016-11-07 12:51] cnuke opened #2169 "dde_linux: revert module param handling"

[2016-11-07 13:12] m-stein opened #2170 "os: timeout framework"
The Alarm framework is currently used in two scenarios: In the timer driver to multiplex the hardware or kernel time-source amongst different timer sessions and in other components to multiplex a timer session amongst multiple timeout subjects. These use cases have common wrapper code for the alarm framework that may be moved to a new "timeout" framework that then may replace the alarm framework.

[2016-11-07 13:18] nfeske commented on #2165
@alex-ab Thanks for the review. I added the fixup above.

[2016-11-07 13:30] m-stein commented on #2170
My branch ``timeout`` shows how the new timeout framework is used in the timer as well as in a test component. If there are no objections, I would now start modifying other components that use the alarm framework to use the timeout framework instead.

[2016-11-07 13:38] nfeske commented on #2166
I don't think that the low-level child.cc code is the appropriate place for these messages. From the child's perspective, this condition is an error. But from the parent's perspective (where the child.cc code resides), this condition does not present a problem.

That said, I agree that printing the diagnostic information is valuable. How do you think of adding the warning to the `Connection` class

[2016-11-07 13:44] cproc commented on #2165
The Qt5 part is done in issue #1631.

[2016-11-07 13:48] nfeske commented on #2170
I would change `Time_source` to be an abstract class. This way, the `Timeout_scheduler` does not need to be a template and could take its `Time_source` as reference argument to its constructor. This is beneficial for time sources that need constructor arguments. Strictly speaking, this would be even needed for the current `Time_source`, which needs access to the `Env` to create the timer connectio

[2016-11-07 20:04] nfeske opened #2171 "Make label prefixing more strict"
While working on the async root/parent interfaces (#2120) and the accompanied adaptation of the component-creation procedure, I came across the following idea:

We used to pass a lot of arguments to the `Child` constructor such as the child's initial ROM/CPU/PD sessions, and the dataspaces for the ELF binary and the dynamic linker. With the new framework, it would be much more natural to let the c

[2016-11-07 20:42] nfeske commented on #2171
While experimenting with this idea, I found two things worth noting.

* First, the LOG session is normally created as a Log_connection by the child. For this reason, all prefixes displayed by core's LOG service now end with a trailing " -> ", which is not nice. This problem can be fixed by opening the LOG session from the parent's context as an environment session.

* Second, label-based routing p

[2016-11-08 06:13] trimpim commented on #2166
In  principle I'm not against moving the information to a better location. But it should still be possible to distinguish between the different cases, otherwise we will end up with the same situation we have now, that we need to dig in to the code (add error messages) to find out what went wrong.
IMHO it is an error if the connection can't be opened.

[2016-11-08 11:29] ehmry commented on #2166
I think some guidelines on when and where errors should be printed to the log would be helpful.

[2016-11-08 11:37] nfeske commented on #2166
I am actually planning to remove the distinction between the `Service_denied` and `Unavailable` exceptions of the `Parent` interface because it should be of no matter to the child to know whether the requested service exists or not. The message that a connection of a certain type could not be established is certainly useful. This is covered by my patch. Furthermore, if init is not able to route th

[2016-11-08 12:51] m-stein commented on #2170
@nfeske I've updated the branch according to your suggestions.

[2016-11-08 13:17] alex-ab commented on #2059
@chelmuth: please consider d72d38d40a05cd762d16e901259e4906a26a539d for staging if it fits

[2016-11-08 13:21] alex-ab commented on #2059
@chelmuth: sorry, forget about it - not ready yet because it breaks vbox4

[2016-11-08 14:05] alex-ab commented on #2059
@chelmuth: commit 85347a557916d71948ec82d1c7c27b340c5f5a44 is better

[2016-11-08 14:05] ehmry commented on #2171
Simplifying the Child constructor would make things much easier for people trying to learn the framework, but I think a trailing ''->'' would be less intuitive for policy making. How is it that init can distinguish between an env request and a unlabeled request?

[2016-11-08 14:22] nfeske commented on #2171
Note that the trailing " -> " must only be present when unlabeled connections are used. E.g., this is never the case for ROM sessions but it is common case for block sessions where a file system server typically requests only one block session and thereby opens an unlabeled block connection. I reviewed the run scripts and found that it won't be too invasive. In most cases where we use label-based

[2016-11-08 14:26] ehmry commented on #2171
Ah, I understand, it is init-local resolution.

[2016-11-08 14:27] #2095 closed

[2016-11-08 14:27] #2125 closed

[2016-11-08 14:27] #2140 closed

[2016-11-08 14:27] #2141 closed

[2016-11-08 14:27] #2142 closed

[2016-11-08 14:27] #2144 closed

[2016-11-08 14:27] #2145 closed

[2016-11-08 14:27] #1891 closed

[2016-11-08 14:27] #2143 closed

[2016-11-08 14:27] #2148 closed

[2016-11-08 14:27] #2149 closed

[2016-11-08 14:27] #2155 closed

[2016-11-08 14:27] #2156 closed

[2016-11-08 14:27] #2158 closed

[2016-11-08 14:27] #2161 closed

[2016-11-08 14:27] #2162 closed

[2016-11-08 14:27] #2169 closed

[2016-11-08 14:33] rite opened #2172 "wifi_drv runs out of memory"
I updated `run/wifi` to make sure wifi_drv (or any other child) won't get more RAM than the reserved quota, which is 32M. Then I run the test for around 3:45h until init cannot respond to wifi_drv's resource request:

[code]

[2016-11-08 14:37] ehmry commented on #2171
Ok, maybe its not as bad as I thought, and encouraging more precise labels is good.

On a related note, I wonder what you think of optionally not prefixing some requests? This would allow a sub-init configuration to be more easily modified without requiring a policy change in a parent. For example, I may want to add a framebuffer recording shim to a subsystem without worrying about a change in lab

[2016-11-08 15:34] cproc commented on #1631
Fixup commit 4ab843d2326854150a59582ed8d31ef0b7578be0 updates the port hash.

@chelmuth: please add to staging

[2016-11-08 18:53] nfeske commented on #2150
Now I understand. Thanks for the explanation. In fact, I ran into this problem several times and would have appreciated a compile error in these situations. Also, if an invalid capability could be constructible solely via a `Capability::invalid()` class function (which may use the private default constructor), the deliberate creation of an invalid capability would become much more clear. Right now

[2016-11-09 05:48] trimpim commented on #2166
After reading your explanation, I see, why your solution is a better solution, than the one we had before.

Regarding warning vs. error, for me personal this is not that important, as long as there is  a diagnostic message of any kind. But some of my co workers see this different.

[2016-11-09 07:53] nfeske commented on #2171
@ehmry I has a similar Idea: we could allow the label to be rewritten by the matching route. E.g.,

[code]

This way, any child started by CLI monitor with the name "login*" will show up with the label "cli_monitor -> trusted" at nitpicker. All other CLI monitor children will appear as "cli_monitor -> untrusted". If one decides to change the name of the login program, only the `label_prefix` of th

[2016-11-09 10:17] chelmuth commented on #2171
I pretty much like your proposal for `<child ... label="adapted_label"/>` and for me it is not misleading at all. As I see it the routes are a table with selectors and the selected route defines to which component and with which arguments the request should be routed.

[2016-11-09 10:25] nfeske commented on #2166
My rule of thumb is:

* An error prevents a program from executing normally. It can no longer fulfill its purpose.
* A warning hints at an inconvenience that the program can deal with without tumbling. But the condition is worth reporting.

In a concrete case - like the `Connection` - the decision largely depends on the usage patterns. As an anecdote, many years ago, we implemented "clever" compon

[2016-11-09 10:57] ehmry commented on #2171
Yes, I like it, and I don't think it would be too confusing.

[2016-11-09 11:01] ehmry commented on #2171
Its good too because it reinforces the idea that the significance of the label decreases from left to right.

[2016-11-10 10:02] trimpim commented on #2166
With the patch from @nfeske the issue is solved for me.

[2016-11-10 10:02] #2166 closed

[2016-11-10 10:53] alex-ab opened #2173 "nova: support asynchronous delegate"

[2016-11-10 11:36] chelmuth commented on #2150
From my side, the patch series (except the test in hello) can be merged into staging if the style fixes in 4c81181 are confirmed. I propose to squash the series into one commit with a detailed commit message that aggregates all information from the current individual commits. Thanks @3dik for the great contribution.

[2016-11-10 12:12] m-stein commented on #2170
@nfeske The new version is now online.

[2016-11-10 12:37] cproc commented on #1631
Fixup commit 7a2a9f88e4240c6fa6396f3d293b248420e09baa disables the use of QProcess in Arora.

@chelmuth: please add to staging

[2016-11-10 13:39] cproc opened #2174 "Qt5: nic_drv not started on x86 platforms"
Currently, the 'nic_drv' component is not started when the 'usb_drv' component is started. This heuristic worked well when the 'usb_drv' was only used for the 'Nic' service, but now that it is also used for the 'Input' service on x86 platforms, this does not work anymore.

[2016-11-14 10:52] m-stein commented on #2120
Another fixup for the CPU sampler.

[2016-11-14 12:50] m-stein commented on #2120
The errors with CPU-sampler noux should get fixed too by the CPU sampler fixup.

[2016-11-14 14:42] m-stein commented on #2120
Three commits that fix the thread test. Commit https://github.com/m-stein/genode/commit/aa96da8da5945b73cc04a62a98b72300dd2b059a fixes a problem that might exist also in other session-component calls that create RPC objects for the client.

[2016-11-14 18:49] cproc commented on #2120
Fixup commit 6704eee29520113cd64a9e73bdc2ad522b5567c7 for qt5.

[2016-11-15 10:01] alex-ab commented on #2173
@chelmuth: please consider last 3 commits of issue_2173 branch for staging

[2016-11-15 17:15] nfeske commented on #1987
The two commits 729af608b15d07eb0d2f598caa95753b24fc7704 and 37e793f9850a2f1c94bb0e636da891688d17a0cd adapt both window decorators to the new API.

[2016-11-16 14:51] cnuke opened #2175 "wifi_drv: call kfree in case of kfree_rcu"

[2016-11-17 01:30] ehmry commented on #1987
I have an update for **rom_logger** at 3a35f28159f87ea684fb6c26e8cc83f174f3eccd, I also added an option for inspecting binary roms.

[2016-11-17 14:25] alex-ab commented on #1039
bab59f5bf266f1e8dbd790b394a8cb0546cd4482 commit addresses this issue - please check. Additionally, if ok, I would create another commit to remove overhead() everywhere (which may be squashed if wanted so)

[2016-11-17 15:13] chelmuth commented on #1039
IMO `overhead()` should be removed.

[2016-11-18 09:51] ehmry commented on #1987
@chelmuth I have a small fixup to the rom_logger hexdump, 8cb0cd2e2af72aec8ba6a22b344b27369a6a7036. I trust that if there are dataspaces bigger than the 32 bit address space, no one will want to print them.

[2016-11-18 10:08] alex-ab commented on #1039
I adapted the commit to the comments

[2016-11-18 11:43] chelmuth commented on #1987
Sounds reasonable but what is the rationale behind replacing `size_t` by `uint32_t`? Many places in the code base use `size_t` for *size* calculation.

[2016-11-18 12:31] ehmry commented on #1987
Its just to save screen space when printing offsets.

[2016-11-18 12:36] chelmuth commented on #1987
Oh, I missed that formatting issue ;-)

[2016-11-18 14:36] ehmry opened #2176 "Genode::List::for_each"
Eliminates writing some **for** loops that check linked list pointers.

[2016-11-19 04:53] doofin commented on #2018
I have followed the instructions including installing the rumpkernels , but get this strange error:

Seems that libiconv is not compiled. but after i run prepare_port libiconv ,it is still missing

[2016-11-19 19:45] 3dik commented on #2150
This is also an option of course.

If you have referred to me, I confirm this of course. To be honest, I cannot remember why I inserted all the spaces. However, an explicit rule in the style guidelines might be useful.

[2016-11-21 10:27] nfeske commented on #2018
I guess that there is another prerequisite for compiling libiconv missing. Sometimes, those hints go unnoticed because they appear very early in the build log. Could you please try building only the single library via the following command and post the complete build output?

[code]

[2016-11-21 10:48] nfeske commented on #2176
I'd like to discourage the direct use of `List` in Genode components because it is quite error-prone:

* It is not thread-safe,
* It is easy to miss a remove operation, ending up with dangling pointers,
* Because `List::Element` is public, it is unclear who is the legitimate list head. For example, the original version of `Service` used to be a `List::Element` because services are often kept in a

[2016-11-21 11:45] m-stein commented on #2120
The new fixup should fix the timer test on hw_x86_64.

[2016-11-21 12:24] m-stein commented on #2120
Updated the fixup to use internal_env().

[2016-11-21 12:30] skalk commented on #1039
Sorry for the quite late discussion contribution. I already talked with chelmuth and alex-ab on friday from face-to-face about this.
I was thinking about the inadequateness of the Allocator_guard sometimes ago, and came to the conclusion that the natural place for limiting RAM quota would be a RAM session guard instead of an allocator guard. I've implemented exemplary this within the nic_bridge: h

[2016-11-21 12:31] skalk commented on #1039
I forgot to mention: @chelmuth I completely agree with you regarding the removal of `overhead()`

[2016-11-21 14:54] nfeske commented on #1039
@skalk I like the idea but would prefer to discuss it separately from this issue and go with @alex-ab's change for now.

* Alex' change of the `Allocator` is good regardless of the `Allocator_guard`. Sure, it was motivated by the problem of the guard but reflecting the allocation costs to the caller is certainly a sensible feature.
* In many component implementations, the session-component object

[2016-11-21 14:56] nfeske commented on #2120
@m-stein Thank you for the new commit - very nice!

[2016-11-21 15:29] ehmry commented on #2176
I try to avoid list traversal but my use case at the moment is a push-down stack, but of the top of my head I cannot think of another use outside the VFS.

https://github.com/ehmry/genode/blob/pipe/repos/libports/src/lib/vfs/lwip/vfs.cc#L208
https://github.com/ehmry/genode/blob/pipe/repos/libports/src/lib/vfs/lwip/vfs.cc#L472

[2016-11-21 16:07] m-stein commented on #2120
I've added another commit on my branch (async_parent_root_interface). This commit is an addition to https://github.com/genodelabs/genode/commit/10939814276b3a15f4b45c030c1eb1a1c1b5ca13 and references the other cap-ref-count overflows in core. It also adds a test that attempts to trigger some of them. Unfortunately, this test can't trigger all of them on each platform. For example, most platforms d

[2016-11-21 22:36] alex-ab commented on #1039
I updated the commits. Please review d28b04a0db33d2cc6c2be35565e4dcca96b4ed60 thoughtfully, I adapted (hopefully) all places where the allocator is used, especially base-*  code. a0400537c6dd163365ce04398b0ec141aa82b765 is not ready yet, since one place is left where [overhead()](https://github.com/alex-ab/genode/blob/issue_1039/repos/base/include/root/component.h#L130) is used - how to handle thi

[2016-11-22 10:10] nfeske commented on #1039
I would assume that a sliced heap is used for creating session-component objects. This is the case in all servers that care about the proper accounting of session-local resources. So we could so the following:

[code]

In the future, I plan to retire the current version of `Root::Component` anyway. So it is ok to have an intermediate solution like this.

[2016-11-22 16:01] m-stein commented on #2120
The new fixup should fix the problems with hw_x86_64 since my previous fixup ea70f92dcfd5e1d255684688172edcbb8f4abc06.

[2016-11-22 19:26] cproc commented on #2120
Fixup commits for Arora, qt5_avplay and gdb_monitor.

@nfeske, @chelmuth: please add to staging

[2016-11-23 10:02] nfeske commented on #2120
Thanks @cproc for the fixups - merged to staging.

[2016-11-23 11:51] nfeske commented on #2171
While we are at it, I propose to make the session labeling mandatory. Right now, the labeling is applied by each `Child_policy` individually by overriding the `filter_session_args` method. By unconditionally applying the labeling, we can remove most overrides of `filter_session_args` (because most overrides apply the labeling but nothing else) and remove the `Init::Child_policy_enforce_labeling` c

[2016-11-23 13:46] m-stein opened #2177 "core: handle cap-ref-count overflow"

[2016-11-23 13:57] m-stein commented on #2177
@nfeske I modified the patch according to your suggestion but I was not able to get rid of the RM session API change. This is because when merely printing a warning on ref overflows in Region_map_component::fault_handler, the ref overflow is triggered again (I assume during the return path in the RPC framework). Throwing an exception instead, fixes this problem. Until now, I was not able to find o

[2016-11-23 14:10] nfeske commented on #2177
Unfortunately, I cannot give you an answer from the top of my head.

[2016-11-24 09:12] alex-ab commented on #1039
I followed the path as suggested by @skalk and used the Ram_session_guard as used by the nic_bridge. Please review the commits beginning with 'os: move ram_session_guard to util from nic_bridge' on the [branch](https://github.com/alex-ab/genode/commits/issue_1039_ram_guard). I would suggest to revert the ahci commit, as it nicely shows up the original issue (which is fixed with the commits now)

[2016-11-24 10:45] nfeske commented on #1039
Do we still need the `Quota_reservation` then?