[2021-12-14 14:59] nfeske commented on #23
When I adjusted the platform_drv/x86 code, I was already a bit anxious about possibly introducing a regression. Well, as evidenced by our nightly tests, this is what just happened. E.g., libc_vfs_fs_fat fails now on x86_64/qemu/nova.

To take this problem from the critical path, I reverted my platform-driver changes from staging (in https://github.com/nfeske/genode/commit/d4adb8e1796d18c2deba82ddc

[2021-12-14 15:29] cnuke commented on #4300
@nfeske thanks, I added the suggested check in 44455ee, which I came up with after instrumenting the session creation. I logged the affinity arguments and was a bit puzzled:

[code]
`platform().affinity_space() ` comes first, followed by `affinity.space()` and `affinity.location()`. Naturally `0x0` is always a valid location and since the location pontentially narrows the space down I assume the c

[2021-12-14 15:31] ttcoder commented on #4346
Agreed on consistency-by-proximity for sure. This is a major reason for storing metadata in xattrs (instead of e.g. in a separate SQL database) : making sure that if the file (node) is renamed, then the metadata follows, if the node is deleted then the metadata is deleted with it, if it's moved then it's moved, and so on. So localizing the metadata as close as possible to its node sounds good to m

[2021-12-14 15:40] chelmuth commented on #4312
The entire series is now merged to staging and the nightly CI was armed. Take cover!

[2021-12-14 16:29] nfeske commented on #4346
My remark about XML was merely a justification, not a suggestion for your use case. Intuitively, if there are potentially multiple attributes that are to be accessed individually, I'd probably represent each piece of data in a different file (named after the attribute name), not using any syntax at all.

But this does not need to be an either-or-decision. Since we are speaking of pseudo files, the

[2021-12-15 07:58] skalk opened #4348 "hw: check for write permission when invalidating cachelines"
Currently, before the kernel cleans/invalidates a cacheline it is checked whether the calling PD has a valid page-table entry pointing with regard to the requested virtual page address. But we do not check the page-table attributes. Thereby, we can harm the kernel's liveliness.

[2021-12-15 10:07] ssumpf commented on #4312
@chelmuth: 4f8eb2b and 6580646 address `build-packages` errors from last night for riscv.

[2021-12-15 13:44] nfeske commented on #4300
Thanks for your scrutiny @cnuke. I indeed mixed up the width/height with space.width/space.height.

Since the fiddling with coordinates is so brittle, I took a more profound attempt at improving the situation in https://github.com/nfeske/genode/commit/c3898b655688256a80306464f12f229ff53228dc. It works well in my test scenario. I'd appreciate you giving it try.

While revisiting the topic, I sense

[2021-12-15 14:58] nfeske commented on #4342
I merged the change as f236f56648a3ac546b9c6c60a8d9ee29b673db92 to staging, only changing the name from "graphics hardware" to "GPU hardware" to make distinction from display hardware more clear.

[2021-12-15 15:02] nfeske commented on #4344
Thanks a lot @skalk for the initiative. I merged your highly appreciated fixes to staging.

[2021-12-15 16:18] nfeske opened #4349 "Remove `Trace::Session::subject_info` RPC"
This interface is superseded by the shared-memory-based `for_each_trace_subject` mechanism.

The old mechanism is a leftover from issue #3610. I stumbled upon it because I added a warning message to base-okl4 whenever the maximum message size is exceeded, which happens to happen when returning the `Subject_info` as message payload.

[2021-12-15 20:15] ttcoder commented on #4346
Really enjoying our daily conversations!

'Roger that' on making the expose-to-world setting configurable, makes sense.

So I followed your directions, and it works as expected, my log shows I'm hitting all the right marks, and I'll soon need to implement actual storage with the NTFS back-end code.

I'm also preparing a little write-up about "name clashes" ; though there's not all that much
to say

[2021-12-16 08:47] nfeske commented on #4349
In the commit https://github.com/genodelabs/genode/commit/906e2d0b4b0174d9d9abc9d75b2746b4cfa88a88, I covered the trace logger and the tests exercised by the depot_autopilot.

Our buildbot points out that the following additional components still rely on the old interface:

* vfs_trace
* cpu_balancer
* trace_subject_reporter

I'll update the trace_subject reporter.

@alex-ab would you adjust the c

[2021-12-16 08:54] ssumpf commented on #4349
@nfeske: sure

[2021-12-16 08:55] alex-ab commented on #4349
@nfeske: yes

[2021-12-16 09:33] ssumpf commented on #4349
@nfeske: 3847a0d takes care of `vfs_trace`

[2021-12-16 10:22] alex-ab commented on #4349
@nfeske: 8d95978c20495d29acc819212598a31062e059b4 adjust the cpu_balancer

[2021-12-16 10:24] nfeske commented on #4349
Thanks @alex-ab and @ssumpf for responding so quickly.

[2021-12-16 10:34] nfeske opened #4350 "Automake compatibility issues of ports using the GNU build system"
We sporadically encounter the issue that a port requires a specific automake version to be installed on the host. Sometimes, the correct version is not readily available from the official distro repositories. In most cases, the invocation of automake is actually superfluous because the downloaded 3rd-party code comes with a generated Makefile.in. But in the event the timestamp of the .in file is o

[2021-12-16 10:40] nfeske commented on #4350
Commit https://github.com/genodelabs/genode/commit/633c17d99fe42f1a754e4df3e5c360421037c5f7 addresses this issue by discharging the offending make rule when preparing a port. The solution is arguably not nice but all alternative band-aids I can think of would be even worse.

[2021-12-16 10:53] chelmuth commented on #4349
`make -C build/x86_64 run/migrate KERNEL=nova` fails like follows.

[code]

[2021-12-16 10:53] nfeske commented on #4312
A few network-related tests of the depot autopilot currently fail. E.g., nic_loopback:

[code]

I guess that it related to commit feec919d7afef2ea760108e55d852399576ddbd6. @ssumpf could you have a look?

[2021-12-16 12:00] alex-ab commented on #4349
0256a755713a06439dc957df97e994e8dfb35cfe fixes the test/migrate

[2021-12-16 14:49] nfeske commented on #4346
Likewise. It is very enjoyable to watch your enthusiasm at work. :-)

I'm amazed about your rapid success. Seeing "NTFS xattr work" so shortly after we sketched the rough plan is super cool.

You are certainly right. I completely missed the many possible consistency issues of the various file operations like unlink or rename.

[2021-12-16 15:03] cnuke commented on #4300
@nfeske commit c3898b6 is much appreciated and fixes the problem nicely, e.g. the warning points the user in the right direction.

Commit e87d8d7 fixes a minor compilation issue on base-hw (I have not checked other platforms).

[2021-12-16 15:39] nfeske commented on #4300
Thanks @cnuke for the nice feedback and the fixup. I rebased and merged the latest version to staging now.

[2021-12-16 17:31] ttcoder commented on #4346
One last-ish note about ioctl opcodes:

My second and last (?) ioctl related project will need to add yet another few opcodes such as ```` TTS_CREATE_INDEX, TTS_DELETE_INDEX, TTS_QUERY_BY_FORMULA```` etc. Those ones will be device-specific (i.e. I"ll call ioctl() on the device, that is to say on the "/" root directory of the device I think, since an attribute index is a partition-wide thingy) (thi

[2021-12-17 04:58] S7rizh commented on #4337
I figured out what was the problem. It turned out that I was building the scenario with the `CC_OLEVEL=-O0` option and it resulted in this strange error. Seems that issue is resolved but still wondering what is the cause of such a behavior

[2021-12-17 04:58] #4337 closed

[2021-12-17 09:12] nfeske commented on #4337
Thank you very much for sharing the outcome with us, and for updating/closing the issue. Should you find out more about the mystery regarding the use of -O0 in this scenario, I'd love to learn about it.

One effect that we repeatedly observed is the increased stack usage when using -O0. Since function calls are not inlined, each call nesting level consumes a stack frame. But if that would be the t

[2021-12-17 10:37] ssumpf commented on #4312
@nfeske: 9a91574 addresses this issue.

[2021-12-17 11:14] chelmuth opened #4351 "riscv: failed tests in depot_autopilot"
riscv_qemu made its first rounds in the nightly depot_autopilot runs and did very well. Nevertheless, there the following remaining issues.

- [x] test-libc fails on
[code]
- [ ] test-rm_fault_no_nox times out after
  `[init -> test-rm_fault] test WRITE faults on read-only binary and read-only attached RAM`
- [ ] test-trace_logger times out
  Seems the trace messages of `trigger_once` are missing

[2021-12-17 11:20] nfeske commented on #4346
I appreciate that you are putting yourself in our shoes. In the back of my head, I indeed perceive ioctl as a "legacy" interface that we need to provide to attain compatibility with the existing body of POSIX software. Supporting broadly used opcodes is valuable because it lowers the friction between Genode and those broad uses. E.g., the support for the ioctls for OSS nicely bridges the gap betwe

[2021-12-17 11:43] jschlatow opened #4352 "Implementing a trace_recorder component"
This issue is intended for keeping track of ideas and progress w.r.t. enhancing the tracing capabilities in genode.

The ideas written down below evolved from some experiments I conducted for extracting [CTF traces](https://diamon.org/ctf/) in Sculpt in order to record traces of component interactions. My first idea was implementing this as a vfs plugin, similar to vfs_trace. While this worked as

[2021-12-17 11:48] jschlatow commented on #4203
In order to narrow down the cause this issue, I ran some tests with netperf. More precisely, I was running netperf server on Sculpt 21.11 on a Thinkpad x260 and the client from within my Linux VM on my productive Sculpt 21.10 using vbox6. When using lxip, I got a throughput of 90Mbit/s (it's a 100Mbit/s Ethernet). However, with lwip, I merely achieved approx. 50Mbit/s. This effect was not reproduc

[2021-12-17 14:11] #4330 closed

[2021-12-17 14:11] #4338 closed

[2021-12-17 14:11] #4340 closed

[2021-12-17 14:11] #4342 closed

[2021-12-17 14:11] #4349 closed

[2021-12-17 14:11] #4350 closed

[2021-12-17 14:13] nfeske commented on #4312
Fixed in master.

[2021-12-17 14:13] #4312 closed

[2021-12-17 14:14] nfeske commented on #4300
Fixed in master.

[2021-12-17 14:14] #4300 closed

[2021-12-17 14:31] nfeske commented on #23
Merged to master.

[2021-12-17 14:31] #23 closed

[2021-12-17 14:53] cnuke opened #4353 "libports: remove FUSE fs run script snippet"

[2021-12-17 15:07] nfeske commented on #4353
Thanks. Merged to staging.

[2021-12-17 15:36] nfeske commented on #4312
Thanks @ssumpf for the fix. I added your commit to staging.

[2021-12-19 00:21] m-stein opened #4355 "CBE SB control: don't encrypt invalid keys"
This issue is related to https://github.com/cbe-project/cbe/issues/72. Originally it was only meant for the CBE port update but I encountered also several problems with testing the new CBE in Genode. More specifically, the ``vfs_cbe`` test doesn't build with staging and even when fixing the build, there remain several problems at runtime.

[2021-12-20 08:07] chelmuth commented on #4351
@ssumpf I was a bit puzzled about the following lines in the log (note the RAM-size values).

[code]

And indeed, the following patch "fixes" *test-libc* (at least).

[code]

[2021-12-20 08:32] ssumpf commented on #4351
:+1:

[2021-12-20 08:34] nfeske commented on #4355
This comment makes me wonder because the nightly build does not report any build error. Also, the cbe_tester.run script is executed successfully (runs on base-linux).

[2021-12-20 11:44] m-stein commented on #4355
The cbe_tester run script only tests the CBE core logic very directly whereas the ``vfs_cbe`` includes also the VFS plugins and VFS-based apps that are related to the CBE. As far as I can tell from my ``autopilot.list``, ``vfs_cbe`` is not tested nightly. It is part of the ``tool/cbe_autopilot`` however. I don't know whether ``cbe_autopilot`` is executed once in a week as was the original idea beh

[2021-12-20 11:45] m-stein commented on #4355
Unfortunately I cannot redo tests on a fresh repo's staging because ``gnu.org`` seems to be down for a while now.

[2021-12-20 11:46] m-stein commented on #4355
(the tests require ports like ``bash`` and ``coreutils``)

[2021-12-20 11:48] m-stein commented on #4355
I forgot to mention that ``cbe_tester`` succeeds with staging on my machine.

[2021-12-20 12:51] cproc opened #4356 "Remove mutex from 'Genode::Trace_output'"
Create the ```Buffered_trace_output``` object on the stack and remove the mutex to avoid additional dependencies between threads when using the ```Genode::trace()``` function.

[2021-12-20 13:00] cproc commented on #4356
Fixed by 6e7d4f0.

[2021-12-20 13:05] chelmuth commented on #4355
I can confirm that *cbe_tester* succeeded at least since Friday. But, *tool/cbe_autopilot* is currently not enabled in *ci-tools*.

[2021-12-20 13:33] chelmuth commented on #4345
I disagree with your reasoning and vote for a kernel ABI that uses one standard register for return values as long as there's no requirement for a predefined value type (like that for the time value). Additionally, I rather identified demand for enumerated result cases rather than magic negative values.

[2021-12-20 16:20] m-stein commented on #4355
We could transfer the CBE autopilot tests to run scripts and add them to the autopilot list as well. Reasons for having an extra tool were the special case of GNAT proving, that ``run/vfs_cbe_init`` must be executed _before_ ``run/vfs_cbe`` and that the tests consume some time and that we maybe want to execute them only once a week.

[2021-12-20 16:21] m-stein commented on #4355
I think, the first two of these problems can also be solved with run scripts.

[2021-12-20 18:00] m-stein commented on #4355
Is ``Event`` service support desired for the black hole server? In order to overcome an unresolved session request in the "autopilot" mode of ``run/vfs_cbe`` originating from the drivers subsystem, I added this feature to the black hole server. Afterwards, I found that I can also just remove the whole drivers subsystem without breaking anything.

[2021-12-20 18:02] m-stein commented on #4345
:+1: for enumerated result cases.

[2021-12-20 20:54] alex-ab opened #4357 "foc: l4_thread_stats_time syscall does not return sometimes - cpu_balancer qemu x86_32/x86_64"
Since issue #4349 the cpu_balancer.run test fail reliable on Fiasco.OC with Qemu x86_32 and x86_64. With commit ea383d877f6ae994a2eaee12e0277d97b754007a one gets following trace:
[code]
and afterwards no output anymore, but a very busy host CPU. The kernel debugger shows:

[code]

Any ideas ?

[2021-12-21 07:47] chelmuth commented on #4357
Is there any other thread running in space 11f?

A quick look into the sources reveals: The mysterious DRQ (I never heard of before) may correlate with cross-CPU IPC (or potentiallly other cross-CPU operations).

[2021-12-21 08:04] chelmuth commented on #4357
I'd bet
https://github.com/kernkonzept/fiasco/blob/4367c50b1df878604b9833d4b41ae311d6e12e03/src/kern/thread_object.cpp#L678-L684 is the source of the *deferred request (DRQ)* and triggers a corner case of remote CPU stats retrieval.

[2021-12-21 10:12] nfeske commented on #4355
That would be a very welcome addition. In fact, I think we should consider all prominent server interfaces to be covered by the black-hole component in the longer term.

[2021-12-21 13:09] ttcoder commented on #4346
Tentatively closing this ticket, as I verified I can access xattr data with special "dot" paths from LibC, without modifying Genode's ioctl opcodes support indeed.
It was a little more involved than I thought, as Genode's VFS unexpectedly changes its mechanics completely between open() being called from vfs and open() being called from libc, it calls different hooks in my plug-in (it calls stat()

[2021-12-22 10:14] nfeske commented on #4346
That's done to deference symlinks along the path. The current implementation is indeed not ideal. It would be sensible to move this mechanism from the libc into the VFS, mainly for performance reasons. I mentioned this idea in https://lists.genode.org/pipermail/users/2021-May/007687.html but haven't got the time to implement it yet.

Please feel welcome re-open this issue once you feel that the xa

[2021-12-22 11:14] skalk opened #4359 "Deprecate platform API specific to x86, imx53, rpi"
To cleanup the API, and to enable the usage of the newer - by now ARM only - platform driver on x86 or riscv, we shall deprecate the former platform APIs specific to x86, imx53, rpi by moving them to "legacy" subdirectory. The driver incarnations shall be renamed to "legacy_*_platform_drv" to be able to use them side-by-side with the new incarnation while drivers are updated gradually.

[2021-12-23 15:37] ttcoder commented on #4346
I might just take you up on that offer! Re-opening so as to remember to examine this further.

Indeed, moving forward on the haiku-in-genode side of the code, I ran into the "file descriptor is known, but file path is not known" problem again. Except this time I couldn't circumvent it with their "libroot-build" support and hacks, as FD/Path book-keeping seems to be absent in the xattr part of the

[2021-12-26 19:51] tomga commented on #3415
Almost three years passed since last activity in this issue but this did not mean that I completely disregarded idea for support for Raspberry Pi boards on Genode. When time permitted I tried to update my working branch to current Genode state and make some progress with functionality. It is a time when I'd like to make an attempt to merge my work.

### Current state

[rpi_master_20211217](url/tom

[2021-12-26 19:55] tomga commented on #4359
@chelmuth, @nfeske, @skalk, may I ask to avoid merging rpi specific parts to staging at least before considering merge of my changes from issue #3415? I've finished cleanup of the code and was in process of describing [current state](/genodelabs/genode/issues/3415#issuecomment-1001232845) when I found out about this issue. This commit will produce conflicts with my changes. I also believe that aft

[2021-12-27 12:07] ttcoder commented on #4346
Almost there, one last opcode to implement/test, and the diffs to prepare.

In the meantime, here's a digression you might enjoy. I was thinking about our discussion on how to implement xattr support in the most elegant way, keeping with the "sub-folder of attributes" paradigm, and it occured to me, we could go much farther than that, and theorize a more far-reaching *revolution*... In the VFS its

[2021-12-30 12:32] ttcoder commented on #4346
So here's the diff for vfs_plugin.cc:

[diff-1_ticket4346_ioctl.txt](https://github.com/genodelabs/genode/files/7792915/diff-1_ticket4346_ioctl.txt)

Pre requisites:
- Genode 21.08+
- A VFS plug-in that "speaks" the dot-file protocol implemented by the above patch.

My comments are probably too verbose, and maybe I should not call unlink() directly, but this gives a good idea of how to patch Genod

[2022-01-02 20:33] tomga opened #4360 "test-pthread timeouts on rpi3 if run after other tests with depot_autopilot"
During testing my [rpi dev branch](/tomga/genode/commits/rpi_master_20211217) I noticed that `test-pthread` fails with timeout after 90 seconds on rpi3. I have verified that this behavior exists also without my changes so I'm creating a new issue for that.

I did some additional tests and:
 * this timeout does not happen if `test-pthread` is as a single test using `depot_autopilot` - in this case

[2022-01-03 10:06] cproc opened #4361 "virtualbox6: support thread priorities"
Porting the thread priority support for Genode from virtualbox5 had a positive impact on audio playback.with Linux and Windows 10 VMs.

[2022-01-03 10:10] cproc commented on #4361
Fixed by aae8b13

[2022-01-03 16:15] skalk commented on #4359
@tomga I fully understand your worries about potential merge conflicts and additional burden on your side. I've tried to review your commit series as a whole but there are still open questions, or changes I would like to investigate with more care. Though, I'm afraid we cannot withhold commits - critical for further development in our daily work - to keep a merge window open.
Nonetheless, I like t

[2022-01-03 16:17] skalk commented on #3415
@tomga I've prepared an alternative solution to prevent the 'CPS' instruction. Could you please try out commit d6ddd2e while starting rpi2 or rpi3 in 32-bit mode?

[2022-01-03 16:47] nfeske opened #4362 "Running a simple version of Sculpt on Linux"
During testing and development, the ability to run a bare version of Sculpt OS on base-linux would be handy. Right now, there merely exists a test vehicle in the form of the leitzentrale.run script.

[2022-01-03 16:51] nfeske commented on #4362
The two commits https://github.com/nfeske/genode/commit/33e25f2fed49093d07243f7f284bbd217f3a25d6 and https://github.com/nfeske/genode/commit/8c8cf974143671637571cd143c15457665a6fbb7 allow for executing the sculpt_test.run script on base-linux.

The `sculpt-linux` package is based on the `drivers_interactive-linux` package, which means that only the GUI is available, but no networking or persistent

[2022-01-03 23:05] tomga commented on #4359
@skalk, thanks. My comments below.

Actually I looked at your patch briefly and I was sure that there will be merge conflicts. Anyway I rebased my branch on top of your commits today and after some iteration of fixes everything seems to work. I'll write more details in #3415.

I'm aware of some shortcuts I made - they definitely need some care. I believe/hope that they are not critical and can be

[2022-01-03 23:29] tomga commented on #3415
@skalk, I've tested your alternative solution to 'CPS' instruction and it allows to boot without problems on rpi2 and rpi3 in 32-bit mode.

I created new branch [rpi_master_20211217a](/tomga/genode/commits/rpi_master_20211217a) that is based on your `merge_to_staging`. I have tested this branch and `run/demo`, `run/ping` and `run/framebuffer` work on all models.

Next set of changesets affect plat

[2022-01-04 10:26] skalk commented on #4359
@tomga thank you for taking the time and for your understanding.

[2022-01-04 10:27] skalk commented on #3415
@tomga thank you very much for testing the commit!

[2022-01-04 10:46] chelmuth commented on #4361
I had an intense discussion with @nfeske about using your commit as an intermediate *sledgehammer* step on the way to a final solution without priorities as this is our definite goal. While debating about the execution model in VritualBox, the observed behavior, and potential causes, we identified only two priority levels that must be implemented in the end - one for the VMM and one for the VM/VCP

[2022-01-04 15:43] skalk opened #4363 "Move Raspberry Pi support into designated repository"
Analogue to other boards/SoC like imx and allwinner, the board support for Raspberry Pi variants shall be collected in one designated repositories.

[2022-01-04 15:53] nfeske opened #4364 "Move depot keys to location inside repos/"
Right now, depot `pubkey` and `download` files are located at the /depot/ directory, which also hosts generated or downloaded depot content. This has two drawbacks.

1. Sharing one location among version-managed files and generated files makes the removal of all generated files more complicated than it should be.

2. `pubkey` and `download` files cannot be hosted in supplemental repository managed

[2022-01-04 22:09] cproc commented on #4361
@chelmuth: yes, only reducing the 'Vm_connection' priority seems to have about the same positive effect.

For comparison, I ran three tests playing a 10 minute audio file with VLC in a Windows 10 VM and counted the number of detected underruns. First column is the number of priority levels.

[code]

Commit e2f5de5 implements the smaller fix.

[2022-01-05 06:47] chelmuth commented on #4361
That sounds great, thanks. I merged 6bf81c4606d22b60419627299badcb2f8bef4c08 to staging.

[2022-01-05 07:07] chelmuth commented on #4361
Now, there's the open question if https://github.com/genodelabs/genode/blob/master/repos/ports/src/virtualbox6/patches/devahci.patch and https://github.com/genodelabs/genode/blob/master/repos/ports/src/virtualbox6/patches/serial.patch are obsolete as VMM execution is effectively prioritized over VM/VCPU execution. The background is that these patches address cases were the guest code polls device-

[2022-01-05 08:08] chelmuth commented on #4360
I wonder if your observation that other tests *added from 1 to few seconds to time required to finish test-pthread* can be linked to the fact that *test-pthread* is started *later*. Could it be a time-drift issue? You may check by delaying the start of the test in *depot_autopilot* or the pthread test itself by some dozens of seconds.

[2022-01-05 13:46] alex-ab commented on #4357
I added one commit to disable the cpu_balancer test and another one which should prevent users of the trace framework to hang up the roottask on Genode/FOC due to the bug.

[2022-01-05 14:29] nfeske commented on #4357
Thanks @alex-ab. I merged both commits along with the style fixup https://github.com/genodelabs/genode/commit/f4f7c1a5573462eeb753ab0ac6aa8b606eb48321.

[2022-01-05 18:37] tomga opened #4365 "tool_chain: ali2dep is not built even if ada is enabled"
I've stumbled upon this problem when trying to run `run/depot_autopilot` recently. My locally built tool chain did not contain `ali2dep` binaries for some architectures. It seems that initially this script was built by `tool_chain` tool but when introducing ENABLE_FEATURES in issue #4094 regression was introduced that was hard to spot if someone had tool chain already built (as it finishes properl

[2022-01-05 22:42] tomga opened #4366 "tool/create_builddir: default config for linux can lead user to unexpected results"
Configuration created by default for `linux` architecture contains:
[code]
and later:
[code]
Uncommenting `--depot-auto-update` does not make any effect because of the second part which resets value of RUN_OPT variable.

Commit 1bc1baadd13604df36567858e9d1b17c9a0b95ba changes second part to append options to RUN_OPT instead of resetting variable.

[2022-01-06 10:20] nfeske commented on #4366
Thank you @tomga for bringing this issue to our attention. In fact, the `linux` argument of the `create_builddir` tool is a legacy artifact. I was actually surprised learning today that this option still exists. Linux can be targeted via the regular `x86_64`, `x86_32`, and `arm_v8a` build directories by now.

I would like to take this bug report as impulse to remove the `linux` argument from the `

[2022-01-06 10:42] tomga commented on #4366
I used this configuration for years and it generally worked with this one caveat so I finally mentioned it here. I didn't even know that `linux` can be targeted via architecture specific build directories (I didn't think about it really).

Therefore I have no objections to removal support for `linux` argument from `create_builddir` tool.

[2022-01-06 11:01] nfeske opened #4367 "Potential memory leak in `Allocator_avl` during `add_range`, `remove_range`"
The interplay of the `Slab` allocator with the `Allocator_avl` can result in an empty slab block being un-referenced without being physically freed.

The problem stems from the temporary disabling of the slab allocator's backing-store allocator (used for allocating slab blocks) during `add_range` / `remove_range` operations. Those operations implicitly allocate and release slab entries that hold t

[2022-01-06 11:02] nfeske commented on #4367
Fixed by https://github.com/genodelabs/genode/commit/8a2915c3b4dc8c2937daeceb47cf557ddc4c26d1.

[2022-01-06 11:13] nfeske commented on #4366
Thank you @tomga for the confirmation. Commit https://github.com/genodelabs/genode/commit/425a1426c0c646c332779e000f1ac59c99466515 removes the option from the `create_builddir` tool.

[2022-01-06 14:48] tomga commented on #4360
I've made some tests after adding sleep in `depot_autopilot` before running a single `test-pthread` test. Results are a little surprising. This delay increases time needed to finish pthread test but at much lower scale. Thirty minutes delay caused the test to run about 47 secons so about 15 seconds longer then when started without delay. But if it is run with default list of tests `test-pthread` s

[2022-01-07 08:31] cproc commented on #4361
@chelmuth: I removed the two patches from my test setup and haven't noticed any problems related to that so far.

[2022-01-07 12:50] nfeske opened #4368 "run tool: mechanism to obtain list of build artifacts"
It would be nice if the run tool provided a way to track the build artifacts for invocations of the build system to be able to automate the creation of the list of boot modules for a given build. This way, the manually curated list of boot modules in run scripts could be replaced with a line like:

[code]

This would simplify run scripts and make the combination of `import_from_depot` with custom

[2022-01-07 12:51] nfeske commented on #4368
This topic is related to a prior discussion in #4073.

[2022-01-07 13:26] tomga commented on #4368
@nfeske, I did not realize that during our earlier discussion but I think it is not compatible with `--skip-build` option of `run` tool. So it won't be possible to use this option for those run scripts that use `build_artifacts` procedure? Am I right?

[2022-01-07 14:02] nfeske opened #4369 "Modularization of Sculpt OS system images"
Even though Sculpt is extremely flexible in terms of runtime customization, all Sculpt systems are currently based on one canonical system image, which was primarily designed for general-purpose computing. However, the architecture of Sculpt OS could be leveraged in other usage scenarios as well, in particular:

* Using Sculpt OS as testbed during development as an alternative to the use of run sc

[2022-01-07 14:17] nfeske commented on #4368
That sounds logical. With no build, there are no build artifacts after all.

[2022-01-07 15:03] nfeske commented on #4369
Implemented in https://github.com/genodelabs/genode/commit/8ae74153591a7e65c3bbe0d240cd3e010aa9b561. Please refer to the commit message for more details.

Since the change is quite invasive, I'd be happy about people trying it out and confirm that I did not break anything. Suggestions in any directions are welcome.

One thing that I have not yet implemented is running `xmllint` on all ingredients.

[2022-01-10 10:30] skalk commented on #4359
@nfeske @chelmuth I've rebased the work again to match the changes of the staging branch. As this deprecation touches several configuration files that are also essential during driver upgrade work, it would be fine if you could review resp. merge the commit 6a0b6db when time permits it.

[2022-01-10 10:32] skalk commented on #3415
@nfeske @chelmuth would you mind to review and merge commits a305e53 and e6a1a99 as first steps to solve tomga's issue? They are ready for staging in my eyes.

[2022-01-10 10:35] skalk commented on #4363
@nfeske @chelmuth as far as it matches your agenda, the removal from rpi1/3 from the genode main repository in commit dd61cb8 is ready to be merged. I've prepared a corresponding genode-rpi repository, which I would integrate into our testing infrastructure, as soon as you've merged this commit.

[2022-01-10 13:03] skalk commented on #4331
@tomga could you try whether commit 16e5d4a fixes the alignment error on the rpi3?

It is a fix for the mentioned problem only. The re-design @nfeske and @chelmuth have drafted is necessary IMO when looking at the blit library. However, it probably is beyond the solution of this specific issue.

[2022-01-10 13:10] nfeske commented on #4359
Thank you @skalk for the notice. I merged this very welcome change to staging now. It is nice to see some outdated spec/ directories vanish with it.

[2022-01-10 13:12] nfeske commented on #3415
I merged both commits to staging.

[2022-01-10 13:13] nfeske commented on #4363
I merged the commit to staging as https://github.com/genodelabs/genode/commit/fe95e140944a68b4d1daa7130415cb25c36d79ef while mentioning the new location in the commit message.

[2022-01-10 13:49] cnuke opened #4371 "vfs/rump: enable mtime update"

[2022-01-10 13:53] cnuke commented on #4371
Commit 12c10ff adds the missing update call.

Apparently nobody using `vfs/rump` has relied on the proper behaviour so far.

[2022-01-10 14:21] nfeske commented on #4371
Thanks @cnuke. Merged to staging.

[2022-01-10 15:02] nfeske commented on #4346
Thanks @ttcoder for keeping this issue updated. I haven't looked very close to your libc patch but it looks not very invasive to me, which is good.

Regarding your idea to merged the notion of files and directories, it looks interesting. So far, the design and features were primarily steered by the needs of POSIX. The distinction of files from directories just fell into place with out much questio

[2022-01-10 19:11] tomga commented on #4331
@skalk after applying build fixes commit a4f82b7f639b4f0b29b11966f98bd8d5f03e3d0b it works but given nature of fixes I applied I'm not sure that I found and used the same `aligned` function you wanted to use.

[2022-01-11 08:14] chelmuth commented on #4369
I love the new approach and tested it against my sculpt release workflow. Thereby, I identified some imperfections that may be addressed.

Up to the changes in this issue I could generate all depot archives required for sculpt distribution by simply running the following. The result also matched all requirements to build sculpt images according to the documentation at https://genode.org/documentat

[2022-01-11 11:10] nfeske commented on #4359
I adjusted the genode-allwinner repository in commit https://github.com/nfeske/genode-allwinner/commit/ac4c6e44307afae5c335fd3cbb06f9e549d48e1b.

[2022-01-11 13:11] skalk commented on #4331
@tomga I'm sorry, I did not want to produce you more work, but actually less. Unfortunatly, it seems I wasn't myself yesterday, and completely forgot to compile and test the code.

To take a step back: after thinking twice about the reason of the MMU alignment fault, I think we should change the rpi_fb_drv to use its own blit method. Thereby, we do not "pollute" the blit library with less optimize

[2022-01-11 14:48] cproc opened #4372 "vfs: support 'File_content' use with already opened file"
The ```File_content``` class is useful for accessing the XML content of the OSS VFS plugin's ```info``` file, but with the current implementation the info file gets opened repeatedly every few milliseconds when using audio with VirtualBox 6, which can be costly if the VFS uses plugins with possibly longer response times, for example the ```Fs``` plugin. One reason is that ```Dir_file_system::open(

[2022-01-11 14:57] cproc commented on #4372
Commit e354634 adds the alternative constructor.

[2022-01-11 15:13] nfeske commented on #4372
The feature you are suggesting sounds useful. But I would rather avoid adding a second constructor to the `File_content` class but add a new function outside any class. Since the state - the file descriptor - is kept at the caller side, there is no need for an object.

[code]

The functor `fn` would take an `Xml_node const &` as argument, like the `File_content::xml()` does.

The `File_content::xm

[2022-01-11 19:52] cproc commented on #4372
@nfeske: i'm not sure what to do about the content buffer with your suggested solution. Currently, ```File_content``` fills an internal buffer and then the different methods work with this buffer. The new outside function would need to allocate and fill a content buffer on its own, right?

[2022-01-11 21:12] cproc opened #4373 "audio_in: fix compile errors when strict warnings are enabled"
Fix compile errors related to implicit conversion and effective C++ when strict warnings are enabled.

[2022-01-11 21:15] cproc commented on #4373
Fixed by 9ff4a64.

[2022-01-11 21:34] cproc opened #4374 "Audio_in::Stream: add 'queued()' function"
This function already exists for the 'Audio_out' session and is useful for the OSS VFS plugin.

[2022-01-11 21:37] cproc commented on #4374
Fixed by 8b3f9d2.

[2022-01-11 21:57] cproc opened #4375 "vfs_oss improvements"
- add support for audio input
- implement additional sndctl commands for VirtualBox 6
- add a simple OSS microphone monitor test
- if buffer size to be written is not aligned to stream packet size, fill the last stream packet partially and continue filling on the next ```write()``` instead of filling up with silence to avoid free buffer space calculation mismatch issues

Depends on #4374.

[2022-01-11 22:08] cproc commented on #4375
Fixed by f6c3a66.

[2022-01-12 05:53] cproc opened #4376 "black_hole: provide 'Audio_in' and 'Capture' sessions"

[2022-01-12 05:58] cproc commented on #4376
Fixed by 71ded0f

[2022-01-12 06:12] cproc opened #4377 "virtualbox6: add 'Audio_in' session requirement to pkg"
To actually receive audio input in a particular VM, it also needs to be enabled in the vbox file:

[code]

[2022-01-12 06:18] cproc commented on #4377
Fixed by be551af

[2022-01-12 06:57] cproc opened #4378 "dde_bsd: audio driver configuration on Sculpt"
On a Lenovo x260 I need to add the following driver configuration line to enable recording:

[code]

Depending on the actual audio hardware it might be necessary for a Sculpt user to tweak other mixer fields as well, but I'm not sure what exactly needs to be done to make the driver configurable on Sculpt. Moving the configuration into a raw package seems to be one necessary step. Anything more? An

[2022-01-12 12:45] nfeske commented on #4372
Originally, I was thinking of a temporary allocation that is freed on return. However, seeing your use case, you would likely avoid dynamic allocations.

You are right. The `Allocator &` should better be a pointer to a local buffer. I think this tighter interface would be even better because it makes the function interface more rigid (there can't be any memory-allocation side effect of calling it)

[2022-01-12 13:42] chelmuth commented on #4373
Merged to  staging.

`Audio_out::Stream` does not include its members too. Maybe this could also be fixed? Do you see any chance to remove the extensive code duplication between the audio-session headers? I also wondered if the subtle difference between the implementations of `alloc()` and `reset()` in both sessions is intended.

[2022-01-12 13:55] chelmuth commented on #4374
Merged to staging.

[2022-01-12 14:00] chelmuth commented on #4375
Great, merged to staging.

[2022-01-12 14:02] chelmuth commented on #4376
Merged to staging.

[2022-01-12 14:02] chelmuth commented on #4377
Merged this too...

[2022-01-12 14:52] skalk commented on #4331
@tomga I had to fix the semantic of the rpi-local blit function slightly. Commit 148fbb7 provides the solution now.

[2022-01-12 22:34] tomga commented on #4331
@skalk I gave a try your patch and it causes:
[code]
It is both on Rpi 1 and Rpi 3 - only addresses are different.

Leaving this implementation aside I'd like to ask you about:

Do you think this may be easily changed and eliminate problem? I'll look more deeply into it probably.

In case it is not easy I'll probably look at copying more specialized `blit` implementation as if I correctly understa

[2022-01-13 01:24] cproc commented on #4372
Passing a pointer to an external buffer instead of an allocator sounds good to me. Now the other related question is how to best avoid the code duplication (and duplicated code execution) when reading the file content into the buffer. Currently, the ```File_content``` constructor reads the file content into a buffer. The new ```with_xml_file_content()``` function would read the file content into t

[2022-01-13 06:52] cproc commented on #4373
Commit 527855a initializes the ```Audio_out::Stream``` members. I'll have a look at the code duplication issue.

[2022-01-13 09:44] jschlatow opened #4379 "platform_drv: device is prematurely released if it was acquired multiple times"
Yesterday, I incidentally constructed a use case in which the same device is acquired multiple times by the same component (in library code and in application code). The library subroutine, however, only temporarily creates the Platform::Device on the stack so that it is released when the subroutine returns. The application code intends to keep the Platform::Device and the corresponding Platform::

[2022-01-13 10:47] nfeske commented on #4372
How do you think about moving the file-read code from the `File_content` constructor to a new function `with_raw_file_content` that mirrors the interface of `with_xml_file_content`? This function would pass a `char const *ptr, size_t num_bytes` to the lambda (same pattern as `Xml_node::with_raw_content`). Note that in this case, the use of `Byte_range_ptr` would not add any benefit because the `pt

[2022-01-13 12:30] ssumpf opened #4380 "intel/gpu: add export/import of buffer objects"
* add export/import of buffer objects from/to GPU session and GPU multiplexer
* create VFS plugin in order to wait for GPU session completion signal from non-EP threads
* libdrm: implement GEM contexts using multiple GPU sessions (from VFS plugin) and sharing buffer objects using import/export
* VritualBox6 initial 3D support

[2022-01-13 12:43] nfeske commented on #4369
@chelmuth thanks a lot for your feedback!

Yes, that is the right solution. I added the fixup c81048931714d46fc4d49e52163aecd535fb886f.

Sorry about the incomplete dependencies of pkg/sculpt_distribution-pc. To solve this issue, I would propose to add pkg/sculpt to pkg/sculpt_distribution/archives and replace pkg/sculpt by pkg/sculpt_distribution in the archives file of pkg/sculpt_distribution-pc.

[2022-01-13 12:56] cproc opened #4381 "virtualbox6 audio issues"
When playing back audio with VirtualBox 6, the OSS VFS plugin often runs out of audio data to submit to the audio driver, which causes noticeable dropouts. It turned out that the timeout handler of the HDA audio device model is often called too late. With the help of trace logs with timestamps I could identify several reasons so far:

- Timeout signals can occur too late (@chelmuth might know more

[2022-01-13 13:22] skalk commented on #4379
@jschlatow: I did not forbid the repeated aquisition of a device by the same session, because it seemed natural to me from an authorization perspective. Given your example of Platform::Device instances used on a stack, indeed this is a problem.
Given that we want to prevent others from doing so, I would vote for denial in this case, because when introducing reference counting I see additional comp

[2022-01-13 14:08] chelmuth commented on #4369
Thanks, the fixup and proposed changes to *pkg/sculpt_distribution/archives* and *pkg/sculpt_distribution* address my concerns entirely. It will work like a charm and look even more easy ;-)

[code]

What's left is the cleanup of *default-pc.sculpt* which no longer need to declare `import: src/nvme_drv src/intel_gpu_drv` in addition to `pkg/drivers_managed-pc`. I can prepare a patch later by mysel

[2022-01-13 16:12] cproc commented on #4372
Commit c328928 adds the new functions and commit 7f91258 adapts the OSS use case accordingly.

[2022-01-13 22:56] tomga commented on #4331
@skalk with this latest patch `demo` and `framebuffer` are working on Rpi 1 and 3.

Thanks for explanation of memory mapping. I think you are right that changes in mapping interface for this special case are not justified.

[2022-01-14 08:09] nfeske commented on #4372
Thank you for the clean commit https://github.com/genodelabs/genode/commit/c328928176cacde05543dadbf41f5814fdd8eb4f. I request two changes though:

* Please revert the changes of the `File_content` methods and just call `with_raw_file_content` from the constructor. This avoids re-reading the file on each call of the accessor functions and keeps the patch small.
* The `Byte_range_ptr` struct should

[2022-01-14 09:54] cproc commented on #4372
Updated commit cbe57b7 has the requested changes.

[2022-01-14 17:57] ssumpf commented on #4380
@chelmuth: The above commit series reflects the current state of the Intel GPU driver, mesa, libdrm, and VBox6 on x86_64 with great performance improvements in the VBox6 case (~70% of native Genode 3D performance). Please have a look and consider for `staging`.

[2022-01-17 08:55] cproc commented on #4381
Commit 950f450 adapts the watchdog timer interval dynamically before entering the vCPU to wake it up close to the next expiring 'virtual sync' timeout instead of the fixed 10ms interval.

[2022-01-17 09:51] jschlatow opened #4382 "Allow derived classes of `Genode::Array`"
I wrote a [utility class](https://github.com/jschlatow/genode-zynq/blob/ad9361/include/util/lazy_array.h) for kind of a fixed-capacity vector, i.e. an array of Constructible<T> that is able to store noncopyable and non-default-constructible objects. I based this on `Genode::Array` but this requires access to its private members. I'd therefore like to change their visibility to _protected_.

The im

[2022-01-17 10:20] cproc commented on #4381
In case the audio latency is perceived too high with some VMs or for some use cases, it is possible to reduce the size of the input and output pre-buffers in VirtualBox, which can hold up to 200ms by default, in the vbox file:

[code]

[2022-01-17 11:58] nfeske commented on #4372
Thanks @cproc for implementing the changes. I merged the latest version to staging, supplemented with the minor fixup `978644369796bfb0c1e2a769eadd79637bb4ee02`. Your patience is much appreciated. :-)

[2022-01-18 08:21] alex-ab commented on #4336
Thanks @cproc. I took your commit and adjusted and tested it with older machines. Please give 2a7a4e12be135509f2734d0b109ee0e5b7a6a03b a try.

[2022-01-18 08:51] alex-ab commented on #4336
Sorry, 16d96c493a37da9338d0c8e373ad9588e06cd94b is the right commit.

[2022-01-18 09:42] ssumpf opened #4383 "usb raw session: handle full packet stream correctly"
In case the packet stream is full, no progress was made before. This bug concerns USB isochronous transfers. Thanks for reporting and fixing.

[2022-01-18 09:51] ssumpf commented on #4383
@chelmuth: This got lost a little but is important.

[2022-01-18 10:15] ssumpf commented on #4383
@chelmuth: 26867ba would be the relevant commit.

[2022-01-19 09:25] m-stein opened #4384 "uplink_client_base: fix deref of unconstructed connection"
Imagine receiving the signal for an available TX ack or an available RX packet at the Uplink connection but a later received signal for a link-state change (to link state "down") at the same connection is handled first and destructs the Uplink connection before the handling of the former signals. In this case, the methods ``Uplink_client_base::_conn_tx_handle_ack_avail`` and ``Uplink_client_base::

[2022-01-19 09:42] m-stein commented on #4384
Fixed:
cbe822f94b uplink_client_base: no deref of invalid connection
e99a7546f3 uplink_client_base: remove unused code

[2022-01-19 11:22] m-stein opened #4385 "nic_router: fix net session aliases"
In ``interface.h`` the NIC router declares the following aliases:
[code]
These aliases are then used in the implementation of ``class Interface``. However, this is a generic abstraction of back ends that use both the NIC _and_ the Uplink session. This can lead to bugs like in ...
[code]
... where, AFAICT, an allocation failure of an Uplink session wouldn't be catched although it should be.

[2022-01-19 11:30] chelmuth commented on #4369
Commit 2a9e3e1d86c0ae109090a196fcdfe241e84a2d85 adds the cleanup of *default-pc.sculpt*.

[2022-01-19 12:34] skalk opened #4386 "platform_drv: report internal state for device management"
The platform driver should report its overall state like available and acquired devices. A management component thereby can decide to start or stop drivers in case of hotpluggable devices.

[2022-01-19 12:43] skalk commented on #4331
@chelmuth @nfeske would you mind to merge commit 5c1e9d1 to staging? It solves this issue on rpi.

[2022-01-19 14:11] chelmuth commented on #4331
Done.

[2022-01-19 14:27] cproc commented on #4336
@alex-ab: thanks, works for me on the x260

[2022-01-19 14:36] #4318 closed

[2022-01-19 14:36] #4357 closed

[2022-01-19 14:36] #4361 closed

[2022-01-19 14:36] #4362 closed

[2022-01-19 14:36] #4364 closed

[2022-01-19 14:36] #4356 closed

[2022-01-19 14:36] #4366 closed

[2022-01-19 14:36] #4367 closed

[2022-01-19 14:36] #4368 closed

[2022-01-19 14:36] #4359 closed

[2022-01-19 14:36] #4371 closed

[2022-01-19 14:36] #4373 closed

[2022-01-19 14:36] #4374 closed

[2022-01-19 14:36] #4375 closed

[2022-01-19 14:36] #4376 closed

[2022-01-19 14:36] #4372 closed

[2022-01-19 14:36] #4377 closed

[2022-01-19 14:36] #4383 closed

[2022-01-19 14:38] chelmuth commented on #4363
The issue is marked fixed and the commit entered master. Can we close this issue?

[2022-01-19 16:02] jschlatow opened #4387 "uplink_client_base: complete customisation of signal handlers"
For porting a 3rd-party library that uses Linux tap devices, I want to emulate an interface with blocking read/write operations using an uplink client as a backend. This use case actually provides the motivation to add customisability for the two remaining signal handlers, i.e. ready_for_ack and ready_to_ack.

[2022-01-19 20:34] skalk commented on #4363
Sure!

[2022-01-19 20:34] #4363 closed

[2022-01-20 04:37] chelmuth commented on #4387
Please check your addition in combination with #4384. The corresponding commits already entered staging and seem to remove code you're using in cadence_gem.

[2022-01-20 04:50] chelmuth commented on #4380
I'm afraid fdd557d7f750256b5f6a5d4ef660695d93a749ca breaks https://github.com/skalk/genode-imx/blob/9b03c8bc59ea7c5af5ce93e717168a836ba11270/src/drivers/gpu/imx8mq/main.cc#L581 due to pure virtuals `export_buffer/import_buffer()`.

[2022-01-20 08:39] nfeske commented on #4387
@jschlatow How do you think about a new vfs_tap plugin that would make a (configurable) Uplink or Nic session available to the VFS and thereby the libc? This way, we could emulate the regular tap interface (letting the libc map the relevant ioctls to pseudo-file operations as we do for OSS) and use existing applications as is. The blocking semantics are taken care of by the libc.

[2022-01-20 08:54] cnuke commented on #4380
Commit e6fa257 in the *imx* repo address the problem.

[2022-01-20 08:59] jschlatow commented on #4384
@m-stein, the NIC driver in the genode-zynq repo still makes use of the custom handlers. The reason for this is that I followed a zero-copy approach for the driver which uses the packet buffers as DMA buffers. For this, I needed a way to reset a DMA descriptor only when the corresponding packet was acked and used the custom handlers for that (#4277).

Yesterday, I also discovered another use case

[2022-01-20 09:11] jschlatow commented on #4387
@nfeske, I briefly thought into this direction as well but opted for the quick-and-not-so-clean solution since I felt there was a bit too much uncertainty regarding how long it would take to write a vfs_tap and whether it would work in the end. If you think that it's worth spending time on this, I'd be happy to make an effort.

[2022-01-20 10:14] jschlatow commented on #4387
On a second thought, writing a vfs_tap plugin might make a good example for a simple and illustrative genodians story about how to write vfs plugins with ioctl emulation via pseudo files.

[2022-01-20 10:46] chelmuth commented on #4387
I'd love to test such a plugin with the VirtualBox tap backend...

[2022-01-20 13:02] nfeske commented on #4387
That would be a definite definitely! In fact, I remember that we repeatedly encountered situations where we would have loved to have a VFS tap plugin at hand, but sighed with somewhat sad facial expression because it wasn't.

[2022-01-20 14:09] ssumpf commented on #4380
@chelmuth: c42b951 fixes session destruction in `intel_gpu_drv`, 49eae15 checks if '/dev/gpu' is present in VFS and prints an error message in case it is not.

[2022-01-20 15:28] m-stein commented on #4384
@jschlatow I'm sorry, I didn't consider the Zynq driver as I forgot that it moved out of world. Do you need all of the original custom handlers plus your ``_custom_conn_tx_ack_avail_handler``? Regarding the tap scenario, I also doubt whether it's worth using the generic Uplink_client_base if you'd have to customize almost everything in the end. In such a situation I'd create a local copy of the Up

[2022-01-20 15:42] jschlatow commented on #4384
@m-stein, no worries. The zynq driver uses `_custom_conn_tx_ack_avail_handler` and `_custom_conn_rx_packet_avail_handler`.

Regarding the tap scenario, I'll actually investigate what I end up with when writing the vfs_tap plugin. Thus you can ignore #4387.

[2022-01-20 15:52] chelmuth commented on #4380
Thanks, I merged and tested both commits successfully.

[2022-01-20 15:57] nfeske commented on #4384
@jschlatow As a suitable starting point for implementing a VFS directory structure of pseudo files, let me recommend the terminal_vfs_plugin (https://github.com/genodelabs/genode/blob/master/repos/os/src/lib/vfs/terminal_file_system.h) in combination with the libc support in commit 7ac32ea60c703a73477c121ab8269dfad201f428 as reference.

[2022-01-21 08:38] jschlatow commented on #4384
@nfeske Thanks a lot for the pointer.

[2022-01-24 10:40] nfeske opened #4388 "file_system_session: remove distinction of ack and submit signal handlers"
The file-system session interface is based on the packet-stream mechanism. This mechanism uses independent data-flow signals for the submit queue and the acknowledgement queue. In practice, the file-system session does not benefit from the distinction of both cases. In contrary, for common sequential request-response patterns, the amount of data-flow signals could potentially be halved if the dist

[2022-01-24 11:49] cproc opened #4389 "libusb: guard USB session packet allocator"
This fixes a page fault in the 'usb_webcam' component where an AVL node was removed by one thread and then attempted to be removed again by another thread during a 'merge' operation at about the same time.

[2022-01-24 11:54] cproc commented on #4389
Fixed by 6d4d211.

[2022-01-24 12:49] nfeske opened #4390 "Remove implicit blocking semantics from packet stream"
The following packet-stream operations block implicitly under certain conditions:

* `get_packet` blocks until a packet becomes available in the submit queue,
* `submit_packet` blocks if the submit queue is full until,
* `acknowledge_packet` blocks if the ack queue is full, and
* `get_acked_packet` blocks if the ack queue is empty

When the packet-stream mechanism was originally introduced (https:

[2022-01-24 14:08] nfeske commented on #4389
Thank you. I merged your fix to staging.

[2022-01-25 12:04] m-stein commented on #4384
@jschlatow No, I don't have special plans regarding this. It would be nice if you could just add a fixup that suits your use-case :)

[2022-01-25 15:50] nfeske commented on #4390
Commit https://github.com/genodelabs/genode/commit/49dc02f31aca63b2455f55f756e2bc60732dca52 implements the change. At this point, I'm keeping the original function signatures in tact but throw an error instead of blocking. Down the road, it would be best to only keep the `try_*` methods.

[2022-01-25 18:40] alex-ab opened #4391 "nova: kernel pagefault using AMD+SVM"
[code]

The reported setup was runinng Genode/NOVA nested virtualized on Linux+KVM (5.14.18-100.fc33.x86_64) with qemu-5.1.0-9.fc33.

[code]

After several VMM power up and clean shutdown the kernel faulted. The kernel fault is trigger-able on the specific AMD notebook with vbox5 generic as also vbox5-nova.

[2022-01-26 11:55] cproc opened #4392 "libc: page fault when using 'Libc::with_libc()' nested from a signal handler"
When I tried to remove the additional entrypoint for handling 'ack_avail' signals from libusb, a page fault occurred during the execution of the signal handler. I could reproduce this page fault using the `libc_with_libc` test in commit [1].

Log output on base-linux:

[code]

dmesg:

[code]

The IP is part of the libc, but not in the code area.

GDB backtrace:

[code]

[1] https://github.com/cpro

[2022-01-26 16:07] jschlatow commented on #4384
Commit 746997d adds the missing custom handlers.

@m-stein: Do you have anything to add?
@chelmuth: Can you add this commit to staging?

[2022-01-26 16:47] nfeske commented on #4384
Merged to staging.

[2022-01-26 20:26] chelmuth commented on #4392
I'm wondering it it really makes sense to use the `Io_signal_handler` in the Libc component here. In some cases this means the main thread is suspended in a blocking operation (e.g., read) but will execute the signal handler in nested fashion, which will then call libc function itself. If the blocked operation and the nested function need the same resource (e.g., a mutex in stdio) we get a deadloc

[2022-01-27 07:13] m-stein commented on #4384
@jschlatow Looks good, I have nothing to add. Thanks ;)

[2022-01-27 10:28] nfeske commented on #4392
@chelmuth You are spot-on about the `Io_signal_handler`. As a rule, an I/O signal handler must not have global side effects. The call of `with_libc` is a potentially far-reaching global side effect. Hence, such calls cannot be placed in an I/O signal handler. @cproc, coming back the libusb, do you see a chance to decouple the interaction with the libc from the I/O signal handler?

Btw, just yester

[2022-01-27 13:45] jschlatow opened #4393 "base: `Heap::free()` releases entire dataspace if pointer does not point to the beginning of the allocated block"
When working on a vfs plugin, I implemented a class with two base classes one of which being Single_vfs_handle. On component destruction, I encountered a page fault and looked into it. As it turned out, I messed up the inheritance order: I initially had used Single_vfs_handle as a second base class. Switching the order of the two base classes fixed this issue, but I was still wondering about why t

[2022-01-27 13:58] jschlatow opened #4394 "vfs: implement plugin for tap device emulation"

[2022-01-27 14:14] jschlatow commented on #4394
Commit 3f78081 implements a basic vfs_tap plugin. By default the plugin uses a Nic_session. This can be optionally changed to an Uplink_session to provide a user assignable MAC address. Details can be found in the README.

@chelmuth, if you want to test the plugin with virtualbox, you probably need to provide a few dummy functions. FreeBSD's API for tap devices is quite a bit different than the Li

[2022-01-27 14:27] nfeske commented on #4390
I have now adjusted almost all components affected by this change.

As one remaining issue, libusb must be updated. Right now, the smartcard test produces the following error. I suspect similar behavior from other libusb clients.

[code]

@cproc Since you are working in libusb right now, could you do the needed adjustment as you go? I'd very much appreciate that because I'm not familiar with libus

[2022-01-27 14:35] jschlatow commented on #4393
I added commit 8e9324e, which triggers the observed behaviour in the new_delete test.

[2022-01-27 14:36] jschlatow commented on #4387
Closing this issue in favor of #4394.

[2022-01-27 14:36] #4387 closed

[2022-01-27 17:17] chelmuth commented on #4394
Can't wait to test this next week in Dresden :-)

[2022-01-28 08:43] nfeske commented on #4394
This looks absolutely splendid!

Your code stays true to the spirit of the terminal plugin, e.g., following the compound-directory pattern and providing the meta information as individual files as well as an XML info file. Also your README - pointing out the practical differences between the FreeBSD and Linux interfaces and the hints about how to deal with that - is excellent.

While browsing thou

[2022-01-28 09:49] jschlatow commented on #4394
@nfeske thanks for the feedback.

There is no technical reason against putting the plugin into os. I still hestitated, because a) I expect it to be used only in conjunction with libc and b) the plugins currently in os are all built-in in contrast to the shared library plugins found in other repos. I'd be fine with both though.

[2022-01-28 10:45] ttcoder opened #4395 "readlink() returns wrong value on success"
Looks like a small deviation from standard, but presumably significant enough to warrant a fix in libc VFS plug-in.

Reproducible with e.g.
[code]

References:
- did some quick testing in haiku with a two-line .c file, readlink() did return 1 there indeed.
- https://www.unix.com/man-page/freebsd/2/readlinkat/ :

We could add a test like this (in libports/src/test/libc_vfs/main.cc), to check for fu

[2022-01-28 12:09] skalk opened #4396 "Move Raspberry Pi drivers for platform, framebuffer, sd_card"
Now that we've a dedicated repository for Raspberri Pi, it is time to move most driver support to it too. Thereby, we can get rid of the old Raspberry Pi specific platform API(s) too.
For the time being I would keep the usb_host_drv and gpio_drv in Genode main. Both drivers should be re-worked first. The USB driver can be updated using the new DDE Linux porting approach, whereby the GPIO driver sh

[2022-01-28 12:17] m-stein commented on #4384
Sorry, 746997d looks good to me! Thanks!

[2022-01-28 12:18] m-stein commented on #4384
Haha, played myself, thanks to an outdated version of the page in my browser ^_^

[2022-01-28 12:27] skalk commented on #4396
@nfeske please notify me in case you put the referenced commit series to staging, because I've to add the corresponding commit series to the genode-rpi staging branch. Thank you in advance!

[2022-01-28 13:35] nfeske commented on #4394
That's true, but this reasoning would also apply for the terminal-VFS-plugin, doesn't it?

I tend to draw the line by looking at dependencies. Code specifically developed for Genode and which does not depend on any 3rd-party library qualifies for the os repository.

Unless we decide to add the tap plugin to the built-in feature set of the vfs.lib.so, we can opt to host its source under os/src/lib/

[2022-01-28 15:05] cproc commented on #4390
Commit acc500f adjusts libusb.

[2022-01-28 15:23] cproc commented on #4392
libusb calls `poll()` to wait for completion events, so the signal handler at least needs to write into a pipe to unblock the `poll()` call. Commit 639388c reduces the complexity of the signal handler to this wake-up code, which at least has the positive effect that the pthread registration is not needed anymore. Debug commit 3714161 removes the separate entrypoint, but causes the page fault (for

[2022-01-28 15:40] jschlatow commented on #4393
I like the idea of applying the `Attempt` pattern to `free()`. I think this may also render the `need_size_for_free()` interface unnecessary. @nfeske, shall I make an attempt (pun intended)?

I think I have an explanation for that. Deallocation of virtual base classes is apparently not completely handled by the standard. Yet, some smart people came up with [a solution](https://stackoverflow.com/qu

[2022-01-28 17:39] jschlatow commented on #4394
Agreed :smile:. Commit 5e0a2c3 moves the plugin to the os repository.

[2022-01-31 08:40] nfeske commented on #4390
Thanks @cproc. I merged your commit to staging.

[2022-01-31 11:08] nfeske commented on #4393
I was actually not thinking of `free` but the replacing the return value of `Allocator_avl::size_at` (https://github.com/genodelabs/genode/blob/master/repos/base/include/base/allocator_avl.h#L290). Right now, the return value is just `size_t` whereas 0 is a special value. But as there are two different conditions that can result in 0 (see https://github.com/genodelabs/genode/blob/master/repos/base

[2022-01-31 12:24] jschlatow commented on #4393
That's of course way easier :wink: Thanks for the perfectly clear explanation.

That's a very good point. Given that fixing `size_at` will bring back an appropriate error message, I can live without the delete magic. In my scenario, I can simply make Single_vfs_handle the primary base class to remove the error message.

In other cases, the dynamic cast could be performed when calling `Genode::dest

[2022-01-31 16:11] jschlatow commented on #4393
Commit bf63eb5 replaces the return value of `Allocator_avl::size_at`. @nfeske, is this what you had in mind?

[2022-02-01 09:17] m-stein opened #4397 "Port of the Linux Wireguard implementation"
The initial approach would be to port Wireguard as a dedicated Genode component that requests a NIC session at the public side (the UDP-tunnel side) and an Uplink session at the the private side (the plain-packet side). Each of the two sessions could be provided by a NIC router in order to connect the component with a "real" uplink respectively the VPN-internal applications. The configuration of t

[2022-02-01 09:23] m-stein commented on #4397
There is a first prototype of the port on my ``genodelabs/wireguard`` topic branch. It is accompanied by 3 run scripts ``wg_ping_inwards``, ``wg_ping_outwards``, and ``wg_lighttpd`` that demonstrate that the prototype is already capable of handling simple network traffic. Now, I'd do a brief clean-up- and documentation step before I go on exposing the port to more challenging scenarios.

[2022-02-01 10:37] nfeske commented on #4393
That's already quite good. But you missed a few "features" of the `Attempt` utility that can make the core more succinct:

The `Attempt` utility is one of the rare cases that benefit from C++'s implicit constructor calls, which allow you to avoid the repetitive use of `Size_at_result` when returning values. E.g.,

I would change the following code:
[code]
to the following:
[code]
It may be subject

[2022-02-01 12:14] nfeske opened #4398 "touch screen"

[2022-02-01 12:47] jschlatow commented on #4393
Not at all. Thanks for the detailed feedback.

I used `convert` because I need to decide, depending on the error type, whether to return from `Heap::free()` and find this more readable than capturing a local variable and modifying it in the lambda. With your proposal, I would end up with something like:

[code]

How do you feel about adding a `has_error` accessor or an `operator ==` to the Attempt

[2022-02-01 12:47] nfeske commented on #3669
Commit https://github.com/nfeske/genode/commit/4656cbdac8e8ad6b08cd02cfb8672d518d611251 add a new event type `Axis` that carries an axis ID and a float value.

To make it usable in practice, we will need to adjust nitpicker to forward the event to the focused client. @cnuke would that input-routing policy (applying the keyboard focus) be appropriate for this type of event? Is the form of predefini

[2022-02-01 12:59] nfeske commented on #4393
You can drop the `else` because the `if` body always returns. But that's beside the actual point you are raising. ;-)

To your actual question: yes, I think that's a sensible suggestion. I like it.

Regarding the flavor (`has_error` vs. `operator ==`), even though I am generally not a friend of defining custom operators, in this case, the `operator ==` would be a tasteful addition. I can imagine t

[2022-02-01 13:17] skalk commented on #4303
@tomga I've moved your work on the rpi-specific platform driver to the genode-rpi repository, and adapted it slightly to avoid changes in the generic platform driver implementation. Moreover, I've also moved all rpi-specific drivers apart from the gpio_drv and usb_host driver. If you like, you can give it a try by using the staging branches of the https://github.com/skalk/genode-rpi repository and

[2022-02-01 14:13] jschlatow commented on #4393
Commit 68021d0 contains the change to _util/attempt.h_. I also noticed that the lambda for the error case was passed by value. As I suppose this was not intentional, I changed this with commit 282289b.

The resulting changes of `Allocator_avl` are found in commit b2e87a8.

[2022-02-01 14:30] nfeske commented on #4393
This looks excellent! Thanks for the improvements, which I merged to staging just now.

[2022-02-01 16:19] cproc commented on #4392
Commit b642b83 implements the VFS plugin idea. Seems to work well so far.

[2022-02-01 17:13] cnuke opened #4399 "New USB HC driver for PC (following the new DDE Linux approach)"
The topic branch [pc_dde_linux-2022-02-01](https://github.com/cnuke/genode/commits/pc_dde_linux-2022-02-01) features the first version of a port of the PCI {O,U,E,x}HCI driver from Linux *5.14.21*. It is accompanied by all necessary changes to the new DDE Linux libraries to support (legacy) PCI access on x86_32 and x86_64.

So far it was tested in Qemu (using a healthy mix different HCs) as well a

[2022-02-01 17:28] nfeske commented on #2243
Commit https://github.com/genodelabs/genode/commit/8d603b2a8042effdc662255b2877945de5dac561 extends the PD session interface with two functions `dma_addr` and `attach_dma` as another step. The ambiguous use of the UNCACHED attribute of RAM dataspace is now. The `dma_addr` functions in not used yet.

The next step would be adding the use of `Pd_session::dma_addr` to the x86 platform driver and adju

[2022-02-02 11:40] nfeske opened #4400 "Remove fs_log component"
While working on #4390, I came across the fs_log component, which had to be adjusted as part of the work. The implementation left me rather unsatisfied, for the following reasons.

1. Even after a lot of pondering, the use case of the automatic mapping of log files to a directory hierarchy according to the client label appears intangible to me. For the recall_fs (chroot) component, this kind of po

[2022-02-02 13:42] nfeske commented on #2243
Fixup https://github.com/genodelabs/genode/commit/5de5c18d32e42878b7215b4ea27a555540836fde changes the platform driver(s) to use `Pd_session::dma_addr` instead of `Dataspace::phys_addr`.

[2022-02-02 15:05] nfeske opened #4401 "`Dma_buffer` utility following the attached-dataspace pattern"
To avoid repetitive code in device drivers for allocating and locally attaching DMA buffers, the `Platform::Connection` should be complemented by a new utility named `Dma_buffer`. A DMA-buffer object would be associated with a platform session, which corresponds to an I/O protection domain. The driver can access both the local mapping address of the buffer and the DMA address to be used for progra

[2022-02-02 16:02] skalk opened #4402 "Move i.MX53 drivers for platform and framebuffer"
To get rid of the legacy i.MX53-specific platform API, create a new implementation in the dedicates repository and remove the old platform driver, api and only client, which is the imx53_fb_drv.

[2022-02-02 16:24] nfeske commented on #4392
That's very good to hear. Thank you for implementing the idea. Now I wonder, is the mutex you introduced in the first fix still needed?

[2022-02-02 16:37] nfeske commented on #2243
Commit https://github.com/genodelabs/genode/commit/b7fd199cd5ea31b48e0d5f1a80261737c6b83b3c updates quite a few drivers.

There are still some drivers I'm hesitant to touch and would prefer leaving the adaptation to developers familiar with the code.

In particular, @cnuke or @ssumpf could you take care of updating the Intel GPU driver?

The virtio drivers are also raising some questions. Right no

[2022-02-02 16:39] nfeske commented on #4392
Super!

[2022-02-02 21:08] tomga commented on #4303
@skalk I'm not sure when I'm able to test this code but I looked briefly to the way you changed initialization of platform driver to avoid changes in generic implementation. I didn't know about `Constructible` before but really like the way it can be used in such cases. Deferring construction of object placed directly in memory of class instance until arguments can be computed is really elegant.

[2022-02-03 08:32] nfeske commented on #2243
It turns out that the following DDE-linux-based ARM drivers still allocate DMA buffers as plain RAM dataspaces, not using the platform session. The platform session is merely used within lx_emul.cc.

* fec_nic_drv
* imx6q_sabrelite_usb_host_drv
* panda_usb_host_drv
* arndale_usb_host_drv

I think all of them copied the same pattern. @skalk could you take care of adjusting those?

[2022-02-03 09:12] jschlatow commented on #2243
For the record, the zynq_nic_drv requires an update as well. I'll take care of that.

[2022-02-03 10:48] nfeske opened #4403 "Remove gems/magic_ring_buffer.h"
The utility is not used outside of genode-world and a test program. Hence, it should better move local to the users at genode-world.

[2022-02-03 12:40] jschlatow commented on #4394
@nfeske, when drafting my genodians article about the vfs_tap I noticed two things about the `File_io_service` interface:

1. I cannot find a place where the `check_unblock()` method is actually used. I assume this might be a relict.
2. The `Single_file_system` is a convenient helper for quickly implementing a special-purpose file. It forwards most of the `File_io_service` methods to the handle, i

[2022-02-03 12:48] nfeske commented on #4244
I'm afraid that commit 1416b2258f8140e9d68307bffd33898f20c94495 introduced a new problem in exchange for one problem solved.

The symptom can be observed with the trace_logger test by adjusting the `period_sec` in repos/os/recipes/pkg/test-trace_logger/runtime to one second (well, this is not really needed but it makes the problem appear a bit quicker), and running the test via:
[code]

At each pe

[2022-02-03 12:51] nfeske opened #4404 "Remove `Env::reinit` and `Env::reinit_main_thread`"
Those mechanisms were needed for the old Noux runtime, which we replaced by our regular libc in the meantime.

[2022-02-03 14:10] cnuke commented on #2243
@nfeske please merge commits [6eb922](https://github.com/cnuke/genode/commit/6eb922c7248ecddd1d8a7ae8e9e93f0260cecd94) and [be05d85](https://github.com/cnuke/genode/commit/be05d858f7e7f716eae08ce5e64c53074a4aa74f).

[2022-02-03 14:24] skalk commented on #2243
@nfeske commit 029d9fae599b26490962d6ea84fb14c601f69d4d solves the failures of the usb_host and fec drivers, commit ac9255d934414bbb52951daab28e2baf2c5539c2 reworks the virtio drivers to use the platform driver instead of the Dataspace::phys_addr calls.

[2022-02-03 14:32] jschlatow commented on #4244
Sure. It appears the last round of every `for_each_new_entry` calls the functor with an empty entry but still considers the entry processed. The quickfix would be to add a `if (!entry.length()) break`.

I also see huge potential for optimisation. Every time I look into `trace/buffer.h` and `trace_buffer.h` I'm irritated by the meaning of `Trace::Buffer::Entry::last()`. It is somewhere along the li

[2022-02-03 14:56] nfeske commented on #2243
Thanks a lot @cnuke for the patches for the GPU and audio drivers!

[2022-02-03 14:59] nfeske commented on #2243
Thanks @skalk for the welcome fix of the fec_nic_drv and the quick adaptation of the virtio driver. I'm very grateful for your support!

[2022-02-03 15:23] nfeske commented on #4244
Thanks @jschlatow for the quick response. The quick fix indeed solves the problem. I tripped over the meaning of the `_curr` member and think it should be reconsidered to always point at the entry not yet processed, not the last piece of work already done. This would correspond to the pattern used in other contexts like the a file-read loop (tracking the bytes processed = offset to the work to be

[2022-02-03 15:32] jschlatow commented on #4244
Thinking about this, there are actually a few "problems" with the current buffer implementation. One particular aspect I quite dislike is that there is currently no way to prevent a fast writer from overwriting the entry the reader is processing at the moment. I believe a double-buffering approach could help here to guarantee that the writer has always half a buffer of space to write its entries.

[2022-02-03 16:43] nfeske commented on #2243
@skalk I noticed one remaining call of `Dataspace::phys_addr` by the virtio driver at https://github.com/genodelabs/genode/blob/staging/repos/os/include/virtio/queue.h#L254.

[2022-02-04 10:13] skalk commented on #2243
@nfeske sorry, I was too much into it when removing the first two places to recognize the third place of phys_addr. The fixup commit e53a7538e466df0831ec33d862aaa98285a12709 eliminates the remaining call.

[2022-02-04 10:21] nfeske commented on #2243
Thanks a lot Stefan!

[2022-02-04 10:39] nfeske commented on #4394
I think you are right. It is from a time when the VFS resided in the noux runtime - long ago. If you like, please try to remove it. I would welcome a patch for sure. :-)

No objection. Please go ahead. If we can simplify the plugins, I'm all for it.

[2022-02-04 11:26] nfeske opened #4405 "Remove `http_block`, `block_cache`, and `test/block`"
Those components rely on the old `block/component.h` framework classes, which have long been superseded by the `Block::Request_stream`. In order to dispose the legacy block/component.h API, those components would need to be updated. However, given that they are lingering unused since years, I doubt that the effort is justified.

Should the functionality become needed, we would probably want to imp

[2022-02-04 12:01] cnuke commented on #4405
@nfeske I am fine with removing them.

[2022-02-07 09:36] m-stein opened #4406 "jpeg.port: update sha hash"
I don't know why (and indeed it seems suspicious to me) but the SHA of the JPEG download doesn't work anymore for me (genodelabs/staging). I've created a simple fix but am unsure whether we should investigate the cause of the regression.

[2022-02-07 09:37] m-stein commented on #4406
07f12671a1 jpeg.port: update sha hash

[2022-02-07 10:34] chelmuth commented on #4406
I checked the contents by

[code]

and merged the slightly adjusted f928570a625ca1c18782334ea406c3daad1ca0b6.

[2022-02-07 15:03] skalk opened #4407 "sculpt: nic driver on armv8 boards needs more ram"

[2022-02-07 15:07] jschlatow commented on #4244
@nfeske, commit 0bf9c0d fixes the issue that events are not read after the buffer wrapped.

[2022-02-08 14:07] nfeske commented on #4395
Thanks for posting, @ttcoder.

I tried reproducing this issue with commit 752a299b587433b67acbb444335a98db0292b301 but the test succeeds when executing it via

[code]

I hope that I understood your description correctly but I'm not 100% sure. Can you bring me on the right track with reproducing the problem?

[2022-02-08 15:12] nfeske opened #4408 "mk: omit transitive shared-library dependencies from linker command line"
Right now, binaries created directly within a build directory are linked slightly different compared to binaries created as depot archive. When created in the build directory, all shared-library dependencies including transitive shared-library dependencies of the target's used shared libraries end up at the linker command line. In contrast, when building a depot archive - where transitive shared l

[2022-02-08 15:22] nfeske commented on #4408
Fixed by https://github.com/genodelabs/genode/commit/9a320a5fbbb8d6e829c94d8c774114e533abeea8

[2022-02-08 15:36] m-stein opened #4409 "run/webcam on T490 qemu"
With current staging, I'm trying to execute run/webcam on my T490 (integrated cam) in qemu. I found several issues that I will document here.

[2022-02-08 15:50] m-stein commented on #4409
After adding my vendor/product ID to the run script, I had to adapt the fps in  ``recipes/raw/usb_webcam/usb_webcam.config`` because my cam seems to not support 15 fps with 640x480 yuv.

d35bae469c webcam.run: start capturing on t490 (still page fault after a while)

[code]

[2022-02-08 16:18] skalk opened #4410 "tool/dde_linux/create_dummies: heuristic to detect out-of-tree builds fails"

[2022-02-08 16:21] skalk opened #4411 "lx_kit/lx_emul: enable x86 and 32-bit arm"
The re-newed lx_emul and lx_kit layers to support porting of Linux kernel drivers was written for ARM 64-bit initially. Now, that we want to use this new approach for all driver ports, we have to support other architectures as well.

[2022-02-08 16:23] m-stein commented on #4409
Ok, I'm sorry! The other two issues I had just disappeared. A pagefault after approx 10 seconds on master and a problem with normans "remove blocking semantics" commit. I lost myself a bit trying around and bisecting and now that I'm back on staging with the above mentioned commit, it works like a charm :)

[2022-02-08 16:56] m-stein commented on #4409
So, I'm unsure whether there is anything left worth for staging, because the FPS and IDs may not be of interest for the test case. If so, I'd close the issue.

[2022-02-08 18:43] jschlatow commented on #2243
@nfeske, I changed the zynq_nic_drv in the genode-zynq repo to not use phys_addr() anymore.

[2022-02-08 20:09] ttcoder commented on #4395
My bad -- the wrong length actually came all the way down from my VFS plug-in for NTFS, which I had configured the test for. Quickly realized that, after reverting the test to use a 'ram' VFS node, and seeing that readlink() was now correctly returning '1' instead of '64' indeed.

Fixed the problem in my VFS plug-in and now it passes all tests.

Closing this invalid ticket.
I leave the newly added

[2022-02-08 20:09] #4395 closed

[2022-02-09 08:53] alex-ab opened #4412 "seoul: move to genode-world repository"

[2022-02-09 08:53] alex-ab opened #4413 "iso9660: move to genode-world repository"

[2022-02-09 11:54] alex-ab commented on #4412
The issue_4412_4413 contains the removal of iso9660 and seoul. In genode-world a companion commit exists to import both. I rebuild and tested seoul, so it should be fine.

[2022-02-09 11:56] alex-ab commented on #4391
@chelmuth, @nfeske : please consider for staging

[2022-02-09 13:13] nfeske opened #4414 "Move moon to world"
The ancient lua port is not used by Genode except for one test case. So let us better move it to the genode-world repository.

[2022-02-09 14:22] nfeske commented on #4391
Thank you for the reminder. Merged to staging.

[2022-02-09 15:52] skalk opened #4415 "Add pc board repo"
To stay consistent with other boards as well, we shall move step by step updated PC drivers to a dedicated repo location analogue to the genode-rpi, genode-allwinner, genode-zynq, etc. repos. To stay convenient to most PC users we can simply incorporate such repo under `repos` within the genode default git repository.

[2022-02-09 15:56] skalk opened #4416 "Update usb_host driver for PC"
To support more modern PCs we have to update the usb_host driver, which is based on Linux kernel 4.16.3, and which still uses the legacy lx_kit/lx_emul, by using the re-newed lx_kit/lx_emul approach, see issue #4411.

[2022-02-10 12:43] jschlatow opened #4417 "libc/socket_fs_plugin: page fault in socket_fs_accept()"
By stressing the lighttpd with a cascade of refreshes in my browser, I was able to reproduce a null-pointer dereferencing in `socket_fs_accept()`.

[2022-02-10 16:56] ssumpf commented on #4408
@nfeske: I will change Java for this.

[2022-02-11 06:51] chelmuth commented on #4408
genodelabs/genode-world@b9c32477110612e7fe532831539959e86a544dbe

[2022-02-11 08:12] nfeske opened #4418 "Remove ROM prefetcher"
This component reduced seek times when fetching content from CD-ROM. It was created in the context of a Genode live system released on 2010 and remained unused ever since.

[2022-02-11 08:26] nfeske commented on #4365
Sorry for attending this issue so late. Thank you @tomga for pointing out this problem and providing a solution. I added commit dc7d42d00f2f1c27959c6e5c28a10c9d84503d15 that follows your suggestion.

[2022-02-11 08:26] nfeske commented on #4355
Merged to staging.

[2022-02-11 08:48] #1788 closed

[2022-02-11 08:53] ssumpf commented on #4408
:+1:

[2022-02-11 09:43] m-stein opened #4419 "black_hole: provide Event/Nic/Uplink service"

[2022-02-11 10:36] nfeske commented on #4419
Nice! Merged to staging right away.

[2022-02-11 11:10] nfeske opened #4420 "Drop `_drv` suffix from device driver executables"
The suffix was introduces as an ad-hoc nomenclature when we started Genode in 2006. But when reflecting on it, it served no real purpose. I'd like to eventually drop it (not today but over the next months) for two reasons:

* The suffix violates our established style of naming things without abbreviations. (https://genode.org/documentation/developer-resources/conventions) The `_drv` suffix is one

[2022-02-11 11:27] m-stein commented on #4419
I added 2 more commits related to the server:
71e14264cf black_hole: add config.xsd
940e998672 black_hole: test run-script

[2022-02-11 11:30] m-stein commented on #4419
Note that I became insecure while trying to add tests for the opened Audio_in/Audio_out sessions. So, I skipped it for now. Maybe someone more experienced can add a short representive access pattern for these two.

[2022-02-11 12:31] nfeske commented on #4419
@m-stein your additions are very much appreciated. I merged both commits to staging.

[2022-02-11 12:34] nfeske commented on #4419
As the test is pretty much free-standing, we may consider turning it into a depot_autopilot test as a subsequent step.

[2022-02-11 13:56] nfeske opened #4425 "Consistent spelling of "writeable""
Currently, the spellings "writable" and "writeable" can be found in the code base. Let's settle on one way.

[2022-02-11 15:36] cnuke commented on #4399
Superseded by the various other issues, including #4416.

[2022-02-11 15:36] #4399 closed

[2022-02-12 12:39] m-stein commented on #4417
@jschlatow Thanks for this fix - it helps me in the context of my Wireguard tests!

[2022-02-12 17:36] m-stein commented on #4419
I just added the Nic service as well:
a7b82db33e black_hole: provide Nic service

[2022-02-14 08:10] trimpim opened #4426 "make bender UEFI aware"
In a recent discussion on the genode mailing list [1] alex-ab asked me to create an issue about making bender aware of UEFI.

The current bender placed a wrong base address for the first serial port in to the BDA, and therefore I didn't receive any log output.

[1] https://lists.genode.org/pipermail/users/2022-February/007935.html

[2022-02-14 08:54] nfeske commented on #4419
That's very nice!

[2022-02-14 13:52] jschlatow opened #4427 "vfs/lwip: add missing signal handlers"
The vfs_lwip plugin does not handle ack_avail nor ready_to_submit signals from the tx channel. In scenarios like netperf in which data flows into a single direction, it may occur that the sender waits for an ack but the receiver (using vfs_lwip) was not able to send it immediately because the TX packet queue was full. With the missing signal handling, however, the receiver will only wake up when i

[2022-02-14 14:23] jschlatow commented on #4427
Commit 0b820ed solves the low-throughput problem that I observed when running netperf server on Sculpt and netperf client in a Linux VM on Sculpt. Without the fix, I merely achieved a throughput of 30Mbit/s. With the fix, I get over 80Mbit/s on a 100Mbit/s network.

On the downside, I also observed a throughput degradation in other scenarios with this fix because it assumes the Nic server to apply

[2022-02-14 14:55] nfeske commented on #4427
Thank you for the fix and the very interesting findings.

Down the road, we may consider consolidating the distinct RX and TX signal handlers into only one signal handler, following a similar like of reasoning as in #4388.

Fortunately, that can be addressed by implementing the batching in only one place, the NIC router, right?

[2022-02-14 15:09] jschlatow commented on #4427
Correct. Though it will also be beneficial to implement batching in the drivers, i.e. the Uplink_client_base, as well.

[2022-02-14 15:11] jschlatow commented on #4203
For the record, I tried #4427 with falkon but do not see any improvement.

[2022-02-14 17:23] ssumpf commented on #4369
@nfeske: Please consider a8bf355, cca80b5, and [ac332e3](https://github.com/ssumpf/genode/commit/ac332e3d450d6251b8914a3c41de5184faba40c9) for staging. The commits are the prerequisite for https://github.com/genodelabs/genode-world/issues/284 to work.

[2022-02-14 17:51] ssumpf commented on #4369
There are fixes addressed above.

[2022-02-15 10:28] m-stein commented on #4419
That'll be the last one for this issue:
5d74390e6b black_hole: provide Uplink service

[2022-02-15 13:50] #4336 closed

[2022-02-15 13:50] #4384 closed

[2022-02-15 13:50] #4389 closed

[2022-02-15 13:50] #4396 closed

[2022-02-15 13:50] #4400 closed

[2022-02-15 13:50] #4402 closed, assigned to nobody

[2022-02-15 13:50] #4403 closed

[2022-02-15 13:50] #4404 closed

[2022-02-15 13:50] #4406 closed

[2022-02-15 13:50] #4410 closed

[2022-02-15 13:50] #4412 closed

[2022-02-15 13:50] #4413 closed

[2022-02-15 13:50] #4391 closed

[2022-02-15 13:50] #4414 closed

[2022-02-15 13:50] #4417 closed

[2022-02-15 13:50] #4418 closed

[2022-02-15 13:50] #4365 closed

[2022-02-15 13:50] #2243 closed

[2022-02-15 13:50] #4411 closed

[2022-02-15 13:50] #4415 closed

[2022-02-15 13:50] #4425 closed

[2022-02-15 14:26] nfeske commented on #4427
Aye aye. Merged to staging.

[2022-02-15 14:30] nfeske commented on #4419
Thank you @m-stein. It is very good to see the component becoming more and more complete. I merged your commit to staging.

[2022-02-15 14:34] nfeske commented on #4427
Fixed in master.

[2022-02-15 14:34] #4427 closed

[2022-02-15 14:35] nfeske commented on #4408
Fixed in master.

[2022-02-15 14:35] #4408 closed

[2022-02-15 14:36] nfeske commented on #4405
Fixed in master.

[2022-02-15 14:36] #4405 closed

[2022-02-15 14:36] nfeske commented on #4401
Fixed in master

[2022-02-15 14:36] #4401 closed

[2022-02-15 14:38] nfeske commented on #4393
Fixed in master.

[2022-02-15 14:39] nfeske commented on #4392
Fixed in master.

[2022-02-15 14:39] #4392 closed

[2022-02-15 14:39] nfeske commented on #4382
The commit reached the master branch.

[2022-02-15 14:39] #4382 closed

[2022-02-15 14:42] #4244 closed

[2022-02-15 14:44] nfeske commented on #3549
Fixed in master.

[2022-02-15 14:44] #3549 closed

[2022-02-15 15:20] nfeske commented on #4369
I added 14b93c5ff3f25933e2f27382a8477174bb7fdf76 instead of https://github.com/genodelabs/genode/commit/cca80b56e873249d671a3dc803a008998dc38abd, which results in an empty tar archive instead of no tar archive to avoid problems down the road when mounting depot.tar in ram fs. It also solves the problem more broadly, should this corner case ever appear in other run scripts.

[2022-02-15 15:37] nfeske commented on #4369
I merged a slightly modified version of https://github.com/genodelabs/genode/commit/a8bf355856a664ba5966a9f909379f3156df09dc as 8edb7b28a00e23f9fb010e575948c1d7d1a99c50. The modification avoids returning an `Xml_node` as return value (which is a pointer, so better to avoid). @ssumpf are you fine with the new version under your name?

Could you give the boot2java sculpt another try with the current

[2022-02-15 15:49] skalk commented on #4303
@tomga I'm sorry, I've overseen your response until now. Actually, I've used a more generic name, because it can be used across different versions of broadcom 283x. Moreover, the naming schemes in the Linux device trees are meaningful in the scope of the Linux implementation itself only. Do you see an advantage in re-using the Linux compatible string here?
Now, that the re-newed framebuffer and pl

[2022-02-15 15:54] skalk commented on #3415
@tomga: in my eyes all relevant commits are now applied or moved to the new genode-rpi repository. The only thing left are board support / depot recipes for rpi2, and respectively rpi3 (32-bit) if you still like to have it. Both can be handled as separate issues within the genode-rpi repository itself. Therefore I would like to close this issue here, if you agree.

[2022-02-15 19:16] m-stein commented on #4419
Thanks, I'm happy that you like it :)

[2022-02-16 08:57] skalk commented on #4303
@chelmuth indirectly the `dma_addr` work on the PD session was responsible, but it only made visible that the `managing_system` property wasn't set for the platform driver within this scenario. I've fixed that now.

[2022-02-16 09:28] tworaz commented on #4320
@nfeske This commit series breaks setups in which default KERNEL variable value is set in etc/build.conf. I generally don't use other kernels besides hw much, so I always uncomment the KERNEL ?= hw line in the default build.conf file created by create_builddir script. The way it used to work was I could skip setting KERNEL=hw on make command line. With current master branch (8b7067d28999dac591f023

[2022-02-16 10:34] skalk opened #4428 "core: leave out page zero for dma constrained physical memory"
For PD clients owning the `managing_system` right (typically the platform driver) there is a constraint implemented to only use certain portions of the RAM. Now, that the `dma_addr` call within the PD session returns zero in case of the missing `managing_system` property, we should also constrain the RAM allocations to never use physical memory page at address zero to not intervene with current er

[2022-02-16 10:35] nfeske commented on #4320
Thanks for reporting @tworaz. This is not intended.

I assume that the `?=` assignment is weaker than specifying `KERNEL` at the command line. The latter results the setting of `KERNEL` as environment variable, which is then evaluated in base/lib/mk/ld.mk. The weaker `?=` presumably does not have the same effect. As a quick test, could you try adding an `export KERNEL` to tool/builddir/build.mk?

[2022-02-16 11:44] tworaz commented on #4320
@nfeske its not only `?=` that does not work. The same problem happens if I use `:=`.

Adding `export KERNEL` in tool/builddir/build.mk does fix the problem.

[2022-02-16 13:21] nfeske commented on #4320
Thanks for testing. I have added the fix https://github.com/genodelabs/genode/commit/6dc9fa9e922a65a4831a459e6cb7768a42537b79 to staging now.

[2022-02-17 09:35] tomga commented on #4303
Hi @skalk.

I just did not see a reason to not do it. I imagine that in the future you'll probably have some tool to import (semi-automatically) configurations from linux tree into platform driver configurations and in that case the less differences the better. Additionally currently this name for mbox device type is used for all Raspberry Pi flavors in Linux:
[code]
Anyway it is not that importan

[2022-02-17 09:56] skalk commented on #4303
@tomga thank you for your feedback. If you encounter any problems, please feel free to open an issue within the genode-rpi repository, and we'll try to solve it together.

[2022-02-17 09:56] #4303 closed

[2022-02-17 10:07] chelmuth opened #4429 "Add support for UEFI network boot via Grub efinet and TFTP"
For modern UEFI-only platforms the current TFTP loading mechanism via pulsar does not longer work. Pulsar will be replaced the Grub bootloader with support for efinet and TFTP.

This issue requires the changes in alex-ab/g2fg#2.

[2022-02-17 10:28] nfeske commented on #4419
The depot_autopilot reported the following problem on OKL4, seL4, and L4/Fiasco:

[code]

[2022-02-17 10:55] jschlatow opened #4430 "trace_buffer: fix several corner cases"
By implementing a test component for the trace buffer, I exposed a few corner cases that need fixing.

[2022-02-17 11:15] jschlatow commented on #4430
Commit 181900b adds the test pkg for depot_autopilot. It currently skips testing a slow consumer with a fast producer since this is known not to work.

Commit 3c8c37f fixes an out-of-bounds read when iterating the buffer entries.

Commit cf1000b fixes an unlikely corner case when the iteration is stopped right after the buffer wrapped.

Note, that I still plan to revise the trace buffer implementa

[2022-02-17 11:16] nfeske opened #4431 "Xml_node: support blackslash as attribute value"
XML allows attribute values like `<node attr="\"/>`. The current version of the XML parser wrongly reflects this case as `Invalid_syntax`.

[2022-02-17 11:46] m-stein commented on #4431
Commit add2011ff1 seems to break building the vfs lib:
[code]

[2022-02-17 12:40] nfeske commented on #4431
Thanks @m-stein for reporting. Fixup 14a6f2f9de1dead7d6edd078531f9d6edc9869c9 addresses this issue.

[2022-02-17 12:42] nfeske commented on #4431
Fixup c0103747da97c9e232f4b0ada6d6430a5d3acffc covers another instance (libc).

[2022-02-17 14:38] skalk commented on #3726
There is no progress on this issue, which is due to the fact that our VMM solution does not provide on-demand lazy paging of guest memory. I'll close this issue until on-demand paging becomes an issue in our virtualization solution.

[2022-02-17 14:45] #4149 closed

[2022-02-17 15:13] skalk commented on #4151
@m-stein when looking at the test, I doubt anybody except you can address this issue. I'm overstrained when trying the test's semantic. I have no objections in testing it nightly, as soon as it works in a robust fashion.

[2022-02-17 17:21] jschlatow commented on #4430
Removed the fixed label because I found a few more issues when running the test on a native Linux instead of a VM.

[2022-02-18 10:05] nfeske commented on #4430
Thank you @jschlatow for the commit series and the detailed descriptions. It seems that the critical inspection of the trace utilities was long overdue. I very much appreciate this work, and merged all the commits to staging.

[2022-02-18 10:45] nfeske opened #4432 "Low-complexity touch-screen keyboard"
Even though there already exists a touch-screen keyboard component based on Qt5, the footprint of the Qt framework would significantly inflate bare-bones Sculpt scenarios. For use cases where low complexity and small footprint are desired, a small touch-keyboard component based on Genode's menu-view utility might be a better fit, in particular when interacting with Sculpt's administrative interfac

[2022-02-18 18:13] m-stein commented on #4419
@nfeske Thanks for the hint!
This fixes the problem for me on okl4/fiasco/sel4 and also runs fine on nova+x86_64 (my initial testing platform):
eb23bad352 test/black_hole: fix failing packet allocation

[2022-02-19 07:13] m-stein commented on #4431
@nfeske Thanks for the having fixed it so fast!

[2022-02-19 07:37] m-stein commented on #4151
Commit 2ecf1d887b44c8d5874cf97cd1dbe78886030a73 seems to be the cause of this issue.

[2022-02-19 08:31] m-stein commented on #4151
Commit https://github.com/genodelabs/genode/commit/2ecf1d887b44c8d5874cf97cd1dbe78886030a73 raises some questions in my head (and I definitely should have checked on this way back when the commit was merged) . As it seems that the scheduler test would have to be widely adapted in order to match the new semantics I would like to clear about these questions before going on.

The semantics of ``ready

[2022-02-19 16:49] nfeske commented on #4419
Thank you attending the problem. I cherry-picked your commit to staging.

When looking at the changes, the repeated use of prefixed `_uplink` members caught my attention. As a matter of style, have you considered grouping such closely related members in a dedicated `struct`? The naming of the members of such a local struct would probably become more concise, hopefully defeating the tendency of the

[2022-02-20 09:50] m-stein commented on #4419
I considered it indeed, but refrained from doing so because I sensed it still manageable with the given complexity. However, here we go ^_^
49a1b3f69c test/black_hole: test link-state change at uplink
088220d974 test/black_hole: split-up test classes

[2022-02-20 17:36] m-stein commented on #4419
I went a bit further and created classes with dedicated interfaces instead of local structs. I hope this is fine as well?

[2022-02-21 09:01] skalk commented on #4151
@m-stein : you're right. This is pretty strange. The original commit did not checked for `_need_to_schedule` in the beginning of `ready_check`, see https://github.com/skalk/genode/commit/7b7c9bc0b8743ff5daa79b6ecfbac6e8cac9ad02 but during the resolution of some staging/nightly-build issues it slipped in. I can't explain with good reasons why this line 154 exists. The semantic was: instead of alway

[2022-02-21 10:09] cproc opened #4433 "rump: _wait_and_dispatch_one_io_signal called from non-entrypoint thread "pdaemon""
When I run virtualbox6 with rump on the current staging branch, the following warning appears and the (Debian) VM boot process does not reach the GUI.

[code]

[2022-02-21 11:11] nfeske commented on #4419
That's even much better! It is great that you took my little remark so far.

I merged the two new commits to staging.

Since the original test/black_hole commit has not reached master, I wonder if we should better squash the commits together? Or do you wish to preserve the intermediate states of the test/black_hole component in the history?

[2022-02-21 13:23] nfeske commented on #4433
I suspect that this problem is related to the change 911ff3170927525bad921720945f3a361661c2bd, which replaced the former use of blocking packet-stream functions with an explicit `wait_and_dispatch_one_io_signal` loop. During my tests, all calls of the `submit` function were driven by the entrypoint thread. But I was probably too optimistic.

Unfortunately, I won't be able to take a deeper look bec

[2022-02-21 16:59] jschlatow opened #4434 "trace_buffer: eliminate potential corruption of consumer state by the producer"
As already noted in #4244 and #4430, the current trace buffer implementation does not quite handle the case of a slow consumer. Despite keeping the count of buffer wraparounds, there is no guarantee that the producer cannot overwrite entries that are currently processed by the consumer. Especially when entries have variable size, this can corrupt the consumer state.

[2022-02-21 17:34] jschlatow commented on #4434
I split the modifications into two commits. Commit d530411 comprises mostly syntactial changes in order to simplify `for_each_new_entry()`.
The second commit, 4ca95d5, introduces a applies a partitioning scheme to prevent overwriting and corruption in case the consumer is too slow. It reuses the old implementation and provides the same interface. In addition, the partitioned buffer is able to keep

[2022-02-21 17:37] m-stein commented on #4419
@nfeske Not at all, you may squash all commits regarding the test together. Thanks for asking :)

[2022-02-21 17:40] #4409 closed

[2022-02-21 17:42] jschlatow commented on #4434
Note, that the changes currently break `test-trace_logger`. I'm going to look into that.

[2022-02-22 09:16] jschlatow opened #4435 "trace/policy: log_output return 0 for max_event_size"
Since the trace buffer cannot reserve an appropriately sized entry in this case, the policy will end up writing beyond the buffer bounds.

[2022-02-22 10:38] jschlatow commented on #4434
My bad. Working with test-trace_buffer, I completely forgot paying attention to relative addressing to allow passing the buffer between address spaces. Fixed by 01ebe44. Note, that I also stumbled upon #4435 when looking into this.

Another issue that popped up is that the trace logger started accessing the buffer before it was initialised by the traced thread. I think the best solution here is to

[2022-02-24 20:26] cproc commented on #4433
Commit 65947ed is a first attempt to fix the problem. I experimented with the suggested semaphore and counter for a while, but then it appeared simpler to use a registry of blockades instead. Unfortunately, the 'local_submit' solution to get hold of the ep thread pointer did not work, because the signal handler did not get called before the first call of 'block_for_io'. With this first version the

[2022-02-28 14:48] #4416 closed

[2022-02-28 14:48] #4428 closed

[2022-02-28 14:48] #4431 closed

[2022-02-28 14:48] #4345 closed

[2022-02-28 14:48] #4348 closed

[2022-02-28 14:48] #4379 closed

[2022-02-28 14:48] #4432 closed

[2022-02-28 15:55] nfeske commented on #4433
The commit entered the master branch.

[2022-02-28 15:55] #4433 closed

[2022-02-28 15:56] nfeske commented on #4430
The commits entered the master branch.

[2022-02-28 15:56] nfeske commented on #4394
The vfs_tap plugin is featured in Genode 22.02.

[2022-02-28 15:56] #4394 closed

[2022-02-28 15:57] nfeske commented on #4369
The feature is part of Genode 22.02.

[2022-02-28 15:57] #4369 closed

[2022-03-01 16:03] skalk opened #4436 "platform API: make io-ports part of the generic platform device"
When we want to re-new the platform driver for x86 to use the new, generic platform API, we have to add io ports as device resources to it. Although this is useful for x86 only, we shall add it to serve only one common API. As long as no io ports are provided to a client it won't be used on non-x86 architectures.

[2022-03-02 10:21] nfeske commented on #4320
I have currently no further plans in this area. With the changes in Genode 22.02 - in particular the triggering of the ld.lib.so build at the build stage - I hope to have cleared up the situation. With the adoption of the `build_boot_image [build_artifacts]` pattern, the confusion will hopefully become less and less with the time.

@jschlatow What do you think?

[2022-03-02 10:29] nfeske commented on #4436
I suggest the consistently apply the naming "io-port range".

[2022-03-02 11:54] jschlatow commented on #4320
I'd consider this fixed by Genode 22.02.

[2022-03-02 11:55] #4320 closed

[2022-03-02 14:03] skalk opened #4438 "pc_usb_host_drv: add missing UHCI support"

[2022-03-02 14:06] skalk commented on #4436
@nfeske: I've renamed all occurences of Io_port to Io_port_range accordingly.

[2022-03-02 16:24] nfeske commented on #4436
Thank you for the renaming.

[2022-03-03 15:11] skalk opened #4439 "genode_c_api: unify shared dataspaces allocation callbacks"
Currently, there are identical callbacks defines in the Genode C API for USB and Block device drivers. Both are used to allocate, attach, and free dataspaces, which can serve as packet stream buffer in between driver and client. They are not managed by the Genode C device library, but provided by the concrete driver instance to enable the usage of dma-capable memory, and potentially use it for DMA

[2022-03-04 15:25] chelmuth commented on #4438
Commit 8a8e3f53ea66f1a7cc7556d8674497c297b542bf *temporarily* fixes usb_hid_raw on ultra PC by adding empirically determined config space offsets/addresses for EHCI BIOS handoff. As the address is not static or fixed but read from MMIO of the device, it may be challenging (resp. impossible) to define. I'm wondering why the protocol reads an address from MMIO but uses configuration space operations

[2022-03-05 16:34] mewmew opened #4440 "build error when making core/linux with KERNEL=linux and BOARD=pc"
Hi Genodians! :)

Stumbled upon a few build errors related to type conversion and references, when trying to build `core/linux` with `KERNEL=linux` and `BOARD=pc`.

Steps to reproduce:
[code]

Build errors:
[code]

[code]

Cheers,
Robin

[2022-03-08 08:53] chelmuth commented on #4369
@nfeske Unfortunately, I missed to add a commit for your sketch in https://github.com/genodelabs/genode/issues/4369#issuecomment-1012102844. Commit cafb87d540a07692cbd49af59e1fe21fbc813573 catches up on this. Please note, I had to remove pkg/backdrop from sculpt/archives because of dependency detection. If you're okay with this, I'll merge the commit to staging.

[2022-03-08 13:29] nfeske commented on #4440
Hi Robin, very nice to see you!

Your fixes are much appreciated. I merged your commit to staging just now.

Admittedly, the `KERNEL=linux BOARD=pc` combination is largely untested (usually we set `BOARD=linux`). So I'm a little bit afraid that you may encounter further issues down the road. In any case, it would be cool to know how it works out for you.

[2022-03-08 14:21] skalk opened #4442 "lx_emul: unify common import rules"
There is a lot of Makefile declaration duplications in between different drivers using the new lx_emul/lx_kit. We shall share common code in `repos/dde_linux/lib/import/import-lx_emul_common.inc` file.

[2022-03-08 14:26] skalk opened #4443 "lx_kit: alternate memory backend"
Currently, the new lx_kit always uses the platform API to allocate memory dynamically, because drivers that are using DMA have to do so. But if we port protocol stacks like, file-systems, TCP/IP, or wireguard, we do not use devices and especially DMA-capable engines, therefore the dependency on the platform API is not wanted here. To get rid of the dependency provide an alternative memory backend,

[2022-03-08 15:19] skalk opened #4444 "usb_host_drv: share linux specific genode_c api implementation in between drivers"
The implementation needed to back the Genode C API for USB in the context of Linux kernel code is identical in between, e.g., genode-imx and pc. It is expected to be the same for other USB host controllers as well, as it depends on the generic USB interface of the Linux kernel only. On the other hand, it is the most sophisticated hand-drafted code of this driver sub-class and shouldn't be duplicat

[2022-03-09 11:05] nfeske commented on #4435
Merged to staging.

[2022-03-09 11:20] nfeske commented on #4434
Thanks for this feast for the eyes! The documentation added to trace/buffer.h is awesome.

Admittedly, I merged the rework changes without having internalizing the algorithm in detail and I remain a bit reluctant to fully embrace the 50/50 partitioning. The latter remark is just a gut feeling that the split might be wasteful - but on the other hand, conserving memory is a less important concern th

[2022-03-09 11:23] nfeske commented on #4439
Merged to staging.

[2022-03-09 11:26] nfeske commented on #4442
I'm very much appreciating this careful curation. It relieves the SoC-specific repositories from a lot of noise. Thank you @skalk.

[2022-03-09 11:26] nfeske commented on #4443
Merged to staging.

[2022-03-09 11:26] nfeske commented on #4444
Merged to staging.

[2022-03-10 12:22] nfeske commented on #4419
The black-hole test fails on some nightly tested platforms such as qemu/nova/x86_32 due to an uncaught `Packet_alloc_failed` exception in the uplink test. I tried to address the failures with 47fd1c5cb3f6999435d24d5adbd5ff68862ede99 but this change is apparently not correct because it triggers different symptoms (e.g., the test gets stuck on qemu/pistachio/x86_32). I'd prefer to leave the fix to @

[2022-03-10 14:44] nfeske opened #4445 "init/sandbox: tracking of CPU quotas is insufficient for dynamic scenarios"
Since commit 55492fbe5ba3a83d6459852d8a756c951c123518, the boot log of Sculpt OS is spilled with warnings as follows:

[code]

Those warnings are caused by a deficiency of init's CPU-quota tracking, which was never adapted to the dynamic re-configuration of init until now. The unconsumed quota is merely tracked by a global value, decremented whenever CPU quota was assigned to child. But the replen

[2022-03-11 07:27] chelmuth opened #4446 "Remove tool/create_sdk"
The SDK approach introduced in #2948 was superseded Goa. Or am I missing something?

[2022-03-11 08:20] nfeske commented on #4446
Oh yes. Good find.

[2022-03-11 08:26] nfeske commented on #4066
While investigating the performance of the VT exit handlers in VirtualBox6, I longed for a way to use the GENODE_LOG_TSC utility, but targeting the trace mechanism instead of the log. In this case, regular log messages are not viable because of the high volume/frequency of the captured information and the costs of printing them. I suggest adding a flavor GENODE_TRACE_TSC to accommodate such demand

[2022-03-11 09:29] m-stein commented on #4419
I'd do this. I think 22.05 is realistic even though I'm occupied with Wireguard.

[2022-03-11 10:51] nfeske commented on #4419
Thanks @m-stein for responding. As the upcoming Sculpt is scheduled for end of March, I'm aiming at a much sooner fix though.

[2022-03-11 12:15] m-stein commented on #4419
Oh, sorry, I misread your message and thought of the Genode release. I could take care of the ROM service till end of March though.

[2022-03-11 13:23] nfeske opened #4447 "Refine trace-subject state reported to trace monitor"
The current distinction between the TRACED and UNTRACED states does not capture an intermediate state, which is entered after the trace monitor enabled the tracing for a trace subject but before the trace subject has a chance to activate the tracing. From the perspective of a trace monitor, such a subject remains in UNTRACED state even after calling `trace`, which is confusing.

[2022-03-11 14:24] nfeske opened #4448 "Refine output of the trace_logger application"
The current version of the trace_logger application is still a bit lacking in terms of ergonomics. So I'd like to take this issue as a place to discuss usability improvements.

One particular inconvenience is the amount of repetitive information appearing in the log, which is mostly on account of inactive trace subjects. I found that the output becomes much more digestible by skipping subjects wit

[2022-03-11 15:33] nfeske commented on #4448
As another usability improvement, I wish to replace the XML-formatted output with a concise format that is optimized for human consumption.

[2022-03-12 09:50] m-stein commented on #4419
Done:
e688367575 black_hole: provide ROM service

[2022-03-14 09:06] nfeske commented on #4419
Thank you Martin for the super quick response!

May I request two minor changes?

* The combination of `String` with `memcpy` should better be replaced by a single call of `copy_cstring`, which can be found in util/string.h
* I'd encourage using the `Session_object` class located at base/session_object.h for all RPC objects that implement session interfaces. Even though your ROM-session implementa

[2022-03-14 10:58] nfeske opened #4449 "Utilities for the formatted output of text"
Genode's existing text-output facilities provided by base/output.h are deliberately simple to avoid code complexity at the lowest levels of the framework. For higher-level components, however, nice formatting is often a desirable feature. In particular, while revisiting the trace-logger component (#4448), I found that tabular output of the data would greatly enhance the value of the component. It

[2022-03-14 13:16] m-stein commented on #4449
:+1:

[2022-03-14 16:38] m-stein commented on #4419
Oops, I had already implemented the Gpu service in a way that one can construct a Gpu::Connection with black_hole as server when I read your last comment:

48c14fde57 black_hole: provide Gpu service

I will soon apply your two comments to the ROM commit and take care of the test failures you observed.
Shall I revert the GPU commit in favour of the Service_denied solution?

[2022-03-14 16:43] m-stein commented on #4419
In my opinion, a service that simply gets denied is not so much in line with the rest of the black_hole server, but I can see that it would be opportune in the Sculpt context.

[2022-03-14 16:51] nfeske commented on #4419
Either way is fine by me. My suggestion was merely aiming at minimizing the effort needed to barely satisfy the needs of Sculpt.

[2022-03-14 16:52] nfeske commented on #4448
Commit https://github.com/nfeske/genode/commit/d05d34c5702e190e744bea268b1662e2fd3a83c2 implements the change, hopefully to the satisfaction of the trace-logger users.

[2022-03-14 16:56] nfeske commented on #4448
BTW, it also addresses the former usability issue of capturing the information of the very first period by updating the monitors right at startup (w/o printing) so that the first printed report contains meaningful data.

[2022-03-15 13:09] nfeske commented on #4381
The results of this work already went to the master branch.

[2022-03-15 13:10] #4381 closed

[2022-03-16 09:29] jschlatow commented on #4434
I'm happy to hear that. Thank you for the feedback!

[2022-03-18 10:27] alex-ab opened #4450 "pc: update intel display driver"

[2022-03-18 10:45] alex-ab commented on #4450
I pushed a first version of the update as issue_4450 based on staging. As discussed offline, the update is functional and usable with Sculpt, but I still have to check some machines and configuration updates. Nevertheless, all is packaged and should(tm) build and work.

[2022-03-21 14:01] nfeske commented on #4450
Thanks for the excellent commit series. The sensible ordering of the changes is very much appreciated and made reviewing them a breeze. I merged your commits with a few (very minor) cosmetic changes to staging. Given @cnuke's remark about the page ref count earlier today, I replaced the commit b2af53b373984f449ec9e08aaeab09c3f628c3c7 by e2dfe9f32a605d9e3c72b9a41c1a8489bb071dcc though, hoping that'

[2022-03-21 16:54] alex-ab commented on #4450
The 3 top most commits of my staging branch implements the writecombine changes.

[2022-03-21 17:57] nfeske commented on #4450
Thanks for the super quick response, Alex! I updated the staging branch right away.

[2022-03-22 09:13] nfeske commented on #4450
Commit https://github.com/genodelabs/genode/commit/24899005d1e988d998e6fcd4889a650439cc8dad fixes the build errors of the imx drivers.

Commit https://github.com/genodelabs/genode-allwinner/commit/8219edb7bd7399b5e2deb2d8a45b2ecd359cf1b8 fixes a build error in the allwinner nic/emac driver.

Both are related to the addition of the __alloc_pages to the shadowed mm/page_alloc.c in commit 7a274629373

[2022-03-22 09:48] alex-ab commented on #4450
Thanks for taking care, I just wanted to start to fix it :+1:

[2022-03-22 09:51] ssumpf opened #4451 "gpu/intel: Vastly improve resource management"
Idea: Make worst case assumptions about CAPS and RAM within the Intel GPU multiplexer. Currently this would amount to 4 caps and 2MB of RAM because the Heap (might require an update). Enforce that these quotas are available before any GPU multiplexer operation. Check used quotas before and after allocations and account the actually used resources to a session through  `Quota_guard::withdraw/replen

[2022-03-22 12:51] nfeske commented on #4451
The saving sounds exciting. All the more pleasantly surprised I was when looking at the commits, which appear as a quite substantial simplification as well. I merged them to staging and will give them a try as soon as possible.

[2022-03-22 13:46] chelmuth opened #4452 "acpi_drv: replace I/O memory backend by more dynamic variant"
The current heuristic that all ACPI tables will fit into one size-aligned 1 GiB region does not work on a recent Tigerlake notebook. A dynamic I/O memory mapping approach could be implemented with a scoped pattern like follows.

[code]

[2022-03-22 14:41] ssumpf commented on #4451
@nfeske: Interesting. I will look into the mesa-gears case. This should not require more RAM after being started.

[2022-03-23 08:35] ssumpf commented on #4451
@nfeske: Unfortunately I cannot reproduce the `gears` resource request on fuji4 (run for 8 hours over night). This might be a Broadwell problem then, which I will have to test separately. Until then, I will look into the dangling allocations when closing `glmark2`, test vbox6 3D support as well as Doom3 (which is the real world work load that requires thousands of buffers).

[2022-03-24 08:20] cproc opened #4453 "qt5: fixes and improvements for WebRTC support"
Some fixes and improvements related to WebRTC support in qtwebengine:

- 'SyncSocket' fixes (handle 'close()' on Mojo IPC error, workaround for missing peek feature)
- v8 WebAssembly adaptations (reduce the maximum code area size, disable guard regions)
- replace use of unsupported 'recvmsg()' function with 'recvfrom()'
- adapt the 'usrsctp' library for Genode
- add an OSS audio backend
- add a vi

[2022-03-24 08:43] cproc commented on #4453
Fixed by b411b4c.

[2022-03-24 10:41] alex-ab commented on #4450
Another commit is required for X250, 4884cc4c097cf612de078f249eb5be387674bdc1, so the top most 5 commits of issue_4450 are relevant.

[2022-03-24 12:25] cproc commented on #4450
On my x260, with the 5 commits applied I get a distorted image with the intel_fb.run test. Screen resolution is 1366x768 (the screenshot is scaled down a bit).

![intel_fb](https://user-images.githubusercontent.com/1306467/159915125-e43f3bc7-07bd-4375-8d34-ba9e8ee4a457.png)

[2022-03-24 12:42] cproc commented on #4450
Log output for the x260:

[code]

[2022-03-24 12:47] alex-ab commented on #4450
My X260 here has 1080p and works. I suspect it has to do with the pitch, something similar to 101d052ddb798201a9cf764068a6b7fee55fee8f we will need.

[2022-03-24 13:05] alex-ab commented on #4450
Can you please check fb_info->fix.line_length in register_framebuffer() in repos/pc/src/drivers/framebuffer/intel/pc/fb.c. I suspect that you may get here the expected aligned width size, which then could be used to invoke the lx_emul_framebuffer_ready.

[2022-03-24 13:13] alex-ab commented on #4450
I have to leave for today, in case you internal display stops refreshing on the X260 (as for me) if you disconnect with AMT, you may apply as workaround for the moment in repos/pc/src/drivers/framebuffer/intel/pc/vbt_io_mem.cc just a "return nullptr" at the beginning of the function. With that the internal display works

[2022-03-25 00:03] cproc commented on #4450
Yes, that fixes the problem (commit 92244d9). I didn't notice a refresh problem when disconnecting AMT so far.

[2022-03-25 12:39] alex-ab commented on #4450
Thanks @cproc for implementing and testing. I added your commit to the issue_4450 branch. Also thanks to the hint of @skalk, I use in the cpu_relax now the udelay_range, which also adjust jiffies implicitly.

[2022-03-25 13:43] jschlatow opened #4454 "Improve cpu_bench, memcpy and cache benchmarks"
When comparing CPU performance and memory throughput between base-hw on Zynq and Linux, I noticed a several issues that voided comparability.

1. On Linux, gcc default to -mthumb, which makes a difference in the bogomips reported by cpu_bench.
2. The memcpy test was significantly affected by linux' copy-on-write optimisation.

[2022-03-25 14:06] cnuke opened #4455 "pc: update wlan driver"
The following commits series introduces a new WLAN driver for the PC platform based on the Linux 5.14.2 sources that features support for  Intel wireless AX (WIFI-6) devices. It is still WIP as it lacks *rfkill* support and the management front end integration is not yet properly done. The included *wlan-test.run* may be executed to test the new driver (so far it was only tested it with a 7265D an

[2022-03-25 14:10] jschlatow opened #4456 "memcpy and memset improvements"
When comparing memory bandwidth and hunting the culprit behind #4454, I learned about a few angled on how to tweak memcpy and memset performance.

First of all, I started with ~300MiB/s for `Genode::memcpy` and `Genode::memset` on 'a Zynq-7000 SoC @666MHz. The most effective parameters for tuning the throughput were:

* using pld in the `memcpy_cpu()` implemention
* enabling prefetching for L2 and

[2022-03-25 14:22] jschlatow commented on #4456
When working on this, I also stumbled upon an apparently obsolete vfp/neon implementation for `memcpy_cpu`. As I expected, it does not improve the memcpy results though since the prefetching seems to be the major bottleneck and ARMs load-store multiple already loads/stores a cache line in 4 cycles if I read the docs correctly. I therefore removed the implementation in commit cac3c33.

[2022-03-25 14:23] cnuke commented on #4455
Sculpt integration will follow next week (the _pc_wlan_drv_ recipe is already available). Since I have not yet tested if rejoining or roaming works, I'll expect one or the other rough edge.

[2022-03-25 14:55] chelmuth commented on #4450
I merged commits up to 4efb127f79c20d89b7be94abd81ab784fc278862.

[2022-03-25 15:06] chelmuth opened #4457 "ps2: disable mouse by configuration"
The following patch by Peter sketches a configuration option to disable the PS/2 mouse reporting from the driver.

[code]

I'm not sure if we want to integrate such a feature, but could imagine it useful to permanently or temporarily disable the notebook touchpad to avoid unintended mouse movement or even clicks. Maybe the event filter is a better candidate to *filter events* from some inputs.

[2022-03-28 07:27] cproc opened #4458 "vfs: implement plugin for 'Capture' session"
A 'Capture' VFS plugin is useful for the Falkon web browser to capture webcam images for WebRTC.

[2022-03-28 07:38] cproc commented on #4458
Commit d5ea78f implements a first version of such a plugin with the basic functionality needed to capture 640x480 webcam images by reading from the single "capture" file. More features could be added in the future. Commit 58c6cbb adds a 'webcam_vfs' test, which is based on the existing 'webcam' test, but using the VFS plugin instead of the 'Capture' session.

[2022-03-28 09:03] skalk commented on #3415
All rpi related issues should be discussed in the genode-rpi repository now. Therefore, I'll close this issue.

[2022-03-28 09:03] #3415 closed

[2022-03-28 11:49] trimpim opened #4459 "vfs/rump: access to (large?) files on 22.02 leads to unresponsive entrypoint"
We encountered it first when we were running a virtual machine on our scenario. Init reported skipped heartbeats from the vfs that hosted the rump plugin.

The problem can also be reproduced by copying large (~15GB) files on sculpt (inspect shell).

I executed the following tests on my thinkpad. I placed a 15GB image
on the third partition of AHCI drive and booted Sculpt from USB.

I tested the fo

[2022-03-28 13:17] nfeske commented on #4459
Thank you very much for the bisecting and reporting. The symptom reminds me of #4433, which was addressed by commit 88dec4cc94b6e86026bb0f7fe0d00afbb8dd64ac.

Your bisecting in between the commits 2b0e64e06160f554e3ff18dba80f015a76d1721f and 88dec4cc94b6e86026bb0f7fe0d00afbb8dd64ac may probably show issue #4433, which may be different from the one you currently observe. To rule this out, could you

[2022-03-28 14:16] m-stein opened #4460 "NIC router: update IP config on DHCP RENEW/REBIND"

[2022-03-28 14:22] jschlatow opened #4461 "Sculpt: depot preparation fails"
I've built a sculpt image from the current staging branch and noticed that it fails to prepare the depot correctly. I instrumented the code to get more log output. Apparently, the copy operation from /config/depot to /rw/depot fails for some files:

[code]

Any ideas, why some directories are interpreted as hard links? Inspecting _/config/depot_ actually shows different contents and thus does not

[2022-03-28 15:03] trimpim commented on #4459
@nfeske I will do that tomorrow, and keep you updated on my findings.

[2022-03-28 15:14] jschlatow commented on #4450
@alex-ab the driver starts up smoothly on my x260 and t490s. Unfortunately, it does not detect the native resolution of my external display, which is 1920x1200. Instead, it only shows resolutions up to 1920x1080 and choses the later.

[2022-03-28 16:11] m-stein commented on #4460
Fixed:
0f53833816 run/nic_router_dhcp: DHCP RENEW and some fixes
314afa577e NIC router: update IP config on DHCP RENEW/REBIND

[2022-03-28 17:48] nfeske commented on #4461
I have no explanation but the "hardlink" messages look strange. Maybe `cp` does something clever about inode numbers (creating hardlinks when the numbers match) whereas various Genode VFS plugins pull those numbers out of thin air. Could the inode number of a tar entry of the depot_users.tar match an inode number of a directory in /rw/depot/ by chance?

If this ambiguity is the problem, it would b

[2022-03-28 18:49] cproc commented on #4459
I couldn't reproduce the problem with Sculpt on 22.02 and staging on my test machine so far (x260, TFTP boot, whole AHCI SSD formatted as ext2, copying a 15GB file).

[2022-03-29 06:43] trimpim commented on #4459
@nfeske moving the two commits to directly after 2b0e64e did not produce any merge conflicts.

When I copied multiple files with the command `cp -fv test*.img /backup` the following error occurred:

[code]
After this I booted Ubuntu to check the integrity of the file system, it was reported to be clean.

This happened only once in 3 tries to copy multiple files.

There is one difference I noticed,

[2022-03-29 07:20] chelmuth commented on #4456
Kudos, these are impressing results! I merged all commits in #4454 and this issue to let the CI do the heavy testing on our target platforms.

[2022-03-29 09:06] cproc commented on #4459
When I did the copy tests on 22.02 and staging I noticed that copying the 15GB file took about 2m20s on 22.02 and about 4m5s on staging. I'm currently bisecting this symptom and just got an error message that might be related to @trimpim's issue:

[code]

When I "un-inspected" and "re-inspected", this error did not occur again.

[2022-03-29 09:23] alex-ab commented on #4450
With the 3 commits on issue_4450 (rebased to staging) the driver works on the new machine too

[2022-03-29 09:38] jschlatow commented on #4461
@nfeske, you're right with suspecting the inode numbers. The issue though are not the inode numbers per-se but actually the device ids. Inode numbers must be unique within a single file system but not between different file systems. Only the pair of device id and inode number is unique across the system.

In this particular case, we have two ram file systems: one at /config, into which depot.tar i

[2022-03-29 09:43] cnuke commented on #4450
Commit [86a4584](https://github.com/cnuke/genode/commit/86a45846601f013fd76ff042c1835bb2a3bf75d9) makes the `cpu_relax` fix local to the framebuffer driver as the way it is currently implemented (include `linux/jiffies.h`) clash in case of the upcomfing WLAN driver.

[2022-03-29 10:22] nfeske commented on #4461
Thanks for the detailed analysis. That's an annoying problem because we actually don't have any notion of device ids at the file-system session level.

As interim solution, I'd go for tweaking `cp` to omit the device-id check and just always do the dumb copy. I don't know if the `--reflink` argument can be of help? In the worst case, we'd patch coreutils.

Down the road, I sense that we need to ha

[2022-03-29 10:33] nfeske commented on #4459
Maybe e3706837b9bb0a44a483a95c77d171d59a1edd26 interferes with rump fs in strange ways?

[2022-03-29 11:10] trimpim commented on #4459
I also tested with staging.
First copy did not not finish after 30 minutes or so. After "un-inspecting", "checking" and "re-inspecting" I could use the filesystem again. After this I could copy two files in succession. The time was about the same as @cproc has reported.

[2022-03-29 11:19] jschlatow commented on #4461
Looking at the code, there is no command line switch for that, thus I patched coreutils (see 680bc82).

[2022-03-29 11:42] cproc commented on #4459
According to git bisect, the slow-down is related to commit 2b8a94a (nova: support extended addresses in FADT). When I reverted to NOVA revision 5d107ddf9befe2473a80e6c4fa94b1eecae9b268 on staging, copying the 15GB file got faster again (4m4s -> 2m18s).

[2022-03-29 11:49] cproc commented on #4459
(I'm still on staging branch 0bc6443 without the latest changes of today)

[2022-03-29 12:25] alex-ab commented on #4450
Thanks for testing. I currently have no explanation why a mode of a connector does not appear. In lx_emul_i915_iterate_modes there are potential "identical" modes skipped, but I can't see atm why this should happen for you.

[2022-03-29 13:17] cnuke commented on #4455
The branch [pc_wlan-2022-03-29](https://github.com/cnuke/genode/commits/pc_wlan-2022-03-29) contains the Sculpt integration and was so far tested on `Fuji5b` and `test-x250`.

[2022-03-29 15:05] chelmuth commented on #4459
What a bummer... Could you please instrument NOVA in *src/acpi_fadt.cpp* with `Console::print` to log Acpi_gas values for the pm1a_sts etc. statics with and without the patch?

[2022-03-29 16:05] m-stein opened #4462 "NIC router: report link state on session construct/destruct"
The main issue here is that Uplink sessions communicate their link state through the session lifetime and the NIC router doesn't report on Uplink session construction/destruction when ``<report link_state_triggers="yes">`` is configured, although it clearly should.

However, this issue raises another question - shouldn't every network session construction/destruction at the NIC router report when

[2022-03-29 16:25] m-stein commented on #4462
Another detail that came to my eye while inspecting the code around this issue is that the reporting in the NIC router is currently done directly by the code that triggers a report. An implication of this is that a single "router pass" (e.g. the handling of a packet or a reconfiguration) might cause several report updates. A second implication is that we must take care manually that the report upd

[2022-03-29 16:44] cnuke opened #4463 "genode_c_api/usb: report iface class and protocol"

[2022-03-29 16:47] cnuke commented on #4463
Commit [277914e](https://github.com/cnuke/genode/commit/277914e0b76c9bfbfd335acda58d3ac548123a41) implements the currently absent feature from the Genode C API for USB where the device report contains interface class and protocol information also.
Since I did not want to change the API itself I call the various callback functions to gather the information from the report method directly.

[2022-03-29 17:49] cproc commented on #4459
@chelmuth:

- without patch:

[code]

- with patch:

[code]

[2022-03-30 08:04] chelmuth commented on #4459
Thanks for the log that supports my thesis of a storm of unwanted ACPI interrupts due to GPEs, which slows down the x260. Unfortunately, my NOVA patch did not apply the correct register block length for `gpe0_sts/ena` and, thus, prevented the enable-bit clearing on platform setup. Please try https://github.com/chelmuth/NOVA/commits/fadt_extended_addr NOVA branch.

[2022-03-30 08:26] jschlatow opened #4464 "vbox6: assertion fails if sculpt system is under high load"
This is an issue that is bugging me for a while as it keeps popping up at times. It is not perfectly reproducible but most times when I have my vbox6 Linux VM running and load the Sculpt system with another involving job such as starting falkon or fetching a lot of depot packages, vbox6 fails with an assertion. Here is an excerpt from my log:

[code]

I've assigned 3 cores to the VM but was also a

[2022-03-30 09:36] m-stein opened #4465 "NIC router: handle bad DNS opt in DHCP ACK gracefully"
If the NIC router tries to create an IP config from a received DHCP ACK, and the ACK contains a DNS server option set to an IP address that the router considers invalid, the router dies with an uncaught exception. AFAICT, the most desired way to fix this, would be to continue creating the IP config without the DNS server option. This would conform to the way we already deal, e.g., with oversized d

[2022-03-30 09:56] nfeske commented on #4464
It goes without saying that we should investigate the condition.

But it is also worth noting that assertions are disabled in regular (non-Genode) VirtualBox binary releases. To avoid hunting ghosts (false-positives like https://www.virtualbox.org/ticket/19939), I suggest to follow the upstream practice: disabling the assertions when creating the depot source archive. We actually did that for vbox

[2022-03-30 10:01] nfeske commented on #4461
Thanks @jschlatow. I merged your commit to staging.

[2022-03-30 10:25] cproc commented on #4459
@chelmuth: yes, that branch fixes the copy speed issue. I see about 2 to 3 'tmr_ovf' log messages in 5 seconds.

[2022-03-30 11:14] chelmuth commented on #4459
That's great. @alex-ab could you please merge the NOVA fixup? I'll update the base-nova commits on staging afterwards.

Any news about the original rump_fs issue? I looked into ` Warning: overlap: pending 2 + 2 (read), request: 3 + 1 (read)` and it seems to be just a diagnostic message, that reveals such behavior of clients. ahci_drv implements a retry pattern with the request-stream API to defer

[2022-03-30 11:20] cproc commented on #4459
I had the 15GB file being copied in a loop for over an hour without error on the x260 and am going to try other hardware now.

[2022-03-30 11:39] skalk commented on #4463
@chelmuth: I think this is a valid approach in the current state. I have no objections against @cnuke's solution.

[2022-03-30 11:55] alex-ab commented on #4459
Done, I moved the old branches to *_old and squashed your fixup, see r10_fadt and r10_iommu.

[2022-03-30 14:09] jschlatow commented on #4450
@alex-ab, I added some debug output to validate that the mode is not skiipped due to some strange reason. It's not listed though.

I tried a few other connectors and combinations. In my default setup, I have the external display connected via display port (more precisely thunderbolt). If I connect it to the HDMI connector of the t490s instead, I get a more interesting picture: The mode is present

[2022-03-30 15:08] jschlatow commented on #4455
@cnuke, on my t490s the driver cannot find the firmware. I believe the sculpt manager does not generate the corresponding rom route.

[code]

[2022-03-30 15:28] trimpim commented on #4459
@nfeske I used 4591d501b442a22ba5c114dca3cae159bf3758f4 for my tests today.

[2022-03-30 17:04] cproc commented on #4459
Ok, it could have something to do with the way the ```cp``` command is executed. In my previous tests I ran ```cp``` for a single file in a loop, but with @trimpim's  ```cp -fv test* backup/``` command, something gets stuck on the x260 as well. In this situation Genode ```top``` shows no activity and Ctrl-C does not work. Will investigate further.

[2022-03-31 07:14] alex-ab commented on #4450
Did you test it with the 4 commits on issue_4450 (not part of staging) or without ?

[2022-03-31 07:15] alex-ab commented on #4450
Yes, I could reproduce it also, but have no explanation.

[2022-03-31 07:16] jschlatow commented on #4450
I tested with staging.

[2022-03-31 07:16] alex-ab commented on #4450
The vbt commit on issue_4450 may help hopefully.

[2022-03-31 07:32] alex-ab commented on #4450
Nice, thanks for testing.

[2022-03-31 07:40] jschlatow commented on #4455
I added the route to the sculpt manager for further testing. Unfortunately, the driver fails at `dma_sync_single_for_device`:

[code]

[2022-03-31 07:59] cnuke commented on #4455
@jschlatow thanks for testing - I'll look into it.

[2022-03-31 12:00] cnuke commented on #4455
@jschlatow please give commit [c2cbc59](https://github.com/cnuke/genode/commit/c2cbc591da4d63727e40968d901df6d9f3b8a17f) a try.

[2022-03-31 12:53] cnuke commented on #4455
Commits [8392c36](https://github.com/cnuke/genode/commit/8392c36d269477df3a7e1c003ac2f95db74002d5) and [be97d5b](https://github.com/cnuke/genode/commit/be97d5b29c6481c1a03d3a60de469c3e4b0dfc3e) deal with `netperf`.

[2022-03-31 12:57] ssumpf opened #4466 "libdrm: Get rid of dangling allocations when destructed"
During exit of glmark2 dangling allocations can observed

`Warning: 3 dangling allocations at allocator destruction time`

[2022-03-31 13:06] jschlatow commented on #4455
@cnuke, with c2cbc59 the driver starts and associates with the AP. The nic_router assigns it to the default domain and not the uplink domain, though. This is because the generated nic_router config has a `<policy label="wifi_drv -> " ...` whereas the wifi drivers creates a session with label `wifi_drv -> wlan0`.
Nonetheless, if I manually fix the policy, I am able fetch packages and run a speedtes

[2022-03-31 13:40] ssumpf commented on #4466
* c61bfbd makes sure to remove all meta data blocks but the initial one. When `free_empty_blocks` is called for meta data, new unused regions may be produced. Therefore, we call `_revert_unused_ranges` and `free_empty_blocks` unitl no more unused regions are found
* 637baea makes sure the driver name strings can be freed with `free`
* f5ec7d4 removes all allocated objects when `Drm_call` is destru

[2022-03-31 13:55] chelmuth opened #4467 "coreutils may not build because misssing aclocal-1.15"
After a fresh prepared coreutils port `make -C build/x86_64 noux-pkg/coreutils-minimal` and `./tool/depot/create genodelabs/bin/x86_64/coreutils-minimal UPDATE_VERSIONS=1 FORCE=1` may fail like follows.

[code]

`make -d` revealed that timestamps in the port force the rebuild of aclocal macros.

[code]

This issue is related to #4350 and stems from #4262.

[2022-03-31 13:57] chelmuth commented on #4467
`touch /home/krishna/src/genode.git/contrib/coreutils-0c59a98223ebc29b87276ea0bfcfa8892798cf32/src/noux-pkg/coreutils/aclocal.m4` makes the pkg build again.

[2022-04-01 09:02] nfeske commented on #4467
I wonder, might there be a solution in the lines of 4f820cf1e5d46c4fa6d6cde32a4dd4d3c3b6af0c? I'm unfortunately not well-versed in the autoconf magic, but maybe there exists an equally simple way of discharging the automatism behind the invocation of the aclocal tool?

[2022-04-01 09:09] nfeske commented on #4467
The rule in coreutils's Makefile.in at line 6025 looks like a promising candidate:
[code]
Could you check if prefixing this line with `IGNORE-` has the desired effect? If so, we should extend the `_discharge_automake` command in tool/ports/mk/install.mk by covering this case.

[2022-04-01 09:35] cproc commented on #4459
Current findings are that the ep thread of the vfs server is executing a read request through rump and while doing that a different thread does a synchronous write and waits for the ep thread to handle the signal, which does not happen for some reason.

[code]

[2022-04-01 11:03] chelmuth commented on #4467
Thanks for the exact pointer. Commit 952ba29c8a0fed0bf2e2888b6a694efefed07f2a fixes the issue (tested with coreutils and tar).

[2022-04-01 11:08] cnuke opened #4468 "netperf_lxip_usb fails on base-seL4/x86_64"
The new PC USB host-controller driver running on seL4 in the `netperf_lxip_usb` scenario exhibits the following problem:

[code]

Some additional instrumentation points to the capability-space allocator:

[code]

Since there are more pressing issue at hand at the moment I will not look any further at the moment.

[2022-04-01 11:22] chelmuth commented on #4466
@nfeske what is your stance on 1440f572d26ae0638cd48eb8a88430049e421d54 + ac455649aaef357ee63343069522225e2c376f62 ?

[2022-04-01 11:28] nfeske commented on #4466
That looks good to me, even better with the added comment. Thanks @ssumpf and @chelmuth.

[2022-04-01 12:07] chelmuth commented on #4462
As I already voiced in our offline discussion I appreciate the harmonized link-state handling and also the controlled reporting after the NIC router reached a consistent state only.

[2022-04-01 12:30] skalk opened #4469 "dde_bsd: enable audio support for Intel HDA (Tigerlake)"
When running OpenBSD on such platforms, we cannot use the digital-microphones of this hardware, but at least we can play sound. Nonetheless, we have to update to the latest kernel version.

[2022-04-01 14:42] chelmuth commented on #4469
Merged to staging,

[2022-04-04 12:55] cnuke commented on #4455
@chelmuth please give [2eba830](https://github.com/cnuke/genode/commit/2eba83097b72c7644ec2283834fffd27f31f7a04) a try.

[2022-04-04 20:33] cproc commented on #4459
When the rump code executed by the ep thread cannot allocate enough memory, it wakes up the "page daemon" thread and waits for it to free some memory. But if the page daemon thread now does synchronous block io and waits for the ep thread to handle the signal, a deadlock occurs. Not sure yet how to fix this.

[code]

[2022-04-05 06:16] chelmuth commented on #4459
That's bad because uvm_wait uses condvar a.k.a the ancient Timed_semaphore, which is not aware of the required blocking scheme like `Io_signal_blockade` does. Do you see any chance to apply the `Io_signal_blockade` scheme to the timed semaphore as well?

[2022-04-05 07:23] chelmuth commented on #4455
Does *quick-fix* mean you like to propose a cleaner solution for later implementation?

[2022-04-05 07:51] cnuke commented on #4455
@chelmuth not necessarily - it just means I took the first opportunity to fix the problem but did not spend time to explore other ways.

[2022-04-05 12:35] m-stein opened #4470 "nic_router: merge packet stream signal handlers"
While testing network in a VM guest on a staging-built Sculpt we ran into a state where the NIC router constantly failed to allocate new packets while trying to respond to packets received at the VM NIC session at the 'default' domain. At the same time, however, there were packets at the affected packet stream sent by the router and already acknowledged by the VM but not released. This brought our

[2022-04-05 12:43] m-stein commented on #4470
Fixed:
a23fb604e4 nic_router: merge packet stream signal handlers

[2022-04-05 17:49] ssumpf commented on #4451
@chelmuth, @nfeske: I made a terrible mistake by using `used_caps` and `used_ram` as a basis for the available resources of the GPU multiplexer. These functions do not reflect the actual resources given to the platform driver, which in turn falsifies the whole calculation. This error is fixed by 1cf3bea. Additionally, I observed an endless quota upgrade loop by the legacy platform driver, caused b

[2022-04-06 07:03] chelmuth opened #4471 "vfs/block: correct transfer size allocation"
The calculations of `packet_size` and `packet_count` in the `block_io()` did not consider rounding errors. This resulted in diverging values over several bisecting operations (`/= 2`) and wrongly-size packet allocations as well as memcpy operations.

Related to #2263 (comments about partial block accesses and `_block_io()`).

[2022-04-06 09:58] alex-ab commented on #4450
Please consider the topmost 3 commits on issue_4450 for staging. The commit also resolves the issue with the missing  modes of connectors attached during runtime.

[2022-04-06 10:10] chelmuth commented on #4451
Thanks, I merged both commits to staging.

[2022-04-06 11:15] jschlatow commented on #4455
@cnuke, on my t490s the wifi_drv loses AP authentication after some time (occured twice within ~1h) and does not reauthenticate. Interestingly, the Leitzentrale still shows the wifi as "associated".

[code]

[2022-04-06 11:44] chelmuth commented on #4450
I merged 0b5ea2c60351c44baf60ac640a6f799993d18042 and 756e2e74c6fc7379e1ddd1332bd1db23085c0f58 but [this change](https://github.com/alex-ab/genode/commit/35ccdc5a9192ed27aed913752e6ac31855defcb3#diff-c41e6110bd3651ccb9db9098ec4a78c7a376789bf160e1ddfd9f7eb14f9336a6L60-R60) puzzled me and I did not find any declaration of this "interface" in the further changes below. I'd appreciate if this feature

[2022-04-07 08:42] cnuke commented on #4455
@chelmuth please merge [6f5c31f](https://github.com/cnuke/genode/commit/6f5c31f4804e945e3f267b91253af34047942827).

[2022-04-07 11:08] cproc commented on #4459
I'm currently testing commits ea9f0aa and a3017a5. The copy test still gets stuck sometimes, but it might be a different reason related to child destruction.

[2022-04-07 12:50] nfeske opened #4472 "vfs server: dangling allocations of watch handles"
When using the Sculpt file browser to browse directories with many files, the log displays a "dangling allocations" message once the file browser is closed. After investigation together with @chelmuth, we found that the dangling allocations happen to be vfs watch handles (the fs_query component as spawned by the file browser uses the watch mechanism) referring to the same paths. Apparently, they a

[2022-04-07 13:08] cproc commented on #4459
There appears to be a problem with nested calls into rump code via ```wait_and_dispatch_one_io_signal()``` now. In the following log output rump ran out of memory during a read operation. The ep thread woke up the pdaemon thread to free some memory and then blocked on a condition variable, now with `wait_and_dispatch_one_io_signal()`, which executed the `Rump_factory::_sync()` signal handler of th

[2022-04-07 13:33] nfeske commented on #4459
I sense the root cause of the problem is the fact that `rump_sys_sync` is called (at https://github.com/genodelabs/genode/blob/master/repos/dde_rump/src/lib/vfs/rump/vfs_rump.cc#L51) from the context of an I/O signal handler (at https://github.com/genodelabs/genode/blob/master/repos/dde_rump/src/lib/vfs/rump/vfs_rump.cc#L850). Because of this hack, we end up in the complicated nesting situation.

[2022-04-07 15:08] skalk commented on #4450
@chelmuth: sorry, I've missed your question. Well, I understand that turning the compilation unit's private `dde_clock_event_device` into a global variable is not welcome.
On the other hand, I cannot overview the effects of this new, rather complex `lx_emul_force_jiffies_update` routine. Actually, I thought that using the same simple procedure that we already used in the `schedule` function would

[2022-04-07 15:32] m-stein commented on #4419
Here's for USB:
fed4546526 quickfix "black_hole: provide Usb service"

[2022-04-07 16:21] cnuke commented on #4455
@jschlatow long story short, it is currently not possible in the wifi management layer to differentiate between auth-failures due to a forced de-authentication (basically a re-authentication request) by the AP and a failed authentication due to a wrong PSK. With the debug commit one is able to react upon the re-authentication request. In case of a manual managed wifi config a rewrite of the file w

[2022-04-08 06:08] chelmuth commented on #4450
If this is feasible, I'd feel much more comfortable with the additional function moved into the official clocksource file. Even if this is an interim solution, we will definitely stumble over it when changing the timing implementation and can consider its requirements.

[2022-04-08 06:33] chelmuth commented on #4419
I merged 4f70e5d1b50012432a149eed5746a2405b4e885b to staging.

@m-stein are you aware of recurring nightly fails of test-black_hole? Any chance to get them addressed soon?

[code]

[2022-04-08 06:39] chelmuth commented on #4455
@cnuke Do we have any chance to trigger such reauth requests regularly in our testing environment? How does Linux WPA Supplicant play with these?

[2022-04-08 07:24] alex-ab commented on #4450
I implemented it with 041e58e7143cdd54c9d48b6854995c9c21f9db91. The disadvantage of this version is that on lx_emul_time_handle the jiffies is increased ever, even if no time passed. The handler in kernel/time/timer.c expects to be invoked in a periodic way (called tick_handle_periodic() in kernel/time/tick-common.c). It is more inaccurate. Additional this version reprograms the timeout in clockev

[2022-04-08 09:52] skalk commented on #4450
As already stated I do not balk to move it into clockevents.c, and I was sure that @alex-ab had good reasons for his changes. @alex-ab do you proceed with moving the code?

[2022-04-08 09:56] alex-ab commented on #4450
I tested 041e58e7143cdd54c9d48b6854995c9c21f9db91 now on the x250 again, and the wrong timeouts fire again.

[2022-04-08 09:57] alex-ab commented on #4450
Ok, I will do.

[2022-04-08 10:24] alex-ab commented on #4450
a636e78749f61e75b6999876697a5f4a4c04a9c3 contains the move into the clocksource.c

[2022-04-08 10:34] m-stein commented on #4419
Yes, I'm at it.

[2022-04-08 12:21] m-stein commented on #4419
@chelmuth Sorry for the delay:
25eb4bc183 test/black_hole: fix "packet alloc failed"
c38d5e9c91 black_hole: serve real USB sessions

[2022-04-11 05:18] cproc commented on #4459
Moving the periodic sync into a rump kernel thread appears to work. I had the copy test running for several hours over the weekend with the 4 commits on my issue4459 branch [1] without problems so far. @trimpim: feel free to give it a try.

[1] https://github.com/cproc/genode/tree/issue4459

[2022-04-11 12:05] chelmuth commented on #4459
I merged your patches to staging. Unfortunately, I see reproducible errors when just editing a file on ahci.fs in Sculpt.

[code]

Have you seen this before?

[2022-04-11 12:25] cproc commented on #4459
I haven't seen this error before and could not reprouce it with a short vim session in the Inspect console. Can you give more details what you are doing?

[2022-04-11 13:41] chelmuth commented on #4459
I traced the pagefault until `rumpkern_sched()` in `rumpuser_clock_sleep()`.

@cproc could you please explain how the `Fifo::Element` in `Timed_sempahore` is dequeued on timeout in `_down_internal()`? Is this missing?

[2022-04-11 13:56] cproc commented on #4459
@chelmuth: yes, that seems to be missing. I'll have a look.

[2022-04-11 14:10] chelmuth commented on #4459
With the following patch the issue did not happen since 10 min.

[code]

[2022-04-11 14:13] chelmuth commented on #4459
BTW, could we replace the exception by an explicit return value for the cases?

[2022-04-11 16:54] alex-ab commented on #4459
I skimmed the implementation, and have some questions (Sorry if I'm wrong). Since we have here several threads involved, shouldn't setting and checking the timed_out state be protected by the _meta_lock ? In case the timeout did not fire, I believe the timeout must be discard(), otherwise it may still trigger (on an object on the stack which is gone already)?

[2022-04-12 03:35] cproc commented on #4459
@alex-ab: thanks for reviewing. I made some changes with regard to your and @chelmuth's comments in commits 6499e95 and 733a75f.

[2022-04-12 05:35] trimpim commented on #4459
@cnuke I tested 733a75f on my Lenovo T460p. After about 12 files there were the two message below in the log, after which the copy seemed to be stuck again:
[code]

I'm not sure if the two are related, or even how far apart they were printed in the log.

[2022-04-12 05:52] chelmuth commented on #4459
Commit [6499e95](https://github.com/cproc/genode/commit/6499e951e912bf15654404cb17d5ee2b1ea5a6e7) introduces a new issue: In https://github.com/cproc/genode/blob/6499e951e912bf15654404cb17d5ee2b1ea5a6e7/repos/dde_rump/src/include/rump/timed_semaphore.h#L139-L144 the mutexes are acquired in reverse order (destruct - meta) as in the context of https://github.com/cproc/genode/blob/6499e951e912bf15654

[2022-04-12 08:45] ssumpf opened #4473 "vbox6: display error message on initialization failure"
Currently, in case `initFromSettings` fails it will only display "failed to init machine from settings" with no clue what happened. This can be a syntax error or a  bad configuration within the `machine.vbox6` file or the file could no exist. Therefore, we need to find a way to display additional error information in order to make fixing the cause easier for the integrator.  This already worked fo

[2022-04-12 09:10] ssumpf commented on #4473
d9d58a5 will display configuration errors in the form:
`Error: failed to init machine from settings`
`Opening and ending tag mismatch: Hardware line 18 and StorageControllers.`
`Location: '/virtualbox6.vbox', line 71 (18), column 28.`
Making it easy to locate the cause of the problem.

[2022-04-12 09:11] ssumpf commented on #4473
@chelmuth: After a longer investigation I was able to compress this effort into a few lines of code without changing contrib code.

[2022-04-12 09:11] alex-ab commented on #4450
@chelmuth, @nfeske: please add bc0300d961305a12a0d62a3dbaa000ca42eb908f to staging, it fixes the driver for t430s

[2022-04-12 10:00] cproc commented on #4459
Commit ac47845 makes the ep thread pointer a constructor argument of the Timed_semaphore and initializes it in the rump env instead.

[2022-04-12 10:25] cproc commented on #4459
Commit 9cba5da fixes the arm_v8a build.

[2022-04-12 12:34] nfeske commented on #4459
I think it is good. But I think you can simplify this code:
[code]

by replacing it with a plain return statement because the type is same, isn't it?
[code]

[2022-04-12 12:52] trimpim commented on #4459
@cproc I am currently running ac4784540c. So far 25 file copies were successful, and it is still running.

[2022-04-12 13:02] nfeske opened #4474 "Block::Connection: simplify split read/write operations"
In the current version of the Block::Connection::Job API, split read/write operations are rather difficult to accommodate because the two hook functions `produce_write_content` and `consume_read_result` obtain the window position as a seek_off_t in bytes, starting from the beginning of the block device. In practice, this parameter is mostly ignored. We had been lucky because our default I/O buffer

[2022-04-12 13:21] cproc commented on #4459
Right. In a previous version one of the lambdas did more than just return, but not anymore. Fixed by d79dae1.

[2022-04-12 13:34] cproc commented on #4459
Now that the destruct mutex only covers `blockade.wakeup()` and since `blockade` is only a reference member in `Element`, the mutex might fit better in the `Timed_semaphore_*_blockade` classes (if it is needed at all).

[2022-04-13 06:19] trimpim commented on #4459
@cproc do you think it is possible to back port this commits to 22.02 without too much trouble?

https://github.com/genodelabs/genode/commit/ac4784540c54ea35fd067d6907ee3bdafe31a24e has now run for about 20 hours without problem.

[2022-04-13 07:09] chelmuth commented on #4459
Commit ac4784540c54ea35fd067d6907ee3bdafe31a24e differs from our current staging like follows, which includes a fix for potential deadlocks. Also, as all dde_rump related fixup commits will be stashed you should consider to update your sources.

[code]

[2022-04-13 07:17] trimpim commented on #4459
@chelmuth sorry I was probably not clear enough.

My intend is to use all the commits related to this issue (88c1869 .. 42cfc82)  to our current branch, until we are ready to move to `22.05` after it is released.

[2022-04-13 10:31] jschlatow opened #4475 "sculpt: deploy/example breaks clipboard"
The deploy/example file in the modular sculpt applies label rewriting for the clipboard ROM and Report service of the wm component. Apparently, this breaks the clipboard functionality.

[2022-04-13 12:18] #4436 closed

[2022-04-13 12:18] #4438 closed

[2022-04-13 12:18] #4440 closed

[2022-04-13 12:18] #4439 closed

[2022-04-13 12:18] #4442 closed

[2022-04-13 12:18] #4435 closed

[2022-04-13 12:18] #4443 closed

[2022-04-13 12:18] #4444 closed

[2022-04-13 12:18] #4446 closed

[2022-04-13 12:18] #4447 closed

[2022-04-13 12:18] #4449 closed

[2022-04-13 12:18] #4450 closed

[2022-04-13 12:18] #4463 closed

[2022-04-13 12:18] #4466 closed

[2022-04-13 12:18] #4467 closed

[2022-04-13 12:18] #4453 closed

[2022-04-13 12:18] #4455 closed

[2022-04-13 12:18] #4458 closed

[2022-04-13 12:18] #4460 closed

[2022-04-13 12:18] #4470 closed

[2022-04-13 12:18] #4471 closed

[2022-04-13 12:18] #4472 closed

[2022-04-13 12:18] #4473 closed

[2022-04-13 12:21] nfeske commented on #4456
Arrived in the master branch.

[2022-04-13 12:21] #4456 closed

[2022-04-13 12:22] nfeske commented on #4454
Fixed in master.

[2022-04-13 12:22] #4454 closed

[2022-04-13 12:22] nfeske commented on #4448
Fixed in master.

[2022-04-13 12:22] #4448 closed

[2022-04-13 12:23] nfeske commented on #4445
Fixed in master.

[2022-04-13 12:23] #4445 closed

[2022-04-13 12:23] nfeske commented on #4434
Fixed in master.

[2022-04-13 12:23] #4434 closed

[2022-04-13 12:24] nfeske commented on #4419
Thanks @m-stein. The commit series entered the master branch.

[2022-04-13 12:24] #4419 closed

[2022-04-13 12:26] nfeske commented on #4459
The fixes entered the master branch.

[2022-04-13 12:28] nfeske commented on #4210
This issue is outdated because the intel framebuffer driver has been replaced by a completely new component by now.

[2022-04-13 12:28] #4210 closed

[2022-04-13 12:29] nfeske commented on #4066
Fixed by 34a3209e9bff91bf8c624cb7ad6cd694d93230fc in master.

[2022-04-13 12:29] #4066 closed

[2022-04-13 12:46] m-stein opened #4476 "machine.vbox6: add audio enabledIn/Out options"

[2022-04-13 14:06] nfeske commented on #4461
Fixed in master.

[2022-04-13 14:06] #4461 closed

[2022-04-13 14:07] nfeske commented on #4451
Fixed in master.

[2022-04-13 15:00] nfeske commented on #3656
This problem does not occur any longer with the current version of Genode. The nightly test runs stable on all kernels on x64_64.

[2022-04-13 15:07] nfeske commented on #4304
With the old block/test components removed (#4405) and looking at the issue activity, I don't see anyone attending this issue.

@m-stein to rule out the problem being in the CBE (as opposed to the test program), you may consider giving the referenced branch a try. But if you don't plan to follow up on it, I'd appreciate you closing this issue.

[2022-04-13 15:14] nfeske commented on #4174
BTW, this also happens when dragging an image.

I think Qt implements the drag operation by showing the dragged item as a special top-level window that is ought to follow the mouse position. However, using the window manager, the position of top-level windows cannot be controlled by applications.

To address this issue in way natural to Genode, we'd need to change the Qt implementation by propagat

[2022-04-14 05:47] trimpim commented on #4426
@alex-ab unfortunately on my particular hardware doesn't help.

I have tried to boot the following:
 - `image/uefi` via ipxe  ( to enable this I modified `run/load/ipxe` slightly )
 - `image/disk` from USB stick

[2022-04-15 09:37] m-stein commented on #4304
I currently don't have the time to investigate this problem if it ain't critical for our tests / day-to-dy work anyway. However, I'll keep the possible issue in mind for when I continue working at the CBE.

[2022-04-15 09:37] #4304 closed

[2022-04-19 08:58] cnuke commented on #4455
@chelmuth please see answers below:

Yes, we could use the `ubus` interface via ssh on an OpenWrt AP to force de-/reauthentication.

I did not check how it fares but I guess it will cope with the situation. AFAICT the problems mainly arise from how we interact with the supplicant. My commit [accab77](https://github.com/cnuke/genode/commit/accab77ccca68ea811add6623fee84148edb9ec5) addresses this by

[2022-04-19 15:10] cnuke opened #4477 "pc_usb_host_drv does not work on Thinkpad X201"
Using the new `pc_usb_host_drv` on the Thinkpad X201 renders USB unusable. The machine contains two EHCI host-controllers where the first one is connected to the USB-A ports on the left hand side and the second one to the USB-A port on the right hand side (docking stations where not checked).

Trying to drive both host-controllers leads to the following:

[code]

Driving only the first one allows

[2022-04-20 13:24] cnuke commented on #4477
Commit [75840a1](https://github.com/cnuke/genode/commit/75840a1546fa46814767956928cbfd3b526e3372) addresses the problem where both EHCI host-controller use the same I/O memory page but the registers of the second one are at offsett 0x400.

I opted for adding the offset in `Device::io_mem_local_addr` rather than adapting all `lx_emul_io_mem_map` callees.

[2022-04-20 14:25] ssumpf opened #4478 "libc: update download url"
FreeBSD 12 has been moved to archive:
http://ftp-archive.freebsd.org/pub/FreeBSD-Archive/old-releases/amd64/12.0-RELEASE/

[2022-04-20 16:18] m-stein commented on #4477
I added [75840a1](https://github.com/cnuke/genode/commit/75840a1546fa46814767956928cbfd3b526e3372) to my Sculpt 22.04 RC but then USB mouse/keyboard doesn't work anymore (tested with my wired logitech mouse and my wireless cherry mouse/keyboard combo; also dynamically changed slots). Here is the log with the wireless combo (USB dongle is a hub):
[code]

[2022-04-20 16:19] m-stein commented on #4477
Here's a log with my wired mouse:
[code]

[2022-04-21 07:37] cnuke commented on #4477
You right, the second time I mismatched `bar()` vs. `base()` - apparently it is not an issue on the X250 that I tested besides the X201.
Sorry for the inconvience @m-stein, commit [650475f](https://github.com/cnuke/genode/commit/650475fac59572bcad2aae44aad0ae3fa6dd93ad) contains the fix up.

[2022-04-21 08:31] alex-ab opened #4479 "acpica/nova: remove specical GPE event handling"
The NOVA kernel and the acpica library are sharing the ACPI (SCI) interrupt, which required some synchronization. As it turned out, the information in the kernel is actually not used, so that the handling of the ACPI irq can be removed completely from the kernel, so that ACPICA can handle the interrupt exclusively. With this change the special contrib patches on ACPICA  can be removed.

[2022-04-22 09:49] arturkow2000 opened #4480 "Using Genode + seL4 as a secure bootloader"
Hello

We are interested in using seL4 + Genode as a secure OS bootloader. We have
already asked seL4 community [here](https://github.com/seL4/seL4/issues/832),
but we are interested in Genode due to its drivers. From what we have seen
Genode already provides USB host and EEM driver. How about TPM driver?

I remember that seL4 support used to be incomplete and Genode had problems with
running many

[2022-04-23 20:24] alex-ab opened #4481 "nova: support thread execution time in Trace Subject_info"
Up to now solely the SC execution time is available, but not the execution time of the threads.

Depends on #4479 (due to ordering of nova.port history)

[2022-04-23 20:32] alex-ab opened #4482 "sculpt: hangs with 22.04 on AMD - Sculpt 21.10 was working fine"

[2022-04-24 17:26] alex-ab commented on #4391
Unfortunately, on older AMD machines the VM is not working anymore, f00ffe1e6e687f02a8c421e771ceaa3a5d8d0b89 fixes that. I added it to my merge_to_staging branch

[2022-04-25 09:12] skalk opened #4483 "usb_host_drv: cleanup all URBs when session gets closed"
Currently, the newer DDE Linux USB host controller drivers do not completely remove all URBs in flight, whenever a session gets closed which formerly used an USB device actively.

[2022-04-25 11:08] cproc opened #4484 "libc: memory leak on 'execve'"
Debug commit 2a2c5f0 increases the number of execve iterations of the execve test to 10000 and reduces the RAM quota to 2M. After a few hundred iterations a resource request occurs. So far it looks like the dynamic linker creates new ```Dependency``` objects on each iteration that don't get freed.

[code]

[2022-04-25 12:47] nfeske commented on #4480
Thank you for your interest in Genode!

For inquiries like this, please consider consulting the mailing list (https://genode.org/community/mailing-lists) in the future. The issue tracker primarily focused on technical work topics.

Even though we continue maintaining Genode's existing seL4 support for x86_32, x86_64, and arm_v7a, we have not scheduled any further sel4-related topics on our road ma

[2022-04-25 14:48] cnuke commented on #4477
@chelmuth please merge commit [dcbfc21](https://github.com/cnuke/genode/commit/dcbfc21e39a10c6210fe6913407ed2c2e117c0f6) and thanks to @skalk for the explanation.

[2022-04-26 06:47] chelmuth commented on #3961
I was wondering what's missing to close this issue and found the following drivers require the removal of the server mode.

- [ ] usb_net
- [ ] nic/virtio
- [ ] lan9118

Thereafter os/xsd/nic_driver_types.xsd and os/src/drivers/nic/include/drivers/nic/mode.h could be cleaned up. Then the issue could also be closed.

[2022-04-26 11:00] nfeske commented on #4477
Commit https://github.com/genodelabs/genode/commit/12e717da2d6bb14e1598501b09e56bd46515796c restores the support for requesting I/O at a window beyond the start of the MMIO ranges. This fixes the boot of Sculpt on the x260.

[2022-04-26 11:39] skalk commented on #3961
@chelmuth I've adapted the missing drivers and removed the nic/mode.h utility as well. As I've seen the only components that still use nic/root.h and nic/component.h are blackhole and nic_loopback. The latter component is not of much help anymore in my eyes. @nfeske do you think we could remove it? If you would like to preserve the nic session server role within the blackhole component, we could m

[2022-04-26 12:01] nfeske commented on #3961
The primary role of this component was to server as a blue print for implementing NIC servers, in particular the orderly interaction with the packet stream. I think we should preserve a minimal-complexity blue print for implementing NIC servers. Secretly, I dream of a revisit of the NIC session API - in the spirit of the `Block::Connection::Job` (client-side) and `Block::Request_stream` (server-si

[2022-04-26 12:05] nfeske commented on #4477
Works now on the x201, too.

[2022-04-26 12:59] ssumpf opened #4485 "sculpt decorators: adjust RAM/CAPs for WQHD displays"
2560x1440 displays require more resources within decorators.

[2022-04-26 13:07] cnuke opened #4486 "gpt_write: alloc packet with proper alignment"

[2022-04-26 14:56] nfeske commented on #4486
Thanks @cnuke, merged to staging.

Do you think that the GPT-write utility could benefit from the use of the `Block::Connection::Job` API? It is one of the very last block components that still fiddle with the packet stream manually. As far as I can see, the use of the `Job` API would have prevented this particular problem.

[2022-04-26 20:18] Fhiss opened #4487 "AR8131 Gigabit Ethernet support"
Could you add Qualcomm Atheros AR8131 Gigabit Ethernet support?

[2022-04-27 08:01] cnuke opened #4488 "pc_wifi_drv: handle reauth silently"
Depending on the configuration of the AP a station (client) may be forced to reauthenticate. In case this is accompanied by a connection event the driver management layer will disconnect (that in turn leads to interaction with the `wpa_supplicant`). AFAICT we cannot distinguish between such a request is issued because the credentials actually changed and we have to use another PSK or we must use t

[2022-04-27 08:06] cnuke commented on #4488
Commit [9dc3fe9](https://github.com/cnuke/genode/commit/9dc3fe9382150af12c44e883950eb4b7c41282d2) addresses the issue while commit [a84cb0e](https://github.com/cnuke/genode/commit/a84cb0e16bbb2af62381034030b613d926895e07) is needed for newer devices (and only piggy-backs).

[2022-04-27 09:35] cnuke opened #4489 "pc_intel_fb_drv: fix Shuttle DS57U"
When using the framebuffer driver on the Shuttle DS57U (Intel Celeron 3205U) a currently not implemented dummy triggers:

[code]

[2022-04-27 09:36] cnuke commented on #4489
Commit [8a85a1a](https://github.com/cnuke/genode/commit/8a85a1a9655f95f0d563857dc493c802b8e4ec49) fixes the problem.

[2022-04-27 10:14] arturkow2000 commented on #4480
Thank you for quick response. So far it does answer my questions. If I have any more questions I will reach you again.

[2022-04-27 10:14] #4480 closed

[2022-04-27 11:46] skalk opened #4490 "Remove block devices from filesystem only tests"
Currently, certain run-scripts that actually shall test filesystems and/or their integration into the VFS use a variety of block devices (ahci, sd-card, vfs_block) although they run on Linux and Qemu only. Those run-scripts repeatedly stay in the way when changing device driver and platform driver interaction. Moreover, it constrains on which platforms the run-scripts can be tested (typically pbxa

[2022-04-27 12:22] nfeske commented on #4490
As this matches my experience, I'd welcome this change very much.

[2022-04-27 13:46] nfeske commented on #4487
Genode's network drivers are based on the drivers of the iPXE boot loader (https://ipxe.org/). Even though the iPXE code contains various references to Atheros AR9* devices, your device is apparently not covered. Hence, I see no straight-forward way to support the device with the current version Genode.

If you chose to invest your time into further exploration/experimentation/porting, you may con

[2022-04-27 13:55] skalk opened #4491 "platform_drv: consume devices information from separate ROM"
Instead of providing the devices information in form of the configuration, like it is the current case, use a dedicated devices ROM. Thereby, the policy information within the platform driver's configuration can be under different control than the instance(s) , which deliver the platform's devices information.
When doing this change, it would be good to collect the statically known devices informa

[2022-04-27 15:09] alex-ab opened #4492 "qemu-usb: support policy labels without specifying vendor/product information"
The qemu-usb lib expects product/vendor and bus/dev in the usb_devices configuration as criteria to differentiate various USB devices. If not specified, all USB devices get the same default bus/dev and product/vendor ids. On unplug of one USB device, all others will be removed also.

On Sculpt the use-case arose to use virtual labels, e.g. not "usbstick" instead of "USB1-2", without specifying the

[2022-04-27 15:27] alex-ab commented on #4492
With commit 80be2fc just using virtual labels in usb_device configuration now works, tested on vbox6 and vbox5 on Sculpt 22.04.

[2022-04-28 09:55] #4475 closed

[2022-04-28 09:55] #4476 closed

[2022-04-28 09:55] #4477 closed

[2022-04-28 09:55] #4478 closed

[2022-04-28 09:55] #4482 closed

[2022-04-28 09:55] #4483 closed

[2022-04-28 09:55] #4485 closed

[2022-04-28 09:55] #4486 closed

[2022-04-28 09:55] #4489 closed

[2022-04-28 10:37] nfeske commented on #4474
Fixed in master.

[2022-04-28 10:37] #4474 closed

[2022-04-28 13:30] #4469 closed

[2022-04-28 13:44] cnuke opened #4493 "ports: use expanding reporter in verify app"
Currently the *verify* app uses a `Genode::Reporter` with a fixed buffer size of `4096` bytes. Deploying an overly large pkg in Sculpt leads therefore to an `Xml_generator::Buffer_exceeded` exception. Rather than increasing the static buffer size I introduced the `Expanding_reporter`. That solves the problem but might lead to unwanted resources requests in case the *verify* app is not managed dyna

[2022-04-28 13:45] cnuke commented on #4493
Commit [0f1bb29](https://github.com/cnuke/genode/commit/0f1bb29edeb0b279dde433abab845e9ba365ada3) addresses the issue.

[2022-04-28 14:24] cnuke opened #4494 "usb_block_drv: allow for using UAS devices via BOT"
I own two USB disks that currently do not work with the driver because those implement the USB Attached SCSI specification. AFAICT conforming devices should expose an bulk-only transport interface as fall-back. This is true for those devices at least. The following commit changes the driver to query the interface descriptors and select the first BOT one if found. This makes the devices usable in S

[2022-04-28 14:27] cnuke commented on #4494
Commit [e413c69](https://github.com/cnuke/genode/commit/e413c69463bc528e6246c5a8b7b44401f604befa) implements the feature.

[2022-04-29 09:12] nfeske commented on #4487
The NIC driver is not covered by this line of work though. There is currently no development activity in this area.

That is very cool to read! Thanks for your willingness to invest your own time.

I don't want to raise false expectations regarding the amount of mentoring we are able to provide.

Do you already have a development setup where you can boot Genode on your test hardware separate from

[2022-04-29 10:02] Fhiss commented on #4487
I have a desktop on which I want to install Genode and use it as the only operating system. Now I use Linux on it to perform everyday tasks, but your operating system is very interesting. I did it, but I can't download any packages, and the basic configuration of Sculpt OS doesn't even seem to include a text editor.

By the way, I created the following query: https://github.com/ipxe/ipxe/issues/63

[2022-04-30 16:57] NiKiZe commented on #4487
Please do not tell people to port Linux kernel drivers to iPXE, that is a bad way to get drivers into iPXE (or rather a certain way to not get them into iPXE)

[2022-05-02 09:03] nfeske commented on #4487
I'm afraid this is a misunderstanding. In my initial comment (https://github.com/genodelabs/genode/issues/4487#issuecomment-1111024524) I did not mean to suggest any change to iPXE. Noticing that the device is not supported by iPXE, I contemplated the idea of porting the Linux driver to Genode - as an alternative to our existing iPXE-based driver component. There exists a growing set of Genode dev

[2022-05-03 12:47] skalk opened #4495 "pci_decode: prepare PCI device information for platform_drv"
To support PCI devices within the current, architecture-independent platform driver, it would be good to separate the PCI bus scan, ACPI information and platform information detection from the platform driver logic.

Some more details: For instance on several ARM platforms we might have a PCI-x controller, which needs to be initialized dependent on the platform driver's resources, we do not have A

[2022-05-03 13:01] skalk opened #4496 "platform API: wait for availability of device in acquisition"
In the platform connection utilities to acquire a device resp. open a Platform::Device currently a driver will receive an invalid capability, if a valid policy exists, but the given device(s) do not yet exist. This might be the case, when the platform driver already provices static, non-PCI devices, but PCI bus scan not yet finished, or in some mid-term future when any kind of hotplugging is neede

[2022-05-03 13:41] skalk opened #4497 "platform_drv: consider IRQ type, mode and polarity"
For full functional use, the platform driver needs to check for interrupts being legacy, MSI, or MSI-x. Moreover, the trigger mode or polarity might need to be changed. This feature of the legacy platform driver is missing in the generic version.

[2022-05-04 06:58] m-stein opened #4498 "allocator_avl: fix dangling-allocations warning"
Since I have worked on #2953, I carry around commit ``allocator_avl: fix dangling-allocations warning`` with my merge_to_staging branch. The original issue description reads:

I have run some scenarios and the commit doesn't seem to break stuff. However, I recall that it didn't fix all warnings and anyway, there is no test, so far, that proves its necessity / efficiency. I'd love to get rid of the

[2022-05-04 07:19] chelmuth commented on #4498
Did you check that da1ef670642376a12441bd8997b34bb028da7cee @ssumpf developed during his work on #4466 does not already solve the original issue?

[2022-05-04 09:30] m-stein commented on #4498
@chelmuth That looks great - so I can finally remove my commit :) Thanks for pointing me to the other commit!

[2022-05-04 09:30] #4498 closed

[2022-05-06 08:51] nfeske commented on #4492
As a quick feedback, thanks to this change, VBox behaves very well now in my usage scenario (usb serial + usb fastboot). Thanks for making my life easier! :-)

[2022-05-06 12:39] jschlatow opened #4499 "lx_emul: basic support for Cortex-A9"
When porting the sd_card_drv for the Zynq SoC, I made a few architecture-specific modifcations and additions to lx_emul.

[2022-05-06 16:01] cnuke opened #4500 "pc: consolidate LX emul for current drivers"
The following commits consolidate the currently existing drivers in the *pc* repository by moving the deplicated code from the various dummy implementations and to some degree each *lx_emul.c* into the `pc_lx_emul` library. Changes that would change or rather suplement the *dde_linux* repository are for now also located in this library (the changes should be merged in a following step). While ther

[2022-05-09 06:55] skalk commented on #4499
@jschlatow yes it is, thank you.
On Fri, May 06, 2022 at 05:46:14AM -0700, Johannes Schlatow wrote:

--
Stefan Kalkowski
Genode labs

https://github.com/skalk | https://genode.org

[2022-05-09 09:35] nfeske commented on #4500
From my perspective, the change looks excellent. The line statistics of commit https://github.com/cnuke/genode/commit/c3968a24f4ec004e808156508351d997ecb31fac speaks for itself.

I especially appreciate your choice of a very fine granularity of the building blocks in lx_emul/shadow/, and the attention to detail wrt. file headers and coding style. Thank you!

The only question I see to discuss is w

[2022-05-09 12:13] chelmuth opened #4501 "legacy_platform_drv: configurable PCI BAR remapping"
If PCI devices happen to miss complete configuration after boot, the platform driver supports `<pci-fixup>` nodes for concrete devices (specified by bus-device-functions tuples). The <bar> node instructs the platform driver to remap BAR id 0 to address 0x4017002000, which amends the BIOS configuration and is stringently required for BARs with address 0.

[code]

The issue was discovered with Intel

[2022-05-09 14:26] skalk opened #4502 "platform_drv: add PCI support"
Add PCI device support to the generic platform driver.

[2022-05-11 09:55] skalk commented on #4500
@cnuke thank you for this complex reworking! I like the changes very much. Apart of the 3 comments I did inline for the last commit I do not have any objections against merging it to staging.

[2022-05-11 10:41] chelmuth commented on #4501
@alex-ab do you approve f2cf4261f5360ad0d44a6f9306f6c6da6fe1a55d?

[2022-05-11 11:09] skalk commented on #4500
@cnuke ok, I understand the reasoning behind not duplicating the pathes in between repos/pc and repos/dde_linux, and I agree it is better to join the 3 related files into the existing ones in repos/dde_linux as soon as the consolidation with the existing ARM drivers takes place. @nfeske @chelmuth: so I'm fine with the commits entering staging.

[2022-05-11 12:05] skalk opened #4503 "platform_drv: consolidate duplication of different derivates"
There are plenty of SoC-specific derivates of the platform_drv for i.MX8, i.MX53,  Rpi, Zynq, and Allwinner, which still duplicate certain aspects with the generic one, especially parts of configuration and report handling, as well as Makefile and depot package description. To simplify maintainance of it, we should limit the duplicated lines.

[2022-05-11 12:34] skalk opened #4504 "platform_drv: devices ROM name should be configureable"
Since @nfeske likes to hold some examples of the platform driver's usage, where devices description is inlined within the platform driver's configuration, therefore it is necessary to be able to choose the devices ROM name.

[2022-05-12 12:34] cnuke opened #4505 "Explorative streamlining of PCI support for ported Linux drivers"
When PCI support was initially added to new *DDE Linux*, bus and device as well as resource management were performed by the ported
Linux kernel. Each driver relied on the following contrib sources:
[code]

 The *lx_emul/spec/x86/pci.c* layer operated on a low level where `pcibios_scan_root()` was the hook to trigger the population of the PCI bus and the kernel enumerated the bus itself. The follo

[2022-05-12 12:37] cnuke commented on #4505
Commit [3a49243](https://github.com/cnuke/genode/commit/3a492435433d9aa060fee566bcff29e8b3b15ad5) contains the changes and could serve as an illustration for adapting the new platform driver.

[2022-05-13 12:08] cnuke opened #4506 "pc_wifi_drv: add RFKILL support"

[2022-05-13 12:10] cnuke commented on #4506
Commit [733f6ca](https://github.com/cnuke/genode/commit/733f6ca8357b8fbf3accbace7c3964c233b918d1) cleans up user task initialization and commit [95c8363](https://github.com/cnuke/genode/commit/95c8363016a1228166659db14986614eff7f91e4) adds the feature.

[2022-05-16 15:15] nfeske commented on #4499
I merged the commit series to staging now.

[2022-05-17 13:27] cnuke commented on #4500
@chelmuth please merge [eb141ba](https://github.com/cnuke/genode/commit/eb141ba5d17ee0ca623021b46d6af9695d1b88d5) to staging as it fixes nightly CI with the 6235 card.

[2022-05-17 13:39] cnuke opened #4507 "pc_wifi_drv: use arch hweight implementation"

[2022-05-17 13:40] cnuke commented on #4507
Commit [d2d1fe9](https://github.com/cnuke/genode/commit/d2d1fe9fe0d152505ccdb6489c99ec79586563b2) fixes the issue.

[2022-05-17 15:51] cnuke opened #4508 "Remove legacy wifi driver"

[2022-05-18 03:41] m-stein commented on #4499
@nfeske: @skalk and I have added a fix-up https://github.com/m-stein/genode/commit/48002fb43f6e98f87dd1c1ea5d7728deb9ef992e.

[2022-05-18 09:12] skalk opened #4509 "lx_emul: zero page should be page aligned"

[2022-05-18 09:18] nfeske commented on #4508
Superb! The stats are quite impressive I must say.

@alex-ab, would you like to follow up with the removal of the legacy Intel framebuffer driver from dde_linux?

[2022-05-18 09:19] skalk opened #4510 "lx_emul: wrong include path for arm_64"
During the port of wireguard this issue came up. Unfortunately during the consolidation of different architectures this issue slipped into. In contrast to x86, where x86_64 also includes `arch/arm/include` this is different for arm_64. Therefore, we also do not have to duplicate our shadow pathes. Moreover, the x86-only lx_kit path used for the platform_session wrapper is not needed for ARM in gen

[2022-05-18 09:59] alex-ab commented on #4508
@nfeske: Sure, please use 4f050ca8b17a83338749f3de5f844f5c20d2fa43

[2022-05-18 12:04] nfeske commented on #4508
Wow, that was quick! Thanks a lot @alex-ab.

[2022-05-18 12:19] m-stein commented on #4397
@chelmuth This is ready for merging:
228d16acd0 dde_linux: port of WireGuard kernel module
82726113c0 virt_linux: support arm_64
2b9042b614 lx_emul & arm: define ZERO_PAGE
c1b001e52a lx_emul: fix unaligned size arg on DMA alloc
fcfd21577c net: add methods required for WireGuard port
9ca146dc4a net: fix conversion compiler errors
f267afc167 nic_router: fix bad gateway values in README

[2022-05-18 14:16] skalk opened #4511 "Consolidate USB test scenarios"
For some time the USB driver based run-script tests got frayed more and more. Now, that the implementation and configuration of USB host controller drivers have even been distributed across different repositories, the situation became even worse. Lately the tests for e.g. i.MX8 Quad EVK were not part of the nightly test-routines for this reason.
To re-integrate platforms with their own repository,

[2022-05-19 06:10] chelmuth commented on #4511
Thanks for the effort, the first take already looks promising. Regarding the *more complex* run scripts I'd like to lower your expectations as IMO this approach addresses the *test-usb-only* cases. I'd expect *netperf_\*_usb* fits this category but not *vbox\**.

Also, I feel the naming of the packages contradicts the current pattern to *append* the board to package names. What do you think of *te

[2022-05-19 06:35] m-stein commented on #4397
@chelmuth Thanks for your thorough review! I'll apply your remarks today.

[2022-05-19 06:45] alex-ab opened #4512 "usb_host: busy hang on usb storage plug/unplug"
On Sculpt 22.04 the usb_host drivers hang up very busy when plug-in/out an USB storage device assigned to a VM. The overall system is afterwards close to unusable.

![usb_hang](https://user-images.githubusercontent.com/1506104/169227565-d2f0f107-4571-4b5d-9d56-60bbe6aa3cb3.jpg)

[2022-05-19 07:06] m-stein commented on #4510
@skalk Unfortunately, commit 86b8ab543d breaks the build of wireguard on x86_64.

[2022-05-19 07:09] m-stein commented on #4510
[code]

[2022-05-19 07:11] m-stein commented on #4510
@skalk Sorry, I meant on arm_v8a!

[2022-05-19 07:58] m-stein commented on #4397
@chelmuth Here are some first patches:
66948e2c19 fixup "dde_linux: port of WireGuard kernel module" (commented code)
dac3c85986 lx_emul & x86: no unnecessary memset of zero page
70c989baf0 fixup "lx_emul & arm: define ZERO_PAGE" (no memset)
85ced3e0c9 fixup "net: add methods required for WireGuard port" (const args)

I'll fix the local_submit and entropy stuff later today.

[2022-05-19 08:37] skalk commented on #4511
@chelmuth I did not really thought about using the same approach in the vbox5 scenario, but was looking where else the usb_host_drv + platform_drv stack is used directly resp. by platform.inc. However, I think the smartcard and netperf usb test-cases should be transformed too before marking this issue as fixed.
Regarding the naming scheme, I can change it accordingly.

[2022-05-19 08:45] skalk commented on #4510
@m-stein well, my commit was build actually before wireguard entered staging, and the former wrong and additional include pathes introduced errors, and of course might have hidden a problem. I think the latter is the case here for wireguard. Anyway, I'll have a look at it.

[2022-05-19 08:57] skalk commented on #4510
@m-stein sorry my judgement was overhasty, I think I found the problem in my commit.

[2022-05-19 09:13] chelmuth commented on #4512
I'm quite curious what happens here, so I extracted the story from the picture below.

[code]

Now I'd like to have a look at a successful plug of the same device.

[2022-05-19 09:37] alex-ab commented on #4512
[code]

The usb_block debug commit causes an usb_drv pagefault on unplug of a usb storage device.
The code line points to https://github.com/genodelabs/genode/blob/master/repos/dde_linux/src/lib/lx_emul/usb.c#L459, where the actconfig pointer is nullptr. What is the appropriate way to handle this case ?

[2022-05-19 09:49] chelmuth commented on #4512
The old *raw.cc* skipped operations if `actconfig` was not set.

[2022-05-19 10:00] nfeske commented on #4512
Not sure if related, but with Sculpt 22.04 on the frame.work laptop, the USB host driver triggers a page fault at 0x106bce4 when starting the usb_webcam scenario. The webcam driver finds no match (640x480 at 15 fps is not available) and presumably closes the session. The page fault occurs shortly after.

[2022-05-19 10:05] m-stein commented on #4510
Just tell me if I shall look at it instead.

[2022-05-19 10:11] nfeske commented on #4512
Btw, the good news is that the USB webcam works on the frame.work laptop if I change the usb_webcam driver's config to 30 fps.

[2022-05-19 10:13] chelmuth commented on #4397
With the current patches on staging I still got the following.

[code]

Applying the compiler hint helped.

[code]

Should we change 66ca1f7100154855133da93545cbb2428cfd7b45 accordingly?

[2022-05-19 11:29] skalk commented on #4397
@chelmuth @m-stein the align_addr here is actually superfluent. The memory allocator of the Lx_kit already fulfills this constraint when alloc_buffer is called. I would simply remove that commit.

[2022-05-19 11:38] chelmuth commented on #4397
Done in a13914b0d609ffa1b9a3a0c97af25767815b6e6c

[2022-05-19 11:46] skalk commented on #4510
@chelmuth there is a fixup commit baa03d0f51ee4e49040b170e711e9c2715f3653e available, which simplifies the organization of the Linux kernel headers we shadow in dde_linux 1:1 as we discussed it today offline.

[2022-05-19 11:48] skalk commented on #4511
@chelmuth I've updated my commit to 24e4975 using the naming scheme like you've proposed.

[2022-05-19 11:57] chelmuth commented on #4510
I merged the commit just now. Could we remove the commented code in *spinlock.c*?

[2022-05-19 11:58] chelmuth commented on #4511
I merged the commit to staging.

[2022-05-19 12:17] skalk commented on #4510
Sorry, that was not intended. I've added a fixup to remove the comments to my merge_to_staging branch.

[2022-05-19 16:31] m-stein commented on #4397
@chelmuth Here are the missing patches for your suggestions:
84837eb10c lx_emul/random: reseed the sponge regularly
8b0e1ec6cc lx_emul & wireguard & wifi: centralized random.cc
0cfd529c81 fixup "dde_linux: port of WireGuard kernel module" (ip config notifier)

The reseeding commit is only a suggestion of mine to meet your point about reseeding. Is this what you had in mind?

[2022-05-19 16:34] m-stein commented on #4397
In a quick test via wg_fetchurl on a 10mb transfer load I could observe that the randomness commits seem to raise the throughput of WireGuard like 300%.

[2022-05-20 10:24] jschlatow opened #4513 "trace_buffer: race between initialisation and iteration"
The monitor should wait until the buffer has been initialised by the subject before iterating buffer entries. Otherwise, this occasionally has the effect that the first entry is processed twice.

[2022-05-20 10:33] jschlatow commented on #4513
Fixe by commit d075d71

[2022-05-20 12:21] nfeske opened #4514 "Make GUI stack aware of touch events"
Until now, Genode's GUI stack largely relies on the notion of absolute motion events. The event filter played the role of bridging the gap between touch input and absolute motion events (https://github.com/genodelabs/genode/issues/4332).

However, the event types are subtle different, which creates uncertainties. Whereas a pointer has always a defined (most recent) position that can be used to inf

[2022-05-20 12:54] skalk opened #4515 "libusb: genode usb backend does not react on device removal"
The libusb library used by the webcam USB-client only checks the device state and "plugged" state at startup, but does not react on state changes after it got initialized successfully. This leads to endless USB request once the corresponding device gets lost, which renders a system almost unuseable, as long as the webcam client does not have a very low priority.

[2022-05-20 13:36] skalk commented on #4515
An interim solution would be to abort with an exception when the device got removed. A longer, more sustainable solution would re-initialize the device when it re-enters the picture.

[2022-05-20 14:28] m-stein commented on #4397
@chelmuth I've added three fixups for the lx_emul randomness:
3c70f68eff squash "lx_emul/random: reseed the sponge regularly" (significant clean-up)
11ed5b98cf lx_emul/random: reseed the sponge regularly
94ff1e0c37 fixup "lx_emul & wireguard & wifi: centralized random.cc" (rename Xoroshiro)
0eabb804af squash "lx_emul & wireguard & wifi: centralized random.cc" (security warning)
d3ea0a7b32 lx_emul

[2022-05-20 14:29] m-stein commented on #4397
The semantics of the code are not changed by the fixups.

[2022-05-23 09:53] nfeske commented on #4513
Besides the fix, I like the introduction of `Entry::invalid`, which makes the code more self-explanatory. Thank you. I merged the commit to staging.

[2022-05-23 14:05] cnuke opened #4516 "libports: rename jitterentropy's memcpy"

[2022-05-23 15:17] cnuke opened #4517 "pc_wifi_drv: only disabled failed access-point"

[2022-05-23 15:18] cnuke commented on #4517
Commit [399930b](https://github.com/cnuke/genode/commit/399930beb359d0c4e6251df01f3a01a141c5310c) addresses the issue.

[2022-05-23 15:37] nfeske commented on #4517
Merged to staging.

[2022-05-24 12:21] jschlatow opened #4518 "platform_drv: uncaught exception when alloc_dma_buffer is called with size=0"
When `alloc_dma_buffer()` is called with size=0, the platform_drv dies with an uncaught exception of type `Ram_allocator::Denied`.

[2022-05-24 12:23] jschlatow commented on #4518
I pushed a fix in commit 31f8e77.

[2022-05-24 12:34] chelmuth commented on #4518
Merged to staging.

[2022-05-24 13:18] jschlatow commented on #4513
@chelmuth, thanks for letting me know. I added a fixup: 64d771a.

[2022-05-25 10:28] #3961 closed

[2022-05-25 10:28] #4479 closed

[2022-05-25 10:28] #4490 closed

[2022-05-25 10:28] #4481 closed

[2022-05-25 10:28] #4488 closed

[2022-05-25 10:28] #4492 closed

[2022-05-25 10:28] #4493 closed

[2022-05-25 10:28] #4491 closed

[2022-05-25 10:28] #4495 closed

[2022-05-25 10:28] #4501 closed

[2022-05-25 10:28] #4386 closed

[2022-05-25 10:28] #4496 closed

[2022-05-25 10:28] #4497 closed

[2022-05-25 10:28] #4502 closed

[2022-05-25 10:28] #4506 closed

[2022-05-25 10:28] #4507 closed

[2022-05-25 10:28] #4509 closed

[2022-05-25 10:28] #4510 closed

[2022-05-25 10:28] #4515 closed

[2022-05-25 10:28] #4516 closed

[2022-05-25 10:28] #4517 closed

[2022-05-25 11:23] #4513 closed

[2022-05-25 11:23] #4518 closed

[2022-05-25 11:23] nfeske commented on #4499
The commits entered the master branch.

[2022-05-25 11:23] #4499 closed

[2022-05-25 11:26] nfeske commented on #4514
The commits entered the master branch.

[2022-05-25 11:26] #4514 closed

[2022-05-25 11:28] nfeske commented on #4512
Is this issue solved by commit https://github.com/genodelabs/genode/commit/115ac58fd0df7a24a9e846987ff4a97349bf2e20?

[2022-05-25 11:29] nfeske commented on #4511
@skalk is this issue fixed by https://github.com/genodelabs/genode/commit/f652657d9dca0cab60e26435b5619c7dcbd8edc7 or do you plan working on subsequent steps?

[2022-05-25 11:30] #4464 closed

[2022-05-25 11:38] alex-ab commented on #4512
I could not reproduce it with the mentioned commit, so resolved for now.

[2022-05-25 11:38] #4512 closed

[2022-05-25 11:41] nfeske commented on #4397
@m-stein now that the first version entered the master branch, shall we close this issue? I think that any subsequent developments would deserved separate issues.

[2022-05-25 11:43] nfeske commented on #4083
I'm closing this issue because the wifi driver has been replaced in the meanwhile.

[2022-05-25 11:43] #4083 closed

[2022-05-25 11:50] nfeske commented on #3977
I sense that we won't address this issue unless the need for i.MX8 touch-screen support arises beyond demo scenarios.

[2022-05-25 11:55] nfeske commented on #3466
There is currently no plan for further work on this issue. In principle, we could consider armhf for the next tool chain update in 2023. But since 32-bit ARM becomes less important, there is no real incentive.

@trimpim would you agree to close this issue?

[2022-05-25 12:00] nfeske commented on #1769
@cnuke is this issue still relevant today?

[2022-05-25 12:08] cnuke commented on #1769
@nfeske AFAICS the issue is only relevant for vbox5 and we may therefor close it.

[2022-05-25 12:08] #1769 closed

[2022-05-25 14:51] skalk commented on #4511
@nfeske as stated before in this issue, I see smartcard.run and netperf_*_usb.run as part of this issue. I do not necessarily have seen me as the only person responsible to do so, but if this is the case then: yes I plan these subsequent steps.

[2022-05-26 06:26] m-stein commented on #3961
@chelmuth Thanks a lot for doing all the clean-up work of this issue and thereby completing it!

[2022-05-26 06:30] m-stein commented on #3961
@skalk @jschlatow Thanks to you as well! I should have re-read my last statement before sending it :)

[2022-05-26 06:32] m-stein commented on #4397
@nfeske I think the same.

[2022-05-26 06:32] #4397 closed

[2022-05-26 10:08] m-stein opened #4519 "wireguard: sculpt package"

[2022-05-26 10:28] m-stein commented on #4519
Fixed:
640d78914c wireguard: sculpt package
ff883184bc wireguard: generic target.mk
6aabc0a1c4 wireguard: rename wireguard lib

[2022-05-26 12:23] giellamo commented on #3895
This still happens to me since when I enabled Hyper-V

Windows 11 - VBox 6.1.34 - Host Ubuntu Focal - IO Apic enabled

[2022-05-27 08:17] trimpim commented on #3466
@nfeske I agree on closing this issue.

[2022-05-27 08:17] #3466 closed

[2022-05-27 10:07] m-stein opened #4520 "wireguard: exit on invalid configurations"
Currently, the WireGuard component prints an error on invalid configurations but proceeds as usual. Furthermore, the component simply ignores attempts to re-configure attributes that are not re-configurable. Both issues can become a significant security risk in real-world scenarios as the user is misguided to believe that his setup is just fine while in fact it caused WireGuard to operate on an in

[2022-05-27 10:41] chelmuth commented on #4519
While building with the latest commits, the following log messages got my attention.

[code]

The files are always rebuilt because of the following directives in the mk file.

https://github.com/genodelabs/genode/blob/312dde383e5a43d0ca025ca3221fdd4a6780f4d5/repos/dde_linux/lib/mk/wireguard_lx_inc_dirs.inc#L69-L74

May you consider fixing this by applying a correct dependency chain?

[2022-05-27 10:52] chelmuth commented on #4519
Building arm_v8a produces the following warning in the Genode C API for wireguard.

[code]

[2022-05-27 10:55] chelmuth commented on #3895
Please tell us why this setup is related to Genode.

[2022-05-27 14:34] giellamo commented on #3895
Yes, sure.

In my mind this was a virtualbox repository. Please forgive me.