[2014-09-04 07:35] alex-ab opened #1250 "acpi: irq re-rerouting information is not found"

[2014-09-04 07:41] alex-ab opened #1251 "run: support wsman tool to reset x86 Intel machines having AMT support"
Currently we are using amttool to reset remotely x86 test machines having support for Intel's AMT. Amttool uses some discontinued SOAP based protocol. Newer Intel boxes uses another SOAP based protocol supported by the 'wsman' unix tool.

[2014-09-08 13:08] skalk opened #1252 "hw: re-design cpu model"
I strongly vote for a re-design of the current CPU model in base-hw. Currently, there are cpu base classes from generic to more specific hardware, that don't include object-local data, e.g.: Cortex_a9::Cpu inheriting from Arm_v7::Cpu inheriting from Arm::Cpu. They only implement static class functions.

From these classes inherits the kernel-specific Processor class, which has contains necessary c

[2014-09-11 08:24] #1243 closed, assigned to chelmuth

[2014-09-11 08:24] #1249 closed, assigned to skalk

[2014-09-11 08:24] #1250 closed, assigned to nobody

[2014-09-11 08:24] #1251 closed, assigned to nobody

[2014-09-15 13:04] m-stein opened #1253 "hw: sync thread delete and TLB flush"
By now, if a thread gets destructed while waiting for the completion of a TLB shoot-down in an SMP system, the unfinished TLB operations on remote CPUs might get lost. The destruction syscall should block until TLB shoot-down is done.

[2014-09-18 13:53] cproc opened #1254 "Add the 'check_tool' utility function to the new ports mechanism"

[2014-09-21 08:56] cnuke opened #1255 "sdl_mixer: fix include paths in import file"

[2014-09-24 14:55] m-stein opened #1256 "Planning of Hack'n'Hike 2015"
Next year we're planning to celebrate the Hack'n'Hike gathering in May. As always, everybody interested in Genode is welcome to take this opportunity to hang out with the Genode crowd, enjoy activities in beautiful nature sites with us, and encourage programming projects. If you are interested, please drop a message in this issue or send an email to hacknhike@genode-labs.com.

[2014-09-25 08:21] skalk opened #1257 "hw: flushing cache line works insufficiently"
When cache lines are flushed, they need to be written back to memory, and removed from the cache afterwards, or "clean and invalidate" in ARM speak. Currently, in base-hw cache lines are only written back when the Arm:Cpu class function "flush_data_caches_by_virt_region" is called. This leads to problems if e.g. normal memory that was formerly used cacheable, needs to be used non-cacheable.

Moreo

[2014-09-25 10:30] nfeske opened #1258 "Consistently name "Block" services"
Right now, the block services such as part_blk, rom_blk and friends are not adhering our naming convention described at http://genode.org/documentation/developer-resources/conventions. This is also the case for some test programs. E.g., "test/blk/cli" should be called "test/block/client". Otherwise "cli" could be easily mistaken as "command line interface" or some other acronym. To fix this issue,

[2014-09-25 10:36] nfeske opened #1259 "Input merger"
In some scenarios - e.g., when we want to support both USB HID and PS/2 - we need to merge multiple input sources into one stream of events. Currently, this facility is built-in into the gems/src/server/d3m component. However, this component spawns the different drivers as child processes, which is not very flexible. It would be nice to move the input-merging functionality to a distinct component.

[2014-09-25 11:46] cproc opened #1260 "ps2_drv: read configuration before self tests"
When running the PS/2 driver on a Lenovo ThinkPad T430s, often the messages "Scan code 2 not supported" and "Using keyboard with scan code set 1." appear in the log and the keyboard does not work.

The driver tries to enable scan code set 2 if the scan code translation feature is disabled in the keyboard controller. It turned out that the translation feature was originally enabled, but got disable

[2014-09-29 11:14] alex-ab opened #1261 "seoul: use vbios emulators of vmmon"
@vmmon has some patches for seoul which supports booting VMs using the x86emu library to switch VESA modes.

[2014-09-29 13:54] ssumpf opened #1262 "seoul: Enable PAE support"
Add and test physical-address space extension (PAE) in Seoul.

[2014-09-29 14:00] cproc opened #1263 "VESA driver: choose highest resolution mode"
Detecting the preferred resolution (issue #1001) turned out to be more complicated than expected. A simpler short-term auto-mode-setting mechanism would be to choose the mode with the highest resolution from the list of available modes. On a Lenovo ThinkPad T430s and a Lenovo ThinkPad X201 this worked quite well when using digital video outputs (internal LCD or display port), since the list of ava

[2014-09-29 15:04] cproc opened #1264 "framebuffer: handle line width differences"
It can happen that the line width in the framebuffer differs from the visible width. For example, when using the VESA driver with a resolution of 1366x768x16, it happened that a line in the framebuffer consisted of 2752 bytes, which would correspond to a width of 1376 pixels.

Currently, only the visible resolution is reported to the client, which leads to a distorted image in such cases. A quick

[2014-09-29 15:26] cproc opened #1265 "VESA driver: typo fix"

[2014-09-30 13:54] alex-ab opened #1266 "vbox 'hangs' during early boot - sometimes"
[code]

[2014-10-01 16:39] cproc opened #1267 "Heap: release some memory to the RAM session"
Currently, the 'Genode::Heap' releases dataspaces it allocated as backing store only on its own destruction. This avoids performance overhead in scenarios with mainly small allocations, but can cause a high demand of backing store in scenarios with bigger allocations of increasing sizes, which do not fit into previosly allocated and now possibly unused, but not released dataspaces, therefore causi

[2014-10-02 11:28] cproc opened #1268 "Qt5: support window resizing by window manager"

[2014-10-03 15:21] nfeske opened #1269 "hw: don't preserve mmio of core devices"
Right now, the core of base-hw preserves some MMIO regions for the exclusive use by the kernel, assuming that the userland and the kernel never have to touch the same device. This becomes a problem when designing device drivers in a way that consist of a kernel and user-level part. An example of such a hybrid driver is the USB driver on the Raspberry Pi. The normal USB driver lives as userland app

[2014-10-06 11:13] cproc opened #1270 "run: mark ext2 partition as bootable"
When building for the 'disk' run target, the ext2 partition needs to be marked as bootable to be booted on some hardware.

[2014-10-06 12:04] cproc opened #1271 "VFS: acquire tar dataspace only once"

[2014-10-06 13:27] cproc opened #1272 "SDL: evaluate the motion event type"
Currently, SDL interprets all motion events as relative, even if they are absolute.

[2014-10-06 13:37] cproc opened #1273 "libc_lwip: 'fcntl()' fix"

[2014-10-09 09:54] #1158 closed, assigned to nobody

[2014-10-10 11:03] #1195 closed, assigned to nobody

[2014-10-10 11:03] #1246 closed, assigned to nobody

[2014-10-10 11:03] #1254 closed, assigned to cproc

[2014-10-10 11:03] #1255 closed, assigned to nobody

[2014-10-10 11:03] #1257 closed, assigned to nobody

[2014-10-10 11:03] #1259 closed, assigned to cproc

[2014-10-10 11:03] #1260 closed, assigned to cproc

[2014-10-10 11:03] #1261 closed, assigned to alex-ab

[2014-10-10 11:03] #1263 closed, assigned to cproc

[2014-10-10 11:03] #1265 closed, assigned to cproc

[2014-10-10 11:03] #1266 closed, assigned to alex-ab

[2014-10-10 11:03] #1267 closed, assigned to cproc

[2014-10-10 11:03] #1268 closed, assigned to cproc

[2014-10-10 11:03] #1270 closed, assigned to cproc

[2014-10-10 11:03] #1272 closed, assigned to cproc

[2014-10-10 11:03] #1273 closed, assigned to cproc

[2014-10-10 15:01] m-stein opened #1274 "hw: rename Kernel:Processor Kernel::Cpu"

[2014-10-14 09:38] m-stein opened #1275 "base & hw: CPU quota at thread API"

[2014-10-14 12:39] m-stein opened #1276 "core: prevent asynchronous access to local RAM session"
The `Core_ram_session` is a `Synchronized_ram_session` that manually overrides the RAM-session interface to synchronize local access to it. Imagine that one wants to add a new method to the RAM-session interface and forgets to override it in `Core_ram_session`. The new method could then be called on `core_env()->ram_session()` without a notice that the unsynchronized version is used. This could ea

[2014-10-20 09:19] chelmuth opened #1277 "noux_tool_chain_auto.run enhancement proposal"
The Noux tool-chain test has a rather complex configuration that tries to adhere to several platform specifics, which are build target, boot time, worst-case build duration, and required tool chain. The current implementation aligns the build target with the tested platform, e.g., build hw_arndale on arndale (both hw and foc). IMO this makes the whole script much too complex and magic.

Therefore,

[2014-10-21 09:05] #1262 closed, assigned to ssumpf

[2014-10-21 09:05] #1269 closed, assigned to nobody

[2014-10-21 09:05] #1271 closed, assigned to cproc

[2014-10-22 15:25] m-stein opened #1278 "hw & arm_v7: provide hardware-info utility"
To ease porting and debugging there should be a run scenario that prints information on the underlying hardware via sources like the ARM identification and feature registers.

[2014-10-28 14:03] ssumpf opened #1280 "base: Implement dynamic linker"
Also, throw away our old FreeBSD based linker.

[2014-10-28 15:08] cproc opened #1281 "vbox: set the 'CPUM_CHANGED_GLOBAL_TLB_FLUSH' flag"
The flag is needed for the recompiler to access the correct virtual memory locations.

[2014-10-28 15:15] cproc opened #1282 "vbox: save the guest FPU state before calling 'longjmp()'"
'longjmp()' restores the (partial) FPU state saved by 'setjmp()', so it's necessary to save the guest FPU state before calling 'longjmp()'.

[2014-10-28 15:35] cproc opened #1283 "vbox: always transfer FPU ownership back to the VM"
When the 'Mtd::FPU' flag is set during the registration of a virtualization event handler, it must also be set whenever the event handler returns.

[2014-10-28 15:40] cproc opened #1284 "vbox: don't enforce instruction emulation after recall event"

[2014-10-30 07:42] ssumpf opened #1285 "dde_linux: Make drivers self contained"

[2014-10-30 13:00] skalk opened #1286 "hw: print page faults of core"
Whenever core causes a page fault, which should not happen normally, one can observe only the following error message: "failed to communicate thread event". It would be nice to print an error message that helps developers to identify the problem.

[2014-10-30 13:30] m-stein opened #1287 "hw: fix prio preemtion bug in old scheduler"

[2014-11-07 10:30] chelmuth opened #1288 "Move ANSI escape sequences to util header"

[2014-11-10 12:00] alex-ab opened #1289 "init: enforce affinity space of a child also for new created cpu_sessions"

[2014-11-11 16:35] alex-ab opened #1290 "vbox: support resetting a VM"

[2014-11-12 12:36] cproc opened #1291 "nova: refine the timer delay heuristic"
It happened that the delay time added in the 'timer quirk' case was too short in one situation. Since it is hard to know the exact delay time needed, we could increase it dynamically.

[2014-11-12 13:45] #1204 closed, assigned to ssumpf

[2014-11-12 13:45] #1280 closed, assigned to ssumpf

[2014-11-12 13:45] #1281 closed, assigned to cproc

[2014-11-12 13:45] #1282 closed, assigned to cproc

[2014-11-12 13:45] #1283 closed, assigned to cproc

[2014-11-12 13:45] #1284 closed, assigned to cproc

[2014-11-12 13:45] #1285 closed, assigned to ssumpf

[2014-11-14 07:46] #1290 closed, assigned to alex-ab

[2014-11-14 07:46] #1291 closed, assigned to cproc

[2014-11-14 10:09] m-stein opened #1292 "base & arm: simplify and optimize cmpxchg"

[2014-11-17 15:21] m-stein opened #1294 "hw & panda: workaround for branch-predictor bug"

[2014-11-20 07:47] chelmuth opened #1295 "Enable mirroring of third-party ports (was: openssl: availability of source tarball)"
The archive used by our port, which is http://www.openssl.org/source/openssl-1.0.1i.tar.gz, got unavailable. IIRC this also happened in the past. I wonder how we should deal with this reoccuring fact in the future as it directly affects our nightly build test. Any opinions?

BTW the new archive is https://www.openssl.org/source/openssl-1.0.1j.tar.gz while the old one is still available at https://

[2014-11-20 11:22] alex-ab opened #1296 "vbox: update to VirtualBox version 4.3 ++"

[2014-11-20 15:01] alex-ab opened #1297 "nova: update to r7 branch"
r7 contains a preliminary workaround to fix some rcu issues we encountered.

[2014-11-20 15:40] #1196 closed, assigned to nobody

[2014-11-20 15:40] #1287 closed, assigned to m-stein

[2014-11-20 15:40] #1289 closed, assigned to alex-ab

[2014-11-20 15:40] #1294 closed, assigned to m-stein

[2014-11-21 19:26] cproc opened #1298 "qt5: 'QTime::currentTime()' fix"
The millisecond calculation does not work with real wall-clock-time values.

[2014-11-24 14:23] m-stein opened #1299 "hw_arndale: consider timer resets"
On Arndale, the kernel timer resets to the initial value of the last count-down and continues as soon as it reaches zero. We must check this via the interrupt status when we read out the timer value and in case return 0 instead of the real value.

[2014-11-25 11:07] m-stein opened #1300 "hw: provide readable identification of scheduling contexts"
This enables us to set scheduling subjects into the global context of threads, VMs and idle contexts when it comes to debugging. Although this isn't necessary for the working system, it should be added permanently as it is a pretty basic and often useful debugging feature which has no effect on the binaries when not used.

[2014-11-25 14:44] m-stein opened #1301 "foc & linux_panda: compile errors"
There seems to be a problem with the new cache-attribute type.

[2014-11-25 15:06] m-stein opened #1302 "oss & nova_x86_32: compile errors"
With run/oss on nova_x86_32 on master, I get the following compile errors:

[code]

[2014-11-26 12:03] m-stein opened #1303 "os: add missing include in vea9x4/pl011_defs.h"

[2014-11-26 17:16] m-stein opened #1304 "hw_vea9x4: mapping clashes in core"
On HW-VEA9X4, memory corruption causes core to crash. I was able to track one of these memory corruptions far enough to say that it is caused by a physical address being mapped at least twice and the virtual locations are used for a different purpose each.

[2014-11-27 11:11] chelmuth opened #1305 "tool/ports: hash.inc does not hash patches in some cases"
The hashing utility in tool/ports seems to silently ignore patch files, which are in `PATCHES` and have absolute path names. For testing with `base-okl4` please try
[code]
The following patch seems to fix the issue for me.
[code]
The above test produces now
[code]
[code]

[2014-11-28 12:00] #1225 closed, assigned to m-stein

[2014-11-28 12:00] #1274 closed, assigned to m-stein

[2014-11-28 12:00] #1275 closed, assigned to m-stein

[2014-11-28 12:00] #1278 closed, assigned to m-stein

[2014-11-28 12:00] #1286 closed, assigned to nobody

[2014-11-28 12:00] #1296 closed, assigned to alex-ab

[2014-11-28 12:00] #1297 closed, assigned to alex-ab

[2014-11-28 12:00] #1298 closed, assigned to cproc

[2014-11-28 12:00] #1299 closed, assigned to m-stein

[2014-11-28 12:00] #1301 closed, assigned to m-stein

[2014-11-28 12:00] #1302 closed, assigned to nobody

[2014-11-28 12:00] #1303 closed, assigned to m-stein

[2014-11-28 12:00] #1304 closed, assigned to m-stein

[2014-11-28 12:58] alex-ab opened #1306 "pistachio: missing __L4_ThreadSwitch for netperf_lxip application"
[code]

[2014-12-01 10:57] nfeske opened #1307 "seoul-fancy.run does not work"
There are the following issues with the current version of the run script:
- There is neither a nitpicker configuration nor a mouse pointer. The run script must be adapted to the nitpicker changes. Otherwise the user won't be able to interact with it. The corresponding snippets could be taken from gems/run/wm.run
- When booting up the TinyCore image with Firefox, the initial boot screen (VBIOS?) s

[2014-12-01 12:40] alex-ab opened #1308 "vbox: support routing serial output of models to Genode"

[2014-12-01 12:53] skalk opened #1309 "foc: affinity test broken on Versatile Express"
The affinity test currently breaks on Fiasco.OC on top of the Versatile Express A9x4. Either it runs to slow, or sometimes hangs before core is even started.

To me it seems a QEMU <-> kernel problem. I vote for removing this platform from SMP tests until the kernel or QEMU are updated or even both.

[2014-12-01 13:21] skalk opened #1310 "LXIP: repeatedly fails in various tests"
The network stacks fails to complete different flavors of the netperf test on various platforms. AFAIK from last discussions with ssumpf and chelmuth, the problem is that the port does not support UDP. Therefore, control signal send from the remote stack are received by the TCP stack in line with the payload. The TCP stack works under full load. Thereby the control signals are exchanged to slow an

[2014-12-02 13:33] #1051 closed, assigned to nobody

[2014-12-02 13:33] #1306 closed, assigned to alex-ab

[2014-12-02 13:33] #1308 closed, assigned to alex-ab

[2014-12-03 12:26] #1309 closed, assigned to nobody

[2014-12-03 13:24] m-stein opened #1311 "hw: fix race on pager-object dissolve"

[2014-12-04 14:52] m-stein opened #1312 "hw & cortex_a9: use SMP in general"
By now we only have the ``is_smp`` method that returns false if we don't use SMP even if the platform supports SMP. This causes problems with at least VEA9X4 as we act in some situations as if there is no SMP. One solution would be to provide both ``has_smp`` and ``use_smp`` but I think its better to always use SMP if there is support for it.

[2014-12-04 15:08] m-stein opened #1313 "hw & arm: power-saving kernel lock"

[2014-12-04 15:17] cproc opened #1314 "qt5: let QNitpickerViewWidget react to focus event"
When calling 'setFocus()' on a QNitpickerViewWidget, the Nitpicker view should get the input focus.

[2014-12-04 15:30] cproc opened #1315 "qt5: fix include dir of 'qt5_qpa_nitpicker' library"
Currently, the 'qt5_qpa_nitpicker' library cannot be used outside the 'libports' repository.

[2014-12-04 15:40] cproc opened #1316 "qt5: set explicit routes for Nitpicker's 'Framebuffer' and 'Input' sessions"
Setting explicit routes for Nitpicker's 'Framebuffer' and 'Input' sessions avoids ambiguities if a Qt application provides these services, too.

[2014-12-05 10:01] #1314 closed, assigned to cproc

[2014-12-05 10:01] #1315 closed, assigned to cproc

[2014-12-05 10:01] #1316 closed, assigned to cproc

[2014-12-08 13:53] cproc opened #1318 "vbox: enable 1-byte MMIO writes at 4-/8-byte aligned address"
This is needed for running NOVA on VirtualBox 4.3.16 (in addition to enabling the 'IOAPIC' feature in the 'vbox'-file).

[2014-12-09 14:35] alex-ab opened #1319 "vbox: support more vesa modes"

[2014-12-11 15:10] m-stein opened #1320 "hw: remove deprecated TLB declaration"

[2014-12-11 16:24] alex-ab opened #1321 "vbox: absolute mouse input events leads to not implemented function call"

[2014-12-11 18:13] ehmry opened #1322 "Runtime dependency metadata"
How about documenting runtime dependencies for components?

Something like:
[code]

I'm missing things like libc and networking plugins but I'm not familiar with those yet.

I don't know much about XML but I know that with XSLT there are tools that could generate init configs if enough dependency info was present in XML (though possibly converted to XML from another format).

[2014-12-12 10:32] alex-ab opened #1323 "vbox: avoid warnings "priority band too small, losing least-significant priority bits""

[2014-12-12 19:22] alex-ab opened #1324 "vmm: seoul and vbox tries to overmap a object capability during startup"
When the debug branch of the kernel is used (current r7_debug) the kernel prints warning about capabilitiy overmap attempt during startup of the VMMs.

[2014-12-15 12:03] alex-ab opened #1325 "demo: launchpad miscalculate memory of launchpad entries with more than 2048M memory"
A launchpad entry in form of

[code]

leads to

[code]

Fixing the printf in repos/demo/src/lib/launchpad/launchpad.cc leads to:

[code]

[2014-12-16 13:43] cnuke opened #1326 "wifi_drv: various bug-fixes"

[2014-12-16 14:07] #1307 closed, assigned to alex-ab

[2014-12-16 14:07] #1318 closed, assigned to cproc

[2014-12-16 14:07] #1319 closed, assigned to alex-ab

[2014-12-16 15:19] chelmuth opened #1327 "nic: report link state to enable network-stack reconfiguration"
Nic-service providers enabled to report if their link goes down or up, connected Nic clients can reconfigure their network settings via DHCP. This is esp. useful with the wifi_drv but also makes sense for LAN drivers.

[2014-12-16 16:20] chelmuth opened #1328 "tool/run: file tempfile is not available in tcl versions below 8.6"
Unfortunately, my Ubuntu 12.04.5 LTS does not come with an expect version for tcl8.6+. Therefore, I get the following with `wsman`
[code]
@alex-ab do you think we could agree on a common name for the wsman script, e.g., `/tmp/genode-wsman.xml`?

[2014-12-17 09:55] #865 closed, assigned to m-stein

[2014-12-17 12:28] ssumpf opened #1329 "usb_drv: Implement remote USB device interface"
Define and implement a USB interface that enables the creation of remote USB-device drivers. Implement a remote driver as proof of concept.

[2014-12-17 18:58] rite opened #1330 "libc vfs_plugin: mkdir fails if directory name ends with slash"
I added tests with the directory "testdir3/" to libports/src/test/libc_ffat/main.cc. Now the libc_vfs tests fail:
[code]

[2014-12-18 08:19] chelmuth opened #1331 "hw: thread test fails on all hw platforms with current staging"
Did the RAM demand increase with the last changes?
[code]

[2014-12-18 08:27] chelmuth opened #1332 "hw: rm_fault test fails on some hw platforms with current staging"
Succeeded on hw_pbxa9
[code]
Failed on hw_imx53
[code]

[2014-12-19 07:47] chelmuth opened #1333 "foc_pbxa9: pthread test fails sporadically"
The nightly build sporadically complains about `make run/pthread` failing on foc_pbxa9 (in December 10 good and 7 bad runs). Last night it stopped with
[code]
A good case looks like follows.
[code]

[2014-12-26 20:46] #1232 closed, assigned to nobody

[2015-01-02 15:13] chelmuth opened #1334 "Disable certificate checking when downloading ports"
Currently, we have an issue with red.libssh.org and wget/curl that can't validate the certificate information of the site. Firefox has no such problem. After some more investigations I discovered the problem from an _intermediate certificate_ from StartCom used to sign the server/node certificate for red.libssh.org (also discussed [here](http://security.stackexchange.com/questions/57535/why-do-i-n

[2015-01-02 17:30] cnuke commented on #1334
:+1: for using HTTP only for now.

In the long term, more server will probably switch to using HTTPS only (hence for obvious but arguably good reasons) I guess — so the issue with certificate checking will not go away.

[2015-01-02 21:04] alex-ab opened #1335 "nova: fix permission usage of portals"
Currently the badge can be changed after portal creation, which should be only possible for the actual owner - either core (pager facilitiy) or the server entrypoint thread.

* core/pager - the pt_ctrl permission is not revoked correctly
* server entrypoint - the pt_ctrl permission is revoked, however the nova kernel implementation does not match its documentation (pdf) - effectively this means th

[2015-01-03 17:02] nfeske commented on #1334
For protecting the integrity of the downloaded data, HTTPS does not add much value. The checksums are sufficient for that. The only advantage that HTTPS has over HTTP is that the mere information about which files are downloaded from the server is protected. I don't think that we should jump through hoops to hide this bit of information.

I agree to stay with HTTP for downloading libssh.

[2015-01-05 10:18] chelmuth opened #1336 "libc: warn on configuration errors in rtc wrapper"

[2015-01-05 10:21] chelmuth commented on #1336
@cnuke what do you think?

[2015-01-05 10:45] cnuke commented on #1336
@chelmuth looks good.

[2015-01-05 14:58] m-stein opened #1337 "hw: use context-area base that is ok for VEA9X4-TZ"

[2015-01-05 15:05] m-stein commented on #1337
Fixed by https://github.com/m-stein/genode/commit/4b927876bad6592241f30e0ec91e0e7e8b886879 that is based on staging.

@chelmuth: Should fix tests that don't use a timer. The other tests still time out when they use the timer the first time.

[2015-01-05 19:44] #1102 closed

[2015-01-05 19:44] #1311 closed

[2015-01-05 19:44] #1320 closed

[2015-01-05 19:44] #1321 closed

[2015-01-05 19:44] #1323 closed

[2015-01-05 19:44] #1324 closed

[2015-01-05 19:44] #1325 closed

[2015-01-05 19:44] #1326 closed

[2015-01-05 19:44] #1328 closed

[2015-01-05 19:44] #1331 closed

[2015-01-05 19:44] #1332 closed

[2015-01-05 19:54] chelmuth commented on #1312
I'm a bit confused about all the attached _confirmed_ and _fixed_ labels while the quickfix in master does not close the issue. Can we close this or remove the labels?

[2015-01-05 21:22] alex-ab commented on #1335
@chelmuth: re-created the fix

[2015-01-06 09:26] alex-ab opened #1338 "nova: remove timer delay heuristic"

[2015-01-06 10:19] nfeske commented on #1338
@alex-ab Hats off for finding the bug!

What do you think about documenting the symptom and the actual problem here for future reference?

Let me just annotate this issue with the link to the actual fix: https://github.com/alex-ab/NOVA/commit/66350b61f17b475f05570505c4a1b23106fcb40a

[2015-01-06 11:01] chelmuth commented on #1334
Unfortunately, the case of libssh is just like @cnuke apprehended: The download is available via HTTPS only. Even after the server admin fixed the certificate issue after I approached him, we still miss the SNI support in wget < 3.14 and, therefore, need to add `--no-check-certificate` for a successful download on Ubuntu 12.04 LTS :cry:

[2015-01-06 12:40] alex-ab commented on #1338
Sympton:

On some x86 platforms using base-nova, it happens that the system seems to slow down dramatically for some unclear reasons. As soon as a VM (either Windows 7 and - reported by @chrism333 - also Android x86) boots up with VirtualBox as VMM, the Genode host becomes in-responsive, e.g. when using Nitpicker the mouse starts "jumping". Also moving the VM and VMM to another CPU to reduce load

[2015-01-06 12:48] nfeske commented on #1338
@alex-ab Thank you for this great summary!

[2015-01-06 13:58] ssumpf opened #1339 "Add virtual destructor to block driver interface"
Make sure sub class destructors are called when destroying a pointer to the base class.

[2015-01-06 14:08] m-stein opened #1340 "hw vea9x4: let the timer SP804 0/1 be secure"

[2015-01-06 14:12] m-stein opened #1341 "hw & cortex_a9: fix scheduling-timer speed"

[2015-01-06 15:01] rite opened #1342 "libports: add gtest (the Google C++ testing framework)"
https://code.google.com/p/googletest/

To get some first hands-on experience with genode, I tried to port gtest. So far it was straight forward and most of the tests succeed. I've included two run scripts. gtest.run executes the tests of the testing framework itself and gtest-samples.run executes a simple demo test application.

There are some open points:
- All three patches are workarounds. Any

[2015-01-06 15:16] chelmuth commented on #1342
The dev branch is http://github.com/rite/genode/commits/gtest.

[2015-01-06 15:42] alex-ab opened #1343 "nova: starting/running 2+ VMs concurrently not possible"
It is kind of follow up issue of #1307. I hate to cite myself, but:

Seoul VMM:
'' I can confirm that the mouse input sometimes does not work. As soon as I start a second seoul instance the mouse input of the first instance seems to not processed anymore, but in the second instance the mouse works. When I start a third instance, the mouse of the second instance stops working ... ''

Additionally w

[2015-01-06 15:49] chelmuth commented on #1343
I traced the issue back to commit e70c13ce1fc9391d4a086840a9d64674980a4f04 which enables the use of PCIDs in *base-nova/run/env* by removing `nopcid` fom the kernel command line. Re-adding the parameter enables the parallel execution of both Seoul and VirtualBox VMs. So, it seems we have issues with the PCID implementation in NOVA or miss required user-level handling in the context of virtual mach

[2015-01-06 15:53] nfeske commented on #1343
@chelmuth Wow! You encircled the issue. That makes my day. :-)

[2015-01-06 15:56] alex-ab commented on #1343
@chelmuth: :+1:  @nfeske: Let's go climbing ;-)

[2015-01-06 16:07] chelmuth commented on #1343
Better not, but I'll get the well-deserved dinner soon ;-)

[2015-01-06 20:42] chelmuth opened #1344 "rtc: provide rtc_drv on base-linux"

[2015-01-06 20:45] chelmuth commented on #1342
Once #1344 is closed, the run script should work on base-linux again.

[2015-01-06 21:01] ssumpf commented on #1343
:+1:

[2015-01-07 09:08] rite commented on #1342
@chelmuth Thanks!
I forgot to mention that the gtest-filepath.patch used in the port file might get obsolete when #1330 is closed.

[2015-01-07 09:39] chelmuth commented on #1340
My hope was your commit would fix our nightly issues, but all hw_vea9x4_tz tests still fail with something like
[code]
Did you address hw_vea9x4_tz or hw_vea9x4 only? Any successful run of hw_vea9x4_tz on your side?

[2015-01-07 09:42] chelmuth commented on #1340
Hm, the commit in #1337 was not part of staging this night. Does it address the above issue? I just merged it into staging.

[2015-01-07 09:43] m-stein commented on #1340
@chelmuth: Jep, that should've been the problem.

[2015-01-07 10:04] chelmuth opened #1345 "Tools for convenient handling of port contrib dirs"
This tool is very helpful during development on branches using various versions of ports, e.g., when bisecting for an issue.

[2015-01-07 10:39] cnuke commented on #1345
Fwiw, there is also dd41286089b3c51ef32402cdc57339f386ae8565.

[2015-01-07 11:02] chelmuth commented on #1345
Hm, looks pretty similar to my solution except that I wasn't aware of *tool/ports/mk/check_port_arg.inc*.

[2015-01-07 11:07] alex-ab opened #1346 "seoul: support for absolute events"
The input adaptation of Genode/Seoul assumes that the input events are all relative. Which is true for the native ps2 driver and for liquid_fb, but not for nitpicker nor nit_fb.

[2015-01-07 12:39] udosteinberg commented on #1343
Can you send me a trace of all the PDs being created along with their PCIDs?

[2015-01-07 19:40] nfeske opened #1347 "x86: Move crt0 to .text.crt0 section"
On ARM, the crt0 code is located in the dedicated ".text.crt0" section. This way, ELF entrypoint always points to the very beginning of the text segment. This is useful when converting an ELF image a raw binary (which can then be started by meremly jumping to the start of the image).

Even though this mechanism is not used on x86, I would like to see this aspect of the ELF layout unified between t

[2015-01-07 20:07] alex-ab opened #1348 "input_session: clients of servers can trigger uncaught exceptions"
I had the case that in liquid_fb a thread died because of an uncaught exception as soon as the ring buffer becomes full. In my case an unresponsive client  didn't dequeued quick enough the events and the thread inside the server died.

Beside liquid_fb there seem to be also following services affected:

repos/demo/src/server/liquid_framebuffer/services.cc
repos/os/src/server/input_merger/main.cc
r

[2015-01-07 20:10] alex-ab commented on #1348
Sorry, repos/gems/src/server/wm/nitpicker.h is not affected.

[2015-01-07 21:04] nfeske commented on #1348
What do you think about applying the solution of ```wm/nitpicker.h```?

[2015-01-07 21:46] nfeske commented on #1348
Or maybe better, what about moving the exception handing as done in ```wm/nitpicker.h``` to ```Input::Session_component::submit```? This would fix all components at once. Components that don't want to use the default handling of this condition could still call ```event_queue().avail_capacity()``` before submitting a new event.

[2015-01-08 09:03] chelmuth commented on #1347
I implemented this feature for static binaries in 727ac4bc0cea535ad31d8fde2ad9411b3f5e2850. Do you have further requirements?

[2015-01-08 10:49] nfeske commented on #1347
@chelmuth That's actually all I wanted. Thanks for the quick response to the issue.

[2015-01-08 10:50] #1347 closed

[2015-01-08 11:20] nfeske opened #1349 "ldso: split main.cc into multiple headers"
Right now, the code of the dynamic linker looks very clean and well structured but it is still hard to comprehend as most of the code is contained in a single file: https://github.com/genodelabs/genode/blob/master/repos/base/src/lib/ldso/main.cc

To ease the review of the code by third parties, it would be beneficial to split the file into multiple headers - ideally one header per class. The heade

[2015-01-08 11:33] nfeske opened #1350 "ldso: ctors in shared libraries loaded for the 'Shared_object' API"
When loading a shared library via the ```Shared_object``` interface, I expect that global constructors contained in the library are executed. However, in the current version of the dynamic linker, this does not seem to happen.

[2015-01-08 11:35] nfeske commented on #1350
The commit https://github.com/nfeske/genode/commit/d62c2e3e9aef9b9435ce7bd4ab962fa642f03004 adds a corresponding test to ldso.run.

When executed (i.e., on base-linux), the test gets stuck at the construction of the ```Shared_object```.

[2015-01-08 11:36] ssumpf commented on #1349
Sure, we could, for example, separate the dynamic section code, the shared-object interface, the exception handling support,  and the ELF objects (libs, binary, linker).

[2015-01-08 11:38] nfeske commented on #1349
Sounds good. I would like to leave the granularity up to you.

[2015-01-08 11:41] nfeske commented on #1347
Funny coincidence. Apparently, I am a bit out of touch with master. ;-)

[2015-01-08 12:26] alex-ab commented on #1343
In [https://github.com/alex-ab/genode/blob/f19634ec4843b054a68965c18c0f848eb2f07f81/trace-pd-did.txt trace-did.txt] you can see a trace of all created PDs and there did values (dumped in Pd constructor). In
[https://github.com/alex-ab/genode/blob/f19634ec4843b054a68965c18c0f848eb2f07f81/trace-log.txt trace-log.txt] you may find the whole Genode trace, to better correlate user level actions with th

[2015-01-08 12:27] m-stein opened #1351 "hw vea9x4: remove trustzone support"

[2015-01-08 13:03] m-stein commented on #1351
Fixed by https://github.com/m-stein/genode/commit/9a4a0448bed1d71f7cf153632bc0b450c1214e14 that is based on staging.

Should fix recent builtbot problems with ``hw_vea9x4_tz`` ;)

[2015-01-08 13:17] ssumpf commented on #1350
@nfeske: Ok, I will look into that.

[2015-01-08 13:22] chelmuth commented on #1351
That's unexpected (at least)...

[2015-01-08 13:51] udosteinberg commented on #1343
Do you have anything in your Genode-specific patches where you modify the user-accessible portion of an address space without going through ```Space_mem::update```?

The next step would be to instrument the part of ```Space_mem::update``` that does ```htlb.merge``` to mark the TLB dirty on all ```cpus``` affected by an address space change. You also need to instrument ```Pd::make_current``` to see

[2015-01-08 14:15] #1334 closed

[2015-01-08 14:15] #1335 closed

[2015-01-08 14:15] #1336 closed

[2015-01-08 14:15] #1338 closed

[2015-01-08 14:16] nfeske commented on #1351
@skalk and @m-stein spoke with me about it earlier today. Right now, the vea9x4 TrustZone support is not in a state where we can run a large number of tests. To fix that, we'd require to invest a significant amount of time. But nobody is actually using TrustZone on this platform. So the work would not benefit anyone really. So we have two options:

* Keeping the TrustZone support for vea9x4, but u

[2015-01-08 17:50] skalk commented on #567
The initally described bug was fixed by closing issue #723. Above problem vanishs by removal of TrustZone support for Vea9x4 of issue #1351

[2015-01-08 17:50] #567 closed

[2015-01-08 20:02] alex-ab commented on #1348
@nfeske: you mean that way ?

[2015-01-09 08:51] nfeske commented on #1348
Almost. Your solution has the problem that once the queue overflows, the log gets flooded with messages, one message per discarded event.

Hence, the wm/nitpicker.h version resets the event queue in the exception case. I would move the diagnostic message along with the reset of the event queue to the exception handler in Input::Session_component.

With this in place, you can remove avail_capacity

[2015-01-09 09:20] nfeske opened #1352 "AHCI driver lacks support for shared IRQs"
The current version of the AHCI driver opens an IRQ session at the startup but only occasional calls ```wait_for_irq``` - when it actually expects an interrupt. This approach has the problem that core / the kernel unmasks the interrupt of the IRQ session at the interrupt controller only during the call of ```wait_for_irq```. At all other times, the IRQ stays masked. This becomes a problem when the

[2015-01-09 10:20] ssumpf commented on #1350
@nfeske, @chelmuth: Please cherry pick both commits.

[2015-01-09 10:34] m-stein opened #1353 "hw vea9x4: to slow in part_blk"
VEA9X4 seems to slow down with every step of the part_blk test. Hence it doesn't finish within the expected time of 100 seconds. However, the test succeeds after approximately 200 seconds.

[2015-01-09 10:44] nfeske commented on #1348
Very nice!

[2015-01-09 10:48] nfeske commented on #1350
Why does the change of the run script appears in the first commit? Shouldn't this be part of the second one (the test)?

[2015-01-09 10:58] chelmuth commented on #1350
I merged both commits. Is that okay with you (both)?

[2015-01-09 11:05] chelmuth opened #1354 "Byte-order issue in lan9118 NIC driver"
[code]

[2015-01-09 14:21] cnuke opened #1355 "modularise run tool [RFC]"
The run tool served us well over the years and by continously extending its
functionality it satisfied all our needs. The way it was extended up to now
was in a ad-hoc fashion that makes future changes and maintaining more
time-consuming. In order to address these problems the run tool is getting
modularised and furthermore its argument handling is getting unified.

When executing a run script all

[2015-01-09 14:56] nfeske commented on #1355
Your solution is seriously cool! It is so.... clean! :-)

[2015-01-09 17:41] alex-ab commented on #1343
Based on r8_genode_nosmp branch I applied following [kernel patch] (https://github.com/alex-ab/genode/blob/fa933b115c0fd11f1be567bc10b1530f21c65367/kernel-diff-2.txt) to get following [log output](https://github.com/alex-ab/genode/blob/fa933b115c0fd11f1be567bc10b1530f21c65367/trace-log-2.txt).

did 24 is the first VBox VMM protection domain - did 25 the protection domain of the first vcpu
did 29 i

[2015-01-09 17:43] ssumpf commented on #1350
@nfeske: That is because the run script changes where missing in your commit. As @chelmuth suggested, I would just squash the two of them.

[2015-01-09 19:01] Logout22 commented on #114
My diploma thesis treated this topic (as I already mentioned on the list). chelmuth asked me to link my source code here, so here goes nothing: https://github.com/Logout22/buildrump.sh

I reckon the project will need a complete rewrite to fulfil Genode standards, but maybe one idea or another from the code is useful on the way there.

Cheers!

[2015-01-09 22:24] cnuke opened #1356 "libc: create poll.h symlink"

[2015-01-09 23:18] cnuke commented on #327
Already fixed by 837f913094cf56562e5487ac98845de5b639d046.

[2015-01-09 23:18] #327 closed

[2015-01-09 23:21] cnuke commented on #220
Already fixed by 6fcbea000c436918f456fa258746e8d29512b905.and 34bfb70946ac7d89628443bb91f776be930525f0.

[2015-01-09 23:21] #220 closed

[2015-01-10 10:05] chelmuth commented on #327
What do you think about adapting the libc approach of getting an initial time from RTC if available and falling back to 0? Have a look at read_rtc() and where it's used in libc.
--
Christian Helmuth
Genode Labs

http://www.genode-labs.com/ · http://genode.org/ · /ˈdʒiː.nəʊd/

Genode Labs GmbH · Amtsgericht Dresden · HRB 28424 · Sitz Dresden
Geschäftsführer: Dr.-Ing. Norman Feske, Christian Helmuth

[2015-01-10 11:02] cnuke commented on #327
That is a good idea and already on my todo list. We will need the proper time, i.e., when handling E-Mail with noux.

[2015-01-10 12:40] alex-ab opened #1358 "seoul: add convenience check to exclude 64bit Genode guests when used with seoul-genode.run"
Not everybody knows that seoul just runs 32bit guests - and even I forgot in the first moment about it ...

[2015-01-10 12:58] chelmuth commented on #327
:ok_hand:

[2015-01-10 14:21] cnuke opened #1359 "device/PCI bus manager"
So far, all drivers probe the entire PCI bus and attach to the first device
that is found and which the driver can manage. Therefore, it is not possible
to e.g. use two different NIC devices that are handled by the same driver
even when starting the driver twice at the same time.

One possible interim fix could be to configure the driver to only attach to a
particular device by specifying the vend

[2015-01-10 14:42] nfeske commented on #1359
As a first step, we should really establish the notion of a "platform driver" on x86 as we already do on ARM. We could start by renaming the ACPI driver to platform driver and renaming the ```Pci::Session``` interface to ```Platform::Session```. By doing that, we should make sure that the platform driver is functional on non-APIC kernels (OKL4, L4/Fiasco). Right now, the ACPI driver is incompatibl

[2015-01-10 14:49] chelmuth commented on #1359
Your proposals give us a very good starting point to finally cleanup the device handling. I already have a question about the session to the platform driver: May it suffice to provide only one device per session or do we still need the notion of a (virtual) bus incl. interfaces for iterating over devices on the bus?

[2015-01-10 14:54] nfeske commented on #1359
After thinking a bit more about the new run version, it occurred to me that, given the new degree of modularity, we could even get rid of the concept of run environments. After your restructuring, the remaining functionality of the run environments comes down to the assembly of the boot directory. So how about just modelling this as a run step? We could introduce a ```tool/run/boot_dir/``` directo

[2015-01-10 14:57] nfeske commented on #1359
As a (rather cosmetic) issue, I find the term "output" a bit too generic. I would prefer to rename "output" to "log" to draw the connection to core's LOG service. Would that be ok?

[2015-01-10 14:58] nfeske commented on #1359
Oh, wrong issue. Sorry.

[2015-01-10 14:58] nfeske commented on #1355
After thinking a bit more about the new run version, it occurred to me that, given the new degree of modularity, we could even get rid of the concept of run environments. After your restructuring, the remaining functionality of the run environments comes down to the assembly of the boot directory. So how about just modelling this as a run step? We could introduce a ```tool/run/boot_dir/``` directo

[2015-01-10 14:59] nfeske commented on #1355
As a (rather cosmetic) issue, I find the term "output" a bit too generic. I would prefer to rename "output" to "log" to draw the connection to core's LOG service. Would that be ok?

[2015-01-10 15:05] nfeske commented on #1359
I would keep the platform-session interface separate from the device interface - at least for now. I expect that the platform-session interface will certainly contain things that are not merely about handing out device resources. For example, on the Raspberry Pi, the platform driver contains the interface to the Videocore.

[2015-01-10 15:21] nfeske commented on #1359
On the other hand, the Videocore access could be handled by introducing a dedicated "Videocore" session interface, which the Rpi platform driver could provide besides the "Device" service. That might be even cleaner. Hmm... So maybe the idea to completely disregard the bus concept is not too far off. I would probably still stick to it at first - just to prevent too many architectural changes at on

[2015-01-10 17:11] chelmuth commented on #1359
Agreed.

[2015-01-10 17:31] cnuke commented on #1355
Well, we could do that but than we would have to add the `run_genode_until` hook at a different location.

Changing output to log is fine by me.

[2015-01-12 09:42] skalk commented on #1355
I wouldn't replace 'reset' with 'poweron' and 'poweroff'. Althoug when reseting via AMT or network-controlled power plug we always do 'poweroff' && 'poweron' to reset, there is a new case where we use a switch connected to the reset jumpers of a PC. In that case, we really just want to do a 'reset'.

[2015-01-12 09:49] nfeske commented on #1355
For this case, we could configure the buildbot's build directory to simply use a poweron/reset step that performs just that - a reset.

[2015-01-12 09:50] nfeske commented on #1355
We would not use the run mechanism for powering-on the machine.

[2015-01-12 10:34] skalk opened #1360 "imx31: remove platform"
As already discussed on the mailing list, I'd like to remove this outdated and not used platform from Genode to reduce maintainance overhead.

[2015-01-12 10:34] m-stein commented on #1360
:+1:

[2015-01-12 10:34] nfeske commented on #1360
I agree.

[2015-01-12 10:39] alex-ab commented on #1343
Some new infos. Just disabling the vpid feature but not the pcid feature also helps. And it seems to be a 64bit only problem (pcid are only supported for 64bit anyway, but the vpid feature also is there on 32bit). So a overview:

multiple Seoul VMs - 32bit Tinycore/Linux guest
------------------------------------------------------------
32bit host  cmdline "serial iommu"            - works
64bit h

[2015-01-12 10:47] chelmuth commented on #1360
I'll instantly merge your commit to staging!

[2015-01-12 10:52] chelmuth commented on #1355
[code]

[2015-01-12 10:53] chelmuth commented on #1355
Sorry, this is the error I had
[code]

[2015-01-12 10:55] skalk commented on #1360
@chelmuth : feel free to do so ;-)

[2015-01-12 13:28] #1337 closed

[2015-01-12 13:28] #1339 closed

[2015-01-12 13:28] #1340 closed

[2015-01-12 13:28] #1341 closed

[2015-01-12 13:28] #1346 closed

[2015-01-12 13:28] #1348 closed

[2015-01-12 13:28] #1350 closed

[2015-01-12 13:28] #1351 closed

[2015-01-12 14:00] alex-ab commented on #1345
Just a question. I don't like to "pollute" my shell history with all kind of hashes - therefore I use a script very very similar to yours @chelmuth. It simply sets in contrib/<portname>-hash a symbolic link to contrib/<portname>, so that I can reuse my last commands when switching branches and potentially versions of ports. So, does it also qualify for addition ?

[code]

[2015-01-12 14:10] nfeske commented on #1345
Interesting. I have nothing against adding such snippets to tool/ports. It seems very convenient. But we have to give it a proper name. In my opinion, "update_link" does not cut it. What do you think about referring to your link as a "shortcut" (what it is, right?) and hence calling the script "update_shortcut" or simply "shortcut"? The notion of such a "shortcut" could then be described in the po

[2015-01-12 14:14] chelmuth commented on #1345
Now, we only have to decide which snippets should go into *tool/port*
- [ ] current_hash
- [ ] current
- [X] shortcut

[2015-01-12 14:19] nfeske commented on #1345
True, there is a little overlap here ;-)

Personally, I would possibly like to use the "current" script. Getting a complete directory is quite handy.

[2015-01-12 14:21] cnuke commented on #1345
Creating a symlink is something I do by using another tool. Therefore +1 for “current”.

[2015-01-12 14:38] chelmuth commented on #1345
So, I'll go for current and shortcut if there are no objections.

[2015-01-12 17:09] ssumpf opened #1361 "dde_rump: Upgrade to current head"

[2015-01-12 20:15] cnuke commented on #1355
While moving <base>/run/env → tool/run/boot_dir it came to my attention that we have to deal we the handling of the kernel msg that is used by `log/serial`. What was the reason for checking it in expect in the first place?

All in all I am still not convinced that getting rid of the run env is really necessary…

[2015-01-12 20:25] chelmuth commented on #1355
IMO the intention of the kernel message was to differentiate between simple boot errors and run-rime issues of the test itself.

[2015-01-12 20:46] cnuke commented on #1355
Ah thanks, that makes sense. Now, where to put the kernel msg string, `boot_dir` is not the right choice and creating another type of module is likely unjustified.

[2015-01-13 01:05] NobodyIII opened #1362 "AHCI doesn't work on (some) real hardware"
This is the problem I've talked about on the mailing list. Basically, AHCI doesn't work with my SSD. In my latest Genode scenario I've tested, I used a read-only version of test-blk-cli. The test gave no output. Here is the serial output from Genode:

Hello World.
Need 015d8000 bytes to relocate modules.
Relocating to bcb39000:
Copying 260616 bytes...
Copying 10485760 bytes...
Copying 296724 bytes

[2015-01-13 10:29] skalk commented on #1362
When looking at your log output, I can see that you start rom_blk as well as ahci. Both components announces a block service. Would you please provide your run script too?

[2015-01-13 15:18] NobodyIII commented on #1362
I can't right now, but ROM_blk is there so I can easily switch between it
and AHCI. My configuration should not be the issue.
On Jan 13, 2015 3:29 AM, "Stefan Kalkowski" <notifications@github.com>
wrote:

[2015-01-13 16:37] cproc opened #1363 "vbox: use libc's 'gettimeofday()' function"
Currently, VirtualBox uses its own 'gettimeofday()' implementation, which asks the RTC service for the current time twice on every call, which can cause VM execution to stall noticeably. Genode's libc has a more optimized 'gettimeofday()' implementation now, which can be used instead.

[2015-01-13 18:40] cproc opened #1364 "vbox: 'poke' fixes"
On Linux, an 'external interrupt' VM exit occurs on a regular basis, so it is not always necessary (or does not matter much if forgotten) to pass the 'VMNOTIFYFF_FLAGS_POKE' flag to the 'vmR3HaltGlobal1NotifyCpuFF()' function, which is supposed to wake up the EMT thread. On Genode, VirtualBox does not get these regular VM exits, so we need to make sure, that the EMT thread is actively woken up if

[2015-01-13 21:20] alex-ab opened #1365 "vbox: irq injection in recompiler mode not working properly"
A Tinycore Linux image does not boot anymore after the upgrade from Virtualbox 4.2. to 4.3. The bootloader starts and shows a bootmenu with a timeout - which does not tick down to 0 instead it stays at 60s. At this moment only the recompiler code is running.

[2015-01-14 11:09] skalk commented on #1362
It would be nice anyway to take exactly your configuration to reproduce your results. Please post it as soon as you have access to it again. Thanks in advance.

[2015-01-14 11:17] skalk opened #1366 "rpi: run scripts not ready for platform"
Several run scripts aren't ready to be used on top of RaspberryPi (rpi), especially some that require a network driver, e.g.: noux_net_netcat.run.
On the other hand, there is for instance the rump kernel that doesn't work on ARM v6 platforms (like rpi). Run-scripts testing rump should exclude such platforms therefore.
And some run-scripts on rpi in general are working, but the very slow automatica

[2015-01-14 12:01] alex-ab opened #1367 "vbox: virtualbox_auto_disk.run times out on T400 Lenovo Thinkpad"

[2015-01-14 13:14] cnuke commented on #1355
Alright, I have incorporated all remarks so far (I did not squash the commits into a single one for now).

The new run tool is briefly tested by running a few simpler run scripts on various platforms (AMT/AMT + USB serial on nova and foc, hw_pbxa9 and linux).

To try out the new run tool, just check out https://github.com/cnuke/genode/commits/modular_run, create a new build directory, e.g. `tool/c

[2015-01-14 13:32] alex-ab opened #1368 "base: core log service does not prepend in every case properly the label of clients"
If newlines are in the string send to the core log service, they don't get the label properly appended before each output. The messages then look like they are coming from core. Especially virtualbox output during a "Guru Meditation" error dump distort the output heavily.

[2015-01-14 13:33] chelmuth commented on #1355
:+1: I'll give it another shot then.

[2015-01-14 13:36] alex-ab commented on #1368
please review and set to fix if you think it is appropriate ...

[2015-01-14 17:58] wolfgang42 opened #1369 "hello_tutorial: Some of the filenames are not given"
I just went through the hello tutorial, which was very helpful in understanding how the code is organized and how the Genode architecture works. However, not all of the code snippets have filenames specified, which means that I needed to grep the hello_tutorial included in the source tree to figure out where some of the code was supposed to go.

[2015-01-14 21:55] NobodyIII commented on #1362
Here it is.

On Wed, Jan 14, 2015 at 11:09 AM, Stefan Kalkowski <notifications@github.com

[2015-01-15 09:20] chelmuth commented on #1362
@NobodyIII the files did not make it to Github. I suggest you open a https://gist.github.com/ and post the link in this thread.

[2015-01-15 12:36] cnuke opened #1371 "lxip: fix udp poll"
The sock_op poll operation expects as first argument a pointer to a `struct file` object. The poll implementation of the TCP protocol ignores this argument whereas the UDP protocol checks the f_flags field. Up to now our port always used `0` as argument which ends in a NULL-pointer dereference in the
UDP implementation if a UDP socket is polled.

[2015-01-15 13:26] ssumpf commented on #1329
@chelmuth: Please push 06d1992 to staging.

[2015-01-15 13:35] nfeske commented on #1371
It would be nice to have a short description of the symptom that is solved by the fix in the description of the issue.

[2015-01-15 13:49] chelmuth commented on #1329
The raw patches are not yet in staging. I'll address them beginning of next week. @nfeske are you okay with the implementation or do you have any objections?

[2015-01-15 13:51] chelmuth commented on #1371
From the commit message, I would expect a NULL-pointer dereference, right?

[2015-01-15 13:59] nfeske commented on #1329
Props to @ssumpf! It is a joy to skim over the patches. I just left a few (cosmetic) remarks concerning the public headers.

[2015-01-15 15:09] NobodyIII commented on #1362
Here is a Google Drive link.
   config
<https://docs.google.com/file/d/0Byr3WX_C3550WGlXZ2doUDNVWGtZQnFwWFVUTHBQaDVZZS00/edit?usp=drivesdk>
On Jan 15, 2015 2:20 AM, "Christian Helmuth" <notifications@github.com>
wrote:

@NobodyIII <https://github.com/NobodyIII> the files did not make it to
Github. I suggest you open a https://gist.github.com/ and post the link in
this thread.

—
Reply to this emai

[2015-01-16 15:59] nfeske opened #1372 "Separate known-to-work from experimental run scripts"
Currently, there exist approximately 200 run scripts scattered over the various `repos/<repo>/run/` directories. Reportedly, the number and varying quality of the run scripts is cumbersome to newcomers. There exist different kinds of run scripts:
- The 47 run scripts listed in `tool/autopilot.list` are executed each night on various base platforms. Genererally, they are known to work and they are

[2015-01-16 16:41] cnuke commented on #1372
:+1: On that account, I would adapt the run scripts executed by the autopilot to work with the new run tool. The remaining run scripts can than be adapted on demand.

[2015-01-16 17:15] nfeske commented on #1372
@cnuke Good call!

[2015-01-16 20:47] nfeske opened #1373 "Init: support aliases for child names"
It would be nice to be able unify init configurations across different platforms.

Right now, when declaring an explicit route to a ```fb_drv``` server in a run script, the run script won't work on Linux because on this platform, the framebuffer driver is called ```fb_sdl```. If ```fb_drv``` had a way to also appear under the name ```fb_drv```, the route could be resolved.

Another example is the

[2015-01-19 11:49] chelmuth commented on #1372
:+1:

[2015-01-19 11:54] chelmuth commented on #1373
The feature overlaps somewhat with the combination of `<start>` and `<binary>` as we we use it currently in some scripts. But regrettably I can't come up with a clear solution to prevent the overlap.

[2015-01-19 12:08] nfeske commented on #1373
I fail to see how this feature overlaps with the ```<binary>``` sub node. The ```<binary>``` sub node is barely a feature. It defines how the binary of a component is called. The support for omitting the ```<binary>``` in the special case where the binary name equals the component name may be considered as a feature. But how does it overlap with the ```<alias>``` that I proposed? An alias allows o

[2015-01-19 12:21] chelmuth commented on #1373
Thanks for the clarification.

[2015-01-19 21:27] cnuke commented on #1355
I cleaned up the commits and it is eventually ready for staging. We have to adapt the buildbot & co first, though.

[2015-01-20 09:33] chelmuth commented on #1355
Please replace the multiple `Fixes #1355` annotations by just a reference to the issue on next branch update. Only the final commit should close the issue.

[2015-01-20 09:43] cnuke commented on #1355
Okay, I will keep that in mind the next time.

[2015-01-20 10:38] #786 closed

[2015-01-20 10:38] #1133 closed

[2015-01-20 10:38] #1345 closed

[2015-01-20 10:38] #1356 closed

[2015-01-20 10:38] #1358 closed

[2015-01-20 10:38] #1360 closed

[2015-01-20 10:38] #1363 closed

[2015-01-20 10:38] #1364 closed

[2015-01-20 10:38] #1365 closed

[2015-01-20 10:38] #1366 closed

[2015-01-20 10:38] #1367 closed

[2015-01-20 10:38] #1368 closed

[2015-01-20 10:38] #1373 closed

[2015-01-20 11:11] chelmuth commented on #1361
Fixed by f01472b3089458d868386d0782527a40d6849a79?

[2015-01-20 20:49] cnuke opened #1374 "noux: do not use the libc for sleeping"
tl;dr since nanosleep(2) creates another on behalf of the calling process, which does not work with Noux childs, we handle sleeping now locally in Noux.

Our _nanosleep(2) implementation uses a Timed_semaphore that internally creates a alarm-timer thread to handle the timeout. This approach does not work when used by Noux and I am quite amazed, that up to now no program in Noux actually called nan

[2015-01-21 11:02] cnuke commented on #1355
@nfeske please merge the fixups to staging.

[2015-01-21 11:05] nfeske commented on #1355
@cnuke done.

[2015-01-21 13:32] nfeske opened #1375 "Arora plugin demo is not working"
Since the change of nitpicker's configuration and the introduction of domains, the Arora plugin demo no longer works.

[2015-01-21 13:35] nfeske opened #1376 "Backdrop: dynamically respond to config changes"
By enabling the backdrop application to dynamically respond to configuration changes, backdrops could be designed in the fly by editing the configuration of a running backdrop via vim.

[2015-01-21 13:39] nfeske opened #1377 "fs_rom: Avoid superfluous dataspace re-allocations"
The fs_rom service re-allocates a new ROM dataspace each time when the corresponding file changes. The re-allocation flushes all mappings for the original dataspace. This overhead could be avoided by keeping the existing dataspace but merely replace its content as long as the file content fits into it.

[2015-01-21 13:47] nfeske opened #1378 "rom_prefetcher: Avoid starving concurrent processes"
The ROM prefetcher is meant to act as a background process to fill the block cache of a file-system server with useful data. However, it should do so without negatively affecting the performance of other components. The current version fetches ROM modules in a busy loop. Those ROM modules are normally provided by a (high-priority) ROM service. Because the ROM server does not distinguish different

[2015-01-21 13:50] nfeske opened #1379 "loader: Make CPU session upgradable"
The current version of the loader ignores requests from the loaded subsystem to upgrade CPU sessions. This impedes the scalability of the loader mechanism.

[2015-01-21 16:01] nfeske opened #1380 "tool_chain_rump build fails with GCC 4.8.1"
On my Ubuntu  13.10 system, ```./tool/tool_chain_rump build``` fails with the following error:

[code]

The GCC version is ```gcc (Ubuntu/Linaro 4.8.1-10ubuntu9) 4.8.1```.

[2015-01-21 17:27] chelmuth commented on #1380
It may help to `apt-get install gcc-4.7` but I did not try `CC=gcc-4.7 tool/tool_chain_rump` myself yet.

[2015-01-21 19:08] cnuke commented on #1372
All non-regularly tested run scripts are moved to `repos/attic/run`. Each script is prefixed with the name of the repository it came from (that should make it easier if its eventually moved back later).
The next point on the to-do list would be adapting the documentation.

[2015-01-22 10:32] cnuke commented on #1355
@nfeske please merge those two fixups to staging.

[2015-01-22 10:44] nfeske commented on #1372
@cnuke Great that you went ahead with the creation of the attic. But please let us keep the original run-script names. Adding a prefix like you did has two disadvantages:

1. I breaks all documentation and mailing list postings where we gave an instruction like ```make run/<run-script-name>```. Moving a run script back to its original repository would break it again.  This is really bad.

2. The n

[2015-01-22 10:46] nfeske commented on #1355
Done.

[2015-01-22 10:57] cnuke commented on #1372
Fine by me.

[2015-01-22 11:08] nfeske commented on #1380
No luck with specifying gcc-4.7:

[code]

[2015-01-22 11:18] nfeske opened #1381 "vfs / rtc_file_system: remove dependency from libc"
The ```Rtc_file_system``` includes the libc header ```time.h``` in order to call ```localtime()```. Unfortunately, this convenience shortcut makes the VFS depend on the libc. It eventually prevents us from moving the VFS into a stand-alone library to be used by libc-less programs. To solve the issue, I see two approaches:

1. We could host the code for the time conversion within the ```Rtc_file_sy

[2015-01-22 12:24] cnuke commented on #1381
:+1: for the second option.

[2015-01-22 13:03] cnuke commented on #1380
This assignment misses a cast, I'll prepare a patch.

[2015-01-23 12:41] cnuke commented on #1355
@nfeske or @chelmuth please merge to staging.

[2015-01-23 15:49] cnuke commented on #1355
@nfeske could you please merge the last two commits 29e7285 and 2914f47 to staging.

[2015-01-23 16:05] nfeske commented on #1355
I have merged the commits. Thanks for the reminder.

[2015-01-24 09:55] cnuke commented on #1355
@nfeske or @chelmuth please merge both commits to staging.

[2015-01-24 11:32] chelmuth commented on #1355
The commits just entered staging.

[2015-01-25 20:10] tomga commented on #1381
I don't know why this call to `localtime()` is needed but second option seems to force all users of generic api `Rtc::Session` to use single time zone - local. Or maybe proposed change suggests to only add some time conversion functions to provide similiar functionality to provided right now by libc.

I don't know if I can find time but I would investigate why `localtime()` is needed at all in vfs

[2015-01-25 21:03] nfeske opened #1382 "hw: print useful information if an unresolvable page fault occurs"
Right now, core on base-hw merely prints a brief message when a thread dies because of an unresolvable page fault

[code]

On NOVA, the response of core is far more useful:

[code]

It would be nice to have such diagnostic information available on base-hw, too.

[2015-01-26 08:28] cnuke commented on #1381
Well, presentation is precisely the point of `/dev/rtc`. It should provide the user with the current date in human readable form. Using `localtime()` at this point was merely a convenient but arguably a bad call to convert the UNIX timestamp given by the Rtc_session to a `struct tm`.

The proposed change of API involves replacing the method giving the UNIX timestamp with a method that returns a mo

[2015-01-26 08:38] chelmuth commented on #1381
I'd also like to emphasize that the RTC service will provide the time in UTC. For me it makes no sense to configure the hardware RTC in local time since even MS Windows supports RTC in UTC.

[2015-01-26 11:42] #1344 closed

[2015-01-26 11:42] #1355 closed

[2015-01-26 11:42] #1369 closed

[2015-01-26 11:42] #1371 closed

[2015-01-26 11:42] #1375 closed

[2015-01-26 11:42] #1376 closed

[2015-01-26 11:42] #1377 closed

[2015-01-26 11:42] #1378 closed

[2015-01-26 11:42] #1379 closed

[2015-01-26 11:45] nfeske commented on #1380
Thanks. After your update, it works.

[2015-01-26 11:45] #1380 closed

[2015-01-26 11:53] chelmuth commented on #1361
Feel free to reopen the issue if you disagree f01472b is a fix.

[2015-01-26 11:53] #1361 closed

[2015-01-26 19:36] nfeske opened #1383 "doc: mention package dependencies needed for ports"
The getting-started documentation mentions the minimal set of packages needed to start using Genode. But the information about the packages needed to use all the ports is missing.

[2015-01-26 22:50] tomga commented on #1381
I haven't been considering RTC in non UTC. It's just I've always thought about `time_t` as representing concrete time in timezone independent way and `struct tm` as timezone aware structure.

Given that I expect that client application to get presentation in local time (or some other time zone) would have to convert received `UTC tm` to `time_t` and then to `local tm`. Maybe this way of thinking i

[2015-01-27 09:48] chelmuth commented on #1381
@tomga depicts what I also thought about the limitation to a structured timestamp value only. Therefore, I propose to provide RTC like follows.
[code]

[2015-01-27 09:54] nfeske commented on #1381
@chelmuth Isn't ```epoch_time``` redundant? It can be calculated from the other values, doesn't it?

Apart from that, such a structure is exactly what I had in mind.

[2015-01-27 10:13] chelmuth commented on #1381
@nfeske you're right: For the calculation of epoch_time from the values above the reverse of computation of localtime() is needed. This function is currently implemented in RTC. Would it be an option to provide this utility?

[2015-01-27 12:17] cnuke commented on #1381
The current pending implementation already uses the structure proposed by @chelmuth minus the `epoch_time` field. For all clients using libc this API change is insvisible. For all other clients, the only change is, that a `mktime()`-like function has to be executed locally if a `time_t`-like value is needed. If you really need more functionality than that, using the libc is currently your only opt

[2015-01-27 12:24] nfeske commented on #1381
@cnuke Please leave out the notion of UTC in the RTC session interface. At the session-interface level, the timezone should not be a concern. E.g., whereas an RTC driver might produce a UTC time, a local_rtc server may be used to transform the UTC time reported by the driver to a local time and, in turn, offer this local time as another RTC service. Since both services would provide the same RTC s

[2015-01-27 12:29] cnuke commented on #1381
Yeah, sorry about mentioning that. There is obviously no notion of UTC at the RTC session interface.

[2015-01-27 14:48] ehmry commented on #1120
This test passes for me now, though I'm not sure I covered everything.

[2015-01-27 15:09] tomga commented on #1381
So you were choosing which clients of `RTC` clients are forced to use `libc` as a dependency. Currently you are considering usage in logs so you've chosen a structured variant. If later you will somewhere need to quickly count execution time of some operations you will be forced to use functions from `libc` to convert to `time_t` like value to be able to subtract values.

Maybe it is really better

[2015-01-27 15:39] nfeske commented on #1381
@tomga I do not understand this controversy at all. Please consider the following:

* You can have a separate component that is both an RTC client and an RTC server. Such a component can perform arbitrary transformations (like UTC to local time). There can even be an arbitrary number of such components present, each presenting a differently transformed time.

* RTC clients are not forced to use th

[2015-01-27 18:31] tomga commented on #1381
@nfeske, you wrote: "RTC requests are rare" and that was the information I was missing. I assumed that it can be used quite extensively - due to number of clients - almost every process. Thanks for explanation.

[2015-01-27 19:32] chelmuth commented on #1381
@cnuke I'd like to merge your changes to staging, but do you agree we should squash all commits into one? The intermediate steps will not compile not to mention work properly, right?

[2015-01-27 20:38] cnuke commented on #1381
@chelmuth yeah sure, it's fine by me.

[2015-01-28 12:28] ssumpf opened #1385 "USB driver does not compile for Pandaboard"

[2015-01-28 15:43] cnuke opened #1386 "noux: prevent override in SYSCALL_STAT"

[2015-01-30 16:16] skalk opened #1387 "hw: support for large physical address extension"
ARM's large physical address extension (LPAE) is a prerequisite to support ARM's virtualization extensions.

[2015-01-30 17:06] ehmry opened #1388 "File system node locking"
Ported programs will inevitably need to lock files to prevent race conditions between processes.

A simple way to do it would be lock files (the file x is locked when the file x.lock is present), but without access to global process information I think would be difficult to identify stale locks.

A server that stores lock information and proxies File_system service to another File_system server se

[2015-02-02 10:46] skalk opened #1390 "foc: l4android doesn't compile nor run"
Currently, the compiler argues about the Genode ballooning driver, which was developed using l4linux and a more recent version of Linux. Moreover, it bleats about a cxx library related issue that was already fixed for L4Linux with commit eab8217bdb9f186d94840d038d915f2dd7d473ca

[2015-02-02 15:13] li94575 commented on #1390
I have replaced the funtion "l4re_ma_alloc" with previous version, namely, all memory is allocated once. and that error has gone, I don't know if it will affect other parts.

[2015-02-03 12:54] skalk commented on #1390
@li94575 would you try out above commit 2858242 ? You will need to prepare l4android once more, I've moved our patches to a git clone of l4android.org.

[2015-02-03 14:09] cnuke opened #1392 "tool/run/README: wrong arguments in examples"

[2015-02-03 14:35] li94575 commented on #1390
OK, I'll try out above commit, and prepare l4android again.

[2015-02-04 02:46] czzcz commented on #1390
When prepared L4android ,  I got a fatal error: reference is not a tree...
I guess there is something wrong with your git url.

[2015-02-04 08:01] skalk commented on #1390
sorry, I've missed one update of the tree, now it's commit 60e5ec532d0094fc8e9906b5ddbd5e066a8143e9

[2015-02-04 09:07] ssumpf opened #1393 "rump: Fix startup latency"
On some kernels rump requires up to 10 seconds to bootstrap.

[2015-02-04 11:09] alex-ab opened #1394 "nova: support usage of just one pager for all threads of one cpu"
On Genode/Nova we have currently one pager thread in core per each client thread in the system. We are forced to do so, since in core not every page fault can be resolved immediately - instead it get resolved later in time by another component. For this time period the pager thread must be blocked and can't be used by other threads.

Instead of blocking the thread in userland it would be useful to

[2015-02-04 11:38] cnuke opened #1395 "log/serial: decrease timeout"

[2015-02-04 11:39] cnuke commented on #1395
@chelmuth @nfeske please merge to staging.

[2015-02-04 13:20] skalk opened #1396 "hw: platform ODROID XU kernel does not come up"
Due to needless redundancy between the boards Arndale and ODROID XU, several changes made and tested via Arndale did not reached the code base of ODROID although both are quite similar, as they ground on Exynos5 SoC.

To prohibit such regression, I vote for eliminating all code duplication of both platforms.

[2015-02-04 13:21] m-stein commented on #1396
:+1:

[2015-02-04 13:27] skalk commented on #1396
was confirmed by m-stein

[2015-02-04 14:01] skalk opened #1397 "run: support fastboot tool to load images"
Support to load images via TFTP is not supported very well in u-boot for some ARM devices. The 'fastboot' tool coming from the Android world more and more replaces it for many users. Thereby, network boot in u-boot gets neglected. To enable automated testing for such platforms (like ODROID XU) image loading via fastboot is desired.

[2015-02-04 14:08] nfeske commented on #1388
I like your proxy idea. This way, the file-system session interface could probably stay clean of the locking feature.

[2015-02-04 14:30] alex-ab commented on #1394
Seems to work. I need some more time for testing some advanced features like single-step and some stress testing (bomb, noux_tool_chain), but maybe some may have a look. There are some parts which look ugly and I open for useful suggestions to change that ;-).

[2015-02-04 14:57] ehmry opened #1398 "libports: sqlite"
SQLite has an OS abstraction layer that handles interaction with filesystems and the system time, so a robust port can be made that is ignorant of SQLite's core.
http://sqlite.org/vfs.html

In order to share databases between processes, file locking is required.
https://github.com/genodelabs/genode/issues/1388
http://sqlite.org/lockingv3.html
http://sqlite.org/wal.html

I have a working SQLite VFS

[2015-02-04 15:46] ehmry opened #1399 "ports: nix"
That is a glossy overview, the real details are here: http://dspace.library.uu.nl/handle/1874/7540.

Nix would be useful for building Noux packages and managing Noux environments, and possibly building and managing native components.

I would break the internals of Nix into three categories, inputs and expression evaulation, output building, and outputs managment. Input and expression evaulation i

[2015-02-04 18:29] cnuke opened #1400 "vfs: do not return early on directory operations"

[2015-02-05 14:10] ssumpf opened #1401 "usb_drv: Does not always come up on RPI"
Under heavy load the HUB does not come up and no port status changes are observed, rendering the controller useless.

[2015-02-05 14:27] li94575 commented on #1390
@skalk I have tested the new l4android with your patches, that error did not appear. Thank you!  Can you tell me which files have been changed in l4android?

[2015-02-06 10:44] ssumpf opened #1402 "pistachio: Does not boot on platforms with +4GB of RAM"
Bender relocates boot modules at to the highest possible free physical memory region. Since core identity maps the modules, it might end up accessing kernel reserved memroy (>=0xc0000000).

[2015-02-06 10:49] nfeske opened #1403 "nova: move core UART driver to base/include/drivers/x86/"
Currently, the UART driver for x86 as used by core on NOVA resides in ```base-nova/src/base/console/core_console.h```. To make the driver reusable for user land UART drivers as well as other base platforms, it might be sensible to move the driver logic to a central place.

[2015-02-06 14:35] skalk commented on #1387
@m-stein I've updated and rebased the commits according to your suggestions, would you please check it once more resp. confirm it?

[2015-02-06 16:24] m-stein commented on #1387
@skalk: Thank you for your modifications :)

[2015-02-06 17:33] cnuke commented on #1395
As @skalk mentioned earlier today, decreasing the timeout broke a few tests. reverts this994f66e  change and adds back the old behavior whereat the boot and run script timeouts are handled in separate ways by checking a kernel specific string.

There are probably other ways to handle this problem, like the timeout dance in `log/amt`, but I figured we might as well also store the kernel specific st

[2015-02-09 07:31] nfeske commented on #1402
@ssumpf Could you please add a link to the modified bender source code here?

[2015-02-09 08:59] m-stein opened #1404 "hw: don't use ARM CPU-state stuff in generic code"

[2015-02-09 11:02] nfeske commented on #1404
Thanks, merged to staging.

[2015-02-09 11:22] nfeske commented on #1394
Could you assist me with spotting the ugly parts ;-)

The only part that I do not like is the repetitive code for the exception handlers. I am wondering, do we really need all of them? If yes, couldn't we host them as ```Exception_handler``` object members of the ```Pager_object```? The portal creation could be done in the constructor of the ```Exception_handler``` and the handler function could b

[2015-02-09 11:38] skalk commented on #1387
@nfeske : I've rebased it to staging again, please apply above commits first before applying additional base-hw changes.

[2015-02-09 12:49] nfeske commented on #1387
Merged to staging.

[2015-02-09 13:17] alex-ab commented on #1192
With the changes of the commit the gdb_monitor*.run scripts work in general again, so foc does, nova sometimes. (This is the same state as before the run tool adaptation and shared library new implementation). @nfeske: please add the one commit to staging if @skalk aggrees.

[2015-02-09 13:23] skalk commented on #1192
@alex-ab : I'm a bit alienated why you ask for my permission, but certainly you have it. I'm glad to see gdb_monitor run script to succeed again!

[2015-02-09 13:29] alex-ab commented on #1192
@skalk: because the commit does not fix entirely your reported problem, only partially - thatswhy ;-)

[2015-02-09 14:04] alex-ab commented on #1045
@nfeske: commits of #696 and #1045 are fixups to make our test machine happy on 32bit host and fixes this issue

[2015-02-09 14:10] nfeske commented on #1045
@alex-ab Looks very good. Merged into staging.

[2015-02-09 14:17] alex-ab commented on #1394
We need them actually only for debugging reasons. So based on the exit you may identify the reason what went wrong. Gdb could be the only user actually and we, the human.
I tend towards 'yes'. I try to make it a bit nicer.

Yes.

One which is left is that I start several Pager_activations threads (one per CPU) under the hood of core. The general interface looks like that just one is running, but a

[2015-02-10 11:02] cnuke commented on #1395
@nfeske please merge 20ba82b also to staging.

[2015-02-10 13:38] skalk opened #1405 "hw: use ARM's virtualization extensions"

[2015-02-10 14:21] alex-ab commented on #1402
@nfeske: please replace the original commit by the new one.

[2015-02-10 14:26] m-stein commented on #1393
@nfeske: I've added a [fixup](https://github.com/m-stein/genode/commit/df429f501bb5641f97cd52696b81aaeffc450c0d) that should fix problems with hw.rump_ext2.

[2015-02-10 14:34] nfeske commented on #1402
@alex-ab I actually had to cherry-pick your patch atop of the original commit. I have squashed both into one commit and pushed the result to staging.

[2015-02-10 14:36] nfeske commented on #1393
@m-stein this should not be a fixup for the rump-fs commit but rather than an individual commit, don't you think so? If you agree, I would change the commit message accordingly.

[2015-02-10 14:41] m-stein commented on #1393
:+1:

[2015-02-10 20:17] alex-ab commented on #1402
@nfeske: please add also to staging - humanreadable message if this overlap of regions happens next time

[2015-02-11 10:46] alex-ab commented on #1402
@nfeske: please add the fixup commit to staging "fixup nova: detect overlapping module regions"

[2015-02-11 10:54] skalk opened #1406 "hw: extend "undefined instruction" warning"
We should extend the warning by additional information about who faulted at which instruction pointer.

[2015-02-11 10:58] m-stein commented on #1406
:+1: If we put it directly into void 'Thread::_stop()' it gets printed on other thread misbehavior too.

[2015-02-11 11:35] m-stein commented on #1406
Maybe even code from the ``_print_activity_table`` back-ends can be reused.

[2015-02-12 11:38] cnuke commented on #1395
@nfeske please merge 52ebf3c to staging.

[2015-02-12 14:28] ehmry opened #1407 "Noux: initial working directory"
Noux should be able to set its intial working directory from a its config before starting its child. Without this a shell would be needed to change the directory for a programs that cannot do this for themselves.

[2015-02-12 16:45] nfeske commented on #1407
The current working directory is actually handled via an environment variable. Please have a look at ```ports/src/lib/libc_noux/plugin.cc``` and look for ```NOUX_CWD```. So maybe we are lucky and the initial working directory can be already defined by setting this environment variable in the noux configuration (similarly to how we use to define the TERM variable)?

[2015-02-12 23:00] ehmry commented on #1407
Yes, NOUX_CWD is working for me, thanks.

[2015-02-12 23:00] #1407 closed

[2015-02-13 00:53] ehmry opened #1408 "Noux: exit with init child"
Noux currently does not exit when its first child exits.

I fixed that but I get an error thrown after Noux main returns:
C++ runtime: Genode::Signal_receiver::Context_not_associated

Needed for https://github.com/genodelabs/genode/issues/1399

[2015-02-13 03:35] ehmry commented on #1408
I didn't actually fix it, it seems the standard io channels need to be taken care of before the init child gets destroyed.

[2015-02-13 12:17] ssumpf opened #1409 "rump: Tests fail on different platforms"

[2015-02-13 14:55] m-stein opened #1410 "hw & odroid_xu: network tests fail"

[2015-02-13 15:02] m-stein commented on #1410
I've fixed all compile and config problems but the network tests (*lwip*/*lxip*) get stuck after
[code]
I assume the platform driver or USB driver implementation to differ between Arndale and Odroid-XU and my simple approach to merge both into Exynos5 is bad.

[2015-02-16 09:30] m-stein commented on #1410
@ssumpf: My [branch](https://github.com/m-stein/genode/tree/1410_hw_odroid_xu_network_tests_fail).

[2015-02-16 10:39] m-stein commented on #1353
@skalk: Could you please review the quickfix.

[2015-02-16 12:32] m-stein commented on #1353
Fixed by https://github.com/m-stein/genode/commit/c0fbe9da31d060034d0d61f76664c135e11e5208. Should fix most buildbot problems with hw_vea9x4.

[2015-02-16 13:13] chelmuth commented on #1402
@alex-ab I double-checked that the sha1sum of _tool/boot/bender_ is as in _origin/staging_ this morning after the adventurous binary merge conflict. For the log it was 8dc9c194036f8040b52318c2cb9267b9e05cc41d.

[2015-02-16 13:15] alex-ab commented on #1402
Confirmed.

[2015-02-16 13:16] alex-ab commented on #998
@chelmuth: fixes acpi issue on test machine

[2015-02-16 16:37] cproc opened #1411 "vbox: improve virtual time accuracy"
Currently, the virtual time is calculated by converting the difference of the current and last read host time stamp counter values to milliseconds, which then get converted to nanoseconds. This conversion can have noticeable rounding errors (for example 9.999ms -> 9ms -> 9000000ns) and the errors add up, because the absolute virtual time value gets incremented by these relative values.

Better acc

[2015-02-17 13:08] cnuke commented on #1395
@chelmuth please merge 8f8292c to staging.

[2015-02-17 13:19] #696 closed

[2015-02-17 13:19] #1045 closed

[2015-02-17 13:19] #1305 closed

[2015-02-17 13:19] #1353 closed

[2015-02-17 13:19] #1374 closed

[2015-02-17 13:19] #1381 closed

[2015-02-17 13:19] #1383 closed

[2015-02-17 13:19] #1386 closed

[2015-02-17 13:19] #1387 closed

[2015-02-17 13:19] #1390 closed

[2015-02-17 13:19] #1392 closed

[2015-02-17 13:19] #1393 closed

[2015-02-17 13:19] #1395 closed

[2015-02-17 13:19] #1396 closed

[2015-02-17 13:19] #1397 closed

[2015-02-17 13:19] #1400 closed

[2015-02-17 13:19] #1402 closed

[2015-02-17 13:19] #1404 closed

[2015-02-17 15:13] chelmuth commented on #1401
Above commit is in master - can we close the issue?

[2015-02-17 15:14] chelmuth commented on #1385
This works now - can we close the issue?

[2015-02-17 15:15] chelmuth commented on #1329
The patch series is in master. Are there remaining issues or may we close this issue?

[2015-02-18 12:50] alex-ab opened #1412 "sanitize affinity location information in core and init"
Currrently it is possible to set via the cpu_session()->affinity(...) almost arbitary coordinates which will be out of range of available physical cpus. Question: should this sanitization be done in the affinity() method or should each platfrom take care (hw, foc, nova, etc) ?

[2015-02-18 12:56] chelmuth commented on #1411
@cproc your patch has issues with uint128_t on 32-bit systems. Could you develop a solution that does not need this data type or fix the problem differently?

[2015-02-19 07:38] alex-ab opened #1413 "vbox: support Windows 8 guests"

[2015-02-19 12:44] cproc commented on #1411
Fixup commit 69e5264276b3116699476ec9893af689850b761a uses 'double' instead of 'uint128_t'.

@chelmuth: please add to staging

[2015-02-19 18:27] ehmry opened #1414 "fb_sdl: improve configuration"

[2015-02-20 12:37] cnuke opened #1415 "wifi: netperf test"

[2015-02-20 23:17] ehmry opened #1416 "jitterentropy port update"
The jitterentropy collection allocator was hanging for me under certain conditions on NOVA, and updating the library fixed it for me.

Upstream changelog shows that improvments have been made: http://chronox.de/jent.html

[2015-02-21 11:36] chelmuth commented on #1414
Looks good for me, so i labeled it _fixed_. I'll merge it to our staging branch soon. BTW if your commit message contained `Fixes #1414`, the issue would be closed automatically when the commit enters the master branch. Our common workflow uses this feature regularly.

[2015-02-21 19:21] ehmry commented on #1414
Good to know. With this I thought there might be other issues with sdl that could be addressed so I left it open.

[2015-02-23 15:14] cproc opened #1417 "vbox: revert the 'PGMR3Phys{Read,Write}External' implementation"
The current implementation of these functions delegates the work to the EMT thread, which can lead to a deadlock if the delegating thread holds a lock which the EMT thread needs before it can do any of the delegated work.

This was observed in the following situation:

TAP thread:
  - e1kHandleRxPacket()
    - e1kCsRxEnter()
    - e1kRxDGet()
      - e1kRxDPrefetch()
        - PDMDevHlpPhysRead()

[2015-02-23 16:20] cproc commented on #1411
Fixup commit 42abac607fc9bc85e779195cd1b2e0dd2d80e867 uses the 128-bit type and functions provided by VirtualBox instead of 'double'.

@nfeske, @chelmuth: please add to staging

[2015-02-24 12:22] alex-ab opened #1418 "foc: thread test succeeds although not all threads got constructed correctly"
[code]

[2015-02-24 13:34] cnuke commented on #1415
@nfeske please merge abaa495 to staging.

[2015-02-24 14:00] m-stein opened #1419 "odroid_xu: prevent tests with sd/platform/ahci/fb"

[2015-02-24 14:17] m-stein commented on #1419
Fixed by this [branch](https://github.com/m-stein/genode/tree/1419_exynos5_don_t_use_when_actually_meaning_arndale) that is based on staging. Should prevent the buildbot from testing any run script on Odroid XU that is suitable for Arndale only by now.

[2015-02-24 14:45] alex-ab opened #1420 "foc: 64bit kernel dies with assertion when running genode thread test"
[code]

[2015-02-24 15:01] cproc opened #1421 "Improve 'Timed_semaphore' accuracy"
Currently, the timeout thread of the 'Timed_semaphore' increases a local jiffies counter by 10ms on each timer signal, which can be inaccurate if signals arrive later. Better accuracy can be achieved by calling 'Timer::Session::elapsed_ms()' instead.

[2015-02-24 21:06] chelmuth commented on #1421
Doesn't your approach add significant runtime overhead as each component using the timed semaphore does not only unblock in 10 ms interval but also calls the RPC 100 times per second?

[2015-02-24 21:11] chelmuth commented on #1418
Which phase of the thread test triggers the failed allocation? `test_context_alloc` creates many threads just to stress the context allocator and does not represent a real use case. IMO 64 threads is already a rather big number for one component.

[2015-02-24 21:19] alex-ab commented on #1418
So, you mean we should just limit the test case up to 64 parallel starting threads ? Currently it could be 90.

[2015-02-24 21:36] chelmuth commented on #1418
No objections from my side but I'm curious what @nfeske thinks about it.

[2015-02-24 23:12] m-stein opened #1422 "hw: tz_vmm on USB-Armory board"

[2015-02-24 23:21] m-stein commented on #1422
Fixed by [this branch](https://github.com/m-stein/genode/tree/1422_hw_tz_vmm_on_USB_Armory_board) that is based on staging.

@skalk: Please review.
@nfeske: Please merge to staging if you're ok with it.

[2015-02-24 23:25] ehmry commented on #1398
About 1/4 to 1/3 faster without libc VFS

[2015-02-24 23:47] m-stein commented on #1419
@nfeske: I've update the commits according to your suggestions on [this branch](https://github.com/m-stein/genode/tree/1419_exynos5_don_t_use_when_actually_meaning_arndale).

[2015-02-25 09:31] cnuke commented on #1415
@nfeske please merge 9e8130f to staging.

[2015-02-25 09:54] nfeske commented on #1421
@chelmuth I am not too concerned about it, at least for now:

* The timed semaphore is used by only a few (large) applications like Qt5 or VirtualBox. If almost every component used the alarm library, I would share your sentiment but this is currently not the case. I think that the uses of the timed semaphore won't grow much in the future either. I.e., I am thinking of our transition towards the n

[2015-02-25 09:59] nfeske commented on #1418
I am fine with reducing the maximum number of threads in the test,

But I have another thought: If the test is indeed meant to stress the context allocator, wouldn't it be a good idea to test the corner case where no additional context can be allocated? This corner case could be provoked without the need to create too many physical threads. Instead, we can trigger it via the ```alloc_secondary_sta

[2015-02-25 10:12] nfeske commented on #1398
@ehmry That is an impressive improvement. Now I just ask myself where all the time goes when using the libc VFS.

[2015-02-25 10:13] m-stein commented on #1422
[Updated](https://github.com/m-stein/genode/tree/1422_hw_tz_vmm_on_USB_Armory_board) to suggestions by @skalk.

[2015-02-25 10:24] m-stein commented on #1422
[Updated](https://github.com/m-stein/genode/tree/1422_hw_tz_vmm_on_USB_Armory_board) to suggestions by @nfeske.

[2015-02-25 10:25] cnuke commented on #1415
@nfeske and please merge b651597 to staging as well.

[2015-02-25 11:02] m-stein commented on #1419
[Updated](https://github.com/m-stein/genode/tree/1419_exynos5_don_t_use_when_actually_meaning_arndale) to suggestions by @nfeske.

[2015-02-25 13:29] ehmry commented on #1398
For what its worth the test isn't a realistic workload, but a lot of tiny writes from what I can tell.

[2015-02-26 08:14] cnuke commented on #1415
@nfeske please merge ad8c3be to staging.

[2015-02-27 10:52] #998 closed

[2015-02-27 10:52] #1394 closed

[2015-02-27 10:52] #1405 closed

[2015-02-27 10:52] #1411 closed

[2015-02-27 10:52] #1413 closed

[2015-02-27 10:52] #1415 closed

[2015-02-27 10:52] #1419 closed

[2015-02-27 10:52] #1421 closed

[2015-02-27 10:52] #1422 closed

[2015-02-27 10:54] #1420 closed

[2015-02-28 00:29] johnku1 commented on #1399
What exactly needs to be done for this?

[2015-02-28 02:03] ehmry commented on #1399
@johnku1 I'm not porting to Noux, I'm doing it native. Nix is broken down into a few sub-libraries, and the only one that needs much work is libnixstore. Libnixstore drives the database, manages locks, and handles the builder children. I'm rewriting some of that library now because I want native process control over the builders. Noux will sit between Nix and the Unix build processes. I was able t

[2015-02-28 18:54] chelmuth opened #1423 "init: invalid route to non-existing server"
Just now I had a typo in the routing declaration of a child in a very restrictive run script: no default routes, no wildcards. Therefore, I was surprised that everything worked as intended before and after I fixed `time` to `timer`. The only hint was
[code]
in the log. The reason is that _init.h:672_ only prints the warning but continues to lookup the service in the registry with `Genode::Server *

[2015-02-28 19:04] nfeske commented on #1423
It looks like a bug, indeed.

[2015-03-01 11:38] chelmuth opened #1424 "Xml_node does not like single -->"
I forgot to remove the closing part of a comment `-->` in my init config and xmllint did not whine. But, when starting the scenario I got
[code]
For simplicity, I adapted the printf test config
[code]
Xmllint is right to stay silent as this is valid XML according to other online validators, e.g., http://validator.w3.org/. The `-->` needs to be interpreted as TEXT resp. CDATA. In our case this mean

[2015-03-02 10:31] nfeske opened #1425 "Use new ports mechanism for base-codezero"

[2015-03-02 12:11] cproc opened #1426 "vbox: replace too strict assertion with debug message"
The 'continue_hw_accelerated' assertion at the end of the recall handler can fail if the 'Timer' thread has set a 'forced action pending' flag in the meantime, which is not an error.

[2015-03-02 13:30] skalk opened #1427 "L4Linux: framebuffer driver causes pagefaults"
The L4Linux para-virtualized framebuffer device uses a framebuffer connection as backend. Unfortunately, the 'dataspace' function is called twice. Once for determining the size, and once for attaching it. This is not recommended when using framebuffer servers that e.g. change dynamically their resolution and size. It can happen that the second 'dataspace()' call invalidates the first capability.

[2015-03-02 13:35] skalk commented on #1427
Thanks to @cproc who immediately had the right notion where to find the root cause.

[2015-03-02 13:40] chelmuth commented on #1426
I experienced this assertion too. Shouldn't we adapt the `Assert` condition according to your findings, i.e., assert that no flag beside _forced timer action pending_ is set?

[2015-03-02 13:42] cproc commented on #1426
I'm not sure if it is really an error if any of the flags is set.

[2015-03-02 13:44] chelmuth commented on #1426
So, we should find out ;-)

[2015-03-02 16:05] bjoernd commented on #1098
Is this issue still active?

[2015-03-02 17:06] ehmry commented on #1098
@bjoernd I would say no, I haven't been working on it for some time.

[2015-03-02 18:27] cproc commented on #1426
Commit 5e43f80d073b1fa4e4c4b4cc581fc246ece0902a replaces the assertion with a debug message, which gets printed if any of the 'not yet verified as safe' flags is set.

[2015-03-02 19:05] ehmry commented on #1098
If you are interest I can tidy up and hand off what I have.

[2015-03-02 22:47] bjoernd commented on #1098
That was more curiosity than a concrete interest. I'll get back to you if I need it. Thanks!

[2015-03-03 05:49] chelmuth opened #1428 "libssh: git repo for source retrieval"
http://red.libssh.org is extremely shaky these days. On the other hand, the Git repository at http://git.libssh.org/projects/libssh.git is a different server and has GPG-signed release tags. Therefore, I propose to switch from tarball download to a Git clone.

[2015-03-03 10:05] cnuke opened #1429 "part_blk: gpt support"
At the last Hack'n Hike I added rudimentary GPT support to part_blk. The current implementation first checks for a GPT and then the MBR, if `use_gpt="yes"` is added to the configuration. Although that is convenient and this works fine when using well configured mediums, it might lead to problems when the medium contains a valid GPT as well as a valid
MBR but in this case the MBR should be preferre

[2015-03-04 08:15] alex-ab commented on #1429
:+1: Works well on one of my test machines having multiple OSes installed in various GPT partitions. I would like to see a option to enforce that it just use GPT, or just MBR.

[2015-03-04 14:43] skalk opened #1430 "Tool to check all port's remote sources availability"
Such a tool would allow to regularily check for all remote 3rd party sources, independend of the 'prepare_port' tool. The tool should not download everthing, but just look whether the remote resources are available.

[2015-03-04 16:48] cproc opened #1431 "Cpu_session_component does not check thread ownership"
Currently, the functions of the 'Cpu_session_component' do not check if a given thread capability was created by this session. This could cause problems with functions which use resources that a 'Cpu_session_component' manages locally for its created threads, for example the 'Cpu_thread_component' objects.

[2015-03-04 20:07] nfeske opened #1432 "Unify indentation of the Genode API headers"
For the semi-automatic generation of the functional specification for the forthcoming Genode documentation, I desire a uniform way of how namespaces and classes are indented. In many old places, we still use the old-fashioned way:

[code]

Newer code follows a different pattern:

[code]

We should keep only the latter style in our code.

[2015-03-05 08:28] m-stein commented on #1432
:+1:

[2015-03-05 12:04] cproc opened #1434 "libc: compiler warnings for 'rtc.cc'"
When building 'rtc.cc' for the 'nova_x86_32' platform, compiler warnings appear:

[code]

[2015-03-05 12:12] skalk opened #1435 "gdb: port preparation generates files into Genode source repository"
In general, generated files should not end up in Genode's source repository. In this specific case it is especially not wanted, if you share a contrib directory between several Genode source repositories. In case of our nightly buildbot: it re-uses the same contrib directory every night without the need to prepare again and again. The current state prevents several platforms from compiling `repos/

[2015-03-05 14:22] alex-ab commented on #1343
@chelmuth, @nfeske: 1dd3dba57202a8169c1ee1dabdae288895cdbcda fixes the observed hanging system when multiple VBox VMs are running

[2015-03-05 16:30] cproc opened #1436 "qt5: save generated source files in the contrib directory"
Related to #1435.

[2015-03-05 18:13] cproc opened #1437 "vbox: wait longer for stable timer state"
Some functions in the time manager, for example 'TMTimerSet()' and 'TMTimerStop()' let VirtualBox abort with a failed assertion if the timer does not change to a 'stable' state after 1000 calls of a mixture of 'yield' and 'nanosleep'. On Genode, this happens sometimes when the 'EMT' thread is executing 'TMTimerSet()' and gets interrupted by the 'TAP' thread, which calls 'TMTimerStop()' and waits f

[2015-03-06 13:10] alex-ab opened #1438 "vbox: add support for usb controller model in guests"

[2015-03-06 13:28] cnuke opened #1439 "wifi_drv: various fixes"

[2015-03-06 13:28] skalk opened #1440 "hw: init_main_thread functions missing in core"
As @reet- pointed out in the current implmentation of base-hw/core the exception handling is not initialized, which is no problem on ARM platforms, but on x86. Moreover, initial calls done on all other platforms like env_context_area_rm_session() to reserve core's context area are lost in base-hw's core.

[2015-03-06 14:31] nfeske commented on #1435
Wouldn't it be possible to perform the generating step at the build time? In my opinion, it would be preferable to avoid custom make rules in the port files.

[2015-03-06 14:37] nfeske commented on #1437
Wouldn't the excellent commit message a candidate for an in-source comment?

On another note, could you please rebase the patch on the current staging branch? Unfortunately, it conflicts with alex` recent patch.

[2015-03-06 14:44] nfeske commented on #1329
Merged into master.

[2015-03-06 14:44] #1329 closed

[2015-03-06 14:44] #1385 closed

[2015-03-06 15:53] chelmuth opened #1441 "nitpicker: fix refresh of pointer view on stacking"

[2015-03-06 15:57] chelmuth opened #1442 "nitpicker: add hover report"
The hover reports provides information about the session currently pointed-to, i.e., hovered session. It can be enabled by the _hover_ attribute of nitpicker's report configuration element
[code]

[2015-03-09 13:31] cproc commented on #1437
@nfeske: I've rebased the commit and added the comment to the patch file

[2015-03-09 15:16] cproc commented on #1435
With commit 6fd56966f626063bcc820669269385fc419d4587, the files get generated at build time.

[2015-03-09 15:18] nfeske commented on #1435
Thanks! I merged your new commit to staging.

[2015-03-10 09:22] skalk commented on #643
It would be fine if we could close issue not valid anymore, or at least if we can reproduce it otherwise.

[2015-03-10 09:24] skalk commented on #400
Is this issue still relevant? To me it seems quite obvious that the demand for RAM increases ewith having more threads?

[2015-03-10 09:25] skalk commented on #385
Can we close this issue, or do you think we will add this for "old" ARM platforms?

[2015-03-10 09:30] skalk commented on #386
Isn't this implmented via issue #1102 ?

[2015-03-10 09:32] skalk commented on #636
Seems to be outdated to me. As far as I can see, that issue is solved in current code base. @m-stein: do you agree?

[2015-03-10 09:36] skalk commented on #504
The order seems to be reversed today: `repos/base-hw/src/base/thread/start.cc`. The thread is first bound to a PD, and then added to a RM session. Can we close the issue?

[2015-03-10 09:40] alex-ab commented on #817
I close the issue, since the bug is fixed. Just don't use unsupported MEM_ALIGNMENT values (like 8).

[2015-03-10 09:40] #817 closed

[2015-03-10 09:42] #1145 closed

[2015-03-10 09:47] alex-ab commented on #808
There will be no such development in the close future and if it happens - we may reopen the issue.

[2015-03-10 09:47] #808 closed

[2015-03-10 11:08] m-stein commented on #643
Yes, thanks for the hint.

[2015-03-10 11:08] #643 closed

[2015-03-10 11:11] m-stein commented on #400
Yes, simple misconception..

[2015-03-10 11:11] #400 closed

[2015-03-10 11:15] m-stein commented on #385
Yep, added it to my TODO instead.

[2015-03-10 11:15] #385 closed

[2015-03-10 11:17] skalk opened #1443 "hw: support for kernel-protected capabilities"

[2015-03-10 11:18] m-stein commented on #386
This is implemented for IPC. It isn't implemented for yield causes that are not known to the kernel (most prominently locks).

[2015-03-10 11:22] m-stein commented on #636
Of course.

[2015-03-10 11:22] #636 closed

[2015-03-10 11:46] m-stein commented on #504
So, we should not check for this anymore: [Commit](https://github.com/m-stein/genode/commit/a1dd75690ff65f64bacde8816a7bab62679bd6ea) is based on staging.

@skalk: Do you agree?

[2015-03-10 11:58] skalk commented on #504
No, I would not depend on the correct behaviour of core clients. If some component decides to reverse the order again, core will end up in a pagefault. Just leave it defensive like it is.

[2015-03-10 12:11] m-stein commented on #504
@skalk: Updated.

[2015-03-10 12:35] alex-ab commented on #354
The base-nova specific limitation of 256 threads in the overall system is fixed by #1394.

That no more than 256 threads per process can be created still applies - but should be not a problem. Or do we have  such applications? If not - we should close this issue.

[2015-03-10 13:27] nfeske commented on #354
I think we can close it since the limitation in core in gone now. I don't see a concrete use case where the thread limitation outside of core would hurt us.

[2015-03-10 13:34] #354 closed

[2015-03-10 13:53] alex-ab opened #1444 "vbox: support multi touch input events"
Enable support in virtualbox and our usb driver to process multi touch input events. That would enable us to use gestures in (Windows) guests.

[2015-03-10 14:08] m-stein commented on #1440
Except the two suggestions in the commit I'm fine with it.

[2015-03-10 14:11] cnuke commented on #1439
@nfeske or @chelmuth please merge the latest wifi_drv fixes from https://github.com/cnuke/genode/commits/issue%231439_2 to staging. That should fix the problems observed on 32bit platforms.

[2015-03-10 14:26] nfeske commented on #1439
I reviewed and merged the patch series into staging.

As a general guideline, I would suggest to remove commented-out code completely from the source code. I am referring to https://github.com/cnuke/genode/commit/d5d3b945461f96194db4e8442e838492115a04fe

[2015-03-11 06:48] chelmuth commented on #1439
@cnuke again I'd like to express that I'm impressed you found the cause of wrongly-named 32-bit issue :+1: I'm still shattered GCC added this empty-struct extension as these are not valid C99. So, if anybody knows about a solution to successfully compile Linux kernel code _and_ force compiler errors on empty structs, I'd like to hear about it.

[2015-03-11 07:02] chelmuth commented on #1439
Hm, should we enable `-Wc++-compat` in dde_linux?

[2015-03-11 07:36] skalk commented on #1440
@m-stein : reworked it

[2015-03-11 07:41] skalk commented on #1435
Using the new solution after preparing GDB I get the following error when compiling `run/gdb_monitor`:

[code]

[2015-03-11 07:57] m-stein commented on #1440
Thank you :)

[2015-03-11 11:46] cproc commented on #1435
Commit beb001433df6d6f8eb85b65159a97f32a2763400 should fix the problem.

@nfeske, @chelmuth: please rename the commit message of the merged commit to 'gdb: save generated files in the build directory'

[2015-03-12 10:22] alex-ab commented on #1444
This version based on staging works now reliable. Please review the input interface changes. Especially the signalling of the end of a touch event I don't like until now. Better suggestions are welcome.

[2015-03-12 11:51] alex-ab opened #1446 "nova: support sending genode signals via the kernel"
Currently Genode signal for base-nova are delivered via core. The current sending phase (omitting signal registration) protocol looks like this:

a) a signal source generates a Genode signal by sending synchronously to core a IPC
b) core notifies the receiver asynchronously via a semaphore up()
c) the receiver send an IPC to core to ask for the actual signal content (value and counter) and gets it

[2015-03-12 16:09] alex-ab opened #1447 "nova: syscall bindings for 32bit partly broken"
Our syscall bindings for 32bit does not consider that in the syscall_3 function edx changes due to the assembly instructions and that in the syscall_4 function edx and ecx change. The compiler assumes that the content of the respectively registers are the same as before the assembly snippet and may take wrong values.

[2015-03-13 08:22] alex-ab commented on #1444
@nfeske, @chelmuth : changed the commits according to your comments

[2015-03-13 10:40] nfeske commented on #1444
This looks very good. Unfortunately, commit c10a0df25f0ee1da9069aa1f875f27e2e110da86 does not apply on the current staging branch. Could you please rebase this commit?

[2015-03-13 11:18] #1417 closed

[2015-03-13 11:18] #1418 closed

[2015-03-13 11:18] #1425 closed

[2015-03-13 11:18] #1427 closed

[2015-03-13 11:18] #1432 closed

[2015-03-13 11:18] #1435 closed

[2015-03-13 11:18] #1436 closed

[2015-03-13 11:18] #1437 closed

[2015-03-13 11:18] #1438 closed

[2015-03-13 11:18] #1439 closed

[2015-03-13 11:25] alex-ab commented on #1444
@nfeske: use f4a2bfaa722c2d6a982fb5837f796bc8f59e29f4

[2015-03-13 11:27] nfeske commented on #1444
Thanks, merged to staging.

[2015-03-13 16:15] alex-ab commented on #1446
The current version works reasonable well and passes all tests so far. I think I will need to rework the base-nova specific part in Genode still a bit. Suggestions are welcome, please review.

The measurable improvements so far are that noux_tool_chain_auto speeds up by approximately 4.4 percent on 32bit and 2.5% on 64bit. The throughput test of signal.run (Test 3) is now able to send and receive

[2015-03-16 13:20] nfeske commented on #1256
@m-stein What do you think about the idea to start advertising the Hack'n'Hike at our mailing list?

[2015-03-16 13:48] nfeske opened #1449 "Remove Init::Traditional_child_policy"
This class was introduced in version 10.05 when we introduced the current init configuration concept. It was meant as a tool to make the transition from the old version of init easier. The only code that relies on it is the launcher of the Scout widget set. After all these years, we should finally abandon the ```Traditional_child_policy``` class by incorporating its functionality into Scout's laun

[2015-03-16 14:00] nfeske opened #1450 "Remove base/include/base/errno.h"
The ```error.h``` file contains merely a single error code (ERR_INVALID_OBJECT) that is used internally by the framework. We should move its definition to ```ipc.h``` and remove the ```errno.h``` header.

[2015-03-16 14:21] nfeske opened #1451 "Remove repos/qt4"
We declared the support for Qt4 as deprecated more than a year ago. We should finally remove it.

[2015-03-16 14:42] nfeske opened #1452 "Cpu_state inconsistency"
The `Cpu_state` class in cpu/cpu_state.h is defined slightly inconsistent across CPU architectures. In base/include/arm/cpu/cpu_state.h, all member variables are uninitialized whereby in base/include/x86_32/cpu/cpu_state.h and base/include/x86_64/cpu/cpu_state.h, all member variables are initialized with 0. Which approach is correct?

[2015-03-16 14:45] nfeske opened #1453 "Semaphore simplification"
The semaphore in base/semaphore.h is a template that takes the queueing policy as argument. There is a reasonable default, which takes a fifo queue as policy.

Since we introduced the semaphore in 2006, we never used a different queueing policy. So this degree of flexibility smells like over-engineering. Hence, I propose to cut it back by hard-wiring the fifo queue in the semaphore.

[2015-03-16 15:51] nfeske opened #1454 "Clean up ascii_to conversion functions"
The header util/string.h contains a number of overloaded functions and function templates for converting text strings to different types. These functions are called ```ascii_to```. The current scheme should be improved in two ways:

1. The ascii_to functions should be plain overloads, not some kind of template specializations.

2. We should get rid of the "base" argument, which denotes the integer

[2015-03-16 15:52] nfeske opened #1455 "Move packet-stream API to Genode namespace"
Currently, the packet-stream classes pollute the root name space.

[2015-03-16 16:10] nfeske commented on #1444
I get the following warning when compiling the window manager now:

[code]

[2015-03-16 19:21] alex-ab commented on #1444
@nfeske: use the fixup

[2015-03-16 19:24] alex-ab commented on #1444
@nfeske: actually 7487c745ea7b823526fcd21c5007dedb4dcea060 is the better one

[2015-03-16 19:52] m-stein commented on #1256
@nfeske: Thank you for the hint. I think its a good idea. I'll do so.

[2015-03-16 20:36] alex-ab commented on #1446
@nfeske: commits e852fe3a3dc5ec0b430fa00f6f03efaa84f572ba and 22e312529513bf53712c729ee55e3769375be98a shows my refactoring attempts. please review. If you in general fine, I would squash both commits and move it actually before the nova commits and base the nova commits ontop of the squashed one

[2015-03-17 07:40] nfeske commented on #1446
@alex-ab That looks very good!

[2015-03-17 08:11] ssumpf commented on #1349
@nfeske: First version, please review.

[2015-03-17 12:00] alex-ab commented on #1446
@nfeske: the patches got reworked and the link to the kernel branch is [r8_signals](https://github.com/alex-ab/NOVA/commits/r8_signals) and the actual commit is ["Extend semaphore with signal features"](https://github.com/alex-ab/NOVA/commit/196a945a2b5fd9343ac7c12b20fa7215bba592a6)

[2015-03-17 12:22] alex-ab opened #1456 "base: unification of irq_session interface - operate asynchronously"
Base-hw already has an own version of the irq_session interface operating asynchronously. Making it the general default behavior - being asynchronous - also for x86 kernels will ease supporting of shared IRQs and MSIs (#1216) in the x86 platform driver (known today as acpi_drv and pci_drv) significantly.

[2015-03-17 13:03] nfeske commented on #1456
As an intermediate step, I recommend to emulate the old (synchronous) wait-for-irq interface with the new interface - similar to how the timer-session's msleep function emulates the original (blocking) timer interface by using a client-local implementation (see ```Timer_session::Connection```). This way, you do not break compatibility during the transition. After the transition is complete and all

[2015-03-17 13:11] alex-ab commented on #1456
Yes, in the first step I will resemble the base-hw interface - having still wait_for_irq and emulating there the old blocking behaviour in the client (instead of in core).

[2015-03-17 16:49] chelmuth opened #1457 "linux: log diagnostic message on exceptions (e.g. segmentation fault)"
Debugging segmentation faults and friends under base-linux usually surprises new developers as Genode's log does not contain any hints about the occurred exception. The attached patch offers a base line solution that logs the fact an exception will terminate the process and hints to have a look into the Linux kernel log for more information.

The signal-handling mechanism in Linux is able to provi

[2015-03-18 10:00] nfeske commented on #1457
Cool!

[2015-03-18 10:17] nfeske commented on #1349
This looks superb! Thank you for reworking it. :-)

[2015-03-18 10:56] chelmuth commented on #1430
With the two commits above all ports except the broken libssh are checked successfully.

[2015-03-18 14:40] alex-ab commented on #1456
With both commits the irq_session is working asynchronously for all kernels. The old wait_for_irq method is kept for the moment (to not touch the drivers for the moment.) Only for base-linux the irq_session_component.h is different, otherwise all use the some header in core. Now one could re-factor out the common parts of irq_session_component.cc from all base platforms and remove the necessity to

[2015-03-18 16:20] m-stein opened #1458 "i.MX53: SD-card driver"

[2015-03-18 16:47] m-stein opened #1459 "hw: fix bug in cancellation of Kernel::await_signal"
There were two bugs. First, the caller of ``Kernel::await_signal`` wasn't re-activated for scheduling. Second, the caller did not memorize that he doesn't wait on a receiver anymore which had bad side effects on further signal handling.

[2015-03-18 18:06] m-stein opened #1460 "hw: enable destruction of IRQ sessions"
Implement the missing Irq_session_component destructor.

[2015-03-18 18:14] m-stein commented on #1458
The driver for the Freescale eSDHCv2 doesn't support the highest available bus frequency by now and also the bus width may be set to a higher value but that needs further checks on the capabilities of the inserted card.

The commits provide a benchmark as it exists for the OMAP4 SDHC driver.

[2015-03-19 07:58] #504 closed

[2015-03-19 07:58] #1430 closed

[2015-03-19 07:58] #1440 closed

[2015-03-19 07:58] #1444 closed

[2015-03-19 07:58] #1449 closed

[2015-03-19 07:58] #1450 closed

[2015-03-19 07:58] #1451 closed

[2015-03-19 07:58] #1453 closed

[2015-03-19 07:58] #1455 closed

[2015-03-19 07:58] #1457 closed

[2015-03-19 08:01] chelmuth commented on #1414
The identified issue was fixed and is in master and, therefore, I close the issue. Please feel free to re-open if other configuration option come up.

[2015-03-19 08:01] #1414 closed

[2015-03-19 08:02] chelmuth commented on #1349
Merged to master.

[2015-03-19 08:02] #1349 closed

[2015-03-19 08:08] alex-ab commented on #1148
Can this be closed, to me it looks like it got resolved in #1381 ?

[2015-03-19 08:09] chelmuth commented on #111
I'd like to defer merging patches in this issue until we revised the Cpu_session interface. Methods that may fail should throw not return `!= 0`.

[2015-03-19 08:10] nfeske opened #1461 "Consider exposing the retry template of platform_env_common.h to the public API"
The retry template function is handy in situations when we need to upgrade session quota on demand: https://github.com/genodelabs/genode/blob/master/repos/base/src/base/env/platform_env_common.h#L35

For example, the fix of issue #1247 would benefit from it.

[2015-03-19 08:18] m-stein commented on #1461
:+1:Had this problem too recently.

[2015-03-19 08:18] alex-ab commented on #111
As you mean, but I don't see the benefits. It is already inconsistent between the base platforms, so base-foc, base-nova check for it and behave correctly - generic base, okl4, pistachio, hw does not and this can be practically exercised by using the demo run script.

[2015-03-19 08:21] #1434 closed

[2015-03-19 08:24] nfeske commented on #1456
We should merge your commits to staging. But there is a point that needs further discussion/work:

I am not convinced that the ```Irq_session::Irq_signal``` definition belongs to the public API as it refers to (platform-specific?) implementation details of the signalling mechanism. From the documentation in the header, I cannot infer what this data structure and the accompanied RPC function (```si

[2015-03-19 08:25] alex-ab commented on #1456
ask @m-stein - it is something specific to hw - not used by any other kernel

[2015-03-19 08:25] nfeske commented on #1148
Thanks for the hint!

[2015-03-19 08:25] #1148 closed

[2015-03-19 08:29] #1401 closed

[2015-03-19 08:35] m-stein commented on #1456
On hw, the ``signal`` RPC is used by an IRQ-session client to get the signal context that signals the IRQ. This is necessary by now as hw creates IRQ kernel-objects with statically bound signal contexts for all available IRQs on kernel initialization. However, this shall change in the future. IRQ kernel-objects shall be dynamically created and destroyed on the creation and destruction of IRQ sessi

[2015-03-19 08:38] chelmuth commented on #111
Hm, maybe you're right to go with your fix as a stop-gap solution.

[2015-03-19 08:40] skalk commented on #1430
@chelmuth: thanks for the fixups!

[2015-03-19 08:40] chelmuth commented on #1430
You're welcome ;-)

[2015-03-19 08:41] alex-ab commented on #1456
But  is it really used already/currently in master ? I don't find a place where this information (stored in Irq_session_client.irq_signal is actually accessed, or ?

[2015-03-19 09:43] alex-ab commented on #1456
Ok, I see it is used in the base-hw specific wait_for_irq implementation

[2015-03-19 10:22] m-stein commented on #1458
Modified last commit according to comment by @chelmuth.

[2015-03-19 10:55] chelmuth commented on #1382
Hm, did you settle on 102b9bf? Still missing the *confirmed* flag here and in #1406.

[2015-03-19 11:06] chelmuth commented on #1458
Merged to staging.

[2015-03-19 12:15] cnuke opened #1462 "packet_allocator: fix uncaught exception when freeing a packet more than once"
If a client acknowledges the same packet more than once, the packet also gets freed more than once. This fails at the second try for obvious reasons and currently leads to an uncaught exception.

[2015-03-20 07:14] chelmuth commented on #1458
Sorry for noise last night - I missed to cherry-pick cba831d4 yesterday.

[2015-03-20 12:12] cnuke commented on #1327
All components that provide a Nic session were adapted. For now, only lwIP will make use of the notification interface.

[2015-03-20 12:16] cnuke opened #1463 "libc: reconfigure DNS resolver when network settings change"
The libc DNS resolver only reads `/etc/resolv.conf`, which is generated automatically if DHCP is used, once when the application is started. If we change the network at runtime, it will still use the first configured nameserver.

[2015-03-20 15:33] m-stein opened #1464 "hw: relative CPU-quota"
CPU quota is currently donated to a thread on construction only by directly specifying a percentage of the quota of the according CPU session. In the future this shall be done by specifying any value on construction that is continuously set in relation to the values of the other threads at the CPU session. This requires dynamic re-configuration of the absolute quota of scheduling contexts in the k

[2015-03-22 11:58] cnuke commented on #1327
@chelmuth or @nfeske please merge d8e74b5 to staging.

[2015-03-22 13:34] chelmuth commented on #1327
Done.

[2015-03-23 10:23] cnuke commented on #1327
@chelmuth or @nfeske please merge f6beb83 and 65b8550 to staging. These changes should calm the buildbot.

[2015-03-23 11:59] cnuke commented on #1327
@chelmuth please merge 0e8cae3 to staging.

[2015-03-24 10:11] cnuke commented on #1327
@chelmuth or @nfeske please merge 554be4d and 69a7d50 to staging.

[2015-03-24 12:30] cnuke commented on #1327
@chelmuth please also merge 0ecb0ad to staging.

[2015-03-24 14:07] cnuke opened #1465 "virtualbox: rework network backend"

[2015-03-24 14:28] alex-ab opened #1466 "libc: unimplemented (dummy) functions return wrong types"
In repos/libports/src/lib/libc/dummies.cc the default return type is long. A lot of the dummy functions return however int, which is on 64bit not equal to long - which leads to interesting bugs when such dummy functions are called ...

[2015-03-24 15:37] cnuke commented on #1465
@chelmuth I've incorporated your remarks.

[2015-03-24 16:20] alex-ab commented on #1446
The latest state can be found here [r8_signals_rcu](https://github.com/alex-ab/NOVA/commits/r8_signals_rcu). I had to adjust the kernel branch, since noux_tool_chain_auto on 64bit gets a OOM of the kernel. Turns out that the rcu lists get not processed quick enough, because of the too long grace periods (the idle CPUs dominate the overall grace period time since they slept 100ms).

With the signal

[2015-03-24 16:30] nfeske commented on #1446
Very cool! I wonder, can you pinpoint the rather drastic change on 64bit to a particular change?

[2015-03-24 16:38] alex-ab commented on #1446
The major improvement for 64bit is because of #1466. For 64bit the gcc issues tons of "madvice" calls causing a "not implemented printf". For 32bit there are no such madvice calls.

[2015-03-24 16:50] m-stein opened #1467 "hw: i.MX6 support"

[2015-03-24 17:09] alex-ab commented on #1446
Mmh, on the fuji it looks not sooo good, for the archives:

[code]

[2015-03-25 15:12] wolfgang42 opened #1468 "docs: Broken link in coding style"
Kensan in #genode reported that the following link in `doc/coding_style.txt` is broken:
http://web.archive.org/web/20050311153439/http://electroly.com/mt/archives/000002.html

Unfortunately, a lack of archive.org makes it difficult to find out what this was supposed to be pointing to.

[2015-03-26 11:10] skalk commented on #1428
@chelmuth: how about cherry-picking this fixup so that the buildbot does not complain about "port_check" anymore?

[2015-03-26 12:34] m-stein opened #1469 "noux_bash & hw_panda: missing rtc_drv"
Currently, one is allowed to build `run/noux_bash` for `hw_panda` but it complains that the RTC driver is missing:

[code]

[2015-03-26 15:24] cproc opened #1470 "vbox: support more mouse event combinations"
VirtualBox can receive absolute or relative mouse motion events from the 'Input' service and the VM can support either or both of them. Currently, the VM support is only considered for absolute motion events from the 'Input' service.

[2015-03-27 09:33] Kensan commented on #956
We encountered this issue while porting base-hw to x86_64 and worked around it in a similar fashion: raising the ram quota of the signal session, see commit 29c4ae0 in staging.

[2015-03-27 10:11] alex-ab opened #1471 "x86: handle shared irqs in platform driver (aka acpi/pci driver) - instead as of now - in core"

[2015-03-27 10:16] nfeske commented on #1468
Thanks for the report. In the commit above, replaced the link with a brief example.

[2015-03-27 10:44] m-stein commented on #1467
Updated the port according to the suggestions and added a clean-up commit not directly related to the port.

[2015-03-27 10:45] m-stein commented on #1467
@skalk: What do you think.

[2015-03-27 10:50] skalk commented on #1467
I'm fine with it

[2015-03-27 11:11] #111 closed

[2015-03-27 11:11] #1247 closed

[2015-03-27 11:11] #1426 closed

[2015-03-27 11:11] #1441 closed

[2015-03-27 11:11] #1442 closed

[2015-03-27 11:11] #1447 closed

[2015-03-27 11:11] #1327 closed

[2015-03-27 11:11] #1382 closed

[2015-03-27 11:11] #1406 closed

[2015-03-27 11:11] #1428 closed

[2015-03-27 11:11] #1458 closed

[2015-03-27 11:11] #1460 closed

[2015-03-27 11:11] #1462 closed

[2015-03-27 11:11] #1465 closed

[2015-03-27 11:11] #1466 closed

[2015-03-27 11:11] #1468 closed

[2015-03-27 11:22] chelmuth commented on #1429
May we close this issue as it's labeled fixed and the commit above was merged to master?

[2015-03-27 12:20] alex-ab commented on #1429
yes

[2015-03-27 12:20] #1429 closed

[2015-03-27 12:31] alex-ab commented on #1343
Can we close the issue ? Multiple VMs can now be executed concurrently. Still the kernel issue exists - when leaving out "novpid" - but this is another (non-Genode) issue.

[2015-03-27 12:58] cproc opened #1472 "extract numeric string arguments with the correct signedness"
There are lots of places where a numeric argument of an argument string gets extraced as signed long value and then assigned to an unsigned long variable. If the value in the string was negative, it would not be detected as invalid (and replaced by the default value), but become a positive bogus value.

[2015-03-27 13:01] cproc commented on #1472
Example: size_t ram_quota = Arg_string::find_arg(args, "ram_quota").long_value(0);

[2015-03-27 13:19] chelmuth commented on #1343
Ack.

[2015-03-27 13:19] #1343 closed

[2015-03-28 09:11] cnuke commented on #1218
Yeah, there several ways to circumvent this problem.

[2015-03-28 09:11] #1218 closed

[2015-03-28 15:02] ehmry commented on #1399
#### Status Update
I'm writing a server from scratch that will manage build processes and control all writing to /nix/store. This takes care of locking disipline and is a massive TCB reduction. Processes that evaulate the Nix language will link against slightly patched upstream Nix libraries, and a new libnixstore will implement the old API by wrapping the Nichts_store service. A muxer will probab

[2015-03-30 07:49] m-stein commented on #1467
@skalk

I've added a fix-up that should fix build-bot problems with ``imx53_qsb_tz``. Thanks for the hint.

[2015-03-30 14:42] cproc opened #1473 "nitpicker: update the 'pointed session' more often"
Currently, the 'pointed session' gets updated only when an input event occurs, but an update is also needed in other situations, for example when the view under the current mouse position was moved.

[2015-03-30 17:49] cproc opened #1474 "vbox: enable video acceleration (VBVA)"

[2015-03-30 19:29] cproc commented on #1474
Commit 2f4fb40ee7cc8df5f09447e92ebf0714bfb5be7c leaves the virtual network adapter disabled and adds a comment above the nic_drv start node.

[2015-03-31 08:59] nfeske commented on #1399
Thank you for the update! To me, the plan sounds tangible. Also, it is very good that you got in touch with the Nix developers.

Btw, I learned that you'll join this year's Hack'n'Hike. That is so cool! Looking forward to meet you in person. :-)

[2015-03-31 09:30] m-stein commented on #1467
@nfeske

Can we merge the fix-up?

[2015-03-31 15:52] chelmuth commented on #1256
@m-stein do you have updated info about the kayaking options? Has anybody other ideas what to do _outdoor_ in Bad Muskau? Are there ideas about a joint hacking project?

[2015-03-31 16:41] ehmry commented on #1399
Yea, it gives me a timeline to get stuff in a good state and an excuse to travel.

[2015-04-01 09:33] m-stein commented on #1256
Yes, I'm on it. There are mainly two options for kayaking: Spremberg and Lübbenau. Lübbenau is further afar from Bad Muskau (~1h journey) but we could enjoy the extraordinary environment of the Spreewald with vintage wooden canoes there. Spremberg, in contrast, would be a journey of 30 minutes only but they state to have problems with the water level and quality because of the Spremberg river dam.

[2015-04-03 22:57] tomga commented on #1131
During reading open issues it seemed to me that it should be closed because it depends on an already fixed issue. I've done some expetrimentation and it seems to me that reported issue is not happening anymore. On nova-x86_64 and fiasco-x86 test seems to finish ok but on hw-x86_64 I get:
[code]

when on nova and fiasco:
[code]

Is it a known limitation of current hw implemention or should I create

[2015-04-06 19:42] tomga commented on #1424
This parser treats end of comment exactly the same way as it treats text in this place. Same exception is thrown when you put text in this place.

What is worse this parser does not throw exceptions consistently and seems to ignore tag content from any text to end of tag.

For following config there is no exception thrown and test works as expected:
[code]
but if you move ``sometext`` before ``<an

[2015-04-07 11:48] nfeske commented on #1424
Let me clarify the role of the XML parser within Genode. The parser is merely there to provide low-level components with their configurations. It was created for this particular use case and does not even attempt to be generally applicable. For its design, the following considerations were taken into account:
* It must not be complex. Indeed, the parser comes in the form of a single header file (r

[2015-04-07 12:31] tomga commented on #1424
Thanks for detailed information about goals of this parser. My understanding about them came only from reading genode issues and in this one @chelmuth wrote:

So I expected that text SHOULD be ignored and that current implementation tries to achieve this goal.

In #70 @abique - not me - proposed using external parser and there was no response for this comment so I couldn't know what do you think a

[2015-04-07 14:14] m-stein commented on #1256
No opinions regarding the two kayaking options?

[2015-04-08 07:27] chelmuth commented on #1256
Shorter drives are better IMO. Do we already have an idea who will come by car and is able give others a ride? Maybe we should go for a rental with 6+ seats...

[2015-04-08 09:43] nfeske commented on #1424
That's actually not what I stated. Text in an XML node is supported (and used) but mixing text with sub nodes is not.

Since I fail to acknowledge the problem, I am not able see the value of a fix.

What I take from this discussion is that we should be more precise with documenting the role and feature set of the XML parser. I.e., the fact that the parser is not always able to identify sub nodes w

[2015-04-08 09:44] m-stein commented on #1256
Ok, so I'll try to contact Spremberg.

Regarding the journey:
I'll try to drive by bike again if the weather allows it. Maps says that it is about 100 km from Dresden to Bad Muskau and, after the initial ordeal out of the Dresden basin, mainly downhill. I'd be happy if anyone likes to join me like last year :)
I assume that the journey should take about 7 hours by bike when considering on hour for

[2015-04-08 09:48] nfeske commented on #1256
I actually liked both options. Lübbenau sounds slightly more intriguing (and one 1h is still reasonable I think) but given that we don't have many cars, travelling there might be a problem. I'd fully support @chelmuth's suggestion to rent a car that is big enough.

[2015-04-08 12:43] tomga commented on #1424
You're right. My mistake.

My conclusions are based solely from observing three different behaviours when inserting text in configuration above:

[code]
when text is in place of ``-->`` from original example.

Success when inserted like in my example and
[code]
when text is inserted like below:
[code]
which makes me think that ``any-service`` part is ignored in such case.

I'll extend your test wi

[2015-04-08 13:17] nfeske commented on #1424
An exception should only be thrown on the attempt at access a sub node that does not exist. This may happen in two cases:
* Xml_node::sub_node is called with a node type argument and no sub node of the specified type exists. Normally, programs catch such exceptions to gracefully deal with situations where the XML data is incomplete.
* Xml_node::sub_node is called with an index that is higher or eq

[2015-04-08 17:07] nfeske opened #1475 "SD-card driver for the Raspberry Pi"

[2015-04-09 13:26] skalk opened #1476 "base-host does not even compile"
Do we still need base-host? Currently it does not compile, is never tested, and AFAIK not used at all.

[2015-04-09 14:05] nfeske commented on #1476
I think we can remove it. The intention behind base-host was to document the interface between the generic and platform-specific part of the base framework. But in hindsight, this role was never really important - and neither was it accomplished by base-host (as evidenced by your issue).

[2015-04-09 14:06] #1467 closed

[2015-04-09 14:06] #1459 closed

[2015-04-09 14:06] #1470 closed

[2015-04-09 14:06] #1475 closed

[2015-04-09 14:07] chelmuth commented on #1476
:+1: for the removal

[2015-04-09 14:10] chelmuth commented on #1473
@nfeske do you confirm this change?

[2015-04-09 14:26] nfeske commented on #1473
Aye!

[2015-04-09 14:31] m-stein commented on #1476
:+1:

[2015-04-09 15:36] skalk commented on #1443
@nfeske @m-stein : would you mind to review my current publicly available branch regarding this issue, and resp. put it to staging? Thereby, the state of the art of this issue does not detach from staging so much. Here is the current branch: https://github.com/skalk/genode/tree/issue%231443

[2015-04-09 19:41] m-stein commented on #1464
@nfeske @skalk

These are the main commits that solve the issue as it is (for early use (RPI) and review). However, still missing is:

* Every thread has a weighting > 0, also main threads (so all quota of a CPU session gets used as soon as its first thread gets created)
* RPC at CPU session that tells you how much physical quota the quota of the session is worth"

I'll add these the next days.

[2015-04-10 09:40] chelmuth commented on #1409
What's the state of this issue? I stumbled upon it as I discovered instabilities of *rump_ext2* on *linux_x86* - it just get's stuck in 1 of 5 runs.

[2015-04-10 09:46] nfeske commented on #1443
Here are my comments:

* ```base: assign allocator and quota to platform pd```: The patch looks good but we will eventually also need a way upgrade the ram quota during the lifetime of the PD session. Of couse, this could be added as a follow-up patch later.
* ```core: remove global capability id counter```: Very good!
* ```base: remove local capability from generic base```: This change is very we

[2015-04-10 10:09] nfeske commented on #1464
I like that the major portion of the change is the addition of the test! :-) Apart from the minor comments I annotated to the commits, I have no objections.

For the practical use (on the Rpi), won't I need the first of the two missing points to be covered? If I understand correctly, the change won't have any effect on the existing components (like the USB driver) otherwise.

[2015-04-10 10:44] nfeske opened #1477 "Cleanup of ascii_to conversion functions"
Until now, the set of functions to extract information from ASCII strings has grown rather evolutionary. It is a weird mix of function templates, overloads, and default arguments. We should strive for a simple and coherent concept to make the Genode API easier to understand. I propose two changes:

* Each ```ascii_to``` function should be a plain overloaded function - not a kind of template specia

[2015-04-10 10:50] nfeske commented on #1477
While we are at it, how about changing the destination argument of the ascii_to function from a pointer to a reference? This way, the function implementation wouldn't need to consider a null-pointer check (which they don't do actually).

[2015-04-10 11:10] cproc commented on #1474
Fixup commit 3fc42ebf4c6f75e1b31100ad8044d2c9c3611a0c starts a 'report_rom' server in the 'vbox_auto_win7_share.run' script.

@nfeske, @chelmuth: please add to staging

[2015-04-10 13:49] skalk commented on #1464
I have written few comments inline, beside from that I have no objections.

[2015-04-10 15:49] nfeske commented on #1477
The commits above implement the changes as I suggested.
@cnuke I have slightly modified the strtol function in repos/dde_linux/src/lib/libnl/lxcc_emul.cc by removing support for integer bases other than 10. Do you foresee any problem with this restriction?

[2015-04-10 16:01] nfeske commented on #1464
@m-stein Since you changed the Cpu_session interface, have you revisited all components that implement this interface? GDB monitor comes into mind. It would be worthwhile to grep the source tree at least for "Cpu_session_component".

[2015-04-12 05:11] ehmry opened #1478 "9P network filesystem client"
http://9p.cat-v.org/

Its like lx_fs, but for non-Linux platforms.

Tested with u9fs QEMU, NOVA, and the Libc VFS test. Run file is in progress.
I've been using u9fs server-side, another option would be Diod.
http://9p.cat-v.org/implementations
https://github.com/chaos/diod

The message marshalling should be refactored, but the transaction flow is there and it works.

[2015-04-12 18:09] ehmry commented on #1478
I've not been able to get a run script working, I've been using a custom test harness, but if anyone wants to give it a shot theres what I've got.

[2015-04-13 08:10] cnuke commented on #1478
Awesome! I only skimmed the implementation, so I cannot comment on it yet but as a first remark, the server should be moved from ```os``` to the ```gems``` repository because it depends on the libc and therefore should not be part of the ```os``` repo.

Regarding the run script, I would probably go for a scenario which uses _u9fs_ to provide the files, i.e., the contents of the build directory. Th

[2015-04-13 12:19] #1472 closed

[2015-04-13 12:19] #1473 closed

[2015-04-13 12:19] #1474 closed

[2015-04-13 12:27] nfeske commented on #1454
Duplicated (and supposedly fixed) by #1477. Sorry for the duplication.

[2015-04-13 12:27] #1454 closed

[2015-04-13 12:32] m-stein commented on #1443
Besides the minor inline comments, I'm fine with the commits.

[2015-04-13 12:46] chelmuth commented on #1256
First, I'd like to announce that a organized a rental for 9 passengers.

Second, the idea of a joint project is still crossing my mind. What do you think about bundling forces to bring forward our "general-purpose scenario" and make a big step in the direction of Genode as an every-day platform? @nfeske and me sketched the first ideas during lunch with VirtualBox as Linux container on a (update-ab

[2015-04-13 13:10] nfeske opened #1479 "Move Ring_buffer into the Genode namespace"

[2015-04-13 13:56] cnuke commented on #1256
I am all for it, since so far I do not have any immediate project for this years Hack'n Hike anyway.

[2015-04-13 14:15] ehmry commented on #1478
Will do

[2015-04-13 21:12] alex-ab opened #1480 "okl4: missing client side Genode RPC handling of dead/invalid destination thread"

[2015-04-13 22:20] tomga commented on #1424
I've finally found a little time to experiment with this code. I haven't fixed throwing exception with mixed text and nodes yet but have another question.

To be able to attach to a process before it finishes I had to create some loop active loop in the code and I put a simple ``Xml_node("<config/>")`` in it. When I attached backtrace contained:

[code]

There is a call to ``__cxa_allocate_excepti

[2015-04-14 07:26] nfeske commented on #1424
This is indeed a tricky issue, which took us a while to deal with. In short, the C++ runtime normally expects a C runtime to be present. I.e., it calls malloc, string functions, and some I/O functions. This contradicts with our desire to omit the C runtime in the fundamental Genode components. For a more thorough discussion of the topic, please refer to Section 8.2 of the forthcoming documentation

[2015-04-14 10:25] tomga commented on #1424
I was expecting that this case was somehow handled, but finding it alone would take some time, so thank you for this information. It seems clear now. Design document looks very impressive. I'll read it later. Is there an html version available online? It would be more mobile friendly.

[2015-04-14 11:23] nfeske commented on #1424
Although I plan to make the document available as HTML on the genode.org website by the end of May,  I'm not there yet.

[2015-04-14 11:39] nfeske opened #1481 "Make Allocator::overhead and Allocator::consumed const"

[2015-04-14 12:22] nfeske opened #1482 "Move flex_iterator.h to include/util"
Since the flexpage iterator is a free-standing utility, it naturally belongs to util/, not base/.

[2015-04-16 00:28] vladimir-lu commented on #1256
@chelmuth So something like Qubes but using Genode/Virtualbox instead of Xen? Sounds like a nice project to hack on.

I am planning to come to this year's hack'n'hike - travelling from London on Friday evening, so current thoughts are to fly to Dresden and then find some transport (DB?) to Bad Muskau, but I still need to have a look at exactly how it works out. Does anyone need to get back to the

[2015-04-16 12:31] cnuke opened #1483 "sd_card_drv for omap4 does not receive any interrupts"
The driver waits endlessly in `_wait_for_transfer_complete_irq()` e.g.:

[code]

[2015-04-16 13:21] cnuke opened #1484 "sd_card_drv for imx53 does not work on QSB"
While the driver works fine on the USB Armory it does not work on the QSB, e.g.:

[code]

[2015-04-16 14:02] ehmry commented on #1478
Looks like this client isn't compatible with the 9P2000.L protocol that diod and v9fs uses, so its u9fs or a Plan9 fileserver. I personally prefer u9fs because its simplier.

[2015-04-16 19:14] m-stein commented on #1464
@skalk, @nfeske

I've updated my 1464_hw_relative_cpu_quota branch according to the suggestions and also added the feature of allowing only weightings > 0 and the Cpu_session::quota() call. The signal test succeeds on all base platforms with the patches and the CPU quota test now tests also the session quota. By now, I had no time to test more complex scenarios (GDB, noux) and were only able to re

[2015-04-17 10:51] chelmuth commented on #1256
@vladimir-lu The Qubes like VM scenario is only one part. The more interesting part is: What are we able to enable as native Genode application and platform at the event. One example is a mail handling infrastructure including agent, store, IMAP, SMTP, and address book. Another example is extended the platform by a transparent NIC switch between ethernet and WiFi.

BTW, if you plan to come via Dre

[2015-04-17 11:17] cnuke commented on #1483
Apparently the issue only exists on base-hw.

[2015-04-17 14:14] #1476 closed

[2015-04-17 14:14] #1479 closed

[2015-04-17 14:14] #1481 closed

[2015-04-17 14:14] #1482 closed

[2015-04-17 15:02] m-stein commented on #1483
I'll have a look at it soon. Any deadline?

[2015-04-18 09:54] cnuke commented on #1456
@chelmuth or @nfeske please merge 8b97324 and 26020c7 to staging.

[2015-04-18 17:32] nfeske commented on #1456
Done.

[2015-04-20 13:45] ponast commented on #1256
A car with a few spare seats leave Berlin Tegel airport at 12:30 circa on friday and goes back to Tegel airport after lunch on monday.

[2015-04-20 14:09] ehmry commented on #1256
I'm planning on coming into Dresden on the 21st, so I can leave whenever is convienent for the first party.

[2015-04-20 14:19] cnuke commented on #1456
@chelmuth please merge b144b61 and 3ef91be to staging.

[2015-04-20 16:47] m-stein commented on #1464
@skalk, @nfeske

I've updated my 1464_hw_relative_cpu_quota branch. The commits are now tested with 'signal' on each platform, 'cpu_quota' on each HW platform except x86, 'gdb_monitor', 'noux_bash', and 'seoul'. On 'hw_x86_64', CPU quota isn't tested because the PIT with its low timeout limit distorts the results. But I assume that the PIT will be replaced as timing source in the near future anywa

[2015-04-21 08:06] nfeske opened #1485 "Non-supported format string crashes program"
The following problem was reported on the mailing list (http://sourceforge.net/p/genode/mailman/message/33929926/):

The alignment of numbers is not supported by our console implementation. But a malformed format string should not result in a crash of the program.

[2015-04-21 09:10] nfeske commented on #1464
@m-stein Sometimes you use the term "weighting", sometimes you use the term "weight". Would you be ok, to consistently use the term "weight" in all places?

[2015-04-21 09:18] m-stein commented on #1464
@nfeske No problem.

[2015-04-21 09:30] nfeske commented on #1464
* "CPU session: apply quota via relative weightings": Apart from the minor style nitpicks that I annotated to the patch, I like it. I am not perfectly sure what to think of the use of the 128bit integer type for the computation. I would have tried to avoid it because I remember the use of such wide integer types on x86_32 as problematic. On the other hand, since base-hw does not support x86_32, th

[2015-04-21 10:22] m-stein commented on #1464
@nfeske
I don't like it either but the only way to circumvent this is to downscale the quota to an intermediate space (e.g. ms) and upscale it to tics afterwards. However, this would bring in additional rounding errors which became critical when testing small quota values. I explicitly moved it into an x86_64 dependent file to avoid compiler problems.

[2015-04-21 10:24] nfeske commented on #1464
@m-stein Thank you for the rationale.

[2015-04-21 10:31] m-stein commented on #1464
Updated the branch accordingly.

[2015-04-21 11:36] alex-ab commented on #1469
:+1: for the attic issue #1372

[2015-04-21 11:40] m-stein commented on #463
As this discussion isn't going on I'll close it.

[2015-04-21 11:40] #463 closed

[2015-04-21 11:42] m-stein commented on #487
No use case by now. Closed.

[2015-04-21 11:42] #487 closed

[2015-04-21 11:50] m-stein commented on #580
@skalk
I'm not sure. Do you think that having no limitations in the kernel would be worth the overhead? Otherwise, I'll close the issue.

[2015-04-21 12:02] nfeske commented on #1464
Thanks!

[2015-04-21 12:10] alex-ab opened #1486 "pci: enforce policy on discovery of devices"
Additionally add support to handle in general also all non PCI devices, e.g. ps2, hpet ...

[2015-04-21 12:41] alex-ab commented on #1486
The first version supports specifying the concrete bdf of a device or a device class, see the run scripts as example. The class names are unhandy for a human, should we introduce aliases for it ? And if yes, which one and where to add the aliases. (The pci_drv readme gets updated as soon as this becomes clear.)

[2015-04-21 12:47] alex-ab commented on #755
I hijack this issue to actually solve the underlying issue of the pci driver, which should not pay for the client, instead the client should pay, as @cproc already pinpointed. So, I rename the issue slightly.

[2015-04-21 12:51] alex-ab commented on #755
In principle this works. I have not tested/adapted all run scripts for now. :+1: for #1372

[2015-04-21 12:52] alex-ab opened #1487 "pci: provide all resources via the platform driver"
Beside irq, all resources like io_port and io_mem should be provided via the pci driver

[2015-04-21 12:54] cnuke commented on #1456
@nfeske could you please merge c1afc2e, 6a4e0a5, cfcd17d and 4a56bb5 to staging. The last commit should be moved before "os remove ATAPI driver" when the changes hit master.

[2015-04-21 13:02] nfeske commented on #1486
The names "PNP0303" and "PNP0F13" are rather cryptic. Wouldn't a plain and self-explanatory "PS2" suffice?

[2015-04-21 13:03] alex-ab commented on #1486
@chelmuth has another opinion about that

[2015-04-21 13:12] nfeske commented on #1486
Instead of embedding a custom syntax in the bdf attribute, how about specifying each part of the device address as an individual attribute? Something like:
[code]
This would alleviate the need to generate and parse a separate syntax in addition to the XML parser. The same syntax could be used to intuitively assign an entire PCI bus to a client:
[code]

[2015-04-21 13:28] nfeske commented on #1487
Hats off! This is shaping up very nicely. :-)

[2015-04-21 13:35] nfeske commented on #1486
I will ask @chelmuth for his opinion then. ;-)

@alex-ab Regarding your question about named aliases, I would introduce them as soon as we see repeated hexadecimal numbers popping up in our run scripts. When I suggested the aliases, I was primarily thinking of the VESA driver that requires access to PCI devices of the class VGA. I guess that the assignment of USB controllers to the USB driver will

[2015-04-21 13:47] skalk commented on #580
This issue will be fixed by the kernel capabilities soon anyway. There are no MAX_* anyway. The 'id allocator' is now a bitarray that is dimensioned like the whole range of the Kernel::capid_t type.

[2015-04-21 13:49] m-stein commented on #580
So, the ``capid`` data and meta data is then part of core-allocated kernel objects?

[2015-04-21 13:53] m-stein commented on #580
Sorry misunderstood you. You mean, the ID-allocator will cover all possible IDs..

[2015-04-21 18:10] chelmuth commented on #1486
The PNP* strings are from the ACPI spec and indeed I proposed them to name the resources in a common way.

[2015-04-22 06:22] skalk commented on #580
Kernel::capid_t is just an 16-bit unsigned number, so there is no meta-data. It will be part of an Kernel::Object_identity_reference, which aggregates this id, and a reference to a Kernel::Pd and Kernel::Object_identity object. The Object_identity_references are allocated within the kernel part of core, because they might be created during an IPC when capabilities are delegated. Before IPC is star

[2015-04-22 06:26] m-stein commented on #580
Cool. Thank you for the detailed explanation. And the PD-local allocators are filled via the quota of the corresponding PD session, I assume?

[2015-04-22 06:27] skalk commented on #580
Oh, next time I have to refresh my browser window before answering, I saw your second post right no, and you are absolutely right.

[2015-04-22 08:44] nfeske commented on #1486
But I wonder, what is the benefit? I presume, the benefit should be that we do not need to invent names because the ACPI spec authors already did this for us. On the other hand, those cryptic names are hardly any better than magic hex values, don't you agree? In either case, one needs to consult the spec to interpret them.

Please consider the following points:

* We pick the names for us and the

[2015-04-22 14:15] alex-ab commented on #1471
@nfeske, @chelmuth: rebased to staging - add at will

[2015-04-22 17:20] chelmuth commented on #1486
I'm convinced. Now, please tear down the wall ;-)
--
Christian Helmuth
Genode Labs

http://www.genode-labs.com/ · http://genode.org/ · /ˈdʒiː.nəʊd/

Genode Labs GmbH · Amtsgericht Dresden · HRB 28424 · Sitz Dresden
Geschäftsführer: Dr.-Ing. Norman Feske, Christian Helmuth

[2015-04-22 21:50] alex-ab commented on #1486
ok - done, please review

[2015-04-23 09:43] nfeske commented on #1478
Very nice!

When looking over the patch 557ebbaad0d0aba7d471beabe0b8c6f33e449f30, the following questions popped up in my mind:

1. Some files are missing license headers. In the '3p.h' case, the top comment states that this file is "Adapted from plan9front/sys/include/fcall.h". Would it be appropriate to add a Genode license header of would this violate the license of the original code? If the la

[2015-04-23 14:48] #1456 closed

[2015-04-23 14:54] chelmuth commented on #1464
@m-stein I pushed your commits to staging just now.

[2015-04-23 14:56] chelmuth commented on #1480
Hm, this issue is still open. @alex-ab and @nfeske did you agree to merge the commit to staging or did you agree to drop it?

[2015-04-23 15:03] ehmry commented on #1478
The licensing I skipped because I was lazy, that I can fix without any issues.

I would like to move the node_handle_registry out, because I didn't need to review any of that to get it to work. I'd be happy to adapter the other fs servers at the same time.

I didn't think the duplication in main was a problem, I would prefer a little duplication if it makes it easier to understand how the file sys

[2015-04-23 15:07] ehmry commented on #1478
Also, the Listener class should be moved out of node.h and into os/include/file_system, I believe that is the same in the other servers. https://github.com/genodelabs/genode/commit/557ebbaad0d0aba7d471beabe0b8c6f33e449f30#diff-ef69159da5ad732bcae4502c2b3017c0R20

[2015-04-23 15:48] alex-ab commented on #1480
I agree

[2015-04-23 16:05] m-stein commented on #1464
Thank you.

[2015-04-23 20:00] ehmry opened #1488 "Deduplicate File_system servers"

[2015-04-23 20:02] ehmry commented on #1488
I have a commit for #1120 on that branch.

[2015-04-24 00:04] ehmry commented on #1488
All the above servers pass libc VFS tests. If I tack 9pclient on the end of this its still a net reduction in code : )

[2015-04-24 04:42] ehmry commented on #1478
Sadly a run scenario seems more distant as the u9fs server needs to run as root because it fails if it can't change users.

[2015-04-24 07:15] nfeske commented on #1480
Sure.

[2015-04-24 07:52] m-stein commented on #1464
Looks good as far as I can see.

[2015-04-24 07:59] nfeske opened #1489 "OKL4 no longer available for download"
The URL http://wiki.ok-labs.com/downloads/release-2.1.1-patch.9/okl4_2.1.1-patch.9.tar.gz does not work any longer.

[2015-04-24 09:31] nfeske commented on #1488
Very cool! Thank you for taking the time to do this. I like that you paid attention to the include guards.

It seems that you missed to remove a few bits from ```os/src/server/ram_fs/```. I.e., ```util.h``` is still there. Removing it would further improve the stats. ;-)

Would you mind squashing the patch series into a single commit?

[2015-04-24 09:47] m-stein commented on #1464
@chelmuth
I've added a fix-up that solves the compile error in ``child.h`` when building QT5. I've solved it by further specifying the desired printf version in child.h. This doesn't of course solve the real problem (that someone seems to mess up the name spaces in a file that includes child.h) but if its not that important to you I'd like to refrain from searching for this place.

[2015-04-24 10:09] chelmuth commented on #1464
The fixup looks completely okay.

[2015-04-24 12:38] ehmry commented on #1488
Done, ffat_fs and tar_fs still have their own util.h, but they're server specific.

[2015-04-24 12:40] ehmry commented on #1488
I still need to write another server, I will try and minimize the packet handling when I do.

[2015-04-24 12:43] nfeske commented on #1488
Great! I added your patch to staging. I hope you are ok that I slightly shortened the commit message to make it fit in the usual 50-character limit?

[2015-04-24 13:18] alex-ab commented on #1487
@nfeske, @chelmuth : all changes are rebased to staging - this 1487 branch contains the all changes regarding pci (#1471, #1486, #755, #1487)

[2015-04-24 16:07] alex-ab commented on #1487
@nfeske, @chelmuth : please add commits from issue_1487_staging to staging, I adjusted all the autopilot run scripts accordingly

[2015-04-24 23:21] ehmry commented on #1488
Thats fine, I thought git would complain if it got too long.

[2015-04-25 03:42] ehmry commented on #1478
Added a README and renamed to 9p_fs. The name is going to be confusing anyway you put it. Also, the directory is named ninep_fs so it can be imported by things that don't like identifiers to start with numerals.

[2015-04-27 10:11] cproc opened #1490 "usb_drv improvements"
- send a 'state_change' signal on session creation if the device is already attached
- evaluate the status code of a finished asynchronous operation
- return the number of actually transferred bytes for control transfers, too

[2015-04-27 13:16] chelmuth opened #1491 "thread: prevent overlapping of stack top and first member in context"

[2015-04-27 14:28] chelmuth commented on #1491
I admit that the proposed solution is just a kind of safety net if the stack top is dereferenced directly (like in thread.cc). On the other hand, the definition of *stack top* is somewhat vague: Does it point at the first word of the stack or just above the first word (with pre-auto-decrement in mind)? Therefore, I suggest to adopt my approach and have the first word of the stack as member in *Con

[2015-04-27 18:47] alex-ab commented on #1491
Is the reason that it only happened on the arm version because of the following line in thread.h:
[code]

where Abi::stack_adjustment() is on x86/32 4 byte and x86/64 8 byte and on arm it is 0 byte ?

[2015-04-27 20:43] ehmry commented on #1067
I'm going to close this for now, I think its more appropriate to implement libretro for Genode before working on porting old games.

[2015-04-27 20:43] #1067 closed

[2015-04-28 06:16] chelmuth commented on #1488
@ehmry our buildbot choked on your patch with the following errors
[code]
Please provide a fixup commit on top of add6946c40030d54005691da8b15090e26654397. I would have done it myself but get lost among `valid_name()` and `valid_filename()` ;-)

[2015-04-28 06:21] chelmuth commented on #1491
You're right `Abi::stack_adjustment()` is involved in the issue but the root cause is that `_alloc_context()` does not adhere to pre-auto-decrement and just dereferences `stack_top()` as is. The stack adjustment was introduced to comply with the architecture-dependent stack-alignment constraints in the various ABI specifications (calling conventions etc.).

[2015-04-28 12:34] skalk opened #1492 "hw: separate declaration from implementation in kernel"
A lot of kernel related headers contain most of the function's implmentation. Thereby a lot of object member functions are implicitely inlined and increase the kernel/core's text segment. Moreover, every change of a function implies a lot of compilation units have to be recompiled. Last but not least it is often impossible to use certain functionality because of circular dependencies.

[2015-04-28 12:59] m-stein opened #1493 "hw: acknowledge IRQs via Kernel::ack_irq"

[2015-04-28 13:10] ehmry commented on #1488
@chelmuth done

[2015-04-28 13:14] chelmuth commented on #1493
Fixed without commit?

[2015-04-28 13:16] m-stein commented on #1493
I don't wanted to encourage others to fix it but also don't want the commit to go to staging because someone else who doesn't like re-basing would have to re-base.

[2015-04-28 13:24] chelmuth commented on #1488
Did a short test build and added your fix to staging.

[2015-04-28 13:32] m-stein commented on #1492
Good direction. I did some minor changes. Do you agree?

[2015-04-28 13:36] m-stein commented on #1492
@skalk
Good direction. I did some minor changes. Do you agree?

[2015-04-28 18:05] cproc opened #1495 "thread self-destruction causes core crash on Fiasco.OC"
Related to issue #633, but not only a pthread problem: when a thread calls 'Cpu_session::kill_thread()' on its own thread capability, core crashes on Fiasco.OC and HW.

[2015-04-28 18:08] cproc commented on #1495
Test case added.

[2015-04-28 18:38] cproc commented on #633
On NOVA, a pthread currently cannot destroy itself either, because in 'Thread_base::_deinit_platform_thread()' it cannot call 'Cpu_session::kill_thread()' anymore after it has revoked its own UTCB.

@alex-ab: do you think this could be fixed? If not and if there are no other ideas, a dedicated 'destroyer thread' would have to do the destruction of run-out pthreads.

[2015-04-29 06:19] skalk commented on #1492
@m-stein sure

[2015-04-29 09:29] chelmuth commented on #1492
Merged to staging.

[2015-04-29 09:59] m-stein commented on #1493
@skalk
Do you agree with the commit?

[2015-04-29 10:09] skalk commented on #1493
@m-stein yes I'm fine with it.

[2015-04-29 15:33] chelmuth opened #1496 "hw: timer test sometimes hangs on panda"
Seen last night by our buildbot, the timer test hangs in very rare cases on hw_panda. I had to loop the test and experienced the issue on the 13th retry with the following script
[code]

[2015-04-30 06:49] m-stein commented on #1496
There are several sporadic issues with hw_panda currently (#1147, #982, noux) that might come from a problem with caches / branch prediction we investigated some time on last year but haven't found yet.

[2015-04-30 10:39] chelmuth commented on #1496
My intention was to just record this rather sporadic issue. Thanks for cross linking to the other issues.

[2015-04-30 12:36] m-stein commented on #1492
@skalk, @chelmuth
I've added two fixes for the recent HW compile errors on build-bot.

[2015-04-30 12:39] m-stein opened #1497 "hw_usb_armory: tz_vmm demo"

[2015-04-30 18:44] ehmry commented on #1478
I have a run script that works with qemu and an already running instance of u9fs.

I have u9fs packaged for Gentoo
[code]
or something like that.

[2015-05-01 07:14] cnuke opened #1498 "dde_bsd: audio drivers from OpenBSD"
The new `audio_out_drv` supports Intel HDA and ES1370 (mainly for use with Qemu) soundcards. It replaces the aging OSSv4 based dde_oss.

[2015-05-01 11:48] ssumpf commented on #1498
:+1:

[2015-05-01 14:47] ehmry commented on #1398
Now there is a `sqlite` and `libc_sqlite`, and `run/sqlite_speedtest` and `run/sqlite_libc_speedtest` for comparison.

[2015-05-04 11:53] m-stein commented on #1492
@chelmuth
Another fixup https://github.com/m-stein/genode/commit/845bc536945e872d692a5e4ab674c32273b5a31a. Thank you for the hint.

[2015-05-04 12:09] chelmuth commented on #1498
:+1: does this issue deserve a `fixed`?

[2015-05-04 16:09] cnuke commented on #1498
Not yet. There are some options (e.g. using the mmap interface instead of read/write) I want to  checkout first.

[2015-05-04 16:26] cproc opened #1499 "vbox: use interface declarations from 'VirtualBox_XPCOM.h'"
The 'VirtualBox_XPCOM.h' file contains the interface declarations of many VirtualBox classes. Currently, this file is not used and the interface names are just typedef'd to a class which implements the interface (example: 'typedef Session ISession'). This only works well if only one class implements the interface, which is not always the case. For example, both 'OUSBDevice' and 'HostUSBDevice' imp

[2015-05-05 17:35] alex-ab commented on #1216
MSIs are now in general working on current staging, please review. Will test some other machines these days.

[2015-05-05 17:35] alex-ab commented on #1216
Working for Fiasco.OC as Nova.

[2015-05-06 08:55] #755 closed

[2015-05-06 08:55] #1423 closed

[2015-05-06 08:55] #1471 closed

[2015-05-06 08:55] #1480 closed

[2015-05-06 08:55] #1486 closed

[2015-05-06 08:55] #1487 closed

[2015-05-06 08:55] #1488 closed

[2015-05-06 08:55] #1489 closed

[2015-05-06 08:55] #1491 closed

[2015-05-06 08:55] #1492 closed

[2015-05-06 08:55] #1493 closed

[2015-05-06 09:45] chelmuth commented on #1216
Besides my few comments I'm fine with the commits (and eager to merge them to staging).

[2015-05-06 09:57] chelmuth commented on #1464
Issue is marked `fixed` and commits are on master.

[2015-05-06 09:57] #1464 closed

[2015-05-06 11:55] alex-ab commented on #1216
I incorporated all your comments and updated the branch accordingly.

[2015-05-06 12:12] chelmuth commented on #1216
Did you already finish your testing odyssey through the lab?

[2015-05-06 12:20] chelmuth opened #1500 "foc: timer test sometimes hangs on imx53"
As in issue #1496, I ran

[code]

and experienced an `Error: Test execution timed out` on the 12th iteration.

[2015-05-06 14:19] alex-ab commented on #1216
Not done, but our x86 test machine is no fine with MSIs for xhci. Please add to staging

[2015-05-06 14:50] cnuke opened #1501 "base: throw exception on invalid Io_port access"
The current implementation checks the given address and drops bogus write requests silently while bogus read requests just return 0. It would be reasonable to notify the user by throwing an exception in this case.

[2015-05-07 09:45] chelmuth commented on #1216
It seems wifi_drv chokes on the current commits. @alex-ab and @cnuke could you please have a look?

[2015-05-07 10:13] alex-ab commented on #1216
Yep.

[2015-05-07 15:50] cnuke commented on #1216
@chelmuth  or @nfeske please merge 92df5e9 to staging. (The audio_out_drv _needs_ write access to this registers.)

[2015-05-07 16:34] cnuke commented on #1498
@chelmuth or @nfeske please merge 9dc39fc to staging.

[2015-05-08 06:57] cnuke commented on #1498
@chelmuth or @nfeske please merge 5b587e7 and 5785c1b to staging.

[2015-05-08 17:05] ehmry opened #1502 "Alternate keymap support in terminal"
Some of us have forgotten how to use qwerty.

[2015-05-08 18:36] cproc opened #1503 "vbox: adapt run scripts to new AHCI driver"

[2015-05-08 18:46] cproc opened #1504 "vbox: don't abort in 'fireGuestMonitorChangedEvent()'"
This function gets called when when the virtual monitor gets blanked out for screen saving.

[2015-05-08 19:03] cproc opened #1505 "nova: delay UTCB revocation on thread destruction"
On NOVA, a Genode thread currently cannot destroy itself by destroying its own 'Thread' object, because in 'Thread_base::_deinit_platform_thread()' it cannot call 'Cpu_session::kill_thread()' anymore after it has revoked its own UTCB.

As solution, the revocation of the UTCB can be delayed until its location in the context area is needed by a new thread.

Related to issue #633.

[2015-05-08 20:02] cproc commented on #1504
Oops, just noticed that this change already got in with the XPCOM header commit and my new commit actually reverts it back to aborting. Closing the issue.

[2015-05-08 20:02] #1504 closed

[2015-05-08 20:03] cproc opened #1506 "usb_drv: generate a device list report"
The report lists all connected devices and gets updated when devices are added or removed.

Example report:

[code]

There is no distinction yet for multiple devices of the same type.

The report is named "devices" and an example policy for 'report_rom' would look like:

[code]

The report only gets generated if enabled in the 'usb_drv' configuration:

[code]

[2015-05-08 21:04] cproc opened #1507 "vbox: enable USB (OHCI) pass-through support"
The information about connected devices is obtained from a ROM file named 'usb_devices', which is supposed to contain a device list as in the device report generated by the USB driver (see issue #1506).

A policy for 'report_rom' would look like:

[code]

If the 'usb_devices' ROM file is not available, a warning message gets printed and VirtualBox continues without USB pass-through support.

The d

[2015-05-08 21:08] cproc commented on #1507
for some reason ```<hid/>``` is not displayed correctly

[2015-05-10 21:47] ValiValpas opened #1508 "Memory corruption in trace service"
When allocating a second policy, the attributes of the first `Policy` object get corrupted.

You can reproduce this by applying the following patch followed by a `make run/trace`. The output will show the `_id` and `_owner` of the `Policy` objects in the `Policy_registry` during each lookup. Eventually, the test fails with a `Nonexistent_policy` exception because the `Policy` object with _id==1 ca

[2015-05-11 12:25] m-stein commented on #1256
<b>Info: Equipment for outdoor activities</b>

We plan to do a kayaking/canoing/rubber-raft tour and to hike through the pretty plain landscape around Bad Muskau. Furthermore, we might visit the climbing garden in Spremberg. It should be sufficient to have some robust hiking shoes, clothing for rainy and sunny weather and a backpack.

[2015-05-11 12:35] m-stein commented on #1256
<b>Update: General information on the accommodation</b>

* An internet connection will be available in the seminar room
* Check-in at the 22nd of June by 3 pm.
* Check-out at the 25th of June till 10 am.

[2015-05-11 13:23] ehmry commented on #1256
@m-stein You mean May?

[2015-05-11 13:26] nfeske commented on #1506
Very good. Thanks for giving the README some attention, too. :-)

[2015-05-11 13:29] nfeske commented on #1256
I am pretty sure. ;-)

[2015-05-11 19:31] cproc opened #1509 "fiasco: remove 'const' GCC attribute from some functions"
Some functions in the kernel which create a static object and return its address are declared with a GCC 'const' attribute, which can cause GCC 4.9 to optimize the function call out and use the static object's address without calling the constructor.

[2015-05-11 19:59] cproc opened #1510 "libc_noux: remove dependency on 'platform_env.h'"
Currently, libc_noux includes the 'base/src/base/env/platform_env.h' file to be able to reinitialize the environment using the 'Platform_env' interface. For base-linux, a special version of this file exists and the inclusion of the generic version in libc_noux causes GCC 4.9 to make wrong assumptions about the memory layout of the 'Env' object returned by 'Genode::env()'. The inclusion of the 'pla

[2015-05-11 20:05] m-stein commented on #1256
@nfeske @ehmry
Ah :) Thank you for correcting me.

[2015-05-11 20:07] alex-ab commented on #1471
@chelmuth, @nfeske : the commits 2fe30fcdce12543709f83bfc010a8159c20b30fb and 74bec4b01ea0b172d72cf23c3e25d3f0eba62e73 are follow up commits for this issue, which finally removes the shared irq support from core

[2015-05-11 20:26] cproc opened #1511 "hw: compile error with GCC 4.9"
When building the 'cxx' library with GCC 4.9, the following error is reported:

[code]

According to http://stackoverflow.com/questions/10369606/constexpr-pointer-value, reinterpret casts are not allowed with ```constexpr```. Removing the 'constexpr' keyword, as suggested on the site, helped, but there might be a better solution.

[2015-05-12 09:26] cproc opened #1512 "dde_rump: don't build non-Genode shared libraries"
The rump build system creates some shared libraries (lib*.so.0.0) which are not usable for Genode and which require 'libgcc_s.so'. Since 'libgcc_s.so' did not compile without errors for the GCC 4.9 Genode tool chain and it is not used for Genode shared libraries, I removed it from the tool chain. To make the rump build process still succeed without 'libgcc_s.so', it needs to skip the building of t

[2015-05-12 09:46] cproc opened #1513 "Noux: implement the 'F_GETFL' 'fcntl()' command for pipes"
GCC 4.9 (as Noux application) calls 'fcntl()' with the 'F_GETFL' command on a pipe file descriptor.

[2015-05-12 11:34] cproc commented on #1511
Fixup commit 3518c27 makes it a static inline function.

@nfeske, @chelmuth: please add to staging

[2015-05-12 12:41] chelmuth commented on #1416
According to the chronox site [version 1.2.0](http://chronox.de/jent/jitterentropy-1.2.0.tar.xz) of the library is out. Retrospective, I wonder what made us hesitate to merge the update to 1.1.0, @cnuke?

[2015-05-12 13:30] cproc opened #1514 "ports-foc: 'balloon_session.h' missing"
The 'balloon' server needs the file 'balloon_session/balloon_session.h', which is missing.

[2015-05-12 14:16] cnuke commented on #1416
There is no particular reason IIRC, it probably just slipped our mind because it is not marked as fixed.

[2015-05-12 17:32] ehmry commented on #1416
I can bump this to 1.2.0 when I get a chance.

[2015-05-12 18:01] ehmry commented on #1416
That should do it.

[2015-05-12 21:50] alex-ab commented on #1446
@nfeske, @chelmuth : please review and consider 2b1634589871a2fb042a90fb12c3f491b7c8378f  for staging

[2015-05-13 10:44] cproc opened #1515 "qt5: GCC 4.9 compile fix"

[2015-05-13 11:56] m-stein commented on #1256
If somebody plans to not participate in canoeing for any reason: Please let me know soon so I can take account when organizing the trip.

[2015-05-13 11:56] alex-ab opened #1516 "run: support all possible relays of the softreset tool"

[2015-05-13 12:31] cproc opened #1517 "tool_chain: cleanup"

[2015-05-13 12:36] cproc opened #1518 "tool_chain: update binutils to version 2.25"
Depends on #1517.

[2015-05-13 12:40] cproc opened #1519 "tool_chain: update GCC to version 4.8.4"
Depends on #1518.

[2015-05-13 12:44] cproc opened #1520 "tool_chain: update GCC to version 4.9.2"
Depends on #1519.

[2015-05-13 12:48] cproc opened #1521 "tool_chain: enable x86_64 target support in GDB"
Depends on #1520.

[2015-05-13 12:54] chelmuth commented on #1416
Merged into staging.

[2015-05-13 12:56] chelmuth commented on #1446
The issue is still in the works -> reopen.

[2015-05-13 13:01] alex-ab commented on #1446
I tested it now with our relevant machines and it is working fine - so issue is fixed from my side. 56693e6bae79e2b116cb3b96989d6a224766dcaa

[2015-05-13 14:33] cproc commented on #1517
Fixup commit 3823029 removes the non-functional 'install' command from the help output of the 'tool_chain' script.

[2015-05-13 16:14] cproc opened #1522 "x86emu: fix compiler warnings"
When building x86emu with GCC 4.9, compiler warnings appear:

[code]

[2015-05-13 16:18] cproc opened #1523 "libc: fix compiler warning"
When building libc with GCC 4.9, a compiler warning appears:

[code]

[2015-05-13 16:30] cproc opened #1524 "ahci: compiler warnings"
When building ahci with GCC 4.9, compiler warnings appear:

[code]

[2015-05-13 16:39] ehmry commented on #1256
:+1: Canoeing sounds great.

[2015-05-14 07:25] skalk commented on #1514
I think the 'balloon' server was a development tool only that accidentally hit the mainline Genode repository. So let us just remove it.

[2015-05-15 08:51] chelmuth commented on #1522
The warnings also happen with GCC 4.7 and to be honest the commit message should be "_prevent_ compiler warnings about uninitialized vars".

[2015-05-15 09:48] chelmuth commented on #1524
I propose the following solution as we know the value range will not exceed `access_t` despite the integer-based arithmetics, i.e., negation and shift operations.
[code]

[2015-05-15 11:20] cproc opened #1525 "codezero: build error with GCC 4.9"
When building codezero with GCC 4.9, an error occurs:

[code]

[2015-05-17 22:33] vladimir-lu commented on #1256
Indeed, canoeing sounds good to me :)

I will be in Dresden from about 12:30 onwards - @chelmuth does that work with the car you had arranged or has that opportunity gone?

[2015-05-18 10:16] ssumpf commented on #1256
@vladimir-lu: I will drive from Dresden on my own and can take up to three people with me. Your time frame matches mine, so if it does not work out with @chelmuth, let me know.

@m-stein: How much is the canoing?

[2015-05-18 11:45] cproc opened #1526 "seoul: create the Halifax object with the required alignment"
@alex-ab: please add commit https://github.com/cproc/seoul/commit/cccc83db0f0e1452a777d8d769a5c77df4cdcfb0 to your seoul repository. Then we need to adapt the port file to the new commit hash.

[2015-05-18 12:12] alex-ab commented on #1526
@cproc: done. (4c82009d2da7b771c6402d7cdaf3f65cdc6fde62) Do you add a genode update commit ?

[2015-05-18 12:32] chelmuth commented on #1256
The drive will take us about 2 hours from Dresden to Bad Muskau and we'll pick up one hacker at Dresden Airport at 14:30. Therefore, I plan to start at Genode Labs's office at about 13:30 and fetch some crates of Club Mate at a store along the way. So, @vladimir-lu and @ehmry you may join us at our office or at the airport. Please leave me a note in this thread.

[2015-05-18 12:32] cproc commented on #1526
@alex-ab: done

[2015-05-18 12:35] chelmuth commented on #1256
Ah, I forgot to mention: Genode Labs will pay for the canoing.

[2015-05-18 14:06] ehmry commented on #1256
@chelmuth I'll meet you at the office at 13:30, assuming thats Friedrichstr. 26.

[2015-05-18 14:21] chelmuth commented on #1256
Exactly, see you then.

[2015-05-18 16:09] nfeske opened #1527 "SD-card driver for i.MX6"
In March, @srinivasprv posted the following SD-card driver for the i.MX6 platform to our mailing list:

https://github.com/srinivasprv/genode/commit/58d436c1419f918b9d8ceb6b71094b71a87405da

Back then, we deferred the inclusion of the driver until Genode officially supports i.MX6. Today, this is the case. The driver looks very good to me. But we will probably need to adapt it to the recent changes

[2015-05-18 16:20] Kensan opened #1528 "hw_x86_64: Support for dynamic IRQ mode setting"
Currently the IRQ trigger mode and polarity on hw_x86_64 is hardcoded. Remove this limitation by adding support for dynamic IRQ mode handling similar to how this is treated on base-foc.

[2015-05-19 10:07] chelmuth opened #1529 "l4linux: run scripts use incompatible initrds but download only if file does not exist"
Seen several times during the last weeks on nightly tests foc_arndale run scripts for l4linux stopped with error 'initrd.gz: FAILED'. This is due to conflicting initrd images for distinct test cases. The initrds are downloaded only if the file does not exist yet, which ends up in failing md5sum check in l4linux.run. A possible fix would be to download the md5sum file first and also download the ac

[2015-05-19 11:57] alex-ab opened #1530 "usb: dmar faults on base-nova"
netperf_lxip_usb30.run on nova_x86_64:

[code]

[2015-05-19 16:36] cproc opened #1531 "Check if the required GCC version is used"

[2015-05-20 07:06] alex-ab opened #1532 "pci: deny write accesses by device drivers to pci config register in use by pci driver"

[2015-05-20 12:00] skalk opened #1533 "hw_x86_64: kernel stack is initialized wrongly"
The stack pointer of a kernel's cpu context is intialized with the base of all kernel stacks within the generic code path. In the ARM platform specific code this address was used to calculate the appropriated stack top for the corresponding cpu context (SMP case). For x86 nothing was calculated, therefore the kernel stack base address was taken as initial stack pointer, which immediately leads to

[2015-05-20 14:08] skalk commented on #1443
@m-stein : please review the last commit, which implements kernel capabilities

[2015-05-20 14:17] ehmry opened #1534 "File system clients can fault servers with zero tx buffer sizes"

[2015-05-20 14:27] nfeske commented on #1534
Thanks for spotting and solving this issue!

[2015-05-20 14:34] ehmry commented on #1534
It would still be nice to deduplicate the session policy loading on these things...

[2015-05-20 14:41] nfeske commented on #1534
That's true. But let us leave this for another day. ;-)

[2015-05-20 19:06] cproc opened #1535 "vfs: increment 'seek_offset' in block fs"
Currently, on a read or write request of 4096 bytes, only the first 512 bytes of the corresponding 4096-byte area on the block device are read/written.

[2015-05-20 19:57] vladimir-lu commented on #1256
@chelmuth I will do the same - 1330 at the office.

[2015-05-21 07:08] skalk opened #1536 "remove cap_integrity test from base"
I'd like to remove test/cap_integrity from the base repository. This test makes no sense under NOVA, base-hw, and seL4. Moreover, it just tests what is known to be a vulnerability under OKL4, Pistachio, Fiasco, Codezero and Linux. There will be no fix for these platforms, as they do not support kernel-backed capabilities. The only platform, which support kernel-backed capabilities and still needs

[2015-05-21 08:36] alex-ab commented on #1536
:+1: Added a fixup to remove also the base-nova version of the test.

[2015-05-21 10:39] m-stein opened #1537 "hw: destroy active scheduling context"
Because of helping, it is possible that a core thread that wants to destroy another thread at the kernel is using the scheduling context of the thread that shall be destroyed at this point in time. When building without `GENODE_RELEASE` defined, this always triggers an assertion in the kernel. When building with `GENODE_RELEASE` defined, this might silently lead to kernel-memory corruption.

[2015-05-21 11:11] m-stein commented on #1537
I started to enhance the scheduler so that it is aware of destroying the active context but the solution tends to become more complex than I thought. Thus, I've created a simple patch that, at least, prevents silent memory corruption due to this bug for now.

[2015-05-23 21:39] ehmry opened #1538 "remove libc from fs_log"
A server to direct log messages to a native FS session. Log files are creating with directories and names from session labels. Errors from writing to file are not reported as short writes to log.

[2015-05-23 21:42] ehmry commented on #1538
There are now also copies of utility functions from fs_rom in os/include/file_system/util.h

[2015-05-24 14:36] ehmry commented on #1408
Fixed at https://github.com/ehmry/genode/commit/f2257bc566d348b78642dc56aab0bf1435815487

[2015-05-24 15:36] alex-ab opened #1539 "pci: assign per session a separate device_pd (if IOMMU available)"
Currently the host are protected via the IOMMU from devices doing DMA. However until now devices may read/write DMA regions of other devices. If we would start for each PCI session a separate device_pd, the DMA buffers of a device/devices per PCI session stay exclusive and can't be read/written by other devices with their drivers.

[2015-05-24 17:38] cnuke opened #1540 "vbox: support unaligned MMIO read access"
Among others, needed by Windows HD audio driver.

[2015-05-24 17:53] chelmuth commented on #1539
:+1: I'm curious how this works on hardware...

[2015-05-26 07:45] #1216 closed

[2015-05-26 07:45] #1490 closed

[2015-05-26 07:45] #1498 closed

[2015-05-26 07:45] #1499 closed

[2015-05-26 07:45] #1503 closed

[2015-05-26 07:45] #1505 closed

[2015-05-26 07:45] #1506 closed

[2015-05-26 07:45] #1507 closed

[2015-05-26 07:45] #1509 closed

[2015-05-26 07:45] #1510 closed

[2015-05-26 07:45] #1512 closed

[2015-05-26 07:45] #1513 closed

[2015-05-26 07:45] #1516 closed

[2015-05-26 07:45] #1443 closed

[2015-05-26 07:45] #1514 closed

[2015-05-26 07:45] #1515 closed

[2015-05-26 07:45] #1517 closed

[2015-05-26 07:45] #1518 closed

[2015-05-26 07:45] #1519 closed

[2015-05-26 07:45] #1520 closed

[2015-05-26 07:45] #1521 closed

[2015-05-26 07:45] #1522 closed

[2015-05-26 07:45] #1523 closed

[2015-05-26 07:45] #1524 closed

[2015-05-26 07:45] #1525 closed

[2015-05-26 07:45] #1526 closed

[2015-05-26 07:45] #1531 closed

[2015-05-26 07:45] #1533 closed

[2015-05-26 07:45] #1534 closed

[2015-05-26 07:45] #1535 closed

[2015-05-26 07:45] #1536 closed

[2015-05-26 08:39] alex-ab opened #1541 "pci: class alias handling in policy incorrect"
If a policy is used for ETHERNET, e.g.
[code]

it happens, that also non ethernet devices gets attached to the virtual pci bus of the driver.

[2015-05-26 14:30] alex-ab opened #1542 "x86: transform pci_drv into platform_drv"

[2015-05-26 14:39] nfeske commented on #1542
Are you considering our discussion about decoupling the ACPI functionality from the PCI using the report-rom mechanism?

[2015-05-26 16:10] m-stein opened #1543 "hw & arm: detect faults in core and kernel"
By now, only faults in core threads are detected and whether the detection succeeds depends on much data that isn't needed in this case because the detection is done pretty late in the corresponding kernel pass. I think it should be detected as early as possible and make use of as few core data as possible to be more reliable. In case, the developer may still add temporary functionality on his own

[2015-05-26 17:32] Kensan commented on #1528
I rebased the change on the latest staging branch (394e8f8...) and verified that the **run/libc_ffat** script works on real hardware.

[2015-05-26 17:40] alex-ab commented on #1542
Yes, I remember the discussion ;-)

[2015-05-26 17:41] alex-ab commented on #1542
After some direction discussion with @nfeske and @chelmuth it turned out that the both drivers should stay as separate components. So, I will just update the way the acpi_drv communicate the necessary information to the pci_drv (via report_rom) and finally rename the pci_drv to platform_drv.

[2015-05-26 18:47] m-stein opened #1544 "Planning of Hack'n'Hike 2016"
Like in 2015, we're planning to celebrate a Hack'n'Hike gathering again in May 2016. If you're interested in Genode and the community behind it, you're welcome to join us. The idea behind the Hack'n'Hike is to meet in a cozy accommodation in the country side, experience activities in nature during the day and encourage programming projects at the evening/night.

This issue shall serve as platform

[2015-05-26 18:49] m-stein commented on #1256
Hey all, we're back at Dresden now and to me, the Hack'n'Hike 2015 was a wonderful experience. I hope you enjoyed the event too and all came back home well. We already started the [planning of the Hack'n'Hike 2016](https://github.com/genodelabs/genode/issues/1544). Hope to see you there again.

[2015-05-26 18:49] #1256 closed

[2015-05-27 09:18] chelmuth commented on #1544
Maybe we'll have a chance to book http://www.gutshaus-heeselicht.de/ this time?

[2015-05-27 09:21] chelmuth commented on #1528
@m-stein do you confirm the patch?

[2015-05-27 09:25] chelmuth commented on #1446
The commits made it into 15.05.

[2015-05-27 09:25] #1446 closed

[2015-05-27 09:36] chelmuth commented on #1530
Merged into staging.

[2015-05-27 09:36] chelmuth commented on #1532
Squashed both commits and merged into staging.

[2015-05-27 09:39] chelmuth commented on #1416
Made it into 15.05

[2015-05-27 09:39] #1416 closed

[2015-05-27 09:42] #1511 closed

[2015-05-27 09:44] chelmuth commented on #1131
The new AHCI driver works on Qemu as far as I know.

[2015-05-27 09:44] #1131 closed

[2015-05-27 09:49] chelmuth commented on #1362
This issue applies to the old AHCI driver. Reopen for the new driver if the issue persists.

[2015-05-27 09:49] #1362 closed

[2015-05-27 09:57] chelmuth commented on #1542
This issue is closely related to #1359.

[2015-05-27 11:16] m-stein commented on #1528
@Kensan, @chelmuth
I enjoyed reading this new and essential feature.
I've added a fix-up with some minor modifications.
Do you agree?

[2015-05-27 11:29] Kensan commented on #1528
@m-stein
I am fine with the changes but would like to point out that I followed the function naming of the base-foc implementation, see https://github.com/genodelabs/genode/blob/master/repos/base-foc/src/core/include/platform.h#L134. Maybe that implementation could be renamed accordingly for consistency's sake?

[2015-05-27 11:36] chelmuth commented on #1528
@m-stein I agree with most of the fixup changes beside renaming `setup_irq_mode` as the function is more than just a plain _setter_.

[2015-05-27 14:39] alex-ab commented on #1542
Commit 7a8f9ca4189ddd2eb62910db7a422293e0341e23 use a report_rom to transfer the information from the acpi_drv to the pci_drv. The acpi_drv now don't provide any service anymore, just the rom. The pci_drv must now be configured explicitly via the config node, whether it is running with acpi support or not. I adjusted for now 3 run scripts to showcase the changes. Please drop your opinions, before

[2015-05-27 17:27] ehmry opened #1545 "ram_fs returns 0 on file writes"

[2015-05-27 19:33] alex-ab commented on #1542
dd78f527692a022ccfa3e024f6dbd980ef4af1ec showcase the renaming changes (usb_hid, input and lwip run as use cases)

[2015-05-27 19:53] alex-ab commented on #827
Atapi driver was removed with commit 2002e1ccba42d9469598de17893edc73a498b3c5. rip

[2015-05-27 19:53] #827 closed

[2015-05-27 20:01] alex-ab commented on #1352
Fixed with new ahci driver.

[2015-05-27 20:01] #1352 closed

[2015-05-27 21:26] Kensan opened #1546 "libc_ffat: Fix compiler warning"
Compiling libc_ffat with GCC 4.9.2 the following compiler warning is issued:

    Library libc_ffat
      COMPILE  plugin.o
    /.../repos/libports/src/lib/libc_ffat/plugin.cc: In member function 'virtual off_t {anonymous}::Plugin::lseek(Libc::File_descriptor*, off_t, int)':
    /.../repos/libports/src/lib/libc_ffat/plugin.cc:437:37: warning: comparison between signed and unsigned integer expressi

[2015-05-27 23:24] m-stein commented on #1543
My branch 1543_hw_arm_detect_faults_in_core_and_kernel is based on staging and fixes the issue.

@skalk What do you think about it?

[2015-05-27 23:31] m-stein commented on #1528
@Kensan @chelmuth
I removed the renaming from the fix-up.

[2015-05-28 07:05] nfeske commented on #1542
That was quick! :-)

I like the patch. There are a few minor suggestions though:
* How do you think about moving the platform_drv part of the run scripts to a separate include file, let's say base/run/platform_drv.inc. This file could extend the ```build_components```, ```config```, and ```boot_modules``` variables while taking the platform differences into account. This would avoid duplicating th

[2015-05-28 09:18] #1528 closed

[2015-05-28 09:18] #1530 closed

[2015-05-28 09:18] #1532 closed

[2015-05-28 09:18] #1540 closed

[2015-05-28 09:18] #1541 closed

[2015-05-28 09:21] alex-ab commented on #1542
In principal yes, actually you referring to something intended by #765. The only missing thing is, that for each platform driver you actually need a run script specific policy. Just assume a variable, e.g. '$platform_drv_policy' which must be available if used together with the platform_drv.inc ?

[2015-05-28 10:48] alex-ab commented on #1542
Ok, playing with the way #765 suggests. So I can still specify the policy per run script as argument to the config_platform_drv procedure.

[2015-05-28 11:58] alex-ab commented on #1542
What do you think about 8c744bed728e4ad2c22a5aee34f124ed5e34462a ? I adjusted input.run and lwip.run to show how one could still apply a platform_drv specific policy and if wanted (input.run) a routing node specific to the use case.

[2015-05-28 12:09] chelmuth commented on #1542
Looks quite good except the mandatory `join`. Could we use `append build_components [build_platform_drv]`?

[2015-05-28 12:25] nfeske commented on #1542
This looks already very nice!

I wonder, what is the use case for customizing the session routing for the platform driver? Doesn't it always talk to exclusively to core? If yes, we could drop the second argument of config_platform_drv in my opinion.

Another question, would it be sensible to have some kind of default policy that covers the platform-driver clients that we have in our scenarios, e.g

[2015-05-28 18:52] alex-ab commented on #1542
I also don't like the join, but did not found a better solution so far. Your suggestions leads to:

[code]

[2015-05-28 21:35] alex-ab commented on #1542
Next iteration b9af9b980f7175fd697fbf17250f5bc705207161. Contains updates to all autopilot run scripts as demo.run

[2015-05-29 06:44] m-stein commented on #1544
I've contacted them yesterday.

[2015-05-29 10:34] #1545 closed

[2015-05-29 10:34] #1546 closed

[2015-05-29 13:47] nfeske commented on #1542
I propose to simplify the mechanism by introducing the convention that there exist the three global variables ```boot_modules```, ```build_components```, and ```config``` - as is the case in most non-trivial run scripts anyway. Once we have this convention fixed, we can have functions that modify those variables directly. For example, instead of calling ```lappend build_components [build_platform_

[2015-05-29 14:28] nfeske commented on #1527
The version https://github.com/iitmadras/genode/commit/a5cd4c7f8e0cd5cf224aa760bb1383459e3b25d6 seems more current. The commit has still a gmail address and no full name though.

[2015-05-29 14:30] chelmuth commented on #1408
Merged it to staging.

[2015-05-29 14:40] nfeske commented on #1538
I like the new implementation. But let us consider two points:

* It would be nice to have a separate commit for moving the utility functions from fs_rom to file_system/util.h.
* In my opinion, the new service should replace the existing fs_log service. Otherwise the situation and the naming of the components becomes quite confusing. How about removing the original fs_log service from the libports

[2015-05-29 16:06] NobodyIII opened #1547 "AHCI does not work with SB7x0/SB8x0/SB9x0 SATA controller"
This issue seems to be related to IRQs.

[2015-05-29 17:12] m-stein commented on #1543
@skalk
I've updated the branch: There was a problem with stack overflows in ARMv6. After solving it was little additional effort for a fully generic exception entry. So, I added that too.

[2015-05-29 18:37] cproc opened #1548 "vbox: store the unmodified TSC in the Global Info Page"
Currently, the time stamp counter value stored in the Global Info Page (GIP) gets calculated relative to an initial value to start from 0 at VM start. Unfortunately, this leads to incorrect results of the 'rtTimeNanoTSInternalRef()' function, which calculates the difference of the unmodified 'current' TSC value and the TSC value stored in the GIP to find out how much time has passed in the meantim

[2015-05-29 20:49] ehmry commented on #1538
I trimmed the utilites off fs_rom and moved them into a second commit. I also added some equity operators to node handles.
Fs_rom is removed and replaced with the new version.

[2015-05-30 05:46] chelmuth commented on #1547
[Hardware specs for the machine](https://github.com/NobodyIII/genode/blob/master/lshw.log)

@NobodyIII please add a clean and complete log file too. The issue description does not tell anything about your issue currently.

[2015-05-30 09:05] nfeske commented on #1538
Thanks a lot for following my suggestions. One last little thing: Would you mind to add a README file to the component so that users can quickly determine its purpose and the information of how to use it?

[2015-05-30 15:38] ehmry commented on #1538
Yes, I've pushed one since I've opened the issue https://github.com/ehmry/genode/blob/c90f3225f87a5e05913ebcdd638f16349c5aad2f/repos/os/src/server/fs_log/README

[2015-05-30 16:19] ehmry commented on #1538
I changed the noux_bash scenario to use fs_log to make logs available from noux, its on the head of my fs_log-native branch.

[2015-05-30 17:22] nfeske commented on #1538
@ehmry Mea culpa! Sorry for having missed it. :-) That's actually perfect. Also, I like your idea to showcase the server in the noux_bash scenario.

I will still wait one day or two for a comment by @astarasikov before merging your patches, ok?

[2015-05-30 18:09] ehmry commented on #1538
Sounds good

[2015-05-30 18:25] astarasikov commented on #1538
I'm fine with whatever brings Genode development forward :)

On Sat, May 30, 2015 at 8:22 PM, Norman Feske <notifications@github.com>
wrote:

--
Regards, Alexander

[2015-05-30 23:05] trimpim opened #1549 "Add IoMux to raspberry Pi platform driver"
Add a RPC interface to configure the IoMux to the platform driver of the Raspberry Pi.

[2015-05-31 01:50] srinivasprv commented on #1527
I'm sorry.
I have a poor internet connection and could not respond sooner.

Unfortunately my project with IIT Madras was complete.
I'll  coordinate with our team at IIT Madras, rebase our work and create a proper commit.

[2015-05-31 05:37] NobodyIII commented on #1547
What do you mean by "clean"? And by complete, do you mean that you want me
to set verbose=true on ahci and/or acpi, or do you need more than that?
Also, I've been wading through the ahci, and pci code to try to find a good
place to hardcode IRQ 19, but I haven't found one yet. Given a few hours, I
could probably find a place to hardcode IRQ 19, but I'm betting you know
the code well enough that yo

[2015-05-31 08:33] ehmry commented on #1538
I just realized that message buffering at the stream is bounded by the size of packets queue, not the bulk buffer, so no real message buffering.

[2015-06-01 07:08] chelmuth commented on #1547
The [log](https://gist.github.com/chelmuth/598916fcb30a4c131062#file-nobody-unclean-log) you sent to on the list is not clean in the way that several lines of log are overwritten by later output. I'd like to read the complete log output where each input line also takes one output line.

[2015-06-01 08:52] alex-ab opened #1550 "acpi: does not transfer memory quota to pci driver correctly"
Since #1487 the clients of the pci driver have to provide the memory quota for requests. Since the pci driver is a slave of the acpi driver (so, the parent), the acpi driver has to transfer memory quota between pci clients and pci driver, which it does not correctly. Error output looks like this:

[code]

[2015-06-01 09:06] alex-ab opened #1551 "nova: update to r9"
Fixes some compiler warnings and re-enables debug commits when kernel runs out-of-memory. This got dropped by mistake due to the signal kernel extension in course of the 15.05 release.

[2015-06-01 09:25] ssumpf commented on #1547
@NobodyIII: Could you send us a dump of the ACPI DSDT table of the machine? If you don't want to see the dump online a private email does suffice.

[2015-06-01 09:26] alex-ab commented on #1547
@NobodyIII:  try  commit adf784fa07f3af65821255c3f49f72d1e26e7217.

[2015-06-01 11:39] alex-ab commented on #1542
Ok. Reworked the commit again 6b9e03123b9ba742dbb8afe97293782239061121 for autopilot run scripts and demo.run. Please re-check.

[2015-06-01 12:41] nfeske commented on #1542
The new version looks superb (at least to my eyes)!

[2015-06-01 12:51] alex-ab commented on #1542
Then it would be good to add to staging in the next days. If all runs fine, I would actually re-apply the changes of this issue regarding renaming pci driver into platform driver.

[2015-06-01 15:11] NobodyIII commented on #1547
I used minicom. Should I use something else?
On Jun 1, 2015 1:08 AM, "Christian Helmuth" <notifications@github.com>
wrote:

[2015-06-01 16:28] NobodyIII commented on #1547
The commit didn't work. It did give the debug output about overwriting IRQ
11 with 19 though.

On Mon, Jun 1, 2015 at 9:26 AM, Alexander Boettcher <
notifications@github.com> wrote:

[2015-06-01 16:54] chelmuth commented on #1547
Whatever you like as long as the output stays intact. AFAIK minicom uses Ctrl-l to define a log file to write to.

[2015-06-01 19:19] m-stein commented on #1544
Gutshaus Heeselicht has answered and they say that in May 2016, they have room for us expect at the weekends of Ascension Day and Pentecost. I liked the Monday-to-Friday constellation this year. So, I would propose 20th-23rd or 27th-30th of May for the next Hack'n'Hike. Any opinions on that?

The Gutshaus has room for 14 persons at a max. It provides a kitchen and dining room for self-catering onl

[2015-06-01 20:38] NobodyIII commented on #1547
Thanks. I just copied the terminal output.
On Jun 1, 2015 10:55 AM, "Christian Helmuth" <notifications@github.com>
wrote:

[2015-06-02 07:08] chelmuth commented on #1544
:+1: from me for both dates. I'll gladly join you preparing meals - maybe @skalk could help us prepare the delicious pasta with egg plants we had in Saupsdorf 2012...

[2015-06-02 09:31] nfeske opened #1552 "Turmvilla scenario"
At this year's Hack'n'Hike, I kicked off my transition of my day-to-day computing environment from Linux to Genode. This issue will document the progress.

The transition will take several steps. The first step is a minimal Genode environment that allows the hosting of a rich Linux environment inside a virtual machine. This rich Linux environment basically contains my current Linux-based setup wit

[2015-06-02 09:44] nfeske commented on #1552
For setting up the basic scenario, I followed the excellent step-by-step instructions as compiled by @cproc: https://github.com/cproc/genode/blob/vbox_vm_linux/doc/virtualbox_setup.txt

I am using 32-bit Xubuntu 14.04 as my rich Linux system.

The Genode branch with the Turmvilla scenario can be found at https://github.com/nfeske/genode/commits/turmvilla Note that this branch is a topic branch. So