[2022-05-27 16:02] chelmuth commented on #4520
Commit 5ee5845b5de3bf66734f6da175956f29c05000b7 cannot be applied to staging (312dde383e5a43d0ca025ca3221fdd4a6780f4d5). Please rebase for merge.

[2022-05-29 20:06] m-stein commented on #4520
@chelmuth I'm sorry for the inconvenience, I couldn't finish the work on Friday and accidentily pushed a single commit. The issue was actually about several fixes and a test for the wireguard configuration. The correct commit series is this:
3304f444a9 wireguard: enable WARN_STRICT_CONVERSION in lib
8df5fb8f56 wireguard: test multiple peers at a time
71830681a4 wireguard: exit on invalid configura

[2022-05-29 20:08] m-stein commented on #4519
@chelmuth Thanks for the detailed feedback! I will deal with this next.

[2022-05-30 05:27] m-stein commented on #4519
I'm unable to find a satisfying solution for the dependency-chain problem.

CC_OPT_% is set automatically for each contrib file by import-lx_emul_common.inc . However, the resulting modname value - which is the filename without extension (for example "device" for wireguard/device.c) - is not expected by WireGuard code. It rather expects "wireguard" for all WireGuard files. For two WireGuard files,

[2022-05-30 06:50] chelmuth commented on #4519
Could [target-specific variables](https://www.gnu.org/software/make/manual/html_node/Target_002dspecific.html) help to solve this?

[code]

[2022-05-30 10:53] m-stein commented on #4519
@chelmuth I really appreciate your thorough reviews! I've added commits regarding your objections:
a826368107 wireguard: no warning about possible alignm. issue
75f9bfef0c wireguard: don't always rebuild device.c/netlink.c

[2022-05-31 11:34] #4519 closed

[2022-05-31 11:54] m-stein commented on #4022
I don't see a solution nor a pressing need for one regarding this issue. I'll therefore close it.

[2022-05-31 11:54] #4022 closed

[2022-05-31 11:56] m-stein commented on #4174
It seems that there is no plan or pressing need to solve this issue. I'd therefore close it. Any objections?

[2022-05-31 11:59] m-stein commented on #4159
I'd close this issue as it is not critical for me and I have no spare time to solve it anyway.

[2022-05-31 11:59] #4159 closed

[2022-05-31 12:09] m-stein commented on #4036
Commit https://github.com/genodelabs/genode/commit/9d9e3ba2ac22a4c98ace2fe5f78c7a042fb47f66 shows no uncaught exceptions on current staging anymore. I'll therefore close the issue.

[2022-05-31 12:09] #4036 closed

[2022-05-31 12:17] m-stein commented on #4130
I'd close this issue as there seems to be no pressing need for a solution and I don't have the time.

[2022-05-31 12:19] m-stein commented on #4174
If anyone would like to take over in this matter, I'd suggest he/she re-opens the issue.

[2022-05-31 12:19] #4174 closed

[2022-05-31 12:21] m-stein commented on #4020
I won't have time to work on this issue in the near future. If anyone likes to take over, please re-open the issue.

[2022-05-31 12:21] #4020 closed

[2022-05-31 12:22] #4010 closed

[2022-05-31 13:20] nfeske commented on #2177
I'd keep it. You don't need to feel responsible, @m-stein.

[2022-05-31 13:30] cnuke opened #4521 "Remove unneeded session_size check"
There are still several components that explicitly check if the received *ram_quota* is enough to accommodate the session component object in their `_create_session` implementation. AFAICT this is already covered by the adjustments made in https://github.com/genodelabs/genode/blob/b6d313bbe64dd73b2c3d462bf19c3ebcba3af43a/repos/base/include/root/component.h#L143-L148 and leads to require more quota

[2022-05-31 13:32] cnuke commented on #4521
Commit [ddc336a](https://github.com/cnuke/genode/commit/ddc336a05ba3d3719d0d113fd9ec4658403dcc01) addresses the issue.

[2022-05-31 19:03] m-stein commented on #2177
@nfeske Thanks!

[2022-06-01 15:46] nfeske commented on #3972
Commit 6326774056b62ab8d0182400c90169009c8e19d9 addresses a corner case I observed with app/menu_view.

[2022-06-02 05:04] trimpim commented on #4426
@alex-ab on my i7 11700 test system, which uses a `MSI Edge Gaming WiFi` mainboard, your patch helps with the serial output.

[2022-06-02 09:04] jschlatow commented on #4203
I just re-run the speedtest on my x260 with Sculpt 22.04. Interestingly, the throughput depends on whether I use the ram_fs or the USB stick. The difference is significant (20Mbit/s from ram_fs vs 10Mbit/s from USB stick). I first suspected file system accesses (I'm using recall_fs for download and config) and let recall_fs use the ram_fs even when using the USB stick. However, I still get only 10

[2022-06-02 11:48] nfeske commented on #4203
Thanks @jschlatow for sharing your observations that I find quite surprising. Given that recall_fs (chroot) does not wrap the actual session interface but only intercept the session creation, I can only think of two possible effects.

1. The session arguments observed by the ram_fs might differ between both scenarios (with and without recall_fs in-between ram_fs and the browser). Would it be possi

[2022-06-02 11:50] nfeske commented on #4203
Regarding the first possible effect, the session arguments arriving at ram_fs can be revealed in Sculpt by enabling the `<report provided="yes"/>` report in the /config/managed/runtime and looking at /report/runtime/state.

[2022-06-02 12:18] cnuke opened #4522 "lx_emul: set task 'stack' member"

[2022-06-02 12:19] cnuke commented on #4522
Commit [cc8072f](https://github.com/cnuke/genode/commit/cc8072fc392ddd480ec773115289d978a9a94545) sets the 'stack' member to the actual stack of the task rather than allocating member for the thread info.

[2022-06-02 12:42] jschlatow commented on #4203
I played a bit around and noticed that my first conclusion was probably a bit hasty. It appears that the bad throughput situation is independent of the used storage. Instead, it seems to be a side effect of restarting the intermediate chroot component while falkon is running. In approx. 50% of the cases I ended up with 5-10Mbit/s throughput. By restarting falkon (once or twice), I was able to reco

[2022-06-03 14:48] cnuke opened #4523 "pc_wifi_drv: unblock pthread via signal"

[2022-06-06 13:08] alex-ab commented on #4426
@trimpim: thank you for testing the commit and reporting. Sorry for the delay on my side, I was bit distracted with other topics. I added another debug commit, which I would ask you, please, to try on the machine which did not work. The commit mainly sets the uart to 0x3f8 (which is the working one for the problematic machine!?) and adds debug printfs which should help me/you to understand why it

[2022-06-07 16:19] cnuke opened #4524 "libports: update e2fsprogs to 1.46.5"

[2022-06-08 07:01] chelmuth commented on #4524
Should *e2fsprogs.port* also be updated like the library? Which port is relevant for Sculpt?

[2022-06-08 07:18] cnuke commented on #4524
@chelmuth The library port is relevant for Sculpt, which is why I updated this one.

*e2fsprogs* initially relied on `noux` while the *e2fsprogs-lib* did not. By now the differentiation is mood and the most prominent reason for the existens of *e2fsprogs* would be easier integration into the *system_shell* pkg. At the moment I have not use for that and the port itself would probably be better cove

[2022-06-09 08:45] cnuke opened #4525 "gpu/intel: increase worst case CAP estimate"
It may happen that the `Resource_guard` has only exactly *4* CAPs left and the check https://github.com/genodelabs/genode/blob/b6d313bbe64dd73b2c3d462bf19c3ebcba3af43a/repos/os/src/drivers/gpu/intel/main.cc#L1775 returns false.

However, https://github.com/genodelabs/genode/blob/b6d313bbe64dd73b2c3d462bf19c3ebcba3af43a/repos/os/src/drivers/gpu/intel/main.cc#L1790 might consume 1 additional CAP and

[2022-06-09 08:53] cnuke commented on #4525
Commit [58a0bfe](https://github.com/cnuke/genode/commit/58a0bfe47694994d05c34179fe2663d9483d4dfc) raises the estimate while commit [9989ad4](https://github.com/cnuke/genode/commit/9989ad4ee0168dddb9c2ea306115100cca9aaf7e) is up for debat how to deal with acounting mismatches. Since the liveliness of the GPU multiplexer is vital for e.g. Sculpt rather let the client abort. (Of course as noted in th

[2022-06-13 09:23] nfeske commented on #4525
Your suggestion makes sense to me. I merged your commit as e1620d407abaa5607d24baf81bcc21b7327008a7. @ssumpf do you have any reservation?

[2022-06-13 09:23] trimpim commented on #4426
@alex-ab Sorry for the delay. I was working from home office where I do not have the correct hardware to test.

When I cherry-pick your commit an run (log/run) on the problematic machine I get the following output:

[code]

I guess, this is what you were after. Otherwise let me know so I can provide more accurate information.

[2022-06-14 08:34] ssumpf commented on #4525
No objections from my side.

[2022-06-14 09:50] skalk opened #4527 "base-hw: TLB doesn't get invalidated after VM destruction"
This got referenced originally by issue #3726. Whenever a VM gets destroyed, we did not invalidate the corresponding TLB entries yet. To do so, we first need a calling API from our kernel to the hypervisor. Till now, there is only the implicit switching in between host and VM.
Without this feature, no dynamic VM lifetime is possible.

[2022-06-14 09:58] skalk opened #4528 "base-hw: unset PD related information in MMU in deletion"
When a PD gets destroyed, while it is active on a CPU, it's PD-related information (page-tables, ASID) might stay in hardware, when no further activity is present on the CPU. Because we do not switch to another PD when scheduling core threads or the idle thread.

One clean solution would be: When the deletion call is done, the core thread that is calling gets blocked until all CPUs answered to hav

[2022-06-14 11:00] skalk opened #4529 "base-hw: on ARMv8 the TLB invalidation is sub-optimal"
Currently, when TLB entries have to be invalidated, we iterate over all CPU objects to inform them if needed. On architectures, where cross-core TLB invalidation is possible, the CPU object's invalidation function only does this for the CPU which is currently executing the function. Unfortunately, on ARMv8 where cross-cpu invalidation is used, we miss to check for the corresponding CPU object. Ins

[2022-06-14 12:09] skalk opened #4530 "sculpt: allow to skip integration of depot archives"
When building a modular sculpt image, normally all packages referenced within a deploy configuration and within launcher configurations are build and integrated within the final image. Dependent on the scenario and the target platform the image to boot can exceed the maximum that is useable to boot.
To be able to nonetheless boot such rich scenarios an optional switch would be useful to skip the d

[2022-06-14 12:14] alex-ab commented on #4426
According to your output, the system seems to be in non UEFI mode and bender finds in the BDA a configured serial adapter, so the serial_fallback option is not considered. As it looks it works as it was designated, but still it does not help you ... I guess, an option to enforce your i/o ports is what you want ?

[2022-06-14 13:06] trimpim commented on #4426
@alex-ab I will check if I can set the system to UEFI mode (I wasn't aware of this fact) and if this helps with the log out put.

I will keep you informed on my findings, and if further changes are of needed.

[2022-06-15 07:22] alex-ab opened #4531 "intel/fb: improve support with docking stations"
The new intel fb driver does not detect all available connectors on docking stations reliable. The Intel VBT region contains necessary information and should be made available for the driver.

[2022-06-15 08:59] alex-ab opened #4532 "acpica: I/O memory region requested which is actual RAM"
[code]

[2022-06-16 09:51] nfeske commented on #4530
I like this suggestion but would prefer to avoid the use of an empty value.

How about allowing only the explicit values `omit` and `tar`? If the `DEPOT` environment variable does not exist, the default value `tar` would be assumed. If it exists but has a different value (e.g., should a user have a DEPOT environment variable with a different meaning), an error message would be nice.

The logic of

[2022-06-16 13:36] skalk commented on #4530
@nfeske: I've tried to meet your suggestions with fixup commit d59395377afee4d97f84a2c9ca62734482a231a0

[2022-06-17 06:51] nfeske commented on #4530
Thank you for addressing my remark. The name `depot_archive` is much nicer than my suggestion. I merged both commits to staging.

[2022-06-17 08:11] nfeske commented on #4034
I think we went into a wrong direction here. The added degree of freedom to allow one type of board to have different CPU architectures creates uncertainty that I would prefer to avoid. Ultimately, the degree of freedom is not enough either because one may wish to customize other board properties (link address, qemu args) differently per architecture, too (see https://github.com/genodelabs/genode-

[2022-06-17 08:13] trimpim commented on #4426
As far as I can tell, the problematic device [1] only boots UEFI images. I have a rather ugly workaround to get the serial connection to work [2].

[1] UPX-EDGEI7-A10-1664-F01
[2] https://github.com/trimpim/genode/tree/up_xtreme-bender_patch  /  https://github.com/trimpim/morbo/tree/up_xtreme

[2022-06-17 09:02] m-stein commented on #4034
@nfeske To me, your suggestion sounds perfectly reasonable. I'd appreciate the clarity that is gained through the virt_qemu_<arch> names.

[2022-06-17 09:56] skalk commented on #4034
I do not know where the different link address needs stem from with regard to riscv. My assumption was that the machine layout is identical including memory and virtio peripherals, but only the CPU differs. That is why I was thinking it would be benificial to share the virt_qemu board description, related raw and pkg packages and run-script snippets.
I was also not assuming that we want to support

[2022-06-21 10:27] m-stein commented on #4461
I just wanted to add that I experienced a similar problem with vim in Sculpt 22.04. When first opening ``reports/drivers/usb_devices`` and then trying to do ``:e config/usb`` in that vim instance, the program doesn't load the new file but stays with the first one. With ``ls -i`` I can see that the inode numbers of the files are identical.

[2022-06-21 12:54] jschlatow opened #4534 "nic_router slows down when there is no client in target domain"
I wrote a test component `nic_perf` in order to benchmark the throughput of the Nic and Uplink sessions. During my tests, I came across a weird performance degradation in the Nic router. The setup is as follows:

I have two nic_perf instances, one of which is sending UDP packets and the other receives these packets. The Nic router sits in between and performs routing between two domains. As soon a

[2022-06-23 08:29] skalk opened #4535 "dde_linux usb host driver: submit control URBs asynchronously"
Currently, we use the Linux API for submitting control URBs. But this API internally waits in blocking state for the control URB to finish. This stays in contrast to all other URBs (IRQ, BULK, ISOC), which are submitted asynchronously. Now, that our new USB host driver only uses one "Linux task", which handles the state machine for different USB sessions and packet streams this behaviour is not ac

[2022-06-23 11:02] m-stein commented on #4534
I'm sorry that I have kept you waiting so long.

Your observation that the NIC router allocates an ARP waiter for each packet is correct and I can see that this can become a serious problem as you described it. I've had four ideas regarding this:
* A sessions packet handling is rate limited considering the number of packets handled, but the time for handling one packet may vary significantly from

[2022-06-24 08:32] jschlatow opened #4536 "nic_router packet throughput is diminished by exception handling"
Motivated by #4203, I started digging into network throughput benchmarking more systematically. My suspicion that the effect observed for falkon is just the pinnacle of an iceberg appears to be quite true. I have written a test component called ["nic_perf"](https://github.com/jschlatow/genode/tree/nic_perf) to start with benchmarking the packet stream interface and progressively add more component

[2022-06-24 11:36] cnuke opened #4537 "pc/wifi: prevent calling driver from pthread"

[2022-06-24 11:42] cnuke commented on #4537
Commit [0b89144](https://github.com/cnuke/genode/commit/0b89144104228a9bd4f4d9b233744c7ac9bf9028) fixes the issue and [c99da0d](https://github.com/cnuke/genode/commit/c99da0d8b25828a3de70242b4fb46c5e5652d4bb) straightens out the construction order while [0b7a4f5](https://github.com/cnuke/genode/commit/0b7a4f578bad847a96ea6e3078bbb156fc349226) gets the initial RFKILL state.

[2022-06-24 12:46] cnuke commented on #4537
@chelmuth  commit [c8d1517](https://github.com/cnuke/genode/commit/c8d1517367d4f29c0c001c3ab2147ba48f0cd612) address a short-coming that will be fatal by @alex-ab's upcoming EP check commit.

[2022-06-24 14:02] jschlatow opened #4538 "ipxe_nic_drv throughput drops to 10Mbit/s after restart"
This can be reproduced on the x260.

According to the ipxe code, this is a known issue for certain intel controllers.The documented workaround is to skip the PHY reset for the broken models. Unfortunately, as the platform driver powers down the pci device when the nic_drv disappears, the workaround becomes ineffective.

[2022-06-24 15:34] jschlatow commented on #4536
This was actually a false conclusion. As mentioned in #4538, the controller was operating only in 10Mbit mode. In consequence, the nic_drv handled the packets individually. When I make sure that the controller is in Gigabit mode, the driver is actually able to utilise the entire bandwith.

[2022-06-27 06:53] trimpim commented on #4538
I have noticed this also. On Friday I tried to fix the issue (in the ipxr driver only) but wasn't successful.

With your explanation now its clear to we, why I couldn't succeed that way (I forgot to take the `platform_drv` in to account).

On the `imx8` platform driver one could add an other device that also uses the `PHY` clock and as long as one of the drivers still is running, the clock won't b

[2022-06-27 08:13] m-stein commented on #4536
@jschlatow I very much appreciate your thorough investigation regarding net performance!

When I started writing the NIC router I was very much into the approach that code should just try out assumptions (e.g., a matching link state exists, a matching routing rule exists, a domain config is valid, etc.) in order of their priority and throw an exception in case the assumption doesn't hold. Today, h

[2022-06-28 09:27] skalk opened #4539 "pci_decode: does not report any devices on Qemu"
After a report on the mailing list by @trimpim, I tried to run pci_decode on Qemu (BOARD=pc) with Nova and base-hw. Unfortunately, it does not report any PCI device.

[2022-06-28 09:39] skalk commented on #4539
I could see that the problem arises from trying to be type-safe. When storing the maximum count of buses in the `bus_t` type (bus number), it happens that the actual limit of the type gets exceeded by one. The ACPI report returns a maximum of 256 buses within the PCI config space window. This leads to `bus_t bus_count = 0` in the calculation, and to no PCI bus getting parsed at all.

[2022-06-28 11:20] m-stein commented on #4539
I've added the fixed label in the name of @skalk.

[2022-06-29 07:46] jschlatow commented on #4536
Fantastic! I just made a test run on an x250 where I got a 3x speedup with your fixes (600Mbit/s vs. 1800Mbit/s).

[2022-06-29 09:03] alex-ab opened #4540 "dde_linux: support to disable timer ticking when in idle task"

[2022-06-29 12:09] cproc opened #4541 "qt5: update port for Morph browser support"
- fix OpenGL issues
- pass touch press location with touch release event to fix button clicks with touch screen
- fix AVX alignment error in ffmpeg code on base-linux
- add generated cmake support files

[2022-06-29 12:27] m-stein commented on #4536
@jschlatow I'm happy that the commits have such a positive effect on your scenario :) Whenever I have some spare time in the near future, I'll remove further exception handling from the router.

[2022-06-29 12:39] chelmuth opened #4542 "dde_linux: improvements during pending i2c_hid driver port"
- fully enable printk format specifiers
- add devm_ioremap_uc()
- add lx_emul_backtrace()
- re-enable -Wformat

[2022-06-29 12:42] chelmuth opened #4543 "Add key press/release and relative motion to genode_c_api and dde_linux"
- genode_c_api: key-press/release and relative-motion events
- dde_linux: shadow evdev.c and use event C API

[2022-06-29 12:44] chelmuth opened #4544 "pc: use lx_emul_gen_random_bytes() for randomness"
Consolidate all existing mocks into one (complete) implementation.

[2022-06-29 12:48] chelmuth opened #4545 "legacy_platform_drv: ACPI devices in configuration"
Currently, resource information for non-PCI devices is not available at runeimte. This patch enables the specification of statically known ACPI device resources on startup like follows.

[code]

This is a preparatory commit for the pending i2c_hid driver.

[2022-06-29 14:50] cproc opened #4546 "qt5: add CMake support"
Add support for building Qt projects with CMake.

Depends on #4541.

[2022-06-29 15:02] cproc commented on #4546
Fixed by 4ee7ad4

[2022-06-29 15:06] chelmuth opened #4547 "sandbox: prevent non-empty list model on destruction"
The parent-provides model is destroyed if no `<parent-provides>` node is found in the configuration, which results in

[code]

and leaking memory for previously allocated nodes.

[2022-06-29 21:02] cproc opened #4548 "qt5: provide all 'qt5_declarative' QML plugins"
Only a subset of the available QML plugins was provided so far and the Morph web browser needs at least the 'Qt.labs.settings' plugin from the remaining ones.

[2022-06-29 21:11] cproc opened #4549 "qt5: add 'QtGraphicalEffects' QML plugin"
The 'QtGraphicalEffects' QML plugin is used by the Morph web browser and the Ubuntu UI Toolkit.

[2022-06-29 21:22] cproc commented on #4549
Fixed by 6e0cbd9

[2022-06-30 15:37] jschlatow opened #4550 "libc: socket_fs_plugin ignores SOCK_NONBLOCK when creating a socket"
When creating a socket with `socket(AF_INET, SOCK_DGRAM | SOCK_NONBLOCK, 0)`, the socket remains blocking because the socket_fs_plugin ignores `SOCK_NONBLOCK`.

[2022-06-30 15:56] jschlatow opened #4551 "lxip occasionally slows down in high-throughput scenarios after some time"
I was benchmarking vfs_lxip with the nic_perf component on Sculpt. When transmitting an infinite stream of UDP packets via lxip, the packet throughput may drop significantly or even stop completely after some time. I started investigating and found out that lxip calls `schedule_timeout()` when it runs out of memory for skbs and never recovers from this state. I believe it fails to free the corresp

[2022-06-30 16:06] jschlatow commented on #4551
I'm not sure how relevant this issue is for practical scenarios. Given that lxip needs a rewrite based on the new dde_linux approach anyway, I would rather not spend much time on this at the moment. Though, I added a warning by which we can identify that the aforementioned conditions have been triggered (see commit a2dc4b7).

[2022-06-30 16:08] jschlatow commented on #4550
Fixed by 707e4b1

[2022-07-01 12:44] cnuke opened #4552 "pc/wifi: implement iput function"

[2022-07-01 12:45] cnuke commented on #4552
Commit [b5a713a](https://github.com/cnuke/genode/commit/b5a713ac3412d738618f23b559b04724dcc5e2af) fixes the issue.

[2022-07-01 14:58] chelmuth opened #4553 "nova: support interrupt mode config in assign_gsi"
Depends on alex-ab/NOVA#7.

[2022-07-01 15:43] jschlatow opened #4554 "nic_router optimisations"
After testing the fixes for #4536 with other scenarios, I noticed that the router slows down if I replace the IP rule with an UDP rule. After a bit of digging and trace recording, I found out that the router performs a `trigger_once()` RPC for every packet, which reduces the throughput significantly. The reason for the RPCs is that the router updates the timeout of the corresponding UDP link for e

[2022-07-01 15:46] jschlatow opened #4555 "nic_router optimisations"
After testing the fixes for #4536 with other scenarios, I noticed that the router slows down if I replace the IP rule with an UDP rule. After a bit of digging and trace recording, I found out that the router performs a `trigger_once()` RPC for every packet. The reason for this it that it updates the timeout of the UDP link. In consequence, the throughput is reduced significantly (a few hundred Mbi

[2022-07-01 16:02] jschlatow commented on #4555
Commit f2d70a1 applies signal batching for the packet stream interface. I noticed that the router does not register ready_to_{submit,ack} signal handlers. Given that the router discards packets anyway, those handlers are superfluous and indeed reduce the packet throughput. To support this use case, however, commit b0da532 is required to ensure that ack_avail signals are never shadowed by ready_to_

[2022-07-04 12:34] #4554 closed

[2022-07-04 12:42] jschlatow commented on #4352
fyi, I've been working on this issue once in a while and am currently using the trace_recorder for capturing multi-component traces to identify network bottlenecks.

The current implementation supports CTF and pcapng output. It can be found on my [trace_recorder](https://github.com/jschlatow/genode/tree/trace_recorder) branch. There's still some fine tuning going on. I'll let you know once I consi

[2022-07-05 12:16] skalk opened #4556 "pc_usb_host_drv: xhci host controller dies when heavily de/attaching USB3 hub"
When permanently and fastly detaching and attaching again (<1sec) a USB 3 hub at a Fujitsu Lifebook S983, I can observe a setup device command timeout, followed by a xhci_handshake timeout when the driver tries to shoot down the command ring buffer. It ends up with an unrecoverable xhci host controller dying:
[code]

[2022-07-06 16:35] ssumpf commented on #4556
As a follow up. It seems like this regression has been caused by this https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/drivers/usb/host/xhci-ring.c?h=v5.15.52&id=5255660b208aebfdb71d574f3952cf48392f4306 in 5.14-rc2 and fixed by https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/drivers/usb/host/xhci-ring.c?h=v5.15.52&id=fa75f593c867cde772e2d87ca36ab735c4

[2022-07-07 12:13] chelmuth commented on #4426
I'd like to report that I managed to fix bender to successfully detect UEFI on UPX-EDGEI7-A10-1664-F01 with https://github.com/chelmuth/morbo/commit/1534b1705734f1626a600ecfa24d294b7f0a68e7. Thanks to @trimpim for his hints to boot Genode on the UPX easily.

@alex-ab feel free to merge my commit with your adaptions and update bender in Genode.

[2022-07-08 08:19] ssumpf opened #4557 "usb_net: Enable ECM support & disconnect"
The Quectel modem of the PinePhone requires ECM + the modem can be shutdown and restarted. Handle this gracefully.

[2022-07-08 10:02] chelmuth commented on #4553
@alex-ab 8ee535a9e63a24ca9c5d4621c091f0e9bbb2d79c incorporates the new nova branch and adapts core accordingly.

[2022-07-08 10:05] chelmuth commented on #4542
@skalk and other dde_linux devs: could these changes be merged as is?

[2022-07-08 10:06] chelmuth commented on #4544
@cnuke may I merge this to staging?

[2022-07-08 11:05] cnuke commented on #4544
@chelmuth LGTM.

[2022-07-08 11:43] alex-ab commented on #4553
Looks good.

[2022-07-08 12:44] jschlatow commented on #4555
I force pushed a new commit series to my issue4555_nic_router branch:
- ca6121f: applies batching to the packet stream interface (I only changed `get_acked_packets()` to `try_get_acked_packets()` compared to the original commit.)
- f7cdf3b: changes the preference between ack_avail and ready_to_submit signals (unchanged commit)
- 48c66ba: contains the new `Lazy_one_shot_timeout` implementation that

[2022-07-08 13:15] jschlatow commented on #4555
In additon to the above commit, I found a few other issues for which I do not have fixes at the moment:

1. With elimination of the timer RPC, we are at the point where the checksum calculation becomes the major bottleneck of the NIC router. In particular on the Zynq, this slows down the router by approx. 25%. I think there are two possible improvements: First, we could use incremental checksum ca

[2022-07-08 13:44] jschlatow commented on #4203
I use this ticket to keep track of my recent findings. Unfortunately, I'm still quite far from identifying the culprit of the bad throughput for the falkon browser, however, I managed to dig up a few issues in our network infrastructure.

First of all, the NIC router has recently seen significant improvements mainly by avoiding exception catching (#4536) and timer RPC (#4555). This boost the UDP t

[2022-07-08 14:19] chelmuth commented on #4545
@alex-ab could you please review a252906718cc10033adf9fe97f4a3804837032a1 as it touches several places in the legacy platform driver

[2022-07-08 14:37] m-stein commented on #4555
@jschlatow I fail to understand the rationale behind https://github.com/genodelabs/genode/commit/0c04a3a869943ed5315037652490e5c1ed138098: avoid frequent calls to elapsed_us().

Clearly, ``elapsed_us`` is expensive and shouldn't be called often. However, that's the exact purpose of ``curr_time`` in the timeout framework. There are platforms where ``curr_time`` is expensive, though, namely non-base

[2022-07-08 14:50] jschlatow commented on #4555
@m-stein What motivated me is that I identified the `curr_time()` call to be quite slow on base-hw. Since this is done for every packet, it becomes a significant bottleneck. I haven't noticed that there is a specific base-hw implementation, though, and therefore assumed it to call `elapsed_us()`. Nevertheless, performing a syscall for every packet iturns out to be still comparably expensive given

[2022-07-08 15:44] m-stein commented on #4555
Thanks for the explanation. My feeling is that we should rather discuss how to fix this in the framework. In an offline discussion with Stefan, the idea came up of using the counter reg of the ARM generic timer instead of a syscall. This improvement could be board specific.

We could also think about caching inside the framework given a use-case-specific tolerance.
I sensed already during our talk

[2022-07-09 14:23] m-stein opened #4558 "nic_router: clear ARP cache when domain is down"

[2022-07-09 14:35] m-stein commented on #4558
@ssump Does this solve your problems?

[2022-07-10 09:10] ssumpf commented on #4558
@m-stein: Works as intended :+1:

[2022-07-10 09:13] ssumpf commented on #4557
For disappearing and reappearing NICs (e.g., LTE modem when restarted) the NIC (uplink) and the gateway (LTE) can receive new MAC addresses. Therefore, https://github.com/genodelabs/genode/issues/4558 should also be added.

[2022-07-11 06:32] jschlatow commented on #4555
Of course, fixing this in the framework is preferable. I was just looking for a quick and "not-so-dirty" solution.

Regarding your second point, I believe that being able to adjust the tolerance for caching/interpolation will be useful since accuracy requirements can be quite different. However, I'm not sure whether lazy timeout scheduling should be part of the framework given that it appears to b

[2022-07-11 07:03] chelmuth commented on #4547
@nfeske any objections to merging this fix?

[2022-07-11 07:05] alex-ab commented on #4545
I am fine with the commit, beside a naming remark regarding an member object.

[2022-07-11 07:35] alex-ab commented on #4426
@chelmuth, @trimpim: Thanks for your efforts and finally a working version :-). I added the updated bender and also the grub2 update(avoiding potential memory corruption on UEFI and BDA region).

[2022-07-11 08:06] m-stein commented on #4544
@chelmuth Would you be fine with 9c427d93669280ff3de9455cf25e194c6bd6720a ? I tried to adapt all places that used to call ``lx_emul_gen_random_uint`` and tested it with wireguard and wifi.

[2022-07-11 09:45] jschlatow commented on #4555
@chelmuth, the Cached_timer commit with the changed message is 07f5626.

[2022-07-11 09:53] nfeske commented on #4547
No objection. I very much appreciate the fix and the updated test in particular.

[2022-07-11 13:56] m-stein commented on #4555
@jschlatow Thanks for incorporating my remark regarding the wake-up calls in the NIC router! However, I'm still a bit unsure why we wake up both our sink and all sources. Could you add a clarifying comment before the ``domain.for_each_interface(...);`` block in order to also help others in understanding the code?

[2022-07-12 09:47] nfeske commented on #4543
I like them!

Your additions to the genode_c_api raise no questions as you closely followed the existing patterns.

Your evdev approach is pretty cool. Admittedly, I was completely unaware of the evbug feature. It may be worth considering your approach for the touchscreen driver of PinePhone instead of emulating the input subsystem in https://github.com/genodelabs/genode-allwinner/blob/master/src/

[2022-07-12 09:59] m-stein commented on #4555
@jschlatow Thanks for the fixups! I just added some more suggestions on my 4555_nic_router_optimisations (is in sync with your current issue4555_nic_router branch). Its mostly minor stuff and if you don't like it, I'm fine with reverting it. What do you think?

cced26656c fixup "nic_router: relax timer accuracy for timestamps" (minor style fixes)
a2955eb889 fixup "nic_router: avoid marginal timeou

[2022-07-12 10:21] chelmuth commented on #4555
I'm delighted by the results of this joined effort. Kudos!

[2022-07-12 11:46] jschlatow commented on #4555
@m-stein Thanks for the fixups. I don't have any objections.

[2022-07-12 12:03] cnuke opened #4559 "Enable Mesa3D lima driver"

[2022-07-12 12:08] cnuke commented on #4559
Commit [1d398ba](https://github.com/cnuke/genode/commit/1d398bafe07de29714567912ae81300f51e40dc1) extends the *Gpu* session so that the lima driver is able to query the GPU virtual address, commit [fee6048](https://github.com/cnuke/genode/commit/fee6048840005624bf07fccfc100a56f91a9f336) provides the driver specific information and [9dd596b](https://github.com/cnuke/genode/commit/9dd596b02db5f05f18

[2022-07-13 17:44] m-stein commented on #4555
@jschlatow I've implemented your suggestion about updating checksums only once per packet (great remark by the way):

07b7d223dd nic_router: update checksum only once per packet

Is this helpful?

[2022-07-13 17:46] m-stein commented on #4555
@jschlatow I've implemented your suggestion about updating checksums only once per packet (great remark by the way):

e13ff87090 nic_router: update checksums only once per packet

Is this helpful?

[2022-07-14 06:55] jschlatow commented on #4555
@m-stein Very nice. I haven't benchmarked the case with multiple interfaces in one domain, yet. It just occured to me when reading the code that there was a scalability issue.

What do you think about the incremental checksum update?

[2022-07-14 09:41] jschlatow commented on #4360
I somehow overlooked this issue. Today, I executed `test-pthread` as a single test. On a Zynq board, the test finished only after 93s (I increased the test timeout). On zynq_qemu, the test finishes after 35s.

The following lines when executed on real hardware arouse suspicion:
[code]

Notice the long delay when setting up the mutex stress tests and the long execution time of the signalling phase.

[2022-07-15 09:04] jschlatow opened #4561 "libc: output warning if real time clock is requested but not present"
Currently, `clock_gettime(CLOCK_REALTIME)` returns `EINVAL` when no RTC has been configured in the VFS. Unfortunately, it appears to be uncommon to check the return value of `clock_gettime()`. An example for this is stdcxx, which uses the wall-clock time in `std::this_thread::sleep_for()`. When no RTC is configured, `sleep_for()` will sleep indefinitely. This is quite a stumbling block when runnin

[2022-07-15 09:32] cnuke commented on #4559
I am currently working on a solution that fixes the archive issue introduced by the lima driver.

[2022-07-15 09:43] chelmuth commented on #4561
I do not get why *sleep_for* would need `CLOCK_REALTIME` if `CLOCK_MONOTONIC` is sufficient. Do we have a configuration issue here or does the usage example use something like `chrono::system_clock::now()` ?

[2022-07-15 09:55] chelmuth commented on #4559
Great, would you please adapt black_hole to your GPU-session changes too?

[2022-07-15 10:12] skalk opened #4562 "lx_emul: common emulation of softirq/tasklets insufficient"
The current emulation of the softirq/tasklet mechanisms within dde_linux are not sufficient to meet the requirements of several use-cases. It might lead to double-locks, wrong timing etc. Instead of trying to enrich the implementation even more, it is more pragmatic to use the original contribution sources here, like other drivers (e.g. imx usb host driver) already did.

[2022-07-16 08:15] m-stein commented on #4555
@jschlatow Unfortunately it seems that ca6121f6b5 breaks both ``run/nic_router_dhcp_managed`` and ``run/nic_router_dhcp_unmanaged``. Maybe this is related to the fact that these tests particularly rely on the functioning of link state signals.

[2022-07-16 15:23] rolandbaer opened #4563 "nic_router: don't send 'destination unreachable' on multicast packets"
When the NIC router doesn't find a rule to handle a packet it sends an ICMP packet 'destination unreachable'. This is also done for multicast packets, but "they should be quietly discarded by hosts that do not support IP multicasting." (see RFC 1112, 3. LEVELS OF CONFORMANCE, Level 0: no support for IP multicasting.)

[2022-07-17 12:38] m-stein commented on #4555
@jschlatow I've added a try on incremental checksum updates:
2666b01726 nic_router: incremental L4 checksum updates
e30d1d20cb nic_router: incremental IPv4 checksum updates
1957d48ac4 internet checksum: use signed long for accumulator
4d60019896 internet checksum: no default arg value
a66a1d29b5 nic_router: no IPv4 checksum update on ICMP echo
cd866c4f05 nic_router: no checksum update on IP routin

[2022-07-18 06:48] tomga commented on #4360
Thank you @jschlatow for taking time to verify this on non-rpi platform and confirming that it is not specific to rpi. Do you have any ideas about what the real problem may be?

[2022-07-18 08:15] skalk commented on #4542
@chelmuth: sorry for having overseen your request. I'm fully OK with those 4 commits.

[2022-07-18 11:51] cnuke commented on #4542
In case of i.MX8 using [353a3fd](https://github.com/genodelabs/genode/commit/353a3fdac472d4b4cb660d126fe2f211764fc896) `vsnprintf()` triggers the execution of generated dummies, in particular `sprint_symbol_no_offset()`. This due to `CONFIG_KALLSYMS` being set where `symbol_string()` behaves differently.

(Implementing the functions as *NOP* in the common dummies compilation unit works but leads t

[2022-07-18 12:00] cnuke commented on #4559
@chelmuth please merge the commits starting from [2dba2f7](https://github.com/cnuke/genode/commit/2dba2f787d22653400b270aba30a0ad1d24b50ae) to staging.

[2022-07-18 12:26] jschlatow commented on #4555
That's fantastic. I conducted a few quick measurement on the Zynq since this platform was most impacted by the checksum calculation. Commit 2666b01 increases the throughput of UDP packets (tested with nic_perf) from 510 to 603 Mbit/s (150 packets per signal) resp. from 360 to 400Mbit/s (32 packets per signal). The impact of commit e30d1d2 is neglectable since, unlike UDP, IPv4 only contains a head

[2022-07-18 14:26] jschlatow commented on #4360
@tomga Not really, no. So far I checked whether there is an inaccuracy in `usleep()`, which is called by the signaller and waiter threads. I also used the `trace_subject_reporter` to have a look at the thread execution times. It seems as if the idle thread consumes more of the CPU time if another test was executed before. I don't have a clue at the moment, however, why the signaller and waiter thr

[2022-07-18 17:51] m-stein commented on #4555
**DHCP tests**
Wow, you fixed that real quick! So far, the DHCP client should be the only place where the NIC router sends packets by itself.Thanks also for your detailed report regarding your other findings. I can't deal with it currently though. Let's keep it in mind for later.

**Checksums**
Thanks a lot that you reviewed and measured my patches so fast! I'm really happy that the change had suc

[2022-07-19 06:06] chelmuth opened #4565 "USB webcam LED does not go out when driver terminates"
The webcam runtime spawns and terminates the webcam driver dynamically depending on Capture session requests. As a result the USB session for the webcam is opened resp. closed. This is a regression with the new USB host driver.

[2022-07-19 06:14] chelmuth opened #4566 "Noticable lag on USB unplug in sessions to unrelated USB devices"
According to user report, this can be tested by moving a USB mouse while unplugging another USB device (e.g., thumbdrive). The mouse pointer hangs noticeably for a subsecond period. It was also reported that Isochronous audio streams experience stutter in this situation. The effect can be mitigated (but not eliminated) by removing `usb_reset_device()` on release. This is a regression with the new

[2022-07-19 06:15] chelmuth commented on #4556
I mark this issue fixed by 1db4792adb85d08a3eeb7d334416e74f2ae0423f.

[2022-07-19 06:18] chelmuth commented on #4146
Can we close this issue or do you have plans to replace the quickfix by other means?

[2022-07-19 06:23] chelmuth opened #4567 "Pagefaults in USB host driver on plug/unplug of full hub"
According to user report, a USB descriptor `memcpy` operation faults if a hub is quickly unplugged while attached devices are enumerated.

[2022-07-19 06:27] chelmuth opened #4568 "vbox6: assertion on reboot with Windows 10 guest"
[code]

[2022-07-19 06:32] chelmuth opened #4569 "vbox6: insufficient quality on Isochronous USB passthrough"
This is a regression to vbox5 probably due to inaccurate timing.

[2022-07-19 06:40] chelmuth commented on #4565
The cause of this behavior was an ineffective `usb_driver_release_interface()` on USB-session close due to missing `usb_driver_claim_interface()`. Now, the contrib sources *unbind* the driver effectively, which triggers required magic to disable the webcam.

@skalk please review as I just fixed the faked loop parameters but are convinced this should be cleaned up by a proper `switch (usb_rpc_args.

[2022-07-19 06:49] chelmuth commented on #4566
Based on my experiences in #4565 I suggest to remove `usb_reset_device()` and rely on the *unbind* magic in `usb_driver_release_interface()`. Further investigations of potential remaining lags after this change are pending.

[2022-07-19 08:20] jschlatow commented on #4360
I must correct my previous statement that `usleep()` is not the culprit. I only tested `usleep()` in a single thread before in which case it is not affected. However, if I run two threads that both perform `usleep()` concurrently, it **is** affected.

Note that `test-pthread` uses very short sleep times of 1ms and 3ms. If I execute a loop with 2000 iterations and `usleep(1000)`, it takes approx. 1

[2022-07-19 09:34] skalk commented on #4562
@chelmuth: I've compiled all drivers on x86 32/64bit and tested the USB driver on Qemu. However, several additional changes I had to apply because of the recent changes regarding kernel-time, I could not test on hardware using wifi and intel framebuffer. Nevertheless, I think it is acceptable to do a smoke-test on staging by applying the three commit above. Alternatively, I can test them on hardwa

[2022-07-19 10:55] skalk commented on #4562
@chelmuth I had to add fixup commit 32360a9cb09f2a563f77740d1424f6cc2046a81f in addition to the previous three commits to fulfill missing dependencies for package creation.

[2022-07-19 12:15] jschlatow commented on #4360
Eureka! The problem lies within the timeout framework. I instrumented the code with `GENODE_LOG_TSC` and stumbled upon the fact that, after a few seconds execution time, there are more `handle_timeout` calls than `_schedule_timeout` calls. I thus added a warning in `handle_timeout` in case rate limiting is applied. Here is what happens:

[code]

The first >1000 iterations of the sleeper threads ar

[2022-07-19 12:41] chelmuth commented on #4562
I merged your entire branch to staging. Let's cross fingers.

[2022-07-20 06:29] chelmuth commented on #4555
As there are multiple branches and a couple of commits in the context of this issue that are not merged yet. If any work is ready for staging, I'd appreciate one of you curating a list (or merge_to_staging branch) so I become able to cherry-pick what you approve.

[2022-07-20 06:49] chelmuth opened #4570 "Don't omit frame pointer per default (proposal)"
According to discussions [[1](https://stackoverflow.com/questions/14666665/trying-to-understand-gcc-option-fomit-frame-pointer)] [[2](https://fedoraproject.org/wiki/Changes/fno-omit-frame-pointer)] [[3](https://stackoverflow.com/questions/13006371/does-omitting-the-frame-pointers-really-have-a-positive-effect-on-performance-an)] [[4](https://www.phoronix.com/scan.php?page=article&item=fedora-frame

[2022-07-20 07:39] m-stein commented on #4570
I think it's a good idea considering this.
Regarding the stack backtraces, I also had times when I was misled by the page fault in the first moment :) an alternative would be to detect framepointer omission and print an error at this point. I imagine calling dummy functions and looking at the fp diff would do this. But I'm also fine with your approach.

[2022-07-20 08:21] trimpim opened #4571 "monitoring components for segmentation/CPU faults"
As described on the mailing list [0], I'm investigating a way to monitor if a component crashes due to segmentation/CPU faults.

The test in `test-fault_detection` already demonstrates how this can be done for PD sessions (segmentation faults).

My first approach [1] was to integrate this feature into `init`, whereby all components can be monitored without any changes. This approach fits nicely wi

[2022-07-20 09:52] m-stein commented on #4555
Wonderful :) I've added two very small style fix-ups and an exception handling clean-up that still waited on a topic branch:
66fe8e88f2 fixup "nic_router: avoid marginal timeout updates" (minor style)
827b5a08e1 fixup "nic_router: batch packet stream signals" (minor style)
3f57e45114 nic_router: find ARP cache entries w/o exceptions

[2022-07-20 11:27] alex-ab commented on #4568
It turns out that the trap here is an NMI which is supposed to be injected. The commit improves the NMI injecting/handling and avoids the assertion afaict. Tested with Win10 several rounds.

[2022-07-20 12:45] trimpim commented on #4426
@chelmuth sorry for coming in late.

We tried the latest staging on the UP-Xtreme hardware, but don't get any log output with `run/log`.  We also tried resetting the BIOS to default values.

This made me think what could be the difference between your board and ours?
  - BIOS version (our is 2.20.1275)
  - did you change any specific settings for it to work?

(FYI I will be out of office from 22.0

[2022-07-20 13:43] chelmuth commented on #4426
Same here.

Not that I'm aware off. I use

- Ethernet port labeled "LAN1"
- USB stick prepared by iPXE (commit d3c8944d5c3ab26282) with `make bin-x86_64-efi/ipxe.usb`
- COM port labeled "COM1"
- Reset via AMT
- Genode genodelabs/genode@ec48368d01ac861910c26c9fd4e28bd6a77300fe

and the following RUN_OPTS.

[code]

I'm also away July 22 to August 8.

[2022-07-20 16:59] m-stein commented on #4360
@jschlatow I fear I'm too much out of context to help. It's a long time since I looked into time interpolation and rate limiting and would have to investigate myself. However, I'd like too stay with my other work this week. I could give you a general overview of interpolation or explain concrete places in the implementation though, if this helps.

[2022-07-21 06:17] chelmuth commented on #4426
@trimpim I uploaded my working example [log.zip](https://github.com/genodelabs/genode/files/9156638/log.zip) for testing on your device.

[2022-07-21 12:17] jschlatow commented on #4360
@m-stein no worries. I'll have a look at #2400 and the corresponding commit messages.

[2022-07-21 14:28] skalk commented on #4562
@alex-ab: commit 58712e5 on my merge_to_staging branch enables SMP and NO_HZ_IDLE for virt_linux (and therefore wireguard), switches wireguard to use the original softirq implementation from the Linux sources, and removes our erroneous softirq emulation. Feel free to mege it to staging.

[2022-07-21 15:47] jschlatow commented on #4360
I'm not sure yet whether/how this is related to the rate limiting issue but for some reason, the interpolated time is often ahead of the real time by approx 4-5ms. I'm on base-hw, where `Kernel::time()` is used as timestamp for interpolation. If I got it correctly, `Kernel::time()` is also used by the Timer for `elapsed_us()`, hence I'm wondering how that much of a difference can occur when the sa

[2022-07-21 20:21] m-stein commented on #4360
As far as I remember, the timer uses the knowledge about the frequency of ``Kernel::time(); ``. The application-side timeout framework however doesn't make assumptions about the frequency but always tries to figure it out via interpolation.

[2022-07-21 20:27] m-stein commented on #4360
Technically, we could use the fact that base-hw timestamp frequency is fixed in applications as well. The argument not to do this was, I think, that it would prevent full control of parents over the timing of their children.

[2022-07-22 13:52] jschlatow commented on #4555
@mstein, thank your for eliminating the packet allocation exceptions. It does not change the overload situations much, though, since the main culprit is the slow receiver. Still it prevents that the router is spending time on exception catching when dropping packets.

[2022-07-22 13:54] jschlatow commented on #4555
@chelmuth I forgot to adapt the README when changing the default value of max_packets_per_signal. You'll find the fixup in 8cc4c43.

[2022-07-22 14:10] skalk commented on #4566
@alex-ab please merge commit c51bb8f to staging to partly fix this issue.

[2022-07-22 14:15] skalk commented on #4567
alex-ab: please apply commit 43b8a80 to staging to fix this issue.

[2022-07-22 14:18] alex-ab commented on #4562
Added to staging.

[2022-07-22 14:19] alex-ab commented on #4566
Added to staging.

[2022-07-22 14:19] alex-ab commented on #4567
Added to staging.

[2022-07-22 14:20] alex-ab commented on #4555
Added to staging.

[2022-07-22 14:22] m-stein commented on #4555
@alex-ab As I take it from Johannes' last comment, 5edb931c129fdded3fa7284f1ecdee8e13afa78d could be merged as well.

[2022-07-22 14:23] m-stein commented on #4555
@alex-ab ... if you don't have any objections, of course :)

[2022-07-22 14:23] skalk opened #4572 "qemu-usb library: handle Interface_not_found exception"
At some places the Interface_not_found exceptions from the USB session API are not handled that can occur if a device vanishs while handled by a guest OS in virtualbox.

[2022-07-22 14:25] skalk commented on #4572
@alex-ab: please merge commit 785da9b to staging to fix this issue.

[2022-07-22 14:30] alex-ab commented on #4555
done

[2022-07-22 14:30] alex-ab commented on #4572
done

[2022-07-25 07:40] alex-ab commented on #4555
On staging several nic_router_* scripts do not work, especially x86. Can someone please check of you @m-stein or @jschlatow.

[2022-07-25 09:36] skalk opened #4574 "qemu-usb library: ignore data requests for invalid endpoints"
A user reported a problem within the qemu-usb library backend for Genode. If an endpoint gets invalid, but the guest OS still sends some USB requests, we do not ignore that request and return USB_RET_NAK as intended by the qemu code, but still forward the invalid request to the USB session. On the other side, because the status of the packet does not get marked by our backend in this error case, i

[2022-07-25 09:38] cnuke opened #4575 "dde_linux: remove exited tasks"
When a `Lx_kit::Task` object is destructed its stack is not freed and whenever a kthread is exited the corresponding `Lx_kit::Task` is not destroyed. This leads to exhaustion of the stack sapce of long running *dde_linux* based components.

[2022-07-25 09:40] skalk commented on #4574
@cnuke please review commit bc1b389 and signal @alex-ab if it is approved to be merged to staging, thanks in advance!

[2022-07-25 09:49] cnuke commented on #4575
Commits [de3e383](https://github.com/cnuke/genode/commit/de3e383ee9e40fcc314900365f3edbeaecbb44a6) and [85aea6e](https://github.com/cnuke/genode/commit/85aea6e0eb733936d23c50c30ba69037c5614312) address this problem.

That being said we might still leak the corresponding `task_struct` object which is supposedly freed by `__put_task_struct()` and what is perhaps even more pressing: I am not sure why

[2022-07-25 09:49] cnuke commented on #4574
@skalk @alex-ab LGTM.

[2022-07-25 11:53] skalk opened #4576 "pci: config helper utils might return wrong I/O port base"
The encoding of the I/O port BARs is different from the I/O memory BARs, which needs to get encountered when returning the base address.

[2022-07-25 12:05] skalk opened #4577 "pci: pci_decode and platform_drv have to export sub-vendor, and -product, revision and BAR index"
To ease integration of Linux driver ports with the newer platform driver and its recent PCI support, some additional information is needed. Certain drivers do use hard-compiled knowledge about BAR indices to ask for I/O memory of I/O ports. Therefore, we need to be able to correlate I/O resources provided by the platform driver with the original PCI BAR index. Moreover, drivers often use knowledge

[2022-07-26 08:27] jschlatow commented on #4555
@m-stein I started a list of failed tests. I may have missed some tests, so feel free to add them. I'll go top-down through the list and try to fix them. If you have some spare time, I'd suggest you go bottom-up so that we don't work on the same issues.

- [ ] nic_router_flood on x86_32 qemu
- [ ] nic_router_uplinks on x86_64
- [ ] nic_router_uplinks on x86_32
- [ ] nic_router_dhcp_(un)managed on

[2022-07-26 08:46] m-stein commented on #4555
Thanks for your organizational effort! I'll do as you said.

[2022-07-26 08:51] skalk opened #4578 "platform_drv: use new API for PCI drivers, deprecate old one"
Deprecate the old x86-only platform API, and use the recently developed generic one for all PCI drivers in Genode.

[2022-07-26 09:10] m-stein commented on #4555
@jschlatow @alex-ab I just tested nic_router with x86_64/32 lx and qemu (nova/hw) on staging and got all positive results. However, the nic_router test is known to be slightly unstable because of an age-old, and rather complicated issue with lwip (used by the test clients/servers).

[2022-07-26 09:47] m-stein commented on #4555
@jschlatow @alex-ab The nic_router_dhcp_* problems should be fixed by this:
3fc49bc452 nic_router_dhcp_*: raise timeouts

[2022-07-26 12:03] cnuke commented on #4575
Commit [c629605](https://github.com/cnuke/genode/commit/c629605923ce20f9614f3ce6b80eff31f2e55491) addresses the `task_struct` object clean up. All dde_linux components have to be adapted as they probably all contain a `__put_task_struct()` generated dummy and AFAICT all that make use of *workqueue.c* potentially suffer from the destruction of `kworker` tasks due to `idle_worker_timeout()` handling

[2022-07-26 18:43] jschlatow commented on #4555
@alex-ab @m-stein I've looked into the nic_router_flood test. The recent NIC router modification dug up a problem in the `ipxe_nic_drv`. Even before the changes, we got occasional "slab backend exhausted" errors by the driver but somehow it was able to stabilise. Please find a more detailed explanation and fix in d2f9a59.

[2022-07-26 18:54] jschlatow commented on #4555
@m-stein Could you have a brief look at the nic_router_uplinks test as well? I don't have a laptop with serial console at hand and am therefore unable to run the test.

[2022-07-27 07:26] m-stein commented on #4555
@jschlatow @alex-ab Does it have time till Monday? I have to finish some other work till Friday.

[2022-07-27 08:01] jschlatow commented on #4555
@m-stein sure, take your time.

[2022-07-27 08:13] alex-ab commented on #4555
Great :+1:

[2022-07-27 08:14] alex-ab commented on #4555
Sure, no time pressure.

[2022-07-27 09:25] cproc opened #4579 "vfs_oss: implement 'SNDCTL_DSP_SETTRIGGER' command"
The 'SNDCTL_DSP_SETTRIGGER' command is used by VirtualBox 6 and needed to start recording without blocking.

[2022-07-27 09:28] cproc commented on #4579
Fixed by 88cda76.

[2022-07-27 09:36] cproc opened #4580 "vbox6: don't call blocking 'read()' to start audio recording"
The `SNDCTL_DSP_SETTRIGGER` command should be sufficient to start recording. If still no audio data arrives because of some error on the path, the additional `read()` call would block the VM, which is not desired.

Depends on #4579.

[2022-07-27 09:41] cproc commented on #4580
Fixed by 373fb4d.

[2022-07-27 10:10] jschlatow commented on #4522
@cnuke unfortunately, the commit is incompatible with arm (32bit) because it does not select `CONFIG_THREAD_INFO_IN_TASK` but actually expects a `struct thread_info` behind the `stack` member. In this configuration, we must therefore initialise the `stack` member accordingly before calling `task_thread_info()`. I have pushed a fixup with 3d0f9e3. Do you have a more elegant idea?

[2022-07-27 12:12] alex-ab commented on #4555
I debugged the last days netperf_*_wifi scripts which are currently not working. After fixing issues due to SMP Linux config enablement of the dde_linux drivers , the wifi driver is back again. The nic_router is now answering pings using the wifi driver as uplink, but the clients of the nic_router are not reachable. I started to revert the nic_router commits up to "nic_router: update checksums onl

[2022-07-27 13:31] alex-ab commented on #4574
Added to staging

[2022-07-28 06:50] cnuke commented on #4522
@jschlatow thanks for the fixup. From my point of view your solution is fine as it is strictly confined to this function. Another way would be to introduce an arch specific `lx_emul` interface to initialize `task->stack` but I am not sure that this is worth it.

[2022-07-28 12:15] jschlatow commented on #4522
That was my thinking as well.

[2022-07-31 18:10] tomga commented on #3972
I've encountered another corner case in build system that caused a surprising (for me) failure. I tried to build some simple scenario for rpi and used build directory that I created some time ago. Build failed with:
[code]
After some investigation I found that this error is triggered by files:
[code]
that existed in my build directory and were left after some earlier build. Build with any of those

[2022-08-01 08:25] m-stein opened #4581 "nic_router: no empty DNS servers opt in DHCP reply"
The NIC router used to add the DNS servers field to DHCP replies regardless of whether there were DNS servers or not. As reported by a Genode user, the empty DNS server field irritated at least Windows 10 guests (Vbox 6) that connected to the NIC router. This resulted in Windows 10 ignoring DHCP offers from the router with such characteristic.

[2022-08-01 08:33] m-stein commented on #4581
Fixed:
6c3ad4c463 nic_router: no empty DNS servers opt in DHCP reply

[2022-08-01 10:04] jschlatow commented on #4352
@chelmuth I think the commit series are ready for a review so that we may consider it for the upcoming release. I referenced the corresponding commits. Since the usage is not quite self-explanatory, I plan to write a genodians article for more background information and usage examples. Please let me know if you have any feedback.

[2022-08-02 09:40] m-stein commented on #4555
@jschlatow @alex-ab The broken nic_router_uplinks 32-bit tests are partly broken already on master. Bisecting the nic_router_uplinks 64-bit tests on macho, I found that they break with this commit series:

d9d786a59b fixup "pc: enable SMP and softirq/tasklets in lx_emul" (spinlock defines)
92f3264315 fixup "pc: enable SMP and softirq/tasklets in lx_emul" (irq stack 32-bit)
096998efea vbox6: improv

[2022-08-02 11:04] alex-ab commented on #4555
Have you tried the already prepared https://github.com/alex-ab/genode/commits/issue_4555_wifi branch with run/wifi, as written 6 days ago ? The branch is based on staging and works again after reverting nic_router scripts up to "update checksums only once per packet".

[2022-08-03 09:46] m-stein commented on #4555
@alex-ab I missed the connection between your issue and the one observed by @jschlatow and just wanted to start with the first reported one. I'll go on with your branch.

[2022-08-03 11:04] m-stein commented on #4555
@alex-ab Here's a fixup that solves run/wifi on your issue branch and run/nic_router_uplinks on staging for me:

5d66cc2f25 fixup "nic_router: update checksums only once per packet" (correct interface for _router_mac)

PS: For run/wifi I also had to download and add iwlwifi-6000g2b-6.ucode manually (macho). Not sure whether this is relevant.

[2022-08-03 16:00] alex-ab commented on #4555
Thanks :+1: , added to staging.

[2022-08-05 10:04] cnuke commented on #4575
@alex-ab please remove the commit [00664fe](https://github.com/genodelabs/genode/commit/00664fe9e3b754d955012feb53f16eeff0266f0e) for now as introduces problems most apparently on the *x86_32* test system.

[2022-08-08 06:43] tomga commented on #3972
On a second thought proposed fix may not be as safe as I considered it week ago. Disabling builtin rules using `MAKEFLAGS` variable will probably propagate to subsequent make calls and in case of builds of external components that can potentially change/break them. So probably it is best to ignore this problem as a *lesser evil*.

[2022-08-08 12:57] nfeske commented on #4570
My interpretation of @chelmuth's references (page 5 of the Phoronix article in particular) is not so optimistic. So I'd not jump on it today.

To avoid the confusing page faults when printing backtraces w/o frame pointers, I really like @m-stein's idea of printing a diagnostic message.

[2022-08-09 06:39] chelmuth commented on #4426
To wrap up the open question: @trimpim and me checked the UPX settings and discovered AMT SOL redirection was enabled for some unknown reason. Bender's original purpose is to scan the PCI bus for serial devices and update the BIOS data area (BDA) if a device was found. Afterwards, NOVA and Genode core take this information for serial log settings. As AMT provides a virtual PCI serial device if SOL

[2022-08-09 07:08] chelmuth commented on #4360
Does the effect vanish entirely if you apply the following patch?

[code]

[2022-08-09 07:35] chelmuth commented on #4563
Issue could be closed by #4564.

[2022-08-09 07:48] jschlatow commented on #4360
@chelmuth yes, I forgot to mention that I've already tried this and that it circumvents the problem.

[2022-08-10 06:51] chelmuth commented on #4566
Users still report small but noticeable lag with d9407c74609864397464f7c8ed318bce3d9e3a99 applied.

[2022-08-10 13:15] chelmuth commented on #4352
I merged the entire series accompanied by some minor style fixes I discovered during the review to staging. Looking forward to your article.

[2022-08-10 14:27] jschlatow commented on #4352
Thanks @chelmuth for the review and for merging the series. I'll provide the missing fixups (NIC router README and policy name) soon.

[2022-08-11 07:30] ssumpf commented on #4034
@nfeske: beafcbb and https://github.com/ssumpf/genode-riscv/commit/0031d64c14a1b50852409ab9f06d64b69e6777da (RISC-V) are my first take on the `virt_qemu` board renaming. What do you think?

[2022-08-11 12:40] nfeske commented on #4034
This is exactly what I had in mind. Thanks a lot @ssumpf for applying the scheme. Is the commit ready for staging from your point of view?

[2022-08-11 12:44] ssumpf commented on #4034
@nfeske: From my point of view yes.

[2022-08-11 12:49] nfeske commented on #4034
Just merged the commit to staging. I'd appreciate you keeping an eye on the automated build/test results.

[2022-08-11 12:53] ssumpf commented on #4034
Ack

[2022-08-12 13:53] jschlatow commented on #4352
@chelmuth I've pushed four fixup commits that address the missing README and correct the policy name(s): 8d52b3e, c175686, fd26369 and 8868db3

[2022-08-15 08:19] chelmuth commented on #4352
Thanks, merged all to staging.

[2022-08-16 08:15] m-stein commented on #4352
@chelmuth @jschlatow I added a minor fixup to the NIC router commit:
2685f7efd6 fixup "nic_router: add trace_packets config option" (README)

Furthermore, I would suggest to add a direction argument to ``trace_eth_packet`` (as with ``verbose_packets`` in the router) because, also in general for networking components, a packet is either received or sent and this information is often vital for debug

[2022-08-16 08:39] jschlatow commented on #4352
@m-stein Thanks for the clarification in the README.

I also like your suggestion about the direction argument. I haven't considered this because there is no way to reflect this in the pcapng format, however, I recognise its usefulness.

[2022-08-16 10:01] jschlatow commented on #4352
@chelmuth I added a fixup series that adds a direction argument to `trace_eth_packet()`: e2ba313, a8c0693, b8cfda7, c54b122, aec9601 and ef5c26e

[2022-08-16 10:09] m-stein commented on #4563
@rolandbaer @chelmuth I'm sorry for the delay! I reworked the original with a squash commit. Are you fine with that?
f7c180c8ce squash "nic_router: multicast packet handling"
0245f71963 nic_router: multicast packet handling

There are other conditions we should check according to the RFC but I left them out for now in order to make it easier for the commit to enter the upcoming Genode release and

[2022-08-16 10:16] m-stein opened #4582 "PKCS#11 on USB smart cards"
This issue aims for supporting access to USB smart card devices via the PKCS#11 interface using a port of the OpenSC suite.

[2022-08-16 10:34] m-stein commented on #4582
The main subject to this issue is the GOA port of the OpenSC PKCS#11 tool that can be found at https://github.com/m-stein/goa_projects/tree/master/pkcs11_tool. In order to build the tool, the following GOA patches are required:

https://github.com/m-stein/goa/commit/b9432d2d1add4cca50bc0646b4dce23c31270d7e autoconf: improve appliance of verbosity settings
https://github.com/m-stein/goa/commit/f231

[2022-08-16 11:48] nfeske commented on #4582
Thank you @m-stein for giving Goa a try, and for the welcome improvements. Could you take the Goa-specific changes the issue tracker at https://github.com/nfeske/goa/issues ?

How do you think of hosting the ported library and run script at the Genode world repository? I'd like to keep the scope of the Genode main repository limited to software that is fundamental to the feature set of Sculpt. Sho

[2022-08-16 16:59] m-stein commented on #4582
This is the related GOA issue: https://github.com/nfeske/goa/issues/19
This is the related Genode World issue: https://github.com/genodelabs/genode-world/issues/300

These are the Genode commits:
345cf4e83c pcsc-lite: fix inc dir base in depot case
af8872af86 pcsc-lite: src and api recipe
d9b78afb12 driver_manager: export USB smart card devices

[2022-08-16 20:35] rolandbaer commented on #4563
@m-stein @chelmuth I'm fine with the squash.

Thinking about other conditions we should also think about different szenarios of the nic-router. The first is the behaviour of a router that sends information to other (real) networks, another is working as a dispatcher inside the host. For the second there should be, as far as know (no rfc to link to), no destination unreachable packets sent out. May

[2022-08-17 09:27] m-stein commented on #4582
I've added a fixup according to a discussion with @nfeske in the GOA issue:
abc8c0daa1 fixup "pcsc-lite: src and api recipe"

[2022-08-17 10:05] #4522 closed

[2022-08-17 10:05] #4521 closed

[2022-08-17 10:05] #4523 closed

[2022-08-17 10:05] #4524 closed

[2022-08-17 10:05] #4525 closed

[2022-08-17 10:05] #4527 closed

[2022-08-17 10:05] #4532 closed

[2022-08-17 10:05] #4528 closed

[2022-08-17 10:05] #4529 closed

[2022-08-17 10:05] #4530 closed

[2022-08-17 10:05] #4531 closed

[2022-08-17 10:05] #4535 closed, assigned to nobody

[2022-08-17 10:05] #4537 closed

[2022-08-17 10:05] #4539 closed

[2022-08-17 10:05] #4541 closed

[2022-08-17 10:05] #4546 closed

[2022-08-17 10:05] #4548 closed

[2022-08-17 10:05] #4549 closed

[2022-08-17 10:05] #4544 closed

[2022-08-17 10:05] #4553 closed

[2022-08-17 10:05] #4426 closed

[2022-08-17 10:05] #4545 closed

[2022-08-17 10:05] #4558 closed

[2022-08-17 10:05] #4540 closed

[2022-08-17 10:05] #4543 closed

[2022-08-17 10:05] #4547 closed

[2022-08-17 10:05] #4556 closed

[2022-08-17 10:05] #4542 closed

[2022-08-17 10:05] #4565 closed

[2022-08-17 10:05] #4568 closed

[2022-08-17 10:05] #4567 closed

[2022-08-17 10:05] #4572 closed

[2022-08-17 10:05] #4574 closed

[2022-08-17 10:05] #4576 closed

[2022-08-17 10:05] #4577 closed

[2022-08-17 10:05] #4579 closed

[2022-08-17 10:05] #4581 closed

[2022-08-17 10:05] #4580 closed

[2022-08-17 10:27] nfeske opened #4583 "util/string.h: support `ascii_to` for `int`"
The various `ascii_to` overloads are used `Xml_node::attribute_value`, which makes the parsing of XML attributes quite convenient. Until now, however, there exists no overload for plain `int`. Since `long` is supported, one usually parses `int` numbers as `long`. When assigning the result to an `int`, an ugly cast is needed. By adding an `ascii_to` overload for `int` we could remove those clutches

[2022-08-17 10:28] chelmuth commented on #4582
Merged to staging.

d0a33e34da3 pcsc-lite: fix inc dir base in depot case
3286d37c64a pcsc-lite: src and api recipe

[2022-08-17 10:28] chelmuth commented on #4563
Merged to staging.

8f228e3035b nic_router: no ICMP on unroutable IPv4 multicast

[2022-08-17 10:36] nfeske opened #4584 "util/geometry: support for creating a `Rect` from XML attributes"
Throughout Genode, the convention of representing geometric data as XML follows the convention of naming the attributes `xpos`, `ypos`, `width`, and `height`. However, until now, each component following this convention provides its own helper functions to extract those information from an XML node. By adding `from_xml` class functions to `Point`, `Area`, and `Rect`, we could remove the duplicated

[2022-08-17 12:05] nfeske commented on #4559
Merged to master.

[2022-08-17 12:05] #4559 closed

[2022-08-17 12:05] nfeske commented on #4557
Merged to master.

[2022-08-17 12:05] #4557 closed

[2022-08-17 12:07] nfeske commented on #4555
Since the referenced commits entered the master branch today, shall we close this issue?

[2022-08-17 12:08] nfeske commented on #4550
The fix entered the master branch.

[2022-08-17 12:08] #4550 closed

[2022-08-17 12:10] cproc opened #4585 "libc: support 'thread_local' variable destructors"
When a `thread_local` variable has a destructor, the compiler generates a call of `__cxa_thread_atexit()` to register the destructor and the `__cxa_thread_call_dtors()` function must be called when a thread gets destroyed.

[2022-08-17 12:10] nfeske commented on #4520
The commits referencing this issue entered the master branch but the issue lacks the "fixed" label.

@m-stein what is the status of the issue? Should it be closed?

[2022-08-17 12:14] nfeske commented on #4487
I'm closing this issue due to inactivity.

[2022-08-17 12:14] #4487 closed

[2022-08-17 12:16] nfeske commented on #4536
Merged in master.

[2022-08-17 12:16] #4536 closed

[2022-08-17 12:17] nfeske commented on #4551
@jschlatow how should we go about this issue?

[2022-08-17 12:21] nfeske commented on #4146
@jschlatow are you planning to follow up on the issue? If not, we should consider closing it.

[2022-08-17 12:21] cproc commented on #4585
Fixed by 308febe.

[2022-08-17 12:29] jschlatow commented on #4551
It's fine by me to close this issue and potentially reopen it if it becomes relevant in practical scenarios.

[2022-08-17 12:31] jschlatow commented on #4555
@nfeske Yes, I think we can close this issue.

[2022-08-17 12:33] #4555 closed

[2022-08-17 12:35] nfeske commented on #4551
Thanks for the quick response.

[2022-08-17 12:35] #4551 closed

[2022-08-17 14:30] nfeske opened #4586 "sculpt: evaluate initial manually managed NIC-router config"
When supplying a predefined NIC router config to a Sculpt-based appliance, the Sculpt manager does not evaluate the initial state.

[2022-08-17 14:36] nfeske commented on #4586
The shortcoming is addressed by https://github.com/genodelabs/genode/commit/381a3406ba18670d435057e5db5b30af6aec983a. It stems from the assumption that customized configurations are imported from the Sculpt partition as a subsequent step, which triggers an update of /config/nic_router. However, this assumption does not hold when supplying the nic_router config as part of the boot image.

[2022-08-17 14:38] nfeske commented on #4034
Merged to master.

[2022-08-17 14:38] #4034 closed

[2022-08-17 16:59] m-stein commented on #4520
It can be closed.

[2022-08-17 16:59] #4520 closed

[2022-08-18 13:00] m-stein commented on #4582
There's another commit required that somehow slipped through my fingers initially:
985b886d29 vfs_libusb: fix missing dependency to libusb

[2022-08-19 06:07] chelmuth commented on #4582
Merged f64d1bbc307111875a34bdb6ee9384029eca7b37 to staging.

[2022-08-19 07:06] m-stein commented on #4582
@chelmuth Thank you ;)

[2022-08-22 14:11] nfeske opened #4587 "event filter: ability to trigger key events for predefined touch-screen areas"
Sculpt OS on the PinePhone calls for a way to trigger certain low-level buttons or keys using the touch screen. In particular, the switch between the administrative user interface and the runtime system must be possible at any time. On the PC version, this switch is triggered by pressing F12, which is remapped to KEY_DASHBOARD. Even though a physical button could be used in principle, there are th

[2022-08-23 08:39] cproc opened #4588 "qt5.run: provide mesa driver route for children"
Related to #4541.

[2022-08-23 08:42] cproc commented on #4588
Fixed by bb6254d.

[2022-08-23 09:06] cproc opened #4589 "qt5: update to version 5.15.2"
Qt 5.15.2 is the latest Qt version with QtWebEngine support on FreeBSD.

[2022-08-23 09:37] cproc commented on #4589
Fixed by e4c8d69.

To use the updated version, the Qt host tools need to be updated as well with the `tool/tool_chain_qt5` script.

[2022-08-23 13:50] chelmuth commented on #4589
Thanks, I merged the commits and built the tools.

[2022-08-23 14:50] chelmuth opened #4590 "Deployable depot packages for rump ext2_fs and part_block"
The depot packages can be used in managed Sculpt scenarios to access storage in integrated etc. like follows.

[code]

[2022-08-23 14:52] chelmuth commented on #4590
Implemented in
29397e7032f rump: ext2_fs depot package
fd0fc3ab499 part_block depot package

[2022-08-23 20:25] cproc opened #4591 "qt5_textedit: add mesa driver requirement to runtime"
Related to #4541

[2022-08-23 20:30] cproc commented on #4591
Fixed by 5e7be87.

[2022-08-25 14:04] nfeske opened #4592 "menu view: make the use of the alpha channel configurable"
Currently, the menu-view uses the GUI session with alpha-channel support. However, this noticably impedes the software-rendering performance on lower-end devices like the PinePhone. In the latter case, I'd like to trade the nice-looking alpha blending for a better UI latency.

[2022-08-26 03:46] SamuraiCrow opened #4593 "Missing pc_usb_host_drv and usb_hid_drv"
I'm trying out the Nova microhypervisor with the line:

`make run/demo KERNEL=nova BOARD=pc`

and I get the error:
[code]
I'm following the Genode Foundations 21.05 pdf and tried the typing in the suggested help message from the error handler:
[code]
and it executes but doesn't help.  When trying again it yields the same error.

I'm trying to run this on Manjaro Linux x86_64 XFCE.  My hardware is

[2022-08-26 06:11] chelmuth commented on #4593
It seems your build-directory configuration and instructions used do not fit the source-code version of Genode. Could you please try to execute the following commands additionally to the instructions at https://genode.org/documentation/genode-foundations/21.05/getting_started/Obtaining_the_source_code.html and retry running the demo on NOVA?

[code]

The background is that Genode's Git master vers

[2022-08-26 09:43] chelmuth commented on #4593
Discussion moved to the [mailing list](https://lists.genode.org/pipermail/users/2022-August/008042.html).

[2022-08-26 09:43] #4593 closed

[2022-08-26 10:55] nfeske commented on #4352
While reviewing commits for the upcoming release, commit cf904e0a5d92fe7c5b467454d7b49870f615ad92 caught my eye. In my opinion, this API change is too lax.

The `New_file` class is strictly meant for cases where a new file is created. If a file with the same name exists, it gets replaced.

The use case of appending content to a file should better be modeled by a new type, e.g., `Appending_file`. A

[2022-08-27 08:13] m-stein opened #4594 "NIC router: check all RFC conditions on ICMP errors"
The NIC router currently checks only whether an unroutable packet is not IPv4 multicast before responding with an ICMP error. However, RFC 1812 section 4.3.2.7 defines some more preconditions. These should be checked as well. Also the ICMP error functionality of the router could be made configurable via a boolean domain-local attribute in the course of this issue.

[2022-08-27 08:15] m-stein commented on #4563
@rolandbaer I created issue #4594 for the remaining conditions and also thought that it would be sensible to make ICMP error functionality configurable.

[2022-08-29 09:24] jschlatow commented on #4352
@nfeske Thanks for sharing your view on the API change. I completely agree with you. I am going to provide a follow-up commit.

[2022-08-29 11:13] jschlatow commented on #4352
@nfeske please consider 08a5407 as the said follow-up commit. To prevent code duplication, I let `New_file` inherit from `Append_file`. Let me know if you see any problems with that.

[2022-08-29 15:08] cproc opened #4595 "qt5: add missing include in qtwebengine"
When building qtwebengine without the "jumbo build" feature, a compile error occurs about undeclared `dup`, fixed by including the `unistd.h` header in the corresponding source file.

[2022-08-29 15:31] cproc commented on #4595
Fixed by 1a5d5e4.

[2022-08-30 08:08] nfeske commented on #4352
Thank you for quick response. I'll review your commit as soon as the release is out.

[2022-08-30 09:30] skalk commented on #4566
IMO we can only address this issue when changing the USB session in a way that almost everything is done asynchronously, especially opening/closing resp. claiming/releasing interfaces. Thereby, we also have to use an asynchronous way in closing USB sessions.

[2022-08-30 09:33] skalk commented on #4562
This issue is fixed on master now.

[2022-08-30 09:33] #4562 closed

[2022-08-30 10:00] skalk commented on #4505
This issue is meanwhile obsolete due to work on issue #4578, therefore I close it.

[2022-08-30 10:00] #4505 closed

[2022-08-30 11:04] alex-ab opened #4596 "usb_host: pagefault or general protection fault on endpoint_descriptor rpc handling"
Occasionally page faults or general protection faults occur in the usb_host_pc driver using vbox5/vbox6 with assigned USB devices by qemu-usb libray.

[code]
[code]

[code]

[2022-08-31 12:28] #4563 closed

[2022-08-31 12:28] #4582 closed

[2022-08-31 12:28] #4583 closed

[2022-08-31 12:28] #4584 closed

[2022-08-31 12:28] #4585 closed

[2022-08-31 12:28] #4586 closed

[2022-08-31 12:28] #4588 closed

[2022-08-31 12:28] #4589 closed

[2022-08-31 12:28] #4587 closed

[2022-08-31 12:28] #4590 closed

[2022-08-31 12:28] #4591 closed

[2022-08-31 12:28] #4592 closed

[2022-08-31 12:28] #4595 closed

[2022-08-31 12:35] nfeske commented on #4561
Merged in master.

[2022-08-31 12:35] #4561 closed

[2022-08-31 13:08] chelmuth commented on #4552
Merged to master as 7c340b1cc994446e7fd148d84fc60ea3c564cbf9

[2022-08-31 13:08] #4552 closed

[2022-08-31 13:10] chelmuth commented on #4596
Thanks, squashed the fixup and merged to staging.

[2022-08-31 13:22] chelmuth commented on #1763
This still seams a tempting feature but is stale since 3 years. Therefore, let's close it for now.

[2022-08-31 13:22] #1763 closed

[2022-08-31 13:27] chelmuth commented on #3972
There seems to be no concrete *minor issue* left, so let's close this issue.

[2022-08-31 13:27] #3972 closed

[2022-08-31 15:32] chelmuth opened #4598 "usb: Samsung Portable SSD T5 inaccessible in Sculpt Linux VM (SuperSpeedPlus device)"
The device `04e8:61f5` seems to be initialized correctly when plugged except the following string descriptor errors in the host driver.

[code]

The **USB storage driver** successfully reads the first blocks of the device and, thus, the partition table is parsed correctly. Subsequent usage in Inspect and e2fsck also worked.

Further, if the device is passed to a Linux VM in **VirtualBox**, the gue

[2022-09-01 09:50] nfeske opened #4599 "Support the build of shared libraries via `make lib/<libname>`"
During the discussion of #3975, I proposed adding first-class support for building shared libraries by specifying `lib/<libname>` arguments at the build system's command line. This brings the following immediate benefits:

* We can remove all pseudo targets for shared libraries that aren't referenced by any target. Examples are VFS plugins that are not linked against any target but dynamically loa

[2022-09-01 11:10] m-stein commented on #3462
I finally published a corresponding Genodians article and therefore close this issue.

[2022-09-01 11:10] #3462 closed

[2022-09-01 13:24] nfeske commented on #4599
The commits at my `make_libs` branches https://github.com/nfeske/genode/commits/make_libs (genode) and https://github.com/nfeske/genode-world/commits/make_libs (genode-world) implement this change.

[2022-09-02 07:38] m-stein commented on #4151
@skalk I sense that it would be a good idea to resolve the uncertainty you describe in the near future because, IMO, it has the potential of creating subtle misbehavior in the user land that is hard to relate top-downward. Admittedly, I'm not that eager to dive into the topic currently. Would you be willing to give it a try?

[2022-09-02 08:24] m-stein commented on #3308
@nfeske To be honest, I have grown a bit unsure about this project. To me, our offline discussion about another Ada/SPARK project with Genode applies as well to Spunky and the question arises, which perspective has such a fundamental but "foreign-language" project in the Genode community. Furthermore, I recently prioritized other work and my private life a lot over going on with Spunky and the nea

[2022-09-02 08:29] jschlatow commented on #3462
Thanks for the documentation. I'd like to add that I built some tooling for remastering TinyCore images at https://github.com/jschlatow/tinycore-remaster.

[2022-09-02 08:56] m-stein commented on #4218
I just found that when running the test with an empty``dev`` dir, no exception is thrown and the test finishes successful (no libc log output though). I take from this that the correct behavior for running the test without the ``dev`` dir would be the same.

[2022-09-02 10:40] nfeske commented on #3308
I share the sentiment you expressed in your comment. We tried pretty seriously to establish Ada as part of our tool box since the beginning of 2019 (e.g., via my article https://genodians.org/nfeske/2019-04-08-c++-spark-continuum). I found various aspects - in particular the strong typing - of the language intriguing. However, after three years have passed, I made two observations.

First, we fail

[2022-09-02 11:21] m-stein commented on #3308
@nfeske Thanks for posting your opinion and the related references! I agree with all what you just said and will close the issue for now.

However, if anyone is eager to continue the effort - please don't feel discouraged by our decision! You can always contact me and I'd be happy to provide you with the pointers on how to revive Spunky!

[2022-09-02 11:21] #3308 closed

[2022-09-02 12:05] m-stein commented on #4218
This solves the issue I described initially for both cases, missing directories and files:
756137a971 libc: warn on missing std*="" or <fd path=""> file
22dafc3726 libc: warn on missing std*="" or <fd path=""> dirs

I split it up because I was unsure whether both changes are desired. The commits might be squashed together as well.

[2022-09-02 14:19] jschlatow opened #4600 "depot_deploy fails if provided with an empty config"
I was trying to use depot_deploy for the automated deployment of depot packages on a Zynq board. The config is controlled by a custom _update_manager_ component. On startup, it provides an empty config that causes depot_deploy to fail on an unhandled `Nonexistent_sub_node` exception. Looking at the depot_deploy implementation, I noticed that it does not handle the case of missing `<static>` or `<c

[2022-09-02 14:21] jschlatow commented on #4600
Fixed by 3bb14ff.

[2022-09-05 11:05] nfeske commented on #4600
Thank you for this welcome robustness improvement. Are you open for a minor coding-style suggestion?

You added an if-else block as follows.

[code]

I think when using `with_sub_node` as follows, the code becomes easier to follow.

[code]

[2022-09-05 11:30] jschlatow commented on #4600
I was thinking about `with_sub_node` but did not like doubling the `has_sub_node` call. I agree with the readability aspect, though.

Do you think there would be any use for a `with_sub_node` variant that takes a second functor which is called in case the sub node does not exist?

[2022-09-05 12:00] nfeske commented on #4600
Yes, that would actually be a much better interface for `with_sub_node`. The current one should probably be named `with_optional_sub_node` so that the intent of the programmer to ignore the non-existing-node case gets reinforced.

What do you think? If you like this idea, would you be interested in pursuing the API change?

[2022-09-05 13:37] m-stein commented on #4224
@alex-ab Could you give these two commits a review and maybe also test them on a hardware target (if not I'll do the latter tomorrow)?

https://github.com/m-stein/morbo/commit/5086245c62650d4574e19fe961d31fd93b115a98 Make Intel HWP mode configurable via command line

d3ffb7fce1 Bender: Intel HWP mode configurable via RUN_OPT

[2022-09-05 13:54] nfeske commented on #4352
That's perfectly fine. Thank you for implementing the change. I merged your commit to staging.

[2022-09-05 15:40] m-stein commented on #3462
@jschlatow Thanks for the hint! I added a paragraph to the article that references your additional resources :)

[2022-09-06 06:15] alex-ab commented on #4224
Adding the parameter to intel_hwp_16 function will not work. The function is invoked in 16bit mode directly from assembly code (start.asm) and up to now there is no support/arrangement to provide any arguments.

[2022-09-06 07:57] m-stein commented on #4224
Mm, I thought so...

I could test only with qemu up to now and it worked fine. That said, is it right that ``intel_hwp_16`` is not used on every pc platform?

[2022-09-06 08:03] m-stein commented on #4224
Btw., I tried to implement argument support in ``start.asm`` but was not able to find the place where ``intel_hwp_16`` gets called.

[2022-09-06 15:37] skalk opened #4601 "usb_host: usb_string, config, and altsetting can block synchronously"
Because usb_string, set config, and altsetting functions in the Linux kernel do use synchronously blocking control URBs on the cross, we cannot just call them in the asychronous packet handling code within the Genode C API backend and indifferently use their return values to acknowledge packets. In the meantime the session might get closed already. Therefore, we have to acknowledge the packets via

[2022-09-06 15:54] skalk opened #4602 "usb_host: track lifetime of session handles correctly"
By now, we've used a bit allocator to manage session handles, which are used by the C-driver code to associate outstanding URBs with sessions. Those ids are freed whenever a session gets closed, and might be re-allocated again when a session is created again. Unfortunately, this leads to re-usage of a session handle, where outstanding (synchronously blocked, long-time linux kernel) operations stil

[2022-09-07 07:09] ttcoder opened #4603 "server/vfs: status() calls (potentially costly) num_dirent() -- label this as "fixed" ?"
The RPC interface implemented by the vfs server does not have a "num_dirent()", so instead it is status() that plays that role, i.e. instead of having a **num_dirent -> num_dirent -> num_dirent** chain, we have a **num_dirent -> status -> num_dirent** chain:

  https://github.com/genodelabs/genode/blob/c333fc6f0479862eb82a59dce2c34bb200d393d1/repos/os/src/server/vfs/main.cc#L663

That is done for

[2022-09-07 07:44] ttcoder commented on #4603
[vfs_nument_stat.patch.txt](https://github.com/genodelabs/genode/files/9503860/vfs_nument_stat.patch.txt)

One possible way to solve the problem, and only a partial patch (cached_fs_rom etc are not covered by the patch)

[2022-09-07 08:55] m-stein commented on #4465
Fixed:
08424a3611 nic_router: handle bad DNS in DHCP ACK gracefully

[2022-09-07 10:20] jschlatow commented on #4599
Yes, perfect.

[2022-09-07 14:11] chelmuth commented on #4352
Unfortunately, the following change breaks `make run/test PKG=test-fs_rom_update KERNEL=linux BOARD=linux` and `make run/intel_fb KERNEL=nova`.

https://github.com/genodelabs/genode/commit/870d243bcd5a9ba261cfaa3efe81290b8bc43dc6#diff-95986eddc1e977463efdbcf48e77f8f8454a04777ef84f3d8a86784b001cf562R718-R720

The reason is that the `seek` position is managed by the `Vfs_handle` user entirely and, t

[2022-09-07 14:36] chelmuth opened #4604 "ps2: updating LEDs does not work if initial events are pending"
After booting Fujitsu Lifebook U7411 (other platforms may also be affected), the ps2_drv `Serial_interface` ring buffer may not be empty for some reason despite the PS/2 keyboard was not used. Thus, `event_pending()` returns `true` and `_update_leds()` in *repos/os/src/drivers/ps2/ps2_keyboard.h* skips the LED update. Pressing a key resolves this and the LEDs are updated.

[2022-09-07 14:47] jschlatow commented on #4352
AFAIAC, resetting the `seek` position in `New_file` makes perfect sense since the intention is to overwrite any existing data. It somehow escaped my attention that `seek` is not reset automatically by `ftruncate`.

[2022-09-07 15:01] skalk commented on #4151
@m-stein I've re-evaluated the changes from the time when "scheduling on demand" was introduced. In fact it renders `ready_check` useless, because the semantic got simplified in the sense that: only when a job becomes active or unactive the scheduler has to update itself (looking at the clock, update remaining time etc.) - all of that is part of the `update` function.
As a further optimization, on

[2022-09-07 15:05] nfeske commented on #4352
I think that `New_file` should not do any seeking. It smells like the intertwining of `New_file` and `Append_file` is not natural.

The inheritance is merely on the account to avoid code duplication. @jschlatow would you be open to move the code shared between both classes to appropriately named functions instead of using inheritance? I remember a similar discussion with @cproc, where we ended up

[2022-09-08 08:09] m-stein commented on #4224
@alex-ab What do you think of the new version?

[2022-09-08 09:27] alex-ab commented on #4224
@m-stein: I am fine with the bender changes.

[2022-09-08 09:36] nfeske opened #4605 "sculpt: option to ignore depot content referenced by the used deploy configuration"
When assembling a Sculpt appliance with a predefined deploy configuration, it is sometimes desired to start a package that is hosted remotely but not present in the local depot.

E.g., highly complex packages like a Chromium-based web browser may better be omitted from the boot image but downloaded on-target from a remote depot. Right now, however, the `DEPOT=omit` still scrapes the local depot to

[2022-09-08 10:07] jschlatow commented on #4352
@nfeske I've stumbled upon an issue with implementing the function `vfs_handle_for_writing`. It requires a `Directory::Path &` argument, however, `Directory` has only been forward-declared when declaring `vfs_handle_for_writing`. I cannot come up with a pretty way to resolve this dependency. I'm thus thinking about implementing a `Writeable_file` class instead that hosts the handle initialisation

[2022-09-08 12:19] nfeske commented on #4600
Thank you very much, @jschlatow! I merged all your commits to the respective staging branches.

[2022-09-08 12:35] chelmuth commented on #4209
Happened again last night on *qemu/arm_v7a.pbxa9.hw*

[code]

and in July

[code]

[2022-09-08 12:41] jschlatow commented on #4352
I pushed the fixup commit 3e2525d, which implements the discussed changes.

[2022-09-08 12:44] jschlatow commented on #4599
@nfeske, I noticed that the trace_recorder polices were not build anymore since the target.mk files have been removed accidentally. A fix is provided by the commits 3ae787d and ce6015e.

[2022-09-08 12:45] nfeske commented on #4352
That is very much appreciated. I like how the new version makes the behavior of both `New_file` and `Append_file` obvious at the first glance.

[2022-09-08 12:49] nfeske commented on #4352
Both classes could be slightly simplified because there is no need to remember the `_alloc` and `_fs` references.

[2022-09-08 13:34] jschlatow commented on #4352
@nfeske, @chelmuth I addressed your comments in e94a5f5.

[2022-09-09 12:40] jschlatow opened #4606 "Allow passing a session label to `Irq_connection`"
I just took my newly implemented pin driver for the Zynq SoC out for a test drive on the Zybo-Z7 board. The board has quite a few buttons, switches and leds. Two of the buttons and one led can be controlled without further ado via the GPIO controller. I therefore wrote a test component that switches the led on when one button has been pressed and switches it off when the other button has been pres

[2022-09-09 14:59] nfeske commented on #4606
That's a change I was planning as well for the very same reasons as yours, but somehow I got carried away with other topics. :-) Thank @jschlatow for bringing up this change!

[2022-09-12 11:59] nfeske commented on #4603
Thank you for sharing your findings.

I found the following very surprising:

I'd expect a single call of `status` to be cheap. A whole loop over directory entries for a stat'ed directory seems super wasteful. Of course, I'm immediately wondering if the mentioned file systems offer a cheaper way to get hold of the number of directory entries? If it turns out that the file systems offer no cheap wa

[2022-09-12 13:26] nfeske commented on #4603
@ttcoder could you give https://github.com/nfeske/genode/commit/645b741f25f38e7d85be0b6d5b9e093ad6f1e3f6 a try? The commit adds a dedicated RPC call `num_entries`. It sets the `Status::size` field to 0 when called for a directory.

[2022-09-12 15:00] chelmuth opened #4607 "base-linux: inhibit tracing in region-map attach/detach"
Tracing must be inhibited in attach/detach as RPC trace points may trigger attachment of trace dataspaces, which would result in nested mutex acquisition.

[2022-09-12 17:16] ttcoder commented on #4603
Looks good, and more elegant, with your patch there is no need to change code relying on status() all over the repo.

I've done before-and-after testing, I'm still in o(1) with this patch applied and mine removed. Also tested against base code : in my reference test (which is complicated by caching I've added and complex client code) I observe it takes almost 50% less time to read a 49 entries fol

[2022-09-13 08:16] nfeske commented on #4603
Thank you for the super quick response, and for pointing out the missing adaptation of lx_fs. The latter should now be covered by https://github.com/genodelabs/genode/commit/395f1a9c535ca7384b456263d09d2cf729555b2f.

[2022-09-13 10:25] nfeske opened #4608 "lx_fs: missing integrity checks of directory handles"
While reviewing the code of `lx_fs`, I noticed that there is currently no server-side provision against a client that accesses file nodes as directory nodes.

[2022-09-13 12:26] ssumpf opened #4609 "audio_out: revert reset stream and advance changes"
related to issue #1796

Since we do not want to use the audio session as a time base and only want to signal and advance positions of packets actually processed (not silence), I suggest it's a better idea to set `pos=tail` on reset again. This way an audio driver can wait until there is data available at `pos` without advancing positions or looking ahead.

[2022-09-14 14:37] nfeske opened #4610 "Dictionary data structure"
There are several places in the code base where objects are accessed by using a name as key. To avoid the repeated manual crafting of such data structures, I propose to add a basic `Dictionary` data structure to `os/include/util/`.

The data structure should follow the basic design of the `Id_space` and `Registry`. That is, elements are automatically added to the dictionary at construction time, r

[2022-09-14 15:09] nfeske opened #4611 "Improve depot-query performance"
The depot-query component traverses the depot on Sculpt to obtain a blueprint of the system to deploy, in particular the locations of ROM modules expected by the deployed subsystems. Even though the component works reliably, it becomes rather slow for complex deployments, e.g., when using a Chromium-based web browser with its library dependencies. This is especially noticeable on slow platforms li

[2022-09-14 18:35] m-stein opened #4612 "nic_router: bind link state to remote DNS config"
The NIC router README claims that the 'dns_config_from' attribute in a DHCP
    server configuration binds the propagated link state of all interfaces at the
    domain of the server to the validity of the IP config of the domain that is
    given through 'dns_config_from'.

    However, this was not true. The router missed to implement this detail which
    led to clients of such a DHCP server se

[2022-09-14 18:39] m-stein commented on #4612
@nfeske @chelmuth This is an attempt to describe your issue correctly and fix it:
1f924e12c6 nic_router: bind link state to remote DNS config

Can you please give it a try respectively review?

[2022-09-15 06:53] chelmuth commented on #4610
https://github.com/genodelabs/genode/blob/master/repos/gems/src/app/trace_recorder/named_registry.h has some subtle differences to the dictionary. @jschlatow could *app/trace_recorder* still be adopted to use the new data structure or does it depend on `for_each()`? I had a look into it because current staging yields a build error in this component.

[code]

[2022-09-15 08:25] m-stein commented on #4610
I think in general it's a good idea to have such a structure standardized. Two core functionalities of the NIC router depend on dictionaries.

One feature that would be convenient for the router is that ``apply(...)`` would take two functors, one that is called on finding a matching item and one that is called when no matching item was found (see repos/os/src/server/nic_router/avl_string_tree.h:89

[2022-09-15 08:43] nfeske commented on #4610
I fixed this with fixup dfa1eb6ff8783827cdfd42474dc3aebd62487554.

[2022-09-15 08:52] nfeske commented on #4610
@m-stein Thank you for chiming in. I like both of your suggestions.

The two-arguments `apply` is perfectly in line with the spirit of the recent discussion with @jschlatow (https://github.com/genodelabs/genode/issues/4600#issuecomment-1236877442) about `Xml_node::with_sub_node`.

I wonder, should both variants be named differently, expressing the risk that the body might not be called in the sing

[2022-09-15 08:52] jschlatow commented on #4610
@chelmuth I actually don't remember why I added the `Named_registry::for_each(...)` to _app/trace_recorder_. The current implementation does not use it any more. Please consider commit 1a3ff71, which adopts the new `Dictionary` and replaces the former `Named_registry`.

[2022-09-15 08:54] nfeske commented on #4610
Regarding `for_each`, is there a use case for a non-const function or is `for_each` merely used for read access? I'm asking because a non-const `for_each` that allows the modification of the dictionary from within the functor would be much more complicated. I'd prefer to avoid this complexity.

[2022-09-15 08:55] nfeske commented on #4610
YES! :-)

[2022-09-15 09:23] chelmuth commented on #4610
`for_each()` is effectively const in both cases - in nic_router explicitly implemented that way and in the (now removed) trace_recorder named_registry due to use of `Avl_tree::for_each()`, which is const.

[2022-09-15 09:47] nfeske commented on #4610
Commit https://github.com/genodelabs/genode/commit/5394df5fef7a846fece4b6ea2daabbf0d929c5c0 adds `for_each` as a const method.

Commit https://github.com/genodelabs/genode/commit/8866bb6898255e72070f081184d9a4d87e9454a2 changes `apply` to two functor arguments `match_fn` and `no_match_fn`.

[2022-09-15 10:22] nfeske commented on #4610
Commit https://github.com/genodelabs/genode/commit/5a2aca30ab3055ce1cd6236c4c2c779a3d5bccc4 adds support for returning values from the apply functors.

Commit https://github.com/genodelabs/genode/commit/a00453c7e2747c3b88519392eaef4c5391284b23 adjusts the trace recorder to the use of return values, allowing for improved const hygiene.

[2022-09-15 11:07] m-stein commented on #4610
@nfeske Thanks for applying my suggestions! I must admit that I fail to understand what exactly is going on in the most recent versions of ``apply`` but it sounds exactly like what I wanted :)

[2022-09-15 11:12] m-stein commented on #4612
@chelmuth I've added two fixups:
4cc0b813ea fixup "nic_router: bind link state to remote DNS config" (README)
9ef6d80648 fixup "nic_router: bind link state to remote DNS config" (get rid of the notion of an "interface ready state")

After offline discussions with @chelmuth and @nfeske I conclude that there are two additional ideas regarding the ``dns_config_from`` that would be worth a try:
* The

[2022-09-15 11:23] nfeske commented on #4610
@m-stein yeah, the code looks cryptic. But this is to the benefit of all users who can use this version with or without a return value.

In many cases (like in https://github.com/genodelabs/genode/commit/a00453c7e2747c3b88519392eaef4c5391284b23), the support of a return value is handy because it avoids the need for non-const variables to funnel results out of the lamda. But we also want to support

[2022-09-15 12:15] nfeske opened #4613 "vfs_rump: increase max. I/O request size from 32 KiB to 1 MiB"
The NetBSD kernel clamps the size of block I/O request to a maximum size according to the definition of `MAXPHYS`. This value is currently defined (in dde_rump/lib/mk/rump_common.inc) as 32 KiB, which results in the splitting of large file-system operations into 32 KiB block requests. In Sculpt, each block request travels through part_block to the block driver. When loading large files (libQt5WebE

[2022-09-15 12:31] chelmuth commented on #4612
@m-stein would you mind to rebase your merge_to_staging branch on current staging?

Also, I'm afraid using the DHCP-protocol extension for config updates is a dead end according to discussions on Stackoverflow. These include references to postings of the ISC DHCP server lead developer voicing resistance to adopt DHCPFORCERENEW without authentication.

[2022-09-15 13:24] skalk opened #4614 "platform_drv: acquire and return only first device in acquire_single_device"
Currently, the RPC call acquire_single_device internally uses a 'for_each' to take the first device, but does not break when it found one. Therefore, it acquires (powers on, sets holder etc.) each device, and returns a capability to the last one. This is not the desired behaviour.

[2022-09-15 13:31] skalk opened #4615 "platform API: simplify _wait_for_device"
The current implementation of `_wait_for_device` in the `Platform::Connection` class is a bit too complicated, and although correct it can lead to nasty kernel warnings when a signal to an invalid signal handler is raised. We can supress this warning, and thereby simplify the waiting for a valid devices ROM.

[2022-09-15 15:39] nfeske commented on #4606
Merged as https://github.com/genodelabs/genode/commit/f7b09d11e39691e36d8b00e6ef22161178956273 with a minor white-space tweak applied.

[2022-09-15 15:45] nfeske commented on #4614
Merged to staging.

[2022-09-15 15:52] nfeske commented on #4615
When looking at the patch, I'm wondering if there is any chance that a signal may get lost?

When the platform driver tries to submit a signal just after the client called `sigh(Signal_context_capability())`, would the platform driver send the signal on the next call of `sigh(_handler)`?

[2022-09-15 16:32] m-stein commented on #4612
@nfeske I'm happyto hear that :)

[2022-09-15 17:47] m-stein commented on #4610
@nfeske I just stumbled over another thing while adapting the NIC router to use Dictionary: Whenever inserting a NIC client or domain into the tree (repos/os/src/server/nic_router/configuration.cc:210 and 137), the router checks whether the name is unique and, if not, calls a functor instead of inserting the element (repos/os/src/server/nic_router/avl_string_tree.h:125). It's possible to emulate t

[2022-09-15 17:50] m-stein commented on #4610
@nfeske Sorry, I had to re-write the last sentence in my last post. Please check on github.

[2022-09-15 18:00] ttcoder opened #4616 "Decreased packet throughput, between block-file-system and part_block"
This is with Genode 21.08

Still working on FUSE file system support, optimizing for speed. Turns out my previous
attempts at optimizations were the smaller part of the problem : the lion's share
of CPU cycles are spent in packet_stream.h, in support of a vfs plug-in like `"<block name=/sda>"`:

Indeed, playing with GENODE_LOG_TSC I 'peeled the onion' until I got this:

[code]

That seems to show

[2022-09-15 19:22] ttcoder commented on #4616
Note1: the buffer-count of block-fs is configurable, so I increased it from 1 to 128 buffers. It helps, but it won't go beyond a 40% speed-up.

Note2: for reference, one of the sequences of reads() issued by the ntfs driver (for mounting a partition):
[code]

[2022-09-16 06:19] nfeske commented on #4610
The insertion into the dictionary happens at the construction time of a dictionary element. Therefore, the C++ natural way to reflect a name collision would be to throw an exception from the constructor. I'd like to avoid that. However, passing an `name_not_unique_fn` as constructor argument would still leave an ill-constructed object behind. Ultimately, the dictionary cannot enforce the uniquenes

[2022-09-16 07:20] m-stein commented on #4610
@nfeske You're right, I didn't think about the problems with the functor.

Alternatively, I thought about making the Element constructor private and introducing a constructing method in Dictionary instead (comparable to Constructible::construct). But it would pull the choice of allocation method into Dictionary which doesn't seem desirable.

So, although I'm not happy with leaving uniqueness unenf

[2022-09-16 07:56] nfeske commented on #4610
@chelmuth do you think the name `exists` is fitting? Or would `contains` be more suitable?

[code]
vs.
[code]
or something else?

[2022-09-16 08:02] jschlatow commented on #4616
@ttcoder Since you are working with release 21.08, I suspect you are witnessing the implicit blocking semantics of the packet-stream interface that has been deprecated with release 22.02. Please have a look at #4390.

[2022-09-16 09:01] skalk commented on #4615
After rethinking it, I think you're right, but actually the problem existed already before. In general, we have to register the signal handler at construction time, and need to overwrite it, when the client requests it. Thereby, we cannot loose a signal, nor accidentally overwrite an explicitly set signal handler of the client. I'll sketch a solution in a follow-up commit.

[2022-09-16 09:03] m-stein commented on #4610
I forgot to mention, that in the NIC router, such an ``exists`` method would not be of help as the router ensures that _both_ objects that have the clashing name get ignored. I.e., the object that was already in the dictionary must be destroyed again on finding the clash. Therefore the use of ``apply`` fits better.

[2022-09-16 09:29] skalk commented on #4615
@nfeske I've replaced the original commit by commit a2e15db

[2022-09-16 09:34] nfeske commented on #4615
The new version looks good to me. I merged the commit to staging.

[2022-09-16 09:41] nfeske commented on #4610
Commit https://github.com/genodelabs/genode/commit/986575b6acd2e97cabec217b2fae981dc11db1f5 adds the check and the `exists` method.

Thanks for clarifying. However, the dictionary needs the `exists` method internally anyway now that the element constructor performs the check. I think its fine to publicly expose it..

[2022-09-16 12:43] chelmuth commented on #4610
Regarding the naming, `contains` sounds slightly better in my ears but I'm also fine with `exists`.

[2022-09-16 16:50] nfeske commented on #4610
@chelmuth thanks for commenting. I was leaning towards `contains` as well. But in my concrete case of the directory cache in `depot_query`, dictionaries are named `files` (as in list of files) or `listings` (list of listings). In these cases, `files.exists(name)` sounds less forced than `files.contains(name)` but that comes very much down to personal taste. However, should the naming spill to simi

[2022-09-17 10:59] ttcoder commented on #4616
Looking at the changes listed in #4390, I see `block_file_system.h` was changed/adjusted indeed -- though if that component is just an "innocent downstream bystander" this adjustment might not be the critical bit :

https://github.com/genodelabs/genode/commit/df2e7fa8421020e16e6883a9f5aef24e305905fd

The (way bigger) change to `part_block` is presumably? the one that ought to improve performance f

[2022-09-17 18:37] m-stein commented on #4610
While we're at naming, I must admit that I find the names ``apply`` and ``apply_any`` not very satisfying. A name like ``apply_to_any`` would make more sense IMO than ``apply_any``. And, taking into account the naming of the two functors ``match_fn`` and ``no_match_fn``, I think that something like ``find``, ``find_by_name``, ``find_match``, ``search_for``, ``search_for_name``, ..., or at least ``

[2022-09-17 20:47] m-stein commented on #4610
I've adapted the NIC router to use Dictionary:
fdd133bd21 nic_router: use the dictionary data structure
43d91defe0 dictionary: avoid overlaying of member 'name'
9dbad4bdc2 dictionary: remove unused template parameter

@nfeske Are the dictionary commits fine with you?

[2022-09-17 20:51] m-stein commented on #4610
Btw. I had to create a non-const for_each version again as the router requires this in quite some places (only for modifications to the managed objects themselves, no destroying). What's the native idea for such a requirement?

[2022-09-19 07:47] m-stein commented on #4612
@nfeske @chelmuth I've re-based my branch and added a fix-up:
 8f25368759 fixup "nic_router: bind link state to remote DNS config" (is_ready -> ready)

[2022-09-19 10:29] m-stein commented on #4610
@nfeske I've updated my commits according to our offline discussion:
b6e4de8766 nic_router: use the dictionary data structure
ba880362a5 fixup "os: add util/dictionary.h utility" (no member overlaying)
69cc4c8cc3 fixup "os: add util/dictionary.h utility" (ARG template param)

[2022-09-19 11:15] m-stein commented on #4610
@nfeske This fix-up is a follow-up of the ``ARG`` fix-up:
857576ebc1 fixup "os: add util/dictionary.h utility" (ARG template param: depot_query)

Furthermore, I found the solution for the problem with the ``ARG`` template parameter in the router. I stumbled over repos/os/include/block_session/connection.h:347, and, indeed, writing
``this->template apply_any<OBJECT_T>(`` in the router fixes the com

[2022-09-19 11:17] m-stein commented on #4209
@chelmuth Thanks for the report! I was able to reproduce this in a minimal setup and am now trying to debug it.

[2022-09-19 11:29] nfeske commented on #4610
After sleeping over it, I agree. The name `apply` comes from a time when the use of lambda arguments was still novel. With now that the pattern has become routine, we don't really need to highlight that a function is applied. I'm going to rename the methods to `with_element` and `with_any_element`, which are in line with methods like `Xml_node::with_sub_node` or `Attempt::with_result`.

[2022-09-19 12:04] nfeske commented on #4610
I just force-pushed the staging branch with all changes consolidated into https://github.com/genodelabs/genode/commit/3be0136901069a50cf12d21bea49950f5a43dec6

[2022-09-19 14:09] m-stein commented on #4610
I like the new naming! A good name for ``for_each`` would now be ``with_each_element`` but I don't want to be picky :)

[2022-09-20 08:08] ssumpf commented on #4151
@skalk, @m-stein: With [eb23b4e](https://github.com/skalk/genode/commit/eb23b4eb7fc67cc3fc9bc94feb1eb24a599fdd13) applied, I see the CPU utilization drop to about 5% when running import on genodians:

without commit:
[code]

with commit (eb23b4e):
[code]

[2022-09-20 08:26] m-stein commented on #4151
@ssumpf Thanks for sharing these impressive results :-)

[2022-09-20 11:55] skalk opened #4617 "base-hw: unknown exceptions leads to halt on ARMv8"
Currently, there is still a halt when in the ARMv8 Thread::exception handling code a machine exception is not implemented explicitly. This is undesired behaviour, as long as the exception is caused by a userland-component.

[2022-09-21 10:20] #4596 closed

[2022-09-21 10:20] #4599 closed

[2022-09-21 10:20] #4601 closed

[2022-09-21 10:20] #3886 closed

[2022-09-21 10:20] #4600 closed

[2022-09-21 10:20] #4602 closed

[2022-09-21 10:20] #4218 closed

[2022-09-21 10:20] #4224 closed

[2022-09-21 10:20] #4465 closed

[2022-09-21 10:20] #4603 closed

[2022-09-21 10:20] #4605 closed

[2022-09-21 10:20] #4607 closed

[2022-09-21 10:20] #4462 closed

[2022-09-21 10:20] #4608 closed

[2022-09-21 10:20] #4612 closed

[2022-09-21 10:20] #4613 closed

[2022-09-21 10:20] #4614 closed

[2022-09-21 10:20] #4615 closed

[2022-09-21 11:40] nfeske commented on #4611
Fixed in master.

[2022-09-21 11:40] #4611 closed

[2022-09-21 11:41] nfeske commented on #4609
Fixed in master.

[2022-09-21 11:41] #4609 closed

[2022-09-21 11:41] nfeske commented on #4606
Merged to master.

[2022-09-21 11:41] #4606 closed

[2022-09-21 11:44] nfeske commented on #4352
In the meanwhile, the residual rework of the os/vfs.h API has reached the master branch.

[2022-09-21 11:44] #4352 closed

[2022-09-21 13:01] nfeske commented on #4617
Merged to staging.

[2022-09-21 15:57] skalk commented on #4151
@ssumpf  thank you for testing my solution with the more complex genodians scenario, and for the investigation! I think I found the root cause for not scheduling correctly when idle is active, which led to the strange top results. After applying a fix, I see normal results with top when executing the genodians run-script. If you like, you might give it a try. @m-stein the commit to review has chan

[2022-09-22 07:15] skalk commented on #4167
@nfeske thanks for solving the issue!

[2022-09-22 09:04] m-stein commented on #4610
I've had to add a fix-up:
f92ed1356d fixup "nic_router: use the dictionary data structure" (new method naming)

[2022-09-22 09:15] m-stein commented on #4610
@chelmuth: I just found out about f384bd05bb. Thanks for your work! But, please let me suggest a different approach for such situations: When there is a re-base problem on merging a commit of mine, I'd prefer that, in general, my commit is ignored until I create a fix-up. What do you think?

[2022-09-22 09:20] m-stein commented on #4610
Here's the re-based version:
ab3acef245 fixup "nic_router: use the dictionary data structure" (lisp antidote)

[2022-09-22 09:22] m-stein commented on #4209
This should fix the issue:
4a424a6942 base-hw & cortex_a9: consider timer IRQ unreliable
7c9075f98b base-hw: problems with timeout lib in src recipe

I refrained from fixing the BASE_DIR problem in general and concentrated only on the timeout lib for now. Is there a strong desire that I continue this work?

[2022-09-22 09:24] m-stein commented on #4151
@skalk I'll review it tomorrow if it's fine.

[2022-09-22 10:25] chelmuth commented on #4610
In general, I support this procedure, but in this case it was the rebase on your side that failed and I wanted an immediate fixup of the merged commit.

[2022-09-22 12:05] skalk commented on #4209
When looking at commit https://github.com/genodelabs/genode/commit/4a424a6942031cbd645b7c0429637dbfeb806fb2 I would say the _duration calculation was already wrong before, because `cnt` and `last` got interchanged (compare to other implementations, like generic_timer.cc). In the no-overrun use-case, we've to calculate `cnt - last`.
Now, in your new version, you keep the wrong calculations, but int

[2022-09-22 12:08] skalk commented on #4209
In case, I expressed myself overly complicated, we might discuss the implementation details tomorrow offline?! But I would refrain from merging the timer commit to staging now.

[2022-09-22 13:05] m-stein commented on #4610
@chelmuth Sorry, I have the feeling that I don't understand yet. Was it critical for you to merge 5e983b29d09be635277bb0b73f8a6348e1f7cd1f?

[2022-09-22 13:06] m-stein commented on #4209
@skalk I'm fine with that.

[2022-09-22 13:50] chelmuth commented on #4610
No, it was not critical to merge the commit. I just did yesterday in good faith (and without conflicts), but it became apparent that it did not work in our nightly CI run and, thus, I fixed it this morning.

[2022-09-23 07:19] nfeske commented on #4209
Commit https://github.com/genodelabs/genode/commit/93745e399ce8e49da5a4d72b7bcd394e42a8dab8 fixes the build of users of api/base-nova, in particular the vbox5-nova package. The base-nova API includes the statically linked base.lib.a, which depends on timeout.lib.a, which includes base/internal/globals.h. So this header must be captured by the base-nova API archive.

The commit also consistently ap

[2022-09-23 07:45] m-stein commented on #4209
@nfeske Thanks for the fix-up! I wasn't aware of the mechanics of the depot and REP_DIR, so, your modifications are sensible.

[2022-09-23 08:37] m-stein commented on #4209
The result of my offline discussion with @skalk:
* His comment about wrong calculations was due to a misunderstanding. The Cortex A9 timer has a decrementing counter while the Generic Timer has an increasing counter. That said, the current calculations are correct.
* Adapting the Cortex A9 timer in a "dirty" way because of a Qemu bug for all hardware users as well gives me and @skalk a bad feeling

[2022-09-23 12:26] nfeske commented on #4578
What a huge amount of work! Thank you for this well-curated commit series. Each single commit speaks of the great care you've put into this work. I especially like how you took the opportunity to modernize many places you visited, like the style of run scripts.

After reviewing each commit at the surface level and taking a closer look at the changes related to the components I originally authored

[2022-09-23 12:27] nfeske commented on #4511
Merged to staging.

[2022-09-26 08:34] jschlatow opened #4618 "missing port check ineffective in some libraries"
Last week I stumbled upon the issue that the build system did not detect that I missed preparing a certain port. The error occured in a header-only library (empty _lib/mk/\<libname\>.mk_). Although I used `select_from_ports` in _lib/import/import-\<libname\>.mk_, the missing port was not detected. As it turned out, the reason for this was that the `select_from_ports` was used within an `INC_DIR +=

[2022-09-26 08:36] jschlatow commented on #4618
Fixed by 46c259f.

[2022-09-26 08:56] m-stein commented on #4151
@skalk Thanks for your rework of the on-demand scheduling! I'll have a look into the remaining problems with the test soon.

[2022-09-26 14:04] skalk commented on #4578
@nfeske: thank you for your nice words! I've a follow-up commit 62e30e9 which adds the pci header files to the os api package. Therewith some nightly problems of DDE Linux drivers for various platforms shall vanish.

[2022-09-26 14:09] m-stein opened #4619 "nic_router: use exact packet sizes in dhcp client"

[2022-09-26 16:25] nfeske opened #4620 "Intel framebuffer driver does no longer work on Framework laptop"
While testing the new driver infrastructure of #4578, I noticed that the Intel graphics driver does no longer work on the Framework laptop. I gathered the following log output using the report_dump mechanism.

[code]

There is no backtrace in the log, though.

[2022-09-26 17:48] m-stein commented on #4619
@jschlatow I hope this helps you?

[2022-09-27 09:14] jschlatow commented on #4619
@m-stein Superb!

[2022-09-27 09:23] cnuke commented on #4578
@skalk thanks for your work, I adapted the `pci_audio_drv` commit in [e7f2de5](https://github.com/cnuke/genode/commit/e7f2de5544f0d7992a05ad6ddb1f6ea35f337a9e) (removed the drivers that require I/O port access since they are not of much use anyway) and tested the driver on the *Fuji4*.

(Since DMA snooping is only enabled for Intel devices, I'll check with non Intel systems.)

[2022-09-27 12:44] ssumpf commented on #4578
@nfeske: ff26815 fixes `intel_fb` for Gen8+ Intel GPUs (tested on Macho, Fuji2).

[2022-09-27 12:52] cnuke commented on #4578
Commit [2662d3a](https://github.com/cnuke/genode/commit/2662d3a40654e49f6ee78f334e5948584b760a7d) address the `nvme.run` issue with *seL4*.

[2022-09-27 13:16] nfeske commented on #4620
This problem is fixed by https://github.com/genodelabs/genode/commit/ff26815a75739b4963e146787085003c86b05eb7. Thanks @ssumpf for the patch!

[2022-09-27 13:43] skalk commented on #4578
@chelmuth: no it does not. I think pci_decode would be the better place indeed.

[2022-09-27 13:48] ssumpf commented on #4578
@chelmuth, @nfeske: e5ee664 is a suggestion that fixes AHCI on hardware. AHCI I/O memory is in BAR5. Hardware has multiple I/O memory regions, so we need to find the correct index.

[2022-09-27 21:00] cproc opened #4621 "qt5: fix build errors with GCC 11 host tool chain"
With GCC 11 as host tool chain (for example on Ubuntu 22.04), the `limits` header file needs to be included in some of the Qt5 source files. [1][2]

[1] https://bugreports.qt.io/browse/QTBUG-93452
[2] https://github.com/OpenMandrivaAssociation/qt5-qtbase/blob/b91146253cbf8caabc90ee438050e077d4c4b7e9/qt5-qtbase-gcc11.patch

[2022-09-27 21:42] cproc commented on #4621
Fixed by ff4bc28.

[2022-09-28 06:24] cproc opened #4622 "tool chain: improve 'autoconf' version selection"
On Ubuntu 22.04 `autoconf2.69` is needed, but on Ubuntu 20.04 it's `autoconf` (which is version 2.69 as well).

[2022-09-28 08:40] cnuke commented on #4578
Commit [0920c01](https://github.com/cnuke/genode/commit/0920c01ad27c78ef349655c34d1847c720ee3c64) takes care of the half-baked `dde_bsd` adjustments, sorry for the noise.

[2022-09-28 10:18] cnuke commented on #4578
The `dde_bsd` driver currently does not work with systems featuring mutliple HDAudio devices where one of the exposed ones is not supported, e.g.
[code]

as it will apparently always operate on the first one even when skipped. Pointing the driver via
[code]
to the proper one works. I'll look into this tomorrow if nobody beats me to the punch.

[2022-09-29 06:17] cproc commented on #4622
Fixed by 492a3aa.

[2022-09-29 06:20] alex-ab commented on #4578
Please consider fcc4e4c2716087e76d4a98a15926e43881ea31ad on my merge_to_staging. Due to changed allocation scheme by pci_decode (compared to old platform driver), it became apparent that insufficient amount of MSIs is supported. (test machine has room for 8 MSIs, but up to 12 was allocated by pci_decode).

[2022-09-29 06:44] chelmuth commented on #4578
Thanks @ssumpf and @alex-ab, merged the fix to staging.

[2022-09-29 07:42] chelmuth commented on #4622
Great, it seems to work as intended - x86 was built successfully, other platforms are in the queue. Merged the commit to staging.

[2022-09-29 10:43] ttcoder commented on #4616
I've successfully upgraded to Genode 22.02, and did a before-and-after using a minimal scenario, without part_block or a vfs server. Unfortunately I'm seeing high TSC counts in both Genode revs:

[code]

[code]

That's on Qemu though -- I'm going to test on bare metal, look for a speed-up there, before drawing conclusions and coming back asking for help :-)

[2022-09-29 11:27] cnuke commented on #4578
Commit [01b7e9f](https://github.com/cnuke/genode/commit/01b7e9f7ce51f67a558c3440c53cef6a7401c2b0) addresses skipping of unsupported devices in `dde_bsd`. Successfully tested on *test-x250*.

[2022-09-29 11:58] nfeske commented on #4616
Thanks @ttcoder for updating, so we can talk about the same code. Please note that fd9648f9192dbe24552a69f02d95cc4f3f78845f is still likely missing in your branch.

Please keep in mind that the `_block_io` call includes the I/O latency of the device. So the accumulated costs do not correspond to the CPU cycles consumed but also the CPU cycle-time waited for I/O. To get a grasp on the CPU consumpti

[2022-09-29 14:53] nfeske commented on #848
This issue remained unaddressed since many years while nobody really missed this feature. So it is best to bury the plan. We can kick off a fresh discussion once the need for synchronizing the thread-startup with a trace monitor comes up.

Commit https://github.com/genodelabs/genode/commit/e8f5c9f28e3d6fd5ea2967ebe2b84c8fbfc6c6dd removes the `Trace::Session::rule` RPC function from the API.

[2022-10-01 09:21] ttcoder commented on #4616
Ok I think this one might be solved now that I upgraded to 22.02 indeed (also applied the https://github.com/genodelabs/genode/commit/fd9648f9192dbe24552a69f02d95cc4f3f78845f patch to be apples to apples, but after adding some tracing I see the try's catch() is almost never exercised anyway).

Tried on bare metal (T530), with my real-world jamfiles (that configure `<block>` with 256 cache blocks i

[2022-10-03 07:55] rite opened #4623 "libports: use GitHub mirror for fatfs"
- The source archive of the Expat XML Parser 2.4.6 hosted on https://sourceforge.net/projects/expat/ has been renamed to `expat-2.4.6-RENAMED-VULNERABLE-PLEASE-USE-2.4.9-INSTEAD.tar.gz`.

- It looks like http://www.elm-chan.org is blocking certain IP because downloading the FatFs source archive on certain machines fails with "403 Forbidden".

[2022-10-03 08:30] rite commented on #4623
- a68b6cb4b01b39f3617d793e8ddf910cc57485bb updates the version of the Expat XML parser without any other changes/patches. Our tests that require expat as a transitive dependency didn't break, however we don't explicitly test the expat port in depth.

- f79a4e1f7bc51716a75257af9545e80de5f3560d uses a GitHub mirror for FatFs. Unfortunately, the sources downloaded from this mirror differ slightly fro

[2022-10-04 06:17] chelmuth commented on #4623
Thanks @rite,

Please consider 717dfca385b17456e3eccd7923b3826a3f0ed9cc, which already hit staging and will be mastered soon.

I'll have a look at the differences to our current port.

[2022-10-04 14:21] rite commented on #4623
Oh, thanks for the heads-up, I wasn't aware of this. Please just ignore my commit a68b6cb4b01b39f3617d793e8ddf910cc57485bb then.

[2022-10-05 06:27] chelmuth commented on #4578
The following code in *pci_decode* falsely skips reporting of interrupts for MSI/MSI-X-only PCI devices that do not configure an interrupt PIN (value = 0). Such devices are not uncommon in recent mobile device, e.g., Framework with Gen12 board and Fujitsu U7411.

https://github.com/genodelabs/genode/blob/40c2eae054558d8c975ed245f8cdb3c148018fe8/repos/os/src/app/pci_decode/main.cc#L151-L153

My fir

[2022-10-05 06:30] chelmuth commented on #4578
*platform_drv* is missing support for MSI-X-only devices like the Qemu NVMe model. To fix this we need an implementation of `Msi_x_capability::enable()` according to `Msi_capability::enable()`.

[2022-10-05 07:04] cnuke opened #4624 "dde_linux: allow GPIO state access"

[2022-10-05 07:06] cnuke opened #4625 "dde_linux: provide __phys_to_pfn for arm64"

[2022-10-05 07:07] cnuke commented on #4625
Commit [09d709e](https://github.com/cnuke/genode/commit/09d709e83578b041ab5194643c8b68e2e98ccaf1) address this issue.

[2022-10-05 07:10] cnuke commented on #4624
Commit [2ada963](https://github.com/cnuke/genode/commit/2ada9634e7169a9416761e01df203d7252424acd) implements `Pin_state_session` access in the *pin* backend. It is needed for driving the `i2c-gpio` driver needed by the `pinephone_camera_drv` component. Note that this is more of a functional PoC as the proper way to handle this requirements, i2c bit-banging, is still in flux and the *fixed* label t

[2022-10-05 08:05] cnuke opened #4626 "wifi/pc: add FW image for new so devices"

[2022-10-05 08:11] cnuke commented on #4626
Commit [9f578c2](https://github.com/cnuke/genode/commit/9f578c240b0de7f3942b160fc1fb6a0d0eeba335) adds the firmware image for iwlwifi devices such as in the upgrade Framework laptop.

[2022-10-05 09:17] ssumpf commented on #4494
With e2b5f56 tested USB sticks work as expected. As discussed we should look at why https://github.com/genodelabs/genode/commit/87021d9fb125c7c9dfdef6ccdade798cb400374a breaks some sticks after Sulpt release.

[2022-10-05 10:31] nfeske commented on #4626
Added to staging, along with d191dabcf1ba5900e073cda0c8b92612e78d5836 (Sculpt's ROM routes).

With the firmware available, the driver starts and scans the Wifi networks. However, once I try to connect, it fails as follows
[code]

[2022-10-05 10:34] nfeske commented on #4578
Fixup 8c9dc5936852d7abf0783405d4c9c2947c334b37 restricts the shared-interrupt mechanism to legacy IRQs (not MSI, MSI-X) only. With this change, the wifi driver starts up successfully on the Framework laptop. Thanks @chelmuth and @skalk.

[2022-10-05 10:38] nfeske commented on #4494
I merged the revert-commit to staging.

[2022-10-05 12:35] nfeske opened #4627 "Intel framebuffer driver fails on Framework Gen12 laptop"
The current version of the intel_fb_driver fails on the Framework Gen12 laptop with the following error message. Amazing to live in times where the Linux kernel code gives advice in whole sentences...

[code]

[2022-10-05 13:06] skalk opened #4628 "pci_decode: virtual MSI interrupt numbers can be wasted"
The pci_decode component has to provide MSI interrupt values. These so to say virtual slot numbers can get wasted, when the process of PCI device discovery gets re-started (due to too small initial Report buffers), while the MSI number counter already got increased.

[2022-10-05 13:09] skalk commented on #4628
@nfeske @chelmuth commit b41961abd7a6e03070b464de6b1f9954c3588739 is destined for the Sculpt release as well

[2022-10-05 13:49] chelmuth commented on #4578
Merged to staging.

[2022-10-05 13:52] cnuke opened #4629 "dde_bsd: update audio driver to OpenBSD 7.1"

[2022-10-05 14:03] cnuke commented on #4629
Commit [c84535d](https://github.com/cnuke/genode/commit/c84535dc148bfbc899faffa13d950ca973025d3d) adds *disable no snoop* handling for AMD/ATI HDA devices, while commit [5fa10c4](https://github.com/cnuke/genode/commit/5fa10c471c6d5e9e60b7fd201fbac53fbdb9e610) contains the update. The new driver was successfully tested by running `audio_out.run` on a X201, X250, Fuji4 and Fuji5c. In addition `audio

[2022-10-05 14:22] skalk commented on #4578
commit 9ec3136 introduces a PC-specific platform driver, which extends the generic functionality with the formerly known reset feature. commit f9ff824 integrates this driver into sculpt.

[2022-10-05 14:46] nfeske commented on #4627
Fixed by commit https://github.com/genodelabs/genode/commit/8790f389dc2a47fad3285ddaa19023d9ad39cc4e

[2022-10-05 14:51] nfeske opened #4630 "Intel framebuffer driver fails on x250 + Dell UltraSharp 4K display"
Once when connecting the external display, the intel framebuffer driver apparently enters a new code path:

[code]

Sculpt's driver manager tries to respawn the dead driver. However, the new instance fails to (re-)initialize the hardware at that point:
[code]

[2022-10-05 15:18] nfeske commented on #4630
By taking the implementation of `kvfree_call_rcu`, we get a step further, hitting another dummy.

[code]

[2022-10-05 16:11] ssumpf opened #4631 "Sculpt 22.10: Minor issues"
A place to put minor issues while testing the upcoming Sculpt release.

[2022-10-05 16:17] nfeske commented on #4629
Thank you for the commit series, which I just merged to staging.

[2022-10-05 16:19] nfeske commented on #4578
Merged to staging. The reset feature works perfectly on the Framework laptop.

[2022-10-05 16:30] skalk commented on #4578
commit ed61e40 implements MSI-x support within the generic platform driver to support devices such as NVMe models in Qemu that support MSI-x only.

[2022-10-05 17:23] nfeske commented on #4578
I cherry-picked https://github.com/genodelabs/genode/commit/ed61e402b173838df1c260e37450308196bd5a1b to staging to see how the automated tests fare.

While giving it a try on the Framework laptop, however, I observed that the NVME driver does no longer work with this change. It seems to block infinitely (presumably not getting any interrupt), so part_block stalls. Reverting the commit revives the

[2022-10-06 07:11] chelmuth commented on #4630
If I'm not mistaken we tried to enable this subsystem in the past and had issues with S938. @alex-ab do you recollect more details or (even better) test the current staging version with the device?

[2022-10-06 07:41] chelmuth commented on #4578
This may be related to my commit comment https://github.com/genodelabs/genode/commit/5765d419cb7d9db4a7371580f7e937d619309bdb#commitcomment-85904372.

It may be worth a try to change the priorities and prefer MSI over MSI-X. @m-stein could you try a staging Sculpt on your T480 and check if the wifi_drv still works as expected?

[2022-10-06 07:44] skalk commented on #4578
@chelmuth: I agree that would be a short-term solution, but when we integrate the MSI-x solution, it would be good to know it is working at least on some real hardware.

[2022-10-06 07:49] chelmuth commented on #4578
Sure, just wanted to recollect what we learned when enabling the wifi_drv on @jschlatow's T480s - for this device we had to disable MSI-X IIRC.

[2022-10-06 08:41] nfeske commented on #4578
Of course. As I have the Framework laptop with me, I can also do some testing today, if this can be of any help.

[2022-10-06 08:42] chelmuth commented on #4578
It seems *usb_hid_raw* is also broken in Qemu. The XHCI uses `<irq type="msi-x" number="1"/>`. My Qemu is 6.1.0.
.

[2022-10-06 08:47] nfeske commented on #4630
Interesting. As far as I could see, the added file merely adds a few functions that were previously handled by `lx_emul_trace_and_stop`. Since those weren't called previously, I figured that adding `drm_scdc_helper.c` does not pose risks for regressions. Given your remark, I'd very much appreciate @alex-ab giving the latest version a spin.

[2022-10-06 09:10] alex-ab commented on #4578
The 64bit test machine has a NVMe PCI card which has MSI-X and was tested each night with the old platform driver.

[2022-10-06 09:17] chelmuth commented on #4578
If I enforce MSI in platform_drv, the test succeeds. While doing so, I noticed that platform_drv ignores the IRQ type reported by pci_decode and just applies its own preference for MSI-X.

[2022-10-06 10:11] skalk commented on #4578
@chelmuth @alex-ab thanks for your hints, I'll investigate and rework the MSI-x support tomorrow at the office.

[2022-10-06 10:42] cnuke commented on #4631
FWIW, while fetching a large pkg I noticed what seems to be reoccuring diagnostic messages, e.g.

[code]

Commit [f0044cf](https://github.com/cnuke/genode/commit/f0044cfa89230c3965c2bc0e21a390f8fe4b9e50) removes the message but it is probably put in place for a reason. (Since I use a somewhat modified Sculpt branch it is likely I introduced the problem.)

[2022-10-06 10:48] cnuke commented on #4631
Restarting the updated `dde_bsd` driver leads a page-fault, e.g.
[code]

I'll look into that.

[2022-10-06 10:55] m-stein opened #4632 "Sculpt + Vbox: Guest fails to get IP config"
After updating Sculpt, @ssumpf reported that his VBox guest (gentoo) doesn't get an IP config via DHCP on startup. However, once he reconfigured the NIC router, the guest was able to complete DHCP and use the network just fine. We found that in the bad case, there appear no packets on the fresh NIC session. This is because the NIC device model in VBox thinks that the session is still "down" (synch

[2022-10-06 12:12] skalk opened #4633 "hw: implement MSI support for x86"

[2022-10-06 13:38] cnuke commented on #4629
Please merge commit [519e33e](https://github.com/cnuke/genode/commit/519e33e558e3b43e27840ddd4597d894c701cd34). It prevents a page-fault in the driver component when it is restarted (see #4631).

TL;DR when the driver component is removed in Sculpt the device is still running and that will be detected by the driver the next time it is started. During its attempt to power down the already running c

[2022-10-06 16:56] nfeske commented on #4629
Thanks for the welcome fixup, which I merged to staging. I very much appreciate the little cleanups left and right, like the simplification of the port file.

[2022-10-06 17:20] nfeske commented on #4631
I'd like to remove vbox5 from the default Sculpt index and the sculpt_distribution. By now, we should all have migrated to vbox6. What do you think?

[2022-10-07 07:57] ssumpf commented on #4632
@m-stein: Here we go:
[code]

[2022-10-07 09:16] ssumpf commented on #4632
@m-stein: I also found when switching from a working Wifi connection to Wired, the wired connection does not receive an IP address. May this be related to this issue as well?

[2022-10-07 09:23] ssumpf commented on #4578
The reset feature freezes my T470 laptop. It worked with the old platform driver.

[2022-10-07 11:54] chelmuth commented on #4578
Same on X260.

[2022-10-07 13:10] ssumpf commented on #4578
@chelmuth: [0d035ae](https://github.com/ssumpf/genode/commit/0d035aed7c1c360843693b596cc8ca304b24f173) is the tested and working commit.

[2022-10-07 13:22] m-stein commented on #4632
@ssumpf Thanks for the log! I don't get yet. Your NIC client (vbox dev model) reads out the "down" state first and then also the following "up" state. The signal sumbissions happen just as expected. I'm wondering why after the above cascade your dev model still thinks it's down. The last call to ``Nic_session::link_state`` should return true AFAICS.

[2022-10-07 13:51] m-stein commented on #4632
@ssumpf Regarding your other observation, I'd require more information. Could you share a ``<config verbose_packets="yes" verbose_packet_drop="yes" verbose_domain_state="yes" verbose="yes">`` log while doing the switch?

[2022-10-07 15:23] chelmuth commented on #4578
Merged slightly adapted e55a38485c390b0e0af2886e47bb320002512d86

[2022-10-10 12:01] ssumpf commented on #4632
@chelmuth, @m-stein: 1ed6b69 fixes VirtualBox IP configuration.

[2022-10-10 12:07] m-stein opened #4634 "nic_router: consider DHCP client optimization"

[2022-10-10 12:12] m-stein commented on #4632
@ssumpf ... and therefore this issue. Could you please add ``Fixes #4632`` to the commit message?

[2022-10-10 12:13] ssumpf commented on #4632
Did already.

[2022-10-10 12:22] nfeske commented on #4578
Thanks @alex-ab. It's really nice to see the acpica mechanics becoming simpler. Thank you adjusting the documentation as well.

[2022-10-10 12:45] nfeske commented on #4631
@cnuke, commit c6900821d7a6835f21d8c7e08b52ff3c1cda18eb + fixup 79471f04fe4a9083d5ffdff2178a00aedd4a3503 should remove the annoying warnings.

[2022-10-10 13:18] nfeske commented on #4632
According to my tests, the fix works well. Thanks @m-stein and @ssumpf!

[2022-10-10 14:29] cnuke commented on #4631
@nfeske thanks, those commit indeed address the warnings.

However (even without the fixup commits), as I noticed now on the X250, the download does not succeed for larger pkgs when using the ethernet nic. At some point it stops and I cannot even ping the machine after that. The problem does not occur on Fuji3.

[2022-10-10 14:46] chelmuth commented on #4578
@alex-ab could the following branch also be removed from acpica?

https://github.com/genodelabs/genode/blob/79471f04fe4a9083d5ffdff2178a00aedd4a3503/repos/libports/src/app/acpica/os.cc#L419-L443

Maybe, `Acpica::generate_report()` is no longer used too?

[2022-10-10 14:51] nfeske commented on #4631
This symptom sounds unrelated unrelated to the Sculpt manager's change though, doesn't it? At least, I cannot draw any connection. I wonder, may the former pressure on the file system have masked a networking issue?

[2022-10-10 14:54] cnuke commented on #4631
Yes it is unrelated. I just noticed it now as it was the first time I used the X250 for testing.

[2022-10-10 15:26] cnuke commented on #4631
@chelmuth booting from an USB stick makes all the difference. So it points to an PXE related problem.

[2022-10-10 15:26] m-stein commented on #4632
@nfeske Thanks for testing it so fast :)

[2022-10-11 10:00] chelmuth commented on #4621
@cproc do you have any idea how to fix the following tool-chain build error?

[code]

[2022-10-11 10:33] cproc commented on #4621
@chelmuth: not really. I think gprconfig is looking for the bootstrap gnat installation in `build/tool_chain-21.05/bootstrap/install`. Does that exist?

[2022-10-11 11:40] cnuke commented on #4578
Commit [9f21bfa](https://github.com/cnuke/genode/commit/9f21bfa180eb61601f16ffe94a24635a9f344e14) adds the new Timer session requirement to the `wifi.run`, `audio_out.run` and `audio_in.run` run script.

[2022-10-11 11:41] cnuke commented on #4578
Commit [6e5effc](https://github.com/cnuke/genode/commit/6e5effc07b2fbcbe5a6d809792769927943d908e) adds a quirk for using GSIs for certain HD audio devices.

[2022-10-11 11:48] alex-ab commented on #4578
Yes, commit 315fdfc87c57b7d46dbb22fbc74b7cc97aff5208 removes the code.

[2022-10-11 11:53] alex-ab commented on #4578
and b7232e4c6a4292948c66de8225a8291522dbb3cd.

[2022-10-11 12:43] alex-ab commented on #4578
2b998325a1627f177f54ca9dec05b6061b2f453f fixes the routing issue of nvme and intel_fb tonight

[2022-10-11 13:15] chelmuth commented on #4578
Thanks, @cnuke @alex-ab . Merged your commits to staging.

[2022-10-11 16:46] ssumpf commented on #4631
@chelmuth, @nfeske: When issuing a `poweroff` I experienced a RAM resource request from `acpica`. c04a0e8 should fix that.

[2022-10-12 08:17] m-stein opened #4635 "ipxe nic: sporadic dma fault on restart"
At b447c2cb91, which is based on a preliminary state of Sculpt 22.10, when switching between "Wired" and other options in the network manager, I sometimes observe a DMA fault when the NIC driver gets re-started. After this DMA fault, I fail to get an IP config with the NIC driver. Note that this is not due to unusual DHCP delays - the router continuously fails in doing DHCP DISCOVER in my case. He

[2022-10-12 08:20] m-stein commented on #4635
I should add that I observed the issue with my ThinkPad T490 with an Intel I219 Rev 30 NIC.

[2022-10-12 08:29] m-stein commented on #4635
@skalk and I created d57a7f3912, that shows that the DMA fault (varying address) is always in a region [0x00a00000..0x00b00000) that was attached as DMA by the platform driver beforehand during an RPC ``acquire_single_device`` by the NIC driver. This region is freed again at the platform driver in ``_release_device`` on NIC driver shutdown. Tha commit also contains outcommented debugging log calls

[2022-10-12 08:33] chelmuth commented on #4635
Could you please check the state of the LEDs on the ethernet ports of your notebook and switch?

[2022-10-12 09:37] m-stein commented on #4635
I have found no LEDs at my Fritzbox, an at the T490 there seem to be only the two of the RJ45 socket. In my native Linux, the green one is always on while the plug is plugged and only shortly goes off when switching network mode (Off <-> Wired). As long as the green one is on, the orange one blinks regularly. In preliminary Sculpt, it's almost the same with the difference that the green one is not

[2022-10-12 12:33] #4167 closed

[2022-10-12 12:33] #4617 closed

[2022-10-12 12:33] #4209 closed

[2022-10-12 12:33] #4619 closed

[2022-10-12 12:33] #4621 closed

[2022-10-12 12:33] #848 closed, assigned to nobody

[2022-10-12 12:33] #4622 closed

[2022-10-12 12:33] #4627 closed

[2022-10-12 12:33] #4629 closed

[2022-10-12 12:33] #4630 closed

[2022-10-12 12:33] #4634 closed

[2022-10-12 13:11] nfeske commented on #4632
Fixed in master.

[2022-10-12 13:11] #4632 closed

[2022-10-12 13:11] nfeske commented on #4631
All fixes went to master. Thanks everyone for testing and refining.

[2022-10-12 13:11] #4631 closed

[2022-10-12 13:12] nfeske commented on #4628
Fixed in master.

[2022-10-12 13:12] #4628 closed

[2022-10-12 13:14] nfeske commented on #4620
Fixed in master.

[2022-10-12 13:14] #4620 closed

[2022-10-12 13:17] nfeske commented on #4511
The commits entered the master branch by now.

[2022-10-12 13:17] #4511 closed

[2022-10-12 13:21] nfeske commented on #4575
Fixed in master.

[2022-10-12 13:24] nfeske commented on #4635
This issue seems to be related to #4538.

[2022-10-12 16:06] m-stein opened #4636 "nic_router: bad checksum on udp forward"
@skalk reported that he cannot fetch a file via TFTP within uboot on our iMX8 test board if the file is provided by his Sculpt 22.10 Debian 11 VM. However, the fetch works fine if the server is on a non-Sculpt machine or a machine with an older Sculpt version. We found that the UDP checksum of the initial TFTP request is broken when it arrives in the VM on Sculpt 22.10 while on Sculpt 22.04 the ch

[2022-10-12 19:26] chelmuth opened #4637 "themed_decorator: break link dependency to theme archive"
plain_decorator_theme.tar is not linked to the app but must be generated as side effect. Therefore, use CUSTOM_TARGET_DEPS to trigger the generation.

[2022-10-12 19:28] chelmuth opened #4638 "vmm_x86: guest code page in separate asm file"
Implement the guest code in dedicated assembler source file, assemble and link the binary to vmm_x86. The resulting guest-code binary populates one page that is mapped to host the reset vector of the guest.

This approach simplifies future guest code adaption resp. extension, e.g., to test rdmsr/wrmsr exiting.

[2022-10-12 19:30] chelmuth commented on #4638
@alex-ab What's your opinion on de97a8252b28bd2d33e5a347d76ffe3c1f5368ea?

[2022-10-12 19:31] chelmuth commented on #4637
@nfeske did I get this right?

[2022-10-13 07:10] alex-ab commented on #4638
I like it :+1:

[2022-10-13 08:42] alex-ab commented on #4631
With ae84eb1d9bcca247f758d05af1fe3832741f95ce the battery app works now with the current acpica port again.

[2022-10-13 10:24] m-stein commented on #4636
@chelmuth I've tried to test this one as good as possible and would recommend it for the release:
28024b7203 Revert "nic_router: incremental L4 checksum updates"

[2022-10-13 10:36] nfeske commented on #4631
That is super cool! Thank you for solving this long-standing riddle. :-)

[2022-10-13 12:21] chelmuth commented on #4636
@m-stein To answer our open question from yesterday: Linux TCP/IP statistics can be accessed by the follwing command lines.

[code]

[2022-10-13 13:49] chelmuth commented on #4625
@cnuke the commit would close this issue as fixed but contains lines with `XXX`. Please clarify the state and mark the issue as fixed appropriately.

[2022-10-13 14:08] chelmuth commented on #4494
Can you confirm that merging 338350b6d42f4d0295ad7b8d4f5eec3a50cf96c5 and re-merging 87021d9fb125c7c9dfdef6ccdade798cb400374a can fix this issue?

[2022-10-13 14:23] nfeske opened #4639 "nitpicker: drop double press/release events"
When using multiple keyboards, or when disconnecting a USB HID device while a key is pressed, the key count as tracked by the nitpicker GUI server can become inconsistent, preventing subsequent focus changes (because nitpicker considers all following keys as part of a long key sequence, never returning to the idle state).

These issues are not new. Nitpicker already tracks the press/release state

[2022-10-13 16:05] mmueller41 opened #4640 "nova: report of platform_info crashes on systems with more than 30 CPU cores."
For my research, I tried to run Genode with NOVA as kernel (as is recommended in the documentation) on our servers with >64 cores, and noticed that Genode crashes during boot without giving an error message. I tried deactivating cores in UEFI settings and found out that if the number of CPU cores is below 30, Genode boots fine, but not as soon the number is increased again.

The problem seems to b

[2022-10-14 07:11] cnuke commented on #4625
I marked the additions to indicate that they might have to be double checked or maybe could be provided in another way. They are good enough for now for the one driver though.

[2022-10-14 07:16] nfeske opened #4641 "Sculpt: trackpoint sporadically does not work on x260"
Yesterday, I observed a (presumably new) sporadic failure of the trackpoint of my x260 laptop when using Sculpt 22.10:

- After removing the laptop from the docking station, I was not able to used the trackpoint on the undocked laptop. However, the keyboard did work. I forcibly restarted the ps2 driver by setting a `version` attribute on the driver's `<start>` node in `/config/drivers`. After the

[2022-10-14 11:18] alex-ab commented on #4635
We tested now your setup on several machines, which does not trigger. What would be interesting to know:
- Did this work before for you, e.g. with Sculpt 22.04 ?
- Does disabling the iommu support helps (by removal of the parameter on the kernel commandline) ?

[2022-10-14 11:36] mmueller41 commented on #4640
I can confirm, that the fix to `platform.cc` at [https://github.com/genodelabs/genode/commit/dd124f27b7cc5e7f4704507ac1bfb6aae6116e50](dd12f4f2) works for me with 64 cores in Qemu. I will give it a try on one of our servers with 64 CPU cores later.

[2022-10-17 07:22] ssumpf commented on #4494
@chelmuth: 4a7bc92 is the merged commit using `usb_reset_configuration`.

[2022-10-17 09:33] skalk opened #4642 "genode block C API: update config ROM by signal"
Currently, the config ROM in the C++ backend of the Genode C API for C-based, ported block drivers doesn't get updated when the configuration has changed.

[2022-10-17 12:45] nfeske commented on #4642
I think the right approach would be removing the `Attached_rom_dataspace` from `block.cc` and add a C++ API function like this:

[code]

This approach would lay the configuration in the hands of the component's `Main`, which is then free to supply a static config, or take it from a ROM, and update it dynamically as it sees fit.

[2022-10-17 16:08] jschlatow opened #4643 "acpica logs `AcpiOsReadPciConfiguration` errors and IO_MEM error on T490s"
On my T490s, I get the following log output when running acpica 2022-10-13 from @alex-ab's depot:

[code]

The last five lines repeat indefinitely. I'm not sure how to interpret these lines. @alex-ab Do you have any idea what might be wrong here?

[2022-10-17 16:13] ttcoder opened #4644 "make run/ahci_block : routing issue"
This is with the latest (i.e. I just did a new "git clone..." this afternoon).

It might be a mistake on my side, but reporting just in case.

This...

[code]

Results in
[code]

However with this diff

[code]

the run script works.
In case it's useful.

[2022-10-17 16:19] jschlatow commented on #4203
On Sculpt 22.10, it seams the throughput has deteriorated a little. I made a few brief measurements. On the x260, I got 11Mbit/s whereas, on the T490s, I merely got 8Mbit/s. I haven't looked into this yet, however, given that my Linux VM only get's 22Mbit/s in the same test, I'm suspecting this might be a general degradation.

[2022-10-18 11:04] chelmuth commented on #4203
I just tested my VM under Sculpt 22.10 and got the following result (which is Megabyte per second).

[code]

[2022-10-18 11:14] chelmuth commented on #4644
Thanks @ttcoder the patch is indeed useful. This glitch was not discovered before as *ahci_block.run* is a debugging utility and, thus, not part of *tool/autopilot.list* and our automatic tests. I merged commit 3debd018b760420aaa6979055be18c004fb904e3 as fix.

[2022-10-18 11:26] chelmuth commented on #4618
@jschlatow do you have any idea how we could prevent (hidden) slips like those I fixed in ec3f2ddea49188bb86f73603c32bea9af34611bc and 28b4d302681365771dc4c5415df0ae6a8536e9a3 in context of the changes in this issue?

[2022-10-18 13:52] jschlatow opened #4645 "sculpt: deploy example contains wrong pointer-shape route"
I have been wondering for a while why my pointer shape does not change on Sculpt and have taken the opportunity of the 22.10 release to investigate. Turns out that I copied a wrong routing rule from the deploy example.

[2022-10-18 13:54] jschlatow commented on #4645
Fixed by 485171e.

[2022-10-19 08:52] skalk commented on #4642
@nfeske: yes, I recognized the design issue of having the config ROM and signal handler inside the C++ backend too, when investigating the missing configuration update. I just wanted to solve this problem first. But I fully understand when you do not want to repeatedly change the os API. Therefore, I will provide an alternative solution.

[2022-10-19 08:52] #4642 closed

[2022-10-19 09:34] jschlatow commented on #4618
AFAIK there is no way to render a variable immutable in make or at least output a warning if it gets re-assigned, which would certainly help with detecting those issues. Another option could be to make `INC_DIR` an immediate variable but I'm not sure whether it is intentionally a deferred variable.

[2022-10-19 12:10] chelmuth commented on #4618
Then, we have to live with the potential aliasing. I suggest to reduce the chance for this issue by applying the practice of naming the variable for the plain port directory `<PORT_NAME>_PORT_DIR` in future changes consistently.

[2022-10-19 17:10] ttcoder opened #4646 "scenario stuck due to missing policy (was: report_rom should output warning() diagnosis msg on missing policy)"
Context: I was wondering why platform_drv was failing to provide devices to the ahci driver, ps2 driver etc via rom_filter, which itself accesses report_rom.

Turned out, rom_filter was being *silently* denied access to report_rom, until I added this missing bit in report_rom's config:

				<policy label="rom_filter -> pci_devices" report="pci_decode -> devices"/>

It took me a bit of time to real

[2022-10-20 07:04] chelmuth commented on #4646
I tried this and if I remove the report_rom policy for rom_filter in *repos/libports/run/acpica.run* I get the following diagnostics.

[code]

Looks pretty explicit in my eyes or did get your case wrong?

[2022-10-20 14:38] jschlatow commented on #4203
I believe my measurements from a few days ago have been impaired by some external factors. I retested my machines today and got the original values (~16Mbit/s with native Falkon, 50Mbit/s (limited by my DSL speed) with any browser in my Linux VM).

[2022-10-20 15:28] cproc commented on #4360
- all CPUs idle except for the occasional time logging (the idle thread calls `nop` instead of `wfi` to let the cycle counter (trace timestamp) continue counting):

[code]

The time difference between the CPUs was small and stayed that way.

[2022-10-20 15:56] cproc commented on #4360
- an additional "burner" component executed a busy loop on CPU 1:

[code]

There was a deviation between CPU 1 and the idle CPUs (the idle CPUs apparently delayed) which looks like a multiple of 10 ms and it went up another ~10 ms at some point between these two samples (not gradually) and then stayed at these values until I stopped the test. Maybe it is somehow related to scheduling although I co

[2022-10-20 16:14] cproc commented on #4360
- the burner component calls `Blockade::block()` in a loop on CPU 1 and `Blockade::wakeup()` in a loop on CPU 2:

[code]

There was a noticeable deviation of `Kernel::time()` on CPU 1. The cycle counters appeared to have slowed down a bit as well on CPUs 1 and 2.

[2022-10-20 16:22] jschlatow commented on #4360
Have you checked whether your scenario may trigger a `wfe` instruction? Basically the same holds for the `wfe` as for the `wfi` instruction. At a first glance, `wfe` is only used by `Kernel::Lock::lock()`.

[2022-10-20 16:23] cproc commented on #4360
- the burner component called `Blockade::block()` in a loop on CPU 1 and `Blockade::wakeup()` in a loop on CPU 2 as before and the `time_logger` component waited for 10 seconds before starting the measurements:

[code]

Now `curr_time()` deviated as well on CPU 1.

[2022-10-20 17:51] ttcoder commented on #4646
Indeed!
I hadn't used that scenario for testing due to another problem (I'll file a ticket soon re. building usb_host on a non-linux host). I circumvented that problem by commenting out the usb_host dependancy, and was able to replicate the correct behavior indeed.

However when using my own run scenario, with that same policy change, it gets stuck. I've added the app/top component to see if someo

[2022-10-20 17:53] #4646 closed

[2022-10-21 05:46] chelmuth commented on #4646
Unfortunately, the log shows nothing interesting to hunt down the issue. In such situations, my next step is to use a visual diff tool to compare the log and the config XML of the good and the bad case. Sometimes reducing the the scenario to a minimum (e.g., removing *basic-layers*) helps much.

[2022-10-21 07:48] jschlatow commented on #4360
That's good news...at least for the trace timestamp. I'm still wondering about the time drift of the kernel time though.

[2022-10-21 14:18] ttcoder opened #4647 "GRUB loading... "incompatible license" (on real hw)"
This is with 22.10 but I think the new grub was introduced in 22.08 or before

Since the grub upgrade, I can no longer boot Genode on real hardware (it still works as before in Qemu though). Tried on a few TP's, similar results. Either the thinkpad gets stuck on "GRUB loading...", or that message is followed by "incompatible license - aborted - press any key to exit", or (on the T530) I get a spon

[2022-10-24 11:02] m-stein commented on #4635
@alex-ab Thanks for looking into this!

AFAIK, I never had problems with IPXE NIC in Sculpt 22.04.

I removed IOMMU support as you suggested and then the router always received an IP config with the IPXE NIC. There was a kernel message ``sys_assign_pci: Invalid Hint (0xfe)`` though every time the driver was restarted and I don't know what to make of it:

[code]

[2022-10-24 13:08] alex-ab commented on #4635
was a kernel message `sys_assign_pci: Invalid Hint (0xfe)` though every time the driver was restarted and I don't know what to make of it:

The message by the kernel appears if you have the iommu disabled, which you did.

Since it works without IOMMU and worked before 22.10 with the old platform driver, it sounds that some inaccuracies and/or different usage pattern with the setup of the iommu pag

[2022-10-24 13:36] m-stein commented on #4635
Thanks for the explanation. This is not a very pressing issue for me and I'm not at all familiar with the platform driver or iommu pagetables. So, I'd let it rest for now if no one is eager to debug it with my machine. However, if someone wants to investigate further, please feel free to approach me ;)

[2022-10-24 18:54] alex-ab commented on #4640
@chelmuth: please review a0ac9f3867044efe06cc3120024d662fb3889fc0 and consider for staging

[2022-10-25 06:49] chelmuth commented on #4647
Some questions to shed some light on the scenario.

- Is this legacy or UEFI boot?
- Is secure boot enabled?
- Did you try network boot (either with run/tftp, run/iso+ipxe, run/uefi+ipxe)?
- Could you list the failing devices?
- Did you boot any device successfully (esp. more recent models like T450)?
-

[2022-10-25 09:33] ttcoder commented on #4647
Some data:

- that should be legacy BIOS boot (I assume UEFI and secure-boot is mostly on recent machines)
- I'm not setup for network boot no
- Here's my hardware pool : R61, T410, T430, T530, M73

And an Asus F2A55 which I discount completely (I'm not trying to attain compatibility on it). I didn't test on the M73 yet due to not  having usb mouse support yet (still working on it), but come to th

[2022-10-25 09:44] chelmuth commented on #4647
@alex-ab can you give the iso usb a shot on x201/t430?

[2022-10-25 10:02] ttcoder opened #4648 "[usb_host] build: missing <byteswap.h> header etc (on non-Linux host)"
Seems the new USB-host driver's build process is not quite self contained, it needs to have (a small amount of) headers _outside_ of the contrib/ folder, specifically, Linux headers.
This is probably of little importance for the 100-ish % of genodians who do build Genode code on Linux instead of beos/hai* like me :-). Even if the host linux and contrib folder's linux have slightly different versio

[2022-10-25 12:36] alex-ab commented on #4647
I can reproduce the issue, iso images on X201 does not boot anymore, with the older grub2 (before 2.06) it works. I'm going to look into this.

[2022-10-26 09:40] alex-ab commented on #4647
Just as note, if you don`t need actually a ISO format, but just but from USB, you may use ```--include image/disk``` instead of ```--include image/iso``` (The iso image type is the default in new generated build/arch/etc/build.conf), e.g. some more [infos](https://genode.org/documentation/release-notes/18.05#Creating_GPT-based_disk_images_by_default)

[2022-10-26 12:08] ttcoder commented on #4647
That would make sense indeed, I only intend to ever boot from USB or from an HDD.

I installed the package for sgdisk as directed by the run script when trying out image/disk. My OS seems to have poor support for sgdisk (see below), not that I'm surprised given the general state of packaging in haiku-os :-). But if I can get it to work I'll retool to use it indeed. Maybe I just need to "silence" s

[2022-10-26 12:10] jschlatow opened #4649 "libc/vfs: emulate a "mute" stdin"
Yesterday, I was running a piece of contrib code on genode that tries to read user input from stdin as follows:

[code]

I ran this component with the _log_ and _null_ file system from the vfs as stdin since I wanted to mute the user input. In both cases, the program passes the `>>` operator and outputs a bogus number despite the fact that there is no data from stdin. The expected behaviour for `s

[2022-10-26 12:31] alex-ab commented on #4647
882a916da68d4774d3866c44972ea466cef09ca4 fixes the issue for me, @ttcoder please give it a spin on your machines.

[2022-10-26 12:36] chelmuth commented on #4649
I tested this on Linux with */dev/null* and */dev/stdout*. Our `<null>` already mimics Linux behavior and your suggested change corresponds to what I see on `strace cat < /dev/stdout`. Thus, I support your proposal.

[2022-10-26 13:11] ssumpf opened #4650 "core: DMA allocation failes in 4GB range for Intel GPU"
[code]
There is still enough memory above 4GB available and usable by the GPU. This was introduced with genodelabs/genode#4335 [pd_root.h](https://github.com/genodelabs/genode/blob/master/repos/base/src/core/include/pd_root.h#L45). This restriction is only required for devices that expect allocations below 4GB (e.g., UHCI).

[2022-10-27 09:05] skalk opened #4651 "i.MX FEC NIC driver: remove legacy driver from dde_linux"
The deprecated lx_emul/lx_kit is still used by the FEC i.MX NIC driver. We should remove it, and replace it by an updated version using the new DDE Linux porting approach, and the recent lx_emul/lx_kit. Moreover, the new driver should reside inside the genode-imx repository.

[2022-10-27 09:46] skalk opened #4652 "sculpt: integrating new FEC NIC driver fails due to missing ROM route"
When trying to integrate the newly ported i.MX FEC NIC driver into Sculpt OS on i.MX 8Q EVK and MNT Reform2, I've encoutered the following problem:
The new driver is generic and fits to i.MX 5/6/7/8, as well as different boards. For each board a different DTB blob file exists, e.g., fec_nic_drv-imx8q_evk.dtb and fec_nic_drv-mnt_reform2.dtb. The generic driver asks for a generic DTB ROM name, but a

[2022-10-27 11:48] skalk opened #4653 "Block C-API: handle config ROM & update outside of library"
Like discussed in issue #4642 the config ROM shall be controlled by the concrete component and not by the C++ backend of the block C-API library. Therefore, an extension of the C-API resp. the os API is needed.

[2022-10-27 12:55] skalk opened #4654 "platform_drv: add leave_operational attribute to device node"
To enable the flexibility to leave a device operational after it got released, add an additional attribute to the "device" node parsed by the platform driver. The use-case is when device drivers only need to initialize a device, and release it afterwards. The need for this came when implementing the PCI host bridge driver for i.MX 8Q. The PCI host driver gets the device resources from the imx8mq_p

[2022-10-27 13:25] jschlatow commented on #4649
Commit 78414a2 implements the suggested change.

[2022-10-27 14:01] ponast opened #4655 "IMX8 USB networking: Data corruption on socket write"
When sending packets on the IMX8mq_evk board via the net_usb_drv data corruption sometimes is observed on socket writes. Corruption typically occurs after having written several (more than three) packets in a quick sequence. If a delay of two seconds is added before every write to the socket no corruption occurs. It is always the final 5 to 16 bytes of the TCP payload that are corrupted and the by

[2022-10-28 08:50] ttcoder opened #4656 "No HDA audio since update"
With #4647 fixed (muchas gracias) I can post a couple reproducible cases for the hda regression on my set of TP laptops and ThinkCenter here.

make run/audio_out:

- no audio playback
- nothing interesting in the serial feedback (in qemu), stuck mid-way

make run/audio_player:

- no audio playback
- the serial output (when forced to run in qemu) shows a pci_audio_drv crash:

[code]

I've seen that

[2022-10-28 08:52] ttcoder commented on #4647
@alex-ab Confirming, I can now make run/log, or make run/audio_out etc and it boots up on my R61, thanks!

[2022-10-28 09:32] alex-ab commented on #4656
I think the platform session behaves nowadays differently between old and new platform driver. The driver got adjusted all to the new platform driver, so any run script with the legacy_platform_driver you should consider not working anymore.

[2022-10-28 11:29] chelmuth commented on #4656
This is the direct result of the following.

The *audio_drv* tries to use the current Platform session (speak RPC interface) to communicate with the legacy platform driver that implements the deprecated legacy interface, which is incompatible. Thus, the client ends up in an IPC (RPC) error.

Additionally to what @alex-ab wrote: Please look out for `source ${genode_dir}/repos/base/run/platform_drv.

[2022-10-28 11:38] chelmuth commented on #4651
It seems there are some fixups required, for example in *arm_v7a.imx7d_sabre.hw.fetchurl_lwip*.

[code]

[2022-10-28 11:42] chelmuth commented on #4651
*arm_v7a.imx7d_sabre.sel4.fetchurl_lwip*

[code]

[2022-10-28 16:28] ttcoder commented on #4346
Now that I'm at the "build a distro" stage I'm doing the rounds, trying to tie up loose ends, and ended up in this ticket.

It occured to me that the patch can be reduced to its simpliest form : just add an accessor that converts an fd to a filepath -- after all that's the primary job that ioctl() was really doing for me.
So here's my patch, in case someone else needs to implement dot-paths magic

[2022-10-28 16:30] #4346 closed

[2022-10-28 17:03] ssumpf commented on #4650
Some investigation showed that my test machine has less than 1GB of physical RAM below 4GB. This combined with relatively large DMA requests that have to be continuous (~56MB by VBOX6 guests with 3D for VRAM) + allocator fragmentation cause the problem.

[2022-10-31 10:59] skalk commented on #4651
@chelmuth thank you for the investigation. I've added commit f3ffe5d to address the missing cache_clean_invalidate_data call on sel4. It still misses cache_invalidate_data on this platform (which is not available), but also without that it, the driver should be operational.

[2022-10-31 12:41] skalk commented on #4655
I could successfully reproduce that data is send corrupted via usb_net_drv link in contrast to FEC NIC driver link. To re-produce the issue, I've adapted the lighttpd.run script to provide a 2M binary blob of random data via HTTP. The original run-script uses the FEC NIC device, and I can successfully, repeatedly download the binary blob, which has the correct SHA512 checksum. Alternativly the imx

[2022-11-01 09:23] ponast commented on #4655
@skalk Thanks for the quick confirmation of the bug. Do you have any idea about the origin of the bug (which subsystem) and how difficult it is to fix?

[2022-11-01 12:17] cnuke commented on #4656
Could you please provide the full log of the `audio_out.run` test.

With the update I dropped the *eap* and *auich* driver, which leaves *azalia* as the only driver. AFAICT the Qemu HDA codec does not work with the Qemu device model, so the driver is only test on hardware.

My [sculpt-22.10-2022-10-13](https://github.com/cnuke/genode-world/commits/sculpt-22.10-2022-10-13) branch in world contains

[2022-11-01 12:49] skalk commented on #4655
@ponast not yet

[2022-11-01 13:02] nfeske commented on #4653
Thank you @skalk for implementing this change, which I like very much.

[2022-11-01 14:09] cproc opened #4657 "qt5: apply pull request, change screen pixel format to RGB32"
- apply pull request https://github.com/cproc/qt5/pull/12
- change screen pixel format from ARGB32 to RGB32 to reduce blitting costs in Qt

[2022-11-01 14:26] cproc commented on #4657
Fixed by d033633.

[2022-11-01 15:49] nfeske commented on #4346
If you are fine with maintaining this little patch outside of Genode's source tree, I'd prefer that since the feature is not used by any of Genode's components. Should this become too inconvenient for you, please tell. So we can integrate it along with a regression test (otherwise it might be prone to be accidentally removed).

I guess the reason is that you passed `into` as value, not as referenc

[2022-11-01 16:09] skalk commented on #4655
@ponast I think we found the root cause of this issue. Formerly, implementations of the USB host controllers copied data from the packet stream of USB device clients to dedicated memory. Now, we use the packet stream buffer itself to DMA from/to the USB host controller, which is fine, but the allocation for distinct packets was not cache-line aligned. Therefore, the memory preparation/post-process

[2022-11-01 16:28] skalk commented on #4625
I checked @cnuke analysis, and can confirm it. But I think a:
``
#include <linux/pfn.h>
``
at the beginning of memory.h, like in the original asm-generic/memroy_model.h would be good, to prevent potential compiler errors.

[2022-11-01 17:37] ttcoder commented on #4656
Here goes, but it's in qemu and I now understand it's problematic, regardless of which HDA scenario I run.
That m ight be the reason why the scenario gets "stuck" after the smbios related line (no more output to the qemu window). Hence I should use qemu only to debug basic issues like missing pci_decode component or wrong IPC/RPC usage, and then switch to real hardware.

I looked at your sculpt br

[2022-11-01 18:35] cproc opened #4658 "libc: build 'libc-string' library with -O3"
Building the `libc-string` library with -O3 improves the performance of functions like `memcpy()` and `memset()`, which are important, for example, for graphical updates in the Qt-based web browsers. Here are some results of the `memcpy.run` test with -O2 and -O3 in comparison:

[code]
[code]
[code]
[code]
[code]
[code]

[2022-11-01 18:47] cproc commented on #4658
The uncached read test was really slow on the PinePhone and the x260 tests were slower with hw than with nova, not sure if this is to be expected. Nevertheless, building with -O3 improved the performance of the libc functions to some degree.

[2022-11-01 18:50] cproc commented on #4658
Fixed by 5af88ee.

[2022-11-02 06:16] cproc commented on #4658
Some more test results on the PinePhone and PINE A64 board. Even with the -O3 optimization level on Genode, libc `memcpy()` was still faster on native Linux and FreeBSD. It was also a bit faster on the A64 board than on the PinePhone in general, but for some reason noticeably faster on Linux on the A64 board while `memset()` was slower on Linux on the A64 board. The CPU frequency was set to 816 MH

[2022-11-02 07:20] chelmuth commented on #4658
I'd not expect any difference in results for the benchmark. Could this be temporary effects? :thinking: How many iterations of the scenario did you run?

[2022-11-02 07:42] alex-ab opened #4659 "intel display driver: dma faults and endless error reporting for larger framebuffer allocations"
[code]

[2022-11-02 07:52] alex-ab commented on #4659
Turns out that the GTT is not initialized completely with a valid scratch page. The Linux code does the intialization for the whole GTT with a scratch page, if a workaround applies, e.g in drivers/gpu/drm/i915/gt/intel_ggtt.c :

[code]

The workaround applies if

drivers/gpu/drm/i915/i915_drv.h:
[code]

So if VT-d, e.g. IOMMU, is on and intel_iommu_gfx_mapped is set or if running as guest. The fir

[2022-11-02 08:08] alex-ab commented on #4659
The commits cbaaeb3ae3a369709eda1a395d82dbe507ec5d95 6088527423994789ec2470a0689f08492fbef7e5 and 4362df20d53230282e303015f87353a904a0176f solve the issue by enabling CONFIG_INTEL_IOMMU, unfortunately PCI_MSI must also be enabled because of drivers/iommu/intel/Kconfig:

[code]

I adjusted wifi_drv, usb_host (pc) and intel_fb and tested it.

[2022-11-02 08:12] cproc commented on #4658
When I let the component repeat the tests in a loop the values don't change much:

[code]

[2022-11-02 08:51] nfeske commented on #4658
Regarding the difference between base-hw and NOVA, here is my guess: The memcpy test accesses a buffer of 8 MiB, which dictates the working set of virtual memory. On base-hw the RAM consumed for page tables is capped per PD. (in contrast, NOVA allocates the page tables from a global allocator) The base-hw kernel flushes all mappings (and frees the page tables) whenever the PD-specific RAM is exhau

[2022-11-02 09:16] ttcoder commented on #4346
Dang, I must have been *very* tired when I wrote that pass-by-value :-p. Restored the code, added the missing "&" ampersand in my repo, and tested. Thanks much for the hint. Yeah I'm glad it ends up with such a small patch that takes just a few seconds to apply. My initial intuition of using an ioctl() does not make as much sense -- though I did learn useful things going down that road. Also I lik

[2022-11-02 09:35] cproc commented on #4658
I added some instrumentation and there are some flushes in the kernel, but they seem to be only related to `malloc()` and `free()`, no `Out_of_tables` exception:

[code]

[2022-11-02 09:47] skalk opened #4660 "sculpt: relax NIC drivers policy label rule of nic_router configuration"
The uplink part of the Genode C API uses a device name as label part when asking for an Uplink session. THis somehow collides with the strict way of the sculpt_manager to generate a policy label for network drivers inside the nic_router configuration. To support a wider range of NIC drivers, it would be beneficial to relax the policy to a label prefix.

[2022-11-02 10:23] skalk commented on #4655
@ponast commit 123f53e should solve the issue. Would you please give it a try?

[2022-11-02 10:48] nfeske commented on #4658
That's all we need to know. The test is definitely influenced by the page-fault handling. I wonder, how does it change with commit https://github.com/nfeske/genode/commit/0a9076e102ae292234eff7bd8d625509d26364ed?

[2022-11-02 11:28] nfeske commented on #4660
Merged to staging.

[2022-11-02 14:17] cproc commented on #4658
Unfortunately it doesn't change with the commit. I added more instrumentation around the flushes and they are related to unmapping of dataspaces, either from core in `_clear_ds()` or from the test component during `detach()`. Before the measurement of the copy operations the allocated memory gets cleared with `memset()` in the test component and there are no flush messages in that part, so in theo

[2022-11-02 15:09] alex-ab commented on #4659
I added additional commits to support more than 2k framebuffers and also to limit the maximum resolution for Sculpt.

[2022-11-02 15:14] chelmuth commented on #4658
I ran the tests on our nightly x86_64 test machine (macho: i7-4770)  just now and got the same results for hw and nova like follows.

**hw**
[code]

**nova**

[code]

[2022-11-02 16:22] cproc commented on #4658
When I disable the SpeedStep feature I get similar results on nova and hw, too:

[code]
[code]

[2022-11-03 09:52] cnuke commented on #4658
FWIW, the `intel_hwp` bender plugin is currently only used on `NOVA`, which could explain your findings.

[2022-11-03 10:46] skalk commented on #4655
@ssumpf and @cnuke gave me the hint that there are other USB session clients left, which might share the potential problem of mis-aligned packets. Therefore, I reopen the issue, and will provide a more general solution.

[2022-11-03 10:54] skalk opened #4661 "imx: move remaining drivers to genode-imx"
To cleanly separate generic framework from SoC-specific implementation, and stay consistent with the new SoC-specific repositories approach, we should move remaining imx-specific drivers from repos/os, repos/base-hw, and repos/dde_linux to genode-imx.

[2022-11-03 10:56] skalk commented on #4655
commit 0x92703 implements a more general solution for cache-line aligned USB packet allocations.

[2022-11-03 20:39] ttcoder commented on #4648
Well it's more involved than I thought, I seem to be fighting a losing battle.

I'm tempted to ask someone to email me the finished usb_host binary so that I don't have to download and install a Linux distro just to build this one driver, when everything else works well for me :-)

To wit, my hacks seem to be of increasing complexity as I make my way through the usb_host build(?) or config(?) proc

[2022-11-04 08:43] nfeske commented on #4648
Here you go: https://depot.genode.org/genodelabs/bin/x86_64/usb_host_drv/ :-)

Those hacks are a dead end. Please don't get caught up in this spiderweb.

Let me try to explain what all this complexity is all about:

The Linux USB driver code includes tons of Linux kernel headers. Not all of these headers are present in the Linux kernel's source tree. Quite a few headers are generated by the kernel

[2022-11-04 10:58] ttcoder commented on #4648
I had forgotten about the depot and pre-built binaries!

When Genode 22.11 is released later this month I'll whole-heartedly jump into that opportunity for sure.

The current binaries in genodelabs/bin/ are from last year (2021) so while downloading the most recent one I expected it wouldn't like the new platform_drv and pci_decode paradigm, and indeed it won't run (for another reason though):

[c

[2022-11-04 11:06] nfeske commented on #4648
This made me realize that I pointed you to the outdated USB driver. The real (modern) one is here: https://depot.genode.org/genodelabs/bin/x86_64/pc_usb_host_drv/

Yup.

[2022-11-04 15:47] jschlatow opened #4662 "libports: update expat to 2.5.0"
Unfortunately, the download link for expat 2.4.9 has been invalidated because of a vulnerability in this version.

[2022-11-04 15:48] jschlatow commented on #4662
Fixed by d4dba7d

[2022-11-04 15:57] cnuke commented on #4625
Commit [62f410d](https://github.com/cnuke/genode/commit/62f410da3d96a61978bd2508a2b472bb65a9c32e) contains the cleaned up version.

[2022-11-04 16:19] cnuke commented on #4656
Normally the driver should complain that it does not find any suitable codec when running in QEMU. Since I do not plan to investigate that shortcoming any further I added the check https://github.com/genodelabs/genode/blob/9079a083d28bb2d47c14684a9a56c5bfca6fcf2f/repos/dde_bsd/run/audio_out.run#L3-L6 to the run script.

If this is indeed the complete QEMU commandline it seems the audio device opti

[2022-11-05 10:54] chelmuth commented on #4662
Staging with 7c4bc145689931903e888551536ce15e94a587d9 works for me. Do you recommend to update the version anyway?

[2022-11-05 16:43] ttcoder commented on #4648
Well I just finished testing that new USB driver on my set of guinea pigs here. Not only does it solve my problem (no need to build it, I can download it from the depot), but on top of that, it works on everything I tried ! Congrats on code well done :-). The previous 2021'ish variant I was utilizing until now had compatibility issues on a couple laptops, including my T430, forcing me to use the p

[2022-11-05 16:43] #4648 closed

[2022-11-07 08:06] jschlatow commented on #4662
Sorry, I haven't noticed the URL change. Apparently someone discovered a use-after-free bug in expat 2.4.9 that occurs in certain out-of-memory situations. Don't know if this is even relevant for us, though.

[2022-11-07 14:08] nfeske commented on #4648
Thank you for the encouraging feedback! :-)

[2022-11-07 15:51] nfeske commented on #4655
Merged to staging.

[2022-11-07 18:22] atopia opened #4663 "enable Intel AX211 wifi"
Enable the AX211 intel wifi card as found e.g. in the Lenovo Thinkpad X1 Nano G2.

[2022-11-07 18:36] atopia commented on #4663
@cnuke could you please add the files referenced in [d5368e5](https://github.com/atopia/genode/commit/d5368e5a03617263cadec8253ad8e755162341be) (`iwlwifi-so-a0-gf-a0-64.ucode` and `iwlwifi-so-a0-gf-a0.pnvm`) to your dde_linux_firmware repo and somehow communicate the new hashes so I can add them to the commit?

[2022-11-07 18:43] atopia commented on #4663
I'm not sure if the error message when looking up `iwl-debug-yoyo.bin` introduced by [6dda99e](atopia/genode/commit/6dda99e7af2b7eadbef3e8db0034f910bd853131) is acceptable, let me know if `firmware_request_nowarn()` shouldn't cause any error messages in the driver runtime either.

[2022-11-08 11:36] SunriseJungle commented on #4663
Hello sir I’m sorry to bother you and I know this is not really a communication line. But I wonder, when will Genode be ready for most computers?

Sent from Proton Mail for iOS

On Mon, Nov 7, 2022 at 10:22 AM, Benjamin Lamowski ***@***.***> wrote:

[2022-11-08 13:21] ttcoder commented on #4656
Ok, I'm back attending to this ticket! So here's what I did:

- I reviewed e.g. c7e74ac433cde , comparing with my "distro" scenario setup (differences: I have a mixer, I use rom_filter on top of report_rom, but anyhow it seems ok)
- I made a run without debug tracing (see attached) on an old R61 which used to work well
- I made a run on a different machine (T430, used to work too), with all 3 trac

[2022-11-08 15:49] cnuke commented on #4663
@atopia There you go: https://github.com/cnuke/dde_linux_firmware/commit/cbd51e5ee647ec834c30a3987225cae2341753b0.

If `iwl-debug-yoyo.bin` is not needed and keeping the previous dummy implementation does not introduce any other issues at run time I would prefer to keep it that way.

[2022-11-08 17:50] atopia commented on #4663
Thanks for adding the firmware!
The problem is that the PNVM file is loaded using `firmware_request_nowarn()`. Now, I added the PNVM blob before discovering the IRQ problem, meaning I haven't checked if the driver works with the IRQ workaround but without the PNVM file. The way I see it there is a set of options:

1. While omitting the PNVM file will cause its own set of warnings in the driver, th

[2022-11-09 19:50] ttcoder commented on #4656
So,

Turns out audio-out still works indeed, with one exception : it no longer works on my old R61, but that's no big deal as I can use that test rig for reviewing other aspects of my distro (file system, etc). The other computers here get audio with `run/mixer` indeed.

The remaining trouble -- about my own apps being silent -- is in my code, which leverages libav for decoding mp3 files : handle_

[2022-11-10 07:33] cproc commented on #4360
I took a closer look at the `Kernel::time()` deviation and the cause appears to be a small gap between the end of a "duration" and the start of tne next one which is not accounted for in the total time calculation. Depending on how often `Timer::schedule_timeout()` gets called on each CPU, this gap can add up more or less. Commit f0357b8 fixes the deviation in the `time_logger` test on the PINE A6

[2022-11-10 08:44] cnuke commented on #4663
@atopia I see, thanks for the clarification. In this case I agree and option *3* would be my preferred one as well (although *2* is tempting ;-)). From a practical point-of-view the intention is to encountering the `Error` only when a mandatory FW image is missing.

I fear there will be more ported drivers in the future that require firmware blobs and from that perspective spending time on the `lx

[2022-11-10 12:03] jschlatow commented on #4360
And to answer your question about whether your fix solves this issue: We have to use the private timer on cortex a9 since, I believe, the generic timer is not implemented by the cortex a9. Therefore the original issue remains.

[2022-11-10 15:28] jschlatow commented on #4360
AFAICT, there is a similar problem with the private timer implementation on cortex a9 (a small time gap remains unaccounted). I experimented a bit and found a minor improvement. The problem though is more conceptual as we cannot use the private timer as a monotone time source. There will always remain a small gap between reading the old timer value and setting a new one.

I'm actually wondering wh

[2022-11-10 16:37] ssumpf opened #4664 "gpu/intel: Add support for Intel XE devices"
or IGD GEN12 as Intel calls it.

[2022-11-10 16:44] ssumpf opened #4665 "platform_drv: allow n:m mappings in device pd"
Some newer devices have little physical RAM below 4GB. Therefore, the current approach to allocate DMA buffers in core for "managing_system" below 4GB can lead to DMA memory exhaustion. If we allow DMA allocations above 4GB, map physical RAM not 1 to 1 within the platform driver's device PD if an IOMMU is present, while still mapping below 4GB there, we can minimize this error. Note: The below 4GB

[2022-11-10 16:46] ssumpf opened #4666 "virtualbox6: bump version from 6.1.26 to 6.1.4x"
This is a side effect of testing Ubuntu 22.04.

[2022-11-10 16:49] ssumpf opened #4667 "drivers: use Dma_buffer more consistent"
`alloc_dma_buffer` does perform an auto cap/ram upgrade within the `connection.h` file, which in turn calls the `client.h` function. This makes it impossible for clients to handle resource upgrades themselves.

[2022-11-10 17:02] nfeske commented on #4667
I wonder, wouldn't an explicit call of `platform.Client::alloc_dma_buffer(...)` do the trick in cases where the automatic upgrade stands in the way?

For general use by most drivers (which are not resource multiplexers), the transparent upgrade is a useful default.

[2022-11-10 17:11] chelmuth commented on #4663
Looking at the changes in @atopia's commit this step seems long overdue (even more another day). What speaks against putting the firmware into a tar archive that's part of the wifi_drv package, request this as a single ROM in a local vfs server, and use the specific firmware ROMs via fs_rom? The hardcoded list in *lib/wifi* should also become a part of the configuration as it does not belong into

[2022-11-10 17:55] ssumpf commented on #4667
@nfeske: I think the way to go is to make `Platform::Dma_buffer` work as intended and let every driver use this implementation. Right now the `retry_with_upgrade` there is a nop.

[2022-11-10 18:11] nfeske commented on #4667
I agree, using the `Platform::Dma_buffer` is certainly the best way to go when going forward. So In principle that would allow us to cut back the convenience of the plain `Platform::Connection`. That said, when grepping the source tree for calls of `alloc_dma_buffer`, there are many drivers that would call for adjustment.

I guess you lost me here. ;-) What does that mean?

It would be nice if you

[2022-11-10 18:48] ssumpf commented on #4667
It means `retry_with_upgrade` in `dma_buffer.h` calls `alloc_dma_buffer` in `connection.h` of the platform session, which in turn calls `retry_with_upgrade`.

From my side there is no need for it, we can add it, but it will not be called. I have adjusted the drivers using it to use `Dma_buffer` and the the legacy ones (think dde_linux < 5.14) to call `retry_with_upgrade`. Hence the issue. So, plea

[2022-11-10 19:12] tomga commented on #4360
@cproc, @jschlatow, thank you for pursuing this.

I did some tests and in short: yes, it fixes original issue or Raspberry Pi 3

Below you have some more detailed results without and with latest fix proposal.

[code]

[2022-11-10 19:29] ssumpf commented on #4666
FYI: [0ec6d38](https://github.com/ssumpf/genode/commit/0ec6d38a00ed08cdac0a67261896d55ed8f6030e) is not well tested. [6be14d2](https://github.com/ssumpf/genode/commit/6be14d2ddc0a461caf23dfa1e7f1240cd0ddd5b3) forwards errors during machine power up of VirtualBox6 to Genode's console.

[2022-11-11 08:21] cnuke commented on #4663
Nothing as this is basically the approach that was briefly discussed to address this shortcoming (without featuring an extra  `vfs` and `fs_rom` and omitting the firmware list but deploying an `firmware.tar` nonetheless though). But either solution is fine with me.

[2022-11-11 08:22] ssumpf commented on #4665
@skalk: Could you have a look into the commits above (especially the platform driver related) and let me know if you approve this approach and what to change?

[2022-11-11 08:28] ssumpf commented on #4667
@nfeske: Could you have a look at the commits above? In case you still want to keep `alloc_dma_buffer` within the `connection.h` after, I can reintroduce it with little effort and at `Client::alloc_dma_buffer` at the relevant places (`dma_buffer.h` and gpu/intel).

[2022-11-11 08:43] jschlatow commented on #4360
@tomga Thanks for testing. I'm glad to hear that it fixes your issue with the rpi3. I have missed the fact that the rpi3 is an arm_v8a device when stating earlier that the fix does not apply to the original issue. Thanks for clarifying this.

[2022-11-11 08:49] nfeske commented on #4667
Thanks to your commits and your latest comment, the clouds are lifting.

I _very_ much appreciate your transitioning to the consistent use of `Dma_buffer` (https://github.com/ssumpf/genode/commit/a83ffd89a7bbb213f9032c4791a0a2d102aca55f, https://github.com/ssumpf/genode/commit/b7312b77d0ade3c893ff6dc177e9cd6de2ee429a). It leads to much nicer (and more robust) driver code. Thank you!

Regarding htt

[2022-11-11 08:59] ssumpf commented on #4667
@nfeske: Ok, will do.

[2022-11-11 09:49] ssumpf commented on #4667
@nfeske: The commits above apply your suggestions and can be found at my https://github.com/ssumpf/genode/tree/issue_gpu12_vbox_11-10 branch which also includes #4664, #4665, and #4666.

[2022-11-11 11:28] nfeske commented on #4667
Thank you very much! I merged the commits to staging.

To help me keeping track of the remaining commits of your branch, could you rebase your topic branch to the new staging?

[2022-11-11 12:44] nfeske commented on #4664
Commit https://github.com/ssumpf/genode/commit/042e6cd2454c61f952f3771a0772731cf9978a64 is massively impressive!

Should https://github.com/ssumpf/genode/commit/62a593362adb471f0bcc44864b28c02f650647f7 be squashed as a fixup?

Does the new driver depend on the platform-driver change, or is the latter only critical for heavy use cases like VBox? I'm asking because I'd merge the GPU-driver changes r

[2022-11-14 12:40] cnuke opened #4668 "sculpt: fix VESA framebuffer driver integration"

[2022-11-14 12:42] alex-ab opened #4669 "x86: add basic support for ACPI suspend and resume"

[2022-11-14 12:47] cnuke commented on #4668
Commit [924fa06](https://github.com/cnuke/genode/commit/924fa0682143d075544b9e18b00a64810a143354) fixes this issue.

[2022-11-14 15:07] chelmuth commented on #4360
Is be1047eaf4ca19f021c313e9839a71a0f0bd9589 ready for a merge to staging? genode-riscv seems to adapt the same pattern. Is this ok?

[2022-11-14 17:52] ssumpf commented on #4665
After staff meeting, we decided to access the iommu information from the platform driver directly again.

[2022-11-14 18:00] ssumpf commented on #4665
@skalk, @nfeske, @chelmuth: [f995aa0](https://github.com/ssumpf/genode/commit/f995aa028d95078a7f57b17a12e05b847945f6e1), [1eb2a8a](https://github.com/ssumpf/genode/commit/1eb2a8a71a4f6b93e5439fb7c31cb9c020eee6c3), and [5c96383](https://github.com/ssumpf/genode/commit/5c963839a5dbca50913fda3e68b141872255953d) implement the feature as discussed.

[2022-11-15 08:25] atopia commented on #4663
@chelmuth @cnuke as (safe for the last one) the commits in this series are orthogonal to this discussion, can we open a new issue for this and - if there are no outstanding issues to address - merge the series into staging?

[2022-11-15 08:52] ttcoder commented on #4656
Ended up using the `vfs_oss` plug-in. Learned quite a bit about various parts of Genode's audio in the past few days, and realized the OSS plug-in is quite simple to use, I basically just need to make open(), close(), write() calls and that's it. Well I do have to poll @ circa 100 Hz to advance the decoding/feed/sink pipeline as that API does not give access to signals it seems, but audio works an

[2022-11-15 08:52] #4656 closed

[2022-11-15 12:34] skalk opened #4670 "ARM VMM: make it configureable"
Currently, the VMM for ARMv7/8 in repos/os is hardcoded to use a specific count of CPUs, a specific initrd size, ram size, Virtio devices etc.. To be able to spawn different VMs for different use cases,  we would need the possibility to define certain parameters. To enable a configuration frontend for the VMM, however we need to dynamically create a flattened device-tree blob (DTB), which is now g

[2022-11-15 12:46] skalk commented on #4151
@m-stein are you still into it, or what shall we do with this issue?

[2022-11-15 13:25] skalk opened #4671 "Remove legacy platform driver and platform_drv.inc"
There are few non-autopilot run-script left, which still refer to `repos/base/run/platform.inc`. But there are no drivers anymore that need the legacy platform driver, which gets included by this file. Therefore those scripts needs to get updated or removed. The platform_drv.inc file, the legacy platform driver, and the legacy platform API then can be removed.

[2022-11-15 13:30] chelmuth commented on #4663
Merged the series to staging.

[2022-11-15 13:35] chelmuth commented on #4650
Addressed by e81ee57e8b6540ad1d682c4c2cd823c6fa2aa15a (somewhat)?

[2022-11-15 13:37] chelmuth commented on #4665
Thanks, merged the series.

[2022-11-15 14:28] ssumpf commented on #4650
@chelmuth: Yes. Acutally by #4665

[2022-11-15 15:04] chelmuth commented on #4650
Pursued and eventually fixed in #4665.

[2022-11-15 15:04] #4650 closed

[2022-11-15 18:30] ssumpf opened #4672 "virtualbox6: tsc calibration"
When testing VirtualBox6 on Tigerlake I experienced a warning storm of

`Warning: preemption during measurement, uTsc=15395455261 uTsc_again=15395769153 uVirtNanoTS=7331468113`

that would not stop and occasionally lead to stalling the bootup of a guest VM completely. Some investigation showed that vbox6 was stuck in ` Sup::update_gim_system_time`'s TSC calibration loop because the code assumed th

[2022-11-15 18:35] ssumpf commented on #4672
dd51a53 implements the idea above, please consider for staging.

[2022-11-16 09:04] nfeske commented on #4672
That's a very welcome improvement. Thank you!

[2022-11-16 13:40] cnuke commented on #4663
Please merge [b1fa90c](https://github.com/cnuke/genode/commit/b1fa90cacd90d208bff4b067d467a05da5f0c9f0).

[2022-11-16 15:11] ttcoder commented on #4656
That reminds me, I suspect that part of the changes you'll introduce in the future might be related to "joining" audio channels together, maybe in the same packet (interleaved float streams) : in some places in the Genode code I see things like "synchronize p[LEFT] and p[RIGHT] in case they get out of sync" : indeed since left-channel packets are distinct -- also in their processing -- from right

[2022-11-17 10:36] ssumpf commented on #4666
@chelmuth: [9c30ac2](https://github.com/ssumpf/genode/commit/9c30ac2166298bccd2e7f31144e55b60b760d987) marks a workaround for the clipboard problems described above. I am very open to any more insights of why this is happening.

[2022-11-17 11:05] chelmuth opened #4673 "vbox6: silence "Warning: missing sysctl for [0][3]""
Either implement the missing sysctl feature or, alternatively, skip the warning in this case if noncritical.

[code]

[2022-11-17 11:06] chelmuth opened #4674 "vbox6: silence "Warning: SUPPAGEFREE called" on poweroff"
Implement `ioctl(SUPPAGEFREE &request)` or, alternatively, silence the warning if noncritical.

[2022-11-17 11:08] chelmuth opened #4675 "vbox6: "Error: slab block [0000000000000000,0000000000001000) is corrupt - slab address 0x61d188" on poweroff"
Investigate the error scenario and eliminate the origin of the message. Maybe associated to active USB passthrough.

Also, check if `nemR3NativeTerm()` and `pdmR3LdrTermU()` are suitable hooks for fully graceful shutdown mechanisms and silence diagnostic messages.

[2022-11-17 11:09] chelmuth opened #4676 "libc: "Error: XXXXX error=45 request=0xc0045002/!SNDCTL_DSP_RESET" in vfs_plugin.cc"
The error message is logged in case an ioctl was handled successfully, but returns an error. As this is valid behavior, I tend to just remove the error message. Opinions?

[2022-11-17 11:22] chelmuth opened #4677 "vbox6: deal with congestion in NIC packet stream"
Running *iperf* in guests trigger the bug `Error: Uncaught exception of type 'Genode::Packet_stream_source<Genode::Packet_stream_policy<Genode::Packet_descriptor, 1024u, 1024u, char> >::Empty_ack_queue'`.

Adapt *network.cc* to deal with the congestion by informing vbox network layer on buffer allocation.

- remove blocking from `_tx_ack()`
- change `_alloc_tx_packet()` to fail in congestion case

[2022-11-17 11:23] chelmuth opened #4678 "pc_usb_host_drv: uncaught exception of type 'Genode::Packet_stream_sink<Genode::Packet_stream_policy<Usb::Packet_descriptor, 64u, 64u, char> >::Saturated_ack_queue'"
This error occurred with Logitech A-00064 headset passed through to vbox6.

[2022-11-17 11:24] chelmuth opened #4679 "acpica: use platform session for accessing I/O resources only"
Currently, acpica requests its required resources (SCI IRQ, ACPI tables, potentially IOMEM and IOPORT) from core directly. This approach races with the initialization of  acpi_drv/pci_decode/platform_drv and does not properly constrain the effect of acpica processing.