[2019-03-06 10:48] trimpim commented on #3213
I have tried to set the labels, but was not able to (at least in the WEB-UI).

[2019-03-06 11:03] skalk commented on #3213
@trimpim ah ok sorry, I did not know that this is not possible to non-organization members, I'll do it for you.

[2019-03-06 11:20] m-stein commented on #1292
Hm, unfortunately I still don't see the point in not merging it. Although it might not be that much of an optimization it is definitely less redundancy and, as I think, better understandable.

[2019-03-06 11:22] m-stein commented on #1292
Btw. this is the result of some reading I had to do anyway in the context of another issue, so it would be a benificial side effect.

[2019-03-06 11:24] m-stein commented on #1300
Sounds sensible.

[2019-03-06 11:24] #1300 closed

[2019-03-06 11:29] m-stein commented on #932
Thanks for this explanation! Sounds sensible.

[2019-03-06 11:29] #932 closed

[2019-03-06 11:57] skalk commented on #1292
Ok, I did not want to devalue your work. Surely, it is better documented and maybe also a performance optimization. In that case, do you like to re-master the commit to staging and mark it as fixed?

[2019-03-06 13:17] m-stein commented on #1292
I didn't receive it as devalueing ;)
I see your points that there are more effectful optimizations but this is already done and I can't see why to waste the effort.

Here's a rebased version:
a8ab343331 base & arm: simplify and optimize cmpxchg

[2019-03-06 13:31] cnuke opened #3214 "Investigate unsrepsonsiveness in long running lighttpd scenario"
The Genodians.org appliance, i.e. the lighttpd component, suffers from being unreachable from the outside after some time.

[2019-03-06 14:47] ssumpf opened #3215 "i.MX 6 Solox: Fetch stale TLB entry"
During tests I encountered illegal memory access from instructions like `blx lr`, which do not access memory at all. After some investigation I found out that the initial value of one faulting IP looked like this:
`Error: ip: 0x10e5ef0 opcode: 0xe320f000` (`nop` added by hand in library)
when the fault occurs the opcode at IP is this:
`Kernel: 1: ip 0x10e5ef0 opcode: 0xe5d13000 ptbr: 0x8030404a` (

[2019-03-06 16:39] chelmuth commented on #3212
Sorry but this commit completely changes the semantics of the test, which identifies the master bomb by a successful Timer-session creation. Please review locations in code which contain`if (timer.constructed())`.

[2019-03-06 16:52] nfeske commented on #3215
That looks scary.

[2019-03-07 09:14] skalk commented on #1452
@chelmuth I've updated the commit according to your comment.

[2019-03-07 09:54] chelmuth commented on #3204
In the nightly CI we can now see that *extract* fails with a missing timer session. This is due to *libarchive* depending on Libc's `time()` in `archive_write_disk_new()`. The former implementation just returned `errno=EINVAL` in the test as it misses any RTC configuration, which could be fixed with the ` <inline name="rtc">2000-01-01 00:00</inline>` scheme. The current *time.cc* always depends on

[2019-03-07 10:24] chelmuth commented on #2735
The commits entered master long ago.

[2019-03-07 10:24] #2735 closed

[2019-03-07 10:36] chelmuth commented on #2809
The test case moved into depot_autopilot and no longer fails.

[2019-03-07 10:36] #2809 closed

[2019-03-07 11:05] cproc commented on #3211
@chelmuth: I added the reader access documentation in 70626d9.

[2019-03-07 11:11] chelmuth commented on #3211
Thanks, merged to staging.

[2019-03-07 14:44] skalk commented on #3160
@throwException the timing rework is now on staging. If you like, you might give it a try. Moreover, I've seen that the vfs_lxip stack stucks across different platforms, at least the test-libc_connect_lxip test. I'll investigate this issue currently and will inform you when I get more insights.

[2019-03-07 14:45] skalk commented on #3160
@throwException my last remark was only related to the hw kernel, other kernels are not harmed

[2019-03-07 14:59] nfeske commented on #3204
@chelmuth I admittedly was not able to follow your last paragraph completely.

From a users point of view, I intuitively want to limit the reach of the libc as far as possible unless the user takes an informed decision (i.e., grant access to a timer session). There must be a plausible reason to take such a decision. For example, as a user, it is not plausible that a timer is needed to extract an a

[2019-03-07 15:20] chelmuth commented on #3204
Then we had to change the libarchive implementation as it depends on the `time()` function of libc but according to your rationale does not need it.

[2019-03-07 16:10] alex-ab opened #3216 "vbox5: memory leaking during VM resets"

[2019-03-07 16:19] nfeske commented on #3204
This discussion takes quite a few twists now. ;-)

@ehmry How about returning a simple increasing counter as a fake time value in the fallback case? This would presumably solve the original problem as stated in the issue description while not changing any policy about timer sessions.

I am bit curious about the severity of the issue. In the cases where you ran into the problem, isn't there a warni

[2019-03-07 17:17] ehmry commented on #3204
I don't see value in preventing a libc application from accessing the timer. As I understand it, the application is still free to keep time by polling the TSC in a loop. The problem is that I have yet to see any code that handles an error response from a time function.

[2019-03-07 17:34] nfeske commented on #3204
@ehmry The value of restricting access to timing is certainly debatable. But I wonder, is this issue the right place for such a discussion? In my opinion, the answer should not be dictated by (in)conveniences experienced while porting applications.

You left my questions unanswered.

What actual problem did you hit and how severe was it?

Would a valid rtc configuration have side-stepped your prob

[2019-03-07 18:03] ehmry commented on #3204
My last issue was that Nim was using `gettime` to call an HTTP client progress callback once per second. By returning a time of zero or -1, broken-by-default, the callback was never called, because time was never advancing. This would have been avoided by an inline RTC file in the VFS, but I see this is counter-intiuitive, I didn't need a RTC time, just monotonic time.

I know that would fix it no

[2019-03-07 18:05] ssumpf commented on #3215
Note: 5e87aa1 is just for a demo scenario and should not enter staging at this point, since it decreases performance. Otherwise, it works just fine for the demo.

[2019-03-07 18:14] nfeske commented on #3204
In cases like this, one can usually use `<inline name="rtc">2000-01-01 00:00</inline>` as rtc configuration, which results in monotonic time.

Don't you agree that this explicit policy is preferable over a built-in fallback (that is just a heuristic after all)? Isn't this simple enough?

[2019-03-07 18:15] nfeske commented on #3204
In the Nim example, was there a warning about the lacking rtc configuration? I'd hope so.

[2019-03-08 08:50] skalk commented on #605
Ok, I see two approvals and no opposite view, therefore I close the issue.

[2019-03-08 08:50] #605 closed

[2019-03-08 09:07] cnuke commented on #57
Network support was removed in Noux. For the time being a client based on libgit2 might be a better fit as long as the libc does not get `fork()` support (which is vital for using the normal git client). May we close the issue?

[2019-03-08 09:22] nfeske commented on #57
I agree. We can still come back to it after summer, once the planned noux consolidation work (according to the road map) is in place.

[2019-03-08 09:25] #57 closed

[2019-03-08 09:27] ehmry commented on #3204
An RTC configuration is not an explicit fix for a broken timer, it is a stochastic fix.

[2019-03-08 09:36] nfeske commented on #3204
Please bear with me. I'm not trying to be stubborn. I simply have not managed to grasp the problem. When I'm unable to see the problem, I cannot anticipate your solution. All I can see is the uncertainty that comes with changing things that seem to work fine now.

Please help me to put myself into your perspective so that I can empathize.

[2019-03-08 10:03] skalk commented on #3180
@nfeske sorry for the late reaction, I missed this issue not by intention. Yes, you're right that this is an important step towards the unification goal. I take this on my radar.

[2019-03-08 10:14] skalk commented on #1921
Sorry, I never recognized above mentioning of me before (just now recognized the "mentions:" search in the issue tracker). Anyway, when a capability target gets destroyed in hw, and somebody invokes the capability it does not get found and the invocation fails, e.g., ipc-call fails.

[2019-03-08 10:14] skalk commented on #1921
I wonder if this bug is still present and an issue @chelmuth @alex-ab?

[2019-03-08 10:26] skalk opened #3217 "vfs_lxip stucks reliable on all hw platforms"
At least the nightly tests regarding netperf with lxip and `test-libc_connect_lxip` reliably stuck across all different hardware on the hw kernel.
I've investigated that in the `test-libc_connect_lxip` the client successfully sends a packet through the nic_router to the server, but the server application never receives it, because it does not wait for signals. When instrumenting the kernel, I coul

[2019-03-08 10:29] ssumpf commented on #3205
@NobodyIII: Thanks for investigating. Can you please clarify what you mean by non-Genode headers? Are this headers, for example Python headers, Genode GCC does not need, or are headers overwritten or wrong headers included? In the meantime will check if the `tar` error occurs on my system.

[2019-03-08 10:38] alex-ab opened #3218 "sculpt ce: leitzentrale gui popup non functional after a while"
[code]

[2019-03-08 10:38] nfeske commented on #3217
Thanks for sharing your intermediate analysis.

[2019-03-08 10:40] alex-ab commented on #3218
Probably related, in the log beforehand one can see:
[code]

[2019-03-08 10:42] nfeske commented on #3218
Does this occur depending on the time running (which would hint at a memory leak) or triggered by the popup becoming larger than before? I hope that it's the latter case so we can just tune the quotas.

[2019-03-08 10:56] ssumpf commented on #3218
I had the same issue and could trigger it by copying `deploy` to `/config` and starting/configuring the `vbox5-nova-sculpt`. When choosing File System (wm) the popup would cause the resource request. Increasing the quota in `Sculpt::Gui::_gen_menu_view_start_content` did work for me and the behaviour has not occurred this week.

[2019-03-08 11:02] skalk commented on #3217
Ok, it is no deadlock, but a lifelock. The server component's ep never blocks again from a certain point on. When sampling the ip of the server component ep thread, I get the following sample:
[code]

[2019-03-08 11:09] alex-ab commented on #3218
Thanks for the hints, @ssumpf. After giving the popup the requested memory (12M), I could not reproduce it.

[2019-03-08 12:00] skalk commented on #3217
Ok, further analysis showed that in the special hw signal handling an exception gets thrown that is not used on other kernels at `repos/base/src/lib/base/signal_common.cc:195`. That exception never gets caught in the error-case of the server component. Normally it should get caught at `repos/base/src/lib/base/signal_common.cc:153`. The throwing seems to end up in an endless loop. Maybe another exc

[2019-03-08 12:04] skalk commented on #3217
Yes `malloc` in the cxx library gets called again and again.

[2019-03-08 12:25] alex-ab commented on #1921
Looked a bit through, my estimation is yes. With commit 458b4d6fc4711f2503618eff5bd4f6558a34a844 a bug is introduced on base-nova as soon as a object gets dissolved and the caller is not the entrypoint. Beforehand this was handled correctly.

[2019-03-08 14:11] chelmuth commented on #1921
I added the bug label to this issue.

[2019-03-08 14:14] nfeske commented on #3209
The issue turned out to be much more subtle than expected. The three commits above improve the handling of corner cases in the menu view, the window manager, and the sculpt manager. Now the `+` menu feels much more responsive.

[2019-03-08 14:58] skalk commented on #3217
My previous observation was half-cocked. It is indeed the case that the faulty component again and again throws an exception, but not because some weird cxx library path. Instead the Libc Entrypoint code calls over and over again the Signal_receiver::pending_signal function, but in non-blocking state. Therefore Signal_receiver::wait_for_signal never gets called, and there is no execution context i

[2019-03-08 17:24] cproc opened #3219 "arora: update Nitpicker and shape report routes"
Update the runtime configuration to work with the latest Sculpt OS.

[2019-03-08 18:13] nfeske commented on #3218
Thanks for the fix. Merged to staging.

[2019-03-08 18:14] nfeske commented on #3219
Thanks for the update. Merged to staging.

[2019-03-08 18:34] ehmry commented on #3204
The problem is that `clock_gettime` is the backend for other time functions like `gettimeofday`, which may return an error, see http://pubs.opengroup.org/onlinepubs/9699919799/.

This bug is related to #3018, #2329, #3057, and problems with genodians. If I didn't know why `gettimeofday` could return -1 I would just assume that the genode libc is broken and not worth using.

[2019-03-08 19:40] nfeske commented on #3204
@ehmry please let us continue this discussion in person. I'm afraid we keep running in circles otherwise.

[2019-03-08 21:53] jjkarcher opened #3220 "Audio Driver in VirtualBox VM Not Working"
In a VirtualBox virtual machine (including Sculpt VC pre-packaged VM), when attempting to use the "cnuke/pkg/bsd_audio_drv" package (using either the instructions in "https://genodians.org/alex-ab/2019-02-13-sculpt-vc-audio" or the Sculpt CE "+" menu), the following error is logged:

[runtime -> bsd_audio_drv] "Error: could not initialize sound card"

There is no audio output when continuing the i

[2019-03-08 22:08] NobodyIII commented on #3205
By non-Genode headers, I mean headers from the host system, including
headers for libraries that haven't even been ported to Genode, e.g.
Irrlicht.

On Fri, Mar 8, 2019, 3:29 AM Sebastian Sumpf <notifications@github.com>
wrote:

[2019-03-09 12:43] cnuke commented on #3220
Thanks for the report, using the driver in a VM is “unsupported” for the time being, however.

When I ported the driver over from OpenBSD 5.7 initially I noticed that it did not work in VirtualBox. I tried to get audio to work in VirtualBox with an vanilla OpenBSD 5.7 guest, which I did not manage either. At that time I decided against debugging the issue as the driver worked fine on real hardware

[2019-03-09 17:09] nfeske opened #3221 "menu view: smooth button-style transitions"
The button widget of the menu view already supports the smooth fading between hovered and unhovered state.

With the introduction of the TCB view of Sculpt CE (which fades out unrelated components when selecting a component), a smooth transition between the default and the "uninteresting" button style is desired.

[2019-03-09 17:11] nfeske commented on #3221
The commit above implement the feature.

[2019-03-10 07:33] NobodyIII commented on #3193
I like the `fs_tool` idea as well. I thought of it in the past, but never got around to implementing it.

[2019-03-10 09:39] nfeske opened #3222 "fs_tool for performing file operations"
We currently mostly use noux with coreutils for file operations like copying and removing files. This makes simple tasks like the prepare step of Sculpt more heavy weight than it needs to be.

In issue #3193 I suggested introducing a simple component called fs_tool for this purpose. Since the tool is only loosely related to the topic #3193, I'm taking it to this separate issue.

In contrast to my

[2019-03-10 09:40] nfeske commented on #3193
@NobodyIII thanks for expressing your interest in the tool. I have just taken this sub topic to a dedicated issue (#3222).

[2019-03-10 11:34] m-stein commented on #3222
Sounds great. Thinking of this as long living server for all kinds of FS users made me think of the following scenario:
Imagine two arbitrary FS clients that like to execute an individual set of file operations on their FS but they don't know how and don't want to know. Instead they like to "pass" their FS session to the fs_tool instance temporarily together with an XML file containing the program

[2019-03-10 13:43] cnuke opened #3223 "part_block: fix handling of chained EBR's"

[2019-03-10 13:47] cnuke commented on #3223
The issue was reported by @valerius2k on the mailing list and will post-pone adding the *fixed* label until e95e0d1 was acknowledged as fix for the encountered problem.

[2019-03-10 14:39] nfeske commented on #3221
The two commits https://github.com/genodelabs/genode/commit/82a6bb24677afab97476b0fd48943af52b9ec816 and https://github.com/genodelabs/genode/commit/44fe4fdb28e21df5648c5f75cba798f76458bcd4 extend the fading to the connection lines, which now appear and dissolve smoothly.

[2019-03-10 21:11] valerius2k commented on #3223
I acknowledge that the above commit fixes incorrect partition table parsing. Now I see all my partitions with correct sizes. Thank you very much for the fix!

[2019-03-11 00:09] tomga commented on #3172
I'm not sure it is a good place to ask (especially it is an already closed issue), but could you explain how do you think index files are supposed to be used in context of different architectures? At first I would expect to see index files somewhere inside bin directory of depot to be able to have different index file for each architecture but index directory is directly inside depot and there see

[2019-03-11 00:14] tomga opened #3224 "sculpt ce: leitzentrale does not perform downloads after an error"
I've built sculpt ce with:
[code]
After starting, selecting filesystem for use and enabling network connection I can try to select from ``shared_fs`` from menu and that triggers an error:
[code]
which is probably ok because currently I don't have any place where I could publish my depot to be available to sculpt machine.
What I think is an error is that subsequent attempts to install something or

[2019-03-11 08:23] trimpim commented on #3212
@chelmuth I was not aware of this mechanism. To keep my automated test happy, I'd like to get rid of this message.

Would a attribute, that is passed from the parent to its children, be an acceptable solution?

[2019-03-11 09:14] nfeske commented on #3172
@tomga that's a good question - thanks for asking. At the current time, however, I don't have a good answer. Although the architecture question briefly crossed my mind, I admittedly disregarded it for the initial version because I failed to quickly come up with a satisfying idea how to handle it, and there were so many other pressing topics to solve.

I think that we should address this for the ne

[2019-03-11 09:31] skalk commented on #3217
Ok, the final outcome is the twofold:
* On hw kernel, if there is a libc component actively polling for io signals without blocking somewhere in the meantime, io signals do not arrive, because there is no second thread putting signals in the corresponding registry like on other kernel. A fix is to ask the kernel for the signals without blocking.
* the VFS lxip plugin does not return the correct re

[2019-03-11 10:12] chelmuth commented on #3212
@trimpim after your initial patch I was also pondering on alternatives to the timer session based detection. The config ROM is certainly the best fitting resource to *configure* bomb instances as `master="false"` (with a  default of `true`). I'd happily review a patch for this.

[2019-03-11 10:27] chelmuth commented on #3223
Thanks for the bug report and fix. I'm going to merge it with the accompanied test case (as discussed offline).

[2019-03-11 10:30] nfeske commented on #3224
Thank you for the excellent bug report. I can reproduce the problem. Working on a fix right now.

[2019-03-11 10:52] nfeske commented on #3224
Commit https://github.com/genodelabs/genode/commit/6be5c8623dbd49d592fbc3bfcb4014212ffa7c50 should solve this issue.

[2019-03-11 14:00] ssumpf commented on #3205
@NobodyIII: I have found the following README in `./lib/gcc/x86_64-pc-elf/6.3.0/include-fixed` which may help to explain the problem:

`This README file is copied into the directory for GCC-only header files
when fixincludes is run by the makefile for GCC.`

`Many of the files in this directory were automatically edited from the
standard system header files by the fixincludes process.  They are
sy

[2019-03-11 14:37] ehmry commented on #3036
I have the next patch for my VFS series at 12adcc9cdb7f184b2a31ce53724827fe8fb6be06. This makes changes to the VFS handles and contexts that is an intermediate step to completely remove the `post_signal_hook` (#3132).

[2019-03-11 14:47] cnuke commented on #3214
So far the investigation is somewhat inconclusive as I tried to reproduce the problem locally but could not.

To recap the problem at hand: every now and than, the time interval differs, the genodians website cannot be reached from the outside anymore. Looking at the (scarce) LOG messages does not reveal anything eye-catching. During the first test-phase of the appliance we restarted the VM manual

[2019-03-11 15:35] cnuke commented on #3223
@chelmuth commit 833ab4b contains the updated disk image, without the fixing commit the last two partition would be missing.

[2019-03-11 18:47] NobodyIII commented on #3205
The tar error came during the final packaging step from a fixincludes
symlink that pointed a nonexistent target, which happened because the
includes-fixed directory is part of the final install, contrary to your
claim. However, I discovered that the install-no-fixincludes target removes
these files, at the expense of not stripping the binaries. Unfortunately,
there is no built-in combination of in

[2019-03-11 22:17] tomga commented on #3172
I think my knowledge about depots and packages is not big enough to make me feel comfortable with proposing anything (I failed to start wm, decorator and layouter with current sculpt and I'm waiting for documentation :-) ). But I can write my observations - maybe they'll help.

I think that main point is that there has to be a possibility to have different "effective" indexes for different archite

[2019-03-11 22:43] tomga commented on #3224
With the above fix I cannot reproduce this anymore. Thanks.

[2019-03-12 07:48] nfeske commented on #3224
Thank you for giving the patch a try! :-)

[2019-03-12 10:28] alex-ab commented on #2658
@chelmuth, @ssumpf: the mentioned 5.2.* vbox5 WiP update is part of the https://github.com/alex-ab/genode/commits/issue_2658 branch

[2019-03-12 10:31] nfeske commented on #3172
@tomga thank you for sharing your ideas. I like your suggestion and will try to implement it in the next version. What was keeping me back was the second part of point 2 (the hassle of maintaining different index files for different architectures). But after all, this can be of course solved with tooling on the publishing side. Here, the work flow is still not completely thought through anyway.

W

[2019-03-12 10:51] nfeske commented on #3214
Thanks for the very interesting write-up!

Once the scenario "gets stuck", is the import subsystem also affected (it fetches content over the network after all) or is the problem local to the web server?

[2019-03-12 11:36] tomga commented on #3172
I understand that in the latter variant you omitted ``index`` by mistake? Anyway consistency is good so the former is probably better.

About the time of implementation I'm definitely not in the position to define deadlines :-). Anyway this can be important for me when I progress with my rpi3 work far enough to have sculpt running and I can't really estimate when it happens - at each level there a

[2019-03-12 12:44] nfeske commented on #3172
Sure. Sorry about that. ;-)

I'm happy then. It is so cool to have the prospect to run Sculpt on the rpi3!

[2019-03-12 13:29] skalk commented on #2729
@NobodyIII can you please amplify why do you think that untyped and typed capabilities do not share the same object layout? I cannot see any additional members in Capability nor that it extends other classes than Untyped_capability.
To be honest the signature clearly states that you put a const capability into the function and gain a capability by value. I would find a annoying as reader of an API

[2019-03-12 14:13] nfeske commented on #3222
The two commits above implement the initial version of the fs_tool component. At the moment, only the `<remove-file>' operation is supported (the only operation I need for #3193).

[2019-03-12 14:36] cnuke commented on #3214
At least when looking through the LOG messages some weeks back the import subsystem seemed not be affected (which prompted me to look for the problem in the appliance rather than the surrounding environment) and to be honest I have not paid much attentation to that lately. That being said, I already took measures that will make the state of the appliances as a whole more obvious (hopefully) the ne

[2019-03-12 14:52] skalk commented on #3217
@chelmuth there is a fixup commit for the signal changes in hw that solves the send/received signal differences on my merge_to_staging branch commit 48e311d1deb2118facd510663b6475a310d07890

[2019-03-12 17:01] nfeske opened #3226 "init: restart an already exited child when changing its version"
In the current version of init, the child's version attribute is only checked for children that have not exited yet. This is too lax in situations where a dynamic init is used to repeatedly spawn exiting helper components that differ in versions but not in name. E.g., the fs_tool spawned by the Sculpt manager to remove depot index files.

[2019-03-12 17:55] ssumpf commented on #3205
@NobodyIII : Okay, my guess is that your host has a broken link in the system headers (see README above). It would be nice if you could specify  **exactly** what is installed to **exactly** where, as well as what you mean by **installed** (the gdb_arm.tar archive?), because I must be able to reproduce your issue.

[2019-03-12 18:44] cproc commented on #2204
Arora uses the socket fs now, so I'm closing this issue.

[2019-03-12 18:44] #2204 closed

[2019-03-12 18:48] nfeske commented on #3193
With the current staging branch, this works now.

[2019-03-12 19:04] cproc commented on #3198
Sounds good.

[2019-03-13 07:16] #3204 closed

[2019-03-13 09:17] nfeske opened #3227 "window layouter: flickering when finishing window resize"
When resizing a floating window with the mouse, the window briefly snaps back to its original size before is takes over the new user-defined size. This is not serious as the window geometry will eventually end up as the user intended. But the visual glitch leaves a wacky impression.

The problem is caused by the fact that the window layout (as consumed by the decorator) is determined by both the (

[2019-03-13 10:50] nfeske commented on #3200
Fixed by https://github.com/genodelabs/genode/commit/0609285c19ad26701bf3fb107765427f708f6c1e on staging.

[2019-03-13 12:27] skalk commented on #859
Actually that is an important issue to solve, although it lies around since years. It is not that easy to integrate in the existent generic core code + hw backend. The problem is that all cpu session quota handling is done via the internally used allocator. I see two short-term solutions. Either we add a kernel specific utcb size value that is substracted/add from the allocator quota when creating

[2019-03-13 13:15] m-stein commented on #859
To me the approach of accounting a kernel specific UTCB size sounds simpler to implement and less delicate (impossible to mess up alignment silently in the future).

[2019-03-13 13:22] nfeske commented on #859
I agree with @m-stein. To fix the accounting issue, let's just add the book keeping, similar to how the PD session performs the book keeping when allocating/freeing RAM dataspaces.

That notwithstanding, I also like the direction outlined by @skalk regarding the `Cpu_thread_component`. But that would be another issue.

[2019-03-13 13:40] alex-ab commented on #2009
The feature is in place since 2 years.

[2019-03-13 13:40] #2009 closed

[2019-03-13 14:09] skalk commented on #1253
@m-stein: I wonder if there is such a use case at all. Actually, TLB flushes are done when altering the page tables only. But this always done by core-threads, which do not get destroyed at all. So I do not see the case that a thread currently doing a TLB flush will get destroyed. Maybe I oversee something?

[2019-03-13 14:40] skalk commented on #2699
Related to this issue, Tomasz Gajewski kindly remarked on the mailing list that there are some artefacts in the usage of invalidate_*_cache currently use. Actually, we do not need the cache maintainance functions related to the whole cache in core/kernel anymore. A selective cache-flush is enough, now that the corresponding address-space is still the active one. Therefore, we can safely remove tho

[2019-03-13 14:46] m-stein commented on #1253
I agree that we do bot do it although it is theoretically possible to do it. So, how about at least giving the user a hint when he's doing it? This way, we couldn't silently fall into this hardly debuggable trap when doing future modifications.

[2019-03-13 14:52] m-stein commented on #2699
Really cool. more than 200 LoC less in base-hw :)

[2019-03-13 14:57] skalk commented on #1253
@m-stein I do not see how to do this easily. But again, I do not see the issue. Actually, it is the core entrypoint only (doing unmap) that is using the corresponding kernel syscall and non-core threads are not allowed to use that call. So why should I implement some hand-stands for the case that the core entrypoint might get destructed in the future. I would say, this will be serious than anyway.

[2019-03-13 14:59] m-stein commented on #23
@nfeske: I would start adapting the base repos according to this flag if you think it's still a good idea!?

[2019-03-13 15:01] m-stein commented on #23
Of course, as less prioritized work while I'm not able to proceed with other stuff.

[2019-03-13 15:08] m-stein commented on #23
My plan would be to push little chunks of adaption (for instance one commit for util/string.cc) while adding the flag only in my tools.conf until I reach the point when I can add the flag to the default opts without doing any harm. This way, my work would be continuously merged without a lot of re-basing effort.

[2019-03-13 15:31] m-stein commented on #1253
I've added it to the documentation of the syscall:
b8cd65d232 hw: fix documentation of Kernel::update_pd

[2019-03-13 16:07] m-stein commented on #3037
This was fixed by:
304cb290d9 nic_router: rework quota accounting

[2019-03-13 16:07] #3037 closed

[2019-03-13 16:21] m-stein commented on #2899
Hm, there are still 5 platforms on which the nic_router test fails. I think the last time I investigated, the problems were related to vfs/socket stuff and not to the test or the nic_router itself. I don't know if this is still the case but maybe we should move this to a dedicated issue?

[2019-03-13 16:28] chelmuth commented on #2899
I agree that the issues are most certainly not related to the nic_router implementation and, therefore, close this collection basket in favor of potential concrete future issues.

[2019-03-13 16:28] #2899 closed

[2019-03-13 16:32] nfeske commented on #3200
Unfortunately, my fix interacts badly with issue #3227. With the fix in place, a user-resized window snaps back to the original window position. :-/

[2019-03-13 16:36] m-stein commented on #1313
Thanks @skalk that you fixed this!

[2019-03-13 16:49] cproc opened #3228 "base: catch 'Ipc_error' in 'Expanding_parent_client::exit()'"
If a component is being destroyed just before it calls `exit()` at its parent (which currently often happens in the Sculpt scenario, where `fetchurl` gets destroyed as soon as it reports 100% progress), the `exit()` call causes an `Ipc_error` exception, which leads to an `abort()` loop with repeated error messages, because `abort()` calls `exit()` too. Catching the exception in `Expanding_parent_c

[2019-03-13 17:29] m-stein commented on #2908
This should fix the issue:
8c459d7ac2 run/nic_router foc x86_64: raise test timeout

Sometimes, the test still gets stuck, but this seems to be related to the socket/vfs connect problem.

[2019-03-13 20:31] ssumpf commented on #952
Since this is a debugging issue only and I always can cherry pick the commit when debugging with GDB on Linux, it can be closed after 5+ years.

[2019-03-13 20:31] #952 closed

[2019-03-14 07:24] chelmuth commented on #952
Agreed, but I must inquire: Why do hardware breakpoints not fit your use case?

[2019-03-14 07:30] chelmuth commented on #2658
Thanks for the info.

[2019-03-14 07:33] chelmuth commented on #3036
@ehmry as this WiP issue misses the [fixed] tag, please remind me if I miss to review/merge this work after Sculpt CE.

[2019-03-14 07:36] alex-ab commented on #3111
I rebased and re-tested on hardware the nova part (vmm_x86.run) on the last master branch. Can you please review the 4 commits of https://github.com/alex-ab/genode/commits/issue_3111_19_02, so that I may continue and merge your change requests.

[2019-03-14 07:44] chelmuth commented on #725
With the integration of the pthread library into the libc this issue should be solved. What remains is the unification of pthread locks/condvars with the libc execution model.

[2019-03-14 07:53] chelmuth commented on #1004
Since this issue was created many aspects changed (e.g., libsdl is now a real port in world an the compilation of fb_sdl would fail instantly) I close it as obsolete.

[2019-03-14 07:53] #1004 closed

[2019-03-14 07:55] chelmuth commented on #1187
I close this issue as over the years no consent could be reached. My use case for scan-code-based fb_sdl was testing of Linux-agnostic keyboard layouts in fb_sdl.

[2019-03-14 07:55] #1187 closed

[2019-03-14 08:01] chelmuth commented on #1001
In my experiments years back I discovered that the *preferred resolution* approach is not robust as monitors tend to report over-optimistic mode tables. As we also do not use the VESA driver for product-level applications, I vote for closing this issue.

[2019-03-14 08:13] chelmuth commented on #1120
This feature is still not merged and I can't remember which reservations lead to this. Was it simply forgotten? @ehmry would you agree a rebase of b48642d866b5a5f9c210fa9fdf7b43b0a129554b should be merged to finally close this issue? Are you willing to address this?

[2019-03-14 08:18] chelmuth commented on #1463
This was fixed by commit 74dcc7a3d57f91fd7382964ac1524ad622dd5f2d from issue #2861.

[2019-03-14 08:27] chelmuth commented on #1736
@cproc is this feature provided by qt5-host?

[2019-03-14 08:28] chelmuth commented on #1501
The lack of this feature was never a blocker, so I close it.

[2019-03-14 08:28] #1501 closed

[2019-03-14 08:40] chelmuth commented on #2052
The code of `packet_valid()` changed repeatedly since this issue was created.

[2019-03-14 08:40] #2052 closed

[2019-03-14 08:48] chelmuth commented on #1806
Screenshots can now be done via http://genodians.org/ehmry/2019-01-31-flif_capture

[2019-03-14 09:13] nfeske commented on #23
Yes, that is the perfect approach, @m-stein. Thanks for taking on this issue!

Let me share the experience of my recent work on `-Wsuggest-override`, which was a very similar undertaking.

1. Just like you suggested, I enabled the warning (in base/mk/global.mk) on my local topic branch.

2. I concentrated on one architecture (x86_64) on the generic code first. In the build.conf of my x86_64 build

[2019-03-14 09:21] nfeske commented on #725
AFAIK, `errno` is not thread-safe yet, see https://github.com/genodelabs/genode/blob/master/repos/libports/src/lib/libc/errno.cc

[2019-03-14 09:33] skalk commented on #1253
Ok, thank you.

[2019-03-14 09:34] ssumpf commented on #952
@chelmuth: Because single stepping and stepping over functions ('n') also set breakpoints, and therefore do not work.

[2019-03-14 09:39] skalk commented on #2729
I close this issue for now. If there is still a need for discussion, we can still do that here.

[2019-03-14 09:39] #2729 closed

[2019-03-14 09:39] chelmuth commented on #1846
It seems there are no stakeholders of this feature.

[2019-03-14 09:39] #1846 closed

[2019-03-14 09:39] alex-ab commented on #1547
I'm closing this issue since there is no interest anymore on a very outdated board. If at all are interest in AMD boards, please go with modern setups like in #3058.

[2019-03-14 09:39] #1547 closed

[2019-03-14 09:43] alex-ab commented on #3200
Thanks for the heads up. I will take with the next update of top_view.

[2019-03-14 09:50] alex-ab commented on #1676
May be re-opened if required - no plans to work on that actually.

[2019-03-14 09:50] #1676 closed

[2019-03-14 10:13] cnuke commented on #1463
Well, AFAICT it still just reads the file only once - only the location of the file has changed.

[2019-03-14 10:13] alex-ab commented on #2116
I re-based the commit and tested a bit. It is ready for a re-try on staging.

[2019-03-14 10:15] nfeske commented on #1001
I agree.

[2019-03-14 10:24] chelmuth commented on #2470
I adapted the issue title as nic_router also does not call `Mac_allocator:free()`.

[2019-03-14 10:35] nfeske commented on #1120
The potential issue I see is the need for sanitizing path arguments.

In particular, what happens when passing something like `../../../.bashrc` to the unlink operation of lx_fs?

Symlinks are also risky: an absolute path specified by an lx_fs client should never end up 1:1 in the symlink inode of the Linux file system. Otherwise the client may become able to read content outside the lx_fs directo

[2019-03-14 10:42] chelmuth commented on #2728
@NobodyIII are you still working on this feature? Did you already address @nfeske's remarks in https://github.com/genodelabs/genode/issues/2728#issuecomment-374874467?

[2019-03-14 10:47] nfeske commented on #2728
As nit_fb is going to become irrelevant in the light of https://github.com/genodelabs/genode/issues/3196. So I would not spend any energy on it.

[2019-03-14 10:55] chelmuth commented on #2818
Our web server redirects to HTTPS now.

[2019-03-14 10:55] #2818 closed

[2019-03-14 10:59] chelmuth commented on #1763
Any plans to finally merge this feature?

[2019-03-14 11:04] chelmuth commented on #2878
I suggest to not pursue this road and close the issue.

[2019-03-14 11:14] chelmuth commented on #2961
AFAICT this cleanup makes much sense but did not make it into staging. @ehmry could you please rebase it and leave a note here?

[2019-03-14 11:22] chelmuth commented on #3020
Seems related to #2954 but I must admit I'm a bit confused of the web of issues connected to the broader topic. @ehmry could you untangle it?

[2019-03-14 11:24] chelmuth commented on #3029
Related to #1784.

[2019-03-14 11:35] chelmuth commented on #3051
The issue is marked as [fixed] and the commit entered master. Can we close it?

[2019-03-14 11:38] #1001 closed

[2019-03-14 11:44] chelmuth commented on #1463
As this is implemented entirely in the contrib code, I wonder how long running programs in FreeBSD cope with such situations...

[2019-03-14 11:53] skalk opened #3229 "base: documentation artefact in Register_set_plain_access::read"
Tomasz Gejeweski brought this up on the mailing list, and provided a patch.

[2019-03-14 11:56] m-stein commented on #1806
The initial ``avconv`` already worked and I also used it to publish a pretty fluent [Genode screencast](https://www.youtube.com/watch?v=QeBvog_ZoXM). The only thing that kept us from merging the port was that it uses two _ioctls_ that were implemented the old way and we planned to introduce a new way to do this (via a common file for each ioctl). Has the new way, in the mean time, become stable an

[2019-03-14 12:13] cnuke commented on #1463
That is indeed the question but we still don't have an immediate use-case for the behaviour and probably don't want do fiddle around with libresolv anyway...

(I merely wanted to emphasize that #2861 is not strictly the fix for this issue.)

[2019-03-14 12:13] #1463 closed

[2019-03-14 12:19] cnuke commented on #1806
No, there is, however, a proof-of-concept implementation on my [libc_ioctl_fs](https://github.com/cnuke/genode/commits/libc_ioctl_fs-2018-11-05) branch.

[2019-03-14 13:09] ehmry commented on #3051
I think so.

[2019-03-14 13:09] #3051 closed

[2019-03-14 13:10] ehmry commented on #3020
Well these look to be the same, so I will close this leave the earlier issue.

[2019-03-14 13:10] #3020 closed

[2019-03-14 13:14] m-stein commented on #1806
@chnuke A pity... but thanks for the update! Do you see the proof-of-concept make its way to master in the near future? I think, especially in the context of our current priorities, screencasts would be a really helpful thing to have.

[2019-03-14 13:17] m-stein commented on #23
Thanks for this detailed sharing of your experience! I think I could use some meditation once in a while :)

[2019-03-14 13:26] chelmuth commented on #1463
For completeness: New versions of the FreeBSD libc implement time-driven configuration reload (see https://github.com/freebsd/freebsd/blob/master/lib/libc/resolv/res_state.c#L105).

[2019-03-14 13:27] m-stein commented on #2470
@chelmuth Thanks that you have pointed out this significant issue in the NIC router!

[2019-03-14 13:28] m-stein commented on #2470
I'll try to fix both components these days.

[2019-03-14 13:40] m-stein commented on #3020
Maybe a mind map would make the ongoing VFS work more transparent and understandable to all of us?

[2019-03-14 13:42] cnuke commented on #1806
I do not plan to actively pursue it for the time being (the commits might need to be adapted for the recent VFS changes but should work so far - the Device_file_system needs to be reworked to be fit for upstreaming it though).

Regarding creating screencasts in Sculpt, you could easily provide a pkg archive whose bin archive contains all the changes you might need in the binaries as interims solut

[2019-03-14 13:58] nfeske commented on #3227
Solved by https://github.com/genodelabs/genode/commit/7430541a39c829977f3cc79a755c794fb149f821

[2019-03-14 14:00] nfeske commented on #3200
Commit https://github.com/genodelabs/genode/commit/7430541a39c829977f3cc79a755c794fb149f821 (on staging) fills the gap I mentioned in my previous comment.

[2019-03-14 14:18] m-stein commented on #3222
A fixup:
b39a8a8871 Fixup "gems: initial version of fs_tool" (improve runtime log event)

[2019-03-14 14:33] skalk opened #3230 "hw riscv: do not interfere bbl machine calls and kernel syscalls"
When introducing non-blocking signal delivery in the hw kernel to solve issue #3217, the enumeration of the syscall ids changed. Thereby, it came up that the bbl (contrib code) riscv machine mode firmware depent hard-coded on the syscall id of the Kernel::print_char method. By changing the syscall ids, riscv port of hw did not work anymore.
It is much better to not mix up both worlds especially no

[2019-03-14 14:36] skalk commented on #3230
@chelmuth above commit re-enables the nightly riscv runtime test

[2019-03-14 14:39] ehmry commented on #2961
Yes, rebased at 94ded60349687e4604621e5a398b744090c23807.

[2019-03-14 14:42] ehmry commented on #3020
@m-stein yes, that would be helpful.

[2019-03-14 14:50] ssumpf opened #3231 "sculpt ce: sculpt_manager aborts if exception is thrown during deploy config update"
When there is a syntax error in config/deploy like `<xstart> .... </start>` a `Xml_node::Nonexistent_sub_node` exception is thrown and not catched by `Sculpt:Deploy::update_managed_deploy_config` which leads to `abort` being called by the sculpt_manager.

[2019-03-14 14:57] ssumpf commented on #3231
@nfeske: 921bc94 wraps the XML parsing witch a `try/catch` which solves things for me. But I am not sure if this is the preferred solution.

[2019-03-14 15:06] nfeske commented on #3231
Thanks for reporting. I think the problem lies somewhere else. The code in the sculpt manager should not raise any exception. If there is no sub node, the `for_each_sub_node` calls should do nothing. I suspect that the XML parser stumbles over the inconsistency of the node tags. I'll have a look.

[2019-03-14 15:24] m-stein commented on #3020
Maybe you could give [vym](http://ubuntuguide.net/vym-a-mind-mapping-tool-for-ubuntu-linux) a chance? This would perfectly align with the idea of @cnuke to discuss the VFS/libc work at the next staff meeting and we could also incorporate such a map into our task map.

[2019-03-14 20:06] alex-ab opened #3232 "nitpicker & wm: dies with Lookup_failed exception during destroy_view"
A misbehaving client may kill nitpicker by invoking destroy_view() multiple times with same view handle.

[code]

[2019-03-15 04:08] NobodyIII commented on #1547
Sounds good. I haven't used that computer since I got my new one working.

On Thu, Mar 14, 2019, 3:39 AM Alexander Boettcher <notifications@github.com>
wrote:

[2019-03-15 04:12] NobodyIII commented on #2728
I don't remember the state of my code. I have too many other things that
I've been focusing on.

On Thu, Mar 14, 2019, 4:47 AM Norman Feske <notifications@github.com> wrote:

[2019-03-15 08:00] nfeske commented on #2728
@NobodyIII do you agree to close this issue?

[2019-03-15 08:36] nfeske commented on #3232
Thanks for reporting and the proposed fix. In https://github.com/genodelabs/genode/commit/059b2d77519c6f0b002991c0e4b39862f3cc43d3 I reworked the code such that the error case is handled correctly and the control flow becomes more obvious.

The patch also adopts your idea to add a bad-case test to testnit. Ultimately, I should really create a systematic automated test for nitpicker to catch regres

[2019-03-15 09:47] chelmuth commented on #3230
Great, merged into staging.

[2019-03-15 12:51] ehmry commented on #1120
I'm willing to rebase this, but not to maintain it, I have not used lx_fs in a very long time.

[2019-03-15 13:05] ehmry commented on #1120
Well, unless other people are really using it.

[2019-03-15 13:08] ehmry opened #3233 "No FOCUS_ENTER events received"
I am receiving the `FOCUS_LEAVE` input event from Nitpicker but not `FOCUS_ENTER`.

Perhaps this would be an "easy-fix" issue for newcomers?

[2019-03-15 13:26] ehmry commented on #1763
Shall I rebase and update?

[2019-03-15 13:40] nfeske commented on #3233
There is no FOCUS_ENTER because the next MOTION event is implicitly a FOCUS_ENTER.

That said, I appreciate that you keep the "easy-fix" topic in the back of your head!

[2019-03-15 13:49] ehmry commented on #3233
Ok, that was silly of me.

[2019-03-15 13:49] #3233 closed

[2019-03-15 14:08] nfeske commented on #1763
I don't know. Even though I was the one who originally requested the feature, I haven't actually had a practical use case for it so far.

[2019-03-15 15:55] NobodyIII commented on #2728
Yes.

On Fri, Mar 15, 2019, 2:00 AM Norman Feske <notifications@github.com> wrote:

[2019-03-15 15:57] #2728 closed

[2019-03-15 15:59] NobodyIII commented on #1763
It seems like it would simplify Sculpt a bit.

On Fri, Mar 15, 2019, 8:08 AM Norman Feske <notifications@github.com> wrote:

[2019-03-15 18:45] m-stein commented on #2470
Fixed:
ceab90e3d6 nic_router/nic_bridge: free MAC addresses

The commit also adds a new test component named "nic_stress". In contrast to "net_flood" (which I'd like to rename "net_stress" in the future) the "nic_stress" component aims for low-level NIC interactions without considering network protocols while the "net_stress" component aims for the corner cases in the field of common network proto

[2019-03-15 18:52] m-stein commented on #2470
Here's a fix-up that fixes the test author and moves the run scripts to os:
8a63ec49a6 Fixup "nic_router/nic_bridge: free MAC addresses" (author, test repo)

[2019-03-15 18:55] m-stein commented on #2470
When removing that MAC addresses get freed in the NIC router, the new test also reveals a fault in the NIC router as soon as the limit of MAC addresses is reached. But this should be handled in a dedicated issue.

[2019-03-15 22:33] m-stein commented on #60
@nfeske I'm not sure, but hasn't this been fixed by #3031 ?

[2019-03-16 18:17] nfeske commented on #60
We are not quite there yet. The mechanism is in place, but a convenient interactive user interface for the window layouter is still missing. That said, we can take the missing pieces to dedicated issues once we start to tackle them. Feel free to close this one.

[2019-03-17 11:34] nfeske commented on #1763
@NobodyIII Could you possibly be more specific? Am I unable to see the obvious?

[2019-03-17 11:36] nfeske commented on #608
Actually, I've grown to like the non-blinking cursor of the terminal.

[2019-03-17 11:36] #608 closed

[2019-03-17 11:38] nfeske commented on #508
Since I doubt that anyone will work on this issue and the "noux consolidation" topic is scheduled for version 19.08, I propose to close this issue.

@cproc do you agree?

[2019-03-17 11:41] nfeske commented on #1558
This issue is from the Turmvilla era. Even though it is still somewhat valid in principle, I close it because it does not concern me much on Sculpt.

[2019-03-17 11:41] #1558 closed

[2019-03-17 13:25] nfeske commented on #2315
Increasing the limit to 8 GiB on 64-bit machines seems sensible.

Commit https://github.com/genodelabs/genode/commit/095d2e7737e43eb5367e7bec41d9993ed29b42ec makes the built-in heuristics more explicit and applies the parameters also to the VFS.

[2019-03-17 13:38] nfeske commented on #2252
Even though the ideas have merit, there is currently no plan to implement them in the foreseeable future. Instead of introducing formalism, I'd rather concentrate on incremental API safety improvements.

[2019-03-17 13:38] #2252 closed

[2019-03-17 13:40] nfeske commented on #1978
The commit went to master a long time ago. Further improvements of noux in this respect are not planned.

[2019-03-17 13:40] #1978 closed

[2019-03-17 13:44] nfeske commented on #2691
The intermediate results entered the master branch in 18.05. This issue is stale since then. I'm not planning to come back to improving the ROM filter any time soon. Let's open new issues for further improvements.

[2019-03-17 13:44] #2691 closed

[2019-03-17 13:44] nfeske commented on #2690
This issue is stale for one year now and I'm not planning to pick it up anytime soon.

[2019-03-17 13:44] #2690 closed

[2019-03-17 13:45] #2468 closed

[2019-03-17 13:49] nfeske commented on #2917
Even though I'm intensively developing Sculpt, I haven't had a use case for this feature yet.

Whenever I'm interested in the reports generated by components, I'm either using the `verbose` option of the report-rom server, or I'm looking interactively at Sculpt's report file system (via the inspect window).

@throwException If you can life without this feature, I'd prefer to close this issue.

[2019-03-17 13:52] nfeske commented on #2755
This issue is stale for a long time now. For the current use cases of the sequence tool that I'm aware of, the current built-in policy does not stand in the way. AFAIK there is no plan of anyone to work on this issue.

@NobodyIII would you be fine to close it?

[2019-03-17 13:54] nfeske commented on #2744
With the move towards the use of nitpicker directly (see #3196) this issue becomes obsolete.

@ehmry would you be fine with closing it?

[2019-03-18 08:45] ehmry commented on #2744
Yes, I just use Nitpicker now.

[2019-03-18 08:45] #2744 closed

[2019-03-18 09:43] trimpim commented on #3212
@chelmuth what do you think about d7727be98f42022de95fee982208164fb6c10825

[2019-03-18 09:45] cnuke commented on #3214
Observing the latest restarts confirmed that the appliance is still running but the lighttpd component is the one that cannot be reached anymore at some point.

[2019-03-18 10:13] nfeske commented on #3111
Questions after looking at the first commit:

What's the rationale behind the split between `Vm_state_raw` and `Vm_state`? Please document. If the split is needed, why have you used inheritance (complicated), not aggregation (simple)?

Please try replacing the preprocessor macros `vm_register`, `vm_segment`, `vm_range` by structs, possibly defined within the scope of `Vm_state` (`Vm_state::Reg`, `

[2019-03-18 10:29] #60 closed

[2019-03-18 10:29] m-stein commented on #60
Thanks for the explanation ;)

[2019-03-18 13:57] ssumpf opened #3234 "seoul: add PS2 mouse wheel support"
For better browser VM handling.

[2019-03-18 13:57] skalk commented on #3085
Did not occurred again since mid of January. I assume this got implicitely fixed by other changes.

[2019-03-18 13:57] #3085 closed

[2019-03-18 14:00] skalk commented on #2359
I think there is not pressure right now to fix that. We can open the issue again, if there is a wide user-base stumbling across this Muen-specific issue.

[2019-03-18 14:00] #2359 closed

[2019-03-18 14:01] skalk commented on #3084
It did not occur again since beginning of 2019, I assume it is solved by other changes.

[2019-03-18 14:01] #3084 closed

[2019-03-18 14:06] rite opened #3235 "prepare_ports: race condition with CONTRIB_DIR/.git"
When preparing multiple ports in parallel, an error may occur during the initialization of the git repository in `CONTRIB_DIR`:

[code]

This is because for every port to be prepared, the git repository in `CONTRIB_DIR` is initialized. This behavior has been introduced in a6acdac1cf3bcdf0f22b9f82a72a2fe6d3f127e8 (see #2959) and though it provides a reasonable safe guard, it breaks the parallel pre

[2019-03-18 14:07] alex-ab commented on #3234
Thanks @ssumpf, i added your patch to the contrib sources as fixup.

[2019-03-18 14:22] rite commented on #3235
Although 49c8cbc fixes the problem by making the dependency explicit, its certainly not (yet) a valid solution as the duplicated definition of the variable `CONTRIB_DIR` is rather hacky...

Any suggestions how to proceed?

[2019-03-18 14:24] alex-ab commented on #3111
I want to enforce that C++ accessors are used for all members. That way it can be tracked easily whether the underlying kernel actually supports the required specific register (which is not the case in general by all the use kernels).

Therefore, using a struct for plain access I wanted to deny.

Are you fine with transforming the struct Vm_state in a class with private members then ?

[2019-03-18 14:26] cnuke commented on #3029
I will close this issue as it is to some degree a duplicate of #1784. For now there are no plans to either implement timestamps besides the modification time and handle the execution bit.

[2019-03-18 14:26] #3029 closed

[2019-03-18 14:32] cnuke commented on #1784
The plan for implementing the functionality is as follows:

1. Add a `Timestamp` member to `File_system::Status` which saves the modification time as signed 64bit integer. If a more structured type is needed, we will introduce convenience utilities.
2. Add a new packet type to the `File_system` session called `WRITE_TIMESTAMP` which allows clients to update the modification timestamp of a node. Th

[2019-03-18 14:34] nfeske commented on #1784
Thank you for capturing the outcome of our offline discussion, @cnuke.

[2019-03-18 15:04] nfeske commented on #3111
The VMM is expected to evaluate the `used` flag per register to probe for the degree of kernel support? Wouldn't a couple of (a few) explicit boolean members (e.g., in the form of `tsc_offset_supported`) be more straight forward and more expressive at the same time? This way, a VMM could reasonably know what varieties are to be expected.

Regarding the use of private members, I'd keep such bureauc

[2019-03-18 15:06] chelmuth commented on #1120
The reason I commented above that we recently added move() support but I myself also do not use this component. And given the risks mentioned by @nfeske it may be better to leave lx_fs well alone.

[2019-03-18 15:21] alex-ab commented on #3111
It may so to make sure not to corrupt the guest state (by not having the actual register values).

On the way back from VMM to kernel, by evaluating the used value also selective guest state update are possible. Especially seL4 would cause quiet some overhead due to extra syscalls per Guest state register. So it is also a performance issue which can be avoided easily.

I fear it does not cover all

[2019-03-18 15:24] chelmuth commented on #3212
The patch is quite what I had in mind. If you could please address my inline note and try to rephrase the commit message to something like *bomb: prevent Timer-session creation errors*. IMO the commit does not *fix* the test but beautifies the log ;-)

[2019-03-18 15:30] cnuke commented on #1120
W/o having followed the code, what about using `unlinkat(2)` and `symlinkat(2)`?

[2019-03-18 15:36] NobodyIII commented on #2755
I suppose we can close this. I'm planning on fixing it by making init able
to request quota upgrades, but I'm not sure when I'll get around to that.

On Sun, Mar 17, 2019, 7:52 AM Norman Feske <notifications@github.com> wrote:

[2019-03-18 15:46] nfeske commented on #3111
Thanks for the description. So if I understand correctly, there are some registers that are optional where others are not.

For the optional registers you want to distinguish the case where its value has a meaning from the case where it is not supported or not set (so the value remains undefined). Now I understand better.

What do you think about modelling such a register as follows? (`valid` is j

[2019-03-18 15:47] #2755 closed

[2019-03-18 16:37] alex-ab opened #3236 "wm: ep deadlocks during destroy_view handling"
At

https://github.com/genodelabs/genode/blob/master/repos/gems/src/server/wm/nitpicker.h#L881

a locked pointer is taken. During the destruction of the view for the release of this look is waited for at

https://github.com/genodelabs/genode/blob/master/repos/gems/src/server/wm/nitpicker.h#L269

which never happens.

[2019-03-18 16:38] alex-ab commented on #3236
@nfeske: you are more knowledgeable than me regarding the wm, do you have an idea how to fix that ?

[2019-03-18 16:41] alex-ab commented on #3111
Thanks, i will come up with a proposal for the implementation.

[2019-03-18 16:42] m-stein opened #3237 "nic_router: manipulate port-forwarding port"
It should be possible to change the destination port of requests that get port-forwarded by the NIC router. This was motivated by some use cases of @ssumpf and @cnuke. One hard reason to add the feature is the situation when we want client requests with different destination ports be handled by one and the same server.

[2019-03-18 16:44] m-stein commented on #3237
Fixed:
bab5db589f nic_router: manipulate port-forwarding port

[2019-03-18 18:49] alex-ab commented on #3232
Just noticed, the wm has the same bug in the destroy_view method. Should I create a patch similar to yours for nitpicker or do you take care ?

[2019-03-18 20:14] nfeske commented on #3237
Cool! This is a very nice feature. Thanks @m-stein for adding it.

But does the new feature really require changing existing configuration options? I think that just adding the `to_port` attribute would be sensible and logical (because it adds further precision of the existing `to` attribute). The rename of the `to` attribute to `to_ip`, however, looks overzealous to me. It breaks all nic-router c

[2019-03-18 20:14] nfeske commented on #3232
I would appreciate that.

[2019-03-18 21:05] m-stein commented on #3237
It's a pure question of style, I like a descriptive interface more than one time convenience, but it's your decision.

[2019-03-19 07:21] trimpim commented on #3212
@chelmuth the updated commit is  at 245ea6645f8d0d9567a89ed980e327da88c63519

[2019-03-19 08:56] skalk commented on #3087
I could track this down to a broken test-rust binary taken out of the depot.tar by the vfs_tar plugin. THis is reproducible even when starting the depot_autopilot with that single test only.

[2019-03-19 09:35] nfeske commented on #3087
@skalk Thank you for investigating! Does that mean that the test works when you specify the TEST_BUILD and TEST_MODULES env variables (bypassing the depot for the binary)?

[2019-03-19 09:45] alex-ab commented on #3232
I could not apply the same pattern due to the Locked_ptr semantic, nevertheless 07c1ff30fa5e77d54073d41de0ffc84af235db54 is my proposal to fix the issue for the wm.

[2019-03-19 09:46] skalk commented on #3087
Exactly!

[2019-03-19 10:06] skalk opened #3238 "depot_autopilot: still some sporadic false-positives"
Since the integration of the `depot_autopilot` into the nightly test routines, there are sporadic false-positive errors. As an example, tonight the `depot_autopilot` reported that the `test-magic_ring_buffer` failed due to a 10 sec timeout on imx6q_sabrelite on the Hw kernel, although it printed the good-case message immediately within the first second.
This is just an example we could observe the

[2019-03-19 10:19] #3083 closed

[2019-03-19 10:19] #3188 closed

[2019-03-19 10:19] #3190 closed

[2019-03-19 10:19] #3191 closed

[2019-03-19 10:19] #3195 closed

[2019-03-19 10:19] #3197 closed

[2019-03-19 10:19] #3201 closed

[2019-03-19 10:19] #1452 closed

[2019-03-19 10:19] #3081 closed

[2019-03-19 10:19] #3147 closed

[2019-03-19 10:19] #3157 closed

[2019-03-19 10:19] #3203 closed

[2019-03-19 10:19] #3210 closed

[2019-03-19 10:19] #3189 closed

[2019-03-19 10:19] #3211 closed

[2019-03-19 10:19] #3217 closed

[2019-03-19 10:19] #3219 closed

[2019-03-19 10:19] #3221 closed

[2019-03-19 10:19] #3223 closed

[2019-03-19 10:19] #3224 closed

[2019-03-19 10:19] #1253 closed

[2019-03-19 10:19] #2908 closed

[2019-03-19 10:19] #3193 closed

[2019-03-19 10:19] #3200 closed

[2019-03-19 10:19] #3226 closed

[2019-03-19 10:19] #3227 closed

[2019-03-19 10:19] #3228 closed

[2019-03-19 10:19] #3231 closed

[2019-03-19 10:19] #2315 closed

[2019-03-19 10:19] #3230 closed

[2019-03-19 10:48] cproc commented on #1736
@chelmuth: currently not, maybe with the planned Qt5 update?

[2019-03-19 10:50] cproc commented on #508
Agreed.

[2019-03-19 10:50] #508 closed

[2019-03-19 10:52] #3218 closed

[2019-03-19 11:11] #3222 closed

[2019-03-19 11:11] #3209 closed

[2019-03-19 11:37] chelmuth commented on #3213
Merged to staging.

[2019-03-19 11:37] chelmuth commented on #3212
Merged to staging.

[2019-03-19 11:40] chelmuth commented on #3234
Should 6267f5324b2069e1203104bf65992a3b9c8e7aa5 be merged too?

[2019-03-19 11:42] ssumpf commented on #3234
@chelmuth: No, 6267f53 is just for testing.

[2019-03-19 11:45] chelmuth commented on #3132
The commit entered master. What are the next steps (commit was not marked as fix)?

[2019-03-19 11:52] nfeske commented on #3237
Adjusting styles or configuration formats is of course sometimes desired but please consider that such a change is always a pain for users. For this reason, the adaptation to such breaking changes must be planned, prepared, justified, communicated, and carried out. These are costs that should not be produced lightheartedly. Remember that you are *not* the one who pays those costs, but the users of

[2019-03-19 12:38] ehmry commented on #3132
I will close this and open another issue when the deprecated post-signal-hook can be removed.

[2019-03-19 12:38] #3132 closed

[2019-03-19 12:41] m-stein commented on #3237
Adapted to the suggestions of @chelmuth and @nfeske:
467515960d Squash "nic_router: manipulate port-forwarding port" (revert to_ip, new commit message)
73365b2eed Fixup: "nic_router: manipulate port-forwarding port" (README port range)
7948af81cd nic_router: manipulate port-forwarding port

[2019-03-19 12:42] m-stein commented on #2470
Had to rebase:
60935f9a5f Fixup "nic_router/nic_bridge: free MAC addresses" (author, test repo)
e3a6eec00a nic_router/nic_bridge: free MAC addresses

[2019-03-19 12:43] ehmry commented on #3036
12adcc9cdb7f184b2a31ce53724827fe8fb6be06 is ready for staging.

[2019-03-19 12:47] m-stein commented on #3087
@skalk Hm, cool that you found that, I could have a look at the package if you're not already into it!

[2019-03-19 12:47] m-stein commented on #3087
I assume I'm the one who created the mess ^^

[2019-03-19 13:29] chelmuth commented on #1736
Okay, please put it on the TODO list for the update as we'll need it in the Qt SDK anyway.

[2019-03-19 13:33] chelmuth commented on #3116
As @ehmry answered to my commit comment the initial documentation is just a reference manual for the directory structure and the file semantics. We have to add a section about exemplary use of the file system from network client and server perspective, which

- can leave out some details in a simple example
- may provide more complex example(s) for multi-connection servers/clients
- can be extende

[2019-03-19 13:45] m-stein commented on #2999
I re-opened the issue as I think it's not that unimportant and I'd like to give it another try. Offline discussions last time ran off the track a little. After thinking about the topic anew, I found myself enforced in opting for an explicit configuration approach.

This is why I'd stick to to this approach
* As mentioned earlier, I'm not enthusiastic about adding an approach that uses some kind of

[2019-03-19 14:48] alex-ab commented on #3111
@nfeske: please review cb83680f5bf61af4d9d9ea9a71c5df5057dee680

[2019-03-19 14:57] skalk commented on #3087
Sorry, I was comparing apples with pears all the time. I was used to take the binary `test-rust` in my build directory not the one in my depot for comparision with the TAR content. But the actual point is that the binaries (first instructions text section) in between depot build directory and my directory are different. So it seems the correct content is read by the VFS TAR plugin. But the produce

[2019-03-19 14:57] skalk commented on #3087
BTW. I do not have any additional setting (e.g., OLEVEL etc.) in my build directory.

[2019-03-19 15:17] skalk commented on #3087
The rust compiler in the depot case produces an Armv7 binary:
[code]

[2019-03-19 15:21] nfeske commented on #3111
That looks excellent!

[2019-03-19 15:25] alex-ab commented on #3111
Ok, then i will continue to adjust the other commits.

[2019-03-19 15:32] m-stein commented on #3238
My last state regarding this topic is that I was not able to reproduce it. It was the reason we added the TEST_REPEAT variable to the depot_autopilot.run script. But doing tests in a loop didn't trigger it neither.

[2019-03-19 16:00] m-stein commented on #2999
A working prototype of the ``first_mac`` attribute is implemented and tested via the ping_nic_router test:
71407a5e6b wip "nic_router: first_mac attribute in session policies"

[2019-03-19 18:01] ehmry opened #3239 "Native CMake"
This is probably going to be a long term issue.

The Qt projects that I have looked at for port using the SDK all use CMake, so it makes sense that a CMake port should be attempted before re-implementing the build systems of these projects. Using CMake to cross-compile is an option, but I would prefer to attempt this natively so not to mix the host and target systems. This is probably not a concer

[2019-03-20 07:31] chelmuth commented on #3036
@ehmry 06dc3934f3cb2d1eec87dac183b6f3eeb69803b3 fixes last nights build error. Please check it if this mechanic adaption is semantically correct.

[2019-03-20 07:39] chelmuth commented on #3066
@ehmry Last nightly shows that stack-protector does not build for x86_32. Please look into this. I already tried to add the symbol to *symbols/ld* but this is insufficient.

[code]

[2019-03-20 09:45] ehmry commented on #3239
To clarify, Qbs is deprecated and Qt upstream will focus on QMake and CMake: https://blog.qt.io/blog/2018/10/29/deprecation-of-qbs/.

[2019-03-20 09:52] ehmry commented on #3036
@chelmuth, yes, that is correct.

[2019-03-20 11:19] chelmuth commented on #2116
Removed the commit from staging for further development.

[2019-03-20 12:43] m-stein commented on #2999
A working prototype of the ``assign`` tag is implemented and tested via the ping_nic_router test:
e5826acf6a wip "nic_router: <assign> tag for DHCP servers"

[2019-03-20 12:53] skalk commented on #3238
@m-stein thanks for documenting the last approach. Nevertheless, we have to get rid of the false messages. If you cannot reproduce it, my suggestion would be to have some non-invasive interims changes on staging to identify the actual cause. It always happens on timeouts of a test. Maybe there is a way to check the output again afterwards using different mechanisms to detect the error case?

[2019-03-20 13:40] skalk commented on #3087
It was a bad selection expression in the `repos/libports/lib/import/import-libcore-rust.mk` file that looked for SPEC `rpi` to select armv6 and otherwise checked for SPEC `arm` and took armv7 then. In the depot package case it sets for architecture only dependent files correctly `arm` and `arm_v6`, and that rule then used armv7.

[2019-03-20 13:58] chelmuth commented on #3066
@ehmry okay it took me not the whole night to identify a quickfix for our problem which is commit a448848595fac7642724d373873fef7fffc7ae7c and fixes the test in all cases, for example

[code]

[2019-03-20 14:42] ehmry commented on #3066
I found this note in the GCC sources:

[code]

[2019-03-20 15:31] chelmuth commented on #3066
I found it too and therefore added the reference *https://raw.githubusercontent.com/gcc-mirror/gcc/master/gcc/config/i386/i386.c line 45261* to the `FIXME` comment ;-)

[2019-03-20 17:30] m-stein commented on #3238
As a first step, we could write the log output of each test to a RAM buffer. If the test fails, we write the buffer content as hex values to to the output. This way, we could detect abnormal non-printable characters. As a second step, we could instead write the parsing steps of the Depot Autopilot to the buffer. I.e. the path taken for each character in the matching loop. Reading this is annoying

[2019-03-20 17:31] m-stein commented on #3087
Nice!

[2019-03-20 21:30] tomga opened #3240 "sculpt ce: lock caused by page fault in init -> leitzentrale -> manager"
During playing with sculpt ce I found a scenario where I can make system unusable.

1. [plus] -> Depot -> cnuke -> Virtual Machines -> download debian
2. [plus] (to hide)
3. disable "Use" of current filesystem
4. enable "Use" of filesystem
5. [plus] - opens menu with "download debian" and clicking it causes page fault

After this the only thing that worked for me was to switch to wm once.

In case

[2019-03-20 21:49] tomga opened #3241 "sculpt ce: installed package can stay in "installing" state in menu forever"
Attempt to install "download debian" package from cnuke's depot ends with:
[code]
in the log but in menu it shows "installing..." forever and it isn't possible to start instance - it is not possible to assign "vm_fs".

Possibly it can be a result of earlier logs:
[code]

I think that there is a problem with a package which triggers another with error handling.

[2019-03-21 07:36] skalk commented on #3238
That sounds good, as long as it is printed in the error case only. Interestingly, tonight it was again `test-magic_ring_buffer` this time on top of Fiasco.OC/PBXA9 on Qemu.

[2019-03-21 07:42] cnuke commented on #1784
My [file_system_modtime__wip](https://github.com/cnuke/genode/commits/file_system_modtime__wip) branch contains the first sketch (be warned I haven't even tried to compile it yet).

[2019-03-21 07:51] skalk opened #3242 "fs_tool: the test regularily fails on some platforms"
This night it failed on Fiasco.OC and Sel4 on x86_64 hardware and on Fiasco.OC Arndale board.

[2019-03-21 08:58] nfeske commented on #3242
According to the output for Fiasco.OC, this is false negative.

I suspect that this issue is connected to #3238. When I created the test originally, I struggled with reliably matching the log output when including the (expected) warning messages in the pattern. So I left out the matching of the warnings in my original commit. Once I told @m-stein about it, he apparently managed to match the warnin

[2019-03-21 09:10] m-stein commented on #3242
Interesting... I'm at it.

[2019-03-21 09:19] nfeske commented on #3240
Thanks for reporting this issue. I immediately tried to reproduce it using the RAM fs, but I could trigger the fault. I'll continue trying. If you happen to come up with a way to trigger the issue in a reliable way starting with an empty ram fs, I would be very grateful.

[2019-03-21 09:19] alex-ab opened #3243 "driver_manager: increase block driver memory"

[2019-03-21 09:21] nfeske commented on #3241
I can reproduce this issue when starting with an empty ram fs. For some reason, the sculpt manager fails to interpret the state report of the update subsystem in the correct way. I'll investigate.

[2019-03-21 09:25] nfeske commented on #3242
@m-stein thank you for making this a priority.

When looking again at the fixup for the fs_tool test, I think we should remove the wildcards at the end of the lines again. I understood your intention regarding the resilience against interwoven log output produced by unrelated components. But in this particular test, the underlying system is not expected to produce any intermediate lines of log out

[2019-03-21 09:30] nfeske commented on #3235
@emery since this issue is about the safety feature you introduced in https://github.com/genodelabs/genode/commit/a6acdac1cf3bcdf0f22b9f82a72a2fe6d3f127e8, could you please have a look?

[2019-03-21 09:32] nfeske commented on #3243
What is the background of this issue?

[2019-03-21 09:40] m-stein commented on #2999
I just realized that the topic becomes a bit complicated when considering re-configuration. The main problem is that we cannot guarantee for the 'first_mac' attribute to take effect if it was added with a re-configuration. The configured MAC address might legally be allocated already. To regain determinism, we could only pro-actively close the session that holds the MAC address. This is because th

[2019-03-21 09:42] ehmry commented on #3235
@rite's patch looks fine to me if that solves the problem. I had hoped the safety Git repo would be initialized only once, perhaps the recipe should be for the file `$(CONTRIB_DIR)/.git/HEAD` rather than the directory `$(CONTRIB_DIR)/.git`?

[2019-03-21 09:43] alex-ab commented on #3243
The ahci driver requests memory on sculpt ce (T460) and the system hangs.

[2019-03-21 09:44] m-stein commented on #3242
This is fine with me.

[2019-03-21 09:46] nfeske commented on #2999
In the face of the many topics that are of current interest, I'm wondering why you are pushing this issue right now. Is it on the critical path for anything important?

[2019-03-21 09:51] nfeske commented on #3241
The problem is that @cnuke's pkg has a superfluous `<rom>` listed as its content in the runtime definition.

@cnuke could you please remove the `pthread.lib.so` entry and update the pkg and index? The pthread.lib.so does not exist anymore because the functionality is now part of the libc. The sculpt manager presents the configuration dialog only if the package is complete. But since the pthread.li

[2019-03-21 09:57] m-stein commented on #2999
I announced my interest in this issue to all of us this Monday. I re-opened it because two persons were asking for it in the past. I don't know how critical it is for them. But my above post was only the summary of what I found yesterday. Currently I'm actually at other issues and not planned to continue with this this week.

[2019-03-21 09:58] nfeske commented on #3243
I wonder what's the difference to systems like mine (also using ahci) where this memory is not needed. Do you happen to have multiple AHCI devices connected?

Intuitively, assigning 10 MiB to a disk driver seem already quite generous. I have nothing against your patch but I'd like to understand why we need to bump up this value even higher (14 MiB according to your patch).

[2019-03-21 10:05] m-stein commented on #2999
I must admit that I'm sometimes a bit confused with the definition of what is generally important and what not. For instance, issue #3237 was considered very useful in the end although it was also only motivated by the personal request of a colleague.

[2019-03-21 10:12] nfeske commented on #2999
Thank you for clarifying. I just mistook your activity in this issue as a sense of urgency but did not know where it came from.

Regarding priorities, I sense #3238 as a pressing (and also long-standing) issue that bothers some of us (who actively monitor the CI results) every day. In contrast, the new NIC router features fall in hobby territory as long as there is neither demand for them by custo

[2019-03-21 10:15] alex-ab commented on #3243
No.

I will have to take time to investigate since this is my working machine. I will report back when I knew more.

[2019-03-21 10:16] tomga commented on #3241
Shouldn't it be presented as "malformed package" or "installation error" or something like this?

[2019-03-21 10:17] nfeske commented on #3241
Yeah. You are completely right.

[2019-03-21 10:28] ehmry commented on #3239
A native port is not viable, CMake depends on Libuv, which I assume it uses to spawn subprocesses. This is not going to work with the libc yet, and isn't worth the effort of making it work with Noux right now.

[2019-03-21 10:29] tomga commented on #3240
It was important to hide menu in state when opening it again would show menu deep in depot hierarchy and later disable and enable used filesystem. Opening again showed menu with package directly instead of browsing from root.

I can try to reproduce with RAM in the evening.

I emailed you video - mayby it will be enough. Yesterday I spent an hour to reproduce this reliably. Maybe you do something

[2019-03-21 10:36] valerius2k commented on #3241
I acknowledge that this problem is caused by unneeded ROM modules. Yesterday, I updated my working copy from the repository, and encountered the same problem @tomga has. The same problem occurred with my own program. I had three unneeded ROM's. When I commented them out, my program now started successfully again.

[2019-03-21 10:51] skalk opened #3244 "hw: remove headers from `src/lib/hw`"
Since the introduction of bootstrap in the base-hw codebase, there exists an unclean practice in having a lot of shared headers in between core and bootstrap within `src/lib/hw`. To identify those headers, and to not conflict with equally named headers in bootstrap/core, the prefix `hw/` when including the header is intended. To get rid of `src/lib` inside the include pathes of bootstrap/core thos

[2019-03-21 10:54] m-stein opened #3245 "depot_autopilot, nova, x86_64: recent failures"
Since the last night, there are 36 test failing on this platform with qemu. It starts with test-part_block_mbr which produces log output but times out, then the consecutive tests all fail without any log output. But the system around the test runtime remains running just fine.

[2019-03-21 10:55] m-stein commented on #3245
I try to bisect it back on a second machine.

[2019-03-21 10:57] cnuke commented on #3241
Done.

[2019-03-21 11:18] nfeske commented on #3239
So you will follow the cross-compile route then?

[2019-03-21 11:43] nfeske commented on #3241
Commit https://github.com/genodelabs/genode/commit/754a5959069a09647a7a212e225ea6b2f4dd3c33 implements @tomga's suggestion.

[2019-03-21 12:46] alex-ab commented on #2116
Reworked the commit, please schedule for testing next time.

[2019-03-21 12:59] ehmry commented on #3239
Yes, the plan was always to cross-compile, but I will do that first.

[2019-03-21 15:24] nfeske commented on #3240
Thanks for the screen capture. I tried the steps several times (using disk and ram as fs), but no crash for me :-/

[2019-03-21 16:05] rite commented on #3235
@ehmry, according to the `git init` man page:
[code]

I included your suggestion regarding `$(CONTRIB_DIR)/.git/HEAD` anyways as it increases the likelihood that we're indeed dealing with an actual Git repository and not just a random directory named `.git` - which Git could ignore and fall through...

I improved the fix in commit f713e09 by moving the definition of `CONTRIB_DIR` into `common.inc`

[2019-03-21 17:01] ttcoder commented on #3239
Disregard this comment if it's off-base, but I've checked out the haiku recipe for CMake out of curiosity....

https://github.com/haikuports/haikuports/blob/master/dev-util/cmake/cmake-3.9.5.recipe

and I see it disables (?) libuv:

-DCMAKE_USE_LIBUV=0

Though Haiku is a "commited to *nix and fork" type of OS... So their having a working recipe does not rule out the existence of other hidden noux-

[2019-03-21 18:36] m-stein commented on #3238
These are some patches I'd like to suggest for staging only to be able to debug the nightly tests:
a5e461e3a7 NOT FOR MASTER "depot_autopilot.run: raise depot autopilot quota"
3b51b3e0ff NOT FOR MASTER "depot_autopilot: list log matches"
4855b19f16 NOT FOR MASTER "depot_autopilot: hex dump of failed test log"

They let the depot autopilot print some extra debug output for failed tests. First, a he

[2019-03-21 19:44] tomga commented on #3240
I couldn't reproduce this with RAM filesystem either.

To let you diagnose this further I've prepared qemu disk image with content from my ThinkPad where I could reproduce problem. I've checked and recorder that it is reproducible in qemu too.

Qemu image with video can be downloaded (for next 7 days) from link below. After start press Esc for boot menu and start from number 3 (sculpt image).

htt

[2019-03-21 20:49] cproc commented on #1220
Since no update is planned in the near future, should this issue be closed?

[2019-03-22 08:27] ehmry commented on #3239
I believe its a flag to use the system Libuv or the bundled uv.

[2019-03-22 09:06] skalk commented on #3238
@m-stein that sounds like a really good measure to me. I'm curious whether it helps identifying the problem. Thanks for providing it!

[2019-03-22 09:21] nfeske commented on #3238
The fs_tool test still sporadically fails for another reason. The order of the log lines of the tested components not completely deterministic. The test wants to match the output of two components involved in the test, reports generated by an fs_query instance and the actual fs_tool. I have to think of a way about how to make them sequential.

[2019-03-22 09:21] skalk commented on #1549
@trimpim There is not much progress in this issue. I would like to close it for now, until there is a unified concept for a platform_drv for ARM available. It seems to me that hard-coding is an option everybody can live with for the time-being?

[2019-03-22 09:22] m-stein commented on #3238
If the feature proves useful in the context of this issue, I would suggest to add it to the normal feature set of the depot autopilot. It could serve well when having to write log events for a new test and they refuse to work as expected. This happened a few times to me and although it wasn't caused by any obscurity in the parsing mechanism but simply by my malicious log pattern, it wasn't easy to

[2019-03-22 09:28] skalk commented on #3242
As far as I read the runtime recipe correctly, the test on Arndale is not a false-positive, on x86_64 it is indeed. On Arndale, the final `report_rom` message is missing.

[2019-03-22 09:31] m-stein commented on #3238
@nfeske I sense, that this is a very common problem in our tests and I thought about solving it in the depot autopilot by providing the means for saying "render a test succeeded when pattern A _and_ pattern B _and_ pattern C ... are fullfilled". Something like:
[code]
What do you think about this?

[2019-03-22 09:34] m-stein commented on #3238
I'd like to add that, AFAICS, this wouldn't be hard to implement. Actually it wouldn't change much in the current implementation.

[2019-03-22 09:44] skalk opened #3246 "rpi: sd_card driver is not working anymore"
The sd-card driver tests seem to fail for Raspberry Pi 1 since 26.10. within its early initialization:
[code]
When I understand the driver code correctly, it already issues successfully the `Go_idle_state` command, but for second command there is no interrupt arriving in time (driver is polling for it).
Maybe one of the different authors of the driver with more background knowledge can have a look

[2019-03-22 09:51] skalk opened #3247 "rpi: usb_hid test fails"
Since the introduction of the automated USB HID tests on a variety of hardware, this test fails on Rasperry Pi 1. In general it seems to detect the HID devices correctly, and also the disconnects, but no PRESS and RELEASE events are shown.

[2019-03-22 10:17] skalk opened #3248 "fetchurl_lxip: hangs sporadically"
Every night, we can see the `fetchurl_lxip` test to hang on several platforms. Moreover, some of us already experienced a hanging fetchurl when installing packages in Sculpt. Maybe, that hits the same issue.

[2019-03-22 10:21] skalk opened #3249 "rpi: fs_packet test does not succeed in time"

[2019-03-22 10:23] ehmry commented on #3241
Is it possible to find out which ROMs are blocking a package? This issue is blocking the flif_capture package.

[2019-03-22 10:25] nfeske commented on #3238
That looks like a useful feature. But it overloads the meaning of the content of the <log> node. Normally, the content of this node is the log output. Now, with the <and> node, there would be a special case. Another question is what would happen if somebody likes to have an <or> condition later? Should we anticipate that somehow?

To fix the CI issue in the short term, I will rework the test never

[2019-03-22 10:28] nfeske commented on #3241
Yes, you can look in the blueprint of the queries package (/report/runtime/depot_query/blueprint) just after the failed installation. Look out for <missing_rom> nodes.

[2019-03-22 10:29] m-stein commented on #3245
This symptom is recurrent.
* It always occurs on nova+x86_64+qemu.
* It always starts at a specific test and causes all following tests to fail and refuse any log output.
* The first failing test might or might not be able to produce log output up to a certain point.
* The system outside the test runtime always keeps running just fine until the depot autopilot prints its result summary.

This is a

[2019-03-22 10:30] chelmuth commented on #1220
You're right, closed.

[2019-03-22 10:30] #1220 closed

[2019-03-22 10:31] m-stein commented on #3245
I'd suggest to add diagnostics to the system that are meant only for staging, just as we do with issue  #3238 but, so far, I have no plan what to add.

[2019-03-22 10:32] ehmry commented on #3248
For the record I always prefer lwip over lxip.

[2019-03-22 10:34] nfeske commented on #3248
Why must this information be recorded? ;-)

[2019-03-22 10:49] chelmuth commented on #3245
Interestingly *test-part_block_mbr* failed to finish this night on *x86/x86_32*...

[2019-03-22 10:54] skalk commented on #3249
Although, we increased the timeout of this test already to 230 seconds it does not succeed in time on Raspberry Pi 1. It is not starving, so it still makes progress, but it seems to be quite slow.
It is not solely related to the kernel, but clearly base-hw does not shine regarding this test:

kernel | x86_64 | imx6q | rpi
---------|----------|----------|-----
hw      | 22s       | 107s   | >250s
f

[2019-03-22 11:00] chelmuth commented on #2470
WIth the two new *\*_stress* autopilot test we also got 15 new test timeouts last night. @m-stein what is your suggestion to reduce the noise? Please keep in mind that the total amount of failing *nic* tests was **33** last night.

[2019-03-22 11:55] ssumpf commented on #3247
@skalk: From our past experiences with this controller I would estimate that `update_jiffies` causes problems again. `update_jiffies` is called for each IRQ and in turn calls `curr_time` on a timer connection. If this is too slow, the behaviour you describe does occur. This is why we used a hardware timer in the past on Rpi. The new timer framework implementation solved the issue, because it is ab

[2019-03-22 11:57] cproc commented on #3247
I tried to git bisect this issue some weeks ago and could get back as far as ca. 17.02. Before that, the usb_hid test did not start at all on rpi because of other errors. With this old version, the test showed input events, but already had dropouts. The dropout rate appeared to increase gradually until ca. 17.11, when no more input events were shown.

[2019-03-22 12:36] nfeske commented on #3240
Thanks a lot @tomga for your engagement. I downloaded the archive and will continue my investigation after the weekend.

[2019-03-22 12:40] cnuke opened #3250 "bsd_audio_drv: adapt pkg runtime for CE"

[2019-03-22 13:00] alex-ab commented on #3111
I adjusted the nova implementation to the changed Vm_state class and tested it on hardware as also Qemu. Please review the commits on https://github.com/alex-ab/genode/commits/issue_3111.

[2019-03-22 13:22] skalk opened #3251 "add support for i.MX7 Dual SABRE reference board"

[2019-03-22 13:53] ehmry opened #3252 "Sculpt: use lwIP for fetching archives"
The lwIP stack has lower throughput than lxip, but boots faster and is generally more reliable.

[2019-03-22 13:56] ehmry commented on #3252
I have a patch for lwIP that is important and should be applied regardless of Sculpt at 2f1d5e9ad32861471c81ea7ac7fc133ddab388d3.

The patch to switch Sculpt stacks is at 71b37411ffe2a15dc0a54a04e797dc2735c2ef87.

[2019-03-22 14:11] ehmry commented on #3241
Excellent, thanks.

[2019-03-22 15:15] ehmry commented on #3252
I did a benchmark with my watch and a T420 with ethernet:

| package | stack | time |
--- | --- | ---
| tyrquake | lxip | 0:56 |
| tyrquake | lwip | 0:46 |
| arora | lxip | 1:07 |
| arora | lwip | 0:28 |

[2019-03-22 15:17] ehmry commented on #3248
Lwip has a worse reputation than it deserves.

[2019-03-22 16:49] ssumpf commented on #3247
@cproc: I found this 685f509a4335a63680cd1ce7d508900d0c95ac08 commit which states there is no local time interpolation on ARM any more and was replaced by a syscall on hw. My suspicion rises. If there is time next week, I can check this. @nfeske: Is this issue important right now?

[2019-03-25 08:35] trimpim commented on #1549
As I don't have time to work on it currently and wasn't even aware of the issue, I'll close it.

[2019-03-25 08:35] #1549 closed

[2019-03-25 08:44] nfeske commented on #3247
Regardless of the practical use of the rpi, I think this issue is important, because it is a regression that shouldn't have slipped through in the first place. Furthermore, the rpi backend of the USB stack will become important once @tomga's work on the rpi3 comes to that stage. I would be very grateful if you take a close look, @ssumpf.

[2019-03-25 08:54] ssumpf commented on #3247
@nfeske: Will do.

[2019-03-25 09:07] nfeske commented on #3252
It's good to see lwIP to be feasible for Sculpt again. Thanks @ehmry for the great improvement.

When I originally created Sculpt's update subsystem, I intended to use lwIP but found it in unreliable state. That was not the fault of lwIP but back then, the integration with the libc's socket fs did not work well. So I had to switch to lxIP back then, which worked fine. It's very good to see the sit

[2019-03-25 10:06] ehmry commented on #3252
Does this mean we are committing to make improvements to the VFS?

[2019-03-25 10:09] nfeske commented on #3252
Of course. Was there ever a question about it?

[2019-03-25 10:22] m-stein commented on #3238
@nfeske What do you mean "to have an condition later" ? If you mean "match one pattern first and the other one afterwards" this would be done by using the * wildcard. Regarding the overloading, I agree that this is a bit ugly. How about this instead:
[code]
It would not overload but enhance the meaning of the <log> content. Also, it would not render existing runtime files invalid.
I also don't see

[2019-03-25 10:28] nfeske commented on #3238
Commit https://github.com/genodelabs/genode/commit/e04668eefb752c6daf9b267f67a239851a039198 changes the test-fs_tool to make its output deterministic.

[2019-03-25 10:31] m-stein commented on #3249
I wonder whether RPI1 is worth investigation regarding a potentially platform-specific performance issue while we're already talking about RPI3 on the mailing list?

[2019-03-25 11:08] nfeske commented on #3238
@m-stein I think it is a bit unfortunate that you disregarded my original suggestion when we discussed the way of how the depot-autopilot should detect failure/success. Back then, you just went for your "events" declaration and apparently dismissed my proposal as just a matter of taste. To recap, my suggestion was in the line of the `expect_init_state` mechanism of the init test. Applied to the de

[2019-03-25 11:22] tomga commented on #3247
I'm already trying to make usb work but was stopped by issues @irgendwie reported in mailing list year ago in "usb_drv error -92 for RPi". In consequence I'm trying to port dwc2 driver from linux.

Nevertheless it will be much better to have a reference implementation working for comparison. Probably I'll try to run current version on rpi zero if I need to compare behavior differences.

[2019-03-25 11:30] nfeske commented on #3249
@m-stein According to my experience, weaker platforms are especially useful for investigating performance issues because they are more unforgiving. The observations of @skalk have most certainly not much to do with "our rpi support" but they instead point at a systemic issue.

[2019-03-25 11:32] ehmry commented on #3252
Ok, incoming patch...

[2019-03-25 11:46] m-stein commented on #3238
Sorry, I definitely should have communicated this better. My intention was not to disregard any other approach. I'm not sure about which one is "better" in the end and just wanted to start with one.

Actually, the thought that I had when using the <events> approach over the <expect> approach was not that it's just a matter of taste. The <expect> approach depends on the fact that there are only two

[2019-03-25 11:56] m-stein commented on #3249
@nfeske Looking at the imxq6 result of hw, I didn't get the feeling that the issue most certainly hasn't much to do with "our rpi support".

[2019-03-25 12:44] nfeske commented on #3235
Thanks @rite. I merged your commit to staging.

[2019-03-25 12:49] nfeske commented on #3232
Thanks for the fix @alex-ab. I merged https://github.com/genodelabs/genode/commit/07c1ff30fa5e77d54073d41de0ffc84af235db54 to staging.

[2019-03-25 12:56] nfeske commented on #3236
I have no good idea how to solve it in a non-quirky way without enhancing the `Weak_ptr` mechanism to support the destruction of weak objects.

As interim solution, I see two options. First, given that the wm is not multi-threaded, the "locked" part of the `locked_ptr` is actually not needed here. So we might drop the call of `lock_for_destruction`, or better replace the call by a comment that poi

[2019-03-25 13:05] nfeske commented on #3251
Thanks for the beautiful commit series, which I just merged to staging.

[2019-03-25 13:06] nfeske commented on #3250
Thanks, merged to staging.

[2019-03-25 13:08] nfeske commented on #3196
Now with Sculpt CE out of the door, I merged @alex-ab's commits for VBox and Seoul to staging.

[2019-03-25 13:16] nfeske commented on #3192
Reviewing https://github.com/alex-ab/genode/commit/47e3675b30cab25ea05da15789933797901c8732, shouldn't the kernel-memory usage info go to a data structure different from `Execution_time`?

I'm actually not quite convinced that the kernel memory should be associated with a trace subject. Kernel memory is accounted to a PD whereas a trace subject corresponds to a thread.

To export kernel-memory sta

[2019-03-25 13:27] nfeske commented on #1784
The commits already very nice. Please see my inline comments.

[2019-03-25 13:30] nfeske commented on #2116
@alex-ab I merged your commit to staging but I haven't managed to get a grip about that problem it addresses. Can you leave a short note about the circumstances of the problem?

[2019-03-25 14:11] nfeske commented on #3111
Regarding the implementation of `Vm_state::reset`, wouldn't the following do the trick? (If `Register` had a default constructor that sets `_valid` to false, of course)

[code]

Since this is quite superficial, the `reset` method could be dropped, actually.

[2019-03-25 14:16] nfeske commented on #3111
Commit 0911a4976ab4e2ebcf0a51acef0abfced83dd131 looks very nice. I like your attention to detail with describing the intention of the code (comments, naming). Even though the topic is complex, I'm not feeling lost.

[2019-03-25 14:29] nfeske commented on #3111
Commit cb7f7682c5012c00e32190df769b1436cebdbdef looks tidy and neat. Please look out for the inline remarks. Of course, my review remains shallow at this point.

What is the plan about the commented out code portions? (`#if 0`)

[2019-03-25 15:28] cproc opened #3253 "nova: '.init_array' not sorted correctly"
When trying to link the NOVA kernel with binutils 2.32, the linker reports syntax errors in the linker script (hypervisor.ld) for these lines:

[code]

There has been a binutils commit [1] which mentions that `SORT_BY_ALIGNMENT` and `SORT_BY_INIT_PRIORITY` for file names had previously no effect and are now considered an error.

When building the kernel with the current tool chain and adding the `

[2019-03-25 15:29] tomga commented on #3249
@m-stein Currently sold Rpi Zero models use bcm2835 chip - the same as in Rpi1 so work wouldn't be wasted. If/when I succeed with rpi3 I'd like to work on support for other models.

@skalk Is there a reason why you did not put result for rpi on foc? I've seen that support for rpi on foc was available. Maybe this would help to diagnose the problem?

[2019-03-25 18:51] m-stein commented on #2470
I've spend some hours debugging the nic_router_stress test on several platforms. One problem is the destruction of an undissolved signal context during the constructor of the Packet_stream_source while creating a new NIC session. But I haven't found a fix for this so far.

[2019-03-26 06:55] skalk commented on #3249
@tomga the reason is that we currently do not test Fiasco.OC/rpi in our nightly infrastructure. Support for rpi on foc was a community effort several years ago, but nobody was actively using it for a longer time. And nobody actively maintained it. Actually, I wanted to move that platform (I mean kernel/board combination) and some more - all that are not regularily tested in our Lab - into genode-w

[2019-03-26 07:59] tomga commented on #3249
I didn't know that support for Fiasco.OC/rpi was a community effort and that it was not maintained and not tested regurlarly. I've seen on mailing list last year that it was working at that moment and thought that results could help with diagnosing this problem.

[2019-03-26 09:16] skalk commented on #3249
Well, I expect it to work in general, because AFAIK there are no rpi specific corners in our base-foc support. So if you like to measure differences to hw kernel I think it is possible. The actual support for rpi 1 was brought in by Reinier Millo Sánchez in 2015. I thought most discussion in the past month on the mailing list were efforts to run on rpi 3, but maybe I've missed something.

[2019-03-26 09:25] alex-ab commented on #3111
Will try to do so.

[2019-03-26 09:25] alex-ab commented on #3111
Will be just removed.

[2019-03-26 09:25] nfeske commented on #2116
The build of the vbox5-nova depot archive fails now:
[code]

@alex-ab Could you please have a look?

[2019-03-26 09:37] nfeske commented on #3251
There is a build problem with the depot archive bin/x86_64/base-hw-muen:
[code]

From a distance, it seems to be caused by https://github.com/genodelabs/genode/commit/45eb50573305d443670ce7c61f6e243eb28a27d2.

[2019-03-26 09:42] alex-ab commented on #2116
@nfeske: please add ee04ccec3b7b7f573a547cd2fa57db8f3aaf846b as fixup

[2019-03-26 09:45] alex-ab commented on #2116
The original commit created per TCG allocation a dataspace, which leads to out of capability exceptions. As written in the commit, e.g. a 9GB VM required 2500 more caps then before the commit, so this was not going to work.

[2019-03-26 09:48] tomga commented on #3249
Yes, currently I'm trying to make changes for rpi 3 but I'd like to work on rpi support for other models later as they don't seem to differ much.

[2019-03-26 10:12] skalk commented on #3251
@nfeske thanks for reporting, I'll have a look

[2019-03-26 10:31] nfeske commented on #2116
This part I understood. But I was missing the problem addressed by the original commit (when does the recompiler error occur?).

[2019-03-26 10:38] m-stein opened #3254 "imx6q_sabrelite: No run script for depot_autopilot"
The nightly depot-autopilot tests for this platform are not running and not even marked as missing because the run script is not found:
[code]

[2019-03-26 10:45] alex-ab commented on #2116
The reason is, as mentioned in earlier commits, vbox stores pointers at some places in form of base + offset, whereby offset is int32_t. The assertion triggers, or more badly silent corruption occurs, whenever two allocations are more than the int32_t away (e.g. 1 << 31). Before the commit the libc mem alloc implementation was used for the REM compiler, where allocations can be arbitrary apart, e.

[2019-03-26 10:49] nfeske commented on #2116
Thanks for the recapture, @alex-ab. Did you happen to have a way to stable way to reproduce the problem (like a specific vbox config)? I'm asking because I have (luckily) never experienced it myself.

[2019-03-26 11:04] alex-ab commented on #2116
I'm personally had not this issue, but please read the referenced #2095 issue which lead to this issue. The anecdotes showcases quite nice the trouble you may get.

[2019-03-26 11:07] nfeske commented on #2116
Oh yes. Thanks for the pointer, and for the remedy!

[2019-03-26 12:31] cnuke commented on #3254
@nfeske please merge c7cb02f to staging.

[2019-03-26 12:33] nfeske commented on #3254
Thanks. Merged to staging.

[2019-03-26 12:42] m-stein commented on #2470
@nfeske These two should fix the nic_*_stress issues:
28770f1eac Fixup "nic_router/nic_bridge: free MAC addresses" (nic_router_stress: fix sel4/foc/fiasco)
5e375ec803 Fixup "nic_router/nic_bridge: free MAC addresses" (nic_stress: handle exception)

[2019-03-26 12:52] m-stein commented on #2470
@nfeske I forgot this one:
0fdb30d181 Fixup "nic_router/nic_bridge: free MAC addresses" (nic_bridge_stress: fix sel4/foc/fiasco)

[2019-03-26 12:55] nfeske commented on #2470
Thanks a lot @m-stein! I merged the 3 fixups to staging.

[2019-03-26 12:59] skalk commented on #3251
@nfeske here is a fixup commit 8526348e797c75c12bfa6c390b49c2e4b212ab76 for Muen

[2019-03-26 13:03] nfeske commented on #3251
Thanks Stefan!

[2019-03-26 13:04] skalk commented on #3254
@cnuke thank you for fixing the regression that I produced!

[2019-03-26 13:26] nfeske commented on #3240
Just a quick status, thanks to your image, @tomga, I can reproduce the problem manually now. :-) Investigating...

[2019-03-26 14:00] m-stein commented on #2999
I'd like to lay this issue to sleep again, but for everyone who wants to have deterministic MACs/IPs I'll keep these two patches online:
e5826acf6a wip "nic_router: \<assign\> tag for DHCP servers"
71407a5e6b wip "nic_router: first_mac attribute in session policies"

They should work just fine as long as you don't touch ``<assign>`` or ``first_ip`` on re-configuration (don't remove, add, or modify

[2019-03-26 14:00] #2999 closed

[2019-03-26 14:10] #2983 closed

[2019-03-26 15:03] nfeske commented on #3240
I found and fixed the issue in https://github.com/genodelabs/genode/commit/f346bfa740f93ead3efc053d245900cc9cf48865. Thanks again @tomga for your splendid support! :-)

[2019-03-26 15:18] alex-ab commented on #3111
@nfeske: I incorporated your comments so far and added a working version for Fiasco.OC ( https://github.com/alex-ab/genode/commits/issue_3111). Will continue to re-enable the sel4 version.

[2019-03-26 15:32] nfeske commented on #3111
The commits look very good now. Thanks for incorporating my remarks. I'd be ready to merge the commits tomorrow, if you agree.

[2019-03-26 19:10] cproc opened #3255 "tool_chain: make sudo command configurable"
By default, the 'tool_chain' script installs the tool chain in '/usr/local/genode-gcc' using the 'sudo' command. To install the tool chain somewhere else (for example in a user home directory), it is already possible to override 'INSTALL_LOCATION' on the command line, but still 'sudo' is called, which might not be allowed on a multi-user system. A 'SUDO' variable which is 'sudo' by default and can

[2019-03-26 22:27] m-stein commented on #1806
I've rebased my old avconv work to staging and it the screencast demo is almost running again (using my lxfb file system addition for vfs/libc):
https://github.com/m-stein/genode/commits/1806_screencasts_of_newly_released_features

Next, I'll try to create source archives and a package out of this and then to deploy it on my sculpt machine.

[2019-03-27 08:26] nfeske commented on #3251
Unfortunately, I missed to report another build problem yesterday. @skalk could you please have a look?

[code]

[2019-03-27 09:44] nfeske commented on #3196
The vbox tests `vbox5_genode_usb_hid` and `vbox5_win7_64_share` suffer from this change. @alex-ab may you please have a look?

[code]

[2019-03-27 09:49] alex-ab commented on #3196
I'm already on it.

[2019-03-27 10:14] m-stein commented on #2470
Only on fiasco+x86_32+hardware nic_bridge_stress is still failing:
[code]
I guess it's something with ``parent.exit()``. If so, I'll plan to simply circumvent the call of parent.exit() on fiasco.

[2019-03-27 10:34] alex-ab commented on #3196
@nfeske: please add a585b719cc8c653a88ca29c797d764d1da24f34e to staging

[2019-03-27 10:37] nfeske commented on #3196
Done. Thank you.

[2019-03-27 12:10] ssumpf commented on #3247
Okay, I started some investigation: As @cproc stated it is not a single commit but a possible series of degenerating changes. Between 17.02 and 17.05. the driver starts losing keys. Between 17.05 and 17.08 this becomes so severe that there are no or just 1 of 6 key events. I was able to track this down to commit 47dc70888795d8798aa7cdefe8f008897bf49d1b and will have a look  at the 17.02 range next

[2019-03-27 12:17] m-stein commented on #2470
@nfeske This fix should solve the above mentioned problem:
c3f0f522de Fixup "nic_router/nic_bridge: free MAC addresses" (nic_bridge_stress: fix fiasco ipc error)

[2019-03-27 12:31] nfeske commented on #2470
Thanks for the fixup, which I merged to staging just now. Quirks like this are unfortunate but now this special case is documented in the run script, which is nice. The code de-duplication is all the better.

[2019-03-27 12:36] m-stein commented on #2470
:-)

[2019-03-27 12:50] jjkarcher commented on #3220
May I plead the case for officially supporting VirtualBox?

The main reason is that you can support any reasonably recent Intel/AMD machine by supporting just one hardware target.  In my case, I am running an AMD FX-series desktop and a 2009 MacBook Pro, and Genode runs beautifully in VirtualBox on both.

Since VBox has the "Intel HD Audio" option, one hopes that it's a relatively minor problem (a

[2019-03-27 14:14] nfeske commented on #3111
@alex-ab Should I go forward with merging the current commit series to staging?

[2019-03-27 14:27] alex-ab commented on #3111
@nfeske: My feeling is yes.  I will then just come up with fixup commits if necessary.

[2019-03-27 14:36] ssumpf commented on #3247
83a88d46b7d97e86bb038c981bc9a48f2097edfe breaks hid on Rpi with 17.11.

[2019-03-27 14:42] nfeske opened #3256 "test.run: support init test"
The current version of the test.run tool is not able to execute the init test because the test hosts its configuration in a dedicated ROM module provided by a raw archive, outside the pkg's runtime file.

To accommodate tests like this, the test.run tool must include the content of raw archives in the boot image. This is not possible in the general case because the content is generated according t

[2019-03-27 14:48] nfeske commented on #3111
Done. Crossing fingers about what the the autopilot will tell us tomorrow. ;-)

[2019-03-27 15:19] skalk commented on #3247
@ssumpf I expect this goes together whith what you mentioned before about using the timer service instead of a local clock? Because last commit you mentioned indeed will increase the burden of a mad-going timer-service (all signals are processed that are available). Otherwise, I do not see how that commit relates to usb_hid not working anymore.

[2019-03-27 15:29] m-stein commented on #1806
The demo runs now and avconv seems to read the framebuffer regularly with the right screen settings but for some reason it doesn't produce a valid output file nor does it finish after the configured time:
https://github.com/m-stein/genode/commits/1806_screencasts_of_newly_released_features
https://github.com/m-stein/genode-world/commits/1806_screencasts_of_newly_released_features

[2019-03-27 15:33] skalk commented on #3251
@nfeske I still often forget the packages, here is a fixup commit for it f6a6b0b7871a94aace45ca8f30f8c1b0d25b144d

[2019-03-27 15:56] alex-ab commented on #3111
Added a working version for seL4 by d14f568c6bf96ebc3c72b835dd959c233413d680 and 285d01784d91b827d00f8e129ffa3fe9e74e5704. Admittedly, i will have to come up for foc and sel4 with some fixups regarding the left XXX

[2019-03-27 16:01] nfeske commented on #3251
No problem @skalk. Thanks for the fix. I just added it to staging.

[2019-03-27 16:25] ehmry opened #3257 "Replace global VFS response handlers with local handlers"
The VFS and libc current operate together using a global I/O response handler. This is fine for the libc, but complicates the VFS server and some of the VFS plugins because a reference to the global handler must be passed around to the to notification sites.

Allowing the application to create multiple handlers and attach them to handles simplifiles the plugins and the server. Sending ready-ready

[2019-03-27 16:33] nfeske commented on #3111
Commit https://github.com/alex-ab/genode/commit/d14f568c6bf96ebc3c72b835dd959c233413d680 is an impressive piece of work. And it reeks of anecdotes. ;-)

I have nothing substantial to add. It's good to see that you adapted the use of lambdas as scope-local functions, e.g., in your rework of the `Vm_space` code. In my opinion, it helps to digest the complexity.

It's cool that the back ends for the

[2019-03-27 17:06] ehmry commented on #3257
I have a patch at 5067859d2713011a4e821093c60e571cb6c0eb2e that replaces the global I/O and watch handles and removes the last use of the `Post_signal_hook`. This is a big patch because it was necessary to refactor how the VFS server processes pending packets, but as a result the VFS server can process multiple packets on a single session by strongly associating pending packets with open handles.

[2019-03-27 17:07] ehmry commented on #3257
Noux is unconverted, but I just need to rebase an old patch and test.

Ref #3252

[2019-03-27 17:18] nfeske commented on #3257
I browsed though the patch and it indeed is a substantial improvement. It untangles the parts that I liked the least about the VFS. Thanks @ehmry for this massive effort!

[2019-03-27 19:02] m-stein commented on #3257
:+1: It's cool to see the VFS getting substantially simplified!

[2019-03-27 20:31] ssumpf commented on #3257
Wow!

[2019-03-27 20:47] ssumpf commented on #3247
@skalk: Me neither. The only thing it leads to is that if there is a scheduled first timeout that has not triggered, it gets postponed in case it is overwritten by a following call to `_program_first_timer`. It seems as if any changes to the timing behaviour can break the host controller driver and in turn the hid one on Rpi. I really would like to know why, it does not make much sense right now.

[2019-03-28 09:50] m-stein opened #3258 "test/spark_real_time: relax accuracy expectation"
Multiple platforms fail in this test because the initially chosen accuracy expectations cannot be met.

[2019-03-28 09:52] m-stein commented on #3258
Fixed by:
38b13131ab test/spark_real_time: relax accuracy expectation

[2019-03-28 11:45] cproc commented on #3255
I replaced '=' with '?=' at the suggested places. It didn't matter when putting the redefinitions after the command on the command line, but with '?=' it's also possible to put the redefinitions before the command or to have them in the environment.

[2019-03-28 11:49] skalk commented on #3256
Cool, helpful thing, I experienced similar problems with another test package in the past, but did not had the time to investigate it further.

[2019-03-28 12:02] skalk commented on #3247
@ssumpf: To be honest I cannot re-assemble in my head why commit 83a88d4 did solve problems in hw/arndale. To my shame I did not explained the erroneous behaviour in detail in some issue, and now that information got lost (as long as @chelmuth cannot recapture it).

[2019-03-28 12:59] nfeske commented on #3255
Good. I merged your new commit to staging.

[2019-03-28 14:11] alex-ab opened #3259 "nitpicker: issue mode change signal after domain config update"
After a domain configuration update of nitpicker, no mode change signal is sent to clients in case the dimension got restricted or extended regarding width/height. Without the signal clients can't adjust to new size.

[2019-03-28 16:46] ssumpf commented on #3247
@skalk: Don't worry, https://github.com/genodelabs/genode/commit/83a88d46b7d97e86bb038c981bc9a48f2097edfe is not the root cause for the USB problems on Rpi, but a symptom that something goes wrong there. I hope I can come up with a good solution soon.

[2019-03-29 07:00] nfeske commented on #3259
Thank you for the fix. I must admit that I totally forgot that the size constraint is already implemented in nitpicker. Recently, jus for fun, I tried specifying the `width` attribute in Sculpt's config/nitpicker to no effect and assumed that the feature does not exist. Now, I know better. ;-)

[2019-03-29 07:05] nfeske commented on #3242
Commit e04668eefb752c6daf9b267f67a239851a039198 makes the output deterministic.

[2019-03-29 09:48] #2917 closed

[2019-03-29 11:02] skalk opened #3260 "ARM 64-bit support"
It is time that Genode supports more recent ARM platforms again. To start with the development, I would first enable running Genode's userland on a kernel with existing support for Raspberry Pi 3 to run on top of Qemu. Next to run it on hardware. And lastly to support it in our hw kernel.

[2019-03-29 11:14] skalk commented on #3260
For now, I can successfully boot a Genode/Fiasco.OC image on Qemu and Raspberry Pi 3 hardware. The the kernel complains about an alignment error in core within cmpxchg. I will investigate further.

[2019-03-29 11:46] ehmry opened #3261 "Convert graphical terminal to Nitpicker client"
I would volunteer. Ref #3196

[2019-03-29 13:03] alex-ab commented on #3192
Actually, that was the first version (outdated nowadays), see https://github.com/alex-ab/genode/commits/nova_core_pd_stat_dump. But I have some doubt whether this is something you want to have upstream.

A general support for kernel specific values is in my opinion is more desirable, e.g. in case of seL4 where you can also specify this value per pd.

But I'm fine to host this feature just for me.

[2019-03-29 13:47] alex-ab commented on #3192
I adjusted the priority/quantum commit to provide values for sel4/hw/foc as far as available.

[2019-03-29 15:14] ehmry commented on #3261
I have an initial conversion patch 0d1761d54bfd00dd3f6ec2fd3557021ccf928a5c. There is more work to be done, but not without some deeper refactoring.

I've tested this on my Sculpt host, but I'm no longer able to use the runs scripts in gems, something is always out of sync between the recursive build systems and it takes too much time to work with.

[2019-03-31 15:20] cnuke opened #3262 "pthread: initialize static rwlocks/conds"

[2019-03-31 15:27] cnuke opened #3263 "dde_bsd: make HDMI/DP HDA check stricter"

[2019-03-31 15:43] cnuke opened #3264 "Address potential out-of-bounds write in Audio_out packet handling"

[2019-03-31 16:08] cnuke opened #3265 "libc: always set O_RDWR in fcntl on a socket"

[2019-03-31 16:14] cnuke opened #3266 "libc: fix storing TIOCGWINSZ result"

[2019-03-31 17:17] ttcoder commented on #3261
Off-topic question for @ehmry et al:

Is the "Genode build system" a topic that is worth discussing, maybe off-ticket (on my @netcourrier.com addy ..etc) ? I have a reduced test case which preserves most of the great features of the Genode build system, yet starts compiling after a couple seconds of wait, by opposed to the 10-20 seconds turn-around time I see when using on gmake (invoking "make ag

[2019-04-01 09:30] nfeske commented on #3261
That's great @ehmry!

It would be nice to keep a way to defined the initial window size. We used to do that via the `initial_width` and `initial_height` attributes of `nit_fb`. How about introducing the attributes `initial_columns` and `initial_rows` to the terminal now? (not using pixel values keeps the configuration independent from the screen's DPI)

[2019-04-01 09:53] ehmry commented on #3261
@nfeske, yes that would be a logical next step now that we have a baseline nitpicker client.

[2019-04-01 11:00] nfeske opened #3267 "depot/create: remove stale binary archives on automated version update"
When using the `depot/create` tool with the arguments `UPDATE_VERSIONS=1 FORCE=1 REBUILD=`, depot content is automatically created matching the content of the source tree. If there is a local change, the tool detects that dependent archives must be updated to a new version and perform the version update (`UPDATE_VERSIONS=1`).

However, when switching between different topic branches, it can happen

[2019-04-01 12:21] nfeske commented on #2841
@m-stein I heard rumors that our accommodation has no internet connection. Maybe it would be a good idea to check back with the nice people from Ferdinands Homestay and, if there is indeed no internet, draft a plan to use LTE together with a wireless hot spot or something similar?

[2019-04-01 12:25] m-stein commented on #2841
As far as I remember, they told me that there'll be an Internet connection (and I stated this also in "Date and Accommodation"). But I'll ask them again and then post an update.

[2019-04-01 12:38] ehmry opened #3268 "Shift Sculpt Leitzentralle CPU affinity"
Would pinning the Leitzentralle and depot management components to a different CPU reduce the amount of scheduling interference between user-depoyed system and the administrative system? I assume that the first CPU has better performance than the second due to cross CPU RPC, but if the Leitzentralle is only used occasionally then I expect it would be fine to push it back to a second core?

[2019-04-01 12:59] nfeske commented on #3268
Indeed. I vaguely remember that I already did this in the past (to a quite positive effect - at least regarding the fading). But I apparently missed to merge this change to upstream.

[2019-04-01 13:02] nfeske commented on #3267
@ehmry Could you give commit https://github.com/genodelabs/genode/commit/d6c9ce44031609c6d44f574eaf6b77dea637cbf5 a review and a try? Now, whenever a binary archive with conflicting versions is detected, you should see a message and the binary archive is removed from the depot. It would be interesting for me to know if this solves one source of the troubles you reported in #3261.

[2019-04-01 13:15] ehmry commented on #3257
I have a documentation fixup at cd9a78559f03795f81257d6d1ec8e994d4bdb45c, the Noux conversion at 7022dd41db51a0fe86a0edce17fa9a8a41d88fc5, and an lxip fix at 4d166041109c18894db7712bfd2251b5704504e1.

[2019-04-01 14:07] ehmry commented on #3257
Lwip fixup at cc519df21aac70c7993d10aa0d5e8474e6315007

[2019-04-01 14:09] ehmry opened #3269 "lwIP nameserver file not available over File_system sessions"
When the lwIP plugin is hosted by the VFS server the nameserver file cannot be opened by clients because the VFS server cannot open a handle on the root of the lwIP plugin.

[2019-04-01 14:10] ehmry commented on #3269
Fixed at 9a9097ef707a588de4a5f245248445d04d4a8672.

[2019-04-01 15:30] nfeske opened #3270 "Update depot content implicitly via run script"
As remarked by @ehmry in https://github.com/genodelabs/genode/issues/3261#issuecomment-478034969, the interplay of the depot with the run scripts can become frustrating because the creation of missing or outdated depot content requires manual steps. To accelerate our work flow, it would be nice if the execution a run script automatically triggered the creation of depot content and update depot-arc

[2019-04-01 15:34] nfeske commented on #3270
@ehmry would you like to give https://github.com/nfeske/genode/commit/e18cfd44248d0e59035f24da5f0d3c6bbe488618 a try?

[2019-04-01 15:49] ehmry commented on #3270
Yes, much better.

[2019-04-01 22:23] tomga commented on #3249
Not sure if it helps but on rpi3bplus this test finishes in 133 seconds. Given that processor frequency is two times slower in rpi1 then rpi1 doesn't need much more to finish. On the other hand processor in rpi3bplus has higher frequency but worse test performance than IMX6. Probably it will need to be investigated in the future.

[2019-04-02 08:40] skalk commented on #3249
@tomga thank you for your insights regarding rpi3. I'm not sure how they relate to the rest. Currently, I enable rpi3 for Genode too. As first low-hanging-fruit I address Fiasco.OC. Let's see what we get there, and whether it is related to the hw-kernel, like numbers suggests that I've posted before.

[2019-04-02 08:52] #3198 closed

[2019-04-02 08:52] #3212 closed

[2019-04-02 08:52] #3213 closed

[2019-04-02 08:52] #3234 closed

[2019-04-02 08:52] #1292 closed

[2019-04-02 08:52] #1313 closed

[2019-04-02 08:52] #2699 closed

[2019-04-02 08:52] #2961 closed

[2019-04-02 08:52] #3055 closed

[2019-04-02 08:52] #3066 closed

[2019-04-02 08:52] #3229 closed

[2019-04-02 08:52] #2470 closed

[2019-04-02 08:52] #3087 closed

[2019-04-02 08:52] #3216 closed

[2019-04-02 08:52] #3237 closed

[2019-04-02 08:52] #3250 closed

[2019-04-02 08:52] #3251 closed

[2019-04-02 08:52] #2116 closed

[2019-04-02 08:52] #3240 closed

[2019-04-02 08:52] #3244 closed

[2019-04-02 08:52] #3255 closed

[2019-04-02 08:52] #3259 closed

[2019-04-02 08:52] #3267 closed

[2019-04-02 08:55] alex-ab commented on #3232
Fixed on master by c19c5ed0a4b1ca1e18d4c5a3b6f9fb03bf3f21e8

[2019-04-02 08:55] #3232 closed

[2019-04-02 09:04] nfeske commented on #3258
Since this issue is about a side effect of #3225, I'd like to close it and continue the discussion there. @m-stein do you agree?

[2019-04-02 09:07] m-stein commented on #3258
Of course.

[2019-04-02 09:07] #3258 closed

[2019-04-02 09:09] nfeske commented on #3256
Fixed in master.

[2019-04-02 09:09] #3256 closed

[2019-04-02 09:09] nfeske commented on #3254
Fixed in master.

[2019-04-02 09:09] #3254 closed

[2019-04-02 09:12] nfeske commented on #3238
Yesterday, I temporarily removed the instrumentation from staging in order to update the master branch today. Interestingly, this night's results (w/o the instrumentation) seem to contain quite a few more false negatives compared to the days before. Heisenberg effect?

I just re-added the instrumentation to staging again.

[2019-04-02 09:13] nfeske commented on #3242
Fixed in master.

[2019-04-02 09:13] #3242 closed

[2019-04-02 09:13] nfeske commented on #3241
Fixed in master.

[2019-04-02 09:13] #3241 closed

[2019-04-02 09:14] nfeske commented on #3235
Fixed in master.

[2019-04-02 09:14] #3235 closed

[2019-04-02 09:27] nfeske commented on #3266
Merged to staging.

@cnuke Would you mind sharing the background of this fix? By looking at the commit, I am unable to infer the situation where the previous implementation was a problem.

[2019-04-02 09:28] nfeske commented on #3265
Merged to staging.

[2019-04-02 09:30] ehmry commented on #3270
Now it seems everything gets rebuild on every run - `UPDATE_VERSIONS=1 FORCE=1 REBUILD= KEEP_BUILD_DIR=1`.

[2019-04-02 09:39] cnuke commented on #3266
@nfeske it used `arg` to store the information (which at this moment points to the memory location `0). Now it uses `argp` that points to the user allocated memory.

[2019-04-02 09:57] ehmry commented on #3270
I take it back, just the api and source archives.

[2019-04-02 10:06] m-stein commented on #3238
@nfeske Thanks for doing so. Would be reasonable that the diagnostics influence the bug. They definitely slow down the log parsing a bit. I'll reserve some time for it today.

[2019-04-02 10:50] ehmry commented on #3257
Fixup for menu_view at 39297357e5e2e8a988f2cc2c9bd4d44b75a607a9.

[2019-04-02 13:00] ehmry commented on #3261
I have an additional commit that trims the terminal window down to a clean single-pixel border at c6c05b0cdc804c114e3de80215cf1a2c05dccf6c. I tried to include support for `initial_[columns|rows]` configuration, but it seems to be overriden by the window manager immediately.

[2019-04-02 13:10] ehmry commented on #3269
I have a fixup for the unused arguments at b18692db99dc57789b7be1139bfb9880fde7577c.

[2019-04-02 13:10] nfeske commented on #3261
@ehmry I have trouble reviewing your commit. It touches so many things. Some things seem to be on the account for different tastes while others are important. But I'm unable to keep those things sorted.

According to my experience, the resize handling is a very delicate issue. I spent days to get it right. So I don't feel well with the complexity of the commit that touches this part of the code.

[2019-04-02 14:05] nfeske commented on #3269
Thanks @ehmry. I merged both commits as one to staging.

[2019-04-02 14:05] nfeske commented on #3257
I merged the commits squashed into one to staging now.

[2019-04-02 14:39] nfeske commented on #3257
The commenting of the VFS is great. It is quite a pleasure to read the code now.

[2019-04-02 14:58] nfeske commented on #3192
@alex-ab I merged the four commits.

The PD-stats ROM looks quite useful, too. But you are right that the patch is quite invasive.

Maybe it could be simplified by removing the signalling but letting the client poll for new versions by calling `update` (the polling would be at the client side).

The `Object_pool::apply_all` approach with fishing out the `Pd_session_component` objects with dynamic

[2019-04-02 15:21] m-stein commented on #3238
I didn't find the time to investigate today because of discussions with the others. I'll try to go on tomorrow.

[2019-04-02 15:37] alex-ab commented on #3192
@nfeske: thanks

[2019-04-02 16:30] ehmry commented on #3257
I have a fixup for the watch handler accessor at c4c8f145b814e9a9283281d635e76005d037372c, its not used anywhere so its easy to fix.

[2019-04-02 16:37] ehmry commented on #3257
Or it can be removed with 03db95f6f53b189cf4d62f5da1c40b75a2398d6d.

[2019-04-02 16:40] nfeske commented on #3257
Thanks Emery for the fixups, which I squashed to ca113b740b14e55f74e9faf86e67fa7920cf649a.

[2019-04-02 18:52] alex-ab commented on #3253
@cproc: thanks for the analyses - please try https://github.com/alex-ab/NOVA/commit/ae81da16023382bec80642376d77bf6927188125 with your new toolchain

[2019-04-03 05:03] trimpim opened #3271 "noux: e2fsprogs fix ismounted"
Creating an ext2 filesystem on a sd_card (no partitions) fails with an error message that says the device is in use (platform imx6).

[2019-04-03 05:16] trimpim opened #3272 "sd_card_drv: imx increase multiblock transfer timeout"
Disconnecting a client and connecting an other to the sd_card_drv on imx6 results in a "Completion host signal timed out" error in the newly connected client.

[2019-04-03 08:55] ssumpf opened #3273 "toolchain: update RISC-V to gcc 8.3.0"
* build toolchain/binutils for RISC-V ISA version 1.9.1
* make Genode's RISC-V port compile with toolchain
* switch from Spike emulator to Qemu 3.1
* check dynamic linking support (was eager, might be lazy by now)
* check floating point support (issue https://github.com/genodelabs/genode/issues/2481) and maybe implement support in kernel

[2019-04-03 09:00] ssumpf commented on #3260
@skalk: Please let me know when the foc version reaches a state where I can enable dynamic linking support.

[2019-04-03 09:02] ssumpf commented on #3273
Since there is no general toolchain update issue I gonna base this on https://github.com/cproc/genode/tree/tool_chain-20190402

[2019-04-03 09:27] skalk commented on #3260
@ssumpf I certainly will do so in the very near future ;-)

[2019-04-03 09:38] nfeske commented on #3192
The depot autopilot reports some failures that may be related to this issue. In particular, test-trace and test-trace_logger on OKL4 are affected.

[2019-04-03 09:46] nfeske commented on #3257
According to the nightly tests, the following tests are worth looking at:

* rump_ext2 on many platforms, e.g., NOVA on Qemu
* test-libc_vfs on OKL4 on Qemu (depot autopilot)

[2019-04-03 09:49] nfeske commented on #3269
The nightly tests show trouble with netperf_lwip on many platforms (e.g., NOVA on hardware):

[code]

[2019-04-03 09:51] nfeske commented on #3257
* depot_download on NOVA on Qemu is affected similarly, with lots of messages like this:
[code]

[2019-04-03 09:53] nfeske commented on #3257
Not sure if related, but in the cpu_sampler_noux test on NOVA on Qemu/x86_64, Noux dies with the following message:
[code]

[2019-04-03 09:56] nfeske commented on #3269
The nic_router.run script fails now on many platforms, e.g., NOVA on Qemu/x86_64.

[2019-04-03 10:00] nfeske commented on #3257
The noux_tool_chain_auto.run script is now broken on all platforms. On NOVA/x86_64, the following message appears in the log:

[code]

Looks similar (same IP) to the one of cpu_sampler_noux.

[2019-04-03 10:04] nfeske commented on #3257
In the vfs_import.run test on NOVA/x86_64, noux apparently gets stuck.

[2019-04-03 10:10] skalk commented on #3260
@ssumpf ok, I'm done with bootstrapping core. It now likes to use ld.lib.so which obviously fails. You find my current work on my topic branch named issue#3260

[2019-04-03 10:15] nfeske commented on #3257
As a good news, there is not a single build error. ;-)

[2019-04-03 10:51] ssumpf commented on #3260
@skalk: Thanks, will start with dynamic linking immediately.

[2019-04-03 11:04] alex-ab commented on #3192
Please consider 153c593f3d9e81960ec651c70a2e4b3640786225 as quick workaround for the limited UTCB size of OKL4. As discussed off-line, the general direction would be to switch to a shared-memory/ROM approach in the future for requesting the Subject_info data.

[2019-04-03 11:31] alex-ab commented on #3111
a9991fe3a25dc611c54c927260b3056af1ad49ad and 5d21f7b63f1827f3a7199dd6b8d353be1ffe2780 are the proposal to implement the dataspace tracking and free-up in core via the vm_session interface. At the momemnt solely nova and hw are part of the commit (sel4 and foc is WIP).
@nfeske: may you please have a look whether the general direction is ok
@skalk: please check the hw part

[2019-04-03 11:48] nfeske commented on #3192
Thanks for the fixup and the background info. I'd be glad about switching the mechanism over to the use of the dataspace as done for requesting the subject IDs.

[2019-04-03 11:56] nfeske commented on #3272
Thanks for the fix, which I merged to staging just now. It is very much appreciated.

[2019-04-03 11:58] nfeske commented on #3271
Thanks @trimpim! Merged to staging.

[2019-04-03 12:03] nfeske commented on #3111
@alex-ab Yes, https://github.com/genodelabs/genode/commit/a9991fe3a25dc611c54c927260b3056af1ad49ad looks very good to me. It reflects perfectly our offline discussion we had yesterday.

[2019-04-03 12:59] nfeske opened #3274 "Add SYNC and TRIM as async I/O operations to block session"
The current block-session interface should be improved in the following respects:

* The `sync` operation is currently an RPC function. It should be an asynchronous operation to ensure the consistent ordering of sync operations with pending read/write requests. This change would also simplify server implementations if they depend on asynchronous I/O for implementing sync. An blocking RPC is bad in

[2019-04-03 13:30] nfeske commented on #3274
Until now, each packet of the block session could be uniquely identified by its offset into the payload buffer because each packet - by definition - owns a disjoint part of the packet-stream buffer.

The new operations SYNC and TRIM do not have any payload. Hence, the offset does no longer suffice to uniquely identify packet descriptors. E.g., when a client issues two consecutive SYNC requests, bo

[2019-04-03 13:40] ehmry commented on #3257
I suppose the other good news is that the tests work...

Fixup for Noux at ec8e562c47eabcbe3a4862fb93a067889d44e077.
Fixup for unknown handles at 0934e43b1d3f19988fc60f0aed9df5de67efecda.

[2019-04-03 13:49] nfeske commented on #3257
Good news indeed. Merged to staging.

Do you have a plan for the XXX that you added to the libc, @ehmry?

[2019-04-03 13:50] cnuke commented on #3274
Fine with me.

[2019-04-03 14:02] ehmry commented on #3257
I would consider adding a flag that marks a handle as written, otherwise I would not want a sync packet round trip when opening a file to test for its presence.

Fixup for lwIP at 911ca56267b531c4c7e9709b87e6c70ff275fc96.

[2019-04-03 14:03] nfeske opened #3275 "block_session: remove Block::Session::Operations"
The `Block::Session::Operations` class was meant for the negotiation of the block session's features between client and server. But some years down the road, it turns out that the only meaningful distinction exists between read-only and read-writeable sessions. Still, all block servers are bothered with the clunky `Operations` definitions.

As a preparatory step for issue #3274, I'm going to repla

[2019-04-03 14:09] nfeske commented on #3257
Thanks a lot, @ehmry!

That's also my line of thinking. Right now, we'd get the round-trip for each close, right?

[2019-04-03 14:18] m-stein commented on #3274
Fine with me too.

[2019-04-03 14:30] ehmry commented on #3257
Yes, and `int access(const char *path, int mode)` is deprecated, so applications should be using open.

[2019-04-03 14:57] nfeske commented on #3275
Instead of introducing a new `writeable` RPC function, I'm going to change the current `info` RPC function to return a structured type, which includes the `writeable` attribute.

[2019-04-03 15:01] cnuke commented on #3275
Not that I have specific use-case in mind but maybe it is reasonlable to also add a `readable` attribute (I'm thinking along the lines of a append-only block device). Than again such a attribute could be added when the need arises.

[2019-04-03 15:04] nfeske commented on #3275
In principle, it is easy to add further attributes but I'd wait for the actual use case.

[2019-04-03 19:16] nfeske commented on #3275
Commit https://github.com/nfeske/genode/commit/f3579460851efb69cd497f89f84f0836634a148b implements this idea.

[2019-04-04 06:32] chelmuth commented on #3247
I can remember that we analyzed the code thoroughly and identified an execution where (because of the programmed flag) a timeout was lost because it was not executed and also not reprogrammed.

[2019-04-04 09:32] skalk commented on #3247
Ok, to sum it up. We had a performance optimization for lots of timeouts in dde_linux, which did not work correctly in all cases. But removal of the optimization finally killed the high-load, shaky usb-driver for rpi that already flood the cpu with many interrupts because of micro-frame scheduling in software?!
Given that this analysis is correct, the fix would be to performance-analyze and optimi

[2019-04-04 09:44] ehmry opened #3276 "VFS block plugin test"
For better or worse the block plugin of the VFS still blocks for packet round-trips to the block service, with implications for VirtualBox and the EXT2 tools.

I would like to convert this make asynchronous I/O and write tests for using the the plugin from Noux, because #3257 shows that there is a shortage of Noux I/O tests.

[2019-04-04 09:48] nfeske commented on #3276
I agree. But since I'm currently busy with reworking the block-session interfaces, let's postpone this idea until I'm finished with #3275 and #3274.

BTW, this is related to #2263. So I'm happy that you identified the VFS block topic as interesting to work on. ;-)

[2019-04-04 09:50] ehmry commented on #3276
I would still go through with a conversion for the sake of testing, but postpone merging until the session changes are finalized.

[2019-04-04 10:02] alex-ab commented on #1921
My analyses was wrong, since I missed that the removed functionality was re-added by eb236a1a10f9ca72df5cf47eb56fc1127acc1a75.

[2019-04-04 11:16] #3276 closed

[2019-04-04 11:16] ehmry commented on #3276
There is already a test.

[2019-04-04 11:46] cproc commented on #3253
@alex-ab: it works with your commit

[2019-04-04 13:04] alex-ab commented on #3111
The commits on https://github.com/alex-ab/genode/commits/issue_3111_dataspace contains 4 commits which implement the tracking and freeing of dataspaces used via the vm_session for foc/sel4/hw/nova.

[2019-04-04 13:31] ehmry commented on #3257
I'm worried that the changes to Noux are too drastic would like to partially revert them, fixup at 341ee291e18be2906b1f3d900140f61ffee8e82d.

[2019-04-04 13:44] skalk commented on #3111
@alex-ab I've tried to follow the changes as far as possible. Apart from the one question I've asked inline, I have no objections.

[2019-04-04 13:56] nfeske commented on #3275
Commit https://github.com/nfeske/genode/commit/a11da5d784a72cc2896efd13be31dab6ba237365 presumably covers all block components in the source tree. @cnuke, could you please have a glance?

[2019-04-04 14:30] chelmuth opened #3277 "hw: nic_router test triggers kernel re-entrance"
On imx53qsb and x86_64, we got the following log last night.
[code]

[2019-04-04 14:32] cnuke commented on #3275
@nfeske thanks for updating the components. So far it looks good. I'm only wondering if we should break the compatibility of Block components immediately without prior notification.

[2019-04-04 14:34] skalk opened #3278 "vmm_arm.run: independance from drivers"
The current exemplary automated run-script to test the ARM virtualization extension support in base-hw is dependent on a UART driver of the corresponding Arndale board - the only hardware we used for this until now. In preparation to move the test to other hardware as well (imx7d_sabre), and because it is no good idea in general to share the same UART device in between kernel and userland driver.

[2019-04-04 14:45] skalk commented on #3277
@chelmuth I will have a look.

[2019-04-04 17:55] ssumpf commented on #3260
I am happy to write that dynamic linking is working on ARM 64-bit. 09f767b and 78b6786dc8813a05fa4af469fde0383006799c13 will do the trick. In order to test this I have revived `ldso.run` with 6abefdaadeb0dfdd462e57f25e274175bc1efd9d (@nfeske, @chelmuth : would it be possible to get `ldso.run` back to staging, since it is such a low level component? If not, I can always cherry pick, so no problem).

[2019-04-04 18:17] nfeske commented on #3260
Great news, @ssumpf!

Does the following command work for you?
[code]

It uses the information from the test recipe but sidesteps the use of the depot, as described here: http://genodians.org/nfeske/2019-02-05-shortcut-for-testing

[2019-04-04 18:59] nfeske commented on #3260
BTW, I just added the commit https://github.com/genodelabs/genode/commit/8b92dc217a537485809519f988d5b6d0a2b6e967 to staging, which makes test-ldso work completely with test.run, including the matching of the log output.

[2019-04-04 19:06] nfeske commented on #3278
That's a cool idea!

[2019-04-04 21:19] m-stein commented on #3260
@ssumpf @skalk Wow, what an advance!

[2019-04-04 21:20] al-sharp commented on #3208
I am suspicious this is related to the QTimer issue noted (April 1, 2019) on the User list, (repeated below). This is intended to be a long running application btw (months). One puzzle is that the issue seems to persist for me with 64-bit builds.

See also: https://forum.qt.io/topic/100981/qtimer-seems-to-just-stop  (that's me).

[2019-04-05 06:36] ssumpf commented on #3260
@nfeske: 8b92dc2 works like a charm. Cool and thanks for the reminder.

[2019-04-05 06:42] skalk commented on #3260
@ssumpf well, that was fast! Thanks for immediately stepping into the linker enablement.

[2019-04-05 07:23] nfeske opened #3279 "Rename Block::Request_stream::wakeup_client to wakeup_client_if_needed"
The name `wakeup_client` is prone to misinterpretation. So let's better be more explicit that this method does not produce costs on every call.

[2019-04-05 07:37] nfeske commented on #3275
@cnuke your remark to be careful about the API change is appreciated.

After sleeping over it, I think that the risk to disrupt Genode users should be acceptable as users rarely deal with the development of block-level components directly. So most breakage happens within our tree where we can take care. In genode-world, there are two components (lwext4 and blk_shred) that I will adjust once the co

[2019-04-05 12:22] skalk commented on #3277
Again, the kernel tried to print using `warning`, but core's console log was held by a core thread at that time. We have to find a general solution here, but for the time-being I've eliminated all direct calls of log/warning/error in the kernel and replaced it by `raw`, which is lock-free.

[2019-04-05 12:25] skalk commented on #3277
@chelmuth please, consider commits 356eab2 and 5130c1f for staging, it fixes this issue for the time being. A solid, general fix for the log/lock problem in base-hw is necessary, but should be part of a separate issue.

[2019-04-05 12:31] skalk opened #3280 "hw: core's Log console is thread-safe and should not be used by the kernel context"
Lastly issue #3277 again showed this structural problem in base-hw's kernel/core implementation. The background is the following: as we have log/warning/error spread around in Genode's base code it can badly interfer when base-hw's kernel context's code path stripes one of those printing routines. The reason is that they require to take a lock, which can be obtained by a core thread. In that case,

[2019-04-05 12:38] tomga commented on #3280
Was this always manifesting with ``re-entered lock. Kernel exception?!`` or could it be dependent on sequence of events?

Many times I had output truncated on rpi3 when I added too much logs to investigate what happens - sometimes in core (pic and timer drivers). I assumed I have some error in uart, pic or timer which I wrote but maybe I was wrong.

[2019-04-05 13:08] ehmry opened #3281 "Libc clock wrap-around"

[2019-04-05 13:53] ehmry commented on #3281
The `clock_gettime` procedure may be unreliable on 32bit platforms after about an hour due to wrap-around in microsecond values. @al-sharp I believe this is the issue you encountered with QTimer.

Fixed at d5f9a108ad75790331c6d66a60ef0d4d2be46fec and 69413b0ec005729b93bf2193dda62b2761380255.

[2019-04-05 13:54] ehmry commented on #3208
See #3281 for a libc fix.

[2019-04-05 14:29] ehmry commented on #3281
I believe fixup 106d077c8c347b0e9adc5e6d1efbaec2e65b092d is more accurate.

[2019-04-05 15:48] ssumpf commented on #3247
I finally was able to track down the correct interrupt handler and with that the code that is executed too late or sometimes just after device disconnects - meaning we receive IRQ XFER URB completions too late - which suggests something is starving within the USB driver on rpi. It does not seems to be the IRQ task. I will investigate further. Thanks to @cproc for the excellent Xinu link (https://e

[2019-04-05 16:53] al-sharp commented on #3281
I will try to backport the relevant part of this to 18.08 and see if I can escape reliving the same hour forever.

Should `time_us` be `unsigned long`?

[2019-04-05 18:13] cproc commented on #2608
Fixed in 27c566c

[2019-04-05 22:04] ehmry commented on #3281
It shouldn't matter, 1 second of microseconds should fit in 20 bits.

[2019-04-07 00:36] al-sharp commented on #3281
I tried this patch (in 19.02 staging actually since backport to 18.08 appears to be a bit of effort). Unfortunately the QTimer application still hangs (screenshot of frozen app below). But I do get a meaningful warning I've never seen before:
[code]
Possibly I failed to fix things up per your latest...I made change to duration.*, ld, and timer.cc.

Regarding `time_us` type,  I must be missing some

[2019-04-07 13:15] ehmry opened #3282 "IPv6 bridging"
I would like to pass IPv6 packets between Nic sessions. The first scenario I would like to implement is a VM that announces itself as an IPv6 router to other VMs on a common link.

@m-stein do you anticipate the nic_router to support both IPv4 and IPv6? If so, would the nic_router domains support one or both protocols?

[2019-04-08 07:21] chelmuth commented on #3282
Maybe I miss something but your initial scenario sounds like bridging, right?

[2019-04-08 07:37] ehmry commented on #3282
Yes, that's right, first I want the `nic_bridge` to support IPv6 and [Neighbor Discovery Proxies] (https://tools.ietf.org/html/rfc4389). If I can get the `nic_bridge` working then I would open another issue for the `nic_router`, but the `nic_router` needs more planning.

[2019-04-08 08:38] skalk commented on #3280
The concurrent usage of the uart by the kernel and a core context was ending up in previously described error (`re-entered lock`) only. What you might have seen is: core messages that are intercepted by kernel messages. So, if you spread `raw` messages (lock-free) into the kernel code that is executed quite often, it gets impossible to read the other core and user messages. But you should not loos

[2019-04-08 08:59] skalk commented on #3208
@al-sharp when you experience the exactly same symptoms on a 64-bit platform, I doubt it is related to this issue.

[2019-04-08 12:56] ehmry commented on #3208
As per the offline discussion I have a list of places where an abstract duration is converted to concrete representation, excluding the timer framework itself:
- repos/ports/src/noux/syscall.cc:837 - GETTIMEOFDAY, CLOCK_GETTIME
- repos/os/src/test/timeout/main.cc:388
- repos/os/src/test/net_flood/main.cc:373 - conversion to seconds
- repos/os/src/server/nic_dump/interface.cc:36 - milisecond durati

[2019-04-08 13:02] ehmry commented on #3208
Places where the Milliseconds and Microseconds objects are used:
- repos/ports/src/noux
- repos/os/src/test/timeout
- repos/os/src/test/net_flood
- repos/os/src/test/fs_report
- repos/os/src/server/nic_router
- repos/os/src/server/input_filter
- repos/os/src/server/nic_dump
- repos/os/src/drivers/*
- repos/os/src/app/ping
- repos/os/src/app/block_tester
- repos/libports/src/lib/lwip
- repos/libpor

[2019-04-08 13:46] m-stein commented on #3208
In an off-line discussion regarding this issue, we agreed on a plan of two steps so far:

1. Consistently use ``uint64_t`` for time values (including the values in Microseconds, Milliseconds). This should fix the problem behind https://github.com/genodelabs/genode/commit/d5f9a108ad75790331c6d66a60ef0d4d2be46fec and therefore render the commit unnecessary. If we should introduce the ``Duration::sec

[2019-04-08 13:59] nfeske commented on #3208
That sounds very good!

[2019-04-08 16:06] m-stein commented on #3282
I don't know how important these features are. Is there a critical use case currently? I don't think that there are really difficult tasks on the way of integrating IPv6 into the NIC router/bridge. But the configuration interfaces of them may receive non-backwards-compatible changes as the interfaces were designed without considering the existence of another IP version.

[2019-04-08 20:01] al-sharp commented on #3208
@skalk that is a good point, and it has been bothering me.  After checking my x86_64 build's specs.conf, I found it to be defective (copy-paste considered dangerous), and it was actually still building 32-bit (!)  On a real 64-bit build, I don't have any problems with QTimer halting.  So, I think the proposed strategy above should help.

[2019-04-09 08:23] alex-ab commented on #3253
@chelmuth: please consider for staging

[2019-04-09 08:56] skalk commented on #3247
Some insights regarding platform performance. We run with the same cpu speed like Linux (~220 BogoMIPS), but when comparing strictly byte-wise memcpy, Linux achieves nearly twice as much to copy in the same time like our kernel or Fiasco.OC:

linux       | hw         | foc
-----------|------------|-----------
83 MB/s | 49 MB/s | 49 MB/s

[2019-04-09 10:31] #3266 closed

[2019-04-09 10:31] #3270 closed

[2019-04-09 10:31] #3257 closed

[2019-04-09 10:31] #3262 closed

[2019-04-09 10:31] #3263 closed

[2019-04-09 10:31] #3264 closed

[2019-04-09 10:31] #3271 closed

[2019-04-09 10:31] #3272 closed

[2019-04-09 10:31] #3277 closed

[2019-04-09 11:24] ssumpf commented on #3247
I implemented `execution_time` on hw in order to use the top tool. On the average the USB driver consumes ~40% (35% ep and ~5% signal proxy) CPU time, the timer ~10%, and about 40% idle thread time. Even though this is a lot,  it still seems to lead to a latency issue.

[2019-04-09 11:49] nfeske commented on #3247
@ssumpf The 40% for the driver looks quite high. If I remember correctly, when executing the driver w/o the IRQ filtering in the kernel, the driver took about half of the CPU time. The filtering mechanism lowered the load to around 20% or less.

[2019-04-09 14:11] ssumpf commented on #3247
@nfeske: That is what I thought too. I think I found a bottle neck: The driver calls `Timer::Connection::trigger_once` about a thousand times per second. This seems to be caused by a self reprogramming timer.

[2019-04-09 14:33] nfeske opened #3283 "Modernized block-session client API"
Currently, block-session clients have a hard time implementing asynchronous I/O correctly because the framework does not aid the client-side implementation. Many clients use the interface in a synchronous fashion to keep things simple. The rare places where the client works asynchronously (part_block), the code is quite complicated. To improve the situation, we should introduce a new API in the sp

[2019-04-09 15:28] ehmry commented on #3269
With pleasure

[2019-04-09 15:28] #3269 closed

[2019-04-09 16:20] chelmuth commented on #3208
I skimmed over the patch and have two remarks.
- when adding `Duration::seconds()` in the final patch the `Duration::trunc_to_plain_*()` functions should be renamed to `Duration::milliseconds()` resp. `Duration::microseconds()`
- anything matching *hours* case-insensitive can be removed

[2019-04-09 16:32] chelmuth commented on #3036
The one (and only) commit referencing this issue entered master. Is there more work pending regarding this issue? In other words: Let's remove the [fixed] tag or close it.

[2019-04-09 16:33] chelmuth commented on #2954
Another issue where I'm not sure about the state.

[2019-04-09 16:54] m-stein commented on #3208
Ah, thanks for this feedback!
I'll apply your suggestions.

[2019-04-10 07:14] ehmry commented on #2954
If we want to remove the `Insufficient_buffer` exception from the VFS, this is the issue to work from.

[2019-04-10 07:15] ehmry commented on #3036
Yes, this is finished.

[2019-04-10 07:15] #3036 closed

[2019-04-10 09:53] alex-ab commented on #3111
Please review the commits on https://github.com/alex-ab/genode/commits/issue_3111_dataspace and consider for staging if applicable.

[2019-04-10 10:17] nfeske commented on #3111
Regardless of the minor inline remark, the commit series looks _very_ good to me. Thanks @alex-ab for improving the allocator-avl as a side effect of your work.

I'd be fine with both merging the series as is and attempt the code-deduplication at a subsequent step, or you refining the commit 58cee210ef04f2564cfff48ba25b3f093bec3fca now. Alex, please decide.

[2019-04-10 10:37] alex-ab commented on #3111
I am fine to take the time now to remove some of the code-duplication.

[2019-04-10 10:38] skalk opened #3284 "hw: ARM hypervisor code unpredicted behaviour"
Currently, the hypervisor exception vector that switches in between guest VMs and Genode host system uses a `cps` instruction within the `hyp` mode to switch to `svc` mode, which causes unpredicted behaviour according to the ARM v7 reference manual (B9.1.2). Until now it wasn't noticed because on the Arndale board - the only board used for virtualization so far - the instruction does exactly what

[2019-04-10 10:43] skalk opened #3285 "vmm_arm: make example independent from Arndale board"
In the future we like to incorporate i.MX7 Dual SABRE into our test infrastructure to also test the virtualization extensions.

[2019-04-10 11:00] m-stein commented on #3208
May I also replace the Kernel::time_t in base-hw (which is always uint64_t) ? If yes, this could be done in a separate commit. Or shall it be part of the "uint64_t"-commit?

[2019-04-10 11:05] m-stein commented on #3208
Furthermore, there is the Kernel::timeout_t in base-hw which is always uint32_t and should definitely become a uint64_t.

[2019-04-10 11:48] chelmuth commented on #3208
Changing the base-hw kernel interface is a completely different work item and should not be addressed in this issue.

[2019-04-10 12:01] alex-ab commented on #3111
@nfeske: I adjusted the commit message and added 4d7d01276f0f9ddb43ad7a196de8b7bcfa514a7b which factors out the common part. Please re-check, thanks.

[2019-04-10 12:11] alex-ab commented on #3192
Most of the features entered master, closing it for now.

[2019-04-10 12:11] #3192 closed

[2019-04-10 12:45] nfeske commented on #3111
Excellent! Thanks for the super quick response.

Should https://github.com/genodelabs/genode/commit/4d7d01276f0f9ddb43ad7a196de8b7bcfa514a7b be squashed to https://github.com/genodelabs/genode/commit/58cee210ef04f2564cfff48ba25b3f093bec3fca to eliminate the intermediate state from the history?

[2019-04-10 12:51] alex-ab commented on #3111
You may try, yes. It could be that you get merge conflicts with the intermediate commits, possibly.

[2019-04-10 13:09] nfeske commented on #3111
There are no merge conflicts. :-)

[2019-04-10 13:13] nfeske commented on #3111
I merged the series with the squashed commits to staging now.

[2019-04-10 13:42] skalk commented on #3208
@m-stein there are good reasons for the differentiation of time_t and timeout_t being 64-bit and 32-bit respectively. On the Kernel syscall API level: time_t denotes the absolute time-value returned by the kernel, whereas timeout_t is a relative timeout value. Both values represent microseconds. The timeout_t type is limited to 32-bit, otherwise we have to introduce additional 64-bit arguments to

[2019-04-10 13:43] skalk commented on #3208
@m-stein To always know what kind of value you operate within the kernel, it is good to have aliases for uint64_t and uint32_t in the form of time_t and timeout_t.

[2019-04-10 13:57] skalk opened #3286 "rump ext2fs: crash and corruption"
I've encountered the following rumpfs crash in my sculpt scenario:
[code]

Afterwards, I did a filesystem check with quite a lot of issues:
[code]

[2019-04-10 13:58] skalk commented on #3286
Interestingly, I cannot remember to interact with the file-system directly by myself, but via VMs and Scult GUI only.

[2019-04-10 14:12] m-stein commented on #3208
@skalk Thanks for this clarification!

[2019-04-10 14:41] cnuke commented on #1784
I updated my [wip](https://github.com/cnuke/genode/commits/file_system_modtime__wip) branch. It now contains a semi-functioning implementation, open issue to consider:

- For one it relies on doing the right thing at the client-side, i.e., calling `utimes()`. This does not happen a newly created files (that includes `cp`ing as well) as that is normally the job of the kernel .
- Apart from the that

[2019-04-10 18:08] cproc opened #3287 "noux: fix noux_gdb run script"
The test itself still does not work on staging, but that's probably unrelated to the run script.

[2019-04-10 18:31] m-stein commented on #3208
With https://github.com/m-stein/genode/commits/3208_timeout_framework_limitation_of_1_hour, I can successfully call make for base and os on x86_64 again.

[2019-04-11 08:44] ehmry commented on #1784
The eager sync has already been identified as a unnecessary and don't see any problems with skipping it for unmodified files.

[2019-04-11 09:18] skalk commented on #3286
As it turned out, it immediately happened again when trying to download the file `L4.14.78_1.0.0_ga_images_MX7DSABRESD.zip` (434MB) into my shared folder. Without changing the shared folder's content, I could reproduce the exact same result 2 times. But when trying to reproduce the same by copying an equally named file of ther same name (with zeroes), I could not reproduce it anymore. The shared f

[2019-04-11 09:18] #3286 closed

[2019-04-11 09:53] nfeske commented on #3286
Thank you for the update, and for the braveness to keep the existing file system. ;-)

[2019-04-11 10:00] cnuke commented on #1784
Yes and the tracking of unmodified files is the thing missing so far.

[2019-04-11 11:07] skalk opened #3288 "noux_tool_chain_auto: enable i.MX6 and i.MX7 reference boards"
To test noux_tool_chain_auto on ARM still in future, we need to add i.MX6 Quad Sabrelite and i.MX7 Dual Sabre to the platforms supported.

[2019-04-11 12:37] m-stein commented on #2841
I'd like to suggest a rough schedule and activities. Please feel free to suggest modifications!

#### Friday
**3 pm:** Arrival at the hostel "Ferdinands Homestay", Halbestadt 51, 01824 Königstein
**Evening:** Settle in and time for hacking
**6:30 pm:** 30 min. walk along the Elbe to the restaurant "Steingut"
**7:00 pm:** Dinner in the restaurant "Steingut"
**Night:** Walk back to the hostel and ha

[2019-04-11 12:53] chelmuth commented on #2841
Thanks @m-stein for your thoughtful planning, I'm 100% with you. As it's only four weeks to the event, everybody should make travel plans as the venue is about 40 min walk (incl. ferry) from the train station in Königsstein.

[2019-04-11 13:51] ehmry commented on #3275
Solo5 fix at 2d9ef64a86fc82eab171cc975794c438b8a01c45.

[2019-04-11 15:38] ehmry opened #3289 "Update Libc"
The current port of the FreeBSD libc lacks support for AArch64, therefore it must be replaced.

I've been working on porting FreeBSD 12.0, and I've gotten as far as running the basic `run/libc` test. The problem with more complicated scenarios like Noux+GNU coreutils is a thread-local-locale quagmire that seems to depend on either native TLS or EmuTLS from GCC.

For what its worth, Musl just puts

[2019-04-11 16:01] ehmry commented on #3275
Fixup for solo5 at dfaafa5bbe91c94f79ad03dd35ad6df0437ebc96.

[2019-04-11 18:43] m-stein commented on #3208
My merge_to_staging branch contains a re-based version that should succeed in ``make`` on all platforms/kernels with repos base, os, demo.

[2019-04-12 10:12] m-stein commented on #2841
**Unfortunately, there will be no Internet connection provided by the hostel!**
But they told me that, depending on your provider, there will be sufficient mobile coverage. Sorry for the inconvenience - the initial announcement was based on a misunderstanding. Maybe we should provide all contrib code locally and setting up a package server for the Hack'n'Hike.

[2019-04-12 11:55] nfeske commented on #3289
Thanks for the interesting update. Cool that the first libc-using programs are already resurrected. ;-)

[2019-04-12 14:46] m-stein commented on #3208
Now, libports and ports succeed in ``make`` with my merge_to_staging branch.

[2019-04-12 15:46] nfeske commented on #3283
Commit https://github.com/nfeske/genode/commit/6415fdf3edb05213f12d43a806d6c9b73a5ca978 implements the new client-side API.

Commit https://github.com/nfeske/genode/commit/a568bf9762a8ceca01d6be7815922f0590803c3f adjusts the block tester to the new API.

[2019-04-12 18:14] cproc opened #3290 "gdb_monitor.run: remove broken stderr redirection"
Newer GDB versions complain about an '2&>1' argument, so apparently this string is not evaluated by expect at all (even when written as '2>&1'), but passed as argument to the command. Since the test also worked without stderr redirection, the string can be removed.

[2019-04-13 16:01] gwitmond commented on #2841
On the internet-situation:I  bring my phone with 5GB 3G/4G internet bundle to share. If there is sufficient reception...

On reception: I used to have this 3G wifi access point with external antenna, but that got stolen. The external antenna really made a difference between hardly any reception at all and blasting at full speed. If anyone has one, it might come handy :-)

On travel: I plan to take

[2019-04-14 12:27] ehmry commented on #3282
It seems that the only thing preventing cross-session IPv6 at the nic_bridge is a lack of proper multicast. I'm fine with simply fixing this for now and closing this issue. From what I understand the nic_bridge still needs IPv6 discovery proxying to support IPv6 accross the uplink.

Patch to close this issue at 02e2c1e1d75b822533f82050672a5fdb622deaed.

[2019-04-15 08:45] tomga commented on #3247
I've ported dwc2 driver and have a working usb_hid_raw test (with some problem with keyboard that stops responding after few minutes but disconnecting a cable and connecting make it work again - I didn't try to find out what is the problem). Currently I only work to "just make it work" on rpi3bplus without trying to integrate without breaking other configurations but maybe you'd want to take this

[2019-04-15 09:26] skalk opened #3291 "zynq network driver is kernel dependent"
When working on issue #3180 I stumbled across the NIC driver for cadence_gem cards, which is not only dependent on the zynq board (directly uses some system controller), but on some bse-hw kernel syscalls that are not part of Genode's base API. This is a problem when trying to package the driver.

As far as I understand the code correctly it uses normal dataspaces as RX and TX buffer and uses the

[2019-04-15 10:11] skalk commented on #3291
I've seen that the driver uses the generic Nic::session_component, which implicitly allocates cached RAM for TX and RX buffers. As solution I've added a cache_policy parameter to the constructor of this class. @nfeske as original author of this abstraction, do you agree on this change (reference commit fa45d9080ec0522be88f9a5ce92ab96192f82f65)
And if so, @ValiValpas would you try the commit whethe

[2019-04-15 10:25] m-stein commented on #2841
### Journey Information
#### By bike ;-)
Like every year, I'll do both trips by bike and would be happy about companionship. I'm can provide to you a bike plus bicycle bags if you don't have your own. Please let me know if you like to join in ;)
25.05 outwards from Dresden Bahnhof Neustadt starting at around 10:30 am
28.05 returning from the hostel starting at around 10:30 am

#### By train
**25.0

[2019-04-15 10:57] nfeske commented on #3291
I'm fine with the cache-attribute argument. But would you agree to split off this interface change to a commit separate from the Zynq-specific change?

[2019-04-15 10:58] skalk commented on #3291
Sure.

[2019-04-15 11:51] ehmry commented on #2841
I would join by bike, and I am fully equipped.

[2019-04-15 12:08] m-stein commented on #2841
@emery Cool :-)

[2019-04-15 14:08] ehmry commented on #3289
FreeBSD now supports the [xlocale](https://www.freebsd.org/cgi/man.cgi?query=xlocale&sourceid=opensearch) thread-local-locales and implements this with [thread_local or __thread](https://svnweb.freebsd.org/base/release/12.0.0/sys/sys/cdefs.h?view=markup#l301) keywords, depend on if a C or C++ compiler is in use.

[2019-04-15 14:10] ehmry commented on #3289
... unless you are using RISC-V https://svnweb.freebsd.org/base/release/12.0.0/sys/sys/cdefs.h?view=markup#l777.

[2019-04-15 14:40] skalk commented on #2403
I think it is good to take this issue into your mindset when working on issue like #2190 and #3180, or when introducing new platforms and drivers. But there will be no specific commit "solving" this issue. Therefore I close it for now.

[2019-04-15 14:40] #2403 closed

[2019-04-15 15:13] nfeske commented on #3283
Thanks to @chelmuth's help with troubleshooting one last corner case, the implementation is complete now. I merged the commit series to staging now.

Now it would be nice to revisit the various block-session-related components. Clients should use the `Block::Connection::Job` interface provided by `block_session/connection.h` whereas servers should use the `block/request_stream.h` interface. The mo

[2019-04-15 17:01] gwitmond commented on #2841
@m-stein

That's from Saturday to Tuesday. Did you change the date from 10-13 may? Or did you copy the mail from last year?

Cheers ;-)

[2019-04-15 18:39] m-stein commented on #2841
I've just fixed the wrong dates in the "Journey Information".

@gwitmond Thanks for the hint :-) It was indeed a copy-past error.

[2019-04-15 22:52] ValiValpas commented on #3291
@skalk I get your point and I'm happy to provide more insights.

I'm afraid this may be in conflict with the zero-copy implementation of the driver. The zynq nic driver directly passes the packets from its client to the DMA controller and vice versa. Packet data that resides in cache must thus be written back before handing it over to the DMA. This is not an issue if the driver copies the packet t

[2019-04-16 07:03] skalk commented on #3291
@ValiValpas yes, with above commit the communication buffers used by this driver are uncached no matter where they are mapped to. The cache attributes are always assigned to the dataspace not the individual mapping to circumvent mappings with different cache attributes but same physical area, which is a problem for physically indexed caches. It should work, but as I said I'm unable to test it on h

[2019-04-16 09:06] nfeske commented on #3283
@ehmry BTW, Solo5 needs an adaptation again. Maybe you could take this as an opportunity to exersice the new API? ;-)

[2019-04-16 09:52] alex-ab commented on #3111
The commits on https://github.com/alex-ab/genode/commits/issue_3111_seoul_staging are ready for a review and staging if appropriate.

[2019-04-16 10:15] mato commented on #2841
@m-stein Thanks for the detailed schedule. I plan to arrive via direct
train from Bratislava in Bad Schandau at 16:17, so will take a connecting
train to Konigstein if there is one, and/or walk directly to either the
hostel or Steingut, depending on train delays and weather on the day.

Regarding Internet, I have a fast LTE USB stick (Huawei E3372) I can bring
which works without drivers on anythi

[2019-04-16 11:00] m-stein commented on #2841
@mato

Station | Time | Platform |  Train
-- | -- | -- | --
Bad Schandau | dep 16:11 | 1 | S1 direction Meißen Triebischtal
Königstein(Sächs Schw) | arr 16:15 | 1
-- | -- | -- | --
Bad Schandau | dep 16:45 | 3 | S1 direction Meißen Triebischtal
Königstein(Sächs Schw) | arr 16:48 | 1

I'll bring a (I think its micro) SIM that should have like 2 or 4 Gb per month that I don't use.

[2019-04-16 11:30] nfeske commented on #3111
Please find my comments annotated at the commits. The last three commits could be squashed into one, in my opinion.

[2019-04-16 11:37] mato commented on #2841
@m-stein

Thanks.

The Huawei takes a 2FF SIM (Mini-SIM), so bring the cutout.

[2019-04-16 13:09] alex-ab commented on #3111
@nfeske: please review the adjusted branch considering your comments, https://github.com/alex-ab/genode/commits/issue_3111_seoul_staging

[2019-04-16 13:25] nfeske commented on #3111
Thanks for reworking the commits so quickly.

I find the seoul commit delightful to look at. A lot of fairly obscure code (like the utcb locking, or the constraints of the local virtual address space) is replaced by code that is easy on the eyes. Congratulations for this very fine line of work!

Now that you dropped the NOVA-specific optimizations, do you observe a (subjective) performance differe

[2019-04-16 13:36] skalk opened #3292 "sel4: all tests on imx7d_sabre fail"
The kernel configuration is missing some values and a user-level timer is missing.

[2019-04-16 13:37] skalk opened #3293 "missing recipes for imx7d_sabre"

[2019-04-16 13:45] alex-ab commented on #3111
Up to now I could only test an quite outdated test VM with browser (seoul-fancy) and there it seem to be fine.

[2019-04-16 13:47] skalk commented on #3292
@chelmuth @nfeske be aware that the timer won't work without recent changes of @alex-ab regarding the mapping code of base-sel4 (refer to commit a85888c96fd6c879546fc6944cf9c3b5298f60bc)

[2019-04-16 13:52] ehmry commented on #3283
Solo5 updated at ca6382b58e603f35ebceeb84c32cf599e5966645.

[2019-04-16 14:48] alex-ab commented on #3111
ad5053f17ccd77d1ed2d5e5fb260065e508713c0 fixes the seoul package build

[2019-04-16 15:38] m-stein commented on #3208
@chelmuth This fixes the first step:
fb2703b timeout: use uint64_t for all plain time values

I was able to build all repos except world with the combinations x86_64+sel4, x86_32+nova, imx6q_sabrelite+hw on this commit.

[2019-04-16 17:33] ssumpf opened #3294 "vfs_trace: enable tracing support via a VFS plugin"
This line of work will replace the aged `trace_fs` file system with a current VFS plugin. My progress can be found under: https://github.com/ssumpf/genode/tree/vfs_trace So far, generating XML for `Directory_file_systems` from `Trace::Session_label`'s is working, also I revived @cnuke's `Value_file_system` class which is now writeable, this way the plugin can react to events. In the next step I go

[2019-04-16 20:20] m-stein commented on #3208
The most recent version:
b90abb5 timeout: use uint64_t for all plain time values

[2019-04-16 21:32] ValiValpas commented on #3291
@skalk sure. Is it okay, if I test this next week? I'm currently at a conference from where it is rather inconvenient to do this.

[2019-04-17 08:31] skalk commented on #3291
Of course, I only wanted to hint you to not break silently your platforms in use.

[2019-04-17 10:26] m-stein commented on #3208
Thanks to an inline comment of @skalk, I realized that b90abb5 is missing the code removal that I was most happy about. It can be added as self-standing commit:
65be1defb6 Timer::Connection: simplify curr_time

But it can also be added as fixup to b90abb5 if desired.

[2019-04-17 11:36] nfeske commented on #3111
@alex-ab I merged your commits to staging but now when seeing the commits below your last message, I wonder if I picked the right branch. I used the commits from your issue_3111_seoul_staging branch. Is this fine? If not, can you point me to the most current branch?

[2019-04-17 11:42] nfeske commented on #3208
Thanks @m-stein. I merged both as separate commits to staging now.

[2019-04-17 11:42] nfeske commented on #3293
Merged to staging.

[2019-04-17 11:43] nfeske commented on #3292
Merged to staging.

[2019-04-17 11:46] nfeske commented on #3291
I merged both commits to staging. We won't update the master branch this or next week. @ValiValpas So testing it next week would be perfectly fine. ;-)

[2019-04-17 11:47] nfeske commented on #3290
Merged to staging.

[2019-04-17 11:48] nfeske commented on #3287
Merged to staging

[2019-04-17 12:03] alex-ab commented on #3111
All fine, you took the right branch.

[2019-04-17 14:05] skalk opened #3295 "platform_info: add information about running kernel"
There are few use-cases where it would be good to know on which kernel a component gets executed. As an example we discussed extending runtime test components like depot_autopilot for instance to run certain tests limited to specific kernels. When working on issue #3180 and #2190 I stumbled across the gpio driver for raspberry pi, which has a kernel-specific special case regarding the interrupt nu

[2019-04-17 16:15] tomga commented on #3295
@skalk, do I correctly assume that you want to fix gpio driver issue on rpi with some condition in the driver code: ``if <foc> irq=x else if <hw> irq=y``?

If so, I think it would be better to pass configuration to the driver instead. Would it be possible to add
``<gpio irq="..." mmio_base="..." mmio_size="..."/>``
or some other structure with this information?

I ask because I think this work tou

[2019-04-17 16:42] cproc opened #3296 "sculpt: '+' menu resize issue"
Since the commit for issue #3241, when selecting a component from the depot to start, the selected menu entry is not resized immediately, but only after hovering over a menu element, for example the 'Install' button.

[2019-04-18 07:31] nfeske commented on #3296
I can reproduce this issue.

However, it is not related to 01cff3ce8481625f251b7e9dc1549cdfb9c5911b. This would have really surprised me because the commit does not touch the menu view. The sculpt manager (which is affected by the commit) seems to be doing its job just fine because the widgets added to the new dialog version appear. There is also no busy loop in the system, which could - in princi

[2019-04-18 08:34] skalk commented on #3295
@tomga in general I absolutely agree that we need configuration for io resources for driver instances. I've already went into this direction in more recent driver developments like FEC driver for freescale NIC devices (reference `repos/dde_linux`). But in this concrete case it is more about different enumerations of interrupts on that specific platform.
In this example, the I/O resources of a conc

[2019-04-18 09:18] cnuke opened #3297 "ACME client"
So far, we rely on manually updating the certificate for appliances like *genodians.org* (it is scheduled for next week as the current one will expire on the 25th of April). Ideally the updating process should be automated which requires running a component in the appliance that handles
the ACME protocol as well as a way to handle [domain validation](https://letsencrypt.org/how-it-works/). Since w

[2019-04-18 09:27] cnuke commented on #2841
@m-stein FYI, I will already leave on sunday which might influence the planning on your side.

[2019-04-18 09:43] skalk commented on #3295
@tomga in this commit you can see that the kernel information is only used to add an offset, not to provide the interrupt number in general: https://github.com/skalk/genode/commit/03138b9f8ecc3175666b65967b5dff84a9e9fd94#diff-6e02dcdaee550f0923c5a3f7c9423b6a

[2019-04-18 10:17] nfeske commented on #3296
I have synthesized the problem in https://github.com/nfeske/genode/commit/de282c9ca2eec4761e2a9edc73dcb82656df7363  and can now reproduce it on base-linux via the menu_view.run script.

[2019-04-18 10:30] tomga commented on #3295
This is a nice commit - it removes something ugly in run scripts in many places - and definitely in good direction in my opinion. But it doesn't solve two things I think would be good to have solved:

1. For rpi3bplus I'll need to compile rpi3bplus_gpio_drv as far as I know only due to different mmio base address.
2. I think driver's should not be able to ask for any resource - it should be valida

[2019-04-18 11:01] skalk commented on #3295
As I said, I agree that it would be better to not compile the resource addresses into the device driver code, but make them configureable. Moreover, as you also stated it would be necessary to check the resource constrains in form of a policy. The natural way to do so, would be a platform driver analoque to our x86 equivalent. But until now, we were not at the point to implement a long-term soluti

[2019-04-18 11:02] ssumpf commented on #3294
* added `Watch_handle` support to `Value_file_system`
* removed signals from `Value_file_system`
* enabled `Watch_handler<>` for plugin

[2019-04-18 11:10] skalk opened #3298 "foc: imx7d_sabre region overlap for big boot images"
For scenarios like noux_tool_chain_auto and depot_autopilot we get an bootstrap error because of a region clash.

[2019-04-18 11:24] nfeske commented on #3297
Thank you for the interesting write-up.

[2019-04-18 11:43] tomga commented on #3295
@skalk will you create such issue? I didn't feel comfortable with starting such a general issue about a design as I still have only partial view on the system but if you'd like me to do it I can try.

[2019-04-18 11:44] nfeske commented on #3296
Fixed by https://github.com/genodelabs/genode/commit/8c9ed5efbe73adb61ed52b3cf28cdfe3931d1a27, which I just merged to staging.

[2019-04-18 11:46] nfeske commented on #3295
@tomga Don't be shy! ;-)

[2019-04-18 11:58] tomga commented on #3295
Well, some time ago I received a comment about "striving for the stars" :-) I didn't stop after receiving it but I really try to not say anything that could be seen as imposing my view. Especially in design and especially when I can't devote as much time for implementation as is really needed.

But summarizing, I'll write my thoughts. Not promising today, but I will.

[2019-04-18 12:24] chelmuth commented on #2243
As noted by @tomga on the [mailing list](https://lists.genode.org/pipermail/users/2019-April/006739.html) for RaspberryPi, the information required by device drivers isn't actually the *physical (or CPU logical) address* of the memory but the *bus address* on the bus the device is connected to. Also for this reason we should address this issue and find an appropriate name for the function.

[2019-04-18 13:43] skalk commented on #3295
@tomga I think you can perfectly do this, but I'll open it anyway, because I've further issues regarding the state of the platform_driver under ARM.

[2019-04-18 14:43] skalk opened #3299 "platform_drv for ARM universe"
The current state of ARM device drivers for Genode is a diverse conglomeration of approaches. Most of them reference resources from board-specific definitions in `repos/base/include/drivers/defs`, although they are not necessarily bound to a specific board and its resource names. A good example here is the NXP i.MX series we broadly support. Those boards share more or less the same devices. There

[2019-04-18 15:59] cnuke commented on #1784
I've force pushed the branch again and it now contains commits that address the first two points of my previous post. Together with some small adjustments in the *genodians.org` appliance, lighttpd serves resources with the proper modification time now. I'll work on cleaning it up for staging next week.

[2019-04-18 17:29] cproc commented on #3296
I can confirm that this fixes the problem on sculpt as well.

[2019-04-18 18:36] ehmry opened #3300 "Remove Nim tests"
There are still two Nim tests in the tree.

[2019-04-18 18:39] ehmry commented on #3300
Fixed at 1a8ebbabe88278f2e7c329e83fbcfcbca220ddd7.

No need to worry about Nim, I am able to build and deploy Nim components just fine outside the main repository.

[2019-04-19 10:04] tomga commented on #3295
@skalk thanks. Your version gave me some more information to think about. My version would be more like a wishlist. Your is more like current problems + solution proposal which is much more concrete and closer to implementation. I'll rethink my view and comment there later.

[2019-04-20 16:10] ehmry opened #3301 "VFS plugin is unintuitive"
The VFS audit plugin would be more intuitive if it would host sub-file-systems within itself, like so
[code]

[2019-04-20 16:15] ehmry commented on #3301
Fix at 10f03513d184fee477af64a42b3d6aaeece2af4d.

[2019-04-23 12:07] ehmry commented on #3283
I have a new port pin for Solo5, I'm still using the old style because I only need synchronous transfer, and would wait for a synchronous wrapper to jobs.

[2019-04-23 12:14] ehmry opened #3302 "Remove Post_signal_hook"
The deprecated `Post_signal_hook` mechanism at `Genode::Entrypoint` is no longer in use on staging and can be removed, see #3132.

[2019-04-23 12:15] ehmry commented on #3302
Patch at b206e25c157a1eeb6e3cde826eea54d4c9696a07.

[2019-04-23 12:40] nfeske commented on #3283
@ehmry just as inspiration, a synchronous wrapper should look like this (just a sketch):

[code]

[2019-04-23 12:43] nfeske commented on #3283
Oh. I forgot one the call of update_jobs in the example, updating...

[2019-04-23 12:49] nfeske commented on #3283
Now the sketch above should hopefully be more useful. ;-)

[2019-04-23 13:00] cnuke commented on #3297
I updated the certificate (expires on the 22th of July) and will deploy it soon. That buys us some time to tackle this issue.

[2019-04-23 15:17] skalk commented on #3295
@cnuke would you mind to take fixup commit 13bdfe6  to your staging for testing purposes?

[2019-04-23 15:59] cnuke commented on #3295
@skalk done.

[2019-04-23 16:05] cnuke commented on #1784
The current WIP state is now live on *genodians.org*.

[2019-04-24 15:35] cnuke commented on #1784
Running it on *genodians.org* revealed a bug in the current implementation (I didn't catch the Insufficient_buffer exception of the `Fs_file_system` in the libc) and I changed it to use the same mechanism as the `sync` packet now. That being said, I reverted *genodians.org* back to an older version b/c there are still some issue left.

[2019-04-25 08:10] alex-ab opened #3303 "window manager: jumping windows"
When using a nitpicker client (top_view in my case) with the window manager (wm) server it happens reliable that the whole client window "jumps" by several 100 pixels to the left when just clicking actually a button inside the window client. This does not happen when using it with nitpicker as server.

[2019-04-25 08:35] alex-ab commented on #3303
In the attached trace one can see, that the window position (xpos) jumps from 150 to 92 in the event of the button click.

[code]
The actual reason seems to be here, that the decorator did not yet processed the new mouse position (<-- B -->) and  therefore the layouter takes the old outdated report which has left_sizer set. The layouter wrongly assumes that due to the click a dragging starts which

[2019-04-25 08:48] alex-ab commented on #3303
The "wm: avoid jumping windows" is more a quirk than a fix, which works for me now much better. Due to the asynchrnous nature of the  wm<->decorator<->layouter   triple it may happen ever that the layouter sees outdated reports of the decorator, depending on scheduling and load, especially seen on Sculpt.

[2019-04-25 11:57] skalk opened #3304 "nic_router_flood: not working for many months"
While working on issue #3180 I updated the run-script `nic_router_flood`. But I cannot really test whether it works, because the last time it run successfully on at least one platform (`nova_x86_64` only) was 1th October last year.

@m-stein To me it seems to be useless to keep the test when its result has no effect. What do you think? Does it trigger issues worth to investigate, or is the mimic o

[2019-04-25 12:00] skalk opened #3305 "muen: ieee754 always fails"
It seems that there are too many concurrent log messages, where a load of them gets lost. So I assume it is not the FPU test which fails, but the hypervisor has some (ring-buffer??) problem with too many serial output.
Because, I'm not willing to investigate this further, I'd like to diable the test for muen.

[2019-04-25 13:00] skalk opened #3306 "smp: false-positives for too many cores"
Since the introduction of the TLB test in the SMP testsuite, we can regularily see failing tests especially for sel4 and hw on our 8 core x86_64 test-machine.
The problem is not necessarily a bug on those platforms, but the test finishing too fast, so that not all page-fault messages can be printed in time. The more cpu-cores the more threads have to encounter a page-fault in this test to check a

[2019-04-25 13:52] skalk commented on #3208
@m-stein: commit 74a7ce2 breaks test-libc_connect_lxip on all 32-bit base-hw platforms in the `depot_autopilot` nightly tests.

[2019-04-25 15:41] m-stein commented on #3304
@skalk
I see your point, I've treated this test shabbily in the past. However, I think that it is a very important test as it exposes the router to clients that misbehave on network-protocol level. This makes it unique amongst the current NIC router tests. It triggers, for instance, various rare exceptions during the application of client quota. I'll have a look at it these days. But it could be t

[2019-04-25 15:42] m-stein commented on #3208
@skalk I'm at it.

[2019-04-25 16:23] ssumpf commented on #3273
In the current state 9cffaed, 78713f8, and  ade069a enable traditional (`run/log`) RISC-V support for GCC 8.3.0.However, the migration from Spike to Qemu introduces the trouble that Qemu only supports "RISC-V User-Level ISA V2.2" while Genode currently implements V2.1 which leads to, yet unknown, issues during kernel context switches. Therefore, I will stick to Spike for the time being until it be

[2019-04-25 18:08] cproc opened #3307 "tool chain update for 19.05 release"
Planned features:
- gcc version 8.3.0
- binutils version 2.32
- gdb version 8.2.1
- aarch64 support (issue #3260)
- risc-v improvements (issue #3273)
- thread/tls support (including thread-safe exceptions)
- ali2dep instead of gnatmake
- integration of the tool chain into the Genode SDK
- build Genode components with C++17 by default
- build Genode components with -O3 by default

depends on #3260

[2019-04-25 18:40] cproc commented on #3307
I'm planning to push snapshots of current work in progress to my issue3307 branch [1] in case someone needs to build the latest tool chain for testing. At the current state, the tool chain with the updated tool versions can be built with the 'tool_chain' script and I created workarounds for some errors that came up when building Genode components with this tool chain. I'm planning to create indivi

[2019-04-25 21:35] tomga commented on #3299
@skalk could you plese answer my questions below? That would help me to verify if correctly understand current situation.

My feeling is that iterating over devices shouldn't be needed (unless there are cases when one instance of a driver needs to handle more than one device instead of many distinct driver instances). Device driver should declare what devices it is capable to handle and in return

[2019-04-26 07:15] m-stein opened #3308 "spunky: a kernel using Ada"
I have started this in my spare time as a low-prio project. The goal is to see how far I can get replacing C++ code from the base-hw kernel with Ada code. I'll successively pick single aspects of the kernel and translate them in-place by using the approach for C++/Ada interfacing presented in https://github.com/genodelabs/genode/commit/98182379188fab9f262a8df8623d9fa4843a0ddc. Eventually this coul

[2019-04-26 07:50] m-stein commented on #3308
There is a version that uses Ada for the RPC state machine and succeeds in the Init test on 32/64 bit:
https://github.com/m-stein/genode/commits/3308_spunky_a_kernel_using_ada

[2019-04-26 08:22] skalk commented on #3304
@m-stein fine!

[2019-04-26 08:48] skalk commented on #3299
@tomga I try to answer your questions, regarding this discussion starting point. It is not written in stone. I'm glad about all constructive critics, like yours.

The iteration is meant exactly for the rare case of having multiple devices handled by one driver. Imagine several identical USB host controllers or GPIO controllers, where it is not interesting to differentiate in between.
It is not mea

[2019-04-26 11:38] ehmry commented on #3289
I have two patches that pass the depot autopilot test, and can be considered for staging, 044366a87c564232a933e1f5202772df54750bd8 and 14049fca28c94e6464e78f7a5aa58d534783c204.

[2019-04-27 00:48] m-stein commented on #3208
It's a bad idea to have a time value type with a greater bit width than the timestamp type in the timeout framework. The interpolation algorithm silently assumes that this is not the case and may cause endless loops otherwise. Using ``uint64_t`` instead of ``Timestamp`` (only in the timeout framework) fixed it:

a8ef18c Fixup to "Timer::Connection: simplify curr_time" and then to ...

Any objectio

[2019-04-28 13:08] cproc opened #3309 "noux_terminal_fs.run: increase noux capability quota"
When typing a command in the upper terminal, noux requests more capabilities.

[2019-04-28 13:53] cproc opened #3310 "noux_terminal_fs.run does not work correctly anymore"
When running 'head -n 1 /dev/terminal' in the upper terminal, then selecting the lower terminal and entering text (finished with return key), the upper terminal does not show the entered text. The problem seems to be that the noux 'read' syscall for /dev/terminal does not get unblocked anymore when the terminal VFS plugin receives a read-avail signal from the terminal. 'noux_gdb.run' shows similar

[2019-04-29 07:36] trimpim commented on #3299
@skalk would platform_drv also manage which driver gets access to an Irq_session? I'm asking, because on sel4 it isn't possible to return an Irq_session to the kernel.
This leads to a problem in the sd_card_drv, as it requests an Irq_session when a client connects and returns it when the client disconnects.

[2019-04-29 08:36] cnuke commented on #3208
I am okay with that. Since the topic came up during coffee break today, I think the `Trace::Timestamp` should not be used in the timeout framework at all. At least in the beginning it was meant as a free-standing _event stamping_ tool purely used by the Trace framework and its trace-policy (which is why it should not depend on anything). If _time-stamping_ is required in the timeout framework it s

[2019-04-29 09:17] nfeske commented on #3208
@cnuke

The timestamp (tsc) values are used as a cheap and precise (but non-calibrated) time source used for estimating the current time in-between accessing the (costly but calibrated) real timer. Whenever glancing at the current time ought to be cheap and precise, it is needed.

@m-stein I think https://github.com/genodelabs/genode/commit/a8ef18cac7ecfc2b7fe1bf5223879ebf2c2a48d9 is not the right

[2019-04-29 09:31] cnuke commented on #3208
@nfeske yes, I know how and why they get used. I am just saying that since _time-stamping_ is a different use-case than _event-stamping_ (after all ARMv7 AFAIU does not has something like the x86's TSC which is why we use performance-counters for `Trace::Timestamp` that depending on the SoC might be only 32Bit as well as stops counting when the CPU is idle) which does not need time precise, it sta

[2019-04-29 09:37] skalk opened #3311 "sel4: region overlap for big scenarios on imx7d_sabre"
Big scenarios to be booted, like depot_autopilot with lots of boot modules lead to a failing kernel load:
[code]
We need to change the ELF loader link address for this platform.

[2019-04-29 10:25] alex-ab commented on #3299
Yes, like on the x86 version already done.

Please be careful or be better precise. The red message tells you that freeing is not implemented by Genode, it does not necessarily means the kernel does not support that. I think it is just a missing feature one should implement if the one needs it ;-)

[2019-04-29 12:33] skalk commented on #3208
@nfeske In the timeout framework the ARM performance counters are not used for quite some time now (see commit 685f509a4335a63680cd1ce7d508900d0c95ac08). The only kernel that supports intermediate timestamp values on ARM is hw, but that returns the actual kernel time (`uint64_t` value). Unimportant side-note: all modern performance counters will be 64-bit too.
However, I see in @m-stein's commit t

[2019-04-29 13:08] nfeske commented on #3208
To clarify my intent behind the use of `Timestamp` vs. `uint64_t`, the former should be used whenever timestamp values are obtained, propagated (as arguments, return values), or stored (as member variables). The latter should of course be used during the actual computation. The conversion from `Timestamp` to `uint64_t` should happen locally in the computation function.

[2019-04-29 16:56] m-stein commented on #3208
@nfeske So, if I understand you right, it's ok that we replace Timestamp with ``uint64_t`` inside the timeout framework? For me, this makes the algorithms also more clear.

[2019-04-29 17:05] m-stein commented on #3208
@skalk I've updated and tested the commit according to your annotation:
e5bdd89 Fixup to "Timer::Connection: simplify curr_time" and then to "timeout: use uint64_t for all plain time values"

Btw. the commit message should be interpreted in the way that I'd suggest to fixup the two mentioned earlier commits and this third commit all together into one commit. If we, however, want to keep the earlie

[2019-04-29 17:16] m-stein commented on #3208
@nfeske Sorry, I read your first mail too late. So please ignore my question.

The current problem with narrowing the timestamp is not the wrapping of timestamps, it is that the loops in the interpolation algorithm assume that the type in which timestamps are stored is not smaller than those that is used for time values. I'll have to think about this once more.

[2019-04-29 19:24] m-stein commented on #3208
This is a minimal version of the fixup:
714fe77 Fixup to "Timer::Connection: simplify curr_time" and then to "timeout: use uint64_t for all plain time values"

Would this be ok for all?

[2019-04-30 06:41] trimpim commented on #3299
@alex-ab correct, the message just says that it isn't implemented in Genode.

I already have spent about a half day trying to understand how I could implement it. Unfortunately I wasn't able  to see how this would have to be done from the sel4 documentation.

As I can use base-hw and have more pressing things to do I can't investigate further and let it be as it is at the moment.

[2019-04-30 07:32] ehmry opened #3312 "Convert drivers from Nic servers to Nic client"
Nic drivers are at present implemented as Nic servers. This is intuitive for static systems, but complicates the role of components such as the *nic_router* which support multiple hardware uplinks and hot swapping. If drivers were implemented as clients, then adding and removing drivers becomes for intuitive for dynamic systems centered around service multiplexers like *nic_router*.

[2019-04-30 07:48] ehmry commented on #3312
I have a patch to make changes to the Nic session at 42e06cc169d7465aa6d8ac224f7315e8d7ea09ad. This adds an optional MAC address argument to the `Nic::Connection` constructor and adds getters and setters for session link-state.

I have not yet modified drivers to act as clients, only to use the new session interface.

[2019-04-30 08:30] ValiValpas commented on #3291
@skalk I tried running the staging branch on the zynq hardware. Unfortunately, there is a failed assertion in `page_table.h`:

I do not get this error when I execute this with qemu though. I can create a separate issue for this if you like.

I'll try cherry picking your commits to test the nic driver changes in isolation.

[2019-04-30 09:18] skalk commented on #3291
Ok, so things seems to have been broken some time before?! This does not seem to be related to my commit, but already fails in bootstrap.
Thanks for testing the platform, I think I cannot do anything in a separate issue without your engagement ;-). If you like you could add something like `log("add mapping ", m);` at the beginning of the `void Platform::Pd::map(Mapping m)` function inside bootstra

[2019-04-30 09:56] m-stein commented on #3308
@senier The second time now, I encountered this compilation error that I cannot interpret:
[code]
The change I have made to trigger the error was of this kind:
#### Good version ####
[code]
#### Bad version ####
[code]
The first time, Sub was a generic that I tried to instantiate for a specific type. I solved the error by not using generics but a specific package.
Is this a known problem to you?

[2019-04-30 10:06] ValiValpas commented on #3291
No worries. I haven't used the platfrom for a while so I'll try to bisect what changes may have caused this.

Here is the log output you suggested, what do you think?

                                                                                                        )�+�+++K��mz�5)��5�j�ɽ��
         �͕�ѥ����������
                      "�͍ɥ�ѽ��鲅����~���ɥ��m�u����}���ɥ��m�u���*mm�5)��5�j�ɽ��2�

[2019-04-30 10:39] m-stein commented on #3308
@senier The problem seems to be related to a real error in my code. My Master package contained type declarations
[code]
And ``A_Ref`` was used by ``Copy_Of_Sub`` but I forgot to define ``A`` in the private part. Instead of pointing me to this, the compiler showed the above mentioned errors. As soon as I added the definition of ``A``, it worked.

[2019-04-30 11:34] ValiValpas commented on #3291
@skalk the commit that breaks the zynq platform is 8c460b3ea5a8745b3b7b336b4095f9fac13cd763

I'll have a look at how to initialize the L2 cache for the zynq boards correctly. Let me know if you have any hints.

[2019-04-30 12:18] ValiValpas commented on #3291
I tested your patches for the `Nic::Session_component` and the zynq nic driver with an older Genode version, works like a charm ;-)

There is just a minor issue: I think you missed adding the Genode::CACHED argument to the linux nic driver.

[2019-04-30 12:42] m-stein commented on #3308
I tried the generic queue example again as I'd like to get rid of my redundant queue implementations but the errors about the runtime configuration persist. This minimal example triggers them:
[code]
As soon as I replace the generic queue with a similar specialized version, it compiles.

[2019-04-30 12:54] senier commented on #3308
The very same error as above?

Can you try a couple of things (separately) an report whether that makes any difference:

1. Remove the `not null`
2. Make `Customer_Type` public

[2019-04-30 13:15] ValiValpas commented on #3291
fyi: I think I found the correct initialisation parameters for the zynq's L2 cache. I'll run some further tests and push the changes to genode-world in the next days.

[2019-04-30 13:34] m-stein commented on #3308
This is the error with the generic queue:
[code]
I tried your suggestions, they led me to a simpler design:
[code]
I could only make it work only by moving the customer definition above the queue specialization. A forward declaration produces the above mentioned error. But without, I can't have the ``Queue_Item`` field in ``Customer_Type``. Maybe this isn't possible with Ada 2012 after all.

[2019-04-30 15:12] ehmry commented on #3289
I have rebase my libc commits to staging, now they are e4dc4e547b640e2eb76aa0e80b3765dfbb027086, f2666054b678acf763ef2a813a20db129ac25b4f, and cad22cb2d635ef8477fe8c636a53b0b0d37fdee0.

I think they are ready for staging, depot_autopilot, noux, qt, and virtualbox tests are passing.

[2019-05-01 13:31] marmarek commented on #2841
@m-stein I'd join a bike too, I have everything needed.

[2019-05-01 19:22] m-stein commented on #3308
@senier Btw. both of your suggestions independent from each other did'nt make a difference with the original example.

[2019-05-02 05:58] NobodyIII commented on #3268
I'm interested in this as well. Has it been merged yet?

[2019-05-02 06:06] NobodyIII commented on #3058
My mental health has been declining, and I've been busy with other projects, so I decided to spend $30 to get an NVMe SSD. I probably won't put much focus on this issue anytime soon.

[2019-05-02 06:13] NobodyIII opened #3313 "sculpt: fix slow I/O performance"
Currently, Sculpt has terrible I/O performance when running from a flash drive. I suspect that using block_cache would improve performance dramatically for that use case, and would also provide a reasonable performance boost for HDDs and even SSDs.

The main question in my mind isn't whether to do this, but how to best determine the RAM quota(s). I suspect that 128 MiB would provide a huge perform