[2021-03-03 16:05] nfeske commented on #4037
Commit https://github.com/nfeske/genode/commit/b2a74821b77228e9758b6b46365fb3492d4100dc fixes the issue.

[2021-03-03 16:41] nfeske commented on #4037
Commit https://github.com/nfeske/genode/commit/2b78f952caa6bd23ffc3c9f83dd29c5d55259200 may help us to diagnose such problems in the future.

[2021-03-03 19:05] jjkarcher commented on #3997
Sorry for the delay in doing this.  The result is:

report: 4620383531352044

That is an odd-looking number for a pointer, and any attempt to use it (e.g., to print "report->maxfield") immediately dies.

They don't make it easy, do they?

[2021-03-04 08:26] chelmuth opened #4038 "Enable character generator where missing in drivers_interactive packages"
Without chargen configuration in event filter character-based clients like the terminal (e.g., in *vim.run*) do not work. Chargen is missing in imx8q_evk, imx53_qsb, and rpi.

[2021-03-04 10:43] alex-ab commented on #4037
It is not important, wee may drop the labeling here.

[2021-03-04 10:48] nfeske commented on #4037
Thanks for the feedback. Merged to staging.

[2021-03-04 10:52] nfeske commented on #4029
Fixup https://github.com/genodelabs/genode/commit/607aeda99f5a85eca7d15853553865e53c4c227b removes the shim from the common routes.

[2021-03-04 13:11] alex-ab commented on #3837
Commit 3e02faaa465a5bf41db18b8f18964a275f836be5 solves the twice click issue.

[2021-03-04 14:15] sidhussmann commented on #4030
@chelmuth to reproduce, do I need actual x86_32 hardware or can I use x86_64 hardware in 32 bit mode?

[2021-03-04 14:54] chelmuth commented on #4030
Up to now, the test failed only on an old *Intel Core2 Duo CPU E7300*. After your question I ran `make -C build/x86_32 KERNEL=nova run/depot_autopilot TEST_SRCS='' TEST_PKGS=test-libc_fifo_pipe TEST_REPEAT=until_failed` on *Intel Core i7-4770* and experienced the following error after 4 iterations with current staging.

[code]

[2021-03-04 14:58] m-stein commented on #4036
I removed the fixed label as there is new information regarding this issue.

I could reproduce different uncaught IP-allocation-related exceptions with these tests:
9d9e3ba2ac nic_router: tests to trigger uncaught exceptions

Note that test 4 doesn't trigger any exception although it does something similar but with domains switching.

[2021-03-04 15:02] chelmuth commented on #4030
After about twenty iterations, the same test hardware also fails in x86_64 mode.

[2021-03-04 22:27] jjkarcher commented on #3997
I decided to poke around a little bit more with those structures, so I added a little more logging:

[code]

I was following a hunch from reading the following comment in "drivers/usb_hid/include/linux/hid.h" - lines 299 - 307:

[code]
It doesn't look like I've advanced the ball much, but let me know if I can add anything else.

[2021-03-05 10:26] nfeske commented on #3837
Works perfect now. I merged your fixup to staging.

[2021-03-05 10:56] nfeske commented on #3997
@jjkarcher May I ask you to try out the most recent version of Sculpt (based on the current staging branch) on your machine?

You can find a ready-to-use image at https://genode.org/files/sculpt-21.03-test.img.gz

I'm asking since a recent fixes could potentially have an effect on the USB issue. In particular, the warnings observed in #4037 could have an IOMMU-related effect on USB controllers of

[2021-03-05 15:22] nfeske commented on #4004
Commits https://github.com/genodelabs/genode/commit/5a0af777afdf13c1713bc06d894c3d9e22a1d110 https://github.com/genodelabs/genode/commit/5ab982ce8ccefa0eb0f71789ed9d550b1223a31b and https://github.com/genodelabs/genode/commit/9e8b37d6597a69f7251ff67b43aebf6826871852 extend the ccache support to the depot tools and the --depot-auto-update feature of the run tool.

[2021-03-05 15:36] jjkarcher commented on #3997
Thanks for the chance to test this!  Unfortunately, I still get the blank screen (with working mouse pointer).

[2021-03-05 16:10] nfeske commented on #2106
Commit https://github.com/genodelabs/genode/commit/f26cacad803bf4dd622b04a4a3a9540aabe254a8 adjusts the Rpi platform driver.

[2021-03-05 16:17] trimpim opened #4039 "init: Uncaught exception of type 'Genode::Bit_array_base::Invalid_clear'"

[2021-03-05 16:26] cnuke opened #4040 "boot_dir/nova: enable Intel HWP"
While debugging some other issue I noticed that my target system drives the CPU only with its base frequency, leaving existing performance reserves untapped (cf. #3871). During an offline discussion it was decided to enable the feature unconditionally to reap the benefits when running Sculpt as well as having more test coverage on how different systems might behave.

[2021-03-05 16:29] cnuke commented on #4040
Commit a710caf sets the required bender option unconditionally when using NOVA.

[2021-03-05 16:30] trimpim commented on #4039
f2d054103d77482d20f41718b8458deea6673114 reproduces the uncaught exception described in https://lists.genode.org/pipermail/users/2021-February/007540.html within a few minutes.

Currently I only have tested this on base-linux.

[2021-03-05 16:31] nfeske commented on #3997
Thanks a lot for the super quick response! The fact that the mouse pointer works is strange. Do you happen to use a USB mouse?

One possible explanation of this effect would be that the all components of the runtime subsystem (most of the leitzentrale GUI is now hosted there) starve because a high-priority driver is busy all the time. To test this hypothesis, I created a new image where I flattene

[2021-03-05 16:31] cnuke opened #4041 "qemu-usb: reset completion pointer"

[2021-03-05 16:35] nfeske commented on #4040
Thanks @cnuke for the patch. I merged it to staging right away.

[2021-03-05 16:36] nfeske commented on #4041
Merged to staging.

[2021-03-05 17:01] nfeske commented on #2106
Commits https://github.com/genodelabs/genode/commit/57ebd947eda73e81080b594885cd3616454b1fb5 and https://github.com/genodelabs/genode/commit/36e7c64b448037fffc2bca357a907e82bc902c94 wrap up this issue.

[2021-03-05 17:55] jjkarcher commented on #3997
It's a miracle!  Not only does Leitzentrale work now, but USB storage does too!

That also means that I can now transfer log file instead of typing them by hand. :-)

USB HID devices still don't work, but I think we're getting close - here is an interesting log message:
[code]
Let me know if I can do anything else!

P.S. I am using the built-in TrackPoint and TrackPad, which I assume use PS/2, sin

[2021-03-06 14:38] sidhussmann commented on #4030
@chelmuth thank you for making it easier for me to tackle this problem. I will take a closer look next week.

On a side note, the related issue is #3583 and not #3883, as written in the issue description.

[2021-03-06 19:29] jjkarcher commented on #3997
Re: the __kfifo_alloc() problem:

Just going a quick grep of the source, it looks like the Wacom driver ("depot/genodelabs/src/usb_hid_drv/2020-12-09/src/drivers/usb_hid/drivers/hid/wacom_sys.c") does use the kfifo feature, which makes sense, since the touchscreen is a Wacom unit.

BTW, @nfeske, can you send me the miracle patch, so I can build here? Thanks!

[2021-03-07 10:38] nfeske commented on #3997
This new information is very helpful. Thank you @jjkarcher!

Here you go: 6d9646ac2a81e3ef4b93ae90bdcd626bb2cfa764

Given the information we just gained, I see two problems worth solving.

* We should remove the spinning in the failure case of the usb_hid_drv. Since this driver runs at a high priority, everything with a lower priority cannot run as soon as the error occurs. The problem lies here:

[2021-03-08 05:52] jjkarcher commented on #3997
Thanks for the patch and the tips - that really does speed things up!

I made a first attempt at implementing the required dummy functions by copying the function bodies directly from the Linux source into "dummies.c".  This went fairly smoothly (it only seems to need a subset of the "kfifo" functions) until I encountered what I feared from the beginning: kmalloc().  I'm afraid that's where my com

[2021-03-08 08:37] ssumpf opened #4042 "riscv: Add interrupt controller support"
* Add "platform-level interrupt controller" (PLIC) support for `base-hw`

[2021-03-08 08:42] ssumpf commented on #4027
@nfeske: f68e655 introduced a regression where the debug versions of core and bootstrap are not build any more. 530d76e addresses this issue. Please consider for staging.

[2021-03-08 08:43] ssumpf commented on #4042
0fdc139 marks the initial version of interrupt controller support on RISC-V.

[2021-03-08 11:08] nfeske commented on #3997
Sorry that I was a bit too vague. In commit https://github.com/nfeske/genode/commit/4e6170b9cd8d729f5c507e90ce07552a759556cf you can see what I meant. It replaces the `while (1) hack` with a function call to a new `lx_sleep_forever` C-ABI function. Since no suitable place for this implementation existed yet, I added the bug.cc compilation unit.

That leaves us the kfifo problem to solve. kmalloc s

[2021-03-08 11:56] nfeske commented on #4039
@trimpim thank you very much for your work to make the issue reproducible! I'll investigate this issue today.

[2021-03-08 13:48] nfeske commented on #4039
I can reproduce this problem after reducing the timeout at https://github.com/trimpim/genode/commit/f2d054103d77482d20f41718b8458deea6673114#diff-a5e200edbb5c25790208fed2dda90ff0976b762865ce26aa8523574e892c8b67R46 to 1000.

[2021-03-08 14:22] alex-ab commented on #3997
@jjkarcher: may you please try the commit e04fa679db3b80af273d8cb15a14cec15d26e56b, which adds the kfifo implementation

[2021-03-08 14:27] alex-ab commented on #3997
@jjkarcher: sorry, 96e21198b5d6ed7414157ce90ca4c63d02851cf9 contains also the updated hash for dde_linux (based upon @nfeske dde_linux: don't spin when panicking commit)

[2021-03-08 16:39] nfeske commented on #4039
Thanks to @trimpim's excellent test and the great help of @chelmuth, I was able to encircle the problem today.

Commit https://github.com/nfeske/genode/commit/a8692620ae6bc1a7a025b1c6cb1038a41498cb1c should fix the issue. I still need to think of a good way to add a regression test for this situation to the test-init package but you may give the fix a try already.

[2021-03-08 16:57] cnuke opened #4043 "mixer: use audible default settings"

[2021-03-08 17:04] cnuke commented on #4043
Commit 16c596a changes the default settings that get applied in case there is no valid config and sets the volume to 50%. This allows to diagnose if the mixer works at all and is in line with the default configuration of the `bsd_audio_drv` (so 50% and 50% will hopefully lead to reasonable loud sound).

While there, commit 9706d54 makes the `mixer.run` run-script work again.

[2021-03-08 19:01] nfeske opened #4044 "sandbox: missing session-state destruction"
@m-stein reported an issue encountered while using the sandbox API to dynamically manage a subsystem. After removing a child component that has an open session to a locally implemented service (in the concrete case, this was a report session), a page fault occurs.

[2021-03-08 19:04] nfeske commented on #4044
Commit https://github.com/genodelabs/genode/commit/cec52b78d23c352ce37e2987c7a9998e7491311a fixes this issue.

[2021-03-08 19:08] nfeske commented on #4043
Merged to staging.

[2021-03-09 09:31] nfeske commented on #4044
Commit https://github.com/genodelabs/genode/commit/949e8b7755bba047fa05e7bdd595987e76760ffe adds a regression test.

[2021-03-09 09:58] nfeske commented on #4044
Commit https://github.com/genodelabs/genode/commit/d8b681d7d5d6fb39e234ace64ee5bbd711fd7d91 adds the test to the depot autopilot.

[2021-03-09 12:30] nfeske commented on #4039
I wonder, can you observe the fault in the scenario you shared with me in https://github.com/trimpim/genode/commit/f2d054103d77482d20f41718b8458deea6673114?

[2021-03-09 12:46] nfeske commented on #4039
@trimpim please don't invest too much time for testing. Let's first wait for the CI results on my side.

[2021-03-09 14:10] nfeske commented on #4039
Fixed by https://github.com/genodelabs/genode/commit/7ba05d04b349f2d6760809e701dc4a97f7a14f25

@trimpim can you give this fixup a try?

[2021-03-09 14:11] ssumpf commented on #4021
@chelmuth: c11c8c3 fixes the timeout test on `riscv_qemu`

[2021-03-09 14:14] nfeske commented on #4021
Merged to staging.

[2021-03-09 17:19] m-stein commented on #4032
I have the initialization of trust anchor and cbe device image in place and could create the main window for the cbe device controls today. In this course I reworked my dialog rom generation to use generic utilities. The state can be found on my branch "4032_A_graphical_control_interface_for_the_CBE".

[2021-03-09 18:24] jjkarcher commented on #3997
Thanks a million, @nfeske and @alex-ab!  Those patches worked like a charm.

Now I get an BUG() error for unimplemented devres_open_group() in "wacom_sys.c" (again the culprit).

Doing a grep, it looks like there is an implementation in "contrib/dde_linux-ddde9dc3e9076830babf9402445ed6b8a3022362/src/drivers/framebuffer/imx8/drivers/base/devres.c".  Assuming that this version will work, what is the

[2021-03-09 19:14] nfeske opened #4045 "sculpt: introduce priorities within the runtime subsystem"
The current version of Sculpt has the following limitations that can in principle be addressed by an improved static priority scheme:

* Sculpt's administrative user interface (Leitzentrale) can suffer from misbehaving high-priority drivers (issue #3997), which make the inspection of the system (and thereby the diagnosis of such issues) impossible.
* Latency-critical components (like audio) are no

[2021-03-09 19:16] nfeske commented on #4045
Commit https://github.com/genodelabs/genode/commit/33e7b2e5e9f126f80bb327292620647bd6305f46 implements the change. The runtime priorities are not yet interactively configurable though.

[2021-03-10 07:00] trimpim commented on #4039
@nfeske with both patches applied, our scenario now runs for more than 250 configuration changes whereas before it stopped after a dozen or so.

[2021-03-10 09:22] m-stein commented on #4032
@nfeske Just tried it out and it works like a charme :) Thanks for fixing this so fast!

[2021-03-10 10:23] alex-ab commented on #3997
The linux files which are actually unpacked and used by usb_hid are specified by repos/dde_linux/usb_hid.list. The file you found is part of the imx8 framebuffer port (repos/dde_linux/imx8_fb.list).

You may now try to re-add more linux sources and see where it leads you (missing symbols/structs etc). This may become hairy, but probably is the only way to get the driver fully working. The other op

[2021-03-10 12:25] nfeske commented on #4040
Fixup https://github.com/genodelabs/genode/commit/c69d2a0c39847f841bcd8cf86f32d44213b22ffa removes the HWP message from the build log, which is otherwise printed on each build.

[2021-03-10 13:00] alex-ab opened #4046 "sculpt: support packages providing Rtc service"

[2021-03-10 13:03] alex-ab commented on #4046
c5008f25b308dedab569bd19d1dac1bd7e2eb455 contains a patch for depot deploy to support ```<provides> <rtc/> </provides>```, which is used by baeec070bb985da410dbe1bc756f2f9f86e007c2 to proxy the RTC driver.

[2021-03-11 01:08] sidhussmann commented on #4030
@chelmuth commit 5a60468dfb1a389668d7b127e04176a12e218155 fixed the page fault for me.

[2021-03-11 08:18] chelmuth commented on #4030
Thanks for looking into this, I merged the fix to staging.

[2021-03-11 08:43] alex-ab commented on #4046
@nfeske: 2f7985999db636c788979884c42d2d96435a2fb3 and b6b780f5c4c721053450c3d0fc1b7422ce851464 contains the discussed changes.

[2021-03-11 10:52] nfeske commented on #4046
Merged to staging but with the short description of the menu item changed to a slightly less technical text.

[2021-03-11 11:48] alex-ab commented on #4046
Ok.

[2021-03-11 16:17] nfeske commented on #4045
Commit https://github.com/genodelabs/genode/commit/b4274f51516d73ebdc591fe6338c525cb097ee83 adds an interactive way for selecting a priority for a new component (as part of the resource assignment dialog).

[2021-03-12 11:09] #3386 closed

[2021-03-12 11:09] #4033 closed

[2021-03-12 11:09] #4028 closed

[2021-03-12 11:09] #4035 closed

[2021-03-12 11:09] #4037 closed

[2021-03-12 11:09] #2106 closed

[2021-03-12 11:09] #4027 closed

[2021-03-12 11:09] #4040 closed

[2021-03-12 11:09] #4041 closed

[2021-03-12 11:09] #4039 closed

[2021-03-12 11:09] #4043 closed

[2021-03-12 11:09] #4044 closed

[2021-03-12 11:09] #4046 closed

[2021-03-12 11:09] #4045 closed

[2021-03-12 11:12] nfeske commented on #4042
Fixed on master.

[2021-03-12 11:12] #4042 closed

[2021-03-12 11:13] nfeske commented on #4030
Thanks @sidhussmann for attending this issue. The fix reached the master branch just now.

[2021-03-12 11:13] #4030 closed

[2021-03-12 11:13] nfeske commented on #4029
Fixed in master.

[2021-03-12 11:13] #4029 closed

[2021-03-12 11:14] nfeske commented on #4021
Fixed in master.

[2021-03-12 11:14] #4021 closed

[2021-03-12 11:15] nfeske commented on #3837
Fixed in master.

[2021-03-12 11:15] #3837 closed

[2021-03-14 01:35] tomga commented on #3972
@nfeske @chelmuth I have another set of fixes in make files in 91f700d634253cd004652ffa54cc3823d5c4de24 that I'd like you to consider for merge. I don't think they deserve a new issue, so I write here.

Fixes are for:
 * a duplicated source file
 * a wrong line continuation
 * few places where CC_CXX_OPT is set instead of being appended to - this causes ignoring CC_CXX_OPT set in spec makefiles in

[2021-03-15 13:53] cproc opened #4047 "usb_host_drv: support command timeouts and bool properties"
Implement `mod_delayed_work()`, `reinit_completion()` and `device_property_read_bool()`.

[2021-03-15 16:46] cproc opened #4048 "imx8: use 'snps,dis_u2_susphy_quirk'"
A USB 3 device attached to the i.MX8 EVK board can often not be configured by the USB host driver, because the "Address Device" XHCI command does not get a response and times out (observed with NIC, SATA and Storage devices, but apparently working when using a USB 3 hub).

It appears that the problem can be solved by setting the 'snps,dis_u2_susphy_quirk' device property. This property is also set

[2021-03-16 06:26] alex-ab commented on #3997
@jjkarcher: May you please give 42fd2e5c5f51c5844d054760ad15c457c6b28970 a spin, in order to check that the fault goes away (however with no working wacom driver). I'm asking, because we want to release the next Sculpt revision soon and rather should disable the driver temporarily until a acknowledged fix is available.

[2021-03-16 10:23] nfeske commented on #4047
I would appreciate you sharing a bit of the background of this issue. Please let us document the symptom that prompted the need for the change. I can only guess that this issue might be related to #4048?

[2021-03-16 10:26] nfeske commented on #3972
Thank you @tomga. I merged your commit as https://github.com/genodelabs/genode/commit/2f0898d2a946e2b2acb034cd2f8240e6aaa6de77.

[2021-03-16 11:47] cproc commented on #4047
Yes, the issue is releated to #4048. When the XHCI command did not get a response, a timeout was supposed to trigger, but it didn't because of the missing implementations. The device property read function is needed for the quirk property of issue #4048.

[2021-03-16 12:17] nfeske commented on #4047
Thank you for the explanation.

[2021-03-16 16:34] cproc opened #4049 "libc: support 'RLIMIT_DATA' resource in 'getrlimit()'"
This resource limit is used by qtwebengine to calculate the limits of JavaScript engine allocators.

[2021-03-16 17:02] cproc opened #4050 "libc: mmap: use VFS handle as reference for shared mappings"
Currently, for shared mappings the libc file descriptor gets duplicated to keep the file open if it gets deleted while the mapping still exists. Unfortunately, this limits the number of shared mappings to the maximum number of libc file descriptors, which can easily be reached with qtwebengine. Using a VFS handle instead of a duplicated libc file descriptor solves the problem.

[2021-03-16 22:58] jjkarcher commented on #3997
I can confirm that this patch does suppress the wacom driver, and thus the BUG() errors.

In doing so, it creates a mini-bug that makes me very happy:  If you touch the screen, the mouse pointer disappears, following which the TrackPoint/TrackPad still work, but the buttons do not.

This part makes me even happier: If you bring the pen (!) near the screen and/or click the screen, the mouse pointer

[2021-03-16 23:22] jjkarcher commented on #3997
Minor point: I should have tested better before writing my last comment, because I was wrong about the touchscreen - it works exactly the same as the pen!  I can use the entire screen from the top-left rectangle, and touching works as a button press also!

(And the mouse buttons still work afterward, so I don't know what I did wrong with that observation.)

Thanks for all the quick help!

I will r

[2021-03-17 10:27] sergey-platonov opened #4051 "Genode:String byte-wise copy"
I have noticed that `Genode::String` creation uses the byte-wise copy [here](https://github.com/genodelabs/genode/blob/master/repos/base/include/util/string.h#L635):
[code]

Maybe it will be more optimal in the sense of performance to use a `memcpy` here? We will need to traverse the string to find the termination zero, but then we will be able to copy the string as a whole. Well, on certain platf

[2021-03-17 11:13] nfeske commented on #4051
Thank you for the suggestion. However, I would not consider this change at this time, for the following reasons:

* I have no evidence that the performance of the `out_string` function presents a bottleneck in practice. Without evidence, I would argue that it isn't worth optimizing.
  In situations where the efficiency of string processing becomes crucial, Genode's string API is not the answer. At

[2021-03-17 12:17] sergey-platonov commented on #4051
Thank you for the answer, Norman.

I was thinking to set up performance tests to actually measure different scenarios in case your only concern would be an actual performance impact. But, since it's not the most important argument, let's leave it like that.

Of course not, I wanted to discuss it and hear your opinion on the matter.

[2021-03-17 12:17] #4051 closed

[2021-03-17 13:04] cproc commented on #4050
@chelmuth: I added the missing monitors in 2aadcb2

[2021-03-17 15:32] chelmuth commented on #4050
Thanks, I merged the commit to staging.

[2021-03-17 15:34] alex-ab commented on #3997
I get hits using grep in the contrib/dde_linux-<hash>. You can also try to take the [backtrace option](https://www.genodians.org/nfeske/2021-02-11-pine-fun-debugging), as described by the article by @nfeske.

[2021-03-17 15:42] alex-ab commented on #3997
Presumably you have "just" to configure your screen width/height for [usb_hid configuration for Sculpt](https://github.com/genodelabs/genode/blob/master/repos/gems/recipes/raw/drivers_managed-pc/drivers.config#L155) read in by the [usb_hid driver](https://github.com/genodelabs/genode/blob/master/repos/dde_linux/src/drivers/usb_hid/main.cc#L197). The values should end up and to be used in [evdev.cc

[2021-03-18 15:06] nfeske opened #4053 "sculpt: add routing options for screen capturing and system event injection"
With the capture and event interfaces (#3812) in place, we can now make those session interfaces available to components deployed on Sculpt OS. This way, solutions for screen capturing, virtual keyboard, or even remotely controlling the desktop can be built without any further hooks in Sculpt's base system.

[2021-03-18 16:37] nfeske commented on #4053
Implemented by https://github.com/genodelabs/genode/commit/8f40b1af371c01ea6259a18f561d97ec9fde98cb

[2021-03-19 13:04] nfeske opened #4054 "sculpt: present depot selection, file-browser items, and launcher-menu entries in alphabetic order"
Right now, the order of those information is pretty much arbitrary, which makes the spotting of items (e.g., the files in the config directory) quite inconvenient.

[2021-03-19 13:17] nfeske commented on #4054
Fixed by https://github.com/genodelabs/genode/commit/6510dd7fe5041410ec008046f4e30dd22655b9c9

[2021-03-19 19:07] nfeske opened #4055 "sculpt: interactive selection of the keyboard layout"
This is an often requested feature.

[2021-03-19 19:13] nfeske commented on #4055
Implemented by https://github.com/genodelabs/genode/commit/5a86bc652b9a4b20bc75ff63bbc7e109f600d226

[2021-03-20 14:39] nfeske commented on #4055
Commit https://github.com/genodelabs/genode/commit/40598f899703b85abf4aa2c4b16c27dd2d0628b2 contains a supplemental change in anticipation of further keyboard layouts.

It moves the chargen files from the config/ directory to a new config/keyboard/ directory.

**Caution** This change breaks the compatibility with existing config/event_filter files. If you have made a customized event filter config

[2021-03-23 10:30] #4047 closed

[2021-03-23 10:30] #4048 closed

[2021-03-23 10:30] #4049 closed

[2021-03-23 10:30] #4050 closed

[2021-03-23 10:30] #4053 closed

[2021-03-23 10:30] #4054 closed

[2021-03-23 10:30] #4055 closed

[2021-03-23 10:31] nfeske commented on #3972
Fixed in master.

[2021-03-23 10:33] nfeske commented on #3997
I merged https://github.com/alex-ab/genode/commit/42fd2e5c5f51c5844d054760ad15c457c6b28970 as an interim solution for the upcoming Sculpt OS release to staging.

[2021-03-23 11:22] throwException opened #4056 "lwip: Zero TCP Window when transferring large data"
**Scenario**

Use lwip to send 1 MiB to a remote TCP server with a latency of about 10ms and receive the same data back.

**Expected result**

The data is received back.

**Actual result**

The script stalls.

**Detail**

Wireshark shows a TCP window size of zero from the test client.

**Steps to reproduce**

1. Checkout the test code from: https://github.com/throwException/genode/tree/test-lwip_l

[2021-03-24 18:53] jjkarcher commented on #3997
I have poked around a little bit, and it looks like the touchscreen and pen sometimes generate "unconventional" codes to the HID driver, which can cause the latter to seize up.  Judging from the comments in the Linux driver source, this is a common problem.  I guess that's the reason for the Wacom driver in the first place. ;^)

Question: Since the crash is gone, do you want to close this ticket,

[2021-03-25 10:17] nfeske commented on #3997
Thanks for being so considerate. Now that you are asking, I would indeed prefer closing this issue since none of the Genode core developers is actively pursuing the Wacom-driver work. On the other hand, we can of course not demand from you to work on it. So there is the risk of this issue becoming stale or putting some kind of pressure on either side.

If you are fine to close the issue, please go

[2021-03-25 10:50] alex-ab commented on #3918
@dckc: I'm closing the issue, since the new Sculpt 21.03 image contains all adjustments of the test image which worked for your HP Envy.

[2021-03-25 10:50] #3918 closed

[2021-03-25 15:30] chelmuth commented on #4056
Thanks for the excellent bug report! Do you possibly have any hints what might cause this behavior?

[2021-03-25 15:35] jjkarcher commented on #3997
Sounds good.  I will move my Wacom driver questions over to the ML.  Thanks!

[2021-03-25 15:35] #3997 closed

[2021-03-25 18:06] throwException commented on #4056
From what I understand of TCP zero window, I would suspect that the receive buffer is too small.

I tried tweaking lwip options at `contrib/lwip-6e0661b21fde397041389d5d8db906b5a6543700/src/lib/lwip/src/include/lwip/opt.h` but couldn't improve anything.

[2021-03-25 19:48] ehmry opened #4057 "ahci_drv, part_block do not support reconfiguration of policies"
`ahci_drv` and `part_block` both generate reports that might be used to generate client policies. Currently it is not possible to reconfigure either after their reports are processed because their configuration ROMs are never updated.

[2021-03-25 19:49] ehmry commented on #4057
Easy fix at 5833181782a158bb67c3b569d872fbbdf75ee51a

[2021-03-26 07:26] chelmuth commented on #4057
Your fix suggests the components are dynamically reconfigurable, which is only true for new session requests. Invalidating old policies (and thereby access permissions) is not considered, but should be integral part of the dynamics.

[2021-03-26 10:22] nfeske opened #4058 "sculpt: delete key does not work in system shell / inspect view"
When pressing the delete key in the bash shell, a tilde appears whereas the delete key works fine in Vim.

[2021-03-26 10:28] nfeske commented on #4058
Fixed by https://github.com/genodelabs/genode/commit/cdfb0e90c4208a32ae87fd435ebb4f87aa1c472b

[2021-03-26 13:56] nfeske opened #4059 "sculpt: focus-follows-mouse is sometimes not reliable"
@cnuke reported a corner case where the focus would not always follow the mouse when quickly moving the pointer back and forth between windows.

[2021-03-26 14:17] nfeske commented on #4059
Commit https://github.com/nfeske/genode/commit/4767c714b2b73a2368a38a34e5deb8bbfb873608 should fix this issue but will need a bit of testing.

@cnuke I have published a package of the fixed wm. You can find it in my sculpt index. I'd be grateful for your feedback.

[2021-03-26 14:39] cnuke commented on #4059
@nfeske thanks, with the commit I cannot reproduce the particular problem any longer. I'll keep using it and will keep you posted if any other issue related to the changes arise.

[2021-03-27 11:07] tomga commented on #3972
@nfeske @chelmuth I have found another inconsistency in behavior. Steps to reproduce are as follow:
[code]
Building `drivers/wifi` requires some libraries from `libports` that are not available and therefore nothing should be built. But it can be observed that `.ucode` are copied due to rules in `repos/dde_linux/lib/mk/iwl_firmware.mk` _assigned_ to `all`.

637f17a26941426ca84f2bd0a157a936ff7c41cc

[2021-03-28 20:29] tomga commented on #3972
In cb94e7580fe596a2b61796598ebb49133cda3f19 I added a fixup  with a proposition to solve it cleaner in my opinion.

[2021-03-29 10:08] nfeske commented on #3972
I like your suggestion, @tomga. In fact, while we're at it, I think we should consider taking this direction even a bit further to also cover places like https://github.com/genodelabs/genode/blob/master/repos/gems/src/app/menu_view/target.mk among others. You are touching a long-standing inconvenience of the build system.

Do you agree that such a generalization makes sense? If yes, what would be

[2021-03-29 10:51] tomga commented on #3972
@nfeske, I expected that such cases exist for program targets (although I did not look for them and they did not hit me yet) and I also thought that a generalized solution should be implemented and I hoped that you'll propose a name for this variable ... :-) `TARGET_DEPS`? `CUSTOM_TARGET_DEPS`? `TARGET_DEPENDENCIES`?

As about splitting implementation of hook and adaptation I agree of course. Curr

[2021-03-29 11:41] nfeske commented on #3972
I'm generally fine with either way and will just go ahead with re-opening it.

Your suggestion `CUSTOM_TARGET_DEPS` sounds very good to me.

[2021-03-29 11:47] #4058 closed

[2021-03-29 11:47] #4059 closed

[2021-03-29 15:56] nfeske commented on #2726
Fixed by the series of commits shown above.

[2021-03-30 13:59] cproc opened #4060 "libports: update expat"
The expat port preparation fails because the archive file has been renamed to 'expat-2.1.0-RENAMED-VULNERABLE-PLEASE-USE-2.3.0-INSTEAD.tar.gz'.

[2021-03-30 15:09] cproc opened #4061 "'egl_api' port preparation error"
When I try to prepare the 'egl_api' port on the current staging branch, an error occurs:

[code]

This error seems to be related to issue #4028, although for some reason the nightly 'check-ports' test said

[code]

I also wonder about the dependency of the 'egl_api' port when doing the following steps in an unprepared staging tree:

- create build directories for x86_64 and arm_v7a
- enable all re

[2021-03-31 06:34] ssumpf opened #4062 "base-hw RISC-V: Add support for hardware timer with a frequency < 1MHz"
Base HW assumes a timer frequency of at least 1MHz so it can calculate in microseconds (enforced through assertion). On MiG-V the timer has a frequency of 32KHz. Therefore, we need support for slower timers while losing accuracy on this platform.

[2021-03-31 07:55] nfeske commented on #4060
Merged to staging

[2021-03-31 08:06] nfeske commented on #4061
Thanks @tomga for the super quick response. I merged your fix to staging just now.

To investigate those inter-dependencies, a look into the generated `<builddir>/var/libdeps` file for both architectures may be insightful.

[2021-03-31 09:17] nfeske opened #4063 "util/xml_generator.h: avoid excessive inlining"
The `Xml_generator::Node` constructor is a template because it takes a lamba as argument. When generating deeply nested XML structures as done by the sculpt manager for example, the inlined constructor code inflates the binary and slows down the compilation.

[2021-03-31 09:28] #4062 closed

[2021-03-31 09:33] tomga commented on #4061
I already mentioned it yesterday and actually I tried to find some important difference but they are quite big (more than 5500 lines) and the only difference I spotted regarding `egl_api` was that in one case it was added to `MISSING_PORTS` variable and did not in the other. That's why I asked for an answer for this puzzle if someone knows the answer.

[2021-03-31 15:24] cproc commented on #4061
Mystery solved: as mentioned by @tomga,

[code]

in `repos/base/src/lib/target.mk` adds `egl_api` to the `LIBS` variable.

Then, in `repos/base/mk/dep_prg.mk`

[code]

includes the `import-egl_api.mk` file, which adds the `egl_api` port reference to the `INC_DIR` variable:

[code]

And finally, in `repos/dde_rump/lib/import/import-rump.mk`

[code]

evaluates the `INC_DIR` variable on ARM only and

[2021-03-31 16:26] tomga commented on #4061
@cproc thanks for explanation. I completely missed fact that INC_DIR is not evaluated until really used.

[2021-03-31 22:49] tomga commented on #3972
Changes are in my [mk_fixes_2](/tomga/genode/commits/mk_fixes_2) branch.

First commit contains introduction of `CUSTOM_TARGET_DEPS` for programs and libraries with some small doc string that I assumed is needed. @nfeske feel free to modify it in any way or even remove if you decide it is not required.

Following two commits make use of this variable in `iwl_firmware` library and mentioned by you

[2021-04-01 12:02] nfeske commented on #3884
Commit https://github.com/genodelabs/genode/commit/46aaec735e7c30ba2e6a2edd9058e6e461c4c2df fixes a subtle performance regression I observed in Sculpt. Caused by the changed semantics of `trigger_periodic(0)`, the nitpicker instance of the leitzentrale was confronted with signals at the maximum rate after presumably disabling periodic timeouts.

The commit restores (and documents) the original sem

[2021-04-01 16:59] nfeske opened #4064 "sandbox/init: avoid superfluous periodic state reports"
When enabling the `child_ram` or `child_caps` report, init reports its state in a periodic fashion, sampling the resource use of its children. The sampling is needed because init does not know when a child consumes/releases its resources. A child doesn't need to interact with init for allocations after all.

The period of the state reports can be configured. E.g., Sculpt's runtime subsystem uses t

[2021-04-01 17:02] nfeske commented on #4064
With the commit https://github.com/genodelabs/genode/commit/fc14e32fa1fd60e9b0ce8b1fbbcfae9f838a7518 in place, the load for the sculpt manager eventually drops to zero.

[2021-04-01 17:08] m-stein commented on #3884
@nfeske I must admit that I don't like this kind of special treatment of certain input values. I would rather vote for using a Periodic_timeout object and destruct it in order to discard the timeout. The silent clamping to 1 us at the other hand is merely a protection against misuse which I added as it seemed complicated to me to ensure that 0 can't be used as argument.

[2021-04-01 17:27] m-stein commented on #3884
@nfeske Apart from that, it's cool that you could fix this regression, and, technically speaking I have no objections, but I would vote for fixing the user and keeping the interface simple in this case.

[2021-04-01 18:06] nfeske commented on #3884
Please let me explain my chain of thoughts that led to the commit.

You are right that in most cases, the `Periodic_timeout` is the way to go. But there are nevertheless valid use cases for the direct use of the timer's RPC interface: In particular, when a precise and cheap time source is not of interest but time-triggered execution is needed. In those cases, the samping / interpolation of timesta

[2021-04-01 18:51] m-stein commented on #3884
You're right and I'd like to apologize for having changed this semantic without explicitly pointing to it and also for having unnecessarily consumed your time this way! I must admit that in the long course of this issue, my discipline in documentation couldn't catch up at some points. I'll try to keep it in mind.

For the rest, I sense that I currently don't have the time to argument in such a pro

[2021-04-04 12:32] m-stein commented on #4032
This commit series provides a version of the CBE manager that can be deployed in Sculpt (see my depot index) and used to persistently store data on the automatically created ext2 fs that is provided by the manager through an FS service. This version, however, is **not thought for productive use and you should refrain from storing sensitive data with it!**. Please also read the "Open issues" paragr

[2021-04-06 12:35] nfeske opened #4065 "rtc_drv: don't touch RTC device until first use"
The RTC driver interacts with the device at initialization time by calling `Rtc::get_time` (https://github.com/genodelabs/genode/blob/master/repos/os/src/drivers/rtc/main.cc#L87) during the construction of the `Root` object. When booting Sculpt OS, the busy polling of `get_time` can take multiple seconds (on Qemu), which unnecessarily delays the boot of Sculpt OS even though the base system does n

[2021-04-06 12:46] nfeske opened #4066 "Manual instrumentation utilities for performance analysis"
Even though we have the `Trace::timestamp` utility readily available, it remains barely used for manual instrumentation because such instrumentations require too much labor: allocation of state variables for gathering the statistics, computing time differences, traffic-shaping of the debug noise (needed whenever investigating highly frequently called code). These tasks should better be covered by

[2021-04-06 13:01] nfeske commented on #4066
Addressed by https://github.com/genodelabs/genode/commit/1ba2df6bd09889710fc81d7282bd44ce0f5c3b06. Over the Easter holidays, I intensively used this utility to investigate the boot time of Sculpt OS on Qemu. The two macros `GENODE_LOG_TSC` and `GENODE_LOG_TSC_NAMED` are provided by the new `debug/log.h` header.

I found the utilities so delightful and handy that I considered adding them to the reg

[2021-04-06 13:09] nfeske commented on #3972
Thank you @tomga for the commit series, which I merged to staging right now.

I am especially happy about your attention to detail and the added documentation. It is fantastic to receive such thoughtful contributions!

[2021-04-06 13:26] nfeske opened #4067 "Range_allocator interface refinements"
The `alloc_aligned` method interface should be improved in the following respects:

* Wrapping the address-range constraint into a dedicated type `struct Range { addr_t start, end; }`
* Replacing the use of default arguments by an explicit overload
* Changing the alignment type from `int` to `unsigned`

[2021-04-06 14:15] ehmry commented on #4057
Yes, the short-term problem solved here is that it may seem intuitive that new policies could be added, but really the components need to be restarted for that to work.

[2021-04-06 14:47] nfeske commented on #4067
Fixed by https://github.com/genodelabs/genode/commit/8ceedee3d17cd4ea3f31241dc15991effee2c99c

[2021-04-07 10:03] nfeske opened #4068 "init: reduce config-parsing overhead"
Init's ability to respond to dynamic reconfiguration updates has become a fundamental mechanism for many scenarios, most prominently the runtime subsystem of Sculpt OS. Until now, however, the config processing remains rather crude. The immediate goal behind its implementation was robustness and simplicity. But complex Sculpt scenarios - in particular when executed on low-end hardware - show that

[2021-04-07 11:43] nfeske commented on #4068
The two commits above implement both optimization ideas.

Commit https://github.com/genodelabs/genode/commit/2cafc8f7704d901962a3b6e3678d68839f21d4ef changes the parsing to the list-model approach. As expected, the change is rather invasive. The code has become larger in terms of lines of code but I think it is easier to understand and to maintain this way. More interestingly, this change accelera

[2021-04-07 13:44] nfeske commented on #4068
BTW, I just pushed a Sculpt-21.03 compatible branch that includes the optimizations at https://github.com/nfeske/genode/commits/sculpt_21_03

[2021-04-07 15:51] nfeske commented on #2243
I have started to pick up this issue for once. It has almost grown a beard already.

During an offline discussion (including @alex-ab, @skalk, @ssumpf, @cnuke), we identified the following actionable points towards wrapping up this issue.

* The `Cache_attribute` enum has three values CACHED, UNCACHED, WRITE_COMBINED, which is not useful at the API level. It should better be trimmed to the two arg

[2021-04-07 16:25] nfeske commented on #2243
Commit https://github.com/genodelabs/genode/commit/07dd42ed05715f25296925650fdf9676bbf2e971 implements the renaming.

Commit https://github.com/genodelabs/genode/commit/3b7703835dbf44a262b1c03c36f91547a9accf6b add `Platform_session::dma_addr` to the x86 platform driver. @alex-ab could you have a look at the latter commit?

[2021-04-07 16:48] nfeske commented on #2243
The imx8 framebuffer driver happens to allocate a RAM dataspace using the write-combined attribute, which caught me by surprise: https://github.com/genodelabs/genode/blob/staging/repos/dde_linux/src/drivers/framebuffer/imx8/lx_emul.cc#L1201 Does that mean we actually need the WRITE_COMBINED case for the Cache attribute enum after all?

[2021-04-07 17:36] nfeske commented on #2243
Commit https://github.com/genodelabs/genode/commit/902d106be260a3bee0f50a3a4ce6f8e7ff6454da does the shortening of the `Cache_attribute` enum to `Cache`.

[2021-04-07 20:03] skalk commented on #2243
I'm pretty sure this is a copy'n paste issue. Most of the imx8 framebuffer driver's lx_emul code is a copy of the intel framebuffer driver. @cproc please correct me if I'm wrong. So I'm pretty sure we don't need WRITE_COMBINED. Moreover, the WRITE_COMBINED cache attribute on arm64 at least in base-hw maps to the same page flags like UNCACHED.

[2021-04-07 20:26] cproc commented on #2243
The requirement comes from here:

https://github.com/Freescale/linux-fslc/blob/1d832e20c24583e665fc1731785177bb55b62c46/drivers/gpu/drm/drm_gem_cma_helper.c#L87-L101

[2021-04-08 07:44] alex-ab commented on #2243
The commit looks good :+1:

[2021-04-08 09:07] nfeske commented on #2243
Thanks.

[2021-04-08 12:07] nfeske commented on #4066
After an offline consultation with @chelmuth, I added the fixup https://github.com/nfeske/genode/commit/caab614117eb944cd57c763b3795cdc004255c4b, which makes the mechanism more flexible and cleaner, and makes it part of the regular base/log.h header.

[2021-04-08 14:04] jschlatow opened #4069 "allow event_filter to mute superfluous unknown key events from quirky keyboards"
When I was trying sculpt on my current laptop, I noticed that the GUI became unresponsive to mouse clicks once I typed in the wifi password. Since my external keyboard already required special treatment with Linux, I started investigating...

First of all, the keyboard is a Cherry MX Board 3.0S. Strangely, it generates extra scancodes with every key press/release. Both, in Linux and Sculpt, these

[2021-04-08 15:13] nfeske commented on #2243
It still remains rather vague. After consulting with @skalk and @chelmuth, we decided trying to live without the Cache::WRITE_COMBINED enum value and see how we fare.

@cnuke mentioned potential uses of this flag for GPU buffer objects but I'm unable to wrap my head around that. It goes without saying that write-combining for I/O MEM dataspaces will be preserved. So @cnuke's case on x86 could pote

[2021-04-08 15:14] nfeske commented on #2243
Commit https://github.com/genodelabs/genode/commit/04d2f18a822aaf6e3736e15e74670f7981369945 imports the `Genode` namespace into the `Platform` namespace, making the platform-driver code easier to read.

[2021-04-08 15:28] jschlatow commented on #4069
Commits 8f451f1 and 6bf7e9c contain the functional changes. For debugging purposes, I also extended event_dump with a passthrough functionality in 5776354 to be able to place it between the usb_hid_drv and event_filter for instance. Since multiple key codes will print as KEY_UNKNOWN, I also modified the `Input::Event::print` method in 93be54e to log the key code as well. Note, that the key code is

[2021-04-08 16:42] nfeske commented on #2243
In https://github.com/genodelabs/genode/commit/b7f56b627128bac4ef6f00fd9e7ab00d0afc9fb2, I added the `Cache` argument to `Platform_session::alloc_dma_buffer`.

[2021-04-08 17:26] nfeske commented on #2243
The next step is replacing core's heuristics about the UNCACHED/CACHED attribute (to decide whether or not DMA page tables need to be populated) on x86 by an explicit `attach_dma_buffer` operation. Intuitively, I considered adding this operation to the `Region_map` as a companion of the existing `attach` and `attach_at` RPC functions first. However, I eventually came to the conclusion that it fits

[2021-04-08 17:30] nfeske commented on #2243
As a third point, the permission check for the managing-system role is straight-forward to accomplish in the context of the PD session, compared to the `Region_map`.

[2021-04-09 06:36] trimpim opened #4070 "lx_fs: add watch"

[2021-04-09 09:05] ssumpf opened #4071 "ldso: review the usage of Mutex in `dl_iterate_phdr`"
The mutex in `dl_iterate_phdr` prevents further function resolution in `callback` functions, if a function has not been relocated at this point this leads to a deadlock.

[2021-04-09 09:13] ssumpf commented on #4071
695368f should be merged with 6a016dfc25f99bd68e31c92d3c25ffa2d15f26b7

[2021-04-09 09:59] nfeske commented on #4071
Thanks. I squashed both commits to https://github.com/nfeske/genode/commit/c45d964bc23f4f0f370c74d8a1290c88fe974876 on staging. @ssumpf can you double-check the commit?

[2021-04-09 10:30] chelmuth commented on #4066
The current version perfectly fits my needs.

[2021-04-09 10:34] nfeske commented on #4069
What do you think about making the dropping of specific key codes explicit in the event-filter configuration instead of attaching builtin semantics to specific codes? For example, by adding a `<ignore-key>` node type to the remap filter,  one could write:

[code]

But the mechanism may be useful for other keys as well. E.g., some music fans might want to apply it to KEY_VOLUMEDOWN.

Regarding the

[2021-04-09 10:50] ssumpf commented on #4071
Looks good to me.

[2021-04-09 11:45] trimpim commented on #1120
We added this in preparation of adding watch to `lx_fs` (#4070), in order to be able to run the `run/lx_fs` test. It adds `unlink` support. Support for `symlinks` is left out because of security considerations.

[2021-04-09 13:02] nfeske commented on #4032
Thanks for sharing, @m-stein! I just gave your package found in your sculpt index a try.

The initial test to deploy the component, route both the trust anchor and the back-end file systems to the recall fs, write to the encrypted file system using another system-shell instance, restarting the system, typing in my passphrase again, and getting back to my system-shell prompt with access to the unen

[2021-04-09 16:06] nfeske opened #4072 "Sculpt: depot_rom gives up after failed upgrade caps of an fs session"
Today while test-driving the new CBE manager subsystem, I ran into an issue where the depot_rom component tried to upgrade the cap quota of the used file-system session while its own cap quota was already depleted. This unfortunate chain of events (depletion of the fs-session cap quota + depletion of depot_rom's cap quota) prompted the depot-rom to give up the attempt to hand out a ROM module, whi

[2021-04-09 16:20] nfeske commented on #4072
Fixed by the two commits https://github.com/genodelabs/genode/commit/6738a07a490f0d46d5e8964cc21c60e61ce79b07 and https://github.com/genodelabs/genode/commit/c53ef94ce8d52787d4552cda1558e0aea15296d2

[2021-04-10 09:05] m-stein commented on #4032
@nfeske Thanks a lot for trying out the new package so fast and for
sharing your thoughts in such a detailed way!

El 09.04.21 a las 15:02, Norman Feske escribió:

This is only because it is still a premature version of the program. My
plan would be that the final version doesn't print anything to the log
when not explicitely asked to (similar to the NIC router). Of course,
this includes the grace

[2021-04-12 07:19] chelmuth commented on #4032
I share your sentiment that the key protection must get top priority before the CBE can be applied in practical use cases. Therefore I checked my favorite *key management* and *cloud vault* tools for technical documentation of the key protection mechanisms. [Cryptomator](https://cryptomator.org/) brings detailed [documentation](https://docs.cryptomator.org/en/latest/security/architecture/) of its

[2021-04-12 14:34] nfeske commented on #2243
Commit https://github.com/genodelabs/genode/commit/4124ecc51300fa4bd0d670ab605bd91cfd21eb1f implements @skalk's suggestion to unify the core-internal `Mapping` type between all base platforms.

@alex-ab on seL4, I had to dumb down the diagnostic message printed whenever a non-memory fault is observed because the seL4-specific fault type can no longer be propagated to the platform PD via the `Mappi

[2021-04-12 15:38] alex-ab commented on #2243
Ok, i see

[2021-04-12 20:12] m-stein commented on #4032
@chelmuth Wow, splendid! Thanks for this helpful input! I'm already done with my above mentioned approach and it works fine but I will dig right into the documentation you sent and see what I can improve.

[2021-04-14 08:30] ssumpf commented on #4071
@nfeske: 5dcee7e is a follow up to c45d964 because the latter caused a deadlock when dynamically loaded libraries (e.g., `dlopen`, `Shared_object`) threw exceptions during ELF setup. Please consider for staging.

[2021-04-14 08:54] tomga opened #4073 "tool/run: minor issues"
During my experiments I found two issues in run script that I cannot workaround easily without modifications to the script itself, so I'd like to ask for consideration to accept patches from my [run_tweaks](/tomga/genode/commits/run_tweaks) branch.

First commit (e2f92c346460a38916de94ef322a76876e8c7940) allows to implement retrieval of build targets of run scripts without actually performing a bu

[2021-04-14 09:25] nfeske commented on #4071
Thank you, merged to staging. The reworked version of the code looks so much better.

[2021-04-14 15:23] skalk opened #4074 "platform_drv: introduce "type", remove "compatible" property"
The platform driver for ARM introduced a property into the device description in the form:

```<property name="compatible" value="example-type"/>```

Properties were meant as everything not interpreted by the platform driver itself, but exported to the driver. Especially, in the context of ported device driver these properties were used, e.g., to match the correct device driver in Linux ports.

Ho

[2021-04-14 15:25] nfeske opened #4075 "Counterpart of `Attached_mmio` for the use with the platform driver"
For accessing memory-mapped I/O registers obtained directly from core's IO_MEM service, we used the handy `Attached_mmio` utitlity. This utility is no longer viable when resources are obtained via the platform driver, raising the need for an alternative utility.

[2021-04-14 15:29] nfeske commented on #4075
Commit https://github.com/genodelabs/genode/commit/ca9aeff8bafaf6bc7c362edfd1fac8115d5233d7 introduces the new `Platform::Device::Mmio` utility for this purpose. It takes a region map (`env.rm()`), a platform device, and an MMIO-resource index as argument.

[2021-04-14 20:38] tomga commented on #3975
@nfeske I read your proposal few times over past months and still have a feeling that some things are not exactly right in it. Like you wrote it's quite a lot of text and many issues are touched and I needed time to think them over thoroughly.

I think there are different things mixed a little and in consequence different problems are joined together which I think is not required. I'll try to spli

[2021-04-15 08:06] nfeske commented on #4075
After sleeping over the current iteration, I'm still not completely satisfied when looking at the interface from the API-user's perspective.

Here is how a simple driver would look like right now:

[code]

I won't talk about the many things I *like* about it, only about the few things I find worth improving.

* The terminology `Device_client` highlights the fact that an RPC interface is used. But

[2021-04-15 08:25] alex-ab commented on #2726
I discovered commit b9a5053ae1a51cd291503c3793d4f09e6e24e17c, which re-introduce the bug of #3829. The specific table may be shorter than the members used to access the table. Additionally, the commit misses to check the type of the reset, which is not ever of type IO port. If solely the I/O type should be supported, then the register values should not be reported to consumers of the report.

[2021-04-15 08:51] nfeske commented on #4075
Thanks @skalk for reviewing my suggestions. Given your yesterday's response I was indeed hesitant to make this suggestion. But given my trouble to find reasonable justification for the region-map argument, for the forthmoming documentation, I'm longing for the streamlined API.

Yes.

[2021-04-15 11:04] alex-ab commented on #2726
No, according to the mailng list discussion of #3829 you need Windriver Simics.

No, but I can offer to come up with fixups.

[2021-04-15 11:57] nfeske commented on #2726
That would be really nice. Thank you for the offer.

[2021-04-15 13:56] alex-ab commented on #2726
I added to fixups, please review.

[2021-04-15 16:14] nfeske commented on #2726
Thanks @alex-ab for the thorough rework. I cherry-picked both commits to staging and will give the mechanism a try on my machine tomorrow.

[2021-04-15 16:16] nfeske commented on #4075
Commit https://github.com/genodelabs/genode/commit/5a2f9ab3d13a35e4967ddb07f6c807d399f25d05 is a more profound take on streamlining the API for accessing devices via the platform drivers. It implements the sketch outlined above.

[2021-04-16 08:09] jschlatow opened #4076 "dde_linux: pci device matching ignores subsystem id"
On my T490s I stumbled upon a potential issue in [lx_emul/impl/pci.h](https://github.com/genodelabs/genode/blob/master/repos/dde_linux/src/include/lx_emul/pci.h). I was wondering about the driver logging a wrong wifi card.

Currently, the driver's id table is iterated for every PCI device in order to find a matching entry based on the device id.
Yet, for wifi, the driver's id table distinguishes c

[2021-04-16 08:10] trimpim commented on #3967
How should I proceed with this issue? Can I support you in any way to bring it to staging/master?

[2021-04-16 09:48] jschlatow commented on #4076
Commit 2dfd7c3 contains a straightforward fix in lx_emul.

[2021-04-16 09:50] nfeske commented on #2726
Just want to report back that the ACPI reset still works fine with the latest commit on my x250. :-)

[2021-04-16 10:01] alex-ab commented on #2726
Sounds good :-)

[2021-04-16 11:19] alex-ab commented on #3967
If you could adjust the test in a way that it terminates after some configurable amount of rounds, I can take care to integrate it into our weekend testings.

[2021-04-16 13:34] skalk opened #4077 "platform_drv: enrich device XML info with physical resource names"
For driver ports like DDE Linux device drivers, it is more easy to relate physical resources given by the platform driver, e.g. with information provided by a device-tree-blob. Therefore, it would be nice to export these additional information via the devices XML info. For simple-and-clean, written-from-scratch drivers to not "infect" them with these physical, global names we can make the whole de

[2021-04-19 08:22] nfeske commented on #4070
@trimpim What a splendid commit series! I very much appreciate your great care for the details and the focus on testing. I will merge your commits right after the next master update.

The watch feature is really cool to have. I was actually tempted to add it at one point to make the work with goa more flexible (e.g., for live editing of menu-view dialogs). So I'm delighted about you providing the

[2021-04-19 09:17] alex-ab opened #4078 "qemu-usb: add usb webcam model"

[2021-04-19 09:33] jschlatow opened #4079 "platform_driver: let device driver decide whether to use MSI-X or MSI"
Currently, the platform driver always enables MSI-X if available and does not let the device driver any choice in "downgrading" to MSI (or even IRQ). On my T490s, this led to the device driver to fail during firmware load. More precisely, the iwlwifi driver calls  `pci_enable_msix_range()`, which is implemented as a dummy in dde_linux and returning `-1`. As the driver expects to get the number of

[2021-04-19 12:42] trimpim commented on #4070
@nfeske I have found an error during stress testing the feature, and am working on a fixup.

[2021-04-19 12:58] nfeske opened #4080 "libc/arm: remaining global constructor"
While testing an interactive scenario including the graphical terminal on ARMv7 today, I noticed the following error:

[code]

Apparently, the transitive dynamic linking dependencies of the terminal are not free from global constructors on ARMv7.

@ssumpf was able to track the problem down to the libc's src/lib/libc/lib/libc/arm/gen/arm_initfini.c complication unit where the `_libc_aapcs_init` fun

[2021-04-19 12:59] nfeske commented on #4080
Commit https://github.com/nfeske/genode/commit/0d2d3d29088532815c79421e7274f45f4ce510ed solves this problem by excluding the offending compilation unit.

[2021-04-19 14:15] nfeske opened #4081 "register/mmio framework: add upper-bounds checks"
The `Register` respectively `Mmio` API has become predominant in Genode's drivers and the type-safe access to hardware registers has become a second nature. However, one point of unsafety remains. The `Mmio` constructor merely takes the base address of the locally mapped memory-mapped I/O range as argument, but not an upper bound. All `Register` definitions are assumed to comply with the size of t

[2021-04-19 16:24] m-stein commented on #4081
@nfeske I think the range check is a good idea. And I could do it like next week. I think, it shouldn't consume more than 5 days. I'd vote for the second approach. The offset and the size of registers is a compile-time thing and so should be their validation check as I see it. Like you, I think the check runtime size >= compiletime min-size should cause an error and an exception and should not be

[2021-04-20 07:51] #4057 closed

[2021-04-20 07:52] #2858 closed

[2021-04-20 09:54] nfeske commented on #4081
Cool! Thanks @m-stein for taking care of this topic.

I share your allergy against raw pointers and try to avoid them whenever possible. In this case, however, the argument *is* a pointer. In each instance where `Mmio` is used, we cast a local pointer to an `addr_t`. Then, inside the register framework, we cast `addr_t` back to a pointer to de-reference it.  Disguising it as an `addr_t` does not m

[2021-04-20 10:06] nfeske commented on #4070
@trimpim Thanks for the heads-up. Please give me a short notice when you are comfortable with me picking up the commits.

[2021-04-20 10:11] #4060 closed

[2021-04-20 10:11] #4061 closed

[2021-04-20 10:11] #4063 closed

[2021-04-20 10:11] #4064 closed

[2021-04-20 10:11] #4065 closed

[2021-04-20 10:11] #4067 closed

[2021-04-20 10:11] #4068 closed

[2021-04-20 10:11] #4071 closed

[2021-04-20 10:11] #4072 closed

[2021-04-20 10:11] #4074 closed

[2021-04-20 10:11] #4075 closed

[2021-04-20 10:18] nfeske commented on #4077
@skalk can you please point me to the most recent commit / branch to merge?

[2021-04-20 10:23] nfeske commented on #4076
Merged as https://github.com/genodelabs/genode/commit/685fd95f172de2e251f1437657a0846f72233cfb. I slightly shortened the first line of the commit message to adhere to the usual 50-character limit.

[2021-04-20 10:26] nfeske commented on #3972
@tomga, with the commits having entered the master branch, are you fine with closing this issue?

[2021-04-20 10:29] tomga commented on #3972
Of course. We can reopen it again if something new comes up.

[2021-04-20 11:26] skalk commented on #4077
@nfeske sorry, I mistakenly deleted the corresponding branch. I re-newed my merge_to_staging branch now. It is commit id 37b3035

[2021-04-20 12:50] nfeske commented on #3754
The commits referenced above contain the remaining steps to solve this issue for the Genode repository.

Regarding qt_avplay in world, I have merely added a local copy of the original os/slave.h to the application for now. Down the road, we should better adjust the program similar to what I did in https://github.com/genodelabs/genode/commit/fad0ef52d7763ef1d4cedb86caf789c398f8de11.

[2021-04-20 21:33] tomga commented on #4073
During past week I finished my alternative Genode build system to somewhat consistent state and set up buildbot for easy testing for regressions so I decided that it is a good moment to make this code public. `run` tool plugins mentioned here earlier are:
 * [run_build_targets](/tomga/genodebuildtool/blob/master/tool/run_build_targets)
 * [run_file_copy](/tomga/genodebuildtool/blob/master/tool/run

[2021-04-21 08:42] nfeske commented on #4073
Sorry for the late response. I agree that both commits should do no harm.

Regarding the `file_copy` commit, there may be the risk of new instances of `file copy -force` being added in the future because the use of `file_copy` is not enforced. There are several run scripts that use `file copy -force`. Are they causing trouble for you? If yes, we should seek a way to enforce that `file copy -force`

[2021-04-21 10:19] nfeske opened #4083 "wifi_drv: no reconnect once the connection is dropped"
With the current version of Sculpt, my wifi connection at home has become pretty unreliable. Sooner or later, the connection is dropped and does never recover. I'm able to revive the connection be restarting the wifi driver manually - until the connection is dropped the next time. Previous versions of Sculpt did not have this problem.

Today, @chelmuth managed to reproduce the problem manually by

[2021-04-21 11:51] trimpim commented on #4070
@nfeske fd1ba22d18d54885df7e24bfb7ec0ff390ddf931 fixes an error in the watch implementation.

However, during testing I have encountered a problem in the interaction of `lx_fs` and `fs_rom` in the case when a watched file is changed frequently from the Linux side.

In our scenario we have two components watching the same file via a `fs_rom`. From time to time it happens, that one of the components

[2021-04-21 12:11] skalk commented on #4077
A problem arised: the recent addition of utilities for platform devices on ARM* (see issue 4075) uses inherently the device XML information, when using the `device_by_index()` utility in `Platform::Connection`. When making the device information optional this utility breaks. To workaround the problem I would extend this issue in removing `device_by_index()`, which is primarily only used with index

[2021-04-21 12:41] skalk commented on #4077
@nfeske I've pushed a fixup commit 5a9a44d8d3e0786c8f4d5cc7d8414f1b8d3feb7a to my merge_to_staging branch, which fixes the Virtio NIC driver on x86, and implements above described API change.

[2021-04-21 15:12] nfeske commented on #4077
Thanks a lot. Merged to staging.

[2021-04-21 15:25] m-stein commented on #4083
Don't know if this is related but since I updated Sculpt, the Wifi driver produces a page fault while scanning on my T490. In Spain I hadn't the time to deal with it so I just switched to Nic. The driver first complains that it failed to load a firmware chunk and then dies. I'll send the log later as I'm working and don't want to crash anything.

@nfeske @cnuke I cannot say for sure that the issue

[2021-04-22 05:20] alex-ab commented on #4079
Thanks for investigations. For me it sounds, that on the one hand the principal support in our wifi driver for msi-x needs adjustments and on the other hand the question most be solved, which interrupt style is appropriate for a pci device. According to the our experience and the quirk lists in the ported driver, just looking at the PCI capabilities of a device is not sufficient for the platform d

[2021-04-22 06:46] jschlatow commented on #4083
@m-stein I experienced the same behaviour on my T490s and investigated (#4079). The firmware loading fails because of a timeout while the driver is waiting for an interrupt from the device.

[2021-04-22 10:00] cnuke commented on #4083
@nfeske I am going to look into the problem, @chelmuth already informed me about yesterday's findings.

[2021-04-22 10:05] m-stein commented on #4083
@jschlatow Thanks a lot for hinting me to this one. I just tried the commit and it works just fine.

@nfeske I cannot confirm the unreliable connection issue with my T490 so far.

[2021-04-22 10:08] m-stein commented on #4079
Thanks also from my side! I just rebased my sculpt_t490 branch onto the t490s branch of @jschlatow. Apparently this fixed the regression with my T490 as well.

[2021-04-22 11:32] alex-ab commented on #4079
After a local discussion, it is preferred to have explicit msi msix xml attributes instead of no_msi no_msix as temporary fix. I will work on it.

[2021-04-22 12:19] alex-ab commented on #4079
Please review and re-test 0addbd14127db92496697bfd8cd8617cc2674b45

[2021-04-22 13:24] m-stein commented on #4079
@alex-ab Commit 0addbd1 gives me merge conflicts on jschlatow/t490s and it seems not to be connected to any branch. Can it be used as replacement for 74cdb03b05, f8d55c6f84, 98b4c5c631 on jschlatow/t490s?

[2021-04-22 13:27] trimpim commented on #3967
@alex-ab I have rebased to the latest master and added parameters to the test program. The current run scripts sets 10000 iterations, wich takes about 10 minutes on Linux and 2 hours on Nova.

[2021-04-22 14:03] alex-ab commented on #4079
The commit is part of the issue_4079 branch which is based on staging. cb891f0e793e0acd14deb9499b42459f20d5ae3a is a "backport" on the t490s branch.

[2021-04-22 14:10] alex-ab commented on #3967
@trimpim: Thanks a lot, I'm going to integrate the test tomorrow.

[2021-04-22 15:52] m-stein commented on #4079
@alex-ab Thanks for the backport! With commit cb891f0, the Wifi works fine but Now I can't access the partitions on my NVME-0 disk (Samsung mzvlb51, 500G) anymore. When clicking on it in the Storage dialog, instead of listing the different partitions (one of them my Genode partition) it just shows "Format device". Component "nvme-0.part_block" is started, however and I can't see anything suspiciou

[2021-04-22 15:57] m-stein commented on #4079
I'll come to the office tomorrow so we can debug it more easily.

[2021-04-22 16:04] jschlatow commented on #4079
@m-stein @alex-ab am I mistaken or is `try_msi_msix` used as 'notry_msi_msix' [see here](https://github.com/genodelabs/genode/commit/cb891f0e793e0acd14deb9499b42459f20d5ae3a#diff-defe9b978805c2af49f5e1e8f4ed58ee7929cf8ddc351f1b70c9b9decdc15746R183)? I mean, with `try_msi_msix=true` the `_config_space` should be passed.

[2021-04-22 17:16] jschlatow commented on #4079
I can confirm that commit cb891f0 works if I swap the `_config_space` and `~0UL` in the ternary operator.

[2021-04-22 18:54] alex-ab commented on #4079
@m-stein, @jschlatow : thanks for testing and review/finding the mistake. I updated the both commits (staging/sculpt) accordingly.

[2021-04-23 08:33] cnuke commented on #4083
@nfeske thanks for the log.

I already prepared commit f811367 that re-arms the scan timer in case that network cannot be found. It should remedy your problem as now the `sculpt_manager` should be able to react upon the _network not found_ state. That being said, everytime I encountered the same behaviour during my tests, even without any further scanning, the driver or rather the wireless device

[2021-04-23 08:39] m-stein commented on #4079
@alex-ab Can confirm that with 8ec5b30e23b580f74596b92765dabf3b7dc2405d Wifi and the rest of my Sculpt work fine.

[2021-04-23 08:39] jschlatow opened #4084 "vbox: high CPU load in Linux VM caused by udev"
When I was setting up a Linux VM on my Sculpt system, I noticed a high CPU utilisation in the VM caused by the systemd-udevd process.

As I'm using Archlinux, I first compiled a know-to-work kernel (5.4) and tried again. The problem persisted, but I could narrow it down to the following 'corner' case. On bootup and after login, everything is running smoothly unless I resize the VM window. Restorin

[2021-04-23 08:41] m-stein commented on #4079
@jschlatow @alex-ab Thanks for dealing so fast with this problem.

[2021-04-23 09:00] jschlatow opened #4085 "vbox: screen flickering with Linux kernel 5.10"
Apparently, between kernel 5.4 and 5.10 the behaviour changed with respect to how the guest writes to the framebuffer on screen updates. On 5.10 a resize event is triggered on every screen update. Consequently, the `NotifyChange()` function in `ports/src/virtualbox5/frontend/fb.h` is called.

This function, not only logs a "fb resize" every time but also clears the screen if the guest's area is sl

[2021-04-23 09:06] sidhussmann opened #4086 "nic_router: avoid reusing the same nat port"
The nat feature of `nic_router` always started the outgoing src port with a fixed value of 49152. Consider following scenario:

[code]

If a `client` establishes a tcp connection to the `external_server`, and we restart the Genode system, the client will connect to the server again.
However, from the server's perspective, the tcp session has not been properly closed. Since the new connect will com

[2021-04-23 09:25] sidhussmann commented on #4086
670107dc1383ce925b246fc2d1d7535a2e1a8b33 adds a window of entropy to the dynamic port start, so the probability of running into this situation is minimized.

[2021-04-23 09:28] m-stein commented on #4086
@sidhussmann Don't get me wrong, I see your problem here. But I'm hesitant regarding your solution. Isn't there a way to gracefully shut down your connections? Or asked the other way around - is your way of often restarting without maintaining a friendly communication towards the server a common use case?

[2021-04-23 10:04] sidhussmann commented on #4086
@m-stein I understand your hesitation. Deciding to add a dependency to a third-party library should not be taken lightly. Maybe there is another source of entropy we could use?

Most prominently, the issues shows up on our CI/CD-pipeline where we extensively test the reconfiguration of a dynamic runtime. We have dozens of tests with clients maintaining a connection to external servers. If one of t

[2021-04-23 10:25] nfeske commented on #4070
I'm unfortunately not able to dive right into the guts of this topic right now. It is too far off my current area of focus.

For further debugging, I would try the usual strategies: E.g., increasing the stress. Does the corner case occur more quickly with 10 watchers instead of 2? Or, cross-correlation. Does the corner case occur when swapping-out components (e.g., lx_fs by vfs) but mimic the rest

[2021-04-23 10:39] m-stein opened #4087 "Apparently reversed capslock state in VM"
I just accidentically pressed [ctrl]+[capslock] in my Linux VM in Sculpt and it apparently reversed my capslock state (i.e. LED off -> upper case, LED on -> lower case). This can be reverted by again pressing [ctrl]+[capslock]. Under native Linux [ctrl]+[capslock] also switches the case but together with the capslock LED. So, I assume that [ctrl]+[capslock] simply doesn't trigger LED handling in S

[2021-04-23 11:04] alex-ab commented on #3967
I adjust the run script parameters on the issue_3967 branch and restricted for the moment to some few platforms, to see how it does over the weekend. With commit 608587264d36c3e5c0bf11008135858fcc6b5f03 the runtime also got better for the microkernels. @chelmuth, @nfeske: please consider for staging

[2021-04-23 11:41] alex-ab commented on #4084
No, not really, the code is from 2016. It actually originated out of vbox4, if I am not mistaken, with commit
93f0cde72f159857dd4bdb93405c1c8074137d6b an reaction on i_onAdditionsStateChange was introduced. There is a issue connected, which may help to reason about.

[2021-04-23 11:47] alex-ab commented on #4084
According to the original commit, the hint was not ever set, but depending on getFacilitiyStatus. Maybe this is just missing in the vbox5 case ?

[2021-04-23 11:55] jschlatow commented on #4084
`getFacilityStatus` was removed with commit 0a1839e3e230f360e9154c0fda08ed52c7080adf.

[2021-04-23 12:07] chelmuth commented on #4084
I'd suggest we give @jschlatow's change a shot in our own ZOO of Linux guests on developer machines and Windows test cases. From my experience all GUI elements of the vbox port where implemented with limited knowledge about the complex inner working of the original VirtualBox implementation. This fact also applies to my most recent "improvements" in dd4a3b02631a87d66536f9f10d9031d7e5a22867.

[2021-04-23 12:23] alex-ab commented on #4087
The capslock state is consumed by vbox reading a capslock ROM. In Sculpt the global_keys_handler (sculpt.run) generates the source report. It seems that there is no configuration for [ctrl]+[capslock] to toggle the capslock state.

[2021-04-23 12:26] alex-ab commented on #4084
I am fine with it.

[2021-04-23 13:11] m-stein commented on #4086
I would try not to introduce entropy at all. Apart from that, I don't know about any other way than using jitterentropy so far.

AFAIK you are right that there is yet no general protocol for triggering a component shutdown from outside. Nonetheless, it could be locally implemented without much effort. You could re-configure the component to start the shutdown. Regarding an acknowledgement you coul

[2021-04-23 14:40] chelmuth commented on #3967
That's great. I merged the series and are looking forward to the results.

This sounds promising at first but I'm still uncertain that the pthread-placement mechanism works as transparent as required. Now an explicit placement strategy (ie., *policy*) is silently extended by automatic round-robin placement if pthread IDs become greater than what is expected in the configuration. In my opinion we h

[2021-04-23 14:55] m-stein commented on #4070
@trimpim I was very happy to see your commits regarding watch in lx_fs because my CBE manager (#4032) run script uses lx_fs and it would be nice to see file size updates when expanding the back end image. Unfortunately, when cherry-picking f1da7f97c4 9015761835 ab3db4d0d7 7180511f91 fd1ba22d18 to my topic branch, I got an "deadlock ahead" from the lx_fs. So, I created a new staging-based branch 40

[2021-04-23 15:36] alex-ab commented on #4078
The issue_4078 contains the commit for the feature and is ready for review.

[2021-04-23 15:48] m-stein commented on #4070
This is the backtrace of the deadlock in lx_fs:
[code]

[2021-04-23 15:49] cnuke opened #4088 "Pathname pointer check in the libc"
Due to a configuration mistake on my side and a missing check in some contrib code I encountered a page-fault because `open(NULL, …)` was called. I traced the page-fault down to https://github.com/genodelabs/genode/blob/efbed6f7bfd2879b28ba209e8bbd2a7ae40ba0b4/repos/os/include/os/path.h#L36-L39
where this method is called by `Path_base::import()` with an invalid path pointer and path is unconditio

[2021-04-23 15:55] cnuke commented on #4088
Commit 2b9e289 (more of a band-aid) and 4afa399 lessen the problem - again I am indifferent to the practical relevenace in our situation but want to document the behaviour nonetheless.

[2021-04-23 15:56] m-stein commented on #4070
It seems that the problem occurs when closing the session to the lx_fs, which is done in my scenario by destructing the client component (fs_query) via the sandbox lib.

[2021-04-25 22:18] tomga commented on #4073
@nfeske thanks for merging those commits.

In ffdba74a9ff1edf3c418b7652c43128b7dec0df1 I replaced rest of `file copy` operations. All of them but one had `-force` parameter. Only `repos/ports/run/verify.run` contained a `file copy` without `-force` parameter. I assumed that it was more an omission than done on purpose. Please verify if I'm not mistaken.

Given your question about looking for a way

[2021-04-26 08:17] cproc opened #4089 "qt5: fix libpng vulnerability"
Apply a security fix provided by @rossketron in https://github.com/cproc/qt5/pull/9

[2021-04-26 08:19] trimpim commented on #4070
@nfeske before the findings of @m-stein I would have agreed with you on integrating the feature. However @m-steins finding is a show stopper, and I'm working on it.

[2021-04-26 08:27] m-stein opened #4090 "Sculpt inspect: hang up when inspecting passthrough USB"
I have a SanDisk 32G USB stick that I passed through to my Linux VM by copying the corresponding device tag from report/drivers/usb_devices to config/launcher/usb_devices_rom. The USB stick shows up correctly in my VM and I could copy a certain amount of data to it. Now, when I clicked on "inspect" in the Leitzentrale Components view in the "USB -> usb-x-y (Sandisk) ..." node, the usb-x-y.drv give

[2021-04-26 10:07] cnuke commented on #4078
Thanks for the commits, LGTM - I added my minor remarks to the commit in question.

[2021-04-26 11:39] trimpim commented on #4070
@m-stein fe8ba2f fixes the error when a client disconnects. Can you give it a try?

[2021-04-26 12:24] alex-ab commented on #3967
@chelmuth: 251c599e1476f37a7d46ba66bc05ad9b1b0048c2 fixes the build issues for -O0

[2021-04-26 12:25] nfeske commented on #4090
You should always be able to recover inspect view by untoggling the inspect button in the USB device.

I wonder if the USB host driver is still in a healthy state or not. If not, it should be improved to deal more gracefully with the situation like your's where one USB device is requested by multiple sessions.

It seems to me that the Sculpt manager should also better not present the option to ins

[2021-04-26 12:44] m-stein commented on #4070
@trimpim Thanks for the fast fix. It works just fine with the CBE manager!

[2021-04-26 12:49] m-stein commented on #4070
Just as a reminder: The lx_fs commits change the integration of lx_fs in a way that it now requires a Timer connection (wasn't the case beforehand). So, all scenarios with lx_fs have to be adapted accordingly.

[2021-04-26 13:24] m-stein commented on #4070
@trimpim I try to grasp what are the reasons that led to using a Timer session in lx_fs. I understand that you want to limit rate and throughput with which the notify queue is processed. What I struggle with is drawing the connection between the signals that you submit in ``_process_notify`` and the packet ack queue that, according to your doc, will overflow if you don't. What are these signals (t

[2021-04-26 13:30] m-stein commented on #4090
This doesn't work as the "usb-x-y ..." submenu of the "USB" dialog wont react to hovers or clicks anymore.

How can I test this? I can still accces the files on the USB stick inside the VM at least.

[2021-04-26 13:53] nfeske opened #4091 "Sculpt: system-shell sometimes freezes on fb-mode changes"
After changing the screen mode (e.g., by editing /config/fb_drv), the terminal of the system-shell packages sometimes becomes unresponsive.

[2021-04-26 13:59] nfeske commented on #4091
I tracked the problem down to the fact that watch handlers are executed at the I/O signal level. Hence, such handlers must not execute application-level code, which the terminal did.

I think this is a design flaw of the `Watch_handler` mechanism. It should be changed so that watch handler code runs at regular application level.

[2021-04-26 14:14] nfeske opened #4092 "VFS watch handlers should be executed at the application level, not I/O level"
While analyzing issue #4091, I found that the code of watch handlers is executed at the I/O level as a direct side effect of the fs packet-stream handling. This is risky because such code may call application-level code that ends up executing `wait_and_dispatch_one_io_signal`. Depending on the application code, this can result in deadlock situations.

The problem should be fixed by replacing the d

[2021-04-26 14:54] nfeske commented on #4090
@m-stein May you give https://github.com/genodelabs/genode/commit/ac8877624c23c5dc1afbf9f64ca9a87dcdadec04 a try?

[2021-04-26 14:55] m-stein commented on #4090
Of course.

[2021-04-26 15:20] jschlatow opened #4093 "last column in sculpt's log_terminal shows the last printable character of a line"
The Log side bar in Sculpt's Leitzentrale uses the terminal implementation in non-wrapping mode, i.e. only a limited number of characters are printed of each line. A small bug in the terminal implementation, however, causes a subtle deviation from the expected behaviour:
Let's assume the side bar has 80 column. When printing a text line of 100 columns, I would expect the first 80 characters of the

[2021-04-26 15:22] nfeske commented on #4091
Sorry, the initial fix is wrong. Please also use fixup https://github.com/genodelabs/genode/commit/0d9446a41d68dde7e75e97098ab37a89d8a43f1d.

[2021-04-26 15:26] jschlatow commented on #4093
As far as I can see, commit 6bf7e9cf1c056e89e713b3806147d53cc1a96edf fixes this issue.

[2021-04-26 15:35] nfeske commented on #4093
I guess you referenced the wrong commit in the message but I can see the correct one.

The patch only leaves the question of what happens if `_boundary.width` is zero. Or can't it be zero?

[2021-04-26 15:44] m-stein commented on #4090
Now I see that the usb-x-y.drv and part_block etc. components are removed again as soon as it recognizes that the device can't be inspected. However, the inspect view and the "usb-x-y" submenu are still rendered dead afterwards.

[2021-04-26 15:46] nfeske commented on #4090
But now you should be able to toggle the inspect button of another fs to regain control over the inspect view. Can you try?

[2021-04-26 15:48] nfeske commented on #4090
The non-hoverable button of the USB device should also state "unsupported". Does it?

[2021-04-26 15:49] m-stein commented on #4090
Yep, it does say "usb-x-y (Sandisk) unsupported".

In the log I can see ```[runtime] Warning: inspect: no route to service File_system (label="inspect -> vfs -> usb-x-y")```

[2021-04-26 15:56] jschlatow commented on #4069
@nfeske Please have a look at my updated branch [4069_allow_event_filter_to_mute_key_events](https://github.com/genodelabs/genode/compare/master...jschlatow:4069_allow_event_filter_to_mute_key_events).

I added a `<ignore-key>` node to the remap filter and a `<log>` filter node as you mentioned in an offline discussion.

Most of the issues with my keyboard were solved by a factory reset, but two q

[2021-04-26 16:12] jschlatow commented on #4093
`_boundary.width=0` is fine, it means that no character will ever be printed.

On the other hand, I just recognised the missing lower bounds checking of `_current_pos.x` in the current implementation. An out-of-bounds access could potentially be triggered with multiple backspaces. I will have a thorough look at it tomorrow.

[2021-04-27 06:13] trimpim commented on #4070
@m-stein the signals that are sent in `_process_notify()` are captured by `_signal_handler` in `watch.h` this indirectly calls `Session_component::_process_packet_op()`. This via `notify_listenders()` of the node calls `Listener::notify()` in `repos/os/include/filesystem/listener.h`. Here the packets are sent to the client if the ACK queue isn't full.

The Linux kernel provides a lot of different

[2021-04-27 06:38] chelmuth commented on #4087
The background is that global keys are specified as the first key pressed, i.e., lose their *globalness* if pressed as secondary key in a combination. The best way to fix the issue would be the extension the special handling of capslock (as global state) in vbox. [capslock] could be filtered completely from the key event stream and only sent to the VM if the global state changes. But, this has hig

[2021-04-27 07:37] nfeske commented on #4073
After thinking once more about this change, would you mind naming the function `copy_file` instead of `file_copy`? This name would fit more naturally with the naming of the existing functions (`create_boot_directory`, `install_config`, `run_genode`, etc.).

I'm sorry for coming up so late with this suggestion. Before you touched the run scripts, I admittedly wasn't fully aware of the public visibi

[2021-04-27 07:41] alex-ab commented on #4078
Thanks for review, I added the fixup e0a1e636d944467c9dacc2dd9818626559dc1d7c addressing your comments and removing some debug artefacts.

[2021-04-27 07:44] m-stein commented on #4087
To me, the issue is not that annoying. I just wanted to make it public, so it doesn't run under cover. Shall I prioritize it over other work anyway right now?

[2021-04-27 07:45] tomga commented on #4073
No problem at all. I'll prepare this change but not earlier than tomorrow evening.

Actually me either. Only after your previous comment I realized that my `grep` command I used for searing for `file copy` calls excluded `*.run` files completely.

[2021-04-27 07:46] alex-ab commented on #3967
The results over the weekend are mixed:

linux_64: succeed one time, failed another time with segmentation fault
linux_32: failed 2x times (timeout, early no progress in the log)
x86_64 (hardware): nova && hw - succeeded 2x times
imx8 (hardware): hw - succeeded 2x times
x86_32 (hardware): nova failed 2x times (spawn died unexpected)

The runtime on hardware was too short, so we may increase the ro

[2021-04-27 07:48] alex-ab commented on #3967
Agree. I will come up with a fixup according to our offline discussion.

[2021-04-27 07:57] alex-ab commented on #4078
Sorry, the commit message was wrong, dc81ec37ed167875ed0d6022fe2af9521d5c3a1c contains the right commit message.

[2021-04-27 08:35] chelmuth commented on #4086
A light-weight reliable source of entropy for components has been a topic for discussion since we integrated jitterentropy into more and more scenarios. We already sketched a solution that combines an initial random value for components with a PRNG (e.g., https://en.wikipedia.org/wiki/Xoroshiro128%2B) but need more time to settle on a final design.

But, I'm still uncertain about the original issu

[2021-04-27 08:51] chelmuth commented on #4087
I don't think it deserves high priority currently. I just wanted to add my knowledge to the database ;-)

[2021-04-27 09:25] jschlatow commented on #4093
Actually, I must revise my last statement about the backspace part. There is actually a lower bounds check that I must have overlooked yesterday. It appears the assumption is that the cursor position never leaves the defined boundaries to emulate terminal behaviour and so that character cells can be accessed without any bounds checking. I'm still unsure about whether all escape sequences adhere to

[2021-04-27 09:27] alex-ab commented on #3967
@chelmuth, please check d427b0dc8066ff4db23e8b15ec1dfd12335b858e

[2021-04-27 09:33] sidhussmann commented on #4086
@m-stein your suggestion would introduce a set of implicit rules about the order on what configuration has to be written when. The management component should not need to know which configurations need to be written at what time. In our use-case this adds unreasonable amount of complexity to the handling of the dynamic configuration. This path leads to a slippery slope.

Thinking a bit more about

[2021-04-27 10:17] nfeske commented on #4093
I agree. An explicit state is much better for capturing the condition than a special cursor position.

[2021-04-27 11:55] jschlatow commented on #4069
@nfeske Thanks for the review. I pushed two fixup commits.

[2021-04-27 12:36] nfeske commented on #4069
While I'm at merging your commits, should I also add ee8b051539bfd7097617590bb05f3b3b5bf3b379 to staging?

[2021-04-27 12:42] jschlatow commented on #4069
Yes, that commit is still valid, though only for consistency as mentioned in the commit message.

[2021-04-27 12:53] jschlatow commented on #4069
Thanks for merging.

I'll have a try.

What's your opinion on the numlock matter [mentioned above](https://github.com/genodelabs/genode/issues/4069#issuecomment-826951843)?

[2021-04-27 13:18] nfeske commented on #4069
Thanks for the reminder.

I'm divided. On the one hand, I see the need. On the other hand, it pains me to inflate the complexity of nitpicker on the account of the brokeness of a particular keyboard. I also currently lack an obvious idea of a suitable interface for invoking such a reset.

I'm also hesitant to jump at it because the erratic behavior of the keyboard may not only trip out nitpicker b

[2021-04-27 13:46] jschlatow commented on #4093
Commit 0c255c4 now contains the explicit state to handle the overflow condition. I haven't found any test case for the terminal implementation, though. So far, I've only tested it in Sculpt's log_terminal.

[2021-04-27 13:52] jschlatow commented on #4069
Thanks for the feedback. I agree that adding such complexity only to deal with a broken device should be avoided.

I'll have a closer look at the root cause. I'm curious anyway ;-)

[2021-04-27 15:19] jschlatow commented on #4069
Commit 11d50bd adds the corresponding test cases.

[2021-04-27 17:40] m-stein commented on #4086
@sidhussmann First of all, thanks for providing all the references
regarding this topic!

Of course, I don't know your scenario in detail, but to me it didn't
seem much extra state. The transitions in the manager to kill a program
would be the same for each program, independent from its purpose/function.

In this case we have only two options, either a "random" algorithm or
persistant storage. I w

[2021-04-28 06:13] cproc opened #4094 "tool chain update for 21.05 release"
Planned features:

- gcc version 10.3.0
- binutils version 2.36.1
- gdb version 10.2

- build Genode components for ARM with hard-float enabled by default
- build Genode components with -O3 by default

[2021-04-28 06:43] alex-ab opened #4095 "ssh_exec_terminal: scenario gets stuck on various platforms"

[2021-04-28 06:49] cproc commented on #4094
An initial version of updated tools is available on my 'issue4094' branch [1]. It can be used to help fix the errors which occurred with the updates. I'm going to create individual github issues for those. The gdb update is currently in progress. The plan for the ARM hard-float and -O3 features is to try to enable them as soon as all version update related errors have been fixed.

[1] https://gith

[2021-04-28 07:26] chelmuth commented on #4086
@sidhussmann thanks for the reference. I agree with your conclusion and like the approach of the increasing port number allocator. I'm also with @m-stein's fixup commit as it adds the feature to the port allocator without another artificial layer. I'd keep the bit allocator for now.

If you both agree, I'd merge the series to staging.

[2021-04-28 08:04] alex-ab commented on #4095
The both commits on the issue_4095 branch fixes one case where the test got stuck on my local testings.

[2021-04-28 08:11] cproc opened #4096 "netperf: build error with gcc 10"
When building netperf with gcc 10, the following errors occur:

[code]

The error occurs with gcc 10, because it has the '-fno-common' option set by default.

[2021-04-28 09:08] cproc commented on #4096
Fixed in 91a5182

[2021-04-28 09:36] nfeske commented on #4069
That's excellent. Thanks for the effort! I merged your test-case commit to staging.

[2021-04-28 09:45] nfeske commented on #4095
Thanks a lot Alex for the fixes, which I merged to staging right away.

I'm probably not the perfect person to review the change of the ssh_terminal. Maybe @cnuke could have a look?

[2021-04-28 09:47] nfeske commented on #4089
Merged to staging.

[2021-04-28 09:48] nfeske commented on #4088
Those changes are definitely for the better. Thanks for the commits, which went to staging just now.

[2021-04-28 09:49] cproc opened #4097 "seoul: build errors with gcc 10"
When building seoul with gcc 10, the following errors occur:

[code]
[code]
[code]
[code]

[2021-04-28 09:58] cproc opened #4098 "text_area: build error with gcc 10"
When building `app/text_area` with gcc 10, the following error occurs:

[code]

[2021-04-28 10:09] sidhussmann commented on #4086
@m-stein and @chelmuth thank you for this productive discussion.

Yes, it did change. My first commit (https://github.com/genodelabs/genode/commit/670107dc1383ce925b246fc2d1d7535a2e1a8b33) only solved problem number 1 (restart of the device/nic_router).

These commits look perfect! I added the additional layer of abstraction because I (probably falsely) assumed the patch would be easier for you to

[2021-04-28 10:28] cproc opened #4099 "gnupg: build error with gcc 10"
When building `app/verify` with gcc 10, the following error occurs:

[code]

The error occurs with gcc 10, because it has the '-fno-common' option set by default.

[2021-04-28 11:11] cproc commented on #4099
Commit dfc134d fixes the problem by adding the '-fcommon' compiler option. I also tried an upstream commit [1] which is related to this problem, but then got multiple undefined reference to 'opt' errors. Maybe the upstream commit only works for newer gnupg versions.

[1] https://github.com/gpg/gnupg/commit/6aff8a132815a84bab69401c1e7de96ec549fbf2

[2021-04-28 11:31] nfeske commented on #4093
From a maintenance point of view, the patch looks quite invasive and repetitive for the arguably little gain it achieves.

I wonder, couldn't the patch become much smaller by adding the overflow handling to the `Cursor_guard`? I think of updating the overflowed state in the `Cursor_guard` destructor. I haven't looked closely though.

[2021-04-28 11:42] m-stein commented on #4086
I updated my branch in a way that it is ready to be merged:
9c206591d6 nic_router: more descriptive port allocator code
bdd38fc3dc nic_router: use increasing src port for new nat

I'd love to also add an automated test that validates the allocation pattern, but not right now.

I merged the first 3 commits and slightly cleaned up the commit message. I hope everyone is fine with this. Furthermore, I

[2021-04-28 11:43] chelmuth commented on #3967
The commit looks quite good already (please see also my commit comment).

What do you think about combining all placement-policy related functions/types into one class in contrast to the current scattered implementation? For illustration, I imagine something like

[code]

[2021-04-28 11:44] nfeske commented on #3967
Maybe related, I noticed that the pthread test reproducibly fails for base-hw on the two ARMv7 boards imx7d_sabre and imx6q_sabrelite with the current staging branch. In both cases, there is no error but the test silently times out. It works fine on all other board / kernel combinations. Could this problem be related to the pthread-affinity change? I haven't bisected the problem but ten days ago,

[2021-04-28 11:49] jschlatow commented on #4093
I also thought about that but discarded the idea since this would disable the if statement at the end of the `output()` method. Yet, on a second thought, I might have an idea for that.

[2021-04-28 11:51] chelmuth commented on #4086
I merged both commits to staging.

[2021-04-28 12:47] cproc opened #4100 "base: handle 'unpack_string()' error in 'Arg::string()'"
When building `drivers/ahci` for x86_64 with gcc 10, the following error occurs:

[code]

The error message appears somewhat misleading (there is no `buf` variable at the indicated location). At the end it turned out that the actual error location is in the `Genode::label_from_args()` function:

[code]

The `Genode::Arg::string()` function does not initialize 'buf' with the default string if `Geno

[2021-04-28 12:55] cproc commented on #4100
Fixed in 98bbf42

[2021-04-28 13:08] alex-ab commented on #3967
Ok, i added the replacement commit 4e11ea949549ff4bc65372586aa7dcb9073ccda1

[2021-04-28 13:11] alex-ab commented on #3967
With the change of the commit, all cpus are used all over the time for new pthreads, instead solely for the first 32 pthreads. I can check next time I'm in office.

[2021-04-28 13:43] cproc opened #4101 "dde_ipxe: build error with gcc 10"
When building `drivers/nic` with gcc 10, the following error occurs:

[code]

The error occurs with gcc 10, because it has the '-fno-common' option set by default.

[2021-04-28 13:50] cproc commented on #4101
Commit 8fbe6d5 fixes the problem by adding the '-fcommon' compiler option, which is also the upstream solution [1].

[1] https://github.com/ipxe/ipxe/commit/f982a712979619dbae2c6e0d741757e2ce94be11

[2021-04-28 14:08] cproc opened #4102 "lxip: build error with gcc 10"
When building `LIB=lxip` with gcc 10, the following error occurs:

[code]

The error occurs with gcc 10 because it has the '-fno-common' option set by default.

[2021-04-28 14:08] chelmuth commented on #4101
Merged to staging.

[2021-04-28 14:10] chelmuth commented on #3967
I merged the series to staging. Thanks @alex-ab for addressing my code-cleanup request.

[2021-04-28 14:10] chelmuth commented on #4100
Merged to staging.

[2021-04-28 14:12] cproc commented on #4102
Fixed in af798e4

[2021-04-28 14:50] cproc opened #4103 "readline: build error with gcc 10"
When building `LIB=readline` with gcc 10, the following error occurs:

[code]

[2021-04-28 14:51] alex-ab commented on #3967
In the x86_32 case, it seems that often a case triggers, where the sender (the dynamic spawned worker_threads) and the one receiver disagree about the transferred data amount. The receiver decides that it received enough, tries to clean up and finally make a pthread_join on the sender. The sender still believes to have to send data and never leaves the function scope to get to an joinable state.

[2021-04-28 14:53] cproc commented on #4103
Fixed in 43746a8

[2021-04-28 17:57] Jadovenn opened #4104 "lx_fs: vfs_import always overwrites files"
`lx_fs` does not propagate that the file to be written already exists. Therefore, the VFS import-plugin always overwrites even when the `overwrite`-attribute is `no`.

The problem seems that `lx_fs` does not propagate an EEXIST error while calling `mknodat`.

I provide a run script that demonstrate this behavior, and a fix for this problem, to be discussed.

[2021-04-29 06:35] cproc opened #4105 "virtualbox6: build errors with gcc 10"
When building virtualbox6 with gcc 10, the following errors occur:

[code]

[code]

I'm not sure what to do about the 'narrowing' error. I could not reproduce it when building the same VirtualBox version for Linux (with gcc 10.3.0 built from source), so not sure if this indicates a real bug or if for some reason the mismatch is just not detected when building for Linux and does not cause any probl

[2021-04-29 06:41] cproc commented on #4105
Commit f1ab3be fixes the missing include error.

[2021-04-29 07:02] chelmuth commented on #4105
I consider the code in *ConsoleImpl2.cc* sloppy and believe this is concealed by compiler flags. The code should not be
[code]
but
[code]
as can be found in *src/VBox/Main/src-client/ConsoleImpl.cpp:9585*. @cproc could you give an according patch a try?

[2021-04-29 07:20] ssumpf commented on #4101
This we saw in rump already (#3960). The default got changed from `-fcommon` to `-fno-common`. There might be many more places like this.

[2021-04-29 07:33] cnuke commented on #4095
Commit 82943d6 LGTM :+1:.

[2021-04-29 08:05] cproc commented on #4105
@chelmuth: yes, that worked. There were also a few more 'narrowing conversion' errors:

[code]

I combined all fixes in commit  06d8b7b

[2021-04-29 08:29] cproc opened #4106 "virtualbox5: build errors with gcc 10"
When building virtualbox5 with gcc 10, the following errors occur:

[code]

[code]

[code]

[2021-04-29 08:33] cproc commented on #4106
Fixed in 9929b8e

[2021-04-29 08:48] cproc opened #4107 "bash: build error with gcc 10"
When building `noux-pkg/bash` with gcc 10, the following error occurs:

[code]

Another '-fno-common' issue.

[2021-04-29 08:53] cproc commented on #4107
Commit 99b9af2 fixes the problem by adding the '-fcommon' compiler option.

[2021-04-29 09:06] alex-ab commented on #3967
With commit 8d32f7958a8fddd0bc20ae6538892e152a707e16 the 32 platform make progress. Please add also 304568b5c875d62040824d5a0c7fcbc8becc3dfa to staging.

[2021-04-29 09:35] cproc opened #4108 "block_cache: build error with gcc 10"
When building `server/block_cache` with gcc 10, the following error occurs:

[code]

[2021-04-29 09:41] cproc opened #4109 "nic_router: build errors with gcc 10"
When building `server/nic_router` with gcc 10, the following errors occur:

[code]

[2021-04-29 09:46] nfeske commented on #4095
I'm happy to report that your fixes had been very effective, @alex-ab! The ssh_exec_channel test works now in most cases, which is amazing.

There are a few timeouts (e.g., x86_32.pc.fiasco, x86_32.pc.sel4 on Qemu).

On seL4 (x86_32 on real hardware), the nic_drv issues a resource request, demanding 4 more caps.

On qemu/x86_32.pc.okl4, I can see a page fault that may be worth investigating:
[code

[2021-04-29 09:48] cproc opened #4110 "nitpicker: build error with gcc 10"
When building `server/nitpicker` with gcc 10, the following error occurs:

[code]

[2021-04-29 09:53] nfeske commented on #4110
Does it go away when replacing the bit-wise OR (`|`) by a logical OR (`||`)?

[2021-04-29 10:01] cproc commented on #4110
@nfeske: yes it does. Fixed in b1295f9.

[2021-04-29 10:02] chelmuth commented on #3967
Thanks, merge complete.

[2021-04-29 10:04] cproc opened #4111 "test-net_flood: build errors with gcc 10"
When building `test/net_flood` with gcc 10, the following errors occur:

[code]

[2021-04-29 10:22] cproc opened #4112 "vfs_stress: build errors with gcc 10"
When building `test/vfs_stress` with gcc 10, the following errors occur:

[code]

[2021-04-29 10:27] alex-ab commented on #4095
Nice ! I will investigate.

[2021-04-29 10:28] cproc opened #4113 "cbe_tester: build error with gcc 10"
When building `app/cbe_tester` with gcc 10, the following error occurs:

[code]

[2021-04-29 11:19] cproc opened #4114 "nova: build errors with gcc 10"
When building nova with gcc 10, the following errors occur:

[code]
[code]

[2021-04-29 11:22] cproc commented on #4114
@alex-ab: I have a fix commit on my r10 nova branch [1]

[1] https://github.com/cproc/NOVA/commit/6f77dfc231c75a3ff325959d34f2bbde0a9d5b10

[2021-04-29 11:35] cproc opened #4115 "hw: build error with gcc 10"
When building `LIB=core-hw-imx53_qsb_tz` with gcc 10, the following error occurs:

[code]

[2021-04-29 11:38] cproc commented on #4115
Fixed in 543971a

[2021-04-29 12:23] cnuke opened #4116 "Unconditional URB sglist access in usb_host_drv"
Under certain conditions, namely when using a bounce-buffer, the `usb_host_drv`'s xHCI driver accesses the _URB_'s scatter-gather list unconditionally. The driver calls `sg_pcopy_to_buffer` and `sg_pcopy_from_buffer` which both are not implemented and lead to the component stopping its execution.

[2021-04-29 12:31] cnuke commented on #4116
* 93e1b28 backports a fix from upstream where the sglist access depends on `urb->num_sgs` being set. AFAICT this field only gets set in `usb_sg_init` that apparently is not called in our port.
* ea83b91 changes the dummy implementations to mere `TRACE` dummies that return a size of _0_. This return value will trigger the check introduced in the previous commit so we will see a warning in the unlik

[2021-04-29 12:35] m-stein opened #4117 "ports/expat: fix deprecated URL"
The TAR file wasn't available anymore at the given URL.

[2021-04-29 12:36] m-stein commented on #4117
Fixed.

[2021-04-29 12:39] m-stein commented on #4086
@chelmuth Thanks!

[2021-04-29 12:57] cproc opened #4118 "foc: errors with gcc 10 / binutils 2.36"
When building Fiasco.OC with gcc 10 and binutils 2.36, the following errors occur:

[code]
[code]
[code]
[code]

When building for ARM platforms:

[code]

On x86_64, a page fault occurs on kernel start:

[code]

Most of the errors already have upstream fixes, except for the ARM link problem, which is currently being worked on [1].

[1] https://github.com/kernkonzept/fiasco/issues/4

[2021-04-29 12:57] alex-ab commented on #4114
@cproc: Thanks, I prepared the commit in your name.

[2021-04-29 12:59] chelmuth commented on #4117
@cproc updated expat in f89414c6378ea8dbcc2f6ac95369758cc59f1489 issue #4060. Would it suffice to include this commit into sculpt_21_03b?

[2021-04-29 13:02] chelmuth commented on #4105
Great! Merged to staging.

[2021-04-29 13:06] chelmuth commented on #4114
Merged to staging.

[2021-04-29 13:09] cproc commented on #4118
Commit e0bfff4 fixes the errors except ARM link.

[2021-04-29 13:36] cproc opened #4119 "pistachio: build error with gcc 10"
When building pistachio with gcc 10, the following error occurs:

[code]

[2021-04-29 13:41] cproc commented on #4119
Commit bc54749 fixes the problem by not building the unneeded apps.

[2021-04-29 13:54] jschlatow opened #4120 "vbox5/6: extra mouse buttons are not passed to VM"

[2021-04-29 13:59] cproc opened #4121 "sel4: build errors with gcc 10"
When building sel4 with gcc 10, the following errors occur:

[code]

[2021-04-29 14:03] cproc commented on #4121
Fixed in 63ef13f

[2021-04-29 14:06] alex-ab commented on #4097
Seoul works with dc6d05069a4d6177bc4231c8d7850478783533ab and the gcc 10 toolchain.

[2021-04-29 14:12] nfeske commented on #4110
Thanks. Merged to staging.

[2021-04-29 14:17] cproc opened #4122 "cxx: add 'strchr()'"
When building `test/cap_integrity` for the foc/rpi3 platform with gcc 10, the following error occurs:

[code]

[2021-04-29 14:19] nfeske commented on #4119
Merged to staging.

[2021-04-29 14:20] cproc commented on #4122
Fixed in b7a7100

[2021-04-29 14:21] nfeske commented on #4121
Merged to staging.

[2021-04-29 14:23] nfeske commented on #4097
Thanks @alex-ab for the update. Merged to staging.

[2021-04-29 14:23] m-stein commented on #4117
Of course - set that his URL works :)

[2021-04-29 14:24] #4117 closed

[2021-04-29 14:25] nfeske commented on #4122
If this function is only needed for one test, wouldn't it be sensible to add the symbol local to the test instead of extending the cxx library?

[2021-04-29 14:27] nfeske commented on #4115
Merged to staging.

[2021-04-29 14:34] nfeske commented on #4098
Does https://github.com/nfeske/genode/commit/6ead8476844c45728fb41296257459bd39008e55 help as a band-aid?

[2021-04-29 18:12] cproc commented on #4122
Apparently the function is only needed for this one test because this test statically links the cxx lib. From looking at the gcc patch which introduced the dependency [1] it seems unlkely that the function will be called on Genode, so I guess even a dummy function in the test will do. I'll open a new issue for that.

[1] https://gcc.gnu.org/legacy-ml/gcc-patches/2018-11/msg00105.html

[2021-04-29 18:48] cproc commented on #4122
Unfortunately it turned out that run scripts (like log.run) don't start when the symbol is missing:

[code]

[2021-04-29 19:18] cproc commented on #4098
@nfeske: yes, that fixes the build error

[2021-04-29 22:02] tomga commented on #4073
bf2dc609433b47e784994ac82c12311ade6c523c is a fixup commit that renames `file_copy` to `copy_file`. I think that it should merge on current staging along with previous one without problems.

[2021-04-30 05:38] m-stein commented on #4113
I will look into this today.

[2021-04-30 07:10] cproc opened #4123 "lx_fs: build errors with gcc 10"
When building `server/lx_fs` with gcc 10, the following errors occur:

[code]

[2021-04-30 07:14] cproc commented on #4123
Fixed in 169bf04

[2021-04-30 07:37] m-stein opened #4124 "sculpt manager: cut arrow button"
When I open ``config -> keyboard / launcher / managed`` in Sculpt in the Leitzentrale Files view, the left-oriented arrow button (the "back" button)  in front of keyboard / launcher / managed is shown only partially. The tip of the arrow is cut away. However, this doesn't have any functional implications AFAICT.

[2021-04-30 07:38] nfeske commented on #4098
Ok, I merged my fix to staging then.

[2021-04-30 07:40] nfeske commented on #4073
Thanks @tomga. I merged both fixups to staging now.

[2021-04-30 07:42] m-stein commented on #4124
I just noticed that this is also affected by the set font size. With small fonts the effect becomes less visible. With large fonts, however, the arrows are cut more - even the arrows in the root directory  ("enter" buttons) - and also the radio buttons in the menu are stretched vertically with this font size.

[2021-04-30 07:46] alex-ab commented on #4095
It took me a while, to understand what goes on. It turns out that the ssh session is closed by the Genode client (via the ssh_terminal server), before the expected output is send via network. Because of that the sshpass process exits and the run script aborts. It seems that the ssh_terminal does not feature to flush internal buffers to network (which may delay the closing of the session for a spec

[2021-04-30 07:46] nfeske commented on #4123
Merged to staging.

In principle, we may opt to avoid such hard casts be changing the condition to `(st.st_mode & S_IRUSR) != 0`. What do you think?

[2021-04-30 07:52] alex-ab commented on #4095
This seems to be a more serious issue. The fault migrate and partially goes away, depending on instrumentation. I got the same fault also 2x times in core in the same code regions (slab.cc), as the one above in the ssh_terminal component. Because of that, I assume there is some memory corruption ongoing. Currently, I have no idea what is the underlying reason.

[2021-04-30 08:00] nfeske commented on #4095
Thank you for the thorough and interesting analysis! I merged the sel4 quota fix without hesitation.

About the quirk I'm not so sure. It is quite impossible to draw the connection between those scheduling parameters to the problem that they solve. So the risk of accidentally re-introducing the effect later on is high without keeping your analysis back in our heads. Of course, fixing the limitatio

[2021-04-30 09:04] cproc commented on #4123
Sure, I changed it in fixup commit 979de76.

[2021-04-30 09:12] cproc opened #4125 "recursive 'memset()' calls with gcc 10"
gcc 10 generates 'memset()' calls in implementations of 'memset()' (base, libc and rump are affected). As suggested in [1], the "-fno-tree-loop-distribute-patterns" compiler option solves this problem.

[1] https://gcc.gnu.org/bugzilla/show_bug.cgi?id=56888

[2021-04-30 09:15] cproc commented on #4125
Fixed in 3f47a9c

[2021-04-30 09:16] alex-ab commented on #4095
In e49fa12d70e58ea7837dbdf4bc65c6fcbde07e12 in the bash client an additional sleep is added. sleep is not part of coreutils-minimal, because of that the coreutils package is used.

[2021-04-30 09:23] nfeske commented on #4123
All the better. :-) Merged to staging.

[2021-04-30 09:27] nfeske commented on #4095
Very good! That's exactly what I had in mind. Merged to staging.

[2021-04-30 09:36] cproc opened #4126 "base-nova: 'core-bss.ld' merge does not work anymore with binutils 2.36"
When executing a run script (for example log.run) on nova/x86_64 built with gcc 10 and binutils 2.36, the following error occurs:

[code]

When adding the suggested '-T' (as in commit [1]), the following runtime error occurs:

[code]

The reason is that since a recent binutils change [2] the content of 'core-bss.ld' is not merged anymore. Any ideas how to fix this problem?

[1] https://github.com/

[2021-04-30 09:44] jschlatow commented on #4093
@nfeske is commit a19d683 like what you had in mind?

[2021-04-30 09:54] cnuke commented on #4095
Briefly checking the implementation, commit 5ac97da could do the trick. Mind you I am not sure how that plays out when multiple ssh clients point to the same terminal, which in hindsight is a "misfeature".

[2021-04-30 10:00] nfeske commented on #4093
Yes, that's beautiful! I left only one question inline.

BTW, the 50-character limit for commit messages applies only to the first line, the title of the message so to say. That's because this text is shown by various tools (also GitHub) limited to 50 characters by convention. You can keep the usual 80-character limit for the remainder of the commit message.

[2021-04-30 10:06] nfeske commented on #4124
Thanks for reporting. I can reproduce the issue.

[2021-04-30 10:08] nfeske commented on #4095
Should I replace @alex-ab's quirk patch by @cnuke's commit at staging, for a test?

[2021-04-30 10:10] nfeske commented on #4122
Given this turn of events, I added b7a7100e0528b5e0f9ed28a56fd175d3c3397af7 to staging now.

[2021-04-30 10:45] cproc opened #4127 "base: increase bss alignment to 8 bytes"
When executing a run script (for example log.run) on hw/rpi3 (qemu) built with gcc 10 and binutils 2.36, no log output appears.

The reason is that in the generated bootstrap binary `_bss_start` has an 8-byte aligned address and `_bss_end` does not and therefore the zero-out loop in bootstrap which works with 8-byte increments does not detect the end of the area correctly. Increasing the alignment

[2021-04-30 10:50] cproc commented on #4127
Fixed in dd0acb1

[2021-04-30 11:01] nfeske commented on #4127
Merged to staging.

Thank you for documenting your findings so well. I'm fascinated with following your stream of issues. ;-)

[2021-04-30 11:01] cnuke commented on #4095
I would vote for giving 5ac97da a try over the weekend and fall-back to e49fa12 in case it does not work out or introduces other regressions to mitigate the problem until somebody has enough time to tackle it properly.

[2021-04-30 11:06] nfeske commented on #4095
Aye aye.

[2021-04-30 11:09] cnuke commented on #4095
@nfeske my bad, could you please remove commit 5e4e94c as it will trigger a compilation error - I'll provide another commit shortly. Sorry for inconvenience.

[2021-04-30 11:11] nfeske commented on #4095
No problem.

[2021-04-30 11:12] jschlatow commented on #4093
Thanks for the review and the explanation about the character limit. I just pushed the updated commit 8090c9b, which also addresses your question.

[2021-04-30 11:26] m-stein commented on #4090
I'll close this as it seems fixed.

[2021-04-30 11:29] nfeske commented on #4090
Let's better keep it open until the fix enters the master branch.

[2021-04-30 11:33] nfeske commented on #4093
That commit looks very nice. Merged to staging.

[2021-04-30 11:35] chelmuth commented on #4102
Merged to staging.

[2021-04-30 11:36] chelmuth commented on #4103
Merged to staging.

[2021-04-30 11:42] cproc opened #4128 "ada/spark build errors with gcc 10"
When running depot_autopilot with gcc 10, the following errors occur:

[code]

The errors don't occur when running `make test/spark` instead of `make run/depot_autopilot`. I found a version of the 's-stalib.adb' file in the `ada-runtime` port, which might need to be updated, but I'm not really familiar with this topic.

[2021-04-30 12:14] chelmuth commented on #4078
@alex-ab as @nfeske already mentioned to you the build with `-O0` fails. This is also true for `-O2 -fno-omit-frame-pointer` which I use in all tests. The register constraints just seem impossible to fulfill.
[code]

[2021-04-30 12:26] cnuke commented on #4095
@nfeske  Okay, second time is hopefully the charm - commit 01e4399 would be the way to go.

I checked on the x86_64 test machine as well as in Qemu/x86_64 where I could not trigger the _connection reset_ probleme anymore during my testing.

[2021-04-30 12:29] nfeske commented on #4095
Thank @cnuke. I added your commit to staging.

[2021-04-30 12:33] chelmuth commented on #4107
Merged to staging.

[2021-04-30 12:50] chelmuth commented on #4106
Merged to staging.

[2021-04-30 12:53] chelmuth commented on #4125
Merged to staging.

[2021-04-30 12:57] cproc opened #4129 "depot_autopilot: store signal context capability as copy"
When running `depot_autopilot` built with gcc 10 on base-linux, the following error occurs:

[code]

The reason is that a signal context capability which was obtained by the `Signal_handler` implicit conversion operator [1] is stored as reference, but the operator returns a copy on the stack which became invalid. Changing the operator to return a reference to the capability did not solve the probl

[2021-04-30 13:02] cproc commented on #4129
Fixed in 147f18d

[2021-04-30 13:06] m-stein commented on #4109
I'll look into it.

[2021-04-30 13:36] cproc commented on #4129
Actually, changing the operator to return a reference might work (but then the compiler complained about the 'const' keyword). I'll check again.

[2021-04-30 13:39] chelmuth commented on #4120
I extended your commit for vbox6 in a6db6419258c56dc76f2c4c90412a72c38ce8f6f.

[2021-04-30 13:42] alex-ab commented on #4078
@chelmuth, @nfeske: bb0be6c1b9ee93295fb4be69dbdba6c2b0ac1a73 fixes the compiler issues

[2021-04-30 13:43] chelmuth commented on #4129
We follow the common practice to store capabilities as copies (not references) because the capability object itself is one reference to a capability index. Therefore, I'd vote to keep your initial fix.

[2021-04-30 14:08] cproc commented on #4129
Ok. For completeness, the operator change originally did not work because I got the signature wrong. It worked when written as `operator Capability<Signal_context> const& () const { return _cap; }`.

[2021-04-30 14:08] m-stein opened #4130 "run: error on creation of tftp boot links"
I tried to boot a run script twice, once with KERNEL=hw and once with KERNEL=foc on imx6 with TFTP. Unfortunately, I made the mistake of not having created my boot dir (/tftpboot/arm_v7a) beforehand (/tftpboot, however, existed). The first run with KERNEL=hw finished successfully with the following:
[code]
The second run with KERNEL=foc, however, gave the following error:
[code]
The first variant,

[2021-04-30 14:16] chelmuth commented on #4129
Merged c9626b830f75968ca8037bc244810641b008aeca to staging.

[2021-04-30 14:27] chelmuth commented on #4078
Great! Merged the fix to staging.

[2021-04-30 14:36] cproc commented on #4078
I get compile errors on arm_v8a:

[code]

[2021-04-30 15:00] alex-ab commented on #4078
@cproc: right, thanks, 56a72f7955dcc48c1cd468fadd04d73b82aea8fb helps

[2021-04-30 15:01] m-stein commented on #4010
@nfeske It seems that all the recent network-test fails on imx6 are related to this issue. Somehow, the problem is only triggered by base-hw. The driver forwards DHCP responses twice which confuses the router:
[code]

On foc and sel4 the packets are not duplicated:
[code]

[2021-04-30 15:03] alex-ab commented on #4078
@cproc: or do you have a user of the lib on armv8 ?

[2021-04-30 15:07] m-stein opened #4131 "net/dhcp: print readable message types"
DHCP packets currently print only the less specific and numeric opcode value which isn't very useful when debugging.

[2021-04-30 15:15] cproc commented on #4078
@alex-ab: no, I just noticed the error while testing the new tool chain (and then checked if it also happens with the old tool chain). Now I see this error on arm_v8a:

[code]

[2021-04-30 15:15] alex-ab commented on #4078
Oh je, I guest qemu-usb will require it ... right :-(

[2021-04-30 15:27] m-stein commented on #4113
It seems that I need an older glibc:
[code]
Is this correct?

[2021-04-30 15:31] m-stein commented on #4113
Oh sorry, meant a newer one:
[code]

[2021-04-30 15:58] cproc commented on #4113
Was the tool chain perhaps built on a newer system? Then building it (the tool chain) from source should work.

[2021-04-30 16:00] m-stein commented on #4113
Ah, that's a good hint. Yeah, I built it on another machine because it takes unbelievably long :)

[2021-04-30 16:01] m-stein commented on #4113
I'll do this on Monday and invest the rest of the day in the nic_router build problem instead.

[2021-05-03 08:57] cproc commented on #4094
I rebased my 'issue4094' branch to staging, so it should be easier to debug the remaining problems.

[2021-05-03 09:42] alex-ab commented on #4078
@chelmuth, @nfeske: please add 56a72f7955dcc48c1cd468fadd04d73b82aea8fb and 55bf88111c1730da47ac2ac603e31ce2131c6269 to staging.

[2021-05-03 10:02] nfeske commented on #4078
Merged both commits to staging.

[2021-05-03 10:08] cproc opened #4132 "qt5: build errors with gcc 10"
When building qtwebengine with gcc 10, the following error occurs:

[code]
and a few more about similar missing includes.

[2021-05-03 11:25] cproc commented on #4132
Fixed in 4512e1c

[2021-05-03 12:25] chelmuth commented on #4132
Merged to staging.

[2021-05-03 13:58] chelmuth opened #4133 "Report MAC address from NIC drivers"
Since the transformation of NIC drivers to Uplink session clients, the MAC address is not known to the system until the link state changes to UP and the NIC router reports the link information. As the router is not the right component to distribute this information anyway and the MAC address may be required in other components (e.g., a system GUI) also if the link is down, drivers should optionall

[2021-05-03 14:38] m-stein commented on #4109
With these, building the NIC router should finish without warnings/errors:
89cb7bc98f net: circumvent stringop-overflow error
65881b0691 net: fix packed-conversion compiler warning

[2021-05-03 14:46] nfeske commented on #4109
Thanks @m-stein for your thorough investigation. I merged both fixes.

[2021-05-03 15:13] tomga opened #4134 "problems in gdb_monitor_interactive/target_conifg run scripts"

[2021-05-03 15:36] jschlatow opened #4135 "vfs: fonts_fs does not handle config changes if <rom> changes"
First of all some background: When I set up my wifi at home, I added emojis to the SSID to test whether/how the clients deal with that. Currently, emojis are not shown in Sculpt because the Bitstream Vera font does not contain the corresponding glyphs. As there are a few fonts with simple (uncoloured) emoji glyphes, I had a quick try and got stuck in the following issue.

I added a new ttf file to

[2021-05-03 15:38] tomga commented on #4134
Commit 3ece2cd8a3dbd025f3510e7fae89087425ffe82c fixes some issues in current versions of `gdb_monitor*` run scripts (those that are not enabled for autopilot):

 * increased RAM and caps to similar values like in `gdb_monitor.run`
 * added `posix.lib.so` to `boot_modules` in `gdb_monitor_interactive.run` like in `gdb_monitor.run`
 * changed `-nographic` to `-display none` in `gdb_monitor_interacti

[2021-05-03 18:08] cproc commented on #3967
I got a page fault with manual pthread placement in falkon on base-linux on the current staging branch. According to git bisect it is related to commit 40578f8. With commit 7d43f8d the page fault can be reproduced with `make KERNEL=linux BOARD=linux run/test PKG=test-pthread`. It appears to happen in `Genode::Mutex::acquire()` if I interpreted the objdump output correctly.

[2021-05-04 08:03] nfeske commented on #4134
Thanks @tomga. The fixes are very much appreciated.

[2021-05-04 08:08] nfeske commented on #3975
@tomga You make very good points. In particular, I can understand your resistance against the idea to let the developer specify LIBS vs ABIS in the target.mk file.

[2021-05-04 08:16] nfeske commented on #4135
The VFS does not support dynamic reconfiguration of its structure. E.g., replacing one ROM by another is not possible.

Sooner or later, we will address this limitation. But since the topic has a lot of ripple effects, it needs careful planning. So rather later than sooner.

What could work to solve your problem is placing the font files in a regular <fs> following a naming convention such as regu

[2021-05-04 08:39] jschlatow commented on #4135
Understood. From a pure user's perspective though, it appears that dynamic reconfiguration is supported because one can change the font size and path of the `<ttf>` nodes. Do you think there is a way to catch the unsupported changes and put out a clear error message like "unsupported config update"?

I also thought about building a separate fonts_fs pkg. Yet, if I understand it correctly, this wou

[2021-05-04 09:36] nfeske commented on #4135
I see where the wrong expectation comes from. The font size change is actually the only feature of the VFS that is able to respond to config changes. So it is really a special case for now.

Yes. However, in a future version of Sculpt, those font files could actually be hosted in the config fs. Wouldn't that be cool? A user could just drop the preferred font in the config directory of the sculpt p

[2021-05-04 10:21] alex-ab commented on #3967
@cproc: Thanks for reporting. Please use 8086f522fe84053753fb3303f46d0b74e7e45093 as fixup

[2021-05-04 10:45] cproc commented on #3967
@alex-ab: thanks, no page fault anymore with falkon as well

[2021-05-04 11:05] nfeske opened #4136 "base-linux: support for 64-bit ARM"
Currently, base-linux supports x86_32 and x86_64. I'd like to extend the support to AARCH64 to ease the Genode development on 64-bit ARM hosts such as the MNT-Reform laptop.

[2021-05-04 11:22] nfeske commented on #3967
Thanks. Merged to staging.

[2021-05-04 11:38] alex-ab commented on #4078
@nfeske: please consider f09939f0217436e0b1ed9015b7555e5f93f402867 for staging to fix vbox* package errors

[2021-05-04 11:46] chelmuth commented on #4078
Merged to staging.

[2021-05-04 11:51] nfeske commented on #4136
The two commits linked above contain preparatory steps.

Commit https://github.com/genodelabs/genode/commit/edf905c45b361628f5ee9191d95a80d8004b6122 sidesteps the need to pass a TLS pointer through the clone system-call binding.

Commit https://github.com/genodelabs/genode/commit/d17d20bb34784d31dc9a04468cecfb712c28217e harmonizes the system calls used across x86 and AARCH64.

[2021-05-04 14:53] m-stein commented on #4133
@chelmuth Is there already a plan how the report should look with multiple interfaces at the same driver?

[2021-05-04 17:27] jschlatow opened #4137 "user-defined dynamic remapping rules"
Some remapping rules in Sculpt hide certain keys - such as F12 and LEFTMETA - from applications. Particularly when interacting with virtual machines, it is sometimes necessary to use these keys in their original meaning nonetheless.

Since the remapping of these keys is performed by the event_filter, which supports inclusion of dynamically updated roms, these remapping rules can be toggled via a r

[2021-05-05 06:17] chelmuth commented on #4133
Good point in cases we can't avoid to drive two devices from one component. What do you think about the following proposal?

[code]

[2021-05-05 06:32] m-stein commented on #4133
In the example of the FEC NIC driver, devices must have unique names to be distinguishable. Shouldn't we reflect these names at least in case of multiple devices?
[code]

[2021-05-05 06:36] m-stein commented on #4133
As an alternative, I would also throw in the following style that is used e.g. by the NIC router (report is labelled "state"):
[code]

[2021-05-05 08:47] jschlatow commented on #4135
@nfeske I just tried putting the fonts in the config fs. My approach is to modify the leitzentrale.config in a live system. More precisely, I added the following route to the fonts_fs child:

[code]

The route appears to work since the child is requesting addititonal ram resource once I copy a emoji capable font to `/config/fonts/regular.ttf`. Unforunately, once I add the route any interaction wit

[2021-05-05 09:36] #4080 closed

[2021-05-05 09:36] #4088 closed

[2021-05-05 09:36] #4100 closed

[2021-05-05 09:36] #3754 closed

[2021-05-05 09:36] #4076 closed

[2021-05-05 09:36] #4077 closed

[2021-05-05 09:36] #4085 closed

[2021-05-05 09:36] #4089 closed

[2021-05-05 09:36] #4091 closed

[2021-05-05 09:36] #4093 closed

[2021-05-05 09:36] #4120 closed

[2021-05-05 09:36] #4078 closed

[2021-05-05 09:36] #4069 closed

[2021-05-05 09:36] #4086 closed

[2021-05-05 09:36] #4090 closed

[2021-05-05 09:36] #4096 closed

[2021-05-05 09:36] #4122 closed

[2021-05-05 09:36] #4127 closed

[2021-05-05 09:36] #4129 closed

[2021-05-05 09:36] #4134 closed

[2021-05-05 09:37] #4099 closed

[2021-05-05 09:37] #4101 closed

[2021-05-05 09:37] #4105 closed

[2021-05-05 09:37] #4110 closed

[2021-05-05 09:37] #4114 closed

[2021-05-05 09:37] #4097 closed

[2021-05-05 09:37] #4098 closed

[2021-05-05 09:37] #4115 closed

[2021-05-05 09:37] #4119 closed

[2021-05-05 09:37] #4121 closed

[2021-05-05 09:37] #4102 closed

[2021-05-05 09:37] #4103 closed

[2021-05-05 09:37] #4106 closed

[2021-05-05 09:37] #4107 closed

[2021-05-05 09:37] #4123 closed

[2021-05-05 09:37] #4109 closed

[2021-05-05 09:37] #4125 closed

[2021-05-05 09:37] #4132 closed

[2021-05-05 09:42] sidhussmann commented on #4086
@nfeske, I'm not sure if we should close this issue as it's only partially solved. @m-stein and @chelmuth what's your take on this?

[2021-05-05 09:45] nfeske commented on #4086
It was closed automatically, triggered by the 'fixed' notice in the commit message.

I'd like to leave the answer to your question to @m-stein and @chelmuth. ;-)

[2021-05-05 10:04] nfeske commented on #4135
That route looks good to me. But I think it must be there initially and cannot be added later.

When changing a route that is currently in use (like the ROM route for "Vera.ttf"), the client component is restarted. In this case, this would be the fonts_fs. All file-system sessions to the fonts_fs that exist at this point are doomed. However, the fs clients (like the menu-view instances) cannot kno

[2021-05-05 10:05] chelmuth commented on #4086
I'm uncertain if the issue should be left open as it can't be fixed without addressing the issue of initial component entropy (without using jitterentropy) and a light-weight PRNG first. Unfortunately, we did not agree on a plan when to address the prerequisites.

[2021-05-05 10:16] chelmuth commented on #4133
After offline discussion we settled on the following scheme, which I'm going to implement for linux, ipxe, and wifi first.

[code]

The `label="..."` attribute is optional and can be used my multi-headed drivers to distinguish multiple network devices. The label will then also be used when creating the Uplink session.

[2021-05-05 10:17] nfeske commented on #4137
That's very elegant! I love how you apply this customization via a complementary package, with no modifications of Sculpt required.

I'm not 100% sure about adding the package the Genode repository. As long as you are the sole user, it may be better hosted at Genode-world or as a Goa project independent from the mainline Genode repository, at least initially. Once we see its proliferated use, we c

[2021-05-05 11:01] nfeske commented on #4118
Merged to staging.

[2021-05-05 11:04] nfeske commented on #4116
I merged both commits to staging.

[2021-05-05 11:13] nfeske commented on #4104
Thank you for the fix and the run script. I have merged both commits to staging now.

In fixup 2b34f0ebea1444dfb625ed373dd2ddc579402f79, I also added the run script to our nightly tests.

[2021-05-05 11:14] nfeske commented on #4084
I'm closing the issue since the fix entered the master branch today.

[2021-05-05 11:14] #4084 closed

[2021-05-05 11:18] nfeske commented on #4079
I think the pressing concern of devices not working is addressed by the commit https://github.com/genodelabs/genode/commit/2db94b843836bf9f68ddd154296910d96eef57de on master.

It arguably side-steps the actual issue. So we will have to address this topic down the road sometime. However, as there is no urgent need and no concrete plan, I propose to close this issue.

[2021-05-05 11:19] nfeske commented on #4073
The commits entered the master branch today. Shall we close this issue?

[2021-05-05 11:30] nfeske commented on #4070
I added the commit series from the trimpim/1120-lx_fs-watch branch to staging now.

While looking through the commits, I wondered if f9d44a30ea55704822bebd3150212e30f3d93189 could be squashed into 358e1c92edcb66211974262cf6cf9883b4157ed9?

[2021-05-05 11:32] nfeske commented on #4128
@m-stein Will you take care of this issue?

[2021-05-05 11:33] nfeske commented on #4113
@m-stein Please keep an eye on this issue because it is critical for switching to GCC 10.

[2021-05-05 11:38] nfeske commented on #4094
Most fixes entered the master branch now. @cproc, could you rebase your branch again to current staging?

Can you give an advice for the appropriate time when we should collectively switch to the new tool chain, or if you see showstoppers? I think it would be good to take this step this week so that we have enough time to settle the remaining issues (e.g., uncovered by our nightly test) until the

[2021-05-05 12:12] nfeske commented on #4136
Commit https://github.com/genodelabs/genode/commit/dc68e3391997468427cac5c77c407c76798141ad introduces a way to build (parts of) core in an architecture-specific way.

[2021-05-05 12:19] m-stein commented on #4113
Ok, I will prioritize it.

[2021-05-05 12:36] trimpim commented on #4070
@nfeske I'm currently running the hopefully last stress test on a further fixup commit to the series. I would agree to squash the commits, just kept them separate for easier review.

I can also squash the commits before I push, if you prefer.

[2021-05-05 12:37] nfeske commented on #4124
Fixed by https://github.com/genodelabs/genode/commit/ef6c37791e6fb75a1b87394db79e9be260c1e6a5

[2021-05-05 12:40] nfeske commented on #4070
At the commit series is already on staging, I prefer additional fixups to avoid force-pushing staging too often. Please just tell me your squashing preferences :-)

[2021-05-05 12:48] m-stein commented on #4113
With 127b5e37d5, the test finishes successfully and without any compiler warnings/errors with GCC 10.

[2021-05-05 12:56] nfeske commented on #4113
Cool! Merged to staging.

[2021-05-05 13:01] m-stein commented on #4128
Of course.

[2021-05-05 13:12] chelmuth commented on #4112
@cproc could you please check if b315454217d3980ead8c5e0cb322f8867c75f1d3 alone fixes the issue? I still have no GCC10 available. Nevertheless, I'll also keep 88792571b5b3597e782a22c9a881c5ce9dd8961f as a style improvement for *vfs_stress*.

[2021-05-05 13:37] m-stein commented on #4128
This 20a67b725ee55c87a9e38bbbfb261b85c7814430 should fix it.

[2021-05-05 13:41] m-stein commented on #4086
I don't have an opinion regarding this, we can leave it open as well.

[2021-05-05 14:25] jschlatow commented on #4137
Sure. I haven't used Goa yet, but this would probably be a good opportunity to give it a try ;-). I will combine this with a Genodians article for better visibility and documentation.

[2021-05-05 21:21] alex-ab commented on #4126
I did not found a way to merge it, but maybe someone can ? I added nevertheless two working commits for the new tool chain.

[2021-05-05 22:43] tomga opened #4138 "gdb_monitor: number of preserved caps is fixed and can be too small"
I'm experimenting with using `gdb_monitor` and if it is used to debug more complex component than currently tested it can exhaust fixed `100` number of caps that it preserves for itself when starting child component. It took me quite some time to understand what is going on and I think this problem deserves some care.

Currently fixed value is hardcoded [here](/genodelabs/genode/blob/516a9a69253b6

[2021-05-05 23:04] tomga commented on #4073
I have some questions about discrepancy between build targets specified in run scripts and real targets needed by same run scripts to put into an image. I know cases where scripts require building more than they actually need (it was quite irritating for me when I worked on port for rpi, without configured ccache) and recently I also found case where build was performed successfully but image coul

[2021-05-05 23:28] cproc commented on #4126
With the commits applied I get errors when building virtualbox5:

[code]

But good that you looked into the warnings. While reviewing my tool chain commits in preparation for the next issue4094 branch update I noticed that I accidentally left a temporary `-Wno-error=address-of-packed-member' option in the GCC commit, so the warnings would actually be errors. I'm going to create a few more github i

[2021-05-06 06:36] cproc commented on #4112
@chelmuth: yes, b315454 alone fixes the issue as well

[2021-05-06 06:42] cproc opened #4139 "gdb: build errors with gcc 10"
When building `noux-pkg/gdb_arm` with gcc 10, the following errors occur:

[code]

Another '-fno-common' issue.

[2021-05-06 06:47] cproc commented on #4139
Fixed in 0bed7f6

[2021-05-06 06:57] chelmuth commented on #4112
That's great, thanks.

[2021-05-06 07:20] cproc commented on #4094
I rebased my 'issue4094' branch to staging and added commit messages. In principle, the commits should be ready for staging now. The temporary binutils commit is currently needed to build Fiasco.OC for ARM. The remaining known build issues should be relatively easy to work around with '-Wno-error=' options if needed until a real fix is available. The gdb update is currently in progress.

[2021-05-06 07:25] alex-ab commented on #4126
Ok, I thought the method is not used, i re-added it in the replacement commit 6540fc939e0d45dbbbe4912d0353db0db6f8b839

[2021-05-06 07:26] cproc opened #4140 "cpu_load_display: build errors with gcc 10"
When building `app/cpu_load_display` with gcc 10, the following errors occur:

[code]

[2021-05-06 07:30] cproc opened #4141 "gpt_write: build errors with gcc 10"
When building `app/gpt_write` with gcc 10, the following errors occur:

[code]

[2021-05-06 07:31] cproc commented on #4140
The same errors occur for `app/nano3d`

[2021-05-06 07:36] cproc opened #4142 "zynq_nic_drv: build errors with gcc 10"
When building `drivers/nic/spec/zynq` with gcc 10, the following errors occur:

[code]

[2021-05-06 07:48] sidhussmann commented on #4086
I can't estimate how involving introducing a a light-weight PRNG is. Is there some preliminarily work with e.g.  https://en.wikipedia.org/wiki/Xoroshiro128%2B ?

Nonetheless, I believe there is value in the discussion of this issue regarding RFC 6056 and I think we should leave the issue open.

[2021-05-06 08:29] cproc commented on #4111
This error got fixed by 05f6d18

[2021-05-06 08:29] #4111 closed

[2021-05-06 08:33] cproc commented on #4108
This problem is still a mystery.

[2021-05-06 08:38] m-stein commented on #4142
I can have a look into it.

[2021-05-06 08:46] nfeske commented on #4073
I'm fine with keeping this issue open as a place for further discussion.

[2021-05-06 08:52] nfeske commented on #4139
The patch touches code that seem to be unrelated to Genode, about some specific DSP.

Wouldn't it be sensible to somehow exclude the support for those devices from your build of GDB? (I'm imagining a minor patch of a makefile)

[2021-05-06 08:55] cnuke commented on #4141
I will look into that.

[2021-05-06 09:18] m-stein commented on #4083
Yesterday, with Sculpt 21.03b (that contains the fixes for #4079), I had, for the first time with this release a sporadic disconnect of the Wifi from my home WLAN (I'm not often in this WLAN with Sculpt and at work I never experienced disconnects). The disconnect occured after quite some time (half an hour, an hour) of actively doing stuff over this WLAN. I tried to switch to NIC (worked) and swit

[2021-05-06 09:24] cnuke commented on #4141
Commit eb404bd fixes the error.

[2021-05-06 09:31] cnuke commented on #4086
@sidhussmann FWIW, there is [lxip/random.cc](https://github.com/genodelabs/genode/blob/master/repos/dde_linux/src/lib/lxip/random.cc).

[2021-05-06 09:39] nfeske commented on #4128
I temporarily reverted the fix in https://github.com/genodelabs/genode/commit/a7fcf2693b46b2df2e50a2546faacd9032029b5b because it has a hard dependency on gcc-10.

[2021-05-06 09:51] nfeske commented on #4136
Commit https://github.com/genodelabs/genode/commit/5b3b41b4a5f88cc7a7f4ce1f7c5c58b58d145920 adds the actual AARCH64 support. @skalk, I hope you are fine with the crt0 changes.

Commit https://github.com/genodelabs/genode/commit/12dee2c5fe7567a902fc4ba2a732f993368cc80b is needed for non-trivial scenarios that depend on the timeout framework (i.e., all scenarios that use the timer driver). I put thi

[2021-05-06 09:57] m-stein commented on #4128
@nfeske Sorry, I forgot to mention that this shouldn't be merged before gcc 10.

[2021-05-06 10:04] cproc commented on #4139
@nfeske: commit 45fa3d6 appears to fix it even without patching

[2021-05-06 10:16] chelmuth commented on #4086
I also value the information gathered in this issue and it is definitely preserved regardless of whether the issue is closed or open. However, if a *feature* issue stays open it becomes a liability and deserves planning how and when it will be solved. As I wrote before, we do not have a plan to address the component-entropy topic currently and I do not see it coming in the next months. As you repo

[2021-05-06 10:21] tomga commented on #4138
I just realized this topic was raised on mailing list recently in topic 'how to debug gdb?' and @cproc mentioned exactly the same line there. If read it carefully earlier I'd probably saved some time on debugging. Anyway questions stay valid.

[2021-05-06 10:56] cnuke commented on #4083
@m-stein thanks for the LOG file. It appears that at some point - for whatever reason - the device itself becomes unresponsive. The driver already tries to reset the device and fails. Even restarting the driver, which involves some kind of power off/on of the device by the platform driver, does not help as the device is still in an unresponsive state.

Since there are apparently not that many iwl

[2021-05-06 11:02] m-stein commented on #4124
@nfeske Thanks for the fix! I can confirm that ef6c377 fixes not only the cut arrows but also the stretched radio buttons and other effects of font size changes on my system.

[2021-05-06 11:11] nfeske commented on #4124
Thank you for the feedback. It is a little strange that it fixes anything besides the back button though. The patch touches the back button only.

[2021-05-06 11:21] alex-ab commented on #4079
From my side we may close it and reopen whenever someone is working on actively.

[2021-05-06 11:27] sidhussmann commented on #4086
Fair enough.

[2021-05-06 11:27] m-stein commented on #4124
I checked it twice. All buttons now appear as desired and don't change not even in size with other font sizes.

[2021-05-06 11:27] sidhussmann commented on #4086
@cnuke awesome! Thanks!

[2021-05-06 11:29] chelmuth commented on #4083
From this perspective it makes sense @jschlatow also enables debug information in his scenario. Also, it may be good to monitor iwlwireless resources for according bug reports/fixes. Last but not least, I wonder if enabling 11n support may change the behavior of driver and firmware to a more widespread and robust pattern (see following log snippet).

[code]

[2021-05-06 11:30] #4079 closed

[2021-05-06 11:52] cnuke commented on #4141
Commit bc03a32 fixes the error by turning the member into a byte array and adjusting the convert functions.

[2021-05-06 12:07] nfeske commented on #4140
@cproc Could you give https://github.com/genodelabs/genode/commit/62aaa3321046a5cf279fc4f2b4bebad98b5e4be8 a try for both programs?

I did some quick measurement of the effect using `GENODE_LOG_TSC` on my x250. The removal of the optimization slows down the code by factor 2. Even though I don't welcome this effect, it is arguably tolerable in this concrete case (the surface clearing takes only 1-2

[2021-05-06 12:12] sidhussmann commented on #4086
@cnuke since the seed is 42, this will always return the same sequence of numbers, right? What would be a good source for the seed in `nic_router`? We wouldn't want to depend on a RTC session, would we?

[2021-05-06 12:15] nfeske commented on #4141
Thanks @cnuke for the rework. I merged the commit to staging.

[2021-05-06 12:23] cproc commented on #4140
@nfeske: yes, that fixed the errors

[2021-05-06 12:34] trimpim commented on #4136
@nfeske  while enabling `base-linux` for our marvell armhf_v7a target we also hit this problem in two places, trace/timestamp and lib/jitterentropy.

Our first approach was to return a constant value, which is in case of `jitterentropy` can't be a good solution. Therefore we opted to use a `get_time`  (CLOCK_MONOTONIC) system call which has a certain overhead of course.

[2021-05-06 12:53] chelmuth commented on #4086
Currently, *jitterentropy* is the entropy source of choice that should be used for seeding a PRNG.

For clarification, lxip uses `42` as an arbitrary starting point for pseudo-randomness in any ID selection, may it be ports, transaction IDs or sequence numbers. This approach fit the use case well up to now.

[2021-05-06 13:38] jschlatow commented on #4135
@nfeske, please have a look at my branch [4135_user_defined_fonts](https://github.com/jschlatow/genode/tree/4135_user_defined_fonts), which contains a commit series for placing fonts in `/config/fontfiles`. I tested this with the Bitstream Vera font with Symbola merged in. The result is a ~3M ttf file, therefore some RAM quotas needed to be increased.

I found out that fonts were not updated if th

[2021-05-06 13:47] jschlatow commented on #4083
I use wifi regularly but haven't seen any fatal disconnects yet. I already made some larger downloads, file transfers and git checkouts. Nonetheless, I will enable debugging info and stress the wifi a bit more.

@m-stein, let me know if you find out how to reproduce this. Do you have any details on the wifi access point with which it occured?

[2021-05-06 13:49] trimpim commented on #4070
@nfeske my stress test passed, so with a1347b2 `lx_fs` now also survives very fast changes on a watched file.

I would squash fd1ba22d18d54885df7e24bfb7ec0ff390ddf931, fe8ba2f71e8789ec7dca329a7fed45274addbe50 and a1347b280d8b8e440703a958008268e6040fe15c in to 90157618358f51148275f9e4fb50aed31b20259a, or as you see fit.

[2021-05-06 14:04] m-stein commented on #4083
It occured with a FritzBox! 7430 YB, frequency of 2417 mhz, WPA2.

[2021-05-06 14:30] jschlatow commented on #4135
Unfortunately, there is still an issue that just came up when replacing the ttf file in a running Sculpt. I tested this with
6bd46f1 and a fonts_fs pkg accessing `/config/fontfiles` via a chroot component. All clients updated their fonts smoothly, yet by changing the system fonts config to pull the fonts via a File_system session instead of ROM sessions, I broke this. Now, when I try to replace th

[2021-05-06 14:31] sidhussmann commented on #4086
@chelmuth thank you for clarifying. This approach sounds reasonable for lxip. I can see now that it's not so straight forward to implement RFC 6056, if we don't want to depend on jitterentropy.

[2021-05-06 15:57] cproc commented on #4118
The ARM link error has been fixed upstream. Commit 58b1ef5 adds the patch.

[2021-05-06 16:02] jschlatow commented on #4135
Another obervation is that the new `fontfiles` directory appears in the files view (but is not browsable). I am wondering why this is happening as the keyboard directory is not shown.

[2021-05-06 16:05] cproc commented on #4094
I rebased my 'issue4094' branch to staging and removed the temporary binutils commit, which is not needed anymore with the Fiasco.OC ARM link fix in issue #4118.

[2021-05-06 16:07] nfeske commented on #4118
I merged the fixup to staging.

[2021-05-07 06:27] chelmuth commented on #4108
Commit be5a2f65c619f9c04a87b06ae57e60336ca9c11f fixes the issue by explicit instantiation of the template function. It seems GCC10 did not add the weak instance as GCC8 did.

[2021-05-07 06:51] chelmuth commented on #4094
Please correct me, but with current staging (be5a2f65c619f9c04a87b06ae57e60336ca9c11f) there are only two open issues - #4126 and #4142 - blocking the switch to GCC 10. Let's squash these today, so we can switch the nightly to GCC 10 on Monday and also update our Sculpt installations.

[2021-05-07 07:38] nfeske commented on #4135
It is fantastic to see you navigating through Sculpt, diving into the guts, and removing stumbling blocks along the way! :-)

Even though I'm currently focused on Linux/DDE-related work, I couldn't resist peeking at your branch.

- The patches of vfs_ttf and os/vfs.h are very welcome. They nicely fill gaps that I was admittedly not fully aware of. The patches look excellent.

- Regarding the namin

[2021-05-07 08:00] cproc commented on #4094
The Fiasco.OC ARM link commit from issue #4118 seems to be still missing on staging (or I don't see it for some reason) and from Issue #4126 the core.ld commit (or a better solution if anybody knows one) is also needed. And of course the ada-runtime commit needs to be unreverted when switching.

[2021-05-07 08:20] m-stein commented on #4094
@chelmuth I'm working at #4142.

[2021-05-07 09:44] ssumpf commented on #4126
@cproc, @chelmuth: 76bc0c0 does the same as https://github.com/bminor/binutils-gdb/commit/21401fc7bf67dbf73f4a3eda4bcfc58fa4211584 in a one liner and reverts GNU ld to the old behavior.

[2021-05-07 09:45] ssumpf commented on #4094
I have added a fix for #4126 for core.ld that is a little less inversive (https://github.com/genodelabs/genode/commit/76bc0c0b7fd9f73cfa14f968d1c421b1ebfd7cc3)

[2021-05-07 09:49] chelmuth commented on #4070
@trimpim it's overdue that I join the discussion here because I agreed with @nfeske to attend to this issue a week ago but did not want to rush things and had other priorities too. As my review of your contribution is still pending and your latest fixup changes pretty many lines, I suggest to start over. Could you please prepare a new topic branch with your commits stashed as you consider appropri

[2021-05-07 09:58] chelmuth commented on #4094
@cproc could you please include 76bc0c0b7fd9f73cfa14f968d1c421b1ebfd7cc3 in your gcc10 branch, so it gets merged to staging finally? I suggest to change the commit message title to *binutils: augment equally-named sections again*.

[2021-05-07 10:01] alex-ab commented on #4095
5fc098794076247323ebe9dd175074e4bb44f924 uses pthread_mutex instead of Genode::Mutex to avoid the sporadic deadlocks between ep and pthread

[2021-05-07 10:14] chelmuth commented on #4095
Splendid, I merged the commit instantly. The mutex utility looks like a candidate for a *libc/mutex.h* because it makes the code much more readable. Also, it could then be merged with https://github.com/genodelabs/genode/blob/516a9a69253b650e256972c8433226dd5718db65/repos/libports/src/test/pthread/main.cc#L460-L492

[2021-05-07 10:24] cproc commented on #4094
@chelmuth: done

[2021-05-07 10:50] jschlatow commented on #4135
Thanks for the feedback. I updated the branch following your suggestions.

The fonts_fs pkg now comes with its own fonts but can be used with a tailored launcher to use the system fonts. I also changed the `runtime_view` config to use the default.ttf. The only remaining component with a hard-coded font is `log_terminal` which I'd rather keep independent and, with the fixed tiny font size, changes

[2021-05-07 10:57] jschlatow commented on #4135
And, for future reference: When pulling the fonts from config_fs via a File_system session, I was able to update the monospace.ttf smoothly but not the default.ttf. In the latter case, the inspect_view and other views got stuck.

[2021-05-07 11:58] m-stein commented on #4142
@cproc Unfortunately, I'm not making any progress with the toolchain. I had to restart ``tool/toolchain arm`` twice, first because of no space left on device and second because some weird stuff happend with the re-used build dir. During the third run, with clean build dir, it got really far but stopped with:
[code]
I'm starting to wonder whether it's worth it to spend another 3 hours with a busy m

[2021-05-07 12:03] nfeske commented on #4142
This build problem was discussed at #4139 and the fix should be at staging.

[2021-05-07 12:08] m-stein commented on #4142
But I should cherry pick it, right? The new toolchain isn't on staging yet, or is it?

[2021-05-07 12:16] nfeske commented on #4142
We will merge the actual tool chain on Monday to attain the pre-tool-chain CI results over the weekend. With this issue settled, we should be ready to go. Thank you for the fix!

I think you should be fine to cherry-pick the GDB build fix, but I don't urge you. I just found it worth hinting at the connection between the error message you posted and the other issue.

[2021-05-07 12:19] cproc commented on #4142
@m-stein: with your commit a part of the errors disappeared. These two remained:

[code]

[2021-05-07 12:55] m-stein commented on #4083
@jschlatow @cnuke [This](https://github.com/genodelabs/genode/files/6441673/wifi_connect_log.txt) is the log of a successful connect to my home WLAN with the more chatty driver. Maybe you can get more details about my WLAN from that. Unfortunately, the disconnect didn't happen again since I posted the first log.

[2021-05-07 13:09] chelmuth commented on #4142
@cproc @m-stein have a patch for the remaining error almost ready

[2021-05-07 13:10] m-stein commented on #4142
@chelmuth I'm already done with it.

[2021-05-07 13:11] m-stein commented on #4142
d8e6a2556e fixup "nic/zynq: fix packed conversion error with gcc 10"

[2021-05-07 13:17] m-stein commented on #4142
Sorry, had to adapt it, so, that it compiles:
732164a560 fixup "nic/zynq: fix packed conversion error with gcc 10"

I'd prefer this one as it documents the use of the structs.

[2021-05-07 13:22] chelmuth commented on #4142
Anyway... please check if 41b8dedf54d60c64accc2afa670ce1d5a2b4736f reflects what you wanted to achieve.

[2021-05-07 13:27] m-stein commented on #4142
I finished compiling the arm toolchain and can confirm that the commits that are now on staging fix the issue :)

[2021-05-07 16:05] m-stein commented on #4032
The next version of the package that can now be found under "mstein -> Tools -> File Vault" is out. The package should be compatible to Sculpt 21.03b. It would be really cool, if everyone could give it a try and give me some feedback! Note that this version isn't compatible with vaults created with the last version.

These are some of the improvements since the last version:
* The private key is n

[2021-05-07 16:05] m-stein commented on #4032
My merge_to_staging branch contains the commits ready to be merged.

[2021-05-08 11:31] tomga commented on #4095
Not sure if it will help but I managed to make a run script that starts `ssh_terminal` with `gdb_monitor` and was able to get SIGTRAP under debugger few times. Sample output was:

[code]
When I tried to compile `base-nova/src/lib/base/rpc_entrypoint.cc` with `-O0` then crash was not reproducible. Unfortunately currently I can't reproduce it anymore at all.

My run script is available on my [gdb_ss

[2021-05-10 01:55] cproc opened #4143 "gdb_monitor problems"
As reported by @tomga on the mailing list [1], there are currently problems when using gdb_monitor to debug components which provide a service. While @tomga investigated a potential race related to thread creation and service announcement [2], I tried to find out if there was a state in the past when debugging the ssh_terminal with gdb_monitor worked, and with the help of git bisect found commit a

[2021-05-10 06:28] tomga commented on #4143
Thank you for finding time and confirming that so quickly.

[2021-05-10 09:09] nfeske commented on #4032
Thanks @m-stein for the new version and the convenient package!

I'm writing this comment via the Falkon web browser that stores its entire state (config, cookies, bookmarks) in a file-vault directory. I have added a copy of the launcher/recall_fs that I call launcher/vault_recall_fs with the file-system route going to the file vault. This way, I can route arbitrate file-system sessions to subdire

[2021-05-10 09:21] #4118 closed

[2021-05-10 09:21] #4116 closed

[2021-05-10 09:21] #4112 closed

[2021-05-10 09:21] #4113 closed

[2021-05-10 09:21] #4131 closed

[2021-05-10 09:21] #4108 closed

[2021-05-10 09:21] #4139 closed

[2021-05-10 09:21] #4140 closed

[2021-05-10 09:21] #4141 closed

[2021-05-10 09:21] #4142 closed

[2021-05-10 09:28] #4136 closed

[2021-05-10 09:29] nfeske commented on #4104
Fixed in master.

[2021-05-10 09:29] #4104 closed

[2021-05-11 07:09] chelmuth commented on #4094
Preliminary results from the depot package builds:

- Some world packages need `-fcommon`: jdk, opentyrian, libspng, grafx2
- genodelabs/bin/x86_64/cbe does not build.
- genodelabs/bin/x86_64/gcc_x86 was already fixed by 25e844c3ece7ac086ae89fc8f16fd91afa75b406
- As expected  everything RISC-V fails due to missing support in the tool chain.

[2021-05-11 10:33] m-stein opened #4144 "depot: fix locale influence on hash generation"
I experienced the creation of many new hashes directly on tag sculpt-21.03b when creating package sculpt. Thanks to the guidance of @chelmuth, we found that this was related to my locale setting ``LC_ALL=en_US.UTF-8`` in ``.bashrc`` (I'm on a spanish system but want my bash to work entirely in English).

[2021-05-11 10:36] m-stein commented on #4144
Fixed by 4527f6f80b.

[2021-05-11 14:25] chelmuth commented on #4094
The depot autopilot failed on arm_v7a for *test-libc_connect_vfs_server_lxip*, which (as we discovered after some hours of digging) is caused by an unaligned access in *lxip.lib.so*. Fix is still pending.

[2021-05-11 14:38] alex-ab commented on #3967
f4b74cb820d8304d2f65364df38e25424724a9b6 fixes a pagefault/segmentation fault happening on our nightly weekend tests and adjust the hw/imx8 to a round number feasible in the given amount of test time.

[2021-05-11 15:42] m-stein opened #4145 "ports/libsparkcrypto: update for GCC 10"
The old port version contained ``*.ali`` files that were build with an older GCC which led to problems when compiling packages that use the port with the new GCC 10. The ``*.ali`` files of the new port version are generated with GCC 10.

[2021-05-11 16:05] jschlatow opened #4146 "usb_hid_drv: extra key events with cherry mechanical keyboard"
I'm using a Cherry MX Board 3.0S and noticed that a bunch of extra key presses are reported by nitpicker once I press numlock (see also #4069). I instrumented the hid code to see what's going on and found out that an extra input report is sent by the device when I press numlock. The report does not look like the typical input report for key presses but is interpreted as such.

For the record, I im

[2021-05-11 19:51] ssumpf opened #4147 "ldso: Show dependencies of loaded 'Shared_object's in case 'ld_verbose' is set"
When loading shared objects via the `Shared_object` interface or `dlopen` the loading address of the freshly loaded shared object is displayed when `ld_verbose` of ldso is enabled. In case the object depends on other objects that had not been loaded by ldso prior, the loading information is lost. Note: Already loaded dependencies of a shared object should *not* be displayed.

[2021-05-11 20:09] ssumpf commented on #4147
@chelmuth: 10dfe0d fixes the issue, it can be tested with 416cfb9.

[2021-05-12 06:59] chelmuth commented on #4147
It works like a charm. Thanks for addressing this so quickly. Merged to staging.

[2021-05-12 07:06] chelmuth commented on #4070
If you do not have pressing needs to include this feature soon, just take your time. I'll look into it again when you notify updates in this issue.

[2021-05-12 07:25] chelmuth commented on #4145
I tested the commit and merged it to my local staging branch. As soon as the builder started I'll update genodelabs/staging for the next round.

[2021-05-12 08:04] m-stein commented on #4144
Although in online discussions I read the contrary, I could verify that in Make ``$(sort ...)`` always sorts ``LC_ALL=C``-style independent of the environment settings. However, ``$(shell echo ... | sort)`` always sorts according to the environment settings.

[2021-05-12 08:25] alex-ab opened #4148 "os: update intel gpu driver"

[2021-05-12 09:38] m-stein commented on #4144
@chelmuth I added a commit 028def622e to be squashed that should cover all tools.

[2021-05-12 09:54] chelmuth commented on #4144
For completeness: GNU Make uses `strcmp()` (which is locale-independent) not `strcoll()` (which takes into account `LC_ALL`, `LC_COLLATE`, and `LANG` in this order).

https://github.com/mirror/make/blob/1ae90c030d5ffc79f74e3938880445a6b8b2412e/src/misc.c#L37-L50

BTW, this is also true for the ViM-internal sort function.

[2021-05-12 10:00] ssumpf opened #4149 "usb_host: Make USB robust against session destruction & lower CPU usage for ISOCH tranfsers"
1. Currently if the USB session is destructed during a synchronous operation (e.g., control message), the `Lx::Task` worker is destroyed and accessed by the Linux code when the operation is complete. Therefore, we want to bind the lifetime of the `Lx::Task` to the lifetime of the USB device and not the session. This way a finished device request has only to check if the session still exists and a

[2021-05-12 10:05] ssumpf commented on #4149
dcd8fea address the first point, while 9f57f27 addresses the second point. @chelmuth: Pleases consider for staging.

[2021-05-12 11:18] cproc commented on #3466
Should we reopen this issue for the 21.05 tool chain update? The road map mentions switching to hard-float on ARM and this issue looks like it covers this topic.

[2021-05-12 11:23] alex-ab commented on #4148
With the 3 commits the mesa* scripts are runnable on hardware again.

[2021-05-12 11:52] cproc commented on #4143
So far I noticed two kinds of problems:

- the gdb_monitor-local session components call libc code (directly or indirectly via original gdb functions) and sometimes `pthread_self()` is called and fails because it is called from an alien thread (target_ep). Also, the session components don't currently use the `Libc::with_libc()` wrapper
- possibly related to the libc VFS change, sometimes when a `C

[2021-05-12 12:12] alex-ab opened #4150 "sculpt: themed_decorator dies with Limit_exceeded exception"
From time to time the themed_decorator dies with the following message:

[code]

Is a patch, similar to the [decorator](https://github.com/genodelabs/genode/blob/master/repos/gems/src/app/decorator/main.cc#L183) handling, the way to go also for the [themed_decorator](https://github.com/genodelabs/genode/blob/master/repos/gems/src/app/themed_decorator/main.cc#L171) ?

[2021-05-12 12:40] m-stein opened #4151 "base-hw/run/cpu_scheduler: fails"
The test of the base-hw CPU scheduler breaks on current master. Btw., I'd opt for testing this nightly.

[2021-05-12 13:02] ssumpf commented on #4149
@chelmuth: 86f2f73 remove the unnecessary `_udev` check.

[2021-05-12 13:09] chelmuth commented on #4149
Thanks for the cleanup commit. Merged to staging.

[2021-05-12 13:29] chelmuth commented on #4094
The autopilot revealed the following anomalies after the tool chain update.

- [ ] usb_host_drv and usb_hid_drv abort with nullptr dereference on arm_v6/rpi
- [ ] "ep raised unhandled MMU fault" with lxip.lib.so on arm_v7a/hw (unaligned access, also on "KERNEL0: alignment error" on foc)
- [ ] usb_hid_raw "KERNEL0: alignment error" on arm_v7a/imx6a_sabrelite/foc

[2021-05-12 13:41] nfeske commented on #3466
@cproc Good idea.

[2021-05-12 13:48] nfeske commented on #4149
Just watching from the sidelines, if the `_udev` pointer cannot become a `nullptr`, couldn't it be a reference to make this clear?

[2021-05-12 14:10] nfeske commented on #4150
Since the themed decorator maintains multiple GUI sessions per window, I first suspected that the problem may be triggered at https://github.com/genodelabs/genode/blob/master/repos/gems/include/gems/gui_buffer.h#L55. If that is the case, it would be best to add the session-upgrade handling there. Could you give this a try?

Should my suspicion be wrong and we keep your fix, could you please remove

[2021-05-12 14:38] alex-ab commented on #4150
Thanks, I will test drive the commit some working days to see whether it was the cause.

[2021-05-12 15:20] chelmuth commented on #4094
Commit 6e9bea0e59a3eaa0cb5989dd59ea5d9237a98d4f fixes the lxip alignment issue. I'm not sure about the `ADDITIONAL_HEADROOM` though https://github.com/genodelabs/genode/blob/6e9bea0e59a3eaa0cb5989dd59ea5d9237a98d4f/repos/dde_linux/src/lib/lxip/driver.c#L118-L122

[2021-05-13 00:09] tomga commented on #4095
I found a root of the problem with crashes I experienced with `ssh_terminal`.

Scenario is following:
1. `echo-terminal` attaches to `Terminal` session which causes call to `ssh_poll_ctx_resize` which allocates `pollfd` array
2. in a second thread call to `poll` is performed with array allocated in point 1
3. before call to `poll` is finished `/bin/bash` attaches to `Terminal in thread from point

[2021-05-14 07:29] chelmuth commented on #4095
From what I understand, the ssh-terminal implementation misuses the API of libssh. The following is a short note from the libssh [documentation](https://api.libssh.org/stable/libssh_tutor_threads.html).

I'm far from a libssh expert, but I would read this as: If you use multi-threading, use one libssh context per thread or expect corruption.

[2021-05-14 08:08] ssumpf commented on #4149
6a83a8f makes `_udev` a reference.

[2021-05-14 09:39] chelmuth commented on #4149
Thanks, merged to staging.

[2021-05-14 09:48] nfeske commented on #4149
Maybe related, the usb_hid_raw test produces the page fault on staging (on all x86 platforms), here for nova_x86_64:

[code]

[2021-05-14 10:07] chelmuth commented on #4149
This originates from the following change.

https://github.com/genodelabs/genode/commit/60521c30bc282541223cc6e9583ffdcc6c0b16cd#diff-6ca7278a5335344d569f690523edf9774837bbb56df7ba67c5816e012d0489e3L940-L950

It seems `_udev` is valid, but `_udev.actconfig` is not. @ssumpf may `ready()` only return `true` if `actconfig` is set?

[2021-05-14 10:20] nfeske commented on #4094
On foc_x86_64, the switch to GCC-10 triggered the following problem in the thread.run test:

[code]
The messages continue infinitely.

@cproc May you give it a look?

[2021-05-14 10:26] nfeske commented on #4094
The problem can be reproduced on Qemu.

[2021-05-14 11:30] ssumpf commented on #4149
@chelmuth: Thanks for your findings. I am with you regarding `ready` and have implemented it in c8a0cbe. Could you try this out on mogli, because I cannot trigger the issues in Qemu so far.

[2021-05-14 12:13] chelmuth commented on #4149
Commit  591e3e6 fixes the issue, thanks.

[2021-05-14 13:51] jschlatow commented on #4137
@nfeske I just had a try with Goa but I'm afraid it's unable to demonstrate its strengths for user_keys. I'd therefore opt for genode-worl instead. Why? There are two main aspects in this regard: First, goa is intended for application development and packaging. In particular, `goa run` is a quite useful feature for interactive testing. However, user_keys seemlessly integrates with sculpt, hence `g

[2021-05-14 14:43] chelmuth commented on #4094
I still wonder, why foc is nagging about "KERNEL0: alignment error at 18003061 (PC: 0102ec44, SP: 408ff480, FSR: 90000001, PSR: 60000110)", because I made sure `CONFIG_ARM_ALIGNMENT_CHECK` is switched of in the kernel config.

[2021-05-14 14:54] jschlatow commented on #4087
For me, the capslock state doesn't seem to be consumed by vbox at all. Hitting capslock when the VM is not in focus will lead to an inconsistent state between host and guest.

[2021-05-14 15:05] jschlatow opened #4152 "vbox5: numlock ineffective in Linux guest with X server"
I just noticed that my Linux guest does not fully adapt to numlock state changes. It appears to be an issue of the guest system though. Nonetheless, I consider it worth mentioning here for documentation. Numlock is implemented in Sculpt by dynamic remapping of the keypad keys, hence there is no need to propagate the numlock state to the VM...in principle. In my Linux VM, however, the X server seem

[2021-05-16 03:11] cproc commented on #4094
Commit 02aa4ef fixes the thread.run test on foc.

[2021-05-17 01:46] cproc commented on #4094
I saw the foc alignment error with `usb_hid_raw.run` on arm_v6/rpi as well. According to git bisect it is somehow related to commit dc89ebf, but maybe this commit just triggered an existing bug. According to [1] some instructions always trigger alignment faults, but the instruction at the reported error PC did not look like one of those at first sight:

[code]
[code]

When I reverted the mapping c

[2021-05-17 06:08] chelmuth commented on #4094
This pretty much looks like the same place I discovered in usb_host_drv on imx6q_sabrelite: A standard `ldr` instruction apparently leads to an alignment error of foc with DFSR=90000001. Does this value really make sense as *bits [31:13] are UNP or SBZ*? It seems `18003065` is a DMA buffer, which may be important if page-table attributes could cause this error.

[2021-05-17 06:26] chelmuth commented on #4094
Could it be that we see the behavior described in https://developer.arm.com/documentation/ddi0406/c/Application-Level-Architecture/Application-Level-Memory-Model/Memory-types-and-attributes-and-the-memory-order-model/Memory-access-restrictions?lang=en?

[...]

[...]

[2021-05-17 06:34] alex-ab commented on #4094
Is the former case of the original commit
[code]
still covered in the new commit ? Looking at the code I could not see it.

[2021-05-17 07:04] chelmuth commented on #4094
Well spotted! I'm going to fix and test the `!_reply_mapping.io_mem` case after the autopilot has finished.

[2021-05-17 07:49] jschlatow commented on #4087
Unfortunately, I cannot reproduce this anymore. Today, the capslock state is passed through as expected.

[2021-05-17 08:55] cnuke commented on #4083
@m-stein thanks for the LOG, I cannot spot anything suspicious. I fear we have to wait until the erroneous disconnect happens again.

[2021-05-17 08:58] nfeske commented on #4152
It seems that the X server is more clever than we want it to be. Do you have an idea how to go about it?

[2021-05-17 09:10] trimpim commented on #3967
e816d55  fixes a possible segfault that could occur which I was pointed to by a coworker.

[2021-05-17 09:30] nfeske commented on #4137
I suggested Goa primarily for the streamlined publish workflow, which is less bureaucratic than the recipes. But this was just a suggestion. I'm perfectly fine with hosting your package in genode-world.

Shall we close this issue here?

[2021-05-17 09:43] alex-ab commented on #3967
The commits fcba32d3488442e2c5b1b1f7c1f9493aacc7cd34 and 0cb8f3ef550691d2f63b586610e853fe990f7d73 fixes the std::runtime_exception for the libc_integration script happened on staging over the weekend. With the stdcxx update an exception is thrown on x86 if no sufficient hardware random source is available.

[2021-05-17 09:53] #4137 closed

[2021-05-17 11:00] nfeske commented on #4135
I just merged the two collateral commits about the ttf watching and the read loop.

Commit c6bc9113ae465f96cdb14537269285c33e3abd07 looks good to me. I'll merge it as soon as I get the full picture including the subsequent commits.

I'm a little bit afraid that dropping the configuration from the fonts_fs pkg archive in 77614e817457b1a9bf56b67188ec31d014d35d17 may break the usage of the fonts_fs p

[2021-05-17 11:10] jschlatow commented on #4135
Right. I haven't had Goa on my map when introducing this change and only grepped through the genode repo. The fonts_fs.config must be kept, I'll prepare a fixup commit. WIth the renaming of the ttf files, however, I'm afraid the Goa tutorials must be adapted nonetheless.

[2021-05-17 11:23] jschlatow commented on #4135
Now I remember my reasoning: The fonts.config was not included as rom in the <content> section of the fonts_fs runtime. (Also notice the inconsistent naming: fonts.config vs fonts_fs_config.). I thus assumed that the fonts_fs.config has been ineffective for a while anyway.

[2021-05-17 11:30] jschlatow commented on #4083
@cnuke since replacing my tp-link router with a new Fritz!Box 7520BH and using the 2,4GHz network by default, I occasionally experience a reconnect issue as well. It just happened for a second time.
[Here](https://github.com/genodelabs/genode/files/6493417/wifi_disconnect.log) is the log file. I had cherry-picked your scan timer commit but, still, I had to switch to wired once and back to wifi to

[2021-05-17 12:28] nfeske commented on #4135
That's very much understandable. The dual purpose of the fonts_fs pkg in the context of Sculpt (where its config is obtained via a session route) and outside of Sculpt (where the config is built-in to make the pkg easy it integrate) is not really obvious. Maybe it would have been cleaner to have two separate packages to begin with, e.g., using `pkg/fonts_fs` for Sculpt and a package named `pkg/ver

[2021-05-17 12:28] alex-ab opened #4153 "tool/run: option to copy tftp served files (x86)"
Make the --load-tftp-copy-files run option also working for x86 boots. This is handy if the tftp directory is in an shared folder which does not support symbolic links.

[2021-05-17 12:31] jschlatow commented on #4152
The following `/config/numlock_remap` seems to solve it:

[code]

[2021-05-17 13:06] chelmuth commented on #4152
This is the solution I hoped for as it extends our approach to *hide* the numpad from the VMs to the max.

[2021-05-17 13:34] chelmuth commented on #4152
On the other, the approach also rules out all applications that make use of the numpad for special-function mapping (Blender?). So, it may be better to fix this in the VM by enforcing NumLock=on in some way (e.g., `setxkbmap -option numpad:mac`). If I'm not mistaken, this is the way Windows works.

[2021-05-17 13:43] skalk opened #4154 "Platform driver API: initial spurious interrupt"
Recently, when enabling the framebuffer driver for MNT Reform2 by using Linux Kernel code, it happened that the artificially initial interrupt signaled during handler registration lead to a crashed driver, which tried to access device resources not yet initialized. In case of ported Linux kernel drivers it should be possible to omit the initial IRQ trigggering when unsing the new Platform::Device

[2021-05-17 14:03] skalk opened #4155 "imx8mq_platform_drv: enable root clock divider setting"
By now, the very few root clock dividers available in the central clock module (CCM) of the platform driver for i.MX 8MQ SoC, could not be set, but only read. For the MNT Reform 2 display clock settings we need to be able to set it.

[2021-05-17 14:07] alex-ab commented on #4097
@chelmuth, @nfeske: please add 068c2d43c2e4ce057e86c6d38adedecc915f6088 to staging

[2021-05-17 14:21] skalk opened #4156 "tool: DDE linux helper to solve missing references"

[2021-05-17 14:26] skalk commented on #4156
To give a readable overview about missing references when porting drivers from Linux, tool support is needed. Moreover, the cumbersome work of writing dummy definitions for those identified references should be automated, see the following Genodians article for the proposal: http://genodians.org/skalk/2021-04-08-dde-linux-experiments-1

[2021-05-17 14:38] jschlatow commented on #4152
@chelmuth  `numpad:mac` also does the trick.

[2021-05-17 15:59] cnuke commented on #4083
@jschlatow thank you very much for the LOG. It seems to be in line with a LOG @nfeske gave me to today (some EAPOL interaction and beacon loss followed by a local disconnect from which the driver apparently never recovers) and points to a general issue that is not specific to newer devices.

[2021-05-18 00:20] tomga commented on #4095
Branch [issue_4095](/tomga/genode/commits/issue_4095) contains fixes for page faults during execution of `ssh_terminal` run script. I checked it on Nova with qemu and on base-linux (with custom run script not provided here).

[2021-05-18 09:23] nfeske commented on #4155
Merged to staging.

[2021-05-18 09:23] nfeske commented on #4154
Merged to staging.

[2021-05-18 09:25] nfeske commented on #4097
Merged to staging.

[2021-05-18 09:26] nfeske commented on #4156
What a delight! Can't wait to use the new tool. Merged to staging.

[2021-05-18 09:33] nfeske commented on #4032
I merged 190f475abc2a4afcc1dca13609ac6f4a35b4c83f and 96fda25ad501d3c22585255e89b27c4f63589764 to staging but wondered if we shouldn't better remove the diagnostic messages instead of leaving them in the form of dead code for the rare event that they may be useful. @cnuke do you deem the messages worth keeping or could you live with adding such instrumentation on the fly when needed in the future?

[2021-05-18 09:47] cnuke commented on #4032
Sure, if those messages are now guarded by a compile-time flag I agree that removing them completely seems more reasonable.

(That being said, some of them have informational value that for the time being is not provided otherwise, e.g. space available in the file system. For various reasons the LOG is not the right place for that but I just want to point out to keep that in mind.)

[2021-05-18 09:49] chelmuth commented on #4095
Thanks @tomga, I merged both commits to staging.

[2021-05-18 10:04] nfeske commented on #4032
Merged ebc22565b6577b866a7cd5b19947dd16fdbd043b as 4de2d27cd26fc2ba95565c7077532a5158d91a4f with the braces around the single statement removed.

Merged bbf3d3d1ace498eecb40f2662570a2de8e3edef6 as 18a243edd8ce62638305dc13650b74bbce904f43 with a similar style adjustment.

Commit fdb1b3d4bb70faa30691f1d77a1e866c466a090a results in an empty report if one query (of potentially many) refers to a non-ex

[2021-05-18 10:08] nfeske commented on #4032
Merged 939b3f4391c7549ee7a1132c45ed0b74e35d22de as e392bee4d493aab260c78c23145e00a5742ce50d with braces removed.

[2021-05-18 10:10] chelmuth opened #4157 "foc/imx6: usb_hid_raw gets stuck with bufferable DMA memory"
While fixing an unaligned read in #4094, I discovered the usb_hid_raw test fails on foc/imx6q_sabrelite since months. This stems from our approach to map normal memory used for DMA buffers *bufferable*, which is required by ported linux drivers that expect support for unaligned read operations on buffers. In case of usb_hid_raw, it is USB descriptor parsing in the host driver. Unfortunately, I had

[2021-05-18 10:11] alex-ab commented on #4095
bd5c7872e560fe6f29ccc638e83de3ab969bdee6 avoids the deadlock which we see still nightly on old fiasco.

[2021-05-18 10:19] chelmuth commented on #4157
Commit f24d9edc2566983f470265e25f7e40270ee29c98 does a rude quirk to make the test work again and showcases that some uncached normal memory mappings require different memory attributes than applied by foc with `L4_FPAGE_BUFFERABLE`.

[2021-05-18 10:27] ssumpf opened #4158 "USB: add webcam support"

[2021-05-18 11:09] ssumpf commented on #4158
The commits above add USB webcam support to Genode.
3562c7b is a test that uses a dynamic `init` to spawn and kill the webcam app and is not necessary for staging.

[2021-05-18 11:31] nfeske commented on #4032
I have added a commit d9eea75d2282ccf93da773c84795d451ee520fa7 moving the `New_file` utility from the gems/src/app/text_area/new_file.h to os/vfs.h.

Based on this commit, I reworked the fs_tool commit in 3628e7e323d137cca75afe1fc09dc6dea3b65525, simplifying the code, extending the test-fs_tool runtime. @m-stein, could you rebase the remaining commit series to the state on staging and give it a sp

[2021-05-18 11:47] m-stein commented on #4032
@nfeske I'll rebase test and come up with a new branch with my adaptions.

[2021-05-18 12:18] m-stein commented on #4032
@nfeske I've updated my merge_to_staging branch.

[2021-05-18 12:23] m-stein opened #4159 "sandbox: apply verbosity config to exit message"
The "child exited" message of the sandbox library is written to the log without considering the verbosity flags given by the user. Fixing this behavior is easy. Unfortunately, we rely on this default in many places, especially in the run scripts and test packages where the message is used as indicator for the test progress without setting the library verbose.

[2021-05-18 12:26] m-stein commented on #4159
Commit 26024c125d merely fixes the behavior without considering the places where we rely on it.

[2021-05-18 14:17] ssumpf commented on #4158
@chelmuth: 784dd3c your suggestions. As said 3562c7b remains strictly for testing  until I find out how to connect to `rom_reporter` correctly in order to get rid of most of the run scripts components.

[2021-05-18 14:28] nfeske commented on #4032
I force-pushed staging with the re-arranged commits regarding the  `New_file` utility. I also extended the test in the fs_tool commit.

@m-stein, please excuse that I have to ask you again for rebasing your branch.

[2021-05-18 14:56] chelmuth commented on #4158
Merged all commits ex. run script to staging. In my opinion, the use of *drivers_managed* is not a must-have. I'd rather love to get a depot package for easy deployment in Sculpt.

[2021-05-18 15:28] m-stein commented on #4032
@nfeske No problem, rebased, file vault still works fine.

[2021-05-18 15:32] m-stein opened #4160 "rump: compiler warnings"
When I create the bin/x86_64/rump archive on staging, I observe the following compiler warnings:
[code]

[2021-05-18 16:08] nfeske commented on #4160
I remember having see similar warnings and think the proper fix is replacing `(sb.st_mode & S_IXUSR)` by `(sb.st_mode & S_IXUSR) != 0`.

[2021-05-19 05:54] chelmuth commented on #4158
The changes to libyuv break VirtualBox depot archives vbox5-nova, vbox5, and vbox6.

[code]

[2021-05-19 06:29] ssumpf commented on #4158
@chelmuth: Ok, will have a look.

[2021-05-19 07:00] ssumpf commented on #4158
@chelmuth: cfd0b74 fixes the VirtualBox packages. I really missed this one.

[2021-05-19 07:42] chelmuth commented on #4158
Merged as 3536576e40b2870e5e7010fb1dc78254bd28cc0d. It required digging to understand why jpeg is necessary in *used_apis* but not libyuv. libyuv (as well as qemu-usb) is packaged with vbox5/6.

[2021-05-19 07:50] ssumpf commented on #4158
@chelmuth: Because `libyuv` should have its own api package.

[2021-05-19 08:05] cproc opened #4161 "usb_hid_raw.run: page faults on arm_v6/rpi"
When running `usb_hid_raw.run` on arm_v6/rpi, a page fault in `Genode::memcpy()` occurs in `usb_host_drv` and `usb_hid_drv`:

[code]

After some debugging, I got the following log messages:

[code]

`ipc_reply_wait()` is called from `Rpc_entrypoint::entry()` and gets `Rpc_entrypoint::_snd_buf` and `Rpc_entrypoint::_rcv_buf` passed by reference and `_snd_buf` becomes `reply_msg` and `_rcv_buf` beco

[2021-05-19 08:14] cproc commented on #4161
For reference, commit 45ce116 contains the changes I made for the debug messages.

[2021-05-19 09:03] jschlatow opened #4162 "ports: add recipes for diffutils and less"
...to make less and diff (required for vimdiff) available in a user shell.

[2021-05-19 09:15] jschlatow opened #4163 "sculpt: add support for global bashrc"
There are already multiple applications running bash  (inspect view, system shell). Similar to the global vimrc, I suggest adding a global bashrc for a more consistent look and feel. The default bashrc may contain aliases such as `cp='cp -i'` to prevent accidental overwriting of existing files.

[2021-05-19 09:18] jschlatow commented on #4163
Commit 46e4d33 adds the default bashrc to the sculpt scenario. Packages (e.g. system_shell) still require adaptation to make use of it.

[2021-05-19 09:25] jschlatow opened #4164 "unable to cycle through windows if no window is currently focused"
I've become a bit annoyed by the fact that I need to hover into the first window I open using the mouse rather than tabbing into it with the keyboard. Currently, if no window is focused the focus history next() method will always return an invalid window id even if the history is not empty.

[2021-05-19 09:38] nfeske commented on #4163
Even though I see the practical value of your suggestion for the current version of Sculpt, this is not the direction I anticipate in the longer term. In fact, I regard the unixy parts of the Sculpt base image as an interim solution. The inspect shell will eventually go away once the file browser has left its infancy. The system shell (as a component) will prevail of course. The following two link

[2021-05-19 09:54] nfeske commented on #4162
Thanks for the patches, which I just merged to staging. I merely prefixed your commit messages with "depot:" as a kind of tag. So the topic becomes immediately clear when skimming over a list of commits.

[2021-05-19 10:15] chelmuth commented on #4158
Autopilot reveals that vbox scenarios now fail with the following.

[code]

[2021-05-19 10:31] chelmuth commented on #4149
Since I merged this commit series, autopilot reports sporadic failures like follows.

[code]

[2021-05-19 10:58] ssumpf commented on #4149
Ok, who would have thought this draws so great circles. Will look into it.

[2021-05-19 11:27] jschlatow commented on #4163
Understood. Following the scheme of the fonts fs would be more elegant.

[2021-05-19 11:39] chelmuth commented on #4158
`make -C build/x86_64 app/usb_webcam` fails with the following.

[code]

[2021-05-19 11:45] cproc commented on #4161
This is the disassembled code for the debug commit reduced a bit by commit 32088e6:

[code]

[code]

If I interpreted everything correctly, these are the relevant parts:

a) the still correct `&_snd_buf._data` (r4+164) stored in a variable for the log message:

[code]

b) the not always correct anymore `&reply_msg._data` (r4+144+20 = r4+164) received by `ipc_reply_wait()`:

[code]

[code]

On this

[2021-05-19 12:40] m-stein commented on #4160
Fixed by 7fd308acec. And produced also a fixup fbdd9f3c1b for #4032.

[2021-05-19 12:40] m-stein commented on #4032
Found a fixup for rump fbdd9f3c1b.

[2021-05-19 13:02] m-stein commented on #4032
Updated the fixup to 51e52fe2db according to a suggestion of @chelmuth

[2021-05-19 13:43] chelmuth commented on #4032
Thanks, merged to staging.

[2021-05-19 14:07] nfeske opened #4165 "Tooling for extracting information from device-tree source (dts) files"
Device-tree source files as featured in the source tree of the Linux kernel contain valuable information about the structure and parameters of SoCs. The porting and implementing of device drivers for Genode calls for tooling that is able to extract and convert this information to digestible forms.

[2021-05-19 14:16] nfeske commented on #4165
Commit https://github.com/genodelabs/genode/commit/f0275fc237f44a7a7249cec97f8f2c742fa5fd34 introduces the first version with following feature set:

- Print an index of all labels present in the DTS file along with their corresponding paths
- Print a list of label references for each DTS node
- Generate a (simplified) dot graph that can be processed via graphviz to get an overview of the relation

[2021-05-19 18:04] ssumpf commented on #4158
@chelmuth: b916321 fixes the compiler error. The USB session problem takes longer than expected tough.

[2021-05-20 12:23] alex-ab commented on #4158
@chelmuth: please add 76d80097273bd5b0a1e305030575c299de2c717b to staging

[2021-05-20 12:52] nfeske commented on #4158
Thank you. Merged to staging.

[2021-05-20 13:31] cproc commented on #3466
Fixup commit b55bce9 is needed to execute run scripts on foc/armhf_v7a, but unfortunately the platform seems to reboot:

[code]

[2021-05-20 18:12] ssumpf opened #4166 "usb_hid: Do not call 'unregister_device' from report update in EP"
`unregister_device` may block in case a LED update (synchounous control message) is in progress. Because the EP blocks, the operation will not finish for it cannot receive signals when blocking. A way to go is to let the `unregister_device` function be called by the plug/unplug signal handler only, thus ensuring progress to be made.

[2021-05-20 18:22] ssumpf commented on #4158
9bc0f87 handles the case where frames are incomplete for YUV to ARGB conversions. For MJPEG to ARGB this it not a problem, since the conversion function takes the size of the frame.

[2021-05-20 18:24] ssumpf commented on #4149
dba7187 fixes various issues during USB device construction/destruction.

[2021-05-20 18:27] ssumpf commented on #4166
884a2f5 fixes unplug events of USB devices. It requires https://github.com/ssumpf/genode/commit/dba7187ae48bb8b3bb57890e60f54581dee7e753.

[2021-05-21 04:07] cproc commented on #3466
base-linux/arm(hf)_v7a does not work for me on Ubuntu 20.04 armhf on Raspberry Pi 4 with commit fdb1a4d ("base-linux: avoid legacy syscalls").

With `log.run` only these messages appear:

[code]

@rite, @trimpim: does the current Genode staging branch still work on your Linux target?

[2021-05-21 06:55] nfeske commented on #3466
@cproc I think it comes down to re-building the seccomp policy (issue `make` in tool/seccomp`) and copying the resulting `seccomp_bpf_policy_arm_32.bin` file to `base-linux/src/lib/seccomp/spec/arm/seccomp_bpf_policy.bin`. I haven't touched the bin file in https://github.com/genodelabs/genode/commit/fdb1a4dd886a25eb6ca792220182fad489a4b8cd to avoid the wrong impression of me having tested Linux on

[2021-05-21 07:15] alex-ab commented on #4150
The exception around gems/gui_buffer.h L55 (commit 893ff30f6905b164b97be38993c3d208008daa59) did not trigger in the last days. The only output and upgrade I saw steamed from 893ff30f6905b164b97be38993c3d208008daa59.

[2021-05-21 08:18] jschlatow commented on #4163
@nfeske, I force pushed a new commit that only contains the patch of bash to change the default bashrc path.

The bashrc and vimrc can be easily pulled from a filesystem session. I created a `dotfiles_fs` pkg with Goa that populates an arbitrary file system with a default bashrc and the global vimrc (see [goa-pkgs](https://github.com/jschlatow/goa-pkgs)). Works like a charm.

[2021-05-21 12:47] alex-ab commented on #4078
@chelmuth: please consider 0ff24e22b45b3f50ac4c00026be91591e21ce0fb for staging

[2021-05-21 13:36] chelmuth commented on #4078
Merged.

[2021-05-21 14:48] jschlatow commented on #4164
I'm afraid this issue might need a more sophisticated fix. I just observed that menu_view windows (e.g. file_vault, top_view) behave differently. I haven't dug into it yet, though it appears to me that elements such as buttons unfocus the window and reset the window layouter to a state in which the focused window id cannot be found in the history. In consequence, with my previously proposed change

[2021-05-23 19:21] cproc commented on #3466
@nfeske: yes, that solved the problem. Commit 0364b05 updates the seccomp policy.

[2021-05-23 19:41] cproc commented on #4094
Commit 9a8138e updates gdb to version 10.2

[2021-05-25 06:25] m-stein commented on #4032
@jschlatow Thanks for integrating the file vault in your workflow!

Regarding your observations:

* The larger font size for menu titles was actually inspired by the "+" menu of Sculpt that, AFAIK, originates from Norman. By re-designing the navigation of the File Vault to be more like the "+" menu I wanted to reach a more coherent experience for Sculpt users. I interpreted Normans suggestion in a

[2021-05-25 06:48] alex-ab commented on #4016
I added to my issue_4016 branch two cosmetic commits to avoid the misleading red messages.

[2021-05-25 06:50] cproc commented on #3466
The build errors with `KERNEL=hw` got resolved by configuring the armhf tool chain and the armhf_v7a platform  with `vfpv3` instead of `vfp`. I updated the commit accordingly. foc still reboots and we might not be able to fix this problem before the release, but at least the armhf tool chain could now already be useful for autopilot-testing hard-float with base-hw in addition to its original use-c

[2021-05-25 07:41] jschlatow commented on #4032
@m-stein Regarding the font sizing, you're right it's consistent with the "+" menu. Interestingly, I haven't noticed this so far, probably because the "+" menu has more items and is vertically centered. In the file vault, the menu title appears right at the place where a normal item has been before and on which my eyes are currently focused. I believe this is why it feels different for me.

[2021-05-25 09:04] nfeske commented on #4032
The frame around the menu-view dialogs is caused by the PNG used as default frame style (https://github.com/genodelabs/genode/blob/master/repos/gems/src/app/menu_view/styles/frame/default/background.png). This makes the frame pretty whenever window decorations are absent, like in the leitzentrale. But when hosting a menu view in a window with window decorations, there is gap. To solve this issue,

[2021-05-25 09:16] skalk opened #4167 "XML parser: fails with spaces within attribute/value pair"
Recently, someone pointed me to an issue with the XML parsing code. When using spaces around the equal sign in an attribute/value expression, like so:

[code]

The parser fails to provide the XML structure, which leads to, e.g., an empty config XML structure. Due to the fact that in normal XML - not the limited dialect of Genode - does not limit the syntax here, the `xmllint` tool is not printing

[2021-05-25 09:29] nfeske commented on #4032
Regarding the style of the file-fault menu, I think that the "+" menu is not a suitable template to follow in general. It is a special case of a deeply nested structure with any items on most levels. So the notion of "browsing" the menu springs into mind, which is somehow reflected by the symbols used.

However, if a menu structure is rater simple, the notion of "browsing" does not apply. The conc

[2021-05-25 09:45] jschlatow opened #4168 "page fault in falkon when loading certain websites"
I just discovered a reproducible page fault in falkon on current Sculpt (21.03b). The page fault always occurs a few seconds after loading booking.com. I'm using the prebuilt pkg `cproc/falkon/2021-03-23-a`.

[code]

[2021-05-25 09:46] m-stein commented on #4032
I just noticed that my answer to Normans last feedback on the UI wasn't added to this issue but only send via mail. I'm sorry for that, here's the missing message in which I make my suggestion regarding the menu structure:

@nfeske It's cool to see that you already integrated the vault into your
daily workflow! Thanks also for the quick and detailed feedback!

Thanks, I'm glad you enjoy it!

Ah, I

[2021-05-25 09:53] nfeske commented on #3466
Given the trouble of armhf, I think we should better back away from this change. My reasoning is as follows:

* When we discussed armhf earlier, we came to the conclusion that we don't want to introduce another option besides arm_v7a but instead change our notion of arm_v7a to use hardfloat. Otherwise, the testing effort would go out of hand. Now it looks like the switch to armhf is much more risk

[2021-05-25 10:53] cproc commented on #3466
Building Fiasco.OC with an armhf tool chain seems to be possible in general, as the default configured tool chain prefix is `arm-linux-gnueabihf-`, but I've also seen a `-mfloat-abi=soft` flag in a `Makeconf.arm` file and haven't checked yet if it gets applied or maybe overridden when building in the Genode build system. So, it might be an easy fix in the end, but could also need some time to figu

[2021-05-25 12:59] skalk opened #4169 "i2c: transactions with multiple messages and bytes needed"
The recently introduced I2c API and driver for the i.MX 8MQ SoC has a limited scope to ether read or write up to 2 bytes within a single transaction. When trying to use it to access the I/O registers of a eDP to MIPI bridge within the MNT Reform2, the limitation became obvious.
For instance to read a register of this device, one has to first write the address to the bus (one byte), and then read t

[2021-05-25 13:08] skalk opened #4170 "Introduce array utility"
By now, I've use an `Array` class within base-hw internally only. It provides means to construct arrays with a maximum size and element type in a C++ fashion. For instance the constructor accepts multiple arguments to initialize the array. Array fillings at construction time are statically checked to not exceed the array size. Moreover, one can dynamically insert elements, or iterate via `for_each

[2021-05-25 13:26] skalk opened #4171 "imx8mq_platform_drv: introduce reset domains"
Few devices in the i.MX 8MQ SoC need to be reset resp. taken out of the reset state by the so called System Reset Controler (SRC) before they are ready to be used. One example is the MIPI DSI Phy used by the graphical subsytem when a panel is attached to it, like the touchscreen for the i.MX 8MQ EVK, or the eDP panel in the MNT Reform2. By now, we simply used the SRC directly in the Linux framebuf

[2021-05-25 13:38] nfeske commented on #4170
This utility looks very handy. Merged to staging.

[2021-05-25 13:41] nfeske commented on #4169
@skalk, after our offline discussion preceding this change, I haven't expected that the increase of complexity would be so little. That's great! Merged to staging.

[2021-05-25 13:42] nfeske commented on #4171
Merged to staging.

[2021-05-25 13:47] nfeske commented on #4150
I merged your fix to staging now.

[2021-05-25 14:33] cnuke commented on #4083
FWIW, I am using the `wifi_drv` at home today and I am connected to a Fritz!Box (in my case a 3490 via 5GHz) as well. So far I could not observe a disconnect. I am going to switch to 2.4GHz later. Currently I look for a way to make the driver itself more chatty in case it misses beacons.

[2021-05-25 14:41] chelmuth commented on #4083
I'm still wondering if enabling 11n would make any difference...

[2021-05-25 14:46] cnuke commented on #4083
@chelmuth that is still a question worth being answered indeed :-).

[2021-05-25 14:47] cproc commented on #4161
Commit 655159f gives an outlook what reverting the gcc commit which triggered the page faults could entail. After this gcc commit, five more commits changed parts of the same function and did not apply anymore when the original commit was missing, so they probably would need to be reverted as well.

So far it seems like only these two USB driver components on arm_v6/rpi are affected, but it would

[2021-05-25 15:17] cproc commented on #4161
Commit 916bb4b is an attempt to save and restore the FPU state in the `_jmp_slot` function based on the code in `vfpv2.s` [1], but unfortunately it did not solve the problem.

[1] https://github.com/genodelabs/genode/blob/master/repos/base-hw/src/core/spec/arm/vfpv2.s

[2021-05-25 15:20] skalk opened #4172 "tool: DDE helper to extract initcall order"
The initcall mechanism in the Linux kernel is used to register functions that need to be called during boot, e.g., to register a device driver. Thereby, the calling order of initcalls is essential as they have inner dependencies. Unfortunatly those dependencies are not explicitly stated, or at least not al, but dependent on the link order resp. the order within all Makefiles of the kernel.
When po